USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spReturnTableFieldSetMatrix]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spReturnTableFieldSetMatrix]
	@tsnID NVARCHAR(255) = '1'
 as

	IF EXISTS ( SELECT TOP 1 1 FROM dgdb..TableFieldSetName WHERE tsnID = @tsnID)
		BEGIN
			EXEC dgdb..spGenTableFieldSetTableCheck @tsnID,1
		END
	ELSE
		BEGIN
			SELECT ' Provide a tsnID as listed below'
			SELECT * FROM dgdb..TableFieldSetName
		END
	
GO
