USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[srM_TargetInsBackup]    Script Date: 3/9/2026 9:14:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jan van Berghem
-- Create date: 23 feb 2014
-- Description:	Creation of M base table, Determination of what views to load for what item
-- =============================================
CREATE PROCEDURE [dbo].[srM_TargetInsBackup]
	@dbName NVARCHAR(40) = 'VPL10005_CheckpointASEAN_3'
	
AS
BEGIN
	
	SET NOCOUNT ON;
	DECLARE 	
	
		@cfProcess AS BIT,		
		@Table AS NVARCHAR(30),	
		@StoredProc AS NVARCHAR(255),		
		@SourceRefresh AS BIT,
		@TaskName AS NVARCHAR(255),
		@RowCount AS INTEGER,
		@SQL NVARCHAR(4000)

		
		SET @SQL = '
			UPDATE ' + @dbName + '..ttMARA
				SET zActive = 0
				FROM ' + @dbName + '..ttmara LEFT OUTER JOIN ' + @dbName + '..ttmarc ON ttMARC.MATNR = ttMARA.MATNR
				WHERE ttMARC.MATNR IS NULL		
		PRINT CAST('''' AS CHAR(21)) + CAST(''UPDATE ttMARA set zActive = 0 Where no Plant view Record'' AS CHAR(50)) + CAST(@@ROWCOUNT AS NVARCHAR)	
					'
		EXEC (@SQL)
		
		SET @SQL = '
			UPDATE ' + @dbName + '..ttMARA
				SET zActive = 0
				FROM ' + @dbName + '..ttmara LEFT OUTER JOIN ' + @dbName + '..ttmbew ON ttMBEW.MATNR = ttMARA.MATNR
				WHERE ttMBEW.MATNR IS NULL AND MTART <> ''ZSPR''	
		PRINT CAST('''' AS CHAR(21)) + CAST(''UPDATE ttMARA set zActive = 0 Where no Accounting view Record'' AS CHAR(50)) + CAST(@@ROWCOUNT AS NVARCHAR)	
					'
		EXEC (@SQL)

		SET @SQL = '
			UPDATE ' + @dbName + '..ttMARA
				SET zActive = 0
				FROM ' + @dbName + '..ttmara LEFT OUTER JOIN ' + @dbName + '..ttmvke ON ttMvke.MATNR = ttMARA.MATNR
				WHERE ttMVKE.MATNR IS NULL	
		PRINT CAST('''' AS CHAR(21)) + CAST(''UPDATE ttMARA set zActive = 0 Where no Sales view Record'' AS CHAR(50)) + CAST(@@ROWCOUNT AS NVARCHAR)	
					'
			EXEC (@SQL)
		
		SET @SQL =	'
			UPDATE ' + @dbName + '..ttMARC
				SET zActive = 0
				FROM ' + @dbName + '..ttmarC LEFT OUTER JOIN ' + @dbName + '..ttmvke ON ttMvke.MATNR = ttMARC.MATNR AND LEFT(ttMVKE.VKORG,2) = LEFT(ttMARC.WERKS,2)
				WHERE ttMVKE.MATNR IS NULL	
		PRINT CAST('''' AS CHAR(21)) + CAST(''UPDATE ttMARC set zActive = 0 Where no Sales view Record'' AS CHAR(50)) + CAST(@@ROWCOUNT AS NVARCHAR)	
					'
			EXEC (@SQL)


		SET @SQL =	'
			UPDATE ' + @dbName + '..ttMARA 
				SET zChange = 1
				FROM ' + @dbName + '..ttMARA
					INNER JOIN ' + @dbName + '..ttMARM ON ttMARA.MATNR = ttMARM.MATNR
				WHERE ttMARM.zDGError = 0
					AND ( ttMARM.zInSAP = 0
						  OR ttMARM.zChange = 1)
					AND ttmARA.zActive <> 1
		PRINT CAST('''' AS CHAR(21)) + CAST(''UPDATE ttMARA set zChange = 1 Where MARM has change'' AS CHAR(50)) + CAST(@@ROWCOUNT AS NVARCHAR)	
					'
			EXEC (@SQL)


	/*CREATE ttM*/
		--EXEC dgdb..spGenDropOrCheckTable 'ttM',@DBName,1
		--SET @SQL =	'
		--	CREATE TABLE ' + @dbName + '..ttM(
		--		[ZSOURCE] [nvarchar](30) NULL,
		--		[MATNR] [nvarchar](40) NOT NULL,
		--		[MBRSH] [nvarchar](40) NULL,
		--		[MTART] [nvarchar](40) NULL,
		--		[XEIA1] [nchar](1) NULL,
		--		[XEIB1] [nchar](1) NULL,
		--		[XEID1] [nchar](1) NULL,
		--		[XEID2] [nchar](1) NULL,
		--		[XEIE1] [nchar](1) NULL,
		--		[XEIE2] [nchar](1) NULL,
		--		[XEIK1] [nchar](1) NULL,	
		--		[XEIL1] [nchar](1) NULL,
		--		[XEIP1] [nchar](1) NULL,
		--		[XEIS1] [nchar](1) NULL,
		--		[XEIV1] [nchar](1) NULL,
		--		[XEIV2] [nchar](1) NULL,
		--		[XEIV3] [nchar](1) NULL,
		--		[XEIV4] [nchar](1) NULL,
		--		[XEIF1] [nchar](1) NULL,
		--		[XEIQ1] [nchar](1) NULL,
		--		[XEIC1] [nchar](1) NULL,
		--		[XEIA2] [nchar](1) NULL,
		--		[XEID3] [nchar](1) NULL,
		--		[XEIVE] [nchar](1) NULL)
		--		'
		--	EXEC (@SQL)
										
	/*INSERT Material DATA*/	
		
		SET @SQL = '
		INSERT INTO ' + @dbName + '..ttM
		        ( ZSOURCE ,
		          MATNR ,
		          MBRSH ,
		          MTART ,
		          XEIA1 ,
		          XEIB1 ,
		          XEID1 ,
		          XEID2 ,
		          XEIE1 ,
		          XEIE2 ,
		          XEIK1 ,	
		          XEIL1 ,
		          XEIP1 ,
		          XEIS1 ,
		          XEIV1 ,
		          XEIV2 ,
		          XEIV3 ,
		          XEIV4 ,
		          XEIF1 ,
		          XEIQ1 ,
				  XEIG1 ,
		          XEIC1 ,
		          XEIA2 ,
		          XEID3 ,
		          XEIVE ,
				  zID ,
				  zSrcID,
				  zDGError,
				  zChange,
				  zActive
		        )
		SELECT	DISTINCT  ttMARA.zSource , -- ZSOURCE - nvarchar(30)
		          ttMARA.MATNR , -- MATNR - nvarchar(40)
		          ttMARA.MBRSH , -- MBRSH - nvarchar(40)
		          ttMARA.MTART ,  -- MTART - nvarchar(40)
				  NULL , -- XEIA1 - nchar(1)		Indicator: include first Work Scheduling view
				  NULL , -- XEIB1 - nchar(1)		Accounting View
		          NULL , -- XEID1 - nchar(1)		MRP View
		          NULL , -- XEID2 - nchar(1)		MRP View 2
		          ''X'', -- XEIE1 - nchar(1)		Purchasing View
		          ''X'', -- XEIE2 - nchar(1)		Purchasing Text
		          ''X'', -- XEIK1 - nchar(1)		BASIC View
		          NULL , -- XEIL1 - nchar(1)		Indicator: consider "Storage" view
		          NULL , -- XEIP1 - nchar(1)		ForeCast View
		          NULL , -- XEIS1 - nchar(1)		WareHouse View
		          NULL , -- XEIV1 - nchar(1)		Sales Org1 Data
		          NULL , -- XEIV2 - nchar(1)		Sales Org2 Data
		          NULL , -- XEIV3 - nchar(1)		Sales Text
		          NULL , -- XEIV4 - nchar(1)		Sales Plant Data
		          NULL , -- XEIF1 - nchar(1)		Indicator: take Production Resources/Tools view into account
		          NULL , -- XEIQ1 - nchar(1)		Indicator: consider "quality assurance" view
				  NULL , -- XEIG1 - nchar(1)		Indicator: consider "Costing" view
		          NULL , -- XEIC1 - nchar(1)		Indicator: take Classification view into account
		          NULL , -- XEIA2 - nchar(1)		Indicator: Take "Work Scheduling 2" View into Account
		          NULL , -- XEID3 - nchar(1)		Indicator: Take "MRP 3" view into account
		          ''X'',  -- XEIVE - nchar(1)			Foreign Trade View
				   ROW_NUMBER() OVER (ORDER BY MATNR), 
				   ttMARA.zSrcID,
				   0,
				   0,
				   1
			FROM ' + @dbName + '..ttMARA 
			WHERE ttMARA.zActive = 1 OR ttMARA.zINSAP = 1
			PRINT CAST('''' AS CHAR(21)) + CAST(''INSERT INTO ttM FROM ttMARA'' AS CHAR(50)) + CAST(@@ROWCOUNT AS NVARCHAR)	
			CREATE UNIQUE INDEX PK_ttm	ON ' + @dbName + '.dbo.ttM(MATNR)			
					'
			EXEC (@SQL)
		/*Individual View Updates*/

		-- MRP View			
		SET @SQL = '
			UPDATE ' + @dbName + '..ttM
				SET XEID1 = ''X'',XEID2 = ''X'', XEID3 = ''X'', XEIP1 = ''X''
				FROM ' + @dbName + '..ttM 
					INNER JOIN ' + @dbName + '..ttMARC ON ttm.MATNR = ttMARC.MATNR
				WHERE MTART = ''HAWA'' AND RIGHT(WERKS,1) = ''1''
			PRINT CAST('''' AS CHAR(21)) + CAST(''UPDATE MRP + Forecast View'' AS CHAR(50)) + CAST(@@ROWCOUNT AS NVARCHAR)	
					'
			EXEC (@SQL)

		-- Accounting View
		SET @SQL = '
			UPDATE ' + @dbName + '..ttM
				SET XEIB1 = ''X'', XEIG1 = ''X''
				FROM ' + @dbName + '..ttM 
					INNER JOIN ' + @dbName + '..ttMBEW ON ttm.MATNR = ttMBEW.MATNR				
			PRINT CAST('''' AS CHAR(21)) + CAST(''UPDATE Accounting View'' AS CHAR(50)) + CAST(@@ROWCOUNT AS NVARCHAR)	
					'
			EXEC (@SQL)

		-- Warehouse view		
		SET @SQL = '
			UPDATE ' + @dbName + '..ttM
				SET XEIS1 = ''X''
				FROM ' + @dbName + '..ttM 
					INNER JOIN ' + @dbName + '..ttMLGN ON ttm.MATNR = ttMLGN.MATNR				
			PRINT CAST('''' AS CHAR(21)) + CAST(''UPDATE Warehouse View'' AS CHAR(50)) + CAST(@@ROWCOUNT AS NVARCHAR)	
					'
			EXEC (@SQL)

		-- Sales Org1, Org2 & Text Data
		SET @SQL = '			
			UPDATE ' + @dbName + '..ttM
				SET XEIV1 = ''X'',
					XEIV2 = ''X'',
					XEIV3 = ''X''
				FROM ' + @dbName + '..ttM 
					INNER JOIN ' + @dbName + '..ttMVKE ON ttm.MATNR = ttMVKE.MATNR				
			PRINT CAST('''' AS CHAR(21)) + CAST(''UPDATE Sales Views'' AS CHAR(50)) + CAST(@@ROWCOUNT AS NVARCHAR)	
					'
			EXEC (@SQL)

		-- Sales Plant Data			
		SET @SQL = '			
			UPDATE ' + @dbName + '..ttM
				SET XEIV4 = ''X''
				FROM ' + @dbName + '..ttM 
					INNER JOIN ' + @dbName + '..ttMARC ON ttm.MATNR = ttMARC.MATNR				
			PRINT CAST('''' AS CHAR(21)) + CAST(''UPDATE Sales Plant View'' AS CHAR(50)) + CAST(@@ROWCOUNT AS NVARCHAR)	
					'
			EXEC(@SQL)
		


END

GO
