USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spzVPLUpdateFLIFNFromOtherVPL]    Script Date: 3/9/2026 9:14:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Takes the FLIFN flag off theSrcID to update if the FLIFN flag Already exists for a different supplier
janvb July 2016
*/

/*

EXEC spzVPLUpdateFLIFNFromOtherVPL 51,'301101','5001'
*/

CREATE PROCEDURE [dbo].[spzVPLUpdateFLIFNFromOtherVPL] 
	@srcIDToUpdate		INT				 			,--SourceID to update 
	@SapSupplierNumber	NVARCHAR(10)	 			,--cfSAPSupplierNumberToCheck if already default
	@SAPPlant			NVARCHAR(4)					-- plant to look for

AS

BEGIN

	SET NOCOUNT ON
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	DECLARE 
		@dbname NVARCHAR(60),
		@SApSystem NVARCHAR(30),
		@SQL NVARCHAR(4000)


	Select @dbname = dgdb_PL.dbo.fnGetVPLName(@srcIDToUpdate)
	SELECT @SApSystem = trdDatabase FROM dbo.cfTargetData WHERE trdSystem = (SELECT srcSystem FROM dbo.cfSource WHERE srcID = @srcIDToUpdate)
	
	IF @SApSystem NOT IN ('EP1','EPN')
		BEGIN
			SELECT @SapSupplierNumber = LIFNR FROM dbo.cfSAPSupplierMAP WHERE LIFNR_PROD = @SapSupplierNumber AND SAPSystem = @SApSystem
		END

	SET @SQL = '
	USE ' + @dbname +  '
	
	SELECT M.MATNR_EXT
		  , E.WERKS
		  , '' '' AS TargetFLIFN
		INTO #EMKT
		FROM ' + @SApSystem + '..EORD E
			INNER JOIN ' + @SApSystem + '..MATERIALID M ON E.MATNR = M.MATNR_INT
		WHERE E.FLIFN	= ''X''
			AND LIFNR	= ''' + @SapSupplierNumber + '''
			AND E.WERKS = '''+ @SAPPlant + '''

    UPDATE E
        SET FLIFN = CASE WHEN t.MATNR_EXT IS NULL THEN ''X'' ELSE '' '' END,
			AUTET = CASE WHEN t.MATNR_EXT IS NULL THEN ''1'' ELSE '' '' END
        FROM ttEORD E
            LEFT OUTER JOIN #EMKT T ON T.WERKS = E.WERKS
                                        AND MATNR_EXT = E.MATNR
		'
	PRINT '-----------------cfSourceProcedures ---------------------------------- '
	PRINT 'EXEC spzVPLUpdateFLIFNFromOtherVPL '
	PRINT @SQL
	PRINT '-----------------cfSourceProcedures ---------------------------------- '
	EXEC (@SQL)
END
GO
