USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spProcess304050Combined_ME_TW_BDA_BeforeSecondQueueCHanges]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--EXEC [spProcess304050Combined_ME_TW_BDA] 'zVPL_EPN_20200109_Swathi',38,2,'EPN',300, 1, 'EP1_Swathi', 'EMEA'

/*
Wrapper SP to run all the SPs together for a given status code

Created: TW June2015
Modified: Jun 2019 -- Created a new version for BDA automation set-up
Modified: Sept 04, 2019 -- Commented the SP35 run to avoid performance issues on teh server

*/
CREATE PROCEDURE [dbo].[spProcess304050Combined_ME_TW_BDA_BeforeSecondQueueCHanges](
    @DB NVARCHAR(40) = 'zVPL_20150609_30',
    @sstCode NVARCHAR(2) = 30 ,
    @UpdateType SMALLINT = 2 , --1 = new only, 2 = new & changes, 0 = changes only
    @SAPSystem NVARCHAR(3) = 'EQ1',
    @SAPClient NVARCHAR(3) = '300',
    @RunSp50 BIT = 1,
    @SapSystemDir1 VARCHAR(20) = '',
    @srcGroup NVARCHAR(10) = 'ALL'
)
AS
BEGIN

	--DECLARE  @DB NVARCHAR(40) = 'zVPL_EPN_20200120_Swathi',
	--	@sstCode NVARCHAR(2) = 34 ,
	--	@UpdateType SMALLINT = 2 , --1 = new only, 2 = new & changes, 0 = changes only
	--	@SAPSystem NVARCHAR(3) = 'EPN',
	--	@SAPClient NVARCHAR(3) = '300',
	--	@RunSp50 BIT = 1,
	--	@SapSystemDir1 VARCHAR(20) = '',
	--	@srcGroup NVARCHAR(10) = 'EMEA';

	DECLARE @JobNr INT, @processjobname VARCHAR(10), @TargetDB VARCHAR(20), @SQL nvarchar(MAX), @IsProceed BIT = 1;
	DECLARE @MailBody VARCHAR(1000), @MailSUbject VARCHAR(1000), @ParentJobStatus INT = 0, @NextJobToEnable NVARCHAR(100);

	SELECT @TargetDB = CASE WHEN @SAPSystem IN ('EPN','EP1') THEN 'BDA_MM_UL_EP1' ELSE 'BDA_MM_UL_E03' END;

	SET @SQL = N'SELECT @ParentJobStatus = CAST([Status] AS INT) FROM ' + @TargetDB + '.dbo.cfProcessControl WHERE ProcessJobName = ''AutoSP''';
	EXEC SP_EXECUTESQL @SQL, N'@ParentJobStatus INT OUTPUT', @ParentJobStatus OUTPUT;

	IF (@ParentJobStatus = 4)
	BEGIN
		BEGIN TRY
			DECLARE @SrcIdList NVARCHAR(100), @TktNumber NVARCHAR(100);
			SELECT @SrcIdList = srcId, @TktNumber = srcMDMTicketNumber FROM vw_GetAutomatedSrcIds;
			--SELECT @SrcIdList = 733, @TktNumber = '61752|61753|61754'

			SET @SQL = 'EXEC ' + @TargetDB + '.dbo.spUpdateProcessStatus ''AutoSP'', 1;';
			EXEC (@SQL);

			INSERT INTO _AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber) SELECT @SrcIdList, GETDATE(), 'Start SP 30', @TktNumber ;
			DECLARE @srId INT = CAST(@SrcIdList AS INT);

			EXEC dbo.spProcess30PrepareDBForLoad @srcID = @srId, -- int
				@ProcessDB = @DB, -- nvarchar(40)
				@SAPSystem = @SAPSystem, -- nvarchar(3)
				@SAPClient = @SAPClient, -- nvarchar(3)
				@srcGroup = @srcGroup, -- nvarchar(10)
				@srcSstCode = @sstCode; -- smallint
			/*Get JobNe#*/
			SELECT  @JobNr = spjID
			FROM    DGDB_PL__LOG..SourceProcessJob
			WHERE   spjID = ( SELECT MAX(spjID) FROM DGDB_PL__LOG..SourceProcessJob)
				AND DGDB_PL__LOG.dbo.SourceProcessJob.spjProcessDb = @DB;
			INSERT INTO _AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber) SELECT @SrcIdList, GETDATE(), 'END SP 30', @TktNumber ;

			INSERT INTO _AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber) SELECT @SrcIdList, GETDATE(), 'Start SP 40', @TktNumber ;
			/*Create TxTables*/
			EXEC spProcess40CreateExportTables_ME_TW_WithPIR @dbName = @DB, -- nvarchar(40)
				@InsertFlag = @UpdateType, -- smallint
				--@InsertFlag = 1, -- smallint
				@SAPSystem = @SAPSystem, -- nvarchar(3)
				@SAPClient = @SAPClient, -- nvarchar(3)
				@srcGroup = @srcGroup;		
			INSERT INTO _AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber) SELECT @SrcIdList, GETDATE(), 'END SP 40', @TktNumber ;

			INSERT INTO _AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber) SELECT @SrcIdList, GETDATE(), 'Start Check for Intercompany Stock Transfer', @TktNumber ;

			SET @SQL = 'IF((SELECT COUNT(1) FROM ' + @DB + '..ttEINE WHERE zActive = 1 AND LEN(zLIFNR) = 4) = 
						(SELECT COUNT(1) FROM(
							SELECT DISTINCT A.zMATNR, A.zLIFNR, A.WERKS
							FROM ' + @DB + '..ttEINE A
							INNER JOIN ' + @DB + '..ttMARC B ON B.MATNR = A.zMATNR AND A.zLIFNR = B.WERKS
							WHERE LEN(A.zLIFNR) = 4 AND A.zActive = 1
							UNION 
							SELECT DISTINCT A.zMATNR, A.zLIFNR, A.WERKS
							FROM ' + @DB + '..ttEINE A
							INNER JOIN SAP_EP1_RT..MARC B WITH (NOLOCK) ON B.MATNR = A.zMATNR AND A.zLIFNR = B.WERKS
							WHERE LEN(A.zLIFNR) = 4 AND A.zActive = 1
						) A
						))
						BEGIN
							SET @IsProceed = 1;
						END
						ELSE
						BEGIN
							SET @IsProceed = 0;
						END'

			EXEC SP_EXECUTESQL @SQL, N'@IsProceed BIT OUTPUT', @IsProceed OUTPUT; 
			INSERT INTO _AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber) SELECT @SrcIdList, GETDATE(), 'End Check for Intercompany Stock Transfer', @TktNumber ;

			IF(@IsProceed = 1)
			BEGIN 

				INSERT INTO _AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber) SELECT @SrcIdList, GETDATE(), 'Start UT Tables Insertion', @TktNumber ;
				EXEC SPInsertDataToUTTables @targetdb, 'WG0522', @DB, @SAPSystem, @SAPClient;		
				INSERT INTO _AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber) SELECT @SrcIdList, GETDATE(), 'END UT Tables Insertion', @TktNumber ;

				INSERT INTO _AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber) SELECT @SrcIdList, GETDATE(), 'Start Update Row Counts', @TktNumber ;
				/*Insert counts for the ticket processed*/
				SET @SQL = 'UPDATE ' + @TargetDB + '.[dbo].cfProcessControl 
				SET RecordCount = CASE ProcessJobName
					WHEN ''PH'' THEN (SELECT COUNT(1) FROM ' + @TargetDB + '.[dbo].UTMM_T179T WHERE zTicketNumber = ''' + @TktNumber + ''')
					WHEN ''MATMAS'' THEN (SELECT COUNT(1) FROM ' + @TargetDB + '.[dbo].utMM_MARA WHERE zTicketNumber = ''' + @TktNumber + ''')
					WHEN ''PIR'' THEN (SELECT COUNT(1) FROM ' + @TargetDB + '.[dbo].utMM_PIR_CREATEINFO WHERE zTicketNumber = ''' + @TktNumber + ''')
					WHEN ''PIR_COND'' THEN (SELECT COUNT(1) FROM ' + @TargetDB + '.[dbo].utMM_PIR_COND WHERE zTicketNumber = ''' + @TktNumber + ''')
					WHEN ''SRCLIST'' THEN (SELECT COUNT(1) FROM ' + @TargetDB + '.[dbo].utmm_srcheader WHERE zTicketNumber = ''' + @TktNumber + ''')
					WHEN ''PIR_CLASS'' THEN (SELECT COUNT(1) FROM ' + @TargetDB + '.[dbo].utMM_PIR_CLASS WHERE zTicketNumber = ''' + @TktNumber + ''')
					WHEN ''MARA_CLASS'' THEN (SELECT COUNT(1) FROM ' + @TargetDB + '.[dbo].utMM_MARA_CLASS WHERE zTicketNumber = ''' + @TktNumber + ''')
				END'
				--PRINT (@SQL);
				EXEC(@SQL);
				INSERT INTO _AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber) SELECT @SrcIdList, GETDATE(), 'End Update Row Counts', @TktNumber ;

				INSERT INTO _AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber) SELECT @SrcIdList, GETDATE(), 'Update SrcId Status to 34', @TktNumber ;
				EXEC spBDA_UpdatesrcIdStatus @SrcIdList;
		
				SET @SQL = 'SELECT TOP 1 * FROM ' + @DB + '..tx179T_NewProdh_BDC';
				EXEC( @SQL );

				IF @@ROWCOUNT > 0
				BEGIN
					PRINT 'Product Hierarchy Data Exists';
					SET @SQL = 'EXEC ' + @TargetDB + '.dbo.spUpdateProcessStatus ''PH'', 2;';
					EXEC (@SQL);
				END
				ELSE
				BEGIN
					PRINT 'No Product Hierarchy';

					SET @SQL = 'SELECT TOP 1 @NextJobToEnable = ProcessJobName
					FROM ' + @TargetDB + '.dbo.cfProcessControl 
					WHERE Sequence > (SELECT Sequence FROM ' + @TargetDB + '.dbo.cfProcessControl WHERE ProcessJobName = ''PH'') 
						AND RecordCount > 0
					ORDER BY Sequence;';
					EXEC SP_EXECUTESQL @SQL, N'@NextJobToEnable NVARCHAR(100) OUTPUT', @NextJobToEnable OUTPUT;

					SET @SQL = 'EXEC ' + @TargetDB + '.dbo.spUpdateProcessStatus ''' + @NextJobToEnable + ''', 2;';
					EXEC (@SQL);
					--SET @SQL = 'EXEC ' + @TargetDB + '.dbo.spUpdateProcessStatus ''PH'', 4;';
					--EXEC (@SQL);
				END

				IF @RunSp50 = 1
				BEGIN
					--/*Export tx Tables to File*/
					INSERT INTO _AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber) SELECT @SrcIdList, GETDATE(), 'Start SP50', @TktNumber ;
					EXEC dbo.spProcess50ExportLoadFiles_ME_TW_WithPIR @DB, 'TEST', @SapSystemDir1;
					INSERT INTO _AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber) SELECT @SrcIdList, GETDATE(), 'End SP50', @TktNumber ;
				END;

				INSERT INTO _AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber) SELECT @SrcIdList, GETDATE(), 'Data insertion Complete. Start ODS Jobs', @TktNumber ;
			END
			ELSE
			BEGIN
				INSERT INTO _AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber) SELECT @SrcIdList, GETDATE(), 'Intercompany Stock transfer data Exists. Process Manually', @TktNumber ;
				INSERT INTO _AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber) SELECT @SrcIdList, GETDATE(), 'SP Execution Issues', @TktNumber ;
				UPDATE cfsource SET srcSstCode = 38 where srcID IN (@SrcIdList);
				SET @SQL = 'UPDATE ' + @TargetDB + '.dbo.cfProcessControl SET Status = 4;';
				EXEC (@SQL);
				SET @MailBody = 'Hi Team, Src Id: ' + CONVERT(VARCHAR, ISNULL(@SrcIdList,'')) + ', Ticket number: ' + CONVERT(VARCHAR, ISNULL(@TktNumber, '')) + ' has intercompany stock trasnfer data in PIR Creation. It is moved to 38 status. Please check.';
				EXEC msdb.dbo.sp_send_dbmail  
					@profile_name = 'Email job Alerts',  
					@recipients = 'tw_mdm@techwave.net',  
					@body = @MailBody,  
					@subject = 'SrcId has intercompany stock transfer data';
			END
		END TRY
		BEGIN CATCH
			INSERT INTO _AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber) SELECT @SrcIdList, GETDATE(), 'Issue in processing. In Catch block', @TktNumber ;
			INSERT INTO _AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber) SELECT @SrcIdList, GETDATE(), ERROR_MESSAGE(), @TktNumber ;
	
			UPDATE cfsource SET srcSstCode = 38 where srcID IN (@SrcIdList);

			SET @SQL = 'UPDATE ' + @TargetDB + '.dbo.cfProcessControl SET Status = 4;';
			EXEC (@SQL);

			INSERT INTO DGDB_PL.._AutomationProcessLog(SrcId, DateInserted, Description, TicketNumber) SELECT @SrcIdList, GETDATE(), 'SP Execution Issues', @TktNumber ;

			--aaded on 10/Jul/2018 --Satish	   
			--Delete failed Ahrid data from UTtables
			EXECUTE('DELETE FROM ' + @TargetDB + '..UTMM_T179T WHERE zTicketNumber IN (''' + @TktNumber + ''')')
			EXECUTE('DELETE FROM ' + @TargetDB + '..utMM_MAKT WHERE zTicketNumber IN (''' + @TktNumber + ''')')
			EXECUTE('DELETE FROM ' + @TargetDB + '..utMM_MARA WHERE zTicketNumber IN (''' + @TktNumber + ''')')
			EXECUTE('DELETE FROM ' + @TargetDB + '..utMM_MARC WHERE zTicketNumber IN (''' + @TktNumber + ''')')
			EXECUTE('DELETE FROM ' + @TargetDB + '..utMM_MARD WHERE zTicketNumber IN (''' + @TktNumber + ''')')
			EXECUTE('DELETE FROM ' + @TargetDB + '..utMM_MARM WHERE zTicketNumber IN (''' + @TktNumber + ''')')
			EXECUTE('DELETE FROM ' + @TargetDB + '..utMM_MBEW WHERE zTicketNumber IN (''' + @TktNumber + ''')')
			EXECUTE('DELETE FROM ' + @TargetDB + '..utMM_MLAN WHERE zTicketNumber IN (''' + @TktNumber + ''')')
			EXECUTE('DELETE FROM ' + @TargetDB + '..utMM_MLGN WHERE zTicketNumber IN (''' + @TktNumber + ''')')
			EXECUTE('DELETE FROM ' + @TargetDB + '..utMM_MLGT WHERE zTicketNumber IN (''' + @TktNumber + ''')')
			EXECUTE('DELETE FROM ' + @TargetDB + '..utMM_MVKE WHERE zTicketNumber IN (''' + @TktNumber + ''')')
			EXECUTE('DELETE FROM ' + @TargetDB + '..UTMM_MR21_PRICE WHERE zTicketNumber IN (''' + @TktNumber + ''')')
			EXECUTE('DELETE FROM ' + @TargetDB + '..utMM_PIR_COND WHERE zTicketNumber IN (''' + @TktNumber + ''')')
			EXECUTE('DELETE FROM ' + @TargetDB + '..utMM_PIR_CREATEINFO WHERE zTicketNumber IN (''' + @TktNumber + ''')')
			EXECUTE('DELETE FROM ' + @TargetDB + '..utMM_PRICECHANGE WHERE zTicketNumber IN (''' + @TktNumber + ''')')
			EXECUTE('DELETE FROM ' + @TargetDB + '..utMM_SOURCELIST WHERE zTicketNumber IN (''' + @TktNumber + ''')')
			EXECUTE('DELETE FROM ' + @TargetDB + '..utmm_srcheader WHERE zTicketNumber IN (''' + @TktNumber + ''')')
			EXECUTE('DELETE FROM ' + @TargetDB + '..utMM_PIR_CLASS WHERE zTicketNumber IN (''' + @TktNumber + ''')')
			EXECUTE('DELETE FROM ' + @TargetDB + '..utMM_MARA_CLASS WHERE zTicketNumber IN (''' + @TktNumber + ''')')
		
			SET @MailBody = 'Hi Team, Src Id: ' + CONVERT(VARCHAR, ISNULL(@SrcIdList,'')) + ', Ticket number: ' + CONVERT(VARCHAR, ISNULL(@TktNumber, '')) + ' has issues in Combined Procedure execution. It is moved to 38 status. Please check.';

			EXEC msdb.dbo.sp_send_dbmail  
				@profile_name = 'Email job Alerts',  
				@recipients = 'tw_mdm@techwave.net',  
				@body = @MailBody,  
				@subject = 'SrcId execution has issues';
		END CATCH;
	END
END;
GO
