USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spSysRefreshTargetData_New_KONP_NEW]    Script Date: 3/9/2026 9:14:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spSysRefreshTargetData_New_KONP_NEW]

 @SourceDB NVARCHAR(80) = 'VPL10306_Ion_AU_536_SAPData'

 AS

 SET NOCOUNT ON
 SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

/* Pricing Conditions (KONP) transposed with columns for PB00,RC00,FRA1,ZUPL*/
	DECLARE @SQL NVARCHAR(4000)
	SET @SQL = '

		USE '  + @SourceDB + '

		IF OBJECT_ID(''Tempdb..#PB00'') IS NOT NULL BEGIN DROP TABLE #PB00 END
		IF OBJECT_ID(''Tempdb..#RC00'') IS NOT NULL BEGIN DROP TABLE #RC00 END
		IF OBJECT_ID(''Tempdb..#FRA1'') IS NOT NULL BEGIN DROP TABLE #FRA1 END
		IF OBJECT_ID(''Tempdb..#ZUPL'') IS NOT NULL BEGIN DROP TABLE #ZUPL END
		SELECT KNUMH,CAST(KBETR AS NUMERIC(15,2)) AS KBETR,KONWA INTO #PB00 FROM KONP WITH (NOLOCK) WHERE KSCHL = ''PB00'' AND LOEVM_KO <> ''X''
		SELECT KNUMH,CAST(KBETR AS NUMERIC(15,2)) AS KBETR INTO #RC00 FROM KONP WITH (NOLOCK)  WHERE KSCHL = ''RC00'' AND LOEVM_KO <> ''X''
		SELECT KNUMH,CAST(KBETR AS NUMERIC(15,4)) AS KBETR INTO #FRA1 FROM KONP WITH (NOLOCK) WHERE KSCHL = ''FRA1'' AND LOEVM_KO <> ''X''
		SELECT KNUMH,CAST(KBETR AS NUMERIC(15,4)) AS KBETR INTO #ZUPL FROM KONP WITH (NOLOCK) WHERE KSCHL = ''ZUPL'' AND LOEVM_KO <> ''X''

		IF OBJECT_ID(''Tempdb..#KONP'') IS NOT NULL BEGIN DROP TABLE #KONP END
		SELECT P.KNUMH
				, P.KBETR AS PB00
				, ISNULL(R.KBETR,0) AS RC00
				, ISNULL(F.KBETR,0)/1000 AS FRA1
				, ISNULL(Z.KBETR,0)/1000 AS ZUPL		
				, P.KONWA
			INTO #KONP
			FROM #PB00 P
				LEFT OUTER JOIN #RC00 R ON R.KNUMH = P.KNUMH
				LEFT OUTER JOIN #FRA1 F ON F.KNUMH = P.KNUMH
				LEFT OUTER JOIN #ZUPL Z ON Z.KNUMH = P.KNUMH;

		IF OBJECT_ID('''  + @SourceDB + '..KONP_New_TMP'') IS NOT NULL BEGIN DROP TABLE '  + @SourceDB + '..KONP_New_TMP END
		SELECT DISTINCT LIFNR
			  , MATNR
			  , WERKS
			  , EKORG
			  , KONWA
			  , PB00
			  , RC00
			  , FRA1
			  , ZUPL
			  , DATAB
			  , DATBI
			  , A.KNUMH
			INTO KONP_New_TMP
			FROM A017 A
				INNER JOIN #KONP E ON E.KNUMH = A.KNUMH
			WHERE	A.DATAB <= CONVERT(NVARCHAR,GETDATE(),112)
				AND A.DATBI >= CONVERT(NVARCHAR,GETDATE(),112)
				AND A.ESOKZ = 0
				AND A.EKORG = ''1000''

		PRINT CAST(''KONP_NEW'' AS CHAR(40)) + CAST(@@ROWCOUNT AS NVARCHAR)

		CREATE UNIQUE INDEX UIX ON KONP_New_TMP (LIFNR, WERKS, MATNR )
		CREATE INDEX IX_MATNR ON KONP_New_TMP (MATNR )
		
		IF OBJECT_ID('''  + @SourceDB + '..KONP_New'') IS NOT NULL BEGIN DROP TABLE '  + @SourceDB + '..KONP_New END	
		EXEC sp_rename ''dbo.KONP_New_TMP'', ''KONP_New''
	'	
	EXEC (@SQL)
	PRINT 'KONP_New ' + CAST(@@ROWCOUNT AS NVARCHAR)

	
GO
