USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[srSTXL_TargetInsOld]    Script Date: 3/9/2026 9:14:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jan van Berghem
-- Create date: NOV 2014
-- Description:	Creation of MM Long Descriptions from ttMARA- zLongDescription
-- Table ttSTXL
-- =============================================

CREATE PROCEDURE [dbo].[srSTXL_TargetInsOld]
	@dbName NVARCHAR(40)='VPL10005_CheckpointASEAN_3'	
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE 			
		@SQL NVARCHAR(4000)
		
	/*INSERT zLongDescription From MARA*/			
	SET @SQL = 'INSERT INTO ' + @dbName + '.[dbo].[ttSTXL] 
				( TDOBJECT ,
					TDNAME ,
					TDID ,
					TDSPRAS ,				
					zTEXTFORMAT ,
					zTEXTLINE ,
					zSource ,					
					zSrcID,
					zActive ,
					zLine,
					zLength
				)
			SELECT DISTINCT   ''MATERIAL'' , -- TDOBJECT - nvarchar(50)
						MATNR , -- TDNAME - nvarchar(50)
						''GRUN'' , -- TDID - nvarchar(50)
						''E'' , -- TDSPRAS - nvarchar(50)					
						''/'' , -- zTEXTFORMAT - nvarchar(50)
						zLongDescription , -- zTEXTLINE - nvarchar(max)
						ttMARA.zSource , -- zSource - nvarchar(50)
						LEFT(ttMARA.zSource,PATINDEX(''% %'',ttMARA.zSource)),
						ttMARA.zActive , -- zActive - bit
						1 ,  -- zLine - int
						LEN(zLongDescription) --ZLength
					FROM ' + @dbName + '.dbo.ttMARA
					WHERE ttMARA.zActive = 1 OR ttMARA.zChange = 1;
			PRINT CAST(''STXL '' AS CHAR(10)) + CAST(@@ROWCOUNT AS CHAR(10)) + '' New ttSTXL (Long Description) Records Inserted ''; 
			--CREATE UNIQUE INDEX PK_ttSTXL ON ' + @dbName + '.dbo.ttSTXL(TDNAME,zLine)
			--CREATE INDEX IX_ttSTXL ON ' + @dbName + '.dbo.ttSTXL(TDNAME)
			--CREATE INDEX IX2_ttSTXL ON ' + @dbName + '.dbo.ttSTXL(zLine)'			

		EXEC (@SQL)
	
		/*Loop and split lines for all rows longer than 132 positions*/
		SET @SQL = 'DECLARE @MaxFiedlLength AS INTEGER,@StartSize AS INTEGER,@Counter AS INTEGER;
			SELECT @MaxFiedlLength = MAX(zLength) FROM ' + @dbName + '.dbo.ttSTXL;
			SET @StartSize = 133;		
			SET @Counter = 2; 
			WHILE @StartSize < @MaxFiedlLength
				BEGIN
					INSERT INTO ' + @dbName + '.dbo.ttSTXL
							( TDOBJECT ,
							  TDNAME ,
							  TDID ,
							  TDSPRAS ,						
							  zTEXTFORMAT ,
							  zTEXTLINE,
							  zSource ,
							  zSrcID,
							  zActive ,
							  zLine )
					SELECT	  TDOBJECT ,
							  TDNAME ,
							  TDID ,
							  TDSPRAS ,						
							  ''='' ,
							  SUBSTRING(zTEXTLINE,@StartSize,132),
							  zSource ,
							  zSrcID,
							  zActive ,
							  @Counter 
					FROM ' + @dbName + '.dbo.ttSTXL WHERE zLine = 1  AND LEN(zTEXTLINE) > @StartSize; 	
					PRINT CAST(''STXL '' AS CHAR(10)) + CAST(@@ROWCOUNT AS CHAR(10)) + '' Additional ttSTXL (Long Description) Records Inserted for Length between : '' + CAST(@StartSize AS CHAR(5)) + '' - '' + CAST(@StartSize + 132 AS CHAR(10)) ; 			
					SET @StartSize = @StartSize + 132;		
					SET @Counter = @Counter + 1;					
				END;						
			UPDATE ' + @dbName + '.dbo.ttSTXL
				SET zTEXTLINE = LEFT(LTRIM(zTEXTLINE),132)
				WHERE zLine = 1;
			DECLARE @ID NUMERIC(12,0)=0;
			UPDATE ' + @dbName + '.dbo.ttSTXL
				SET @ID = zID = @ID + 1;'
		EXEC (@SQL)
		PRINT ''
	END

	
GO
