USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spSysRefreshTargetData_New_Async]    Script Date: 3/9/2026 9:14:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[spSysRefreshTargetData_New_Async] 
	@trdSystem	NVARCHAR(3)		='EPN'	,	-- EP1, EQ1,ED1
	@trdClient	NVARCHAR(3)		='300'	,
	@SourceDB	NVARCHAR(40)	='WG0233.dsEP1',
	@MaxSessions SMALLINT = 6
AS 

DECLARE @trdSQLLinkedServer		NVARCHAR(40),
		@trdSystemUser			NVARCHAR(40),
		@tblTable				NVARCHAR(40),
		@tblPK					NVARCHAR(255),
		@TblPrefix				NVARCHAR(40)		= 'ZZZ_',
		@tblTablePrevious		NVARCHAR(40)		='',		
		@dbName					NVARCHAR(40)		='',
		@TargetTable			NVARCHAR(40),
		@FieldList				NVARCHAR(1000),
		@FieldList2				NVARCHAR(1000),
		@FieldListNull			NVARCHAR(1000),
		@SQL					NVARCHAR(4000)		='',		
		@StartDate				DATETIME,
		@StartDate2				DATETIME,
		@RowCount				INTEGER	,
		@RunningSessions		SMALLINT
		

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED 	

BEGIN
	SET @StartDate = SYSDATETIME()

    SELECT @dbName = trdDataBase ,
            @trdSQLLinkedServer = trdSQLLinkedServer,
			@trdSystemUser = trdSystemUser
        FROM cfTargetData
        WHERE trdSystem = @trdSystem
            AND trdClient = @trdClient	

	IF @dbName = ''
		BEGIN
			PRINT 'System not set-up in table cfTargetData'
			RETURN
		END
	
    IF NOT EXISTS ( SELECT * FROM sys.servers WHERE name = @trdSQLLinkedServer )
        BEGIN
            PRINT 'Linked server ' + @trdSQLLinkedServer + ' does not exist on the ' + @@SERVERNAME + ' SQL Server'
            RETURN
        END
	
	IF NOT EXISTS (SELECT name FROM master..sysdatabases WHERE name = @DBName)
		BEGIN						
			SET @SQL = 'CREATE DATABASE ' + @DBName + '
				ON 
				( NAME = ' + @DBName + ',
					FILENAME = ''F:\MSSQL\data\' + @DbName + '.mdf'',
					SIZE = 50,	
					MAXSIZE = UNLIMITED,				
					FILEGROWTH = 50 )
				LOG ON
				( NAME = ' + @DBName + '_log,
					FILENAME = ''F:\MSSQL\LOGS\' + @DbName + 'log.ldf'',
					SIZE = 50MB,	
					MAXSIZE = UNLIMITED,				
					FILEGROWTH = 50MB );
				ALTER DATABASE ' + @DBName + ' SET RECOVERY SIMPLE;' 
			PRINT @SQL
			EXEC( @SQL)
		END 
	PRINT ''	
		
	INSERT INTO dgdb_PL..SAPDataRefreshLog VALUES (@trdSystem,@trdClient,'Start',0,CAST(DATEDIFF(SECOND,@startDate,GETDATE()) AS NVARCHAR),'',SYSUTCDATETIME(),SYSTEM_USER)						

		SELECT *, 0 AS Done ,0 AS Running  INTO #Tables FROM dbo.SapRefreshTables WHERE srtActive = 1 AND srtEvironment = @trdSystem ORDER BY srtDependency ASC, srtSeq ASC
		UPDATE #Tables  SET srtDependency = REPLACE(srtDependency,'|','')
				
		
		WHILE (SELECT TOP 1 1 FROM #Tables T INNER JOIN dbo.SapRefreshTables S ON S.srtTableName = T.srtTableName 
				WHERE	Done = 0 AND T.srtDependency = '' AND T.srtStartTime = S.srtStartTime AND S.srtEvironment = @trdSystem 
				ORDER BY T.srtSeq ASC) 
				= 1
					BEGIN
						/* get Next Table*/
						SELECT TOP 1 @tblTable = T.srtTableName FROM #Tables T INNER JOIN dbo.SapRefreshTables S ON S.srtTableName = T.srtTableName 
							WHERE	Done = 0 AND T.srtDependency = '' AND T.srtStartTime = S.srtStartTime AND S.srtEvironment = @trdSystem 
							ORDER BY T.srtSeq ASC
							
						/*Check what Jobs are still running*/
						UPDATE T SET Running = 0 			
							FROM #Tables T INNER JOIN dbo.SapRefreshTables S ON S.srtTableName = T.srtTableName 
							WHERE Running = 1 AND S.srtStartTime < S.srtEndTime AND S.srtEvironment = @trdSystem 
						
						/* Start Parellel Processing*/						
						SELECT @RunningSessions = COUNT(1) FROM #Tables WHERE Running = 1
						PRINT @tblTable + ' ' + CAST(@RunningSessions AS NVARCHAR)
						IF @RunningSessions < @MaxSessions
							BEGIN			
								UPDATE #Tables SET Running = 1  WHERE srtTableName = @tblTable					
								SET @SQL = 'spSysRefreshTargetData_Async_ByTable ''' + @tblTable + ''',''' + @trdSystem + ''', ''300'', ''WG0233.dsEP1'''
								PRINT @SQL
								EXEC spSysProcessInBackGround 'WG0218','DGDB_PL', @SQL								
								UPDATE #Tables SET Done = 1 WHERE srtTableName = @tblTable
								UPDATE #Tables SET srtDependency = REPLACE(srtDependency,@tblTable,'') WHERE CHARINDEX(@tblTable,srtDependency) > 1
							END						
						WAITFOR DELAY '00:00:02'
					END

			/* Wait for the jobs to finish before continuing*/
			WHILE (SELECT TOP 1 1 FROM #Tables T WHERE Running = 1) = 1
				BEGIN					
					WAITFOR DELAY '00:00:05'
				END

			SELECT * FROM #Tables



	/*RENAME TMP_ AND DROP Previous version*/
	SET @SQL = 'DECLARE @tblTable NVARCHAR(50), @TargetTable NVARCHAR(50),@SQL NVARCHAR(1000);'
	SET @SQL = @SQL + 'WHILE (SELECT TOP 1 1 FROM ' + @dbName + '.INFORMATION_SCHEMA.tables WHERE LEFT(TABLE_NAME,4) = ''' + @TblPrefix + ''') = 1 '
	SET @SQL = @SQL + 'BEGIN '
	SET @SQL = @SQL + '	BEGIN TRY '
	SET @SQL = @SQL + '		SELECT TOP 1 @tblTable = TABLE_NAME FROM ' + @dbName + '.INFORMATION_SCHEMA.tables WHERE LEFT(TABLE_NAME,4) = ''' + @TblPrefix + ''';'			
	SET @SQL = @SQL + 'SET @TargetTable = REPLACE(@tblTable,''' + @TblPrefix + ''','''');' 											
	SET @SQL = @SQL + 'SET @SQL = ''USE ' + @dbName + ';IF OBJECT_ID('''''' + @TargetTable+ '''''') IS NOT NULL BEGIN DROP TABLE '' + REPLACE(@tblTable,''' + @TblPrefix + ''','''') + '' END''; '											
	SET @SQL = @SQL + 'EXEC (@SQL);'				
	SET @SQL = @SQL + 'SET @SQL = ''USE ' + @dbName + ';EXEC sp_rename '' + @tblTable + '', '' + @TargetTable;'	
	SET @SQL = @SQL + 'EXEC (@SQL);'		
	SET @SQL = @SQL + 'END TRY '
	SET @SQL = @SQL + 'BEGIN CATCH '
	SET @SQL = @SQL + 'INSERT INTO dgdb_PL..SAPDataRefreshLog VALUES (''' + @trdSystem + ''', ''' + @trdClient + ''', @tblTable,0,0,''Rename Failed: '' + ERROR_MESSAGE()  + ''  - ''	+	@SQL,SYSUTCDATETIME(),SYSTEM_USER);'
	SET @SQL = @SQL + 'END CATCH '
	SET @SQL = @SQL + 'END;'			
	EXEC (@SQL)

	SET @StartDate2 = SYSDATETIME()
	INSERT INTO dgdb_PL..SAPDataRefreshLog VALUES (@trdSystem,@trdClient,'Drop & Rename Finished',0,CAST(DATEDIFF(SECOND,@startDate2,GETDATE()) AS NVARCHAR),'',SYSUTCDATETIME(),SYSTEM_USER)			
				

							
	IF OBJECT_ID('tempdb..#SAPTableFields') IS NOT NULL BEGIN DROP TABLE #SAPTableFields END				
	IF OBJECT_ID('tempdb..#Tables') IS NOT NULL BEGIN DROP TABLE #Tables END	

	INSERT INTO dgdb_PL..SAPDataRefreshLog VALUES (@trdSystem,@trdClient,'Finished',0,CAST(DATEDIFF(SECOND,@startDate,GETDATE()) AS NVARCHAR),'',SYSUTCDATETIME(),SYSTEM_USER)						
END
GO
