USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spSysCopyDGDB_All]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 
-- =============================================
-- Author:		Pradeep Suram
-- Create date: 14 August 2016
-- Description: Wrapper stored procedure to copy dgdb from DV0064 to WG0218
-- =============================================

CREATE PROCEDURE [dbo].[spSysCopyDGDB_All] 
	
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

BEGIN
	EXEC [spSysBackupDB_Prev] 1, 'DGDB','\\Wg0218\Backup\', 'E:\MSSQL\Data\', 'J:\MSSQL\Log\'
print '------------ Backup Completed -------------------'
 EXEC [spSysCopyDB_xServers] 1, 'DGDB','\\Wg0218\dv0064\Backup\', 'E:\MSSQL\Data\', 'J:\MSSQL\Log\'

print '------------ CopyDB Completed -------------------'


EXEC msdb.dbo.SP_SEND_DBMAIL @PROFILE_NAME= 'MDM_MAIL', 
	@RECIPIENTS='Kirsti.Greep@westconcomstor.com;Glenn.Collins@westconcomstor.com;tw_mdm@techwave.net', @SUBJECT='DGDB database Move from DV0064 to WG0218 is completed', 
	@BODY='DGDB database Move from DV0064 to WG0218 is completed'
		
END
GO
