USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spChangePRODH]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE or ALTER PROCEDURE [dbo].[spChangePRODH]
AS
BEGIN
	TRUNCATE TABLE dgdb_PL_ScheduledJobs..tx179T_ChangeProdh_BDC 
	
	INSERT INTO dgdb_PL_ScheduledJobs..tx179T_ChangeProdh_BDC 
	SELECT A.PRODH, A.VTEXT, A.STUFE, 0
	--INTO dgdb_PL_ScheduledJobs..tx179T_ChangeProdh_BDC 
	FROM dgdb_pl.dbo.cfPH AS A
		INNER JOIN SAP_EP1_RT.dbo.T179T AS B ON A.PRODH = B.PRODH
	WHERE   A.zActive = 0
		AND B.VTEXT NOT LIKE 'OBS%';
	--execute procedure for schedule jobs	
	EXEC dgdb_pl.dbo.spProcess50ExportLoadFilesBatchVersion_WIP 'dgdb_PL_ScheduledJobs'
		
END
GO
