USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[SpGet_Uplift_Report]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec SpGet_Uplift_Report
CREATE PROC [dbo].[SpGet_Uplift_Report]
as
begin

DECLARE @tabvar TABLE (MATKL	NVARCHAR(100),SRC	NVARCHAR(100),SRCNAME	NVARCHAR(400),ORG	NVARCHAR(100),WRULE	nvarchar(400),srrWhere nvarchar(600))

INSERT INTO @tabvar
SELECT TOP 1 MATKL,SRC,SRCNAME,ORG,WRULE,srrWhere FROM (
SELECT DISTINCT Uplifts.MATKL,Uplifts.SRC,Uplifts.SRCNAME,Uplifts.ORG,Uplifts.WRULE, srrWhere
FROM DGDB_PL_DIEGO.dbo.Uplifts
JOIN vSourceRules ON srrID=WRule)x
ORDER BY LEN(srrWhere) desc

SELECT MATKL,SRC,SRCNAME,ORG,WRULE,srrWhere FROM @tabvar
UNION all
SELECT DISTINCT Uplifts.MATKL,Uplifts.SRC,Uplifts.SRCNAME,Uplifts.ORG,Uplifts.WRULE, srrWhere
FROM DGDB_PL_DIEGO.dbo.Uplifts
JOIN vSourceRules ON srrID=WRule
WHERE (matkl NOT IN (SELECT matkl FROM @tabvar) 
or srcID NOT IN (SELECT srcID FROM @tabvar) 
or org NOT IN (SELECT org FROM @tabvar) 
or wrule NOT IN (SELECT wrule FROM @tabvar))
end
GO
