USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spProcess304050Combined_ME_TW_WithPIR]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--EXEC [spProcess304050Combined_ME_TW_WithPIR] 'zVPL_E03_20201110_31_02',31,2,'E03',300, 1, 'EP1_Swathi', 'ALL'

/*
Wrapper SP to run all the SPs together for a given status code

Created: TW June2015
Modified: Jun 2019 -- Created a new version for BDA automation set-up
Modified: Sept 04, 2019 -- Commented the SP35 run to avoid performance issues on teh server

*/
CREATE PROCEDURE [dbo].[spProcess304050Combined_ME_TW_WithPIR](
    @DB NVARCHAR(40) = 'zVPL_20150609_30',
    @sstCode NVARCHAR(2) = 30 ,
    @UpdateType SMALLINT = 2 , --1 = new only, 2 = new & changes, 0 = changes only
    @SAPSystem NVARCHAR(3) = 'EQ1',
    @SAPClient NVARCHAR(3) = '300',
    @RunSp50 BIT = 1,
    @SapSystemDir1 VARCHAR(20) = '',
    @srcGroup NVARCHAR(10) = 'ALL'
)
AS
BEGIN
	DECLARE @JobNr INT, @processjobname VARCHAR(10), @TargetDB VARCHAR(20), @sql varchar(MAX);
	DECLARE @MailBody VARCHAR(1000), @MailSUbject VARCHAR(1000);

	SELECT @TargetDB = CASE WHEN @SAPSystem IN ('EPN','EP1') THEN 'BDA_MM_UL_EP1' ELSE 'BDA_MM_UL_E03' END;

	EXEC BDA_MM_UL_E03.dbo.spUpdateProcessStatus 'MATMAS',1;

	EXEC dbo.spProcess30PrepareDBForLoad @srcID = 0, -- int
		@ProcessDB = @DB, -- nvarchar(40)
		@SAPSystem = @SAPSystem, -- nvarchar(3)
		@SAPClient = @SAPClient, -- nvarchar(3)
		@srcGroup = @srcGroup, -- nvarchar(10)
		@srcSstCode = @sstCode; -- smallint

	/*Get JobNe#*/
	SELECT  @JobNr = spjID
	FROM    DGDB_PL__LOG..SourceProcessJob
	WHERE   spjID = ( SELECT MAX(spjID) FROM DGDB_PL__LOG..SourceProcessJob)
		AND DGDB_PL__LOG.dbo.SourceProcessJob.spjProcessDb = @DB;

	/*Get Statistics*/
	/* Commenting this section as it is affecting  the performance on the server
		   and it are not being used   */
	--EXEC spProcess35PrepareDBForLoadSummary @DB, @JobNr;

	IF @SAPSystem = 'EQ1'
	BEGIN
		/*Create TxTables*/
		--EXEC spProcess40CreateExportTables_EQ1
		EXEC spProcess40CreateExportTables @dbName = @DB, -- nvarchar(40)
			@InsertFlag = @UpdateType, -- smallint
			--@InsertFlag = 1, -- smallint
			@SAPSystem = @SAPSystem, -- nvarchar(3)
			@SAPClient = @SAPClient; -- nvarchar(3)
	END;
	ELSE
	BEGIN
		/*Create TxTables*/
		EXEC spProcess40CreateExportTables_ME_TW_WithPIR @dbName = @DB, -- nvarchar(40)
			@InsertFlag = @UpdateType, -- smallint
			--@InsertFlag = 1, -- smallint
			@SAPSystem = @SAPSystem, -- nvarchar(3)
			@SAPClient = @SAPClient, -- nvarchar(3)
			@srcGroup = @srcGroup;
	END;

	SET @sql = 'SELECT TOP 1 * from ' + @DB + '..tx179T_NewProdh_BDC';
	EXEC( @sql );

	IF @@ROWCOUNT > 0
	BEGIN
		SET @MailBody = 'Hi Team, zVPL: ' + CONVERT(VARCHAR,@DB) + ' has counts in Product Hierarchy. It has to be processed manually. Please check and process.';
		SET @MailSUbject = 'SrcID has Product Hierarchy records';

		EXEC msdb.dbo.sp_send_dbmail @profile_name = 'Email job Alerts',
			@recipients = 'tw_mdm@techwave.net;',
			@body = @MailBody,
			@subject = @MailSUbject;

		EXEC BDA_MM_UL_E03.dbo.spUpdateProcessStatus 'MATMAS', 4;

		EXEC (@SQL);
		RETURN
	END

	EXEC SPInsertDataToUTTables @targetdb, 'WG0522', @DB, @SAPSystem, @SAPClient;

	EXEC spBDA_UpdatesrcIdStatus @DB;

	EXEC BDA_MM_UL_E03.dbo.spUpdateProcessStatus 'MATMAS', 2;

	IF @RunSp50 = 1
	BEGIN
		--/*Export tx Tables to File*/
		EXEC dbo.spProcess50ExportLoadFiles_ME_TW_WithPIR @DB, 'TEST', @SapSystemDir1;
	END;

	-- Check for Classification records
	SET @sql = 'SELECT COUNT(*) FROM ' + @DB + '..txAUSP_Classes_LSMW';
	EXEC(@sql);

	IF @@ROWCOUNT > 0
	BEGIN
		SET @SQL = 'IF(OBJECT_ID(''PIR_CLASSIFICATIONS.dbo.txAUSP_Classes_LSMW'') IS NOT NULL)
		BEGIN
			INSERT INTO PIR_CLASSIFICATIONS.dbo.txAUSP_Classes_LSMW([KLART], [OBJEK], [CLASS], [ATNAM], [ATWRT]
				, [zActive], [zJobNr], [zSystem], [zClient], [zSrcID], [zID], zVPLDBName)
			SELECT [KLART], [OBJEK], [CLASS], [ATNAM], [ATWRT]
				, [zActive], [zJobNr], [zSystem], [zClient], [zSrcID], [zID], ''' + @DB + ''' 
			FROM ' + @DB + '.dbo.txAUSP_Classes_LSMW;
		END
		ELSE
		BEGIN
			CREATE TABLE PIR_CLASSIFICATIONS.[dbo].[txAUSP_Classes_LSMW]([KLART] [nvarchar](3) NULL, [OBJEK] [nvarchar](50) NULL, [CLASS] [varchar](13) NOT NULL
				, [ATNAM] [nvarchar](40) NULL, [ATWRT] [nvarchar](30) NULL, [zActive] [bit] NULL, [zJobNr] [bit] NULL
				, [zSystem] [varchar](3) NOT NULL, [zClient] [varchar](3) NOT NULL, [zSrcID] [numeric](6, 0) NULL
				, [zID] [numeric](12, 0) NULL,[updatedon] [datetime] default getdate(), zVPLDBName nvarchar(50) );

			INSERT INTO PIR_CLASSIFICATIONS.dbo.txAUSP_Classes_LSMW([KLART], [OBJEK], [CLASS], [ATNAM], [ATWRT]
				, [zActive], [zJobNr], [zSystem], [zClient], [zSrcID], [zID], zVPLDBName)    
			SELECT [KLART], [OBJEK], [CLASS], [ATNAM], [ATWRT]
				, [zActive], [zJobNr], [zSystem], [zClient], [zSrcID], [zID], ''' + @DB + ''' 
			FROM ' + @DB + '.dbo.txAUSP_Classes_LSMW;    
		END';

		EXEC (@SQL);
	END

	SET @SQL = 'INSERT INTO PIR_CLASSIFICATIONS.dbo.ClassficationszVPLsStatus(zVPLName, ProcessFlag) values(''' + @DB + ''', ''0'');';
	EXEC(@SQL);
END;
GO
