USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[SPInsertDataToUTTables_PIR]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--DROP TABLE zVPL_EPN_20171107_31_03.dbo.tmpMATNR  
-- EXEC [spProcess40CreateExportTables_PIR] 'zAdh_AHrId_2715_06Apr', 'ALL', 'EPN', '300'
--EXEC SPInsertDataToUTTables_PIR 'BDA_MM_UL_E03', 'WG0218', 'zAdh_GLP_AhrId2191_9Apr', 'GLP', '300' , 1, 'DGDB_ADHOC'
  
CREATE PROCEDURE [dbo].[SPInsertDataToUTTables_PIR]  
(  
	@Database NVARCHAR(400),  
	@Server NVARCHAR(100),  
	@zVPL NVARCHAR(100),   
	@srcSystem VARCHAR(30),   
	@srcClient VARCHAR(5),
	@IsFromAhr BIT = 0--,
	--@AdhocDB NVARCHAR(100) = 'DGDB_ADHOC_DEV'
)  
AS  
BEGIN  
      
	DECLARE @SQL NVARCHAR(MAX)
		, @tableName NVARCHAR(MAX)
		, @SAPClientDataDB VARCHAR(30) = ''
		, @RowCount INTEGER
		, @JoinCondition NVARCHAR(MAX)
		, @MDMTicketNumber NVARCHAR(MAX) = 0
		, @AhrTypeId INT = 0;

	DECLARE @R TABLE (FName VARCHAR(50), T INTEGER);  

	IF @SAPClientDataDB = ''   
	BEGIN   
		SELECT  @SAPClientDataDB = trdDatabase   
		FROM DGDB_PL.dbo.cfTargetData   
		WHERE trdSystem = @srcSystem AND trdClient = @srcClient;   
	END;  
	--PRINT @SAPClientDataDB; 
	
    IF(@IsFromAhr = 1)
    BEGIN
		PRINT 'IsFROMAHr';
		SET @JoinCondition = 'LEFT OUTER JOIN DGDB_ADHOC_PROD..AdHocRequest AH ON AH.ahrID = A.zSrcId';
		SET @MDMTicketNumber = 'AH.ahrMDMTicket';
		SET @SQL = N'SELECT @AhrTypeId = ahrAhtId FROM ' + @zVPL + '.dbo.txEINE_EINA_1_PIR_LSMW AS A ' + @JoinCondition + '';
		EXEC SP_EXECUTESQL @SQL, N'@AhrTypeId INT OUTPUT', @AhrTypeId OUTPUT;
    END
    ELSE
    BEGIN
		SET @JoinCondition = 'LEFT OUTER JOIN DGDB_PL..CFSource CF ON CF.SrcId = A.zSrcId';
		SET @MDMTicketNumber = 'CF.srcMDMTicketNumber';
    END
    
    DECLARE @PLIFZ INT;
	SET @SQL = N'SELECT @PLIFZ = PLIFZ FROM ' + @zVPL + '.dbo.ttMARC';
	EXEC SP_EXECUTESQL @SQL, N'@PLIFZ INT OUTPUT', @PLIFZ OUTPUT;

	/*
	Create EINE/EINA Header Records
	*/ 
	IF ((@IsFromAhr = 1 AND @AhrTypeId NOT IN (14,37)) OR (@IsFromAhr = 0) OR (ISNULL(@PLIFZ, 0) <> 0))
	BEGIN
		SET @SQL = 'INSERT INTO ' + @Server + '.' + @Database + '.[dbo].[utMM_PIR_CREATEINFO](
				[MSGFN]
				,[INFNR]
				,[MATNR]
				,[MATKL]
				,[LIFNR]
				,[WERKS]
				,[EKGRP]
				,[WAERS]
				,[LOEKZ]
				,[MEINS]
				,[UMREZ]
				,[UMREN]
				,[LMEIN]
				,[MATNR_EXTERNAL]
				,[EKORG]
				,[ESOKZ]
				,[NORBM]
				,[APLFZ]
				,[PEINH]
				,[BPRME]
				,[BPUMZ]
				,[BPUMN]
				,[MWSKZ]
				,[BSTAE]
				,[XERSN]
				,[RDPRF]
				,[zActive]
				,zSrcId
				,zTicketNumber)
			SELECT DISTINCT
				''009'' AS MSGFN,
				NULL AS INFNR,
				A.MATNR,
				D.zMATKL,
				CASE WHEN (dgdb.dbo.boaIsNumeric(A.LIFNR) = 0 ) THEN A.LIFNR ELSE dgdb.dbo.boaPad(A.LIFNR, 0, 10) END AS LIFNR,
				A.WERKS,
				CASE WHEN E.EKGRP IS NOT NULL THEN E.EKGRP ELSE ''/'' END AS EKGRP,
				E.WAERS,
				E.LOEKZ,
				''EA'' AS MEINS,
				1 AS UMREZ,
				1 AS UMREN,
				''EA'' AS LMEIN,
				A.MATNR,
				A.EKORG,
				ISNULL(A.ESOKZ,0) AS ESOKZ,
				ISNULL(CONVERT(VARCHAR,A.NORBM),''/'') AS NORBM,';
				--ISNULL(CONVERT(VARCHAR,A.APLFZ),''/'') AS APLFZ,
		SET @SQL = @SQL + CASE WHEN (@IsFromAhr = 1 AND @AhrTypeId = 44) THEN 'ISNULL(E.APLFZ, 99) AS APLFZ,' 
								ELSE 'ISNULL(CONVERT(VARCHAR,A.APLFZ),''/'') AS APLFZ,'
								END
		SET @SQL = @SQL + '
				1 AS PEINH,
				''EA'' AS BPRME,
				1 AS BPUMZ,
				1 AS BPUMN,
				--NULLIF(ISNULL(E.MWSKZ,''''),'''') AS MWSKZ,
				--NULLIF(ISNULL(E.BSTAE,''''),'''') AS BSTAE,
				--NULLIF(ISNULL(E.XERSN,''''),'''') AS XERSN,
				NULLIF(E.MWSKZ,'''') AS MWSKZ,
				NULLIF(E.BSTAE,'''') AS BSTAE,
				NULLIF(E.XERSN ,'''') AS XERSN,
				ISNULL(CONVERT(VARCHAR, E.RDPRF),''/'') AS RDPRF, ''';
		SET @SQL = @SQL + CAST(@IsFromAhr AS NVARCHAR(2)) + ''' AS zActive,
				A.zSrcId,
				' + @MDMTicketNumber + ' AS zTicketNumber
				--0 AS zTicketNumber
			FROM ' + @zVPL + '.dbo.txEINE_EINA_1_PIR_LSMW AS A
			INNER JOIN ' + @zVPL + '.dbo.ttEINA D ON D.MATNR = A.MATNR AND D.LIFNR = A.LIFNR
			INNER JOIN ' + @zVPL + '.dbo.ttEINE E ON E.zMATNR = D.MATNR AND E.WERKS = A.WERKS AND E.zLIFNR = A.LIFNR ' + @JoinCondition;
		--PRINT @SQL;
		EXEC(@SQL);
	END

	/*
	Create EINE/EINA Condition Records
	*/ 
	IF ((@IsFromAhr = 1 AND @AhrTypeId NOT IN (2,43)) OR @IsFromAhr = 0)
	BEGIN
		SET @SQL = 'INSERT INTO ' + @Server + '.' + @Database + '.[dbo].[utMM_PIR_COND](
				[MSGFN]
				,[KSCHL]
				,[VAKEY]
				,[MATNR]
				,[LIFNR]
				,[EKORG]
				,[ESOKZ]
				,[WERKS]
				,[DATAB]
				,[DATBI]
				,[KRECH]
				,[KBETR]
				,[KONWA]
				,[KPEIN]
				,[KMEIN]
				,[KZNEP]
				,[KAPPL]
				,WAERK
				,MEINS
				,ALAND
				,WKREG
				,WKCOU
				,WKCTY
				,LLAND
				,REGIO
				,COUNC
				,CITYC
				,LAND1
				,HLAND
				,KUMNE
				,[zACTIVE]
				,[MATNR_EXTERNAL]
				,zSrcId
				,zTicketNumber)
			SELECT DISTINCT
				''009'' AS MSGFN,
				KSCHL,
				A.VAKEY,
				A.MATNR,
				A.LIFNR,
				A.EKORG,
				A.ESOKZ,
				A.WERKS,
				A.DATAB,
				A.DATBI,
				KRECH,
				KBETR,
				KONWA,
				KPEIN,
				KMEIN,
				KZNEP,
				''M'' AS KAPPL,
				NULL AS WAERK,
				NULL AS MEINS,
				NULL AS ALAND,
				NULL AS WKREG,
				NULL AS WKCOU,
				NULL AS WKCTY,
				NULL AS LLAND,
				NULL AS REGIO,
				NULL AS COUNC,
				NULL AS CITYC,
				NULL AS LAND1,
				NULL AS HLAND,
				NULL AS KUMNE, ''';
		SET @SQL = @SQL + CAST(@IsFromAhr AS NVARCHAR(2)) + ''' AS zActive,
				A.MATNR,
				A.zSrcId,
				' + @MDMTicketNumber + ' AS zTicketNumber
				--0 AS zTicketNumber
			FROM ' + @zVPL + '.dbo.txEINE_Conditions_Idoc_Header AS A 
			INNER JOIN ' + @zVPL + '.dbo.txEINE_Conditions_Idoc_Detail AS B ON A.MATNR = B.MATNR AND A.WERKS = B.WERKS 
				AND A.LIFNR = B.zLIFNR ' + @JoinCondition + '
			ORDER BY KZNEP DESC';
		--PRINT (@SQL);
		EXEC (@SQL);
	END
END;
GO
