USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spSysRefreshTargetData_LongText_STXL]    Script Date: 3/9/2026 9:14:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* GET STXL FROM Cransoft DATA*/	

CREATE PROCEDURE [dbo].[spSysRefreshTargetData_LongText_STXL]

	@DbNAme NVARCHAR(40) = 'DGDB_PL_EPN_300'
AS

	BEGIN

		DECLARE @SQL NVARCHAR(4000)

						SET @SQL =	'		
							USE ' + @dbName + '		
							IF OBJECT_ID(''ZZZ_STXL'') IS NOT NULL BEGIN DROP TABLE ZZZ_STXL END				
							SELECT * INTO ZZZ_STXL FROM WG0233.dsEP1.dbo.TEXT_SAP_MATERIAL WHERE TDOBJECT = ''MATERIAL''	
					
							IF OBJECT_ID(''STXL'') IS NOT NULL BEGIN DROP TABLE STXL END																
							EXEC sp_rename ''ZZZ_STXL'',''STXL ''
					
							'	
				EXEC (@SQL)
		
	END
GO
