USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spZZZProcessXXAseanPL]    Script Date: 3/9/2026 9:14:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spZZZProcessXXAseanPL]
		@ReprocessSource BIT = 1,
		@ValidateDataFlag BIT = 0,
		@dbName NVARCHAR(40) = 'dgdb_PL_Asean',		
		@tblPrefix NVARCHAR(30) = 'tt'

AS


	SET NOCOUNT on

	DECLARE 
		@TargetDB NVARCHAR(40),
		@TargetTable NVARCHAR(50),
		@RunCode NVARCHAR(50)='ASEAN',
		@trgName NVARCHAR(40),
		@tblID AS INTEGER,
		@srcID INTEGER,
		@SQL NVARCHAR(4000)='',
		@SQL2 NVARCHAR(4000)='',
		@StartDate DATETIME,
		@BatchNumber INTEGER,
		@RunTimeDefaultSource NVARCHAR(255),
		@FieldList NVARCHAR(4000)
		
	DECLARE @Table TABLE ( SQL NVARCHAR(4000))

	SELECT * ,
			0 AS done
		INTO #Target
		FROM dbo.cfTarget INNER JOIN dgdb..[Table] ON trgname = tblTable
		WHERE trgActive = 1

				
		SET @Startdate = GETDATE()


	PRINT CAST('' AS CHAR(21)) + CAST( GETDATE() AS CHAR(30)) + ' - Duration: ' + CAST(DATEDIFF(SECOND,@startDate,GETDATE()) AS NVARCHAR)	
	PRINT '-------------------------------------------------------------------------'
	PRINT ' 1. Create Target Structures based on Dg db'
	PRINT '-------------------------------------------------------------------------'
	
	WHILE (SELECT TOP 1 1 FROM #Target WHERE done = 0 ) = 1
		BEGIN
			SELECT TOP 1 @trgName = trgName
				FROM #Target
				WHERE done = 0 

			SET @TargetTable = @tblPrefix + @trgName
			EXEC  dgDB..spGenGenerateTableFromTableFields @dbName, @trgName,@tblPrefix,1,@FieldList

			UPDATE #Target SET done = 1 WHERE trgName = @trgName 
			SET @SQL = @SQL + 'tt' + @trgName + ', '
		END
	UPDATE #Target SET done = 0
	PRINT ''		
	PRINT CAST('' AS CHAR(21)) + 'Created target Tables (' + @SQL + ') in ' + @dbName

	/* CREATE RunTime Tables from DGDB*/
	EXEC dgdb.dbo.spGenCopyTablesToOtherDB @DBNAme,'RunTime%'

		
	PRINT ''
	PRINT CAST('' AS CHAR(21)) + CAST( GETDATE() AS CHAR(30)) + ' - Duration: ' + CAST(DATEDIFF(SECOND,@startDate,GETDATE()) AS NVARCHAR)	
	PRINT '-------------------------------------------------------------------------'
	PRINT ' 2. Get Selected Sources FROM cfSelectedSources and Fill SAP TargetTables'
	PRINT '-------------------------------------------------------------------------'

	UPDATE cfSelectedSources 
		SET sesPricelIstName = srcName,
		sesPricelistDB = srcSrtCode + srcVendorCode + '_' + srcName
		FROM dbo.cfSelectedSources INNER JOIN dbo.cfSource ON dbo.cfSource.srcID = dbo.cfSelectedSources.sesSRCID
		WHERE sesRunCode = @RunCode

	/*Get the Active Sources*/
	SELECT *,0 AS Done INTO #Sources FROM dbo.cfselectedSources
	WHILE (SELECT TOP 1 1 FROM #Sources WHERE done = 0) = 1
		BEGIN
            SELECT TOP 1 
					@SrcID = sesSRCID,
					@TargetDB = sesPricelistDB 
                FROM #Sources
                WHERE done = 0

				IF @ReprocessSource = 1 -- Reprocess entire source 1st
				BEGIN

				PRINT '***********************************START Reprossesing **************************************'
					EXEC dbo.spProcess10SourceFileProcessing 
						@srcID = @srcID, -- int
					    @Step = 9 -- int
					 
					EXEC dbo.spProcess20ValidateSAPData_Speed
						@srcID = @srcID, -- int
					    @ValidateDataFlag = 1, -- bit
					    @CheckIfInSap = 1, -- bit
					    @SAPDB = 'dgdb_SapData', -- nvarchar(40)
					    @DGValidation = 1, -- smallint
					    @SilentMode = 1 -- bit		

					EXEC dbo.spProcess30AproveSourceFile 
						@srcID = @srcID, -- int
					    @CheckExcludeMaterialsOnly = 0 -- bit					
									 
				PRINT '***********************************END   Reprossesing **************************************'
				END

				/* Get the SAP Target Tables*/
				WHILE (SELECT TOP 1 1 FROM #Target WHERE done = 0 ) = 1
					BEGIN
						SELECT TOP 1 @trgName = trgName, @tblID = tblID
							FROM #Target
							WHERE done = 0 
						
						DELETE FROM @Table						
						SET @TargetTable = @tblPrefix + @trgName

						/* GET all columns from TargetDB SAP Target Tables*/
						SET @SQL2 = 'INSERT INTO ' + @dbName + '..' + @tblPrefix + @trgName + '('
						SET @SQL = 'SELECT COLUMN_NAME, 0 as Done INTO #COLUMNS FROM ' + @TargetDB + '.INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = ''' + @TargetTable + ''';'
						SET @SQL = @SQL + ' DECLARE @COL NVARCHAR(40), @SQL NVARCHAR(900)='''' ;'
						SET @SQL = @SQL + ' WHILE (SELECT TOP 1 1 FROM #COlUMNS WHERE done = 0 ) = 1 '
						SET @SQL = @SQL + ' BEGIN '
						SET @SQL = @SQL + ' SELECT TOP 1 @COL = COLUMN_NAME FROM #COlUMNS WHERE done = 0 '
						SET @SQL = @SQL + ' IF EXISTS ( SELECT 1 FROM dgdb..TableField INNER JOIN dgdb..Field on tbfFldID = fldID WHERE fldName = @COL AND tbfTblID = ' + CAST(@tblID AS NVARCHAR) + ')'
						SET @SQL = @SQL + ' BEGIN '
						SET @SQL = @SQL + ' SET @SQL = @SQL + @COl + '', '''						
						SET @SQL = @SQL + ' END '						
						SET @SQL = @SQL + ' UPDATE #COLUMNS SET Done = 1 WHERE COlumn_Name = @COL '
						SET @SQL = @SQL + ' END '
						SET @SQL = @SQL + ' SELECT @SQL'
						INSERT INTO @Table EXEC (@SQL)
						SELECT @SQL = dgdb.dbo.RegExReplace([SQL],', $','') FROM @Table
						SET @SQL =  @SQL2+ @SQL + ') SELECT ' + @SQL + ' FROM ' + @TargetDB + '..' + @TargetTable + '-- WHERE zActive = 1'						
						EXEC (@SQL)
						PRINT  CAST('' AS CHAR(21)) + 'INSERTED ' + CAST(@@ROWCOUNT AS CHAR(10)) + 'Records FROM  ' + CAST(@TargetDB AS CHAR(30)) +  @TargetTable


						UPDATE #Target SET done = 1 WHERE trgName = @trgName 
						
					END
				UPDATE #Target SET done = 0
			
			PRINT CAST('' AS CHAR(20)) + '------------------------------------------------------------------------'
			UPDATE #Sources SET Done =  1 WHERE sesSRCID = @srcID
			UPDATE dbo.cfSelectedSources SET sesLastUpdate = GETDATE() WHERE sesSRCID = @srcID
		END
	UPDATE #Target SET done = 0

	PRINT ''
	PRINT  CAST('' AS CHAR(21)) + 'ttM:'
	EXEC dgdb..spGenDropOrCheckTable 'ttM', 'dgdb_PL_Asean', 1						-- drop table
	EXEC dgdb_PL_Asean..srM_TargetIns

	
	/* Data validation*/
	SET @RunTimeDefaultSource = @DBNAme + '.dbo'	
	WHILE (SELECT TOP 1 1 FROM #Target WHERE done = 0 ) = 1
		BEGIN
			SELECT TOP 1 @trgName = trgName, @tblID = tblID
				FROM #Target
				WHERE done = 0 
				 
				IF @ValidateDataFlag = 1
					BEGIN						
						PRINT CAST('' AS CHAR(10)) + '-------------------------------------------------------------------------------------------------'
						PRINT CAST('' AS CHAR(22)) + 'DATA VALIDATION Table: ' + @trgName
						SELECT @BatchNumber = DGNumber FROM dgdb_MM..cfProcess WHERE TargetTable = @trgName
						EXEC dgdb..spGenRuleProcessing_001 @Type = N'BATCH', -- nvarchar(20)
									@Number = @BatchNumber, -- int
									@ValidationType = 1, -- smallint
									@UpdateSourceTable = 1, -- smallint
									@zActive = 0, -- bit
									@ValueUpdate = 0, -- bit
									@CheckCheckTable = 1, -- bit
									@RunDescription = '', -- nvarchar(255)
									@DebugMode = 0, -- bit
									@RunTimeDefaultSource = @RunTimeDefaultSource, -- nvarchar(4000)
									@RunTimeDefaultTblPrefix = 'tt', -- nvarchar(4000)
									@IssueDB = @dbName -- nvarchar(40)								
						
						SET @SQL = 'SELECT rtiTableName + '' - '' + rtiFieldName + '' ('' + fldShortDescription + '')'' as Item,rtiComment as Description,COUNT(*) as Records  FROM '
						SET @SQL = @SQL +  + @dbName + '..RunTimeIssue INNER JOIN dgdb..Field ON rtiFieldName = fldName '
						SET @SQL = @SQL + ' WHERE rtiTableName = ''tt' + @trgName + ''' GROUP BY rtiTableName,rtiFieldName, fldShortDescription, rtiComment HAVING Count(*) > 0'							
						EXEC dbo.spGenPrintMessage @SQL
					END
			UPDATE #Target SET done = 1 WHERE trgName = @trgName 						
		END
			
	DROP TABLE #Sources
	DROP TABLE #Target
GO
