USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spProcess27DataStewardChangeReport]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spProcess27DataStewardChangeReport]
	@srcID INT,
	@ShowDetail SMALLINT = 0		--0, 1 OR > 1
AS

BEGIN

	SET NOCOUNT ON	

	DECLARE 	
		@srcName NVARCHAR(40),
		@srcSrtCode NVARCHAR(4),
		@srcVendorCode NVARCHAR(10),
		@srcClient NVARCHAR(3),
		@srcSystem NVARCHAR(3),
		@DBNAme NVARCHAR(40),			
		@SQL NVARCHAR(4000)		

		SELECT	@srcName = srcName,
				@srcSrtCode = srcSrtCode,
				@srcVendorCode = srcVendorCode,
				@srcClient = srcClient,
				@srcSystem = srcSystem
			FROM cfSource
			WHERE srcid = @srcID
		SET @DBName =  @srcSrtCode + @srcVendorCode + '_' + @srcName + '_' + CAST(@srcID AS NVARCHAR)
		

SET @SQL = '

	SELECT TableName ,
			tblShortDescription ,      
			COUNT(1)
		FROM ' + @DBName + '..ttMMChanges
			INNER JOIN dgdb..[Table] ON TableName = tblTable
			INNER JOIN dgdb..Field ON fldName = FieldName
			INNER JOIN dgdb..TableField ON dgDB.dbo.TableField.tbfFldID = dgDB.dbo.Field.fldID AND dgDB.dbo.TableField.tbfTblID = dgDB.dbo.[Table].tblID
		GROUP BY TableName ,
			tblShortDescription         
		ORDER BY TableName


	SELECT TableName ,
			tblShortDescription ,
			fldName ,
			fldShortDescription ,
			tbfSeq,        
			COUNT(1)
		FROM ' + @DBName + '..ttMMChanges
			INNER JOIN dgdb..[Table] ON TableName = tblTable
			INNER JOIN dgdb..Field ON fldName = FieldName
			INNER JOIN dgdb..TableField ON dgDB.dbo.TableField.tbfFldID = dgDB.dbo.Field.fldID AND dgDB.dbo.TableField.tbfTblID = dgDB.dbo.[Table].tblID
		GROUP BY TableName ,
			tblShortDescription ,
			fldName ,
			fldShortDescription ,
			tbfSeq
		ORDER BY TableName,tbfSeq

	' + CASE WHEN CAST(@ShowDetail AS NVARCHAR) IN (0,1) 
		THEN '
			SELECT TableName ,
					tblShortDescription ,
					fldName ,
					fldShortDescription ,
					tbfSeq,
					OldValue ,
					NewValue ,
					COUNT(1)
				FROM ' + @DBName + '..ttMMChanges
					INNER JOIN dgdb..[Table] ON TableName = tblTable
					INNER JOIN dgdb..Field ON fldName = FieldName
					INNER JOIN dgdb..TableField ON dgDB.dbo.TableField.tbfFldID = dgDB.dbo.Field.fldID AND dgDB.dbo.TableField.tbfTblID = dgDB.dbo.[Table].tblID
				GROUP BY TableName ,
					tblShortDescription ,
					fldName ,
					fldShortDescription ,
					tbfSeq,
					OldValue ,
					NewValue
				ORDER BY TableName,tbfSeq'
			ELSE '' END + '

	' + CASE WHEN CAST(@ShowDetail AS NVARCHAR) = 1 
		THEN 'SELECT * FROM ' + @DBName + '..ttMMChanges
			INNER JOIN dgdb..[Table] ON TableName = tblTable
			INNER JOIN dgdb..Field ON fldName = FieldName
			INNER JOIN dgdb..TableField ON dgDB.dbo.TableField.tbfFldID = dgDB.dbo.Field.fldID AND dgDB.dbo.TableField.tbfTblID = dgDB.dbo.[Table].tblID
			ORDER BY TableName,tbfSeq,MATNR '
		 ELSE '' END + '

	'
	EXEC (@SQL)
END
GO
