USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spSysBackupDB_Prev_bkp]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 
-- =============================================
-- Author:		Pradeep Suram
-- Create date: 12 July 2016
-- Description: Backup the datbase <DB> to .BAK file
--				Restore the database <DB> to <DB_OLD>
-- =============================================

-- EXEC [spSysBackupDB_Prev] 1, 'DGDB','\\Wg0218\Backup\', 'E:\MSSQL\Data\', 'J:\MSSQL\Log\'

CREATE PROCEDURE [dbo].[spSysBackupDB_Prev_bkp] 
	@RefreshDGDB			BIT = 1,	--Get the latest version of dgdb from DV0064	
	@DBName					NVARCHAR(40) = 'dgDB_PL',
	@BackupLocation         NVARCHAR(4000) = '\\DV0124\Backup\',
	@MDFilePath				NVARCHAR(50) = 'D:\MSSQL\Data\',
	@LDFilePath				NVARCHAR(50) = 'E:\MSSQL\Log\'
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

BEGIN
	DECLARE 
		@SQL					NVARCHAR(4000)	= '',
		@BackupFile				NVARCHAR(500) = '',
		@DBName_Old             NVARCHAR(40) = '',
		@LogName				NVARCHAR(40) = ''

	IF @RefreshDGDB = 1
		BEGIN
			
			SELECT @BackupFile = @BackupLocation + @DBName + '.bak'
			SELECT @DBName_Old  = @DBName + '_OLD'
			SELECT @LogName = @DBName + '_Log'
			SELECT @MDFilePath	= @MDFilePath + @DBName_Old +  '.mdf'
			SELECT @LDFilePath	= @LDFilePath + @DBName_Old +  '_log.ldf'

			BACKUP DATABASE @DBName TO DISK = @BackupFile
				WITH  COPY_ONLY, NOFORMAT, INIT,  
				SKIP, NOREWIND, NOUNLOAD

			PRINT ''
			PRINT ''
			PRINT '-------------------------------------------------------------------------------------'
			PRINT ''

			SELECT @SQL = 'RESTORE DATABASE ' + @DBName_Old +  ' FROM DISK = ''' + @BackupFile + ''' WITH MOVE ''' + @DBName + ''' to ''' + @MDFilePath + ''',  MOVE ''' + @LogName + ''' to ''' + @LDFilePath + ''', NOUNLOAD, REPLACE, STATS = 10'
		    PRINT @SQL
			EXEC (@SQL)
			  
			PRINT ''
			PRINT ''
			PRINT '-------------------------------------------------------------------------------------'
			PRINT ''
		END

END
GO
