USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spMaterialsReport]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Devika Gouty>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spMaterialsReport]
	
AS
BEGIN
DECLARE @Column1Name VARCHAR(255)
DECLARE @Query VARCHAR(2048)

-- Create the column name with the instrucation in a variable

      SET @Column1Name = '[sep=,' + CHAR(13) + CHAR(10) + 'MATNR]'
 
-- Create the query, concatenating the column name as an alias
SET @Query = 'set nocount on;SELECT MARA.MATNR AS  ' + @Column1Name + ',  MARA.PRDHA, MVKE.PRODH, MVKE.VKORG, MVKE.VMSTA 
      FROM SAP_EP1_RT.dbo.MARA with (nolock) INNER JOIN SAP_EP1_RT.dbo.MVKE with (nolock) ON MVKE.MATNR = MARA.MATNR
      WHERE MVKE.VKORG IN (''6000'',''6100'') AND (MARA.PRDHA = ''10343'' OR MVKE.PRODH = ''10343'')';  

EXEC msdb.dbo.sp_send_dbmail
@profile_name='Email job Alerts',
@recipients='Kirsti.Greep@westcon.com'
,@query=@Query
,@subject='MaterialReport'
,@attach_query_result_as_file=1
,@query_attachment_filename='MaterialReport.csv'
,@query_result_separator=',' --enforce csv
,@query_result_no_padding=1 --trim
,@query_result_width=32767  --stop wordwrap


END









 
  
GO
