USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spSysRefreshTargetData_EQN_WIP]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--exec [spSysRefreshTargetData_EQN_WIP] 'EQN',300
CREATE  PROCEDURE [dbo].[spSysRefreshTargetData_EQN_WIP] 
	@trdSystem	NVARCHAR(3)		='EQN'	,	-- EP1, EQ1,ED1,EQN
	@trdClient	NVARCHAR(3)		='300'	-- 300
AS 

DECLARE @trdSQLLinkedServer		NVARCHAR(40),
		@trdSystemUser			NVARCHAR(40),
		@tblTable				NVARCHAR(40),
		@tblPK					NVARCHAR(255),
		@TblPrefix				NVARCHAR(40)		= 'zTP_',
		@tblTablePrevious		NVARCHAR(40)		='',
		@dbName					NVARCHAR(40)		='',
		@TargetTable			NVARCHAR(40),
		@FieldList				NVARCHAR(2000),
		@FieldListNull			NVARCHAR(2000),
		@SQL					NVARCHAR(4000)		='',		
		@StartDate				DATETIME,
		@StartDate2				DATETIME,
		@RowCount				INTEGER		
		

	SET NOCOUNT ON
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED 	
	SET @StartDate = SYSDATETIME()

    SELECT @dbName = trdDataBase ,
            @trdSQLLinkedServer = trdSQLLinkedServer,
			@trdSystemUser = trdSystemUser
        FROM cfTargetData
        WHERE trdSystem = @trdSystem
            AND trdClient = @trdClient	

	IF @dbName = ''
		BEGIN
			PRINT 'System not set-up in table cfTargetData'
			RETURN
		END
	
    IF NOT EXISTS ( SELECT * FROM sys.servers WHERE name = @trdSQLLinkedServer )
        BEGIN
            PRINT 'Linked server ' + @trdSQLLinkedServer + ' does not exist on the ' + @@SERVERNAME + ' SQL Server'
            RETURN
        END
	
	IF NOT EXISTS (SELECT name FROM master..sysdatabases WHERE name = @DBName)
		BEGIN						
			SET @SQL = 'CREATE DATABASE ' + @DBName + '
				ON 
				( NAME = ' + @DBName + ',
					FILENAME = ''E:\MSSQL\data\' + @DbName + '.mdf'',
					SIZE = 50,	
					MAXSIZE = UNLIMITED,				
					FILEGROWTH = 50 )
				LOG ON
				( NAME = ' + @DBName + '_log,
					FILENAME = ''J:\MSSQL\LOG\' + @DbName + 'log.ldf'',
					SIZE = 50MB,	
					MAXSIZE = UNLIMITED,				
					FILEGROWTH = 50MB );
				ALTER DATABASE ' + @DBName + ' SET RECOVERY SIMPLE;' 
			PRINT @SQL
			EXEC( @SQL)
		END 
	PRINT ''	
		
	INSERT INTO dgdb_PL..SAPDataRefreshLog VALUES (@trdSystem,@trdClient,'Start',0,CAST(DATEDIFF(SECOND,@startDate,GETDATE()) AS NVARCHAR),'',SYSUTCDATETIME(),SYSTEM_USER)						

		SELECT TOP 100 PERCENT tblTable,tblPK,0 AS Done INTO #Tables 		
			FROM dgdb..[Table] 
			INNER JOIN dgDB.dbo.TableField ON dgDB.dbo.TableField.tbfTblID = dgDB.dbo.[Table].tblID
			INNER JOIN dgDB.dbo.Field ON dgDB.dbo.Field.fldID = dgDB.dbo.TableField.tbfFldID
			INNER JOIN dgdb..DataType ON dgDB.dbo.DataType.dtyCode = dgDB.dbo.Field.fldDtyCode
	--WHERE tblTable IN ('MARC') AND tbfTffCode = 'GOV'
	--WHERE tblTable IN ('TVKO','T001','TSTL') AND tbfTffCode = 'GOV'
	WHERE tblTable IN ('MARA','MAKT','MATERIALID') AND tbfTffCode = 'GOV'
	--WHERE tblTable IN ('MARC') AND tbfTffCode = 'GOV'
	   --WHERE tblTable IN ('T179t') AND tbfTffCode = 'GOV'
		ORDER BY tblProcessSequence ASC ,
			tbfSeq

		/* GET STXL FROM Cransoft DATA*/	
				SET @SQL =	'
				DECLARE @RecordCount1 INT,@RecordCount2 INT
				SELECT @RecordCount1 = COUNT(1) FROM ' + @dbName + '..STXL
				SELECT @RecordCount2 = COUNT(1) FROM WG0096.dgprd.dbo.TEXT_SAP_MATERIAL WHERE TDOBJECT = ''MATERIAL''		
				IF @RecordCount1 < @RecordCount2
					BEGIN
						IF OBJECT_ID(''' + @dbName + '..STXL'') IS NOT NULL BEGIN DROP TABLE ' + @dbName + '..STXL END				
						SELECT * INTO ' + @dbName + '..STXL FROM WG0096.dgprd.dbo.TEXT_SAP_MATERIAL WHERE TDOBJECT = ''MATERIAL''													
					END					
					'	
		 EXEC (@SQL)
		PRINT 'STXL - SQL: ' + CAST(@@Rowcount AS CHAR(10)) + '  ' + @SQL

		/*Create Table Structure*/		
		WHILE (SELECT TOP 1 1 FROM #Tables WHERE Done = 0 ) = 1
				BEGIN
					SELECT TOP 1 @tblTable = tblTable,@tblPK = REPLACE(dgdb.dbo.RegExReplace(tblPK,'{tblPrefix}|{Source}',''),@tblTable + '.','') FROM #Tables WHERE Done = 0							
					SET @TargetTable = @TblPrefix + @tblTable
					SET @StartDate2 = SYSDATETIME()
					BEGIN TRY
							SET @RowCount = 0
							EXEC dgdb..spGenDropOrCheckTable @TargetTable,@DBName,1							
							EXEC dgdb..spGenGenerateTableFromTableFields
								@DbName = @dbName, -- nvarchar(40)
								@TableName = @tblTable, -- nvarchar(40)
								@tblPrefix = @TblPrefix, -- nvarchar(40)
								@ProcessType = 5, -- Return FieldList For GOV Fields only
								@FieldList = @FieldList OUTPUT--OUTPUT Paramater
								/*GET LATEST DATA*/
								/*todo adjust client number*/
								SET @SQL =  'SELECT * INTO ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' FROM OPENQUERY ([' + @trdSQLLinkedServer + '],'' SELECT ' + @FieldList + ' FROM ' + @trdSystemUser + '.' + @tblTable 
								SET @SQL = @SQL + CASE WHEN @tblTable NOT IN ('ATAB') THEN ' WHERE MANDT = ''''300''''' ELSE '' END											
								--SET @SQL =  'SELECT * INTO ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' FROM OPENQUERY ([' + @trdSQLLinkedServer + '],'' SELECT ' + @FieldList + ' FROM ' + @trdSystemUser + '.' + @tblTable + ' WHERE MATNR = ''''S802RK9W8-12423JA'''''')'																			
								SELECT @SQL =
									CASE @tblTable
										WHEN 'A017' THEN @SQL + ' AND DATBI > VARCHAR_FORMAT(CURRENT DATE, ''''YYYYMMDD'''')'')'
										WHEN 'ATAB' THEN @SQL + ' WHERE TABNAME IN (''''TSTL'''')'')'			-- PoolTable TSTL Tax Data
										WHEN 'AUSP' THEN REPLACE(@SQL,', TRIM(zLIFNR) AS zLIFNR, TRIM(zMATNR) AS zMATNR','') + ' AND ATINN IN (''''0000000005'''',''''0000000006'''')'')'
										WHEN 'KONP' THEN @SQL + ' AND KSCHL IN (''''ZW01'''',''''ZWCP'''',''''PB00'''')'')'
										WHEN 'A914' THEN @SQL + ' AND KSCHL IN (''''ZW01'''',''''ZWCP'''') AND DATBI > VARCHAR_FORMAT(CURRENT DATE, ''''YYYYMMDD'''')'')'
										WHEN 'MARM' THEN @SQL + ' AND MEINH NOT IN (''''EA'''')'')'
										WHEN 'MARC' THEN @SQL + ' AND WERKS NOT BETWEEN ''''2000'''' AND ''''2014'''''')'
										WHEN 'MBEW' THEN @SQL + ' AND BWKEY NOT BETWEEN ''''2000'''' AND ''''2014'''''')'
										WHEN 'MARD' THEN @SQL + ' AND WERKS NOT BETWEEN ''''2000'''' AND ''''2014'''''')'
										WHEN 'EINE' THEN @SQL + ' AND WERKS NOT BETWEEN ''''2000'''' AND ''''2014'''''')'
										WHEN 'EORD' THEN @SQL + ' AND WERKS NOT BETWEEN ''''2000'''' AND ''''2014'''' AND BDATU >= VARCHAR_FORMAT(CURRENT DATE, ''''YYYYMMDD'''')'')'
                                        ELSE @SQL + ''')'									
									END
								
								PRINT @tblTable + ' - SQL:' +  @SQL
								--EXEC (@SQL)
								SET @RowCount = @@ROWCOUNT

								
								/*Apply indexes*/
								SET @SQL = 'SELECT *,0 as Done INTO #TMP FROM dgdb_PL..cfTargetTableIndex WHERE triTrgName = ''' + @tblTable + ''';'
								SET @SQL = @SQL + 'DECLARE @ID INT,@Fields as NVARCHAR(1000), @Unique NVARCHAR(10), @SQL NVARCHAR(250);'
								SET @SQL = @SQL + 'WHILE (SELECT TOP 1 1 FROM #TMP WHERE done = 0) = 1 BEGIN '
								SET @SQL = @SQL + 'SELECT TOP 1 @ID = triID, @Fields = triIndexFields,@Unique = CASE WHEN triUnique = 1 THEN ''UNIQUE'' ELSE '''' END FROM #TMP WHERE done = 0;'
								SET @SQL = @SQL + 'SET @SQL = ''CREATE '' + @Unique + '' INDEX IX_'' + REPLACE(@Fields,'','',''_'') + '' ON '+ @dbName + '..' + @TblPrefix + @tblTable + '('' + @Fields + '')'';'  
								SET @SQL = @SQL + 'EXEC (@SQL); UPDATE #TMP SET Done = 1 WHERE triID =  @ID ; END'								
								EXEC (@SQL)
								

								/*Table Specific POST Processing*/
									IF @tblTable = 'ATAB'   -- PoolTable
										BEGIN
											/*Generate ppoltable TSTL*/
											EXEC dgdb..spGenDropOrCheckTable 'TSTL',@DBName,1							
											SET @SQL = 'SELECT SUBSTRING(VARKEY,4,2) AS TALND, SUBSTRING(VARKEY,7,1) AS LFDNR,dgdb.dbo.fnhextoascii(CONVERT(NVARCHAR,VARDATA,1)) AS TATYP INTO ' + @dbName + '..TSTL '
											SET @SQL = @SQL + 'FROM ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' WHERE TABNAME = ''TSTL'' AND LEFT(VARKEY,3) = ''300'''											
											EXEC (@SQL)
										END


									IF @tblTable = 'AUSP'
										BEGIN
											SET @SQL = 'ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD LIFNR NVARCHAR(10);'
											SET @SQL = @SQL + 'ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD MATNR NVARCHAR(18);'
											EXEC(@SQL)
											SET @SQL = 'UPDATE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' SET LIFNR = SUBSTRING(OBJEK,19,10), MATNR = LEFT(RTRIM(OBJEK),18);'
											EXEC (@SQL)										
											SET @SQL = 'UPDATE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' SET LIFNR =  dgdb.dbo.RegExReplace(LIFNR,''^0*'','''');'				--Replace leading zero's																
											EXEC (@SQL)
											SET @SQL = 'DELETE FROM ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' WHERE OBJEK = '''';'				--Replace leading zero's																
											EXEC (@SQL)										
										END

									IF @tblTable = 'TCURR'
										BEGIN
											EXEC dbo.spSysRefreshTargetDataFXRates @dbName											
											
											SET @SQL = 'ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD FXDATE NVARCHAR(10);'											
											EXEC(@SQL)
											SET @SQL = 'UPDATE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' SET FXDATE = 99999999 - GDATU;'
											EXEC (@SQL)										
											/* inverted rates needed for SGP - USD, so added all*/
											SET @SQL = 'INSERT INTO ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ( KURST,FCURR ,TCURR ,GDATU ,UKURS ,FXDATE) 
													SELECT KURST ,TCURR , FCURR ,GDATU , 1/UKURS , FXDATE  
													FROM ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' WHERE TCURR + FCURR NOT IN (SELECT FCURR + TCURR FROM ' + @dbName + '..' + @TblPrefix + @tblTable  +  ')'
											EXEC (@SQL)											
											SET @SQL = 'INSERT INTO ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ( KURST,FCURR ,TCURR ,GDATU ,UKURS ,FXDATE) SELECT ''M'',''USD'',''USD'','''',1,'''''
											EXEC (@SQL)
										END

									IF @tblTable = 'MARA'
										BEGIN
											SET @SQL = 'UPDATE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' SET VOLEH =  ''CM3'' WHERE VOLEH = ''CCM'';'				--SAP stores input VALUE CM3 as CCM in the SAP DB
											EXEC (@SQL)
											SET @SQL = 'ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD zShortDescription NVARCHAR(40);'											
											EXEC(@SQL)
											SET @SQL = 'UPDATE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' SET zShortDescription = MAKTX FROM ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' INNER JOIN ' + @dbName + '..' + @TblPrefix + 'MAKT ON ' + @TblPrefix + 'MARA.MATNR = ' + @TblPrefix + 'MAKT.MATNR;'
											EXEC (@SQL)										
										END

									IF @tblTable = 'MARC'
										BEGIN
											SET @SQL = 'UPDATE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' SET PRCTR =  SUBSTRING(PRCTR, PATINDEX(''%[^0]%'', PRCTR+''.''), LEN(PRCTR));'				--Remove leading zero's
											EXEC (@SQL)
										END

									--IF @tblTable = 'MVKE'
									--	BEGIN
									--		SET @SQL = 'ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ALTER COLUMN AUMNG NUMERIC(13,3)'				--Remove leading zero's
									--		EXEC (@SQL)
									--	END

									IF @tblTable IN ('EINA','EORD','LFA1','LFM1','LFB1')
										BEGIN
											SET @SQL = 'UPDATE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' SET LIFNR =  SUBSTRING(LIFNR, PATINDEX(''%[^0]%'', LIFNR+''.''), LEN(LIFNR));'				--Remove leading zero's
											EXEC (@SQL)
										END

									IF @tblTable = 'KONP' --proff services priceing conditions
										BEGIN										
											SET @SQL = 'ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD zMATNR NVARCHAR(18);
														ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD zLIFNR NVARCHAR(10);
														ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD zWERKS NVARCHAR(4);
														ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD zVKORG NVARCHAR(4);
														ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD zTable NVARCHAR(10);
														'											
											EXEC(@SQL)											
											SET @SQL = 'UPDATE ' + @dbName + '..' + @TblPrefix + 'KONP SET zTable = ''A914'',zMATNR = MATNR, zVKORG = VKORG FROM '  + @dbName + '..' + @TblPrefix + 'KONP A INNER JOIN ' + @dbName + '..' + @TblPrefix + 'A914 B ON A.KNUMH = B.KNUMH AND A.KSCHL = B.KSCHL;'											
											EXEC (@SQL)	
											SET @SQL = 'UPDATE ' + @dbName + '..' + @TblPrefix + 'KONP SET zTable = ''A017'',zMATNR = MATNR, zLIFNR = dgdb.dbo.RegExReplace(LIFNR,''^0+'',''''),ZWERKS = WERKS FROM '  + @dbName + '..' + @TblPrefix + 'KONP A INNER JOIN ' + @dbName + '..' + @TblPrefix + 'A017 B ON A.KNUMH = B.KNUMH AND A.KSCHL = ''PB00'''											
											EXEC (@SQL)	
											SET @SQL = 'DELETE ' + @dbName + '..' + @TblPrefix + 'KONP WHERE ZLIFNR IS NULL AND zVKORG IS NULL'											
											EXEC (@SQL)
											SET @SQL = 'CREATE INDEX IX_KeyFields_KONP ON ' + @dbName + '..' + @TblPrefix + 'KONP (ZLIFNR,ZWERKS,ZMATNR)'
											EXEC (@SQL)
										END

									
									IF @tblTable = 'STKO' --BOM Bundles Header
										BEGIN										
											SET @SQL = 'ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD zMATNR NVARCHAR(18);ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD zSTLAN NVARCHAR(1);'											
											EXEC(@SQL)											
											SET @SQL = 'UPDATE ' + @dbName + '..' + @TblPrefix + 'STKO SET zMATNR = MATNR, zSTLAN = STLAN FROM '  + @dbName + '..' + @TblPrefix + 'STKO A INNER JOIN ' + @dbName + '..' + @TblPrefix + 'MAST B ON A.STLNR = B.STLNR;'											
											EXEC (@SQL)												
										END
							
											IF @tblTable = 'STPO' --Bundles
										BEGIN										
											SET @SQL = 'ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD zWERKS NVARCHAR(4);ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD zMATNR NVARCHAR(18);'	
											EXEC(@SQL)											
											SET @SQL = 'UPDATE ' + @dbName + '..' + @TblPrefix + 'STPO SET zMATNR = MATNR,zWERKS = WERKS FROM '  + @dbName + '..' + @TblPrefix + 'STPO A INNER JOIN ' + @dbName + '..' + @TblPrefix + 'MAST B ON A.STLNR = B.STLNR;'											
											EXEC (@SQL)												
										END												
													
									
								/* SEt zCheckSUM*/
								EXEC dgdb..spGenGenerateTableFromTableFields
								@DbName = @dbName, -- nvarchar(40)
								@TableName = @tblTable, -- nvarchar(40)
								@tblPrefix = @TblPrefix, -- nvarchar(40)
								@ProcessType = 6, -- Return FieldList For GOV Fields only
								@FieldList = @FieldListNull OUTPUT--OUTPUT Paramater
								SET @SQL = 'ALTER TABLE ' + @dbName + '.dbo.' + @TblPrefix + @tblTable + ' ADD zCheckSum BINARY(16);'											
								EXEC (@SQL)

								SET @FieldListNULL = REPLACE(@FieldListNull,'),',')+') 
								SET @SQL = 'UPDATE ' + @dbName + '.dbo.' + @TblPrefix  + @tblTable + ' SET zCHECKSUM = HASHBYTES(''MD5'',' + @FieldListNull + ');'											
								EXEC (@SQL)
								SET @SQL = 'CREATE INDEX  UIX_zCHECKSUM_' + @tblTable + ' ON ' + @dbName + '.dbo.' + @TblPrefix  + @tblTable + ' (zCHECKSUM)'								
								EXEC (@SQL)

								
																								
								INSERT INTO dgdb_PL..SAPDataRefreshLog VALUES (@trdSystem,@trdClient,@tblTable,@ROWCOUNT,CAST(DATEDIFF(SECOND,@startDate2,GETDATE()) AS NVARCHAR),'',SYSUTCDATETIME(),SYSTEM_USER)						
					END TRY

					BEGIN CATCH			
						PRINT 'ERROR - ' + ERROR_MESSAGE() + ISNULL(@SQL,'NO SQL')
						INSERT INTO dgdb_PL..SAPDataRefreshLog VALUES (@trdSystem,@trdClient,@tblTable,@ROWCOUNT,CAST(DATEDIFF(SECOND,@startDate2,GETDATE()) AS NVARCHAR),ERROR_MESSAGE()  + '  - '	+	@SQL,SYSUTCDATETIME(),SYSTEM_USER)												
					END CATCH
                    
					UPDATE #Tables SET done = 1 WHERE tblTable = @tblTable

				END

			/*RENAME TMP_ AND DROP Previous version*/
			SET @SQL = 'DECLARE @tblTable NVARCHAR(50), @TargetTable NVARCHAR(50),@SQL NVARCHAR(1000);'
			SET @SQL = @SQL + 'WHILE (SELECT TOP 1 1 FROM ' + @dbName + '.INFORMATION_SCHEMA.tables WHERE LEFT(TABLE_NAME,4) = ''' + @TblPrefix + ''') = 1 '
			SET @SQL = @SQL + 'BEGIN '
			SET @SQL = @SQL + '	BEGIN TRY '
			SET @SQL = @SQL + '		SELECT TOP 1 @tblTable = TABLE_NAME FROM ' + @dbName + '.INFORMATION_SCHEMA.tables WHERE LEFT(TABLE_NAME,4) = ''' + @TblPrefix + ''';'			
			SET @SQL = @SQL + 'SET @TargetTable = REPLACE(@tblTable,''' + @TblPrefix + ''','''');' 											
			SET @SQL = @SQL + 'SET @SQL = ''USE ' + @dbName + ';IF OBJECT_ID('''''' + @TargetTable+ '''''') IS NOT NULL BEGIN DROP TABLE '' + REPLACE(@tblTable,''' + @TblPrefix + ''','''') + '' END''; '											
			SET @SQL = @SQL + 'EXEC (@SQL);'				
			SET @SQL = @SQL + 'SET @SQL = ''USE ' + @dbName + ';EXEC sp_rename '' + @tblTable + '', '' + @TargetTable;'	
			SET @SQL = @SQL + 'EXEC (@SQL);'		
			SET @SQL = @SQL + 'END TRY '
			SET @SQL = @SQL + 'BEGIN CATCH '
			SET @SQL = @SQL + 'INSERT INTO dgdb_PL..SAPDataRefreshLog VALUES (''' + @trdSystem + ''', ''' + @trdClient + ''', @tblTable,0,0,''Rename Failed: '' + ERROR_MESSAGE()  + ''  - ''	+	@SQL,SYSUTCDATETIME(),SYSTEM_USER);'
			SET @SQL = @SQL + 'END CATCH '
			SET @SQL = @SQL + 'END;'			
			EXEC (@SQL)

			PRINT @SQL
			
			SET @StartDate2 = SYSDATETIME()
			INSERT INTO dgdb_PL..SAPDataRefreshLog VALUES (@trdSystem,@trdClient,'Drop & Rename Finished',0,CAST(DATEDIFF(SECOND,@startDate2,GETDATE()) AS NVARCHAR),'',SYSUTCDATETIME(),SYSTEM_USER)			
				

							
			IF OBJECT_ID('tempdb..#SAPTableFields') IS NOT NULL BEGIN DROP TABLE #SAPTableFields END				
			IF OBJECT_ID('tempdb..#Tables') IS NOT NULL BEGIN DROP TABLE #Tables END	

			INSERT INTO dgdb_PL..SAPDataRefreshLog VALUES (@trdSystem,@trdClient,'Finished',0,CAST(DATEDIFF(SECOND,@startDate,GETDATE()) AS NVARCHAR),'',SYSUTCDATETIME(),SYSTEM_USER)						












GO
