USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spCheckBatchMDM_MM_Obsoletes]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* 
June 2016
jan vb

Process creates Obsolete update tables in dgdb_PL_ScheduledJobs for use with DGDB_Adhoc
Removes obsolete products from DGDB rules checks

*/

CREATE PROCEDURE [dbo].[spCheckBatchMDM_MM_Obsoletes] AS

SET NOCOUNT ON 
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

BEGIN

	IF OBJECT_ID('tempdb..#TRANS') IS NOT NULL BEGIN DROP TABLE #TRANS END
	IF OBJECT_ID('dgdb_PL_ScheduledJobs..ObsoletesWith_Z4_MARC') IS NOT NULL BEGIN DROP TABLE dgdb_PL_ScheduledJobs..ObsoletesWith_Z4_MARC END
	IF OBJECT_ID('dgdb_PL_ScheduledJobs..ObsoletesWith_Z4_MVKE') IS NOT NULL BEGIN DROP TABLE dgdb_PL_ScheduledJobs..ObsoletesWith_Z4_MVKE END
	IF OBJECT_ID('dgdb_PL_ScheduledJobs..ObsoletesWith_Z4_Adhoc_MARC') IS NOT NULL BEGIN DROP TABLE dgdb_PL_ScheduledJobs..ObsoletesWith_Z4_Adhoc_MARC END
	IF OBJECT_ID('dgdb_PL_ScheduledJobs..ObsoletesWith_Z4_Adhoc_MVKE') IS NOT NULL BEGIN DROP TABLE dgdb_PL_ScheduledJobs..ObsoletesWith_Z4_Adhoc_MVKE END
	IF OBJECT_ID('dgdb_PL_ScheduledJobs..ObsoletesWith_Z4_Adhoc_MARC_MVKE') IS NOT NULL BEGIN DROP TABLE dgdb_PL_ScheduledJobs..ObsoletesWith_Z4_Adhoc_MARC_MVKE END

	IF OBJECT_ID('tempdb..#MARC') IS NOT NULL BEGIN DROP TABLE #MARC END
	IF OBJECT_ID('tempdb..#MVKE') IS NOT NULL BEGIN DROP TABLE #MVKE END
	IF OBJECT_ID('tempdb..#MARA') IS NOT NULL BEGIN DROP TABLE #MARA END
	
	
	/*Obsolete Z4 > Z5 process*/
    
			CREATE TABLE #TRANS (MATNR NVARCHAR(18),WERKS NVARCHAR(4),VKORG NVARCHAR(4))
			INSERT INTO #TRANS (MATNR,WERKS) SELECT DISTINCT MATNR,WERKS FROM WG0233.dsEP1.dbo.ZZZ_OPEN_PO WITH (NOLOCK) 
			INSERT INTO #TRANS (MATNR,WERKS) SELECT DISTINCT MATNR,WERKS FROM WG0233.dsEP1.dbo.ZZZ_OPEN_SO WITH (NOLOCK) WHERE MATNR + WERKS NOT IN (SELECT MATNR + WERKS FROM #TRANS)
			INSERT INTO #TRANS (MATNR,WERKS) SELECT DISTINCT MATNR,BWKEY FROM WG0233.dsEP1.dbo.MBEW WITH (NOLOCK) WHERE LBKUM > 0 AND MATNR + BWKEY NOT IN (SELECT MATNR + WERKS FROM #TRANS)
			UPDATE #TRANS SET VKORG =  W.VKORG FROM #TRANS T INNER JOIN dgdb_PL_EPN_300..T001W W WITH (NOLOCK) ON W.WERKS = T.WERKS
		
		/*MARC with Z4*/
			SELECT M.MATNR
				  , T.WERKS
				  , T.VKORG          
				  , CASE WHEN tr.MATNR IS NULL THEN 0 ELSE 1 END AS HasTransActions
				INTO dgdb_PL_ScheduledJobs..ObsoletesWith_Z4_MARC
				FROM dgdb_PL_EPN_300..MARC M WITH (NOLOCK)
					INNER JOIN dgdb_PL_EPN_300..T001W T WITH (NOLOCK) ON T.WERKS = M.WERKS
					LEFT OUTER JOIN #TRANS TR WITH (NOLOCK) ON TR.MATNR = M.MATNR AND TR.WERKS = M.WERKS
				WHERE MMSTA IN ('Z4');
			PRINT CAST('Z4 MARC Trans' AS CHAR(50)) + CAST(@@ROWCOUNT AS NVARCHAR)

		/*MVKE with Z4*/
			SELECT  M.MATNR          
				  , M.VKORG          
				  , CAST(0 AS BIT)  AS HasTransActions
				INTO dgdb_PL_ScheduledJobs..ObsoletesWith_Z4_MVKE
				FROM dgdb_PL_EPN_300..MVKE M WITH (NOLOCK)            						
				WHERE VMSTA IN ('Z4')
				GROUP BY M.MATNR,M.VKORG
			UPDATE M SET HasTransActions =  1 FROM dgdb_PL_ScheduledJobs..ObsoletesWith_Z4_MVKE M INNER JOIN #TRANS TR WITH (NOLOCK) ON TR.MATNR = M.MATNR AND TR.VKORG = M.VKORG
			PRINT CAST('Z4 MVKE Trans' AS CHAR(50)) + CAST(@@ROWCOUNT AS NVARCHAR)
	   
	   /* Upload file adhoc MVKE & MARC*/
			SELECT M.MATNR
				  , M.WERKS
				  , M.VKORG
				  , 'Z5' AS MMSTA
				  , CONVERT(NVARCHAR, GETDATE(), 112) AS MMSTD
				INTO dgdb_PL_ScheduledJobs..ObsoletesWith_Z4_Adhoc_MARC_MVKE
				FROM dgdb_PL_ScheduledJobs..ObsoletesWith_Z4_MARC M
					INNER JOIN dgdb_PL_ScheduledJobs..ObsoletesWith_Z4_MVKE V ON m.MATNR = V.MATNR AND M.VKORG = V.VKORG
				WHERE M.HasTransActions = 0 AND V.HasTransActions = 0
			PRINT CAST('Z4 Adhoc MARC & MVKE' AS CHAR(50)) + CAST(@@ROWCOUNT AS NVARCHAR)

		/* Upload file adhoc MARC*/
			SELECT MATNR
				  , WERKS
				  , '' AS VKORG
				  , 'Z5' AS MMSTA
				  , CONVERT(NVARCHAR, GETDATE(), 112) AS MMSTD
				INTO dgdb_PL_ScheduledJobs..ObsoletesWith_Z4_Adhoc_MARC
				FROM dgdb_PL_ScheduledJobs..ObsoletesWith_Z4_MARC 				
				WHERE HasTransActions = 0 AND MATNR + WERKS NOT IN ( SELECT MATNR + WERKS FROM dgdb_PL_ScheduledJobs..ObsoletesWith_Z4_Adhoc_MARC_MVKE)
			PRINT CAST('Z4 Adhoc MARC Only' AS CHAR(50)) + CAST(@@ROWCOUNT AS NVARCHAR)

		/* Upload file adhoc MVKE*/
			SELECT MATNR
				  , '' AS WERKS
				  , VKORG
				  , 'Z5' AS MMSTA
				  , CONVERT(NVARCHAR, GETDATE(), 112) AS MMSTD
				INTO dgdb_PL_ScheduledJobs..ObsoletesWith_Z4_Adhoc_MVKE
				FROM dgdb_PL_ScheduledJobs..ObsoletesWith_Z4_MVKE			
				WHERE HasTransActions = 0 AND MATNR + VKORG NOT IN ( SELECT MATNR + VKORG FROM dgdb_PL_ScheduledJobs..ObsoletesWith_Z4_Adhoc_MARC_MVKE)
			PRINT CAST('Z4 Adhoc MARC Only' AS CHAR(50)) + CAST(@@ROWCOUNT AS NVARCHAR)


	/*Obsolete materials TO exclude*/

			SELECT MATNR
				  , T.WERKS
				  , T.VKORG
				  , CAST(0 AS BIT) AS MVKE
				  , CAST(0 AS BIT) AS PlantsNotBlocked
				INTO #MARC
				FROM dgdb_PL_EPN_300..MARC WITH (NOLOCK)
					INNER JOIN dgdb_PL_EPN_300..T001W T WITH (NOLOCK) ON T.WERKS = MARC.WERKS
				WHERE LVORM = 'X'
					OR MMSTA IN ('Z4','Z5');
			PRINT CAST('obsolete MARC' AS CHAR(50)) + CAST(@@ROWCOUNT AS NVARCHAR)

			SELECT MATNR
				  , VKORG
				  , CAST(0 AS BIT) AS MARC
				INTO #MVKE
				FROM dgdb_PL_EPN_300..MVKE WITH (NOLOCK)
				WHERE LVORM = 'X'
					OR VMSTA IN ('Z4','Z5');
			PRINT CAST('obsolete MVKE' AS CHAR(50)) + CAST(@@ROWCOUNT AS NVARCHAR)


			UPDATE #MARC
				SET MVKE = 1
				FROM #MARC C
					INNER JOIN #MVKE V ON V.MATNR = C.MATNR
										  AND V.VKORG = C.VKORG;
			PRINT CAST('MARC & MVKE absolete' AS CHAR(50)) + CAST(@@ROWCOUNT AS NVARCHAR)

			UPDATE #MVKE
				SET MARC = 1
				FROM #MARC C
					INNER JOIN #MVKE V ON V.MATNR = C.MATNR
										  AND V.VKORG = C.VKORG;
			PRINT CAST('MVKE & MARC absolete' AS CHAR(50)) + CAST(@@ROWCOUNT AS NVARCHAR)

			UPDATE A
				SET A.PlantsNotBlocked = 1
				FROM #MARC A
					INNER JOIN dgdb_PL_EPN_300..MARC B WITH (NOLOCK) ON B.MATNR = A.MATNR
														  AND B.WERKS <> A.WERKS
														  AND B.MMSTA IN ('Z4','Z5')
														  AND B.LVORM <> 'X'
														  AND A.MVKE = 1;
			PRINT CAST('PlantsNotBlocked = 1' AS CHAR(50)) + CAST(@@ROWCOUNT AS NVARCHAR)

			SELECT DISTINCT MATNR
				INTO #MARA
				FROM #MARC
				WHERE PlantsNotBlocked = 0;
			PRINT CAST('Obsolete MARA' AS CHAR(50)) + CAST(@@ROWCOUNT AS NVARCHAR)

			DELETE FROM dgdb_PL_ScheduledJobs..spCheckBatchMDM_MM_Results WHERE pk1 IN (SELECT MATNR FROM #MARA)
			DELETE FROM dgdb_PL_ScheduledJobs..spCheckBatchMDM_MM_Results WHERE TableName IN ('MARC','MARD','EORD','EINE','MBEW') AND pk1+Pk2 IN (SELECT MATNR+WERKS FROM #MARC)
			DELETE FROM dgdb_PL_ScheduledJobs..spCheckBatchMDM_MM_Results WHERE TableName IN ('MVKE') AND pk1+Pk2 IN (SELECT MATNR+VKORG FROM #MVKE)

			SELECT * FROM dgdb_PL_ScheduledJobs..vspCheckBatchMDM_MM_Results ORDER BY TableName,tbfSeq,FieldName
	
END;
GO
