USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spSysAdjustOverrideTable]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spSysAdjustOverrideTable] AS

SET NOCOUNT ON 

DECLARE @Name AS NVARCHAR(40),
		@SQL NVARCHAR(4000),
		@TableName NVARCHAR(255)
DECLARE @TableCount TABLE (TableName NVARCHAR(255))

SELECT 0 AS done,* INTO #TMP FROM sys.databases 

WHILE (SELECT TOP 1 1 FROM #TMP WHERE done = 0) = 1
	BEGIN
		SELECT TOP 1 @Name = name FROM #TMP WHERE done = 0

		IF LEFT(@Name,3) = 'VPL' AND @name <> 'VPL10005_CheckpointASEAN_3'
			BEGIN
				SET @SQL = 'SELECT TOP 1 TABLE_NAME  FROM ' + @Name + '.INFORMATION_SCHEMA.tables WHERE TABLE_NAME LIKE ''%_Override'''
				DELETE FROM @TableCount
				INSERT INTO @TableCount EXEC (@SQL)
				IF @@ROWCOUNT > 0   
					BEGIN
						SELECT @TableName = TableName FROM @TableCount
						SET @SQL = 'USE ' + @Name + '; DROP TABLE ' + @TableName
						--   SP_RENAME ''' + @TableName + '.zProdTypeCode'', ''ProdTypeCode'', ''COLUMN''; SP_RENAME ''' + @TableName + '.MARA_MFRPN'', ''SAPMaterial'', ''COLUMN'''
						PRINT @SQL 
						--EXEC (@SQL)
					END
				END
		
		UPDATE #TMP SET DOne = 1 WHERE name = @Name
	END

DROP TABLE #TMP


GO
