USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spSysRefreshTargetData_New_AdhocRefresh]    Script Date: 3/9/2026 9:14:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spSysRefreshTargetData_New_AdhocRefresh]

		@srcID						INTEGER			= 422,		
		@Fast						BIT				= 1,				
		@BatchSeize					INTEGER			= 35	

AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

BEGIN

		DECLARE 
			@DBName					NVARCHAR(80),
			@Table					NVARCHAR(80),
			@LocalSAPDB				NVARCHAR(60) ,
			@SAPDB					NVARCHAR(80),
			@SAPSQLLinkedServer		NVARCHAR(40),
			@SAPServer				NVARCHAR(3)	,		
			@tblPrefix				NVARCHAR(10)	= 'ZZZZZ_',
			@SQL					NVARCHAR(4000),
			@SQL2					NVARCHAR(4000),
			@SQL3					NVARCHAR(4000),
			@SQL4					NVARCHAR(4000)
			

	SET @DBName = dbo.fnGetVPLName(@srcID)
	SET @LocalSAPDB = @DBName + '_SAPData'	
			

	SELECT @SAPServer = srcSystem FROM dbo.cfSource WHERE srcID = @srcID
	SELECT TOP 1 @SAPSQLLinkedServer = trdSQLLinkedServer,
				@SAPDB = trdDatabase 
			FROM cfTargetData WHERE trdSystem = @SAPServer
	
	/*Create Database For SAPDATA*/
	IF NOT EXISTS (SELECT name FROM master..sysdatabases WHERE name = @LocalSAPDB)
			BEGIN						
				SET @SQL = 'CREATE DATABASE ' + @LocalSAPDB + '
					ON 
					( NAME = ' + @LocalSAPDB + ',
						FILENAME = ''F:\MSSQL\data\' + @LocalSAPDB + '.mdf'',
						SIZE = 50,	
						MAXSIZE = UNLIMITED,				
						FILEGROWTH = 50 )
					LOG ON
					( NAME = ' + @LocalSAPDB + '_log,
						FILENAME = ''F:\MSSQL\LOG\' + @LocalSAPDB + 'log.ldf'',
						SIZE = 50MB,	
						MAXSIZE = UNLIMITED,				
						FILEGROWTH = 50MB );
					ALTER DATABASE ' + @LocalSAPDB + ' SET RECOVERY SIMPLE;' 
				PRINT @SQL
				PRINT ''
				EXEC( @SQL)
			END 
	
	SET @SQL = '
		SET NOCOUNT ON
		SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

		USE ' + @DBName + '
		
		PRINT ''Dowloading through linked server ' +  @SAPSQLLinkedServer + ' For DB: ' + @DBName + '''
		DECLARE 
		@Matnr					NVARCHAR(4000),
		@Field					NVARCHAR(4000),
		@FieldListNull			NVARCHAR(4000),
		@SQL					NVARCHAR(MAX),
		@Table					NVARCHAR(4000),
		@TableType				NVARCHAR(40),
		@WHERE					NVARCHAR(4000),
		@FROM					NVARCHAR(4000),
		@RowCount				INTEGER,
		@Conditions				NVARCHAR(40)
	

		DECLARE @Tables TABLE ( SAPTable NVARCHAR(40), Done BIT)			
		
		INSERT INTO @Tables VALUES ( ''MATERIALID'',0)
		INSERT INTO @Tables VALUES ( ''MARA'',0)
		INSERT INTO @Tables VALUES ( ''MAKT'',0)
		INSERT INTO @Tables VALUES ( ''MARM'',0)
		INSERT INTO @Tables VALUES ( ''MARC'',0)
		INSERT INTO @Tables VALUES ( ''MBEW'',0)
		INSERT INTO @Tables VALUES ( ''MVKE'',0)
		INSERT INTO @Tables VALUES ( ''MLAN'',0)
		INSERT INTO @Tables VALUES ( ''MARD'',0)
		INSERT INTO @Tables VALUES ( ''MLGN'',0)
		INSERT INTO @Tables VALUES ( ''EINA'',0)
		INSERT INTO @Tables VALUES ( ''EINE'',0)
		INSERT INTO @Tables VALUES ( ''EORD'',0)
		INSERT INTO @Tables VALUES ( ''MLGT'',0)
		INSERT INTO @Tables VALUES ( ''MAST'',0)
		INSERT INTO @Tables VALUES ( ''STKO'',0)
		INSERT INTO @Tables VALUES ( ''STPO'',0)		
		IF ' + CAST(@fast AS NVARCHAR) + ' = 0
			BEGIN
				--INSERT INTO @Tables VALUES ( ''AUSP'',0)			--Takes Too long
				INSERT INTO @Tables VALUES ( ''A017'',0)
				INSERT INTO @Tables VALUES ( ''A914'',0)				
				INSERT INTO @Tables VALUES ( ''KONP'',0)
				--INSERT INTO @Tables VALUES ( ''STXL'',0)			-- Takes too long
			END
				
		
		IF OBJECT_ID(''TEMPDB..#zMATERIAL'') IS NOT NULL BEGIN DROP TABLE #zMATERIAL END	
		IF OBJECT_ID(''TEMPDB..#zMATERIALBatch'') IS NOT NULL BEGIN DROP TABLE #zMATERIALBatch END			
		IF OBJECT_ID(''TEMPDB..#PREVIOUS'') IS NOT NULL BEGIN DROP TABLE #PREVIOUS END			
		IF OBJECT_ID(''TEMPDB..#LASTDROP'') IS NOT NULL BEGIN DROP TABLE #LASTDROP END			
		CREATE TABLE #zMATERIAL ( MATERIAL NVARCHAR(40), SAPTABLE NVARCHAR(40),DONE BIT)
		CREATE TABLE #zMATERIALBatch ( MATERIALS NVARCHAR(4000), DONE BIT )

		INSERT INTO #zMATERIAL SELECT DISTINCT MATNR,''MARA'',0  FROM ttMARA --WHERE zActive = 1 OR zChange = 1
		INSERT INTO #zMATERIAL SELECT DISTINCT MATNR,''MARC'',0 FROM ttMARC --WHERE zActive = 1 OR zChange = 1
		INSERT INTO #zMATERIAL SELECT DISTINCT MATNR,''MVKE'',0 FROM ttMVKE --WHERE zActive = 1 OR zChange = 1
		INSERT INTO #zMATERIAL SELECT DISTINCT MATNR,''MARD'',0 FROM ttMARD --WHERE zActive = 1 OR zChange = 1
		INSERT INTO #zMATERIAL SELECT DISTINCT MATNR,''MLGN'',0 FROM ttMLGN --WHERE zActive = 1 OR zChange = 1
		INSERT INTO #zMATERIAL SELECT DISTINCT MATNR,''MLGT'',0 FROM ttMLGT --WHERE zActive = 1 OR zChange = 1		
		INSERT INTO #zMATERIAL SELECT DISTINCT zMATNR,''EINE'',0 FROM ttEINE --WHERE zActive = 1 OR zChange = 1
		INSERT INTO #zMATERIAL SELECT DISTINCT zMATNR,''STKO'',0 FROM ttSTKO --WHERE zActive = 1 OR zChange = 1	

		UPDATE #zMATERIAL SET Material = UPPER(Material) 
		
		SELECT @ROWCOUNT = COUNT(1) FROM #zMATERIAL GROUP BY SAPTABLE
		IF ISNULL(@ROWCOUNT,0) = 0 
			BEGIN
				SELECT ''NO Records to Process'' AS Message
				RETURN
			END
		IF ISNULL(@ROWCOUNT,0) > 300
			BEGIN
				SELECT ''This method is only alowwed for up to 300 materials'' AS Message
				RETURN
			END
		'	
	SET @SQL2 = '			
			/*BREAK UP the Materials in groups equal to @BatchSeize*/
				WHILE (SELECT TOP 1 1 FROM #zMATERIAL WHERE Done = 0) = 1
					BEGIN				
						SELECT @MATNR = STUFF((SELECT TOP ' + CAST(@BatchSeize AS NVARCHAR)  + ''','''''''''' + Material + ''''''''''''
												FROM #zMATERIAL
												WHERE Done = 0
												GROUP BY Material
													FOR XML PATH(N'''')), 1, 1, N'''')
						INSERT INTO #zMATERIALBatch
							VALUES (@MATNR,0)

						UPDATE #zMATERIAL SET Done = 1 WHERE CHARINDEX(Material,@MATNR) > 0
					END	

		/*DELETE Tables & Views from Previous Run*/
			SELECT TABLE_NAME, TABLE_TYPE,0 AS DOne INTO #PREVIOUS FROM ' + @LocalSAPDB + '.INFORMATION_SCHEMA.TABLES
				WHILE (SELECT TOP 1 1 FROM #PREVIOUS WHERE done = 0) = 1
					BEGIN						
						SELECT TOP 1 @Table = TABLE_NAME,@TableType = TABLE_TYPE FROM #PREVIOUS WHERE done = 0						
						SET @SQL = ''USE ' + @LocalSAPDB + '; DROP '' + CASE WHEN @TableType = ''BASE TABLE'' THEN '' TABLE '' ELSE '' VIEW '' END + '''' + @Table + ''''						
						EXEC (@SQL)
						UPDATE #PREVIOUS SET done = 1 WHERE TABLE_NAME = @Table
					END		
		
		PRINT ''''
		WHILE (SELECT TOP 1 1 FROM @Tables WHERE done = 0) = 1
			BEGIN
				SELECT TOP 1 @Table = SAPTable FROM @Tables WHERE done = 0
				
				SELECT @Field = STUFF((
					SELECT  '','' + fldName 
						FROM dgdb..[Table]
							INNER JOIN dgdb..TableField ON TableField.tbfTblID = [Table].tblID
								INNER JOIN dgdb..Field ON Field.fldID = TableField.tbfFldID
							WHERE tblTable = ''''+ @Table + ''''
								AND TableField.tbfTffCode = ''GOV''
							ORDER BY TableField.tbfSeq
					FOR XML PATH(N'''')), 1, 1, N'''')

				IF '''''' + @TABLE + '''''' = ''KONP''
					BEGIN						
						DECLARE @KNUMH TABLE ( KNUMH NVARCHAR(40))
						INSERT INTO @KNUMH SELECT DISTINCT KNUMH FROM  ' + @LocalSAPDB + '..'  + @tblPrefix + 'A017		
						INSERT INTO @KNUMH SELECT DISTINCT KNUMH FROM  ' + @LocalSAPDB + '..'  + @tblPrefix + 'A914		
						SELECT @Conditions = STUFF((SELECT DISTINCT '','''''''''' + KNUMH + ''''''''''''
												FROM  @KNUMH
													FOR XML PATH(N'''')), 1, 1, N'''')
						SELECT * from @KNUMH
						print ''KONP''
					END

				SELECT @Field =
					CASE @Table		
						WHEN ''MATERIALID'' THEN '''' + @Field + ''''
						WHEN ''MARA'' THEN ''MATNR_EXT,M.'' + @Field + '' , MAKTX as zShortDescription''					
						WHEN ''EINE'' THEN ''MATNR_EXT,M.'' + REPLACE(@Field,''LOEKZ'',''E.LOEKZ'') + '' ''
						WHEN ''STKO'' THEN ''MATNR_EXT,M.'' + REPLACE(@Field,''STLAL'',''E.STLAL'') + '' ''
						WHEN ''STPO'' THEN ''MATNR_EXT,'' + REPLACE(REPLACE(REPLACE(@Field,''STLNR'',''E.STLNR''),''ANNAM'',''E.ANNAM''),''ANDAT'',''E.ANDAT'') + '' ''
						WHEN ''KONP'' THEN ''MATNR_EXT,M.'' + REPLACE(@Field,''KSCHL'',''K.KSCHL'') + '' ''
						ELSE ''MATNR_EXT,M.'' + @Field + '' ''
					END								
					'
		SET @SQL3 = '	
				SELECT @FROM =
					CASE @Table
						WHEN ''MATERIALID'' THEN '' SAPR3.MATERIALID ID ''
						WHEN ''MARA'' THEN '' SAPR3.MATERIALID ID INNER JOIN SAPR3.MARA M On M.MATNR = ID.MATNR_INT AND ID.MANDT = M.MANDT INNER JOIN SAPR3.MAKT K On K.MATNR = ID.MATNR_INT AND ID.MANDT = K.MANDT ''																	
						WHEN ''EINE'' THEN '' SAPR3.MATERIALID ID INNER JOIN SAPR3.EINA M On M.MATNR = ID.MATNR_INT AND ID.MANDT = M.MANDT INNER JOIN SAPR3.EINE E On M.INFNR = E.INFNR AND E.MANDT = M.MANDT ''																						
						WHEN ''STKO'' THEN '' SAPR3.MATERIALID ID INNER JOIN SAPR3.MAST M On M.MATNR = ID.MATNR_INT AND ID.MANDT = M.MANDT INNER JOIN SAPR3.STKO E On M.STLNR = E.STLNR AND E.MANDT = M.MANDT ''								
						WHEN ''STPO'' THEN '' SAPR3.MATERIALID ID INNER JOIN SAPR3.MAST M On M.MATNR = ID.MATNR_INT AND ID.MANDT = M.MANDT INNER JOIN SAPR3.STPO E On M.STLNR = E.STLNR AND E.MANDT = M.MANDT ''	
						WHEN ''KONP'' THEN '' SAPR3.MATERIALID ID INNER JOIN SAPR3.A017 M On M.MATNR = ID.MATNR_INT AND ID.MANDT = M.MANDT INNER JOIN SAPR3.KONP K On M.KNUMH = K.KNUMH AND ID.MANDT = K.MANDT ''																								
						ELSE '' SAPR3.MATERIALID ID INNER JOIN SAPR3.'' + @Table + '' M On M.MATNR = ID.MATNR_INT AND ID.MANDT = M.MANDT ''
					END				
									
				/*CREATE TABLES*/
					SET @SQL = ''		
						DECLARE @StartDate DATETIME	
						SET @StartDate = GETDATE()			
						SELECT  TOP 0 * 
							INTO ' + @LocalSAPDB + '..' + @tblPrefix + ''' + @Table + '' FROM OPENQUERY([' + @SAPSQLLinkedServer + '],
							''''SELECT '' + @Field + ''			
									FROM '' + @FROM + ''
									WHERE ID.MANDT = ''''''''300'''''''' 														
										AND MATNR_EXT IN ('' + @MATNR + '')'''');

						UPDATE #zMATERIALBatch SET Done = 0

						DECLARE @SKU NVARCHAR(4000),@SQL NVARCHAR(4000)
						WHILE (SELECT TOP 1 1 FROM #zMATERIALBatch WHERE Done = 0) = 1
							BEGIN				
								SELECT @SKU = MATERIALS FROM #zMATERIALBatch WHERE Done = 0							
								SET @SQL = ''''
									INSERT INTO ' + @LocalSAPDB + '..' + @tblPrefix + ''' + @Table + ''
										SELECT   * FROM OPENQUERY([' + @SAPSQLLinkedServer + '],
											''''''''SELECT '' + @Field + ''			
													FROM '' + @FROM + ''
													WHERE ID.MANDT = ''''''''''''''''300''''''''''''''''
														AND MATNR_EXT IN ('''' + @SKU + '''') '''''''')
												''''																
								EXEC(@SQL)

								UPDATE #zMATERIALBatch SET Done = 1 WHERE MATERIALS =  @SKU 
				
							END

						DECLARE @Rowcount	INT, @TableName	NVARCHAR(80)								
						SELECT @Rowcount = COUNT(1) FROM ' + @LocalSAPDB + '..' + @tblPrefix + ''' + @Table + '' 
						SELECT  @TableName = tblShortDescription FROM dgdb..[TABLE] WHERE tblTable = '''''' + @Table + '''''' 
						PRINT CAST('''''' + @TABLE + '''''' AS CHAR(18)) + CAST( @TableName  AS CHAR(45)) + ''''Records Downloaded: '''' +  CAST (ISNULL(@Rowcount,0) as CHAR(10)) + ''''Duration in seconds: '''' + CAST(DATEDIFF(SECOND,@startdate,GETDATE()) as CHAR(5))
						
							''
					BEGIN TRY	
						--print @SQL					
						EXEC (@SQL)											
					END TRY

					BEGIN CATCH
						PRINT ERROR_MESSAGE()
						PRINT @SQL								
					END CATCH
		
			'
		SET @SQL4 = '
					BEGIN TRY
						SET @SQL = ''
							UPDATE ' + @LocalSAPDB + '..' + @tblPrefix + ''' + @Table + '' SET PRCTR = dgdb.dbo.RegexReplace(PRCTR,''''^0+'''','''''''')''													
						EXEC (@SQL)
					END TRY

					BEGIN CATCH
						IF CHARINDEX(''Invalid column name'',ERROR_MESSAGE()) = 0
							BEGIN
								PRINT @TABLE + '' '' + ERROR_MESSAGE()
							END
					END CATCH

					BEGIN TRY
						SET @SQL = ''							
							UPDATE ' + @LocalSAPDB + '..' + @tblPrefix + ''' + @Table + '' SET LIFNR = dgdb.dbo.RegexReplace(LIFNR,''''^0+'''','''''''')''						
						EXEC (@SQL)
					END TRY

					BEGIN CATCH
						IF CHARINDEX(''Invalid column name'',ERROR_MESSAGE()) = 0
							BEGIN
								PRINT @TABLE + '' '' + ERROR_MESSAGE()
							END
					END CATCH
					
		
				--SET @SQL = ''ALTER TABLE ' + @LocalSAPDB + '..' + @tblPrefix + ''' + @Table + '' ADD zCheckSum BINARY(16);''													
				--EXEC (@SQL)

				--	EXEC dgdb..spGenGenerateTableFromTableFields
				--		@DbName = ''' + @DBName + ''', -- nvarchar(40)
				--		@TableName =  @Table , -- nvarchar(40)
				--		@tblPrefix = '''', -- nvarchar(40)
				--		@ProcessType = 6, -- Return FieldList For GOV Fields only
				--		@FieldList = @FieldListNull OUTPUT--OUTPUT Paramater

				--	SET @FieldListNULL = REPLACE(@FieldListNull,''),'','')+'') 
		
				--	SET @SQL = ''UPDATE ' + @LocalSAPDB + '..' + @tblPrefix + ''' + @Table + '' SET zCHECKSUM = HASHBYTES(''''MD5'''','' + @FieldListNull + '');''						
				--	EXEC (@SQL)

				SET @SQL = ''SELECT * FROM ' + @LocalSAPDB + '..' + @tblPrefix + ''' + @Table + ''''
				--EXEC (@SQL)

				UPDATE @Tables SET DONE = 1 WHERE SAPTable = @Table
			END		

		
		/*Call SAP data refresh SP*/
			SELECT @Table = STUFF((SELECT '','''''''''' + SAPTable + ''''''''''''
										FROM @Tables
										GROUP BY SAPTABLE
											FOR XML PATH(N'''')), 1, 1, N'''')
				
			SET @Table  = '''''''' + @Table + ''''''''
			PRINT ''''			
			SET @SQL = ''
				EXEC DGDB_PL..spSysRefreshTargetData_New_Janvb ''''EPN'''', ''''300'''', ''''' + @LocalSAPDB + ''''', ''''' + @tblPrefix + ''''', '' + @Table + '', '+ CAST(@srcID AS NVARCHAR) + '				
			''
			PRINT (@SQL)
			EXEC (@SQL)
			PRINT ''''

			IF ' + CAST(@fast AS NVARCHAR) + ' = 0
			BEGIN
				SET @SQL = ''				
					EXEC DGDB_PL..spSysRefreshTargetData_New_KONP_NEW ''''' + @LocalSAPDB + '''''
				''
				PRINT (@SQL)
				EXEC (@SQL)
				PRINT ''''
			END

		/*Create Views from Remaining Tables that are not refreshed*/
			SELECT S.TABLE_NAME, 0 AS DOne 
				INTO #VIEWS 
					FROM ' + @LocalSAPDB + '.INFORMATION_SCHEMA.TABLES L 
						RIGHT JOIN ' + @SAPDB + '.INFORMATION_SCHEMA.TABLES S ON S.TABLE_NAME = L.TABLE_NAME 
					WHERE L.TABLE_NAME IS NULL
						AND S.TABLE_TYPE = ''BASE TABLE''
				WHILE (SELECT TOP 1 1 FROM #VIEWS WHERE done = 0) = 1
					BEGIN						
						SELECT TOP 1 @Table = TABLE_NAME FROM #VIEWS WHERE done = 0												
						SET @SQL =  ''						
								DECLARE @SQL NVARCHAR(400)
								SET @SQL = '''' CREATE VIEW '' + @Table + '' AS SELECT * FROM ' + @SAPDB + '..'' + @Table + ''''''								
								EXEC ' + @LocalSAPDB + '.sys.sp_executesql @SQL ''														
						EXEC(@SQL)						
						UPDATE #VIEWS SET done = 1 WHERE TABLE_NAME = @Table
					END	
					
			/*Remove ZZ Tables - @tblPrefix */
			SELECT TABLE_NAME, TABLE_TYPE,0 AS DOne INTO #LASTDROP FROM ' + @LocalSAPDB + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME LIKE ''' + @tblPrefix + '%''
				WHILE (SELECT TOP 1 1 FROM #LASTDROP WHERE done = 0) = 1
					BEGIN						
						SELECT TOP 1 @Table = TABLE_NAME,@TableType = TABLE_TYPE FROM #LASTDROP WHERE done = 0						
						SET @SQL = ''USE ' + @LocalSAPDB + '; DROP TABLE '' + @Table + ''''						
						EXEC (@SQL)
						UPDATE #LASTDROP SET done = 1 WHERE TABLE_NAME = @Table
					END			

		'	
	--PRINT @SQL
	--PRINT @SQL2
	--PRINT @SQL3
	--PRINT @SQL4
	EXEC (@SQL+@SQL2+@SQL3+@SQL4)
		
	--PRINT 'Done.'

	


END
GO
