USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[tab3A_MaterialMaster]    Script Date: 3/9/2026 9:14:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[tab3A_MaterialMaster] 
-- Add the parameters for the stored procedure here
--@SalesOrg varchar (4)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Drop temp tbale if exists
	IF OBJECT_ID('tempdb..#TEMPDATA') IS NOT NULL     DROP TABLE #TEMPDATA
	IF OBJECT_ID('tempdb..#TEMP_DESC') IS NOT NULL     DROP TABLE #TEMP_DESC

	-- Get Material relevant Data
	SELECT DISTINCT
		V.VKORG, M.MATNR, D.MATNR_EXT, M.MATKL, K.MAKTX, V.VMSTA, M.MTART, M.BRGEW, M.PRDHA, M.MTPOS_MARA
		, M.GROES
		, NULL AS ERSDA
		, NULL AS ERNAM
		, M.MEINS, M.NTGEW, M.MFRPN, B.BKLAS, B.BWKEY, C.SERNP, C.BSTMI, EE.NETPR
		, KP.KBETR, KN.LIFNR, EE.APLFZ, C.PLIFZ
	INTO #TEMPDATA
	FROM DGDB_PL_GLP_300.DBO.MARA M WITH (NOLOCK)
	INNER JOIN DGDB_PL_GLP_300.DBO.MAKT K WITH (NOLOCK)ON K.MATNR = M.MATNR
	INNER JOIN DGDB_PL_GLP_300.DBO.MARC C WITH (NOLOCK)ON C.MATNR = K.MATNR
	INNER JOIN DGDB_PL_GLP_300.DBO.MVKE V WITH (NOLOCK)ON V.MATNR = C.MATNR AND V.DWERK = C.WERKS
	INNER JOIN DGDB_PL_GLP_300.DBO.MBEW B WITH (NOLOCK) ON B.MATNR = C.MATNR AND B.BWKEY = C.WERKS
	INNER JOIN DGDB_PL_GLP_300.DBO.KONP_NEW KN WITH (NOLOCK)ON KN.MATNR = M.MATNR AND KN.WERKS = C.WERKS
	INNER JOIN DGDB_PL_GLP_300.DBO.KONP KP WITH (NOLOCK)ON KP.KNUMH = KN.KNUMH
	INNER JOIN DGDB_PL_GLP_300.DBO.EINA EA WITH (NOLOCK)ON EA.MATNR = M.MATNR AND EA.LIFNR = KN.LIFNR
	INNER JOIN DGDB_PL_GLP_300.DBO.EINE EE WITH (NOLOCK)ON EE.INFNR = EA.INFNR AND EE.WERKS = C.WERKS
	INNER JOIN DGDB_PL_GLP_300.DBO.MATERIALID D WITH (NOLOCK) ON D.MATNR_INT = M.MATNR
	WHERE C.WERKS LIKE '2%' AND KP.KSCHL = 'PB00' --4120906
	
	INSERT INTO #TEMPDATA
	SELECT DISTINCT V.VKORG, M.MATNR, D.MATNR_EXT, M.MATKL, K.MAKTX, V.VMSTA, M.MTART, M.BRGEW, M.PRDHA, M.MTPOS_MARA
		, M.GROES, NULL AS ERSDA, NULL AS ERNAM, M.MEINS, M.NTGEW, M.MFRPN, B.BKLAS, B.BWKEY, C.SERNP, C.BSTMI, EE.NETPR
		, KN.PB00 AS KBETR, KN.LIFNR, EE.APLFZ, C.PLIFZ
	--INTO #TEMPDATA
	FROM DGDB_PL_GLP_300.DBO.MARA M WITH (NOLOCK)
	INNER JOIN DGDB_PL_GLP_300.DBO.MAKT K WITH (NOLOCK)ON K.MATNR = M.MATNR
	INNER JOIN DGDB_PL_GLP_300.DBO.MATERIALID D WITH (NOLOCK) ON D.MATNR_INT = M.MATNR
	INNER JOIN DV0064.Synnex.dbo.Missing_MATNR AS MS ON D.MATNR_EXT = MS.matnr
	LEFT OUTER JOIN DGDB_PL_GLP_300.DBO.MARC C WITH (NOLOCK)ON C.MATNR = K.MATNR
	LEFT OUTER JOIN DGDB_PL_GLP_300.DBO.MVKE V WITH (NOLOCK)ON V.MATNR = C.MATNR AND V.DWERK = C.WERKS AND V.VKORG LIKE '2%'
	LEFT OUTER JOIN DGDB_PL_GLP_300.DBO.MBEW B WITH (NOLOCK) ON B.MATNR = C.MATNR AND B.BWKEY = C.WERKS
	LEFT OUTER JOIN DGDB_PL_GLP_300.DBO.KONP_NEW KN WITH (NOLOCK)ON KN.MATNR = M.MATNR AND KN.WERKS = C.WERKS
	LEFT OUTER JOIN  DGDB_PL_GLP_300.DBO.EINA EA WITH (NOLOCK)ON EA.MATNR = M.MATNR AND EA.LIFNR = KN.LIFNR
	LEFT OUTER JOIN  DGDB_PL_GLP_300.DBO.EINE EE WITH (NOLOCK)ON EE.INFNR = EA.INFNR AND EE.WERKS = C.WERKS

	--SELECT COUNT(1) FROM #TEMPDATA
	-- Get Long description Data

	SELECT  A.*, B.TDLINE, ISNULL(B.COUNTER,0)AS counter, B.TDNAME
	INTO    #TEMP_DESC
	FROM    #TEMPDATA AS A
	LEFT OUTER JOIN DGDB_PL_GLP_300.dbo.[STXL ] AS B ON A.MATNR = B.TDNAME AND B.TDID='GRUN' AND B.TDSPRAS='E';
	--4234187  row(s) affected

	-- Add Long Descrition Column
	ALTER TABLE #TEMP_DESC ADD LONGDESC NVARCHAR(4000)

	DECLARE @MAXCOUNTER INT
	SELECT  @MAXCOUNTER =MAX(COUNTER) FROM #TEMP_DESC

	SELECT @MAXCOUNTER
	UPDATE #TEMP_DESC SET LONGDESC = TDLINE WHERE COUNTER = 1

	DECLARE @I INT = 2
	-- Loop through Counters to get the Long Description of material
	WHILE @I <= @MAXCOUNTER
	BEGIN 
		UPDATE A SET A.LONGDESC = A.LONGDESC  + B.TDLINE
		FROM #TEMP_DESC AS A
		INNER JOIN #TEMP_DESC AS B ON A.TDNAME = B.TDNAME
		WHERE A.COUNTER = 1 AND B.COUNTER = @I;
		
		SET @I  = @I + 1
	END 

	IF OBJECT_ID('Tab3_Material_Data') IS NOT NULL DROP TABLE Tab3_Material_Data

	SELECT VKORG, MATNR, MATNR_EXT, MATKL, MAKTX,VMSTA, MTART, BRGEW, PRDHA, MTPOS_MARA, GROES, ERSDA, ERNAM, 
		MEINS, NTGEW, MFRPN, BKLAS,BWKEY,SERNP,BSTMI, NETPR, KBETR, LIFNR, APLFZ,PLIFZ,ISNULL(LONGDESC,'') AS LONG_DESC
	INTO Tab3_Material_Data
	from #TEMP_DESC WHERE counter IN (1,0)

	--- Bundles code

	IF OBJECT_ID('tempdb..#temp') IS NOT NULL DROP TABLE #temp

	SELECT * INTO #temp FROM dgdb_PL_GLP_300.dbo.mara WHERE MTART IN ('DIEN','ZSPR','FERT')  --425486

	IF OBJECT_ID('tempdb..#temp2') IS NOT NULL DROP TABLE #temp

	SELECT  a.zmatnr, a.KNUMH, a.kschl, a.konwa, a.kbetr, a.zVKORG,datbi,datab 
	INTO #temp2 
	FROM DGDB_PL_GLP_300.dbo.KONP AS a WITH (NOLOCK) 
	INNER JOIN DGDB_PL_GLP_300.dbo.A914 AS b WITH (NOLOCK) ON a.KNUMH = b.KNUMH 
	WHERE zmatnr IN (SELECT matnr FROM #temp) AND b.DATBI = '99991231'  --1866765

	IF OBJECT_ID('tempdb..#TEMPDATA2') IS NOT NULL DROP TABLE #TEMPDATA2

	SELECT DISTINCT
		V.VKORG, M.MATNR, D.MATNR_EXT, M.MATKL, K.MAKTX, V.VMSTA, M.MTART, M.BRGEW, M.PRDHA, M.MTPOS_MARA
		, M.GROES, M.ERSDA, M.ERNAM, M.MEINS, M.NTGEW, M.MFRPN, NULL AS BKLAS, NULL AS BWKEY, C.SERNP
		, C.BSTMI, ZWCP.KBETR AS ZWCPValue, ZW01.KBETR AS ZW01Value, NULL AS LIFNR, NULL AS APLIFZ, C.PLIFZ
		, ZWCP.KNUMH AS ZWCP_KNUHM,ZW01.KNUMH AS ZW01_KNUMH
	INTO #TEMPDATA2
	FROM #temp AS t 
	INNER JOIN DGDB_PL_GLP_300.DBO.MARA M WITH (NOLOCK) ON t.MATNR = M.matnr
	INNER JOIN DGDB_PL_GLP_300.DBO.MAKT K WITH (NOLOCK)ON K.MATNR = M.MATNR
	INNER JOIN DGDB_PL_GLP_300.dbo.MARC C WITH (NOLOCK)ON C.MATNR = K.MATNR
	INNER JOIN DGDB_PL_GLP_300.DBO.MVKE V WITH (NOLOCK)ON V.MATNR = C.MATNR AND V.DWERK = C.WERKS 
	--INNER JOIN DGDB_PL_GLP_300.DBO.KONP_NEW KN WITH (NOLOCK)ON KN.MATNR = M.MATNR AND KN.WERKS = C.WERKS
	INNER JOIN DGDB_PL_GLP_300.DBO.MATERIALID D WITH (NOLOCK) ON D.MATNR_INT = M.MATNR
	LEFT OUTER JOIN #temp2 AS ZWCP ON V.MATNR = ZWCP.zMATNR AND v.VKORG = ZWCP.zVKORG AND zwcp.KSCHL = 'ZWCP'
	LEFT OUTER JOIN #temp2 AS ZW01 ON V.MATNR = ZW01.zMATNR AND v.VKORG = ZW01.zVKORG AND zw01.KSCHL = 'ZW01'
	WHERE C.WERKS LIKE '2%'  --54787

	DELETE  FROM #TEMPDATA2 WHERE ZWCPValue IS NULL AND ZW01Value IS NULL  --40894

	-- Get Long description Data
	IF OBJECT_ID('tempdb..#TEMP_DESC2') IS NOT NULL DROP TABLE #TEMP_DESC2

	SELECT  A.*, B.TDLINE, ISNULL(B.COUNTER,0)AS counter, B.TDNAME
	INTO    #TEMP_DESC2
	FROM    #TEMPDATA2 AS A
	LEFT OUTER JOIN DGDB_PL_GLP_300.dbo.[STXL ] AS B ON A.MATNR = B.TDNAME AND B.TDID='GRUN' AND B.TDSPRAS='E';
	--15189  row(s) affected

	-- Add Long Descrition Column
	ALTER TABLE #TEMP_DESC2 ADD LONGDESC NVARCHAR(4000)

	SELECT  @MAXCOUNTER = MAX(COUNTER) FROM #TEMP_DESC2

	SELECT @MAXCOUNTER
	UPDATE #TEMP_DESC2 SET LONGDESC = TDLINE WHERE COUNTER = 1

	--DECLARE @I INT = 2
	-- Loop through Counters to get the Long Description of material
	WHILE @I <= @MAXCOUNTER
	BEGIN 
		UPDATE A SET A.LONGDESC = A.LONGDESC  + B.TDLINE
		FROM #TEMP_DESC2 AS A
		INNER JOIN #TEMP_DESC2 AS B
		ON A.TDNAME = B.TDNAME
		WHERE A.COUNTER =1 AND B.COUNTER = @I;
		
		SET @I  = @I + 1
	END 

	--IF OBJECT_ID('Tab3_Material_Data_Bundles') IS NOT NULL DROP TABLE Synnex.dbo.Tab3_Material_Data_Bundles


	INSERT INTO Tab3_Material_Data
	SELECT VKORG, MATNR, MATNR_EXT, MATKL, MAKTX,VMSTA, MTART, BRGEW, PRDHA, MTPOS_MARA, GROES, ERSDA, ERNAM, 
	MEINS, NTGEW, MFRPN, BKLAS,BWKEY,SERNP,BSTMI, 
	ZWCPValue, ZW01Value, LIFNR, NULL AS APLFZ,PLIFZ,ISNULL(LONGDESC,'') AS LONG_DESC
	--INTO Synnex.dbo.Tab3_Material_Data_Bundles
	from #TEMP_DESC2 WHERE counter IN (1,0)  --13893
	
	-- EXEC [spProcess50ExportLoadFiles]
END

GO
