USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spSys99CleanUpzDatabases]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spSys99CleanUpzDatabases] AS

SET NOCOUNT ON 

DECLARE @DB NVARCHAR(40),
		@SQL NVARCHAR(500)

SELECT *,0 AS DOne INTO #DELETEDB FROM.sys.databases WHERE (name LIKE 'zVPL%' OR name LIKE 'zAdh%') AND create_date < GETDATE() - 1
WHILE (SELECT TOP 1 1 FROM #DELETEDB WHERE DOne = 0) = 1
	BEGIN
		SELECT TOP 1 @DB = Name FROM #DELETEDB WHERE DOne = 0
		PRINT @DB
		SET @SQL = 'DROP DATABASE ' + @DB
		EXEC (@SQL)
		PRINT  @SQL

		UPDATE #DELETEDB SET DOne = 1 WHERE name = @DB
	END
DROP TABLE #DELETEDB
GO
