USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spProcess25ValidateKeyMaraFields]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spProcess25ValidateKeyMaraFields]
	@srcID INTEGER = 113,
	@srcSystem NVARCHAR(3)='GLP'
AS

BEGIN

	DECLARE 
	
		@srcName NVARCHAR(40),
		@srcSrtCode NVARCHAR(4),
		@srcVendorCode NVARCHAR(10),
		@srcClient NVARCHAR(3),
		@srcSystem2 NVARCHAR(3),
		@SQL NVARCHAR(4000),
		@dbName NVARCHAR(40)  ,
		@SAPClientDataDB NVARCHAR(40)

		DECLARE @R TABLE (T INTEGER)

		SELECT	@srcName = srcName,
				@srcSrtCode = srcSrtCode,
				@srcVendorCode = srcVendorCode,
				@srcClient = srcClient,
				@srcSystem2 = srcSystem
			FROM cfSource
			WHERE srcid = @srcID
		SET @DBName =  @srcSrtCode + @srcVendorCode + '_' + @srcName + '_' + CAST(@srcID AS NVARCHAR)
	
		SELECT @SAPClientDataDB = trdDatabase FROM dbo.cfTargetData WHERE trdClient = @srcClient AND trdSystem = CASE WHEN @srcSystem = '' THEN @srcSystem2 ELSE @srcSystem END

	SET @SQL = 'SELECT 1 FROM ' + @dbName + '..ttMARA B INNER JOIN ' + @SAPClientDataDB + ' ..MARA A ON A.MATKL = B.MATKL AND A.MFRPN = B.MFRPN 
				WHERE A.PRDHA <> B.PRDHA OR A.MTART<>B.MTART OR A.MTPOS_MARA <> B.MTPOS_MARA;'					
			INSERT INTO @R EXEC (@SQL)
			IF @@ROWCOUNT > 0 
				BEGIN
					SET @SQL = '
						SELECT	DISTINCT ''Key Field Difference between Production & Pricelist'' as Message,
								CASE WHEN A.PRDHA <> B.PRDHA THEN A.PRDHA ELSE '''' END AS PH_PROD ,
								CASE WHEN A.PRDHA <> B.PRDHA THEN B.PRDHA ELSE '''' END AS PH_PriceList ,
								CASE WHEN A.MTART <> B.MTART THEN A.MTART ELSE '''' END AS MT_PROD ,
								CASE WHEN A.MTART <> B.MTART THEN B.MTART ELSE '''' END AS MT_PriceList ,
								CASE WHEN A.MTPOS_MARA <> B.MTPOS_MARA THEN A.MTPOS_MARA ELSE '''' END AS GIC_PROD ,
								CASE WHEN A.MTPOS_MARA <> B.MTPOS_MARA THEN B.MTPOS_MARA ELSE '''' END AS GIC_PriceList ,
								A.MATKL ,
								zLegacyPH2 ,
								zLegacyPH3 ,
								CASE WHEN A.PRDHA <> B.PRDHA THEN C.VTEXT ELSE '''' END AS VTEXT_PROD ,
								A.MFRPN ,
								B.MATNR ,
								B.zShortDescription ,
								zLongDescription,
								''' + @dbName + ''' AS [DataBase]
							FROM ' + @dbName + '..ttMARA B
								INNER JOIN ' + @SAPClientDataDB + ' ..MATERIALID I ON I.MATNR_EXT = B.MATNR
								INNER JOIN ' + @SAPClientDataDB + ' ..MARA A ON A.MATKL = B.MATKL AND A.MATNR = I.MATNR_INT
								LEFT OUTER JOIN dgdb_PL..cfPH C ON c.PRODH = A.PRDHA
							WHERE (A.PRDHA <> B.PRDHA OR A.MTART<>B.MTART OR A.MTPOS_MARA <> B.MTPOS_MARA) ;'
							--AND B.MTART = (CASE WHEN A.MATKL = ''10090'' THEN '''' ELSE ''DIEN'' END)
						--	PRINT @SQL
					EXEC (@SQL)
				END

	END
GO
