USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spProcess21ResultsSP20_WIP]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

[spProcess21ResultsSP20_WIP] 362 


*/

CREATE PROCEDURE [dbo].[spProcess21ResultsSP20_WIP] 
	@srcID INT = 3
	
AS
SET NOCOUNT ON
SET TRAN ISOLATION LEVEL READ UNCOMMITTED

BEGIN

DECLARE 
	@dbName NVARCHAR(40),
	@SapDB NVARCHAR(40),	
	@Region NVARCHAR(20),
	@adhocMode BIT,
	@PlantMapOverride BIT,
	@System NVARCHAR(20),

	@SQL NVARCHAR(4000)	,
	@SQL2 NVARCHAR(4000) ,
	@SQL3 NVARCHAR(4000) ,
	@SQL4 NVARCHAR(4000) 
	


	SELECT @dbName = 'VPL' + srcVendorCode + '_' + srcName + '_' + CAST(@srcID AS NVARCHAR) FROM dbo.cfSource WHERE srcID = @srcID
    SELECT @SapDB = trdDatabase
          , @Region = srcGroup
          , @PlantMapOverride = srcSupplierPlantMapOverride
          , @adhocMode = srcAdhocFlag
          , @System = srcSystem
        FROM dbo.cfSource
            INNER JOIN dbo.cfTargetData 
				ON trdClient = srcClient AND trdSystem = srcSystem
        WHERE srcID = @srcID;


	SET @SQL = '
			USE ' + @dbName + '

			DECLARE @Result TABLE
			( ID INT IDENTITY(1, 1)NOT NULL
			, Type NVARCHAR(255)
			, Key1 NVARCHAR(40)
			, Key2 NVARCHAR(40)
			--, Key3 NVARCHAR(20) DEFAULT ( '''' )NOT NULL
			, Description NVARCHAR(4000)
			, total INTEGER
			, zActive INT
			, zInSAP INT
			, zDGERROR INT
			, zCHange INT
			, Done BIT DEFAULT ( 0 ) )

			DECLARE @ID INTEGER


			INSERT INTO @Result ( Type, Key1, Key2, total,zActive, zInSAP, zDGERROR, zCHange)    
				SELECT ''MARA - Basic View'', '''','''',COUNT(1),0,0,0,0 FROM ttMARA
				SET @ID = @@IDENTITY
				UPDATE @Result SET Description = ''''
				UPDATE @Result SET zInSAP = (SELECT COUNT(1) FROM ttmARA WHERE zInSAP = 1) WHERE ID = @ID
				UPDATE @Result SET zActive = (SELECT COUNT(1) FROM ttmARA WHERE zActive = 1) WHERE ID = @ID
				UPDATE @Result SET zDGERROR = (SELECT COUNT(1) FROM ttmARA WHERE zDGError = 1) WHERE ID = @ID
				UPDATE @Result SET zCHange = (SELECT COUNT(1) FROM ttmARA WHERE zCHange = 1) WHERE ID = @ID
				UPDATE @Result SET done = 1

			INSERT INTO @Result ( Type, Key1, Key2, Total,zActive, zInSAP, zDGERROR, zCHange)    
				SELECT ''MARC - Plant View'', WERKS,'''',COUNT(1),0,0,0,0 FROM ttMARC GROUP BY WERKS	ORDER BY WERKS	
				UPDATE @Result SET Description = chvDescription FROM @Result INNER JOIN dgdb..CheckTableValue ON chvValue = Key1 AND chvChtCode = ''T001W''
				UPDATE @Result SET zActive = b.COUNT FROM @Result A INNER JOIN (SELECT WERKS,COUNT(1) AS COUNT FROM ttmARC WHERE zActive = 1 GROUP BY WERKS) B ON B.WERKS = A.Key1
				UPDATE @Result SET zinSAP = b.COUNT FROM @Result A INNER JOIN (SELECT WERKS,COUNT(1) AS COUNT FROM ttmARC WHERE zInSAP = 1 GROUP BY WERKS) B ON B.WERKS = A.Key1
				UPDATE @Result SET zDGError = b.COUNT FROM @Result A INNER JOIN (SELECT WERKS,COUNT(1) AS COUNT FROM ttmARC WHERE zDGError = 1 GROUP BY WERKS) B ON B.WERKS = A.Key1
				UPDATE @Result SET zCHange = b.COUNT FROM @Result A INNER JOIN (SELECT WERKS,COUNT(1) AS COUNT FROM ttmARC WHERE zCHange = 1 GROUP BY WERKS) B ON B.WERKS = A.Key1
				UPDATE @Result SET done = 1

			INSERT INTO @Result ( Type, Key1, Key2, Total,zActive, zInSAP, zDGERROR, zCHange)    
				SELECT ''MVKE - Sales View'', VKORG,'''',COUNT(1),0,0,0,0 FROM ttMVKE GROUP BY VKORG		ORDER BY VKORG
				UPDATE @Result SET Description = chvDescription FROM @Result INNER JOIN dgdb..CheckTableValue ON chvValue = Key1 AND chvChtCode = ''TVKO'' 
				UPDATE @Result SET zActive = b.COUNT FROM @Result A INNER JOIN (SELECT VKORG,COUNT(1) AS COUNT FROM ttMVKE WHERE zActive = 1 GROUP BY VKORG) B ON B.VKORG = A.Key1
				UPDATE @Result SET zinSAP = b.COUNT FROM @Result A INNER JOIN (SELECT VKORG,COUNT(1) AS COUNT FROM ttMVKE WHERE zInSAP = 1 GROUP BY VKORG) B ON B.VKORG = A.Key1
				UPDATE @Result SET zDGError = b.COUNT FROM @Result A INNER JOIN (SELECT VKORG,COUNT(1) AS COUNT FROM ttMVKE WHERE zDGError = 1 GROUP BY VKORG) B ON B.VKORG = A.Key1
				UPDATE @Result SET zCHange = b.COUNT FROM @Result A INNER JOIN (SELECT VKORG,COUNT(1) AS COUNT FROM ttMVKE WHERE zCHange = 1 GROUP BY VKORG) B ON B.VKORG = A.Key1
				UPDATE @Result SET done = 1

			INSERT INTO @Result ( Type, Key1, Key2, Total,zActive, zInSAP, zDGERROR, zCHange)    
				SELECT ''EINA   - PIR Header (Lifnr - Material View)'', LIFNR,'''',COUNT(1),0,0,0,0 FROM ttEINA GROUP BY LIFNR ORDER BY LIFNR
				UPDATE @Result SET Description = NAME1 FROM @Result INNER JOIN ' + @SapDB + '..LFA1 ON LIFNR = Key1  WHERE done = 0
				UPDATE @Result SET zActive = b.COUNT FROM @Result A INNER JOIN (SELECT LIFNR,COUNT(1) AS COUNT FROM ttEINA WHERE zActive = 1 GROUP BY LIFNR) B ON B.LIFNR = A.Key1;'
   SET @SQL2 = 'UPDATE @Result SET zinSAP = b.COUNT FROM @Result A INNER JOIN (SELECT LIFNR,COUNT(1) AS COUNT FROM ttEINA WHERE zInSAP = 1 GROUP BY LIFNR) B ON B.LIFNR = A.Key1
				UPDATE @Result SET zDGError = b.COUNT FROM @Result A INNER JOIN (SELECT LIFNR,COUNT(1) AS COUNT FROM ttEINA WHERE zDGError = 1 GROUP BY LIFNR) B ON B.LIFNR = A.Key1
				UPDATE @Result SET zCHange = b.COUNT FROM @Result A INNER JOIN (SELECT LIFNR,COUNT(1) AS COUNT FROM ttEINA WHERE zCHange = 1 GROUP BY LIFNR) B ON B.LIFNR = A.Key1
				UPDATE @Result SET done = 1

			INSERT INTO @Result ( Type, Key1, Key2, Total,zActive, zInSAP, zDGERROR, zCHange)    
				SELECT ''EINE   - PIR Detail (Lifnr - Plant - Material View)'', zLIFNR,WERKS,COUNT(1),0,0,0,0 FROM ttEINE GROUP BY zLIFNR,WERKS ORDER BY werks, zLIFNR
				UPDATE @Result SET Description = chvDescription FROM @Result INNER JOIN dgdb..CheckTableValue ON chvValue = Key2 AND chvChtCode = ''T001W'' AND Done = 0
				UPDATE @Result SET zActive = b.COUNT FROM @Result A INNER JOIN (SELECT zLIFNR,WERKS,COUNT(1) AS COUNT FROM ttEINE WHERE zActive = 1 GROUP BY zLIFNR,WERKS) B ON B.zLIFNR = A.Key1 AND B.WERKS = A.Key2
				UPDATE @Result SET zinSAP = b.COUNT FROM @Result A INNER JOIN (SELECT zLIFNR,WERKS,COUNT(1) AS COUNT FROM ttEINE WHERE zInSAP = 1 GROUP BY zLIFNR,WERKS) B ON B.zLIFNR = A.Key1 AND B.WERKS = A.Key2
				UPDATE @Result SET zDGError = b.COUNT FROM @Result A INNER JOIN (SELECT zLIFNR,WERKS,COUNT(1) AS COUNT FROM ttEINE WHERE zDGError = 1 GROUP BY zLIFNR,WERKS) B ON B.zLIFNR = A.Key1 AND B.WERKS = A.Key2
				UPDATE @Result SET zCHange = b.COUNT FROM @Result A INNER JOIN (SELECT zLIFNR,WERKS,COUNT(1) AS COUNT FROM ttEINE WHERE zCHange = 1 GROUP BY zLIFNR,WERKS) B ON B.zLIFNR = A.Key1 AND B.WERKS = A.Key2
				UPDATE @Result SET done = 1

			INSERT INTO @Result ( Type, Key1, Key2, Total,zActive, zInSAP, zDGERROR, zCHange)    
				SELECT ''EORD - SourceList (Lifnr - Plant - Material View)'', LIFNR,WERKS,COUNT(1),0,0,0,0 FROM ttEORD GROUP BY LIFNR,WERKS ORDER BY werks, LIFNR
				UPDATE @Result SET Description = chvDescription FROM @Result INNER JOIN dgdb..CheckTableValue ON chvValue = Key2 AND chvChtCode = ''T001W'' AND Done = 0
				UPDATE @Result SET zActive = b.COUNT FROM @Result A INNER JOIN (SELECT LIFNR,WERKS,COUNT(1) AS COUNT FROM ttEORD WHERE zActive = 1 GROUP BY LIFNR,WERKS) B ON B.LIFNR = A.Key1 AND B.WERKS = A.Key2
				UPDATE @Result SET zinSAP = b.COUNT FROM @Result A INNER JOIN (SELECT LIFNR,WERKS,COUNT(1) AS COUNT FROM ttEORD WHERE zInSAP = 1 GROUP BY LIFNR,WERKS) B ON B.LIFNR = A.Key1 AND B.WERKS = A.Key2
				UPDATE @Result SET zDGError = b.COUNT FROM @Result A INNER JOIN (SELECT LIFNR,WERKS,COUNT(1) AS COUNT FROM ttEORD WHERE zDGError = 1 GROUP BY LIFNR,WERKS) B ON B.LIFNR = A.Key1 AND B.WERKS = A.Key2
				UPDATE @Result SET zCHange = b.COUNT FROM @Result A INNER JOIN (SELECT LIFNR,WERKS,COUNT(1) AS COUNT FROM ttEORD WHERE zCHange = 1 GROUP BY LIFNR,WERKS) B ON B.LIFNR = A.Key1 AND B.WERKS = A.Key2
				UPDATE @Result SET done = 1

			INSERT INTO @Result ( Type, Key1, Key2, Total,zActive, zInSAP, zDGERROR, zCHange)    
				SELECT ''MARD - Stor.Location View'',WERKS, LGORT,COUNT(1),0,0,0,0 FROM ttMARD GROUP BY WERKS,LGORT ORDER BY WERKS,LGORT
				UPDATE @Result SET Description = chvDescription FROM @Result INNER JOIN dgdb..CheckTableValue ON chvValue = Key1 AND chvChtCode = ''T001W'' AND Done = 0'				
   SET @SQL3 = 'UPDATE @Result SET zActive = b.COUNT FROM @Result A INNER JOIN (SELECT LGORT,WERKS,COUNT(1) AS COUNT FROM ttMARD WHERE zActive = 1 GROUP BY LGORT,WERKS) B ON B.WERKS = A.Key1 AND B.LGORT = A.Key2
				UPDATE @Result SET zinSAP = b.COUNT FROM @Result A INNER JOIN (SELECT LGORT,WERKS,COUNT(1) AS COUNT FROM ttMARD WHERE zInSAP = 1 GROUP BY LGORT,WERKS) B ON B.WERKS = A.Key1 AND B.LGORT = A.Key2
				UPDATE @Result SET zDGError = b.COUNT FROM @Result A INNER JOIN (SELECT LGORT,WERKS,COUNT(1) AS COUNT FROM ttMARD WHERE zDGError = 1 GROUP BY LGORT,WERKS) B ON B.WERKS = A.Key1 AND B.LGORT = A.Key2
				UPDATE @Result SET zCHange = b.COUNT FROM @Result A INNER JOIN (SELECT LGORT,WERKS,COUNT(1) AS COUNT FROM ttMARD WHERE zCHange = 1 GROUP BY LGORT,WERKS) B ON B.LGORT = A.Key1 AND B.LGORT = A.Key2
				UPDATE @Result SET done = 1

	
			INSERT INTO @Result ( Type, Key1, Key2, Total,zActive, zInSAP, zDGERROR, zCHange)    
				SELECT ''MLGN - Warehouse view'', LGNUM,'''',COUNT(1),0,0,0,0 FROM ttMLGN GROUP BY LGNUM ORDER BY LGNUM
				UPDATE @Result SET Description = chvDescription FROM @Result INNER JOIN dgdb..CheckTableValue ON chvValue = Key1 AND chvChtCode = ''T300'' AND Done = 0
				UPDATE @Result SET zActive = b.COUNT FROM @Result A INNER JOIN (SELECT LGNUM,COUNT(1) AS COUNT FROM ttMLGN WHERE zActive = 1 GROUP BY LGNUM) B ON B.LGNUM = A.Key1
				UPDATE @Result SET zinSAP = b.COUNT FROM @Result A INNER JOIN (SELECT LGNUM,COUNT(1) AS COUNT FROM ttMLGN WHERE zInSAP = 1 GROUP BY LGNUM) B ON B.LGNUM = A.Key1
				UPDATE @Result SET zDGError = b.COUNT FROM @Result A INNER JOIN (SELECT LGNUM,COUNT(1) AS COUNT FROM ttMLGN WHERE zDGError = 1 GROUP BY LGNUM) B ON B.LGNUM = A.Key1
				UPDATE @Result SET zCHange = b.COUNT FROM @Result A INNER JOIN (SELECT LGNUM,COUNT(1) AS COUNT FROM ttMLGN WHERE zCHange = 1 GROUP BY LGNUM) B ON B.LGNUM = A.Key1
				UPDATE @Result SET done = 1

			SELECT 
				Type,
				CAST('''' as NvARCHAR(255)) AS Key1,
				CAST('''' as NvARCHAR(255))  AS Key2,
				CAST('''' as NvARCHAR(255))  AS Description,
				replace(convert(varchar,convert(Money, SUM(total)),1),''.00'','''')  as Total,
				replace(convert(varchar,convert(Money, SUM(zActive)),1),''.00'','''')  as New,
				replace(convert(varchar,convert(Money, SUM(zInSAP)),1),''.00'','''')  as InSAP,
				replace(convert(varchar,convert(Money, SUM(zDGError)),1),''.00'','''')  as Errors,
				replace(convert(varchar,convert(Money, SUM(zCHange)),1),''.00'','''')  as Changes ,
				MAX(ID)+3000 AS ID
				INTO #TMP
			  FROM @result 
			  group by type 
			  order by max(ID)
			IF @@ROWCOUNT < 8 BEGIN SELECT ''VIEWS ARE MISSING !!!'' END'

			

	SET @SQL4 = ' 
			INSERT INTO #TMP VALUES (''' + @dbName + ''',''' + @Region + ''' ,'''',CASE WHEN ' + CAST(@PlantMapOverride AS NVARCHAR) +' = 1 THEN ''SupplierPlantMap Override '' ELSE '''' END,'''','''','''','''','''',-5000)			
			INSERT INTO #TMP VALUES ('''',''' + @System + ''','''',CASE WHEN ' + CAST(@adhocMode AS NVARCHAR) +' = 1 THEN ''Adhoc Mode'' ELSE '''' END ,'''','''','''','''','''',-50)
			INSERT INTO #TMP VALUES (''SourceFileExtract'','''','''','''',(Select COUNT(1) from ' + @dbName + '..SourceFileExtract),'''','''','''','''',-10)
			UPDATE #TMP SET Total = replace(convert(varchar,convert(Money, CAST(Total as Money)),1),''.00'','''')  where ID = -10
			INSERT INTO #TMP VALUES ('''','''','''','''','''','''','''','''','''',-5)
			INSERT INTO #TMP VALUES ('''','''','''','''','''','''','''','''','''',4000)
			INSERT INTO #TMP SELECT '''','''','''',''Total:'',
			replace(convert(varchar,convert(Money, SUM(CAST(total as Money))),1),''.00'',''''),
				replace(convert(varchar,convert(Money, SUM(CAST(New as Money))),1),''.00'','''')  ,
				replace(convert(varchar,convert(Money, SUM(CAST(InSAP as Money))),1),''.00'','''')  ,
				replace(convert(varchar,convert(Money, SUM(CAST(Errors as Money))),1),''.00'','''') ,
				replace(convert(varchar,convert(Money, SUM(CAST(Changes as Money))),1),''.00'','''')  ,
				4010  FROM #TMP
			INSERT INTO #TMP VALUES ('''','''','''','''','''','''','''','''','''',4020)
			

			INSERT INTO #TMP
			SELECT 
				Type,
				Key1,
				Key2,
				Description,
				replace(convert(nvarchar,convert(Money, (total)),1),''.00'','''')  as Total,
				replace(convert(nvarchar,convert(Money, (zActive)),1),''.00'','''')  as New,
				replace(convert(nvarchar,convert(Money, (zInSAP)),1),''.00'','''')  as InSAP,
				replace(convert(nvarchar,convert(Money, (zDGError)),1),''.00'','''')  as Errors,
				replace(convert(nvarchar,convert(Money, (zCHange)),1),''.00'','''')  as Changes ,
				ID + 100000
			 FROM @result order by id

			IF OBJECT_ID(''' + @dbName + '..sp20Results'') IS NULL 
				BEGIN 
					CREATE TABLE ' + @dbName + '..sp20Results (						  
						  DbName		NVARCHAR(255)
						, Type			NVARCHAR(255)		
						, Key1			NVARCHAR(255)		
						, Key2			NVARCHAR(255)		
						, Description	NVARCHAR(255)		
						, Total			NVARCHAR(255)		
						, New			NVARCHAR(255)		
						, InSAP			NVARCHAR(255)		
						, Errors		NVARCHAR(255)		
						, Changes		NVARCHAR(255)		)		
				END
					
				TRUNCATE TABLE ' + @dbName + '..sp20Results 
				INSERT	  INTO ' + @dbName + '..sp20Results 
					SELECT ''' + @dbName + ''' AS [DbName],Type,Key1,Key2,Description,Total,New,InSAP,Errors,Changes FROM #TMP order by ID	

				SELECT * FROM ' + @dbName + '..sp20Results 


			'
		--PRINT @SQL 
		--PRINT @SQL2
		
		BEGIN TRY
			EXEC(@SQL+@SQL2+@SQL3+@SQL4)
		END TRY

		BEGIN CATCH
			PRINT ERROR_LINE()
			print ERROR_MESSAGE()
			PRINT @dbName + ' Not all tables needed are available, run SP10 & 20 1st'
		END CATCH

END

	

GO
