USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spProcess07PlantViewExtension_Diego]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

Will create a 

*/


CREATE PROCEDURE [dbo].[spProcess07PlantViewExtension_Diego]

	@srcID INT = 240

AS

SET NOCOUNT ON


BEGIN


	DECLARE 
		@dbName			NVARCHAR(255),
		@SAPDB			NVARCHAR(255) ,
		@SQL			NVARCHAR(MAX),
		@RowCount		INTEGER		

	SET @dbName = dbo.fnGetVPLName(@srcID)
	SELECT @SAPDB = T.trdDatabase FROM cfSource S INNER JOIN cfTargetData T ON T.trdSystem = S.srcSystem AND T.trdClient = S.srcClient

    UPDATE dbo.cfSource
        SET srcProcessFlag		= 1,
			srcAdhocFlag		= 0,
			srcIncrementalFlag	= 0,
			srcDate				= GETDATE()
        WHERE srcID = @srcID;
	
	/*Works only for Adhocs*/
	IF CHARINDEX('Adhoc',@dbName) < = 0
		BEGIN
			PRINT 'This only works for adhoc DBs'
			RETURN
		END
	
	/*CREATE TABLE _PlantEXtensions if needed*/
	SET @SQL = '
		IF NOT EXISTS( SELECT TOP 1 1 FROM ' + @dbName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''_PlantEXtensions'')
			BEGIN
				CREATE TABLE ' + @dbName + '.._PlantEXtensions (Plant NVARCHAR(4),Material NVARCHAR(40), PlantFrom NVARCHAR(4), eXtSEQ INT)
			END		
		IF NOT EXISTS(SELECT TOP 1 1 FROM ' + @dbName + '.INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = ''_PlantEXtensions'' AND COLUMN_NAME = ''PlantFrom''
			BEGIN
				ALTER TABLE ' + @dbName + '.._PlantEXtensions ADD PlantFrom NVARCHAR(4)
			END
		IF NOT EXISTS(SELECT TOP 1 1 FROM ' + @dbName + '.INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = ''_PlantEXtensions'' AND COLUMN_NAME = ''eXtSEQ''
			BEGIN
				ALTER TABLE ' + @dbName + '.._PlantEXtensions ADD eXtSEQ INTEGER
			END
		'
	EXEC (@SQL)
		
	/*FIND if there is a sampel to copy from based on cfEXtensions*/
	SET @SQL = '
				Declare @ROWCOUNT INT
				SELECT @ROWCOUNT = COUNT(1) FROM ' + @dbName + '.._PlantEXtensions 
				PRINT CAST(''Records in _PlantEXtensions '' AS CHAR(80)) + CAST(@ROWCOUNT as NVARCHAR) 	

				UPDATE P
                        SET eXtSeq = 0,PlantFrom = NULL
                        FROM ' + @dbName + '.._PlantEXtensions P

				SELECT P.Material
						, C.MATNR
						, P.Plant
						, WERKS
					INTO #WERKS
					FROM ' + @dbName + '.._PlantEXtensions P
						INNER JOIN ' + @SAPDB + '..MATERIALID ON Material = MATNR_EXT
						INNER JOIN ' + @SAPDB + '..MARC C ON C.MATNR = MATNR_INT
					GROUP BY Material
						, Plant
						, WERKS
						, C.MATNR;

                    UPDATE P
                        SET eXtSeq = Seq
                        FROM ' + @dbName + '.._PlantEXtensions P
                            INNER JOIN ( SELECT Material
                                              , Plant
                                              , MIN(eXtSeq) AS Seq
                                            FROM #WERKS W
                                                INNER JOIN dbo.cfEXtensions E ON W.Plant = E.eXtTo
                                                              AND E.eXtFrom = WERKS
                                            GROUP BY Material
                                              , Plant
                                       ) X ON P.Material = X.Material
                                              AND P.Plant = X.Plant;
					UPDATE P
					SET PlantFrom = EXtFrom
                        FROM ' + @dbName + '.._PlantEXtensions P 							
                            INNER JOIN dbo.cfEXtensions E ON P.Plant = E.eXtTo
                                   AND E.eXtSeq = P.EXtSEQ


				/* Unmatched records, that can be matched to any Plant according to cfEXtenstions >>> eXtFrom = ''ALL''*/
					IF EXISTS (SELECT DISTINCT eXtFROM FROM dbo.cfEXtensions INNER JOIN ' + @dbName + '.._PlantEXtensions P ON eXtTo = Plant AND eXtFrom = ''ALL'' )							
						BEGIN
						     UPDATE P
								SET eXtSeq = Seq,
									P.PlantFrom = WERKS				
									FROM ' + @dbName + '.._PlantEXtensions P
										INNER JOIN dbo.cfEXtensions ON eXtTo = Plant AND eXtFrom = ''ALL''
										INNER JOIN (SELECT W.Material
															, W.WERKS
															, W.Plant
															, ''999'' AS Seq
														FROM #WERKS W
															INNER JOIN ' + @dbName + '.._PlantEXtensions P2 ON P2.Material = W.Material AND P2.PlantFrom IS NULL
														GROUP BY W.Material
															, W.WERKS
															,W.Plant) X 
										ON X.Material = P.Material 
										AND X.Plant = P.Plant
								WHERE P.PlantFrom IS NULL
						END
				'
				--PRINT @SQL
	EXEC (@SQL)
		

		SET @SQL = '		
			IF OBJECT_ID(''' + @dbName + '..Adhoc'') IS NOT NULL BEGIN DROP TABLE ' + @dbName + '..Adhoc END
			SELECT  1 as zActive				  
				  ,	PlantFrom AS zPlantFrom
				  , P.eXtSeq 
				  , ''MARC'' AS eXtType				  
				  , Plant AS zPlant				  
				  , ''    '' AS ProductType
				  , MARA.MATKL as MatGroup
				  , WGBEZ AS MatGroupName
				  , MATNR_EXT AS MAterial
				  , MAKTX AS Description
				  , PRDHA AS ProductHierachy
				  , SERNP AS zSERNP
				  , PLIFZ AS zPlDelTime				  
				  , CAST(0 as INT) AS zRuleSrcID 
				  , CAST(NULL as NVARCHAR(255)) as zRuleSrcName
				  , MTPOS_MARA + BKLAS + MTPOS + KTGRM AS zProductType
				  , CAST(NULL AS NVARCHAR(80)) AS ProducTypeDescription
				  , CAST(NULL as NUMERIC(5,3)) AS zFreightUplift
				  , VERPR as ListPrice
				  , '''' as zSalesOrg
				  , CAST(NULL as NVARCHAR(10)) as zSupplier
				  , CAST(NULL as NVARCHAR(3)) as zSupplierCurrency
				  , CAST(NULL as NVARCHAR(255)) as zSupplierPlantMap				  
				  , 0 as Buy
				INTO ' + @dbName + '..Adhoc
				FROM ' + @dbName + '.._PlantEXtensions P					
					LEFT JOIN ' + @SAPDB + '..MATERIALID ON MATNR_EXT = P.Material
					LEFT JOIN ' + @SAPDB + '..MARA ON MATNR_INT = MARA.MATNR
					LEFT JOIN ' + @SAPDB + '..T023T ON MARA.MATKL = T023T.MATKL
					LEFT JOIN ' + @SAPDB + '..MAKT ON MATNR_INT = MAKT.MATNR
					LEFT JOIN ' + @SAPDB + '..MARC C ON C.MATNR = MATNR_INT
														AND C.WERKS = P.PlantFrom
					LEFT JOIN ' + @SAPDB + '..MBEW B ON MATNR_INT = B.MATNR					
														AND B.BWKEY = C.WERKS
					LEFT JOIN ' + @SAPDB + '..T001W W ON PlantFrom = W.WERKS														
					LEFT JOIN ' + @SAPDB + '..MVKE V ON V.MATNR = MATNR_INT
														AND V.VKORG = W.VKORG
						
		/*TRY To Find srcID based on Plant*/
			SELECT DISTINCT DATA
			  , S.srrVendorCode
			  , S.srcID
			  , C.srcName
			  , 0 AS Multiple
			INTO #SRCID
			FROM dbo.vSourceRules S
				INNER JOIN dbo.cfSource C ON C.srcID = S.srcID
				CROSS APPLY ( SELECT REPLACE(Data, '''''''', '''') AS DATA
								FROM DGDB_PL..fnSplitString(S.srrUpdate, ''|'')) X
			WHERE S.srrFieldName = ''Plant''
			ORDER BY X.DATA
			  , S.srrVendorCode
			  , S.srcID		

			UPDATE ' + @dbName + '..Adhoc 				
				SET zRuleSrcID = srcID,
					zRuleSrcName = srcName
				FROM ' + @dbName + '..Adhoc 
					INNER JOIN #SrcID ON LEFT(zPLant,3) + ''1'' = DATA AND srrVendorCode = MatGroup 

		/*create lookup table for producttype*/
			--SELECT *
			--	INTO #PT
			--	FROM OPENROWSET(''SQLNCLI'',''Server=WG0522;Trusted_Connection=yes;database=DGDB'',
			--					''SET FMTONLY OFF;SET NOCOUNT ON;EXEC dgdb.dbo.spGenTableFieldSetTableCheck 1,1'')
			--	WHERE DISMM NOT IN (''X0'',''V2'')

			SELECT *
				INTO #PT
				FROM OPENROWSET(''SQLNCLI'',''Server=WG0522;Trusted_Connection=yes;database=DGDB'',
				''SET FMTONLY OFF;SET NOCOUNT ON;EXEC dgdb.dbo.spGenTableFieldSetTableCheck 1,1 WITH RESULT SETS ((ID NVARCHAR(100)
				,tsrId INT
				, tsrName NVARCHAR(100)
				, tsrvar1 NVARCHAR(10), tsrVar2 NVARCHAR(10), tsrVar3 NVARCHAR(100), tsrDeletionFlag INT
				, MTART NVARCHAR(10), MTPOS_MARA NVARCHAR(10)
				, MTPOS NVARCHAR(10), KTGRM NVARCHAR(10), DISMM NVARCHAR(10),BKLAS NVARCHAR(10), MVGR1 NVARCHAR(10), PSTAT NVARCHAR(10)))'')
				WHERE DISMM NOT IN (''X0'',''V2'')
			
			/*Assign Product Type*/
			UPDATE ' + @dbName + '..Adhoc 
				SET ProductType = tsrVAR2,
					ProducTypeDescription = tsrVAR3 ,
					zActive = CASE WHEN zProductType = NULL THEN 0 ELSE 1 END
				FROM ' + @dbName + '..Adhoc INNER JOIN #PT ON zProductType = MTPOS_MARA + BKLAS + MTPOS + KTGRM
		'
		EXEC (@SQL)

		/*Try to get Freight% & SerNp from SourceRules for 1 or main Plants*/
			SET @SQL = '				
				Select *,0 as Done INTO #cfSourceRuleKeyWords from cfSourceRuleKeyWords

				SELECT DISTINCT 
						srrID
						, ''zFreightUplift'' AS Field
						, S.srcID
						, S.srcName      
						, dgdb.dbo.RegEXReplace(DATA,''^[^=]*='','''') AS Value		
						, S.srrWhere AS srrWhere  
						, srrFIELDSeq
						, srrUpdateSeq
						, 0 AS DONE
					INTO #RULES
					FROM dbo.vSourceRules S
						CROSS APPLY ( SELECT REPLACE(Data, '''''''', '''') AS DATA
												FROM DGDB_PL..fnSplitString(S.srrUpdate, ''|'')) X			
						INNER JOIN ' + @dbName + '..adhoc ON srcID = zRuleSrcID
					WHERE srrFieldName LIKE ''%freight%'' 
					ORDER BY srrFIELDSeq,srrUpdateSeq	

				INSERT INTO #RULES
				SELECT DISTINCT 
					    srrID
					  , ''zSERNP'' AS Field
					  , srcID      
					  , S.srcName      
					  , REPLACE(srrUpdate,'''''''','''') AS Value
					  , srrWhere AS srrWhere  
					  , srrFIELDSeq
					  , srrUpdateSeq
					  , 0 AS Done	  				
					FROM dbo.vSourceRules S		
						INNER JOIN ' + @dbName + '..adhoc ON srcID = zRuleSrcID
					WHERE srrFieldName LIKE ''%SERNP%'' 

				DECLARE @srrID INT,@srcID INT,@WHERE NVARCHAR(4000),@Value NVARCHAR(50),@Field NVARCHAR(50),@SQL NVARCHAR(4000),@UsedInRule NVARCHAR(80),@UsedInAdhoc NVARCHAR(80),@srcName NVARCHAR(50)

				PRINT ''''
				PRINT ''Keywords to be Replaced''
				PRINT ''''

				WHILE (SELECT TOP 1 1 FROM #cfSourceRuleKeyWords WHERE done = 0 ) = 1
					BEGIN
						SELECT TOP 1 
								@UsedInRule = UsedInRule,
								@UsedInAdhoc = UsedInAdhoc								
							FROM #cfSourceRuleKeyWords
							WHERE done = 0							

						SET @SQL = '' UPDATE #RULES SET srrWHERE = REPLACE(srrWHERE, '''''' + @UsedInRule + '''''', '''''' + @UsedInAdhoc + '''''')''
						
						BEGIN TRY							
							EXEC (@SQL)
							PRINT CAST(''OK'' AS CHAR(10)) + CAST(@@ROWCOUNT AS CHAR(8)) +  @SQL
						END TRY

						BEGIN CATCH	--Do nothing go to the neXt
							PRINT CAST(''ERROR'' AS CHAR(10)) + CAST(@@ROWCOUNT AS CHAR(8)) +  @SQL
						END CATCH

						UPDATE #cfSourceRuleKeyWords SET done = 1 WHERE UsedInRule = @UsedInRule
					END
				
				PRINT ''''
				PRINT ''Rules to be Applied''
				PRINT ''''
				PRINT CAST(''STATUS'' AS CHAR(10)) + CAST(''UPDATES'' AS CHAR(8)) +  CAST(''SRCNAME'' AS CHAR(15)) + '' SQL''

				
				WHILE (SELECT TOP 1 1 FROM #RULES WHERE done = 0 ORDER BY srrFIELDSeq,srrUpdateSeq) = 1
					BEGIN
						SELECT TOP 1 
								@srrID = srriD,
								@srcID = srcID ,
								@srcName = srcName,
								@WHERE = srrWhere,
								@Value = Value,		
								@Field = Field
							FROM #RULES
							WHERE done = 0
							ORDER BY srrFIELDSeq,srrUpdateSeq

						SET @SQL = '' UPDATE ' + @dbName + '..adhoc SET '' + @Field + '' = '''''' + @Value  + '''''' WHERE zRuleSrcID = '' + CAST(@srcID  AS NVARCHAR) + '' AND '' + @WHERE  
						
						BEGIN TRY							
							EXEC (@SQL)
							PRINT CAST(''OK'' AS CHAR(10)) + CAST(@@ROWCOUNT AS CHAR(8)) + CAST(LEFT(@srcName,13) AS CHAR(15)) + @SQL
						END TRY

						BEGIN CATCH	--Do nothing go to the neXt
							PRINT CAST(''ERROR'' AS CHAR(10)) + CAST(@@ROWCOUNT AS CHAR(8)) + CAST(LEFT(@srcName,13) AS CHAR(15)) + @SQL
						END CATCH

						UPDATE #RULES SET done = 1 WHERE srrID = @srrID
					END
					PRINT ''''
						'
			EXEC (@SQL)

		SET @SQL = '

			/*Use Default Supplier*/
			UPDATE ' + @dbName + '..Adhoc 				
				SET zSupplier = LIFNR									
				FROM ' + @dbName + '..Adhoc 
					LEFT JOIN ' + @SAPDB + '..MATERIALID ON MATNR_EXT = Material
					INNER JOIN ' + @SAPDB + '..EORD ON MATNR_INT = MATNR
													AND WERKS = zPlantFrom
													AND FLIFN = ''X''

		/*UPDATE ListPrice to Local Currency*/
			SELECT WERKS
				  , WAERS
				INTO #WAERS
				FROM ' + @SAPDB + '..T001W
					INNER JOIN ' + @SAPDB + '..T001K ON T001K.BWKEY = T001W.BWKEY
					INNER JOIN ' + @SAPDB + '..T001 ON T001.BUKRS = T001K.BUKRS; 

			UPDATE ' + @dbName + '..Adhoc 				
				SET ListPrice = ListPrice * C.UKURS
				FROM ' + @dbName + '..Adhoc 
					INNER JOIN #WAERS W1 ON zPLANT		= W1.WERKS
					INNER JOIN #WAERS W2 ON zPlantFrom	= W2.WERKS
					INNER JOIN ' + @SAPDB + '..CurrentFXRates C ON FCURR = W2.WAERS AND TCURR = W1.WAERS


			
		/*Set Active Flag*/
			UPDATE ' + @dbName + '..Adhoc 
				SET zActive = 0
				FROM ' + @dbName + '..Adhoc
				WHERE zPlantFrom  IS NULL
			PRINT CAST(''Records in ADHOC that could not be copied from another Plant,Marked as Inactive : '' AS CHAR(80)) + CAST(@@ROWCOUNT as NVARCHAR) 
				'			
		EXEC (@SQL)

		SET @SQL = '
			PRINT ''''
			PRINT ''''
			PRINT ''Plant Records Copied from the folowwing Plants:''
			PRINT ''''
			Select CASE WHEN ISNULL(zPlantFrom,'''') = '''' THEN ''N/A'' ELSE zPlantFrom END AS PlantFROM,COUNT(1) AS Matches, 0 as DOne INTO #TMP FROM ' + @dbName + '..Adhoc GROUP BY zPlantFrom ORDER BY zPlantFrom
			DECLARE @zPlantFrom NVARCHAR(10),@Count INT
			WHILE (Select top 1 1 from #TMP WHERE DONE = 0 ) = 1
				BEGIN
					Select top 1 @zPlantFrom = PlantFrom,@Count = Matches from #TMP WHERE DONE = 0 
					PRINT CAST(@zPlantFrom as CHAR(6)) + CAST(@Count AS NVARCHAR)
					UPDATE #TMP SET Done = 1 where PlantFrom = @zPlantFrom
				END
			PRINT ''''
		'		
		EXEC (@SQL)

END	
GO
