USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spTMP_AddSourceListFromSAP_WIP]    Script Date: 3/9/2026 9:14:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Add Sourcelist Records (SL) FROM SAP to ttEORD
*/

--EXEC [spTMP_AddSourceListFromSAP_WIP] '9',''

CREATE PROCEDURE [dbo].[spTMP_AddSourceListFromSAP_WIP]
	@srcID INTEGER = 16,
	@zVPL	NVARCHAR(80) = ''		-- For manual use in SP30, please change bottom section where INSERT takes place Change #EORD into ttEORD etc..
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

BEGIN
	DECLARE 
		@SQL	NVARCHAR(4000),
		@DbName NVARCHAR(60) ,
		@SAPdb	NVARCHAR(60) 
		


	SET @DbName = dbo.fnGetVPLName(@srcID)	
	SELECT @SAPdb = trdDatabase FROM dbo.cfTargetData INNER JOIN dbo.cfSource ON srcSystem = trdSystem AND srcClient = trdClient WHERE srcID = @srcID

	IF @zVPL <> ''
		BEGIN
			SET @DbName = @zVPL
		END

	SET @SQL = '
		USE ' + @DbName + '

		/* GET MATERIALS FROM ttEORD*/
			SELECT 
					MATNR,
					WERKS,
					LIFNR,
					ProdTypeCode,
					zMATKL,
					zSrcID,
					zSource, 
					zChange,
					zActive
				INTO #VPL
				FROM  ttEORD 							
				WHERE	zChange = 1 
					OR  zActive = 1 
		PRINT CAST(''ttEORD New & Changes'' AS CHAR(30)) + CAST(@@ROWCOUNT AS NVARCHAR)

		/* GET MATERIALS FROM SAP*/				
			SELECT 	S.LIFNR,				  
				   V.MATNR,
				   S.WERKS,
				   S.EKORG,
				   S.MEINS,
				   '''' AS AUTET,
				   '''' AS FLIFN,
				   ''99991231'' AS BDATU,
				   ''20000101'' AS VDATU,
				   S.ZEORD,
				   S.LOGSY,
				   V.ProdTypeCode,
				   S.LOGSY AS zLogsySAP,
				   V.zMATKL,
				   S.WERKS + ''=''+S.LIFNR AS zWERKS,
				   S.MATNR as zMATNR_INT,
				   S.LIFNR as zSupplier,			  
				   NULL as zSourceListOverride,
				   V.zSrcID,
				   0 as zID,
				   V.zSource,
				   V.zChange,
				   V.zActive,
				   CAST(0  AS BIT) AS VPL
				INTO #SAP
				FROM ' + @SAPdb + '..EORD S
					INNER JOIN ' + @SAPdb + '..MATERIALID ID 
						ON S.MATNR = ID.MATNR_INT
					INNER JOIN #VPL V 
						ON V.MATNR = ID.MATNR_EXT 
						AND V.WERKS = S.WERKS 
				ORDER BY S.MATNR,S.werks,S.zeord
			PRINT CAST(''SAP'' AS CHAR(30)) + CAST(@@ROWCOUNT AS NVARCHAR)								

		/*NOT IN tt*/
			UPDATE #SAP
				SET VPL = 1 
				FROM #SAP S
					INNER JOIN #VPL V
						ON V.MATNR = S.MATNR
						AND V.WERKS = S.WERKS 
						AND V.LIFNR = S.LIFNR
		PRINT CAST(''SAP NOT IN ttEORD'' AS CHAR(30)) + CAST(@@ROWCOUNT AS NVARCHAR)		
		
		/*GET Field NAMES FROM #SAP*/
			DECLARE @FIELDS NVARCHAR(4000),@SQL NVARCHAR(4000)
			SELECT @FIELDS = 
				STUFF(( 
					SELECT  '','' + COLUMN_NAME 
						FROM Tempdb.INFORMATION_SCHEMA.COLUMNS 
							WHERE TABLE_NAME LIKE ''#SAP__%'' 
								AND COLUMN_NAME IN (SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = ''ttEORD'')				
					FOR XML PATH('''')), 1, 1, '''')		
		
		/*INSERT RELATED SAP Records INTO ttEORD*/
			Select * INTO #EORD from tteord 
			SET @SQL  = ''INSERT INTO #EORD('' + @FIelds + '') SELECT '' + @FIELDS + '' FROM #SAP WHERE VPL = 0''
			EXEC (@SQL)
			select * from #SAP WHERE MATNR = ''CON-OS-CBR8D31S''
			Select * from #EORD WHERE MATNR = ''CON-OS-CBR8D31S''
			SELECT * FROM dgdb_PL_EPN_300..EORD WHERE MATNR = ''CON-OS-CBR8D31S'' AND werks = ''2111''
	

	'
	PRINT @SQL
	EXEC (@SQL)
	
		
END
 
GO
