USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[zWebSP_GET_Material_ProductType]    Script Date: 3/9/2026 9:14:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[zWebSP_GET_Material_ProductType]

AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

BEGIN
	SELECT tsrVar2,tsrVar3
		FROM dgdb..TableFieldSetRow
		WHERE tsrTsnID = 1
			AND tsrVar1 IN ('HW','SB','VN','VS')
			AND tsrVar3 NOT LIKE '%APO%' AND tsrVar3 NOT LIKE '%Planned%'
			AND tsrDeletionFlag = 0
		ORDER BY tsrVar1
		  , tsrVar2
END
GO
