USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spProcess40CreateExportTables_AUSP]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- EXEC [spProcess40CreateExportTables_AUSP] 'zVPL_EPN_20161028_30_04','EPN','300'
CREATE PROCEDURE [dbo].[spProcess40CreateExportTables_AUSP]


       --@SrcID                    INTEGER			= 3 ,
	   @dbName					NVARCHAR(80)		= 'DGDB_PL_TEST',
	   @srcSystem NVARCHAR(3) = 'EPN',
	   @srcClient			NVARCHAR(3) = '300'
       

AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED


BEGIN
       DECLARE      
             @SQL               NVARCHAR(4000),
			 @Message			NVARCHAR(255),
			 @Rowcount			INTEGER				= 0 --,			 		
			 --@srcSystem			NVARCHAR(3) = 'EPN',
			 --@srcClient			NVARCHAR(3) = '300'

		
		/*only to use with @srcID */
		--SELECT @DBName = 'VPL' + srcVendorCode + '_'+ srcName + '_' + CAST(@SrcID AS NVARCHAR) 
		--	, @srcSystem = srcSystem
		--	, @srcClient = srcClient
		--	FROM dbo.cfSource WHERE srcID = @SrcID		

	/*txAUSP_Classes_LSMW */
    SET @SQL = 
         '	USE ' + @DBName + ' 
			IF OBJECT_ID(''txAUSP_Classes_LSMW'') IS NOT NULL BEGIN DROP TABLE txAUSP_Classes_LSMW END;
			SELECT	KLART,
					OBJEK,
					CASE KLART 
						WHEN ''001'' THEN ''SERVICELEVEL'' 
						WHEN ''057'' THEN ''WC_INFORECORD''
						ELSE ''''
					END as CLASS,
					zATINN AS ATNAM,
					ATWRT,					
					zActive,
					zInSAP
					zJobNr,
					''' + @srcSystem + ''' as zSystem,
					''' + @srcClient + ''' as zClient, 
					zSrcID,
					zID
				INTO ' + @dbName + '..txAUSP_Classes_LSMW 
		 FROM ' + @dbName + '..ttAUSP										
		WHERE ISNULL(ttAUSP.zActive,0) = 1 OR ISNULL(ttAUSP.zChange,0) = 1'											
		--PRINT @SQL
	EXEC(@SQL)
    
	SET @Message = CAST('txAUSP_Classes_LSMW' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR)
	RAISERROR (@Message,10,1) WITH NOWAIT

END

GO
