USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spProcess05CiscoBootstrapImport_TW]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- EXEC [spProcess05CiscoBootstrapImport_TW] 51, 1
CREATE PROCEDURE [dbo].[spProcess05CiscoBootstrapImport_TW] 

	@srcID		NVARCHAR(20) = 13,
	@GLPOnly	BIT = 0						-- only import GPL
AS
BEGIN
	
	SET NOCOUNT ON;

		SET TRANSACTION ISOLATION LEVEL 
		READ UNCOMMITTED 

		DECLARE 
			@SQL NVARCHAR(4000),
			@SQL2 NVARCHAR(4000),
			@srcName NVARCHAR(50)='',
			@srcSrtCode NVARCHAR(4),
			@srcVendorCode NVARCHAR(50)='',
			@srcTableName NVARCHAR(50)='',			
			@DBName NVARCHAR(40)='',
			@GPLFile NVARCHAR(255),
			@WPLFile NVARCHAR(255)

		/*Get the database name based on SourceID*/
		 SELECT	@srcName = srcName,
			@srcSrtCode = srcSrtCode,
			@srcVendorCode = srcVendorCode ,
            @srcTableName = srcTableName			
        FROM cfSource
        WHERE srcid = @srcID	
		--SET @DBName =  @srcSrtCode + @srcVendorCode + '_' + @srcName + '_' + CAST(@srcID AS NVARCHAR)
		SET @DBName =  'zCisco_51_E03'

		/* Check if SrcID is Cisco*/
		IF NOT EXISTS( SELECT * FROM dbo.cfSourceSourceGroup WHERE ssgSrgID = 1 AND ssgSrcID = @srcID)  --- Cisco Only)
			BEGIN
				PRINT 'srcID ' + CAST(@srcID AS NVARCHAR) +   ' is not a Cisco Pricelist ( <> srcGroup 1)'
				RETURN
			END
		ELSE
			BEGIN
				Select @GPLFile = 
					CASE @SrcID
						WHEN '9' THEN '\\WG0218\MDMUpload\CA\1129 - Canada GPL Pricing file.txt'
						WHEN '13' THEN '\\WG0218\MDMUpload\AU\Australia GPL Pricing file.txt'
						WHEN '16' THEN '\\WG0218\MDMUpload\US\1109 - US GPL Pricing file.txt'
						--WHEN '51' THEN '\\WG0218\MDMUpload\EU\1110_Pricing_NGC1.txt'
						WHEN '51' THEN '\\WG0218\MDMUpload\EU\1110_Pricing_Bootstrap_NGC_191007161848.txt'
						WHEN '14' THEN '\\WG0218\MDMUpload\NZ_SG\1441 - Asia Pacific GPL Pricing file.txt'
						WHEN '15' THEN '\\WG0218\MDMUpload\NZ_SG\1441 - Asia Pacific GPL Pricing file.txt'
						WHEN '366' THEN '\\WG0218\MDMUpload\NZ_SG\1441 - Asia Pacific GPL Pricing file.txt'
						WHEN '367' THEN '\\WG0218\MDMUpload\NZ_SG\1441 - Asia Pacific GPL Pricing file.txt'
						ELSE '\\Oh\Big\Bummer'
					END
				Select @WPLFile = 
					CASE @SrcID
						WHEN '9' THEN '\\WG0218\MDMUpload\CA\1135 - Canada WPL Pricing file.txt'
						WHEN '13' THEN '\\WG0218\MDMUpload\AU\Australia WPL Pricing file.txt'
						WHEN '16' THEN '\\WG0218\MDMUpload\US\1134 - US WPL Pricing file.txt'
						--WHEN '51' THEN '\\WG0218\MDMUpload\EU\1137-Europe WPL Pricing file1.txt'
						WHEN '51' THEN '\\WG0218\MDMUpload\EU\1137_Pricing_Bootstrap_NGC_160615093817.txt'
						WHEN '14' THEN '\\WG0218\MDMUpload\NZ_SG\1442 - Asia Pacific WPL Pricing file.txt'
						WHEN '15' THEN '\\WG0218\MDMUpload\NZ_SG\1442 - Asia Pacific WPL Pricing file.txt'
						WHEN '366' THEN '\\WG0218\MDMUpload\NZ_SG\1442 - Asia Pacific WPL Pricing file.txt'
						WHEN '367' THEN '\\WG0218\MDMUpload\NZ_SG\1442 - Asia Pacific WPL Pricing file.txt'
						ELSE '\\Oh\Big\Bummer'
					END
			END

		IF OBJECT_ID('tempdb..##GPL') IS NOT NULL BEGIN DROP TABLE ##GPL END				
		IF OBJECT_ID('tempdb..##WPL') IS NOT NULL BEGIN DROP TABLE ##WPL END	

		/* ## means Create global temporary table (in Memory)*/
		CREATE TABLE [dbo].[##GPL](
			[creation_date] [nvarchar](255) NULL,
			[product_number] [nvarchar](255) NULL,
			[description] [varchar](150) NULL,
			[erp_price_list_id] [nvarchar](255) NULL,
			[list_price] [nvarchar](255) NULL,
			[orderable_ind] [nvarchar](255) NULL,
			[configuration_ind] [nvarchar](255) NULL,
			[discount_code] [nvarchar](255) NULL,
			[unspsc_code] [nvarchar](255) NULL,
			[leadtime] [nvarchar](255) NULL,
			[service] [nvarchar](255) NULL,
			[weight] [nvarchar](255) NULL,
			[price_protection] [nvarchar](255) NULL,
			[web_orderable] [nvarchar](255) NULL,
			[pricing_tool_indicator] [nvarchar](255) NULL,
			[delivery_method] [nvarchar](255) NULL,
			[item_catalog_category] [nvarchar](255) NULL,
			[serialized_flag] [nvarchar](255) NULL,
			[eol_ext_announce_date] [nvarchar](255) NULL,
			[eol_sales_date] [nvarchar](255) NULL,
			[eol_contract_renew_date] [nvarchar](255) NULL,
			[eol_last_support_date] [nvarchar](255) NULL,
			[eol_sw_avail_date] [nvarchar](255) NULL,
			[eol_svc_attach_date] [nvarchar](255) NULL,
			[eol_sw_maintenance_date] [nvarchar](255) NULL,
			[eol_security_vul_support_date] [nvarchar](255) NULL,
			[erp_family] [nvarchar](255) NULL,
			[product_type] [nvarchar](255) NULL,
			[product_subgroup] [nvarchar](255) NULL,
			[upc_code] [nvarchar](255) NULL,
			[stockable_flag] [nvarchar](255) NULL,
			[env_orderability_flag] [nvarchar](255) NULL,
			[sw_subscription_minimum_quantity] [nvarchar](255) NULL,
			[sw_subscription_maximum_quantity] [nvarchar](255) NULL,
			[sw_subscription_quantity_band_uom] [nvarchar](255) NULL,
			[sw_subscription_duration_minimum] [nvarchar](255) NULL,
			[sw_subscription_duration_maximum] [nvarchar](255) NULL,
			[sw_subscription_duration_default] [nvarchar](255) NULL,
			[sw_subscription_duration_measurement_type] [nvarchar](255) NULL,
			[pak_delivery_preference] [nvarchar](255) NULL,
			[fulfillment_restriction] [nvarchar](255) NULL,
			[provisioning_enabled]  [nvarchar](255) NULL,
			[product_quantity_delivery_preference]  [nvarchar](255) NULL,
			[base_discount_category]  [nvarchar](255) NULL,
			[item_type]  [nvarchar](255) NULL,
			[user_specified_start_date]  [nvarchar](255) NULL,
			[smart_licensing_enabled]  [nvarchar](255) NULL,
			[smart_account]  [nvarchar](255) NULL,
			[service_program_name]  [nvarchar](MAX) NULL
			)

		SET @SQL = '
						BULK INSERT ##GPL
							FROM '''  + @GPLFile + '''
							WITH ( FIRSTROW = 2, FIELDTERMINATOR = ''|'' , ROWTERMINATOR = ''0x0a'')
						PRINT '''  + @GPLFile + ' Created, Recordcount: '' + CAST(@@ROWCOUNT AS NVARCHAR)
					'
		EXEC (@SQL)
		
		IF @GLPOnly = 0
			BEGIN
				CREATE TABLE [dbo].[##WPL](
					[creation_date] [nvarchar](255) NULL,
					[product_number] [nvarchar](255) NULL,
					[description] [varchar](150) NULL,
					[erp_price_list_id] [nvarchar](255) NULL,
					[list_price] [nvarchar](255) NULL,
					[orderable_ind] [nvarchar](255) NULL,
					[configuration_ind] [nvarchar](255) NULL,
					[discount_code] [nvarchar](255) NULL,
					[unspsc_code] [nvarchar](255) NULL,
					[leadtime] [nvarchar](255) NULL,
					[service] [nvarchar](255) NULL,
					[weight] [nvarchar](255) NULL,
					[price_protection] [nvarchar](255) NULL,
					[web_orderable] [nvarchar](255) NULL,
					[pricing_tool_indicator] [nvarchar](255) NULL,
					[delivery_method] [nvarchar](255) NULL,
					[item_catalog_category] [nvarchar](255) NULL,
					[serialized_flag] [nvarchar](255) NULL,
					[eol_ext_announce_date] [nvarchar](255) NULL,
					[eol_sales_date] [nvarchar](255) NULL,
					[eol_contract_renew_date] [nvarchar](255) NULL,
					[eol_last_support_date] [nvarchar](255) NULL,
					[eol_sw_avail_date] [nvarchar](255) NULL,
					[eol_svc_attach_date] [nvarchar](255) NULL,
					[eol_sw_maintenance_date] [nvarchar](255) NULL,
					[eol_security_vul_support_date] [nvarchar](255) NULL,
					[erp_family] [nvarchar](255) NULL,
					[product_type] [nvarchar](255) NULL,
					[product_subgroup] [nvarchar](255) NULL,
					[upc_code] [nvarchar](255) NULL,
					[stockable_flag] [nvarchar](255) NULL,
					[env_orderability_flag] [nvarchar](255) NULL,
					[sw_subscription_minimum_quantity] [nvarchar](255) NULL,
					[sw_subscription_maximum_quantity] [nvarchar](255) NULL,
					[sw_subscription_quantity_band_uom] [nvarchar](255) NULL,
					[sw_subscription_duration_minimum] [nvarchar](255) NULL,
					[sw_subscription_duration_maximum] [nvarchar](255) NULL,
					[sw_subscription_duration_default] [nvarchar](255) NULL,
					[sw_subscription_duration_measurement_type] [nvarchar](255) NULL,
					[pak_delivery_preference] [nvarchar](255) NULL,
					[fulfillment_restriction] [nvarchar](255) NULL,
					[provisioning_enabled] [nvarchar](255) NULL,
					[product_quantity_delivery_preference]  [nvarchar](255) NULL,
					[base_discount_category] [nvarchar](255) NULL,
					[item_type]  [nvarchar](255) NULL,
					[user_specified_start_date] [nvarchar](255) NULL,
					[smart_licensing_enabled] [nvarchar](255) NULL,
					[smart_account]  [nvarchar](255) NULL,
					[service_program_name]  [nvarchar](255) NULL
			
					)


		
				SET @SQL = '
								BULK INSERT ##WPL
									FROM '''  + @WPLFile + '''
									WITH ( FIRSTROW = 2, FIELDTERMINATOR = ''|'' , ROWTERMINATOR = ''0x0a'')
								PRINT '''  + @WPLFile + ' Created, Recordcount: '' + CAST(@@ROWCOUNT AS NVARCHAR)
							'
				EXEC(@SQL)
				PRINT ''
			END

		--TRUNCATE TABLE 
		--INSERT INTO Cisco

		IF OBJECT_ID(@Dbname + '..' + @srcTableName) IS NOT NULL 
			BEGIN 
				SET @SQL = 'DROP TABLE ' + @Dbname + '..' + @srcTableName
				EXEC (@SQL)
				PRINT @Dbname + '..' + @srcTableName + ' Dropped'
			END				
		
		SET @SQL = '
			SELECT ##GPL.creation_date ,
					##GPL.product_number ,
					##GPL.[description] ,
					##GPL.erp_price_list_id ,
					##GPL.list_price AS list_price ,
					##GPL.orderable_ind ,
					##GPL.configuration_ind ,
					##GPL.discount_code ,
					##GPL.unspsc_code ,
					##GPL.leadtime ,
					##GPL.[service] ,
					##GPL.[weight] ,
					##GPL.price_protection ,
					##GPL.web_orderable ,
					##GPL.pricing_tool_indicator ,
					##GPL.delivery_method ,
					##GPL.item_catalog_category ,
					##GPL.serialized_flag ,
					##GPL.eol_ext_announce_date ,
					##GPL.eol_sales_date ,
					##GPL.eol_contract_renew_date ,
					##GPL.eol_last_support_date ,
					##GPL.eol_sw_avail_date ,
					##GPL.eol_svc_attach_date ,
					##GPL.eol_sw_maintenance_date ,
					##GPL.eol_security_vul_support_date ,
					##GPL.erp_family ,
					##GPL.product_type ,
					##GPL.product_subgroup ,
					##GPL.upc_code ,
					##GPL.stockable_flag ,
					##GPL.env_orderability_flag ,
					##GPL.sw_subscription_minimum_quantity ,
					##GPL.sw_subscription_maximum_quantity ,
					##GPL.sw_subscription_quantity_band_uom ,
					##GPL.sw_subscription_duration_minimum ,
					##GPL.sw_subscription_duration_maximum ,
					##GPL.sw_subscription_duration_default ,
					##GPL.sw_subscription_duration_measurement_type ,
					##GPL.pak_delivery_preference ' 
					+ CASE WHEN @GLPOnly = 0 THEN  ', ##WPL.list_price ' ELSE ',NULL' END + ' AS WPL_List_Price
					INTO ' + @Dbname + '..' + @srcTableName
			SET @SQL2 = '
				FROM ##GPL ' 
					+ CASE WHEN @GLPOnly = 0 THEN  ' LEFT OUTER JOIN ##WPL ON ##GPL.product_number = ##WPL.product_number ' ELSE '' END + ' 					
				GROUP BY ##GPL.creation_date ,
					##GPL.product_number ,
					##GPL.description ,
					##GPL.erp_price_list_id ,
					##GPL.list_price ,
					##GPL.orderable_ind ,
					##GPL.configuration_ind ,
					##GPL.discount_code ,
					##GPL.unspsc_code ,
					##GPL.leadtime ,
					##GPL.service ,
					##GPL.weight ,
					##GPL.price_protection ,
					##GPL.web_orderable ,
					##GPL.pricing_tool_indicator ,
					##GPL.delivery_method ,
					##GPL.item_catalog_category ,
					##GPL.serialized_flag ,
					##GPL.eol_ext_announce_date ,
					##GPL.eol_sales_date ,
					##GPL.eol_contract_renew_date ,
					##GPL.eol_last_support_date ,
					##GPL.eol_sw_avail_date ,
					##GPL.eol_svc_attach_date ,
					##GPL.eol_sw_maintenance_date ,
					##GPL.eol_security_vul_support_date ,
					##GPL.erp_family ,
					##GPL.product_type ,
					##GPL.product_subgroup ,
					##GPL.upc_code ,
					##GPL.stockable_flag ,
					##GPL.env_orderability_flag ,
					##GPL.sw_subscription_minimum_quantity ,
					##GPL.sw_subscription_maximum_quantity ,
					##GPL.sw_subscription_quantity_band_uom ,
					##GPL.sw_subscription_duration_minimum ,
					##GPL.sw_subscription_duration_maximum ,
					##GPL.sw_subscription_duration_default ,
					##GPL.sw_subscription_duration_measurement_type ,
					##GPL.pak_delivery_preference '
					+ CASE WHEN @GLPOnly = 0 THEN  ', ##WPL.list_price ' ELSE '' END 				

			EXEC (@SQL + @SQL2)			
			PRINT @Dbname + '..' + @srcTableName + ' Created, Recordcount: ' + CAST(@@ROWCOUNT AS NVARCHAR)
						
			IF OBJECT_ID('tempdb..##GPL') IS NOT NULL BEGIN DROP TABLE ##GPL END				
			IF OBJECT_ID('tempdb..##WPL') IS NOT NULL BEGIN DROP TABLE ##WPL END				
			

END
GO
