USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spSysRefreshTargetData_New_MARC]    Script Date: 3/9/2026 9:14:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[spSysRefreshTargetData_New_MARC] 
	@trdSystem	NVARCHAR(3)		='EPN'	,	-- EP1, EQ1,ED1
	@trdClient	NVARCHAR(3)		='300'	,
	@SourceDB	NVARCHAR(40)	='WG0233.dsEP1'
AS 

DECLARE @trdSQLLinkedServer		NVARCHAR(40),
		@trdSystemUser			NVARCHAR(40),
		@tblTable				NVARCHAR(40),
		@tblPK					NVARCHAR(255),
		@TblPrefix				NVARCHAR(40)		= 'ZZX_',
		@tblTablePrevious		NVARCHAR(40)		='',		
		@dbName					NVARCHAR(40)		='',
		@TargetTable			NVARCHAR(40),
		@FieldList				NVARCHAR(1000),
		@FieldList2				NVARCHAR(1000),
		@FieldListNull			NVARCHAR(1000),
		@SQL					NVARCHAR(4000)		='',		
		@StartDate				DATETIME,
		@StartDate2				DATETIME,
		@RowCount				INTEGER		
		

	SET NOCOUNT ON
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED 	
	SET @StartDate = SYSDATETIME()

    SELECT @dbName = trdDataBase ,
            @trdSQLLinkedServer = trdSQLLinkedServer,
			@trdSystemUser = trdSystemUser
        FROM cfTargetData
        WHERE trdSystem = @trdSystem
            AND trdClient = @trdClient	

	IF @dbName = ''
		BEGIN
			PRINT 'System not set-up in table cfTargetData'
			RETURN
		END
	
    IF NOT EXISTS ( SELECT * FROM sys.servers WHERE name = @trdSQLLinkedServer )
        BEGIN
            PRINT 'Linked server ' + @trdSQLLinkedServer + ' does not exist on the ' + @@SERVERNAME + ' SQL Server'
            RETURN
        END
	
	IF NOT EXISTS (SELECT name FROM master..sysdatabases WHERE name = @DBName)
		BEGIN						
			SET @SQL = 'CREATE DATABASE ' + @DBName + '
				ON 
				( NAME = ' + @DBName + ',
					FILENAME = ''F:\MSSQL\data\' + @DbName + '.mdf'',
					SIZE = 50,	
					MAXSIZE = UNLIMITED,				
					FILEGROWTH = 50 )
				LOG ON
				( NAME = ' + @DBName + '_log,
					FILENAME = ''F:\MSSQL\LOGS\' + @DbName + 'log.ldf'',
					SIZE = 50MB,	
					MAXSIZE = UNLIMITED,				
					FILEGROWTH = 50MB );
				ALTER DATABASE ' + @DBName + ' SET RECOVERY SIMPLE;' 
			PRINT @SQL
			EXEC( @SQL)
		END 
	PRINT ''	
		
	INSERT INTO dgdb_PL..SAPDataRefreshLog VALUES (@trdSystem,@trdClient,'Start',0,CAST(DATEDIFF(SECOND,@startDate,GETDATE()) AS NVARCHAR),'',SYSUTCDATETIME(),SYSTEM_USER)						

		SELECT tblTable,tblPK,0 AS Done INTO #Tables 		
			FROM dgdb..[Table] 
			INNER JOIN dgDB.dbo.TableField ON dgDB.dbo.TableField.tbfTblID = dgDB.dbo.[Table].tblID
			INNER JOIN dgDB.dbo.Field ON dgDB.dbo.Field.fldID = dgDB.dbo.TableField.tbfFldID
			INNER JOIN dgdb..DataType ON dgDB.dbo.DataType.dtyCode = dgDB.dbo.Field.fldDtyCode
		--WHERE tblTable IN ('T179T','TCURR','T023T','T320','T001L','T001W','TVKWZ','MARA','MATERIALID','MARC','MBEW','MVKE','MLAN','MARD','MLGN','MLGT','EINA','EINE','EORD','MAKT','AUSP','KNA1','LFA1', 'LFB1', 'LFM1','CEPC','TSTL','T001','T001K','TVKO','MARM','A017','KONP','KONP_NEW','A914','MAST','STKO','STPO','ZOTCSD0102','ZOTCSD0101','KSSK','KLAH','INOB') AND tbfTffCode = 'GOV'	
		WHERE tblTable IN ('MARC') AND tbfTffCode = 'GOV'			
		/*turn TSTL off from the list above for the time being as old style it depends on column vardata and it is not dynamic anyway*/
		/*!!!! TCURR HAS ISSUES excluded for the time being !!!!!*/
		--WHERE tblTable IN ('AUSP') AND tbfTffCode = 'GOV'		
		ORDER BY tblProcessSequence ASC ,
			tbfSeq


		/*Create Table Structure*/		
		WHILE (SELECT TOP 1 1 FROM #Tables WHERE Done = 0 ) = 1
				BEGIN
					SELECT TOP 1 @tblTable = tblTable,@tblPK = REPLACE(dgdb.dbo.RegExReplace(tblPK,'{tblPrefix}|{Source}',''),@tblTable + '.','') FROM #Tables WHERE Done = 0							
					SET @TargetTable = @TblPrefix + @tblTable
					SET @StartDate2 = SYSDATETIME()
					BEGIN TRY
							SET @RowCount = 0
							EXEC dgdb..spGenDropOrCheckTable @TargetTable,@DBName,1		
							EXEC dgdb..spGenGenerateTableFromTableFields
								@DbName = @dbName, -- nvarchar(40)
								@TableName = @tblTable, -- nvarchar(40)
								@tblPrefix = @TblPrefix, -- nvarchar(40)
								@ProcessType = 2, -- Return FieldList For GOV Fields only
								@FieldList = @FieldList2 OUTPUT--OUTPUT Paramater
					
							EXEC dgdb..spGenGenerateTableFromTableFields
								@DbName = @dbName, -- nvarchar(40)
								@TableName = @tblTable, -- nvarchar(40)
								@tblPrefix = @TblPrefix, -- nvarchar(40)
								@ProcessType = 5, -- Return FieldList For GOV Fields only
								@FieldList = @FieldList OUTPUT--OUTPUT Paramater

								IF @tblTable = 'AUSP'
									BEGIN
										SET @SQL = 'ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD LIFNR NVARCHAR(10);'
										SET @SQL = @SQL + 'ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD MATNR NVARCHAR(18);'
										EXEC(@SQL)
									END

								/*GET LATEST DATA*/
								/*todo adjust client number*/								
								--SET @SQL =  'SELECT ' + REPLACE(@FieldList,'TRIM','RTRIM') + ' INTO ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' FROM ' + @SourceDB + '..' + @tblTable 
								--IF @tblTable = 'AUSP' BEGIN SET @FieldList = @FieldList + ',LIFNR,MATNR'; SET @FieldList2 = @FieldList2 + ',LIFNR,MATNR'; END
								SET @SQL =  'INSERT INTO ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' WITH (TABLOCK) (' + @FieldList2 + ') SELECT ' + REPLACE(@FieldList,'TRIM','RTRIM') + ' FROM ' + @SourceDB + '.dbo.' + @tblTable + ' WITH (NOLOCK)'
								SELECT @SQL =
									CASE @tblTable
										WHEN 'A017' THEN @SQL + ' WHERE DATBI > CONVERT(NVARCHAR,GETDATE(),112)'
										WHEN 'AUSP' THEN REPLACE(REPLACE(@SQL,'ATINN) SELECT','ATINN, LIFNR, MATNR) SELECT'),'AS ATINN','AS ATINN, LIFNR, MATNR')										
										WHEN 'KONP' THEN @SQL + ' WHERE KSCHL IN (''ZW01'',''ZWCP'',''PB00'',''RC00'',''FRA1'',''ZUPL'')'
										WHEN 'A914' THEN @SQL + ' WHERE KSCHL IN (''ZW01'',''ZWCP'') AND datab < CONVERT(NVARCHAR,GETDATE(),112)'
										--WHEN 'MARM' THEN @SQL + ' WHERE MEINH NOT IN (''EA'')'										
										WHEN 'ZOTCSD0102' THEN REPLACE(@SQL,'RTRIM(PRODH)','RTRIM(LEFT(PRODH,18))') + ' WHERE VKORG NOT IN (''60001'')'			
										WHEN 'TCURR' THEN @SQL + ' WHERE FCURR NOT IN (''USDN'')'	
										WHEN 'KNA1' THEN @SQL + ' WHERE KUNNR LIKE ''%IC%'''
                                        ELSE @SQL
									END

								PRINT @tblTable + ' - SQL:' +  @SQL
								EXEC (@SQL)
								SET @RowCount = @@ROWCOUNT


									IF @tblTable = 'TCURR'
										BEGIN
											EXEC dbo.spSysRefreshTargetDataFXRates @dbName											
											
											SET @SQL = 'ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD FXDATE NVARCHAR(10);'											
											EXEC(@SQL)
											SET @SQL = 'UPDATE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' SET FXDATE = 99999999 - GDATU;'
											EXEC (@SQL)										
											/* inverted rates needed for SGP - USD, so added all*/
											SET @SQL = 'INSERT INTO ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ( KURST,FCURR ,TCURR ,GDATU ,UKURS ,FXDATE) 
													SELECT KURST ,TCURR , FCURR ,GDATU , 1/UKURS , FXDATE  
													FROM ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' WHERE TCURR + FCURR + GDATU NOT IN (SELECT FCURR + TCURR + GDATU FROM ' + @dbName + '..' + @TblPrefix + @tblTable  +  ')'
											EXEC (@SQL)											
											SET @SQL = 'INSERT INTO ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ( KURST,FCURR ,TCURR ,GDATU ,UKURS ,FXDATE) SELECT ''M'',''USD'',''USD'','''',1,'''''
											EXEC (@SQL)
										END

									IF @tblTable = 'MARA'
										BEGIN
											SET @SQL = 'UPDATE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' SET VOLEH =  ''CM3'' WHERE VOLEH = ''CCM'';'				--SAP stores input VALUE CM3 as CCM in the SAP DB
											EXEC (@SQL)
											SET @SQL = 'ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD zShortDescription NVARCHAR(40);'											
											EXEC(@SQL)
											SET @SQL = 'UPDATE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' SET zShortDescription = MAKTX FROM ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' INNER JOIN ' + @dbName + '..' + @TblPrefix + 'MAKT ON ' + @TblPrefix + 'MARA.MATNR = ' + @TblPrefix + 'MAKT.MATNR;'
											EXEC (@SQL)		
											IF 	@trdSystem = 'EPN'	AND @trdClient = '300'
												BEGIN
													UPDATE DGDB_PL..cfPH SET zinSAP = 1 FROM cfPH P INNER JOIN dgdb_PL_EPN_300..T179T T ON p.PRODH = t.PRODH WHERE zinSAP <> 1
													UPDATE dbo.cfPH SET VTEXT = LEFT('OBS ' + VTEXT,40),zLegacyText = LEFT('OBS ' + zLegacyText,255) WHERE zactive = 0 AND LEFT(VTEXT,3) <> 'OBS'
													SET @SQL = '
														IF OBJECT_ID(''' + @dbName + '..MARA_PT'') IS NOT NULL BEGIN DROP TABLE ' + @dbName + '..MARA_PT END
														SELECT * INTO ' + @dbName + '..MARA_PT FROM ' + @SourceDB + ' .dbo.MARA_PT
														CREATE INDEX IX_MATNR_EXT ON ' + @dbName + '..MARA_PT(MATNR_EXT)
														CREATE INDEX IX_MFRPN ON ' + @dbName + '..MARA_PT(MFRPN)

														IF OBJECT_ID(''' + @dbName + '..MARC_PT'') IS NOT NULL BEGIN DROP TABLE ' + @dbName + '..MARC_PT END
														SELECT * INTO ' + @dbName + '..MARC_PT FROM ' + @SourceDB + ' .dbo.MARC_PT
														CREATE INDEX IX_MATNR_EXT ON ' + @dbName + '..MARC_PT(MATNR_EXT)
														CREATE INDEX IX_MATNR ON ' + @dbName + '..MARC_PT(MATNR)
														CREATE INDEX IX_MATNR_WERKS ON ' + @dbName + '..MARC_PT(MATNR,WERKS)
													'
													EXEC (@SQL)
												END
										END

																	
									IF @tblTable = 'EORD'
										BEGIN
											SET @SQL = 'DELETE FROM ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' WHERE BDATU <= CONVERT(NVARCHAR,GETDATE(),112)'											
											EXEC (@SQL)
										END

									IF @tblTable = 'KONP' --proff services priceing conditions
										BEGIN		
										--	INSERT INTO dgdb_PL..SAPDataRefreshLog VALUES (@trdSystem,@trdClient,@tblTable,@ROWCOUNT,CAST(DATEDIFF(SECOND,@startDate2,GETDATE()) AS NVARCHAR),'INSERT',SYSUTCDATETIME(),SYSTEM_USER)														
											SET @SQL = 'ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD zMATNR NVARCHAR(18);
														ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD zLIFNR NVARCHAR(10);
														ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD zWERKS NVARCHAR(4);
														ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD zVKORG NVARCHAR(4);
														ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD zTable NVARCHAR(10);
														'											
											EXEC(@SQL)											
											SET @SQL = 'UPDATE ' + @dbName + '..' + @TblPrefix + 'KONP SET zTable = ''A914'',zMATNR = MATNR, zVKORG = VKORG FROM '  + @dbName + '..' + @TblPrefix + 'KONP A INNER JOIN ' + @dbName + '..' + @TblPrefix + 'A914 B ON A.KNUMH = B.KNUMH;'											
											EXEC (@SQL)	
									--	INSERT INTO dgdb_PL..SAPDataRefreshLog VALUES (@trdSystem,@trdClient,@tblTable,@ROWCOUNT,CAST(DATEDIFF(SECOND,@startDate2,GETDATE()) AS NVARCHAR),'A914',SYSUTCDATETIME(),SYSTEM_USER)						
											SET @SQL = 'UPDATE ' + @dbName + '..' + @TblPrefix + 'KONP SET zTable = ''A017'',zMATNR = MATNR, zLIFNR = LIFNR,ZWERKS = WERKS FROM '  + @dbName + '..' + @TblPrefix + 'KONP A INNER JOIN ' + @dbName + '..' + @TblPrefix + 'A017 B ON A.KNUMH = B.KNUMH'
											EXEC (@SQL)	
								--		INSERT INTO dgdb_PL..SAPDataRefreshLog VALUES (@trdSystem,@trdClient,@tblTable,@ROWCOUNT,CAST(DATEDIFF(SECOND,@startDate2,GETDATE()) AS NVARCHAR),'A017',SYSUTCDATETIME(),SYSTEM_USER)						
											SET @SQL = 'DELETE ' + @dbName + '..' + @TblPrefix + 'KONP WHERE zTable IS NULL'											
											EXEC (@SQL)
									--	INSERT INTO dgdb_PL..SAPDataRefreshLog VALUES (@trdSystem,@trdClient,@tblTable,@ROWCOUNT,CAST(DATEDIFF(SECOND,@startDate2,GETDATE()) AS NVARCHAR),'DELETE',SYSUTCDATETIME(),SYSTEM_USER)						
											--SET @SQL = 'CREATE INDEX IX_KeyFields_KONP ON ' + @dbName + '..' + @TblPrefix + 'KONP (ZLIFNR,ZWERKS,ZMATNR)'
											--EXEC (@SQL)
										END

									
									IF @tblTable = 'STKO' --BOM Bundles Header
										BEGIN										
											SET @SQL = 'ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD zMATNR NVARCHAR(18);ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD zSTLAN NVARCHAR(1);'											
											EXEC(@SQL)											
											SET @SQL = 'UPDATE ' + @dbName + '..' + @TblPrefix + 'STKO SET zMATNR = MATNR, zSTLAN = STLAN FROM '  + @dbName + '..' + @TblPrefix + 'STKO A INNER JOIN ' + @dbName + '..' + @TblPrefix + 'MAST B ON A.STLNR = B.STLNR;'											
											EXEC (@SQL)												
										END
							
											IF @tblTable = 'STPO' --Bundles
										BEGIN										
											SET @SQL = 'ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD zWERKS NVARCHAR(4);ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD zMATNR NVARCHAR(18);'	
											EXEC(@SQL)											
											SET @SQL = 'UPDATE ' + @dbName + '..' + @TblPrefix + 'STPO SET zMATNR = MATNR,zWERKS = WERKS FROM '  + @dbName + '..' + @TblPrefix + 'STPO A INNER JOIN ' + @dbName + '..' + @TblPrefix + 'MAST B ON A.STLNR = B.STLNR;'											
											EXEC (@SQL)												
										END												
													
									
								/* SEt zCheckSUM*/
									EXEC dgdb..spGenGenerateTableFromTableFields
									@DbName = @dbName, -- nvarchar(40)
									@TableName = @tblTable, -- nvarchar(40)
									@tblPrefix = @TblPrefix, -- nvarchar(40)
									@ProcessType = 6, -- Return FieldList For GOV Fields only
									@FieldList = @FieldListNull OUTPUT--OUTPUT Paramater
									SET @SQL = 'ALTER TABLE ' + @dbName + '.dbo.' + @TblPrefix + @tblTable + ' ADD zCheckSum BINARY(16);'											
									EXEC (@SQL)

									SET @FieldListNULL = REPLACE(@FieldListNull,'),',')+') 
									SET @SQL = 'UPDATE ' + @dbName + '.dbo.' + @TblPrefix  + @tblTable + ' SET zCHECKSUM = HASHBYTES(''MD5'',' + @FieldListNull + ');'											
									EXEC (@SQL)
									SET @SQL = 'CREATE INDEX  UIX_zCHECKSUM_' + @tblTable + ' ON ' + @dbName + '.dbo.' + @TblPrefix  + @tblTable + ' (zCHECKSUM)'								
									EXEC (@SQL)

								/*Apply indexes*/
									SET @SQL = 'SELECT *,0 as Done INTO #TMP FROM dgdb_PL..cfTargetTableIndex WHERE triTrgName = ''' + @tblTable + ''';'
									SET @SQL = @SQL + 'DECLARE @ID INT,@Fields as NVARCHAR(1000), @Unique NVARCHAR(10), @SQL NVARCHAR(250);'
									SET @SQL = @SQL + 'WHILE (SELECT TOP 1 1 FROM #TMP WHERE done = 0) = 1 BEGIN '
									SET @SQL = @SQL + 'SELECT TOP 1 @ID = triID, @Fields = triIndexFields,@Unique = CASE WHEN triUnique = 1 THEN ''UNIQUE'' ELSE '''' END FROM #TMP WHERE done = 0;'
									SET @SQL = @SQL + 'SET @SQL = ''CREATE '' + @Unique + '' INDEX IX_'' + REPLACE(@Fields,'','',''_'') + '' ON '+ @dbName + '..' + @TblPrefix + @tblTable + '('' + @Fields + '')'';'  
									SET @SQL = @SQL + 'EXEC (@SQL); UPDATE #TMP SET Done = 1 WHERE triID =  @ID ; END'	
									BEGIN TRY							
										EXEC (@SQL)
									END TRY
									BEGIN CATCH
										INSERT INTO dgdb_PL..SAPDataRefreshLog VALUES (@trdSystem,@trdClient,@tblTable,@ROWCOUNT,CAST(DATEDIFF(SECOND,@startDate2,GETDATE()) AS NVARCHAR),'Indexing Failed: ' + ERROR_MESSAGE(),SYSUTCDATETIME(),SYSTEM_USER)						
									END CATCH
																								
								INSERT INTO dgdb_PL..SAPDataRefreshLog VALUES (@trdSystem,@trdClient,@tblTable,@ROWCOUNT,CAST(DATEDIFF(SECOND,@startDate2,GETDATE()) AS NVARCHAR),'',SYSUTCDATETIME(),SYSTEM_USER)						
					END TRY

					BEGIN CATCH			
						PRINT 'ERROR - ' + ERROR_MESSAGE() + ISNULL(@SQL,'NO SQL')
						INSERT INTO dgdb_PL..SAPDataRefreshLog VALUES (@trdSystem,@trdClient,@tblTable,@ROWCOUNT,CAST(DATEDIFF(SECOND,@startDate2,GETDATE()) AS NVARCHAR),ERROR_MESSAGE()  + '  - '	+	@SQL,SYSUTCDATETIME(),SYSTEM_USER)												
					END CATCH
                    
					UPDATE #Tables SET done = 1 WHERE tblTable = @tblTable

				END

			/*Create MARC_SERNP_VRF*/
				SET @StartDate2 = SYSDATETIME()
				BEGIN TRY
					EXEC spSysRefreshTargetData_MARC_SERNP_VRF @dbName
					INSERT INTO dgdb_PL..SAPDataRefreshLog VALUES (@trdSystem,@trdClient,'MARC_SERNP_VRF',0,CAST(DATEDIFF(SECOND,@startDate2,GETDATE()) AS NVARCHAR),'',SYSUTCDATETIME(),SYSTEM_USER)			
				END TRY
			
				BEGIN CATCH
					PRINT 'ERROR - ' + ERROR_MESSAGE() + ' MARC_SERNP_VRF'
					INSERT INTO dgdb_PL..SAPDataRefreshLog VALUES (@trdSystem,@trdClient,'MARC_SERNP_VRF',0,CAST(DATEDIFF(SECOND,@startDate2,GETDATE()) AS NVARCHAR),ERROR_MESSAGE()  + '  - '	+	@SQL,SYSUTCDATETIME(),SYSTEM_USER)												
				END CATCH

			/*RENAME TMP_ AND DROP Previous version*/
			SET @SQL = 'DECLARE @tblTable NVARCHAR(50), @TargetTable NVARCHAR(50),@SQL NVARCHAR(1000);'
			SET @SQL = @SQL + 'WHILE (SELECT TOP 1 1 FROM ' + @dbName + '.INFORMATION_SCHEMA.tables WHERE LEFT(TABLE_NAME,4) = ''' + @TblPrefix + ''') = 1 '
			SET @SQL = @SQL + 'BEGIN '
			SET @SQL = @SQL + '	BEGIN TRY '
			SET @SQL = @SQL + '		SELECT TOP 1 @tblTable = TABLE_NAME FROM ' + @dbName + '.INFORMATION_SCHEMA.tables WHERE LEFT(TABLE_NAME,4) = ''' + @TblPrefix + ''';'			
			SET @SQL = @SQL + 'SET @TargetTable = REPLACE(@tblTable,''' + @TblPrefix + ''','''');' 											
			SET @SQL = @SQL + 'SET @SQL = ''USE ' + @dbName + ';IF OBJECT_ID('''''' + @TargetTable+ '''''') IS NOT NULL BEGIN DROP TABLE '' + REPLACE(@tblTable,''' + @TblPrefix + ''','''') + '' END''; '											
			SET @SQL = @SQL + 'EXEC (@SQL);'				
			SET @SQL = @SQL + 'SET @SQL = ''USE ' + @dbName + ';EXEC sp_rename '' + @tblTable + '', '' + @TargetTable;'	
			SET @SQL = @SQL + 'EXEC (@SQL);'		
			SET @SQL = @SQL + 'END TRY '
			SET @SQL = @SQL + 'BEGIN CATCH '
			SET @SQL = @SQL + 'INSERT INTO dgdb_PL..SAPDataRefreshLog VALUES (''' + @trdSystem + ''', ''' + @trdClient + ''', @tblTable,0,0,''Rename Failed: '' + ERROR_MESSAGE()  + ''  - ''	+	@SQL,SYSUTCDATETIME(),SYSTEM_USER);'
			SET @SQL = @SQL + 'END CATCH '
			SET @SQL = @SQL + 'END;'			
			EXEC (@SQL)

			SET @StartDate2 = SYSDATETIME()
			INSERT INTO dgdb_PL..SAPDataRefreshLog VALUES (@trdSystem,@trdClient,'Drop & Rename Finished',0,CAST(DATEDIFF(SECOND,@startDate2,GETDATE()) AS NVARCHAR),'',SYSUTCDATETIME(),SYSTEM_USER)			
				

							
			IF OBJECT_ID('tempdb..#SAPTableFields') IS NOT NULL BEGIN DROP TABLE #SAPTableFields END				
			IF OBJECT_ID('tempdb..#Tables') IS NOT NULL BEGIN DROP TABLE #Tables END	

			/*Check if job is running started from ODS*/
			SELECT TOP 1 1
				FROM msdb.dbo.sysjobactivity AS sja
					INNER JOIN msdb.dbo.sysjobs AS sj ON sja.job_id = sj.job_id
				WHERE sj.name LIKE '%EPN'
					AND sja.start_execution_date IS NOT NULL
					AND sja.stop_execution_date IS NULL		--Not Finished yet
			IF @@ROWCOUNT > 0
				BEGIN
					UPDATE WG0233.dsep1.dbo.[_ProcessLog]
						SET Endtime = GETDATE()
						  , Duration = DATEDIFF(MINUTE, StartTime, GETDATE())
						  , Processing = 0
						FROM WG0233.dsep1.dbo.[_ProcessLog]
						WHERE taskname LIKE '%EPN%'
							AND Processing = 1
							AND ID IN ( SELECT MAX(ID)
											FROM WG0233.dsep1.dbo.[_ProcessLog]
											WHERE taskname LIKE '%EPN%'
												AND Processing = 1 ) 
				END

			INSERT INTO dgdb_PL..SAPDataRefreshLog VALUES (@trdSystem,@trdClient,'Finished',0,CAST(DATEDIFF(SECOND,@startDate,GETDATE()) AS NVARCHAR),'',SYSUTCDATETIME(),SYSTEM_USER)						
GO
