USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[SPGetMaterialStatistics]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPGetMaterialStatistics]
AS
BEGIN
	DECLARE @zVPL NVARCHAR(100)
		, @SQL NVARCHAR(MAX)
		, @RulId INT
		, @RuleName NVARCHAR(MAX)
		, @ChangeDate NVARCHAR(20)
		, @tableExistsSQL NVARCHAR(MAX);
		
	IF OBJECT_ID('MATNRStatistics_Tmp') IS NULL 
		CREATE TABLE MATNRStatistics_Tmp(MATNR VARCHAR(50), ChangeDATE DATE, zVPL NVARCHAR(100)) 
	--ELSE 
	--	TRUNCATE TABLE dbo.MATNRStatistics_Tmp;
	
	/*Get Material Statistics*/
	IF OBJECT_ID('tempdb..#temp_zVPL') IS NOT NULL DROP TABLE #temp_zVPL

	SELECT DISTINCT Name AS zVPLName, CONVERT(NVARCHAR,(CONVERT(DATE,create_date))) AS changeDate, 0 AS done 
	INTO #temp_zVPL 
	FROM sys.databases 
	WHERE (name LIKE 'zVPL%' OR name LIKE 'zAdh') --AND create_date > DATEADD(dd, -1, GETDATE());
		AND name NOT LIKE  ('%BDA%');
	
	DELETE FROM #temp_zVPL WHERE zVPLName IN (SELECT DISTINCT zVPL FROM MATNRStatistics_Tmp);

	WHILE (SELECT DISTINCT TOP 1 1 FROM #temp_zVPL WHERE done = 0) = 1
	BEGIN
		SELECT DISTINCT TOP 1 @zVPL = zVPLName, @ChangeDate = changeDate FROM #temp_zVPL WHERE done = 0;
		
		SET @SQL = 'IF OBJECT_ID(''' + @zVPL + '.dbo.ttMMChanges'') IS NOT NULL
		SELECT DISTINCT MATNR, ''' + @ChangeDate + ''', ''' + @zVPL + ''' FROM ' + @zVPL + '.dbo.ttMMChanges';

		INSERT INTO dbo.MATNRStatistics_Tmp
		EXEC (@SQL);
	
		--SET @SQL = 'IF OBJECT_ID(''' + @zVPL + '.dbo.ttMARA'') IS NOT NULL
		--SELECT DISTINCT MATNR, ''' + @ChangeDate + ''' FROM ' + @zVPL + '.dbo.ttMARA';

		--INSERT INTO dbo.MATNRStatistics_Tmp
		--EXEC (@SQL);

		--SET @SQL = 'IF OBJECT_ID(''' + @zVPL + '.dbo.ttMARC'') IS NOT NULL
		--SELECT DISTINCT MATNR, ''' + @ChangeDate + ''' FROM ' + @zVPL + '.dbo.ttMARC';

		--INSERT INTO dbo.MATNRStatistics_Tmp
		--EXEC (@SQL);

		--SET @SQL = 'IF OBJECT_ID(''' + @zVPL + '.dbo.ttMBEW'') IS NOT NULL
		--SELECT DISTINCT MATNR, ''' + @ChangeDate + ''' FROM ' + @zVPL + '.dbo.ttMBEW';

		--INSERT INTO dbo.MATNRStatistics_Tmp
		--EXEC (@SQL);
  
		--SET @SQL = 'IF OBJECT_ID(''' + @zVPL + '.dbo.ttMVKE'') IS NOT NULL
		--SELECT DISTINCT MATNR, ''' + @ChangeDate + ''' FROM ' + @zVPL + '.dbo.ttMVKE';

		--INSERT INTO dbo.MATNRStatistics_Tmp
		--EXEC (@SQL);
  
		--SET @SQL = 'IF OBJECT_ID(''' + @zVPL + '.dbo.ttMLAN'') IS NOT NULL
		--SELECT DISTINCT MATNR, ''' + @ChangeDate + ''' FROM ' + @zVPL + '.dbo.ttMLAN';

		--INSERT INTO dbo.MATNRStatistics_Tmp
		--EXEC (@SQL);
  
		--SET @SQL = 'IF OBJECT_ID(''' + @zVPL + '.dbo.ttMARD'') IS NOT NULL
		--SELECT DISTINCT MATNR, ''' + @ChangeDate + ''' FROM ' + @zVPL + '.dbo.ttMARD';

		--INSERT INTO dbo.MATNRStatistics_Tmp
		--EXEC (@SQL);
  
		--SET @SQL = 'IF OBJECT_ID(''' + @zVPL + '.dbo.ttMLGN'') IS NOT NULL
		--SELECT DISTINCT MATNR, ''' + @ChangeDate + ''' FROM ' + @zVPL + '.dbo.ttMLGN';

		--INSERT INTO dbo.MATNRStatistics_Tmp
		--EXEC (@SQL);
  
		--SET @SQL = 'IF OBJECT_ID(''' + @zVPL + '.dbo.ttMLGT'') IS NOT NULL
		--SELECT DISTINCT MATNR, ''' + @ChangeDate + ''' FROM ' + @zVPL + '.dbo.ttMLGT';

		--INSERT INTO dbo.MATNRStatistics_Tmp
		--EXEC (@SQL);
  
		--SET @SQL = 'IF OBJECT_ID(''' + @zVPL + '.dbo.ttAUSP'') IS NOT NULL
		--SELECT DISTINCT zMATNR, ''' + @ChangeDate + ''' FROM ' + @zVPL + '.dbo.ttAUSP';

		--INSERT INTO dbo.MATNRStatistics_Tmp
		--EXEC (@SQL);
 
		--SET @SQL = 'IF OBJECT_ID(''' + @zVPL + '.dbo.ttEINE'') IS NOT NULL
		--SELECT DISTINCT zMATNR, ''' + @ChangeDate + ''' FROM ' + @zVPL + '.dbo.ttEINE';

		--INSERT INTO dbo.MATNRStatistics_Tmp
		--EXEC (@SQL);
  
		--SET @SQL = 'IF OBJECT_ID(''' + @zVPL + '.dbo.ttEINA'') IS NOT NULL
		--SELECT DISTINCT MATNR, ''' + @ChangeDate + ''' FROM ' + @zVPL + '.dbo.ttEINA';

		--INSERT INTO dbo.MATNRStatistics_Tmp
		--EXEC (@SQL);
  
		--SET @SQL = 'IF OBJECT_ID(''' + @zVPL + '.dbo.ttKONP'') IS NOT NULL
		--SELECT DISTINCT zMATNR, ''' + @ChangeDate + ''' FROM ' + @zVPL + '.dbo.ttKONP';

		--INSERT INTO dbo.MATNRStatistics_Tmp
		--EXEC (@SQL);
  
		--SET @SQL = 'IF OBJECT_ID(''' + @zVPL + '.dbo.ttEORD'') IS NOT NULL
		--SELECT DISTINCT MATNR, ''' + @ChangeDate + ''' FROM ' + @zVPL + '.dbo.ttEORD;';

		--INSERT INTO dbo.MATNRStatistics_Tmp
		--EXEC (@SQL);
		
		--UPDATE dbo.MATNRStatistics
		--SET MatnrCount = A.MatnrCount + COUNT(B.Matnr)
		--FROM  A
		--INNER JOIN dbo.MATNRStatistics_Tmp B ON B.ChangeDATE = A.ChangeDATE
		--GROUP BY A.ChangeDATE;
		UPDATE  #temp_zVPL SET done = 1 WHERE zVPLName = @zVPL;
	END
	
	MERGE INTO MATNRStatistics A
	USING
	(SELECT COUNT(MATNR) AS Matnrcount ,ChangeDATE
	FROM MATNRStatistics_Tmp GROUP BY ChangeDATE ) B
	ON (A.ChangeDATE = B.ChangeDATE AND A.MATNRCount <> B.Matnrcount)
	WHEN MATCHED THEN
	UPDATE SET A.MATNRCount = A.MATNRCount + B.Matnrcount
	WHEN NOT MATCHED THEN
	INSERT (MATNRCount, ChangeDATE)
	VALUES (B.Matnrcount, B.ChangeDATE);
	
	/*Get Rule Statistics*/
	IF OBJECT_ID('RuleStatistics') IS NULL 
		CREATE TABLE RuleStatistics(RuleId INT, RuleName NVARCHAR(MAX), userName NVARCHAR(500), ChangeDate DATE, ChangeCount INT) 
	ELSE 
		TRUNCATE TABLE dbo.RuleStatistics;

	--IF OBJECT_ID('tempdb..#temp_RuleCount') IS NOT NULL DROP TABLE #temp_RuleCount

	--SELECT DISTINCT rulID, rulName, 0 AS ChangeCount,  0 AS done 
	--INTO #temp_RuleCount 
	--FROM DGDB..RuleLog;
	
	--WHILE (SELECT DISTINCT TOP 1 1 FROM #temp_RuleCount WHERE done = 0) = 1
	--BEGIN
	--	SELECT DISTINCT TOP 1 @RulId = rulID, @RuleName = rulname FROM #temp_RuleCount WHERE done = 0;
		
		INSERT INTO dbo.RuleStatistics
		SELECT rulID, rulName, rulUser, CONVERT(DATE, rulDate), COUNT(*)
		FROM DGDB..RuleLog 
		--WHERE rulID = @RulId
		GROUP BY rulID, rulName, rulUser, CONVERT(DATE, rulDate);

	--	UPDATE #temp_RuleCount SET done = 1 WHERE rulID = @RulId;
	--END
END
GO
