USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spProcess55ExportClassificationRecords]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<TW>
-- Create date: 11 June 2019
-- Description:	Export CLassification files for LSMW

-- =============================================
--EXEC [spProcess55ExportClassificationRecords] 'EP1_Pradeep'


CREATE PROCEDURE [dbo].[spProcess55ExportClassificationRecords] 

@FolderName nvarchar(100)  = ''
AS 
BEGIN

DECLARE @SQL nvarchar(max);  
   


set @SQL='EXEC DGDB_PL.dbo.spProcess50ExportLoadFiles_ME_TW ''PIR_CLASSIFICATIONS'', ''TEST'','''+ @FolderName +''''
 print @SQL
 EXEC (@SQL);

 --move to archive tables
 SET @SQL='insert into PIR_CLASSIFICATIONS.dbo.txAUSP_Classes_LSMW_archive select * from PIR_CLASSIFICATIONS.dbo.txAUSP_Classes_LSMW';
 PRINT (@SQL);
 EXEC (@SQL);


 			
SET @SQL='update PIR_CLASSIFICATIONS..ClassficationszVPLsStatus set ProcessFlag=1 from PIR_CLASSIFICATIONS..ClassficationszVPLsStatus zvpl join PIR_CLASSIFICATIONS..txAUSP_Classes_LSMW  ausp on ausp.zVPLDBName=zvpl.zVPLName;'
EXEC (@SQL);

SET @SQL='Truncate table PIR_CLASSIFICATIONS.dbo.txAUSP_Classes_LSMW;';
print (@SQL);
EXEC (@SQL);
   
   END
GO
