USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spSysProcessInBackGround]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spSysProcessInBackGround] 

	@ServerName NVARCHAR(20)	= 'DV0064',
	@DbName		NVARCHAR(20)	= 'ASyncTest',
	@spName		NVARCHAR(80)	= 'usp_async'

AS

SET NOCOUNT ON

	BEGIN
		DECLARE 
			@SQL	NVARCHAR(4000),
			@rc		INTEGER,
			@object INTEGER,
			@src	NVARCHAR(255),
			@desc   NVARCHAR(255)

		
		
		/*Create OLE Autom,ation OBJECT*/
		EXEC @rc = sp_oacreate 'wscript.shell', @object out
		
		
		/*Check for Errors*/
			if @rc <> 0
			begin
				exec sp_oageterrorinfo @object, @src out, @desc out 
				select hr=convert(varbinary(4),@rc), source=@src,  description=@desc
				return
			END
            
		
		SET @SQL = 'osql -E -d' + @DbName + ' -S' + @ServerName + ' -q"' + @spName + '"'		
		EXEC @rc=sp_oamethod @object,'run',null,@SQL
	
		/*Check for Errors*/
			if @rc <> 0
				begin
					exec sp_oageterrorinfo @object, @src out, @desc out 
					select hr=convert(varbinary(4),@rc), source=@src,  description=@desc
					return
				end
		
		/*Clean UP Object*/
		exec sp_oadestroy @object		
	END
GO
