USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spProcess07SalesViewExtension]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

Will create a 

*/


CREATE PROCEDURE [dbo].[spProcess07SalesViewExtension]

	@srcID INT = 639

AS

SET NOCOUNT ON


BEGIN

	DECLARE 
		@dbName			NVARCHAR(255),
		@SAPDB			NVARCHAR(255) ,
		@SQL			NVARCHAR(4000),
		@RowCount		INTEGER		

	SET @dbName = dbo.fnGetVPLName(@srcID)
	SELECT @SAPDB = T.trdDatabase FROM cfSource S INNER JOIN cfTargetData T ON T.trdSystem = S.srcSystem AND T.trdClient = S.srcClient WHERE S.srcID = @srcID

	/*Works only for Adhocs*/
	IF CHARINDEX('Adhoc',@dbName) < = 0
		BEGIN
			PRINT 'This only works for adhoc DBs'
			RETURN
		END
	
	/*CREATE TABLE _SalesOrgExtensions if needed*/
	SET @SQL = '
		IF NOT EXISTS( SELECT TOP 1 1 FROM ' + @dbName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''_SalesOrgExtensions'')
			BEGIN
				CREATE TABLE ' + @dbName + '.._SalesOrgExtensions (SalesOrg NVARCHAR(4),Material NVARCHAR(40), extSEQ INT)
			END		
		IF NOT EXISTS(SELECT TOP 1 1 FROM ' + @dbName + '.INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = ''_SalesOrgExtensions'' AND COLUMN_NAME = ''eXtSEQ'')
			BEGIN
				ALTER TABLE ' + @dbName + '.._SalesOrgExtensions ADD eXtSEQ INTEGER
			END
		IF NOT EXISTS(SELECT TOP 1 1 FROM ' + @dbName + '.INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = ''_SalesOrgExtensions'' AND COLUMN_NAME = ''ID'')
			BEGIN
				ALTER TABLE ' + @dbName + '.._SalesOrgExtensions ADD ID INTEGER IDENTITY(1,1) NOT NULL
			END
		'		
	EXEC (@SQL)
		
	
	/*FIND if there is a sample to copy from based on cfExtensions*/
	SET @SQL = '
		DECLARE @ROWCOUNT INT
		SELECT @ROWCOUNT = COUNT(1) FROM ' + @dbName + '.._SalesOrgExtensions 
		PRINT CAST(''Records in _SalesOrgExtensions '' AS CHAR(80)) + CAST(@ROWCOUNT as NVARCHAR) 	

		UPDATE ' + @dbName + '.._SalesOrgExtensions SET extSeq = NULL 

		SELECT ExtID,ExtType, Data AS ExtTo,extFROM,extSeq  
				INTO #cfExtensions 
				FROM cfExtensions 
					CROSS APPLY ( SELECT Data FROM DGDB_PL..fnSplitString(Extto, ''|'')) x
				WHERE  extType = ''MVKE''
		
		SELECT MIN(Data) AS SalesOrg,Material,ID,extSEQ 
			INTO #_SalesOrgExtensions
			FROM ' + @dbName + '.._SalesOrgExtensions
				CROSS APPLY ( SELECT Data FROM DGDB_PL..fnSplitString(SalesOrg, ''|'')) x
			GROUP By Material,ID,extSEQ

		UPDATE S
			SET extSEq = X.extID 
			FROM #_SalesOrgExtensions S
				INNER JOIN 
					(SELECT Material
						  , SalesOrg
						  , MIN(extID) AS extID				
						FROM #_SalesOrgExtensions
							INNER JOIN #cfExtensions ON SalesOrg = extTo  AND extType = ''MVKE''
							INNER JOIN ' + @SAPDB + '..MATERIALID ON Material = MATNR_EXT
							INNER JOIN ' + @SAPDB + '..MVKE ON MATNR = MATNR_INT
																AND VKORG = extFrom
						GROUP BY Material, SalesOrg) 
							X  ON S.SalesOrg = X.SalesOrg AND X.Material = S.Material 
		

		UPDATE S 
			SET extSEQ = N.extSEQ 
				FROM ' + @dbName + '.._SalesOrgExtensions S 
					INNER JOIN #_SalesOrgExtensions N ON N.ID = S.ID
				'
			
	EXEC (@SQL)
	

		SET @SQL = '		
			DROP TABLE ' + @dbName + '..Adhoc
			SELECT  1 as zActive
				  ,	extFrom AS zSalesOrgFrom
				  , S.extSeq 
				  , extType				  
				  , extTo AS zSalesOrg				  
				  , CAST('''' AS NVARCHAR(40)) AS ProductType
				  , MATKL as MatGroup
				  , MATNR_EXT AS MAterial
				  , MAKTX AS Description
				  , PRODH AS ProductHierarchy
				  , MVGR1 AS MAtGroup1
				  , MVGR2 AS MAtGroup2
				  , MVGR3 AS MAtGroup3
				  , KONDM AS MAtPricingGroup
				  , CAST(ISNULL(CAST(MTPOS_MARA as nvarchar(40)),''Mat Not in SAP '') + ISNULL(CAST(BKLAS as NVARCHAR(20)),'', No Acc. View'') + ISNULL(CAST(MTPOS  as NVARCHAR(20)),'', no Sales View'') + ISNULL(CAST(KTGRM  as NVARCHAR(20)),'''') AS NVARCHAR(255)) AS zProductType
				  , CAST('''' AS NVARCHAR(80)) AS ProducTypeDescription
				  , '''' as zPlant
				  , '''' as zSupplier
				  , '''' as zSupplierCurrency
				  , 0 as ListPrice
				  , 0 as BuyPrice	
				  , CAST('''' AS NVARCHAR(4)) AS zDefaultPlant			  
				INTO ' + @dbName + '..Adhoc
				FROM ' + @dbName + '.._SalesOrgExtensions S
					LEFT JOIN dbo.cfExtensions ON cfExtensions.extID = S.extSEq									
					LEFT JOIN ' + @SAPDB + '..MATERIALID ON MATNR_EXT = S.Material
					LEFT JOIN ' + @SAPDB + '..MARA ON MATNR_INT = MARA.MATNR
					LEFT JOIN ' + @SAPDB + '..MAKT ON MATNR_INT = MAKT.MATNR
					LEFT JOIN ' + @SAPDB + '..MVKE ON MATNR_INT = MVKE.MATNR
														AND VKORG = extFrom
					LEFT JOIN ' + @SAPDB + '..MBEW ON MATNR_INT = MBEW.MATNR
														AND BWKEY = MVKE.DWERK
			PRINT CAST(''     Records in _SalesOrgExtensions '' AS CHAR(80)) + CAST(@@ROWCOUNT as NVARCHAR) 			

		/*create lookup table for producttype*/
			--SELECT *
			--	INTO #PT
			--	FROM OPENROWSET(''SQLNCLI'',''Server=WG0522;Trusted_Connection=yes;database=DGDB'',
			--					''SET FMTONLY OFF;SET NOCOUNT ON;EXEC dgdb.dbo.spGenTableFieldSetTableCheck 1,1'')
			--	WHERE DISMM NOT IN (''X0'',''V2'')

			SELECT *
				INTO #PT
				FROM OPENROWSET(''SQLNCLI'',''Server=WG0522;Trusted_Connection=yes;database=DGDB'',
				''SET FMTONLY OFF;SET NOCOUNT ON;EXEC dgdb.dbo.spGenTableFieldSetTableCheck 1,1 WITH RESULT SETS ((ID NVARCHAR(100)
				,tsrId INT
				, tsrName NVARCHAR(100)
				, tsrvar1 NVARCHAR(10), tsrVar2 NVARCHAR(10), tsrVar3 NVARCHAR(100), tsrDeletionFlag INT
				, MTART NVARCHAR(10), MTPOS_MARA NVARCHAR(10)
				, MTPOS NVARCHAR(10), KTGRM NVARCHAR(10), DISMM NVARCHAR(10),BKLAS NVARCHAR(10), MVGR1 NVARCHAR(10), PSTAT NVARCHAR(10)))'')
				WHERE DISMM NOT IN (''X0'',''V2'')
			
			UPDATE ' + @dbName + '..Adhoc 
				SET ProductType = tsrVAR2,
					ProducTypeDescription = tsrVAR3 ,
					zActive = CASE WHEN zProductType = NULL THEN 0 ELSE 1 END
				FROM ' + @dbName + '..Adhoc INNER JOIN #PT ON zProductType = MTPOS_MARA + BKLAS + MTPOS + KTGRM

			UPDATE ' + @dbName + '..Adhoc 
				SET zActive = 0
				FROM ' + @dbName + '..Adhoc
				WHERE zProductType  IS NULL
			PRINT CAST(''     Records in ADHOC that could not be copied from another SalesOrg : '' AS CHAR(80)) + CAST(@@ROWCOUNT as NVARCHAR) 

			Select ''' + @SAPDB  + ''' AS SAPDB, * from ' + @dbName + '..Adhoc'
				
		EXEC (@SQL)
	

END	
GO
