USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spProcess02CiscoEDI]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spProcess02CiscoEDI]

	@srcID INTEGER = 51

AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED


BEGIN

       DECLARE 
             @dbName                           NVARCHAR(60),
             @SQL                       NVARCHAR(4000)

       SELECT  @dbName = 'VPL' + srcVendorCode + '_' + srcName + '_' + CAST(srcID AS NVARCHAR) FROM cfSource WHERE srcID = @srcID     

       SET @SQL = '
             
			 USE ' + @dbName + '
             
			 DROP TABLE Cisco_Adhoc      
             SELECT * INTO Cisco_Adhoc FROM Cisco_EDI WHERE Processed = 0
    
       
             PRINT ''Inserted '' + CAST(@@ROWCOUNT AS NVARCHAR) + '' Records into ' + @dbName + '..Cisco_adhoc''
             
             --SET adhoc Flag in cfSource to TRUE
             UPDATE DGDB_PL..cfSOurce SET srcAdhocFlag = 1 WHERE srcID = ' + CAST(@srcID AS NVARCHAR) + '

			 IF ' + CAST(@srcID AS NVARCHAR) + ' = 14 
				BEGIN
					DROP TABLE VPL10000_CiscoNZ_15..Cisco_Adhoc
					SELECT * INTO VPL10000_CiscoNZ_15..Cisco_Adhoc FROM VPL10000_CiscoSG_14..Cisco_Adhoc
					SELECT * FROM VPL10000_CiscoNZ_15..cisco_adhoc

					DROP TABLE VPL10000_CiscoID_366..Cisco_Adhoc
					SELECT * INTO VPL10000_CiscoID_366..Cisco_Adhoc FROM VPL10000_CiscoSG_14..Cisco_Adhoc
					SELECT * FROM VPL10000_CiscoID_366..cisco_adhoc

					DROP TABLE VPL10000_CiscoPH_367..Cisco_Adhoc
					SELECT * INTO VPL10000_CiscoPH_367..Cisco_Adhoc FROM VPL10000_CiscoSG_14..Cisco_Adhoc
					SELECT * FROM VPL10000_CiscoPH_367..cisco_adhoc
				END
			 
			 UPDATE Cisco_EDI set Processed = 1,ProcessedDate = GETDATE() WHERE processed = 0
			 SELECT * FROM dbo.cisco_adhoc		
             '      
       EXEC (@SQL)
       END
	   
GO
