USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spzVPLCiscoEMKTFlagEMEA]    Script Date: 3/9/2026 9:14:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spzVPLCiscoEMKTFlagEMEA] AS

SET NOCOUNT ON
SET TRAN ISOLATION LEVEL READ UNCOMMITTED

/*
janvb june 2016
procedure that will add the zEMKT flag to VPL10000_Cisco_EMEA_51..adhoc to indiate if it is also listed in the VPL10000_CiscoEM_EMEA_559 bootstrap
*/

BEGIN
    IF NOT EXISTS ( SELECT 1
                        FROM VPL10000_Cisco_EMEA_51.INFORMATION_SCHEMA.COLUMNS
                        WHERE TABLE_NAME = 'Cisco_Adhoc'
                          AND COLUMN_NAME = 'zEMKT' )
        BEGIN
            ALTER TABLE VPL10000_Cisco_EMEA_51.dbo.Cisco_Adhoc ADD zEMKT BIT DEFAULT 0; 
        END;
    ELSE
        BEGIN
            UPDATE VPL10000_Cisco_EMEA_51.dbo.Cisco_Adhoc
                SET zEMKT = NULL;

        END;

    UPDATE A
        SET zEMKT = 1
        FROM VPL10000_Cisco_EMEA_51.dbo.Cisco_Adhoc A
            INNER JOIN VPL10000_CiscoEM_EMEA_559..Cisco B ON A.product_number = B.product_number;

END;
GO
