USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[UpdateTrendMicroVPL]    Script Date: 3/9/2026 9:14:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateTrendMicroVPL]
as 
BEGIN

INSERT INTO [VPL10016_TrendMicro_EMEA_194].[dbo].[TrendMicro_FEB18_Original]
SELECT [SKU]
      ,[Description]
      ,[PH 2 Code]
      ,[PH2 Text]
      ,[PH 3 Code]
      ,[PH3 Text]
      ,[List Price]
      ,[Discount value (NOT A PERCENTAGE)]
      ,[Buy Price]
      ,[Gross Weight Kg]
      ,[Net Weight Kg]
      ,[Volume cm3]
      ,[Size/dimensions]
      ,[discount field]
      ,[Shipment_Code]
      ,[Product Segment]
      ,[Item Code]
      ,[Product Group]
      ,[Order Type]
      ,[Sales Type]
      ,[Price Type]
      ,[User from]
      ,[User to]
      ,[Order Duration]
      ,[zActive]
      ,[zSrcName]
      ,[zOverride]
      ,[zModifiedDate]
      ,[zProductType]
      ,[zSERNP]
      ,[zpldeltime]
      ,[zMat_Group1]
      ,[zMatPriceGroup]
      ,[zPrice]
      ,[zBuyPrice]
      ,[zFreightUplift]
      ,[zPlant]
      ,[zSalesOrg]
      ,[zSupplier]
      ,[zSupplierPlantMap]
      ,[zSupplierCurrency]
      ,[zCloudSKU]
  FROM [VPL10016_TrendMicro_EMEA_194].[dbo].[TrendMicro_FEB18]
  WHERE SKU NOT IN (SELECT sku FROM [VPL10016_TrendMicro_EMEA_194].[dbo].[TrendMicro_FEB18_Original])

DELETE FROM [VPL10016_TrendMicro_EMEA_194].[dbo].[TrendMicro_FEB18]
INSERT INTO [VPL10016_TrendMicro_EMEA_194].[dbo].[TrendMicro_FEB18]
SELECT [SKU]
      ,[Description]
      ,[PH 2 Code]
      ,[PH2 Text]
      ,[PH 3 Code]
      ,[PH3 Text]
      ,[List Price]
      ,[Discount value (NOT A PERCENTAGE)]
      ,[Buy Price]
      ,[Gross Weight Kg]
      ,[Net Weight Kg]
      ,[Volume cm3]
      ,[Size/dimensions]
      ,[discount field]
      ,[Shipment_Code]
      ,[Product Segment]
      ,[Item Code]
      ,[Product Group]
      ,[Order Type]
      ,[Sales Type]
      ,[Price Type]
      ,[Users from]
      ,[Users to]
      ,[Order Duration]
      ,[zActive]
      ,[zSrcName]
      ,[zOverride]
      ,[zModifiedDate]
      ,[zProductType]
      ,[zSERNP]
      ,[zpldeltime]
      ,[zMat_Group1]
      ,[zMatPriceGroup]
      ,[zPrice]
      ,[zBuyPrice]
      ,[zFreightUplift]
      ,[zPlant]
      ,[zSalesOrg]
      ,[zSupplier]
      ,[zSupplierPlantMap]
      ,[zSupplierCurrency]
      ,' '
  FROM [VPL10016_TrendMicro_EMEA_194].[dbo].[TrendMicro]
  UNION
  SELECT [SKU]
      ,[Description]
      ,[PH 2 Code]
      ,[PH2 Text]
      ,[PH 3 Code]
      ,[PH3 Text]
      ,[List Price]
      ,[Discount value (NOT A PERCENTAGE)]
      ,[Buy Price]
      ,[Gross Weight Kg]
      ,[Net Weight Kg]
      ,[Volume cm3]
      ,[Size/dimensions]
      ,[discount field]
      ,[Shipment_Code]
      ,[Product Segment]
      ,[Item Code]
      ,[Product Group]
      ,[Order Type]
      ,[Sales Type]
      ,[Price Type]
      ,[User from]
      ,[User to]
      ,[Order Duration]
      ,[zActive]
      ,[zSrcName]
      ,[zOverride]
      ,[zModifiedDate]
      ,[zProductType]
      ,[zSERNP]
      ,[zpldeltime]
      ,[zMat_Group1]
      ,[zMatPriceGroup]
      ,[zPrice]
      ,[zBuyPrice]
      ,[zFreightUplift]
      ,[zPlant]
      ,[zSalesOrg]
      ,[zSupplier]
      ,[zSupplierPlantMap]
      ,[zSupplierCurrency]
      ,[zCloudSKU]
  FROM [VPL10016_TrendMicro_EMEA_194].[dbo].[TrendMicro_FEB18_Original]
  WHERE SKU NOT IN (SELECT sku FROM [VPL10016_TrendMicro_EMEA_194].[dbo].[TrendMicro])

  End
GO
