USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[SPProcess35Runs_APAC]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Techwave>
-- Create date: 10 October 2018
-- Description:	Process 35 runs for APAC SrcIDs, 
--				Check for zProcessed flag where applicable
--				and reset to 0 before 35 run
-- =============================================
  
  -- EXEC [SPProcess35Runs_APAC]
CREATE PROCEDURE [dbo].[SPProcess35Runs_APAC]

AS
BEGIN  

	update cfSource 
	set srcProcessFlag = 1
	where srcSstCode = 36 AND srcGroup NOT IN ('EMEA')

	if @@ROWCOUNT > 0 
	 Begin
		 Declare	@srcID int,
					@srcName NVARCHAR(50)='',
					@srcSrtCode NVARCHAR(4),
					@srcVendorCode NVARCHAR(50)='',
					@SQL2 nvarchar(2000) = '',
					@DBNAme nvarchar(100)
			
		if object_id('tempdb..#TempSrcIDs_GlobalAdhocs') is not null drop table #TempSrcIDs_GlobalAdhocs
			
		 select distinct srcID,0 as done into #TempSrcIDs_GlobalAdhocs from cfSource 
		 where srcSstCode = 36 AND srcGroup NOT IN ('EMEA') and srcProcessFlag = 1 and srcVendorCode = '99999'

		WHILE (SELECT TOP 1 1 FROM #TempSrcIDs_GlobalAdhocs WHERE Done = 0) = 1
			BEGIN
			
			SELECT TOP 1 @srcID = srcID
					FROM #TempSrcIDs_GlobalAdhocs
					WHERE Done = 0
					ORDER BY srcID ASC 
	                
					SELECT  @srcName = srcName ,
					@srcSrtCode = srcSrtCode ,
					@srcVendorCode = srcVendorCode 
			FROM    cfSource
			WHERE   srcID = @srcID;
			SET @DBNAme = @srcSrtCode + @srcVendorCode + '_' + @srcName + '_'
				+ CAST(@srcID AS NVARCHAR);
	           
			   IF COL_LENGTH(@DBNAme +'..Adhoc','zProcessed') IS NOT NULL
	           
			   BEGIN 
			 set @SQL2 = '  Update a set zprocessed = 0 FROM ' + @DBNAme +'..Adhoc as a
							inner join '+ @DBNAme + '..ttmara as b
							on a.material = b.matnr  
							inner join cfsource as C on b.zMDMTicketNumber = c.srcMDMTicketNUmber
							where c.srcID = ' + CAST(@srcID AS NVARCHAR)
			--print  @SQL2
				Exec( @SQL2)
			END 
	 
				UPDATE #TempSrcIDs_GlobalAdhocs SET done =1 WHERE srcID = @srcID
		END
			
	Declare @runDatePart varchar(8)
	Declare @runTimePart varchar(8)
	Declare @zVPLDatabaseName varchar(25)

	select @runDatePart = convert(varchar(8),GETDATE(),112)
	select @runTimePart = convert(varchar(2),GETDATE(),108)

	select @zVPLDatabaseName = 'zVPL_EPN_' + @runDatePart + '_36_' + @runTimePart 

	print @zVPLDatabaseName
	EXEC [spProcess304050Combined_ME_TW] @zVPLDatabaseName,36,2,'EPN',300, 1, 'EPN_35s', 'ALL'

	End

END



            
            
GO
