USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spBDA_UpdatesrcIdStatus]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--exec spBDA_UpdatesrcIdStatus 'zVPL_EPN_20190603_30_01'

CREATE procedure [dbo].[spBDA_UpdatesrcIdStatus](
	@SrcId NVARCHAR(10)
	--@DB NVARCHAR(40) = 'zVPL_20150609_30'
)
AS 
BEGIN

	UPDATE dbo.cfSource SET srcSstCode = 34 WHERE srcID IN (@SrcId) ;

--Declare @SQL nvarchar(max)

--IF OBJECT_ID('tempdb..#tempzSrcIDs') IS NOT NULL
--    DROP TABLE tempzSrcIDs

--set @SQL = 'use  ' + @DB + '  

--select * into #tempzSrcIDs from (
--select distinct zsrcid from ttAUSP
--union 
--select distinct zsrcid from ttEINA
--union
--select distinct zsrcid from ttEINE
--union
--select distinct zsrcid from ttEORD
--union
--select distinct zsrcid from ttKONP
--union
--select distinct zsrcid from ttMARA
--union
--select distinct zsrcid from ttMARC
--union
--select distinct zsrcid from ttMARD
--union
--select distinct zsrcid from ttMARM
--union
--select distinct zsrcid from ttMBEW
--union
--select distinct zsrcid from ttMLAN
--union
--select distinct zsrcid from ttMLGN
--union
--select distinct zsrcid from ttMVKE
--union
--select distinct zsrcid from ttSTKO
--union
--select distinct zsrcid from ttSTPO
--union
--select distinct zsrcid from ttSTXL
--union
--select distinct zsrcid from ttT179T) as a 


--update dgdb_pl.dbo.cfsource set srcsstcode = 34 
--where srcid in ( select distinct zsrcid from #tempzSrcIDs) '

--Print @sql 

--select len(@SQL)
--EXEC (@SQL)

----Print @sql 

END 
GO
