USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spProcess15SourceFileComparison]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Use this SP to compare different values from SourceFileExtract for the same Manufacturer
SP will show the differences for a material between the different sourceID's

Good fields (FieldName) to compare are

	ProdTypeCode = Default
	sernp
	zLegacyPH2
	zLegacyPH3
	StockRotation
	PricePrtection
	ListPrice
	BuyPrice

*/

CREATE PROCEDURE [dbo].[spProcess15SourceFileComparison]
	@srcID INT = 5,	
	@FieldName NVARCHAR(40) = 'ProdTypeCode'
AS

SET NOCOUNT ON

DECLARE 
	
	@SQL NVARCHAR(MAX),
	@SQL2 NVARCHAR(MAX),
	@SQL3 NVARCHAR(MAX),
	@Alias NVARCHAR(10),
	@DbName NVARCHAR(60),
	@OriginalsrcName NVARCHAR(40),
	@srcName NVARCHAR(40),
	@TableName NVARCHAR(40),
	@MoreSupplier BIT = 0
		
BEGIN
		/* Get SrcID's belonging to the same MaterialGroup*/
		SELECT 	srcID,
				srcSrtCode + srcVendorCode + '_' + srcName + '_' + CAST(srcID AS NVARCHAR) AS DbName,
				srcName,
				srcTableName,
				0 AS Done,
				CASE WHEN srcID = @srcID THEN 0 ELSE 1 END AS MainSrc
			INTO #TMP 
			FROM dbo.cfSource 
				WHERE srcVendorCode IN 
					(SELECT srcvendorcode FROM dbo.cfSource WHERE srcid = @srcID)		

		/*make sure requested @SrcID is 1st table in Join*/
		SELECT @DbName = DbName, @OriginalsrcName = srcname FROM #tmp WHERE MainSrc = 0

		/* Check if table SourcefileExtract exists*/
		IF COL_LENGTH(@DbName + '..SourceFileExtract',@FieldName) IS null
				BEGIN
					PRINT 'FieldName '''+ @FieldName + ''' does not exist in ' + @DbName + '..SourceFIleExtract'
					RETURN
				END

		SET @SQL = 'SELECT ''' + @FieldName + ' Differences'' , + A.PK, A.Material, A.Description, A.' + @FieldName + ' AS ''' + @OriginalsrcName + ''''
		SET @SQL2 = ' FROM ' + @dbName + '..SourceFileExtract A'
		SET @SQL3 =  ' WHERE ' 

		
	/* loop through the other srcID's to get the info and build SQL statement*/
	WHILE (SELECT TOP 1 1 FROM #TMP WHERE Done = 0 AND MainSrc = 1 ) = 1
		BEGIN	
			SELECT TOP 1 
					@srcID = srcID,
					@dbName = DbName,
					@srcName = srcName,
					@TableName = srcTableName 
				FROM #TMP 
				WHERE done = 0 AND MainSrc = 1
	
			IF COL_LENGTH(@DbName + '..SourceFileExtract',@FieldName) > 0
				BEGIN
					SET @Alias = 'ID' + CAST(@srcID AS NVARCHAR)
					SET @MoreSupplier = 1

					SET @SQL = @SQL + ', ISNULL(' + @Alias + '.' + @FieldName + ',''N/A'') AS ''' + @srcName + ''''	
					SET @SQL2 = @SQL2  + ' LEFT OUTER JOIN ' + @DbName + '..SourceFileExtract AS ' + @Alias + ' ON A.PK = ' + @Alias + '.PK'	
					IF @FieldName = 'ProdTypeCode'
						BEGIN					
							SET @SQL3 = @SQL3 + '(ISNULL((SELECT tsrVar1 FROM dgdb..TableFieldSetRow WHERE tsrTsnID = 1 AND tsrVAr2 =  A.' + @FieldName + '),'''') <> ISNULL(
							(SELECT tsrVar1 FROM dgdb..TableFieldSetRow WHERE tsrTsnID = 1 AND tsrVAr2 = ' + @Alias + '.' + @FieldName + '),'''') 
							AND ISNULL(' + @Alias + '.' + @FieldName + ',''N/A'') <> ''N/A'' ) OR '								
						END
					ELSE
						BEGIN
							SET @SQL3 = @SQL3 + ' A.' + @FieldName + ' <> ' + @Alias + '.' + @FieldName + ' OR '			
						END
				END
						
			UPDATE #TMP SET Done = 1 WHERE DbName = @dbName
		END
	
		/* put them all together and execute if there are more than 1srcID's with the same materialgroup, SQL3 get rid of the last 'OR '*/
		IF @MoreSupplier = 1 
			BEGIN
				SET @SQL3 = LEFT(@SQL3,LEN(@SQL3)-3) 	
				--PRINT @SQL 
				--PRINT @SQL2 
				--PRINT @SQL3
				EXEC (@SQL + @SQL2 + @SQL3)					
			END
	
END
GO
