USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spUpdateTCURX]    Script Date: 3/9/2026 9:14:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spUpdateTCURX]
AS
BEGIN

	TRUNCATE TABLE DGDB_PL_EPN_300..TCURX;
	
	INSERT INTO DGDB_PL_EPN_300..TCURX
	SELECT *
	FROM OPENQUERY([SAPR3.EP1],'SELECT * FROM SAPR3.TCURX')
END
GO
