USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[SpSysCheckJobs]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SpSysCheckJobs] AS

SELECT j.name AS 'JobName'
      , run_date
      , run_time
      , h.run_duration
      , msdb.dbo.agent_datetime(run_date, run_time) AS 'RunDateTime'
      , h.step_id
      , h.step_name
      , h.message
      , *
    FROM msdb.dbo.sysjobs j
        INNER JOIN msdb.dbo.sysjobhistory h ON j.job_id = h.job_id
    WHERE j.enabled = 1  --Only Enabled Jobs
      --  AND j.name = 'CiscoBootstrap'
    ORDER BY  RunDateTime DESC;


GO
