USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spSysRefreshTargetData_Async_ByTable]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spSysRefreshTargetData_Async_ByTable]

	@tblTable	NVARCHAR(40)	='LFA1',
	@trdSystem	NVARCHAR(3)		='EPN'	,	-- EP1, EQ1,ED1
	@trdClient	NVARCHAR(3)		='300'	,
	@SourceDB	NVARCHAR(40)	='WG0233.dsEP1'
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED 	

BEGIN
	DECLARE @trdSQLLinkedServer		NVARCHAR(40),
			@trdSystemUser			NVARCHAR(40),			
			@tblPK					NVARCHAR(255),
			@TblPrefix				NVARCHAR(40)		= 'ZZZ_',
			@tblTablePrevious		NVARCHAR(40)		='',		
			@dbName					NVARCHAR(40)		='',
			@TargetTable			NVARCHAR(40),
			@FieldList				NVARCHAR(1000),
			@FieldList2				NVARCHAR(1000),
			@FieldListNull			NVARCHAR(1000),
			@SQL					NVARCHAR(4000)		='',		
			@StartDate				DATETIME,
			@StartDate2				DATETIME,
			@RowCount				INTEGER		
		
		UPDATE SapRefreshTables SET srtStartTime = GETDATE(),srtMessage = '' WHERE srtTableName = @tblTable
		SET @StartDate = SYSDATETIME()

		SELECT @dbName = trdDataBase ,
				@trdSQLLinkedServer = trdSQLLinkedServer,
				@trdSystemUser = trdSystemUser
			FROM cfTargetData
			WHERE trdSystem = @trdSystem
				AND trdClient = @trdClient	

	
			SET @TargetTable = @TblPrefix + @tblTable
			SET @StartDate2 = SYSDATETIME()
			BEGIN TRY
					SET @RowCount = 0
					EXEC dgdb..spGenDropOrCheckTable @TargetTable,@DBName,1		
					EXEC dgdb..spGenGenerateTableFromTableFields
						@DbName = @dbName, -- nvarchar(40)
						@TableName = @tblTable, -- nvarchar(40)
						@tblPrefix = @TblPrefix, -- nvarchar(40)
						@ProcessType = 2, -- Return FieldList For GOV Fields only
						@FieldList = @FieldList2 OUTPUT--OUTPUT Paramater
					
					EXEC dgdb..spGenGenerateTableFromTableFields
						@DbName = @dbName, -- nvarchar(40)
						@TableName = @tblTable, -- nvarchar(40)
						@tblPrefix = @TblPrefix, -- nvarchar(40)
						@ProcessType = 5, -- Return FieldList For GOV Fields only
						@FieldList = @FieldList OUTPUT--OUTPUT Paramater

						IF @tblTable = 'AUSP'
							BEGIN
								SET @SQL = 'ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD LIFNR NVARCHAR(10);'
								SET @SQL = @SQL + 'ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD MATNR NVARCHAR(18);'
								EXEC(@SQL)
							END

						/*GET LATEST DATA*/
						/*todo adjust client number*/								
						--SET @SQL =  'SELECT ' + REPLACE(@FieldList,'TRIM','RTRIM') + ' INTO ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' FROM ' + @SourceDB + '..' + @tblTable 
						--IF @tblTable = 'AUSP' BEGIN SET @FieldList = @FieldList + ',LIFNR,MATNR'; SET @FieldList2 = @FieldList2 + ',LIFNR,MATNR'; END
						SET @SQL =  'INSERT INTO ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' WITH (TABLOCK) (' + @FieldList2 + ') SELECT ' + REPLACE(@FieldList,'TRIM','RTRIM') + ' FROM ' + @SourceDB + '.dbo.' + @tblTable + ' WITH (NOLOCK)'
						SELECT @SQL =
							CASE @tblTable
								WHEN 'A017' THEN @SQL + ' WHERE DATBI > CONVERT(NVARCHAR,GETDATE(),112)'
								WHEN 'AUSP' THEN REPLACE(@SQL,', ATINN) SELECT RTRIM(OBJEK) AS OBJEK, RTRIM(ATWRT) AS ATWRT, RTRIM(ATINN) AS ATINN',', ATINN,LIFNR,MATNR) SELECT RTRIM(OBJEK) AS OBJEK, RTRIM(ATWRT) AS ATWRT, RTRIM(ATINN) AS ATINN,LIFNR,MATNR ') 																				
								WHEN 'KONP' THEN @SQL + ' WHERE KSCHL IN (''ZW01'',''ZWCP'',''PB00'')'
								WHEN 'A914' THEN @SQL + ' WHERE KSCHL IN (''ZW01'',''ZWCP'') AND datab < CONVERT(NVARCHAR,GETDATE(),112)'
								WHEN 'MARM' THEN @SQL + ' WHERE MEINH NOT IN (''EA'')'										
								WHEN 'ZOTCSD0102' THEN REPLACE(@SQL,'RTRIM(PRODH)','RTRIM(LEFT(PRODH,18))') + ' WHERE VKORG NOT IN (''60001'')'			
								WHEN 'TCURR' THEN @SQL + ' WHERE FCURR NOT IN (''USDN'')'										
								ELSE @SQL
							END
								
						PRINT @tblTable + ' - SQL:' +  @SQL
						EXEC (@SQL)
						SET @RowCount = @@ROWCOUNT
								
						/* TABLE SPECIFIC PROCESSING*/
							IF @tblTable = 'TCURR'
								BEGIN
									EXEC dbo.spSysRefreshTargetDataFXRates @dbName											
											
									SET @SQL = 'ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD FXDATE NVARCHAR(10);'											
									EXEC(@SQL)
									SET @SQL = 'UPDATE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' SET FXDATE = 99999999 - GDATU;'
									EXEC (@SQL)										
									/* inverted rates needed for SGP - USD, so added all*/
									SET @SQL = 'INSERT INTO ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ( KURST,FCURR ,TCURR ,GDATU ,UKURS ,FXDATE) 
											SELECT KURST ,TCURR , FCURR ,GDATU , 1/UKURS , FXDATE  
											FROM ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' WHERE TCURR + FCURR NOT IN (SELECT FCURR + TCURR FROM ' + @dbName + '..' + @TblPrefix + @tblTable  +  ')'
									EXEC (@SQL)											
									SET @SQL = 'INSERT INTO ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ( KURST,FCURR ,TCURR ,GDATU ,UKURS ,FXDATE) SELECT ''M'',''USD'',''USD'','''',1,'''''
									EXEC (@SQL)
								END

							IF @tblTable = 'MARA'
								BEGIN
									SET @SQL = 'UPDATE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' SET VOLEH =  ''CM3'' WHERE VOLEH = ''CCM'';'				--SAP stores input VALUE CM3 as CCM in the SAP DB
									EXEC (@SQL)
									SET @SQL = 'ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD zShortDescription NVARCHAR(40);'											
									EXEC(@SQL)
									SET @SQL = 'UPDATE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' SET zShortDescription = MAKTX FROM ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' INNER JOIN ' + @dbName + '..' + @TblPrefix + 'MAKT ON ' + @TblPrefix + 'MARA.MATNR = ' + @TblPrefix + 'MAKT.MATNR;'
									EXEC (@SQL)										
								END

								
							--IF @tblTable = 'MVKE'
							--	BEGIN
							--		SET @SQL = 'ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ALTER COLUMN AUMNG NUMERIC(13,3)'				--Remove leading zero's
							--		EXEC (@SQL)
							--	END

							IF @tblTable = 'EORD'
								BEGIN
									SET @SQL = 'DELETE FROM ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' WHERE BDATU <= CONVERT(NVARCHAR,GETDATE(),112)'											
									EXEC (@SQL)
								END

							IF @tblTable = 'KONP' --proff services priceing conditions
								BEGIN									
									SET @SQL = 'ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD zMATNR NVARCHAR(18);
												ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD zLIFNR NVARCHAR(10);
												ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD zWERKS NVARCHAR(4);
												ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD zVKORG NVARCHAR(4);
												ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD zTable NVARCHAR(10);
												'											
									EXEC(@SQL)											
									SET @SQL = 'UPDATE ' + @dbName + '..' + @TblPrefix + 'KONP SET zTable = ''A914'',zMATNR = MATNR, zVKORG = VKORG FROM '  + @dbName + '..' + @TblPrefix + 'KONP A INNER JOIN ' + @dbName + '..' + @TblPrefix + 'A914 B ON A.KNUMH = B.KNUMH AND A.KSCHL = B.KSCHL;'											
									EXEC (@SQL)	
						
									SET @SQL = 'UPDATE ' + @dbName + '..' + @TblPrefix + 'KONP SET zTable = ''A017'',zMATNR = MATNR, zLIFNR = LIFNR,ZWERKS = WERKS FROM '  + @dbName + '..' + @TblPrefix + 'KONP A INNER JOIN ' + @dbName + '..' + @TblPrefix + 'A017 B ON A.KNUMH = B.KNUMH AND A.KSCHL = B.KSCHL'
									EXEC (@SQL)	
					
									SET @SQL = 'DELETE ' + @dbName + '..' + @TblPrefix + 'KONP WHERE zTable IS NULL'											
									EXEC (@SQL)
								END

									
							IF @tblTable = 'STKO' --BOM Bundles Header
								BEGIN										
									SET @SQL = 'ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD zMATNR NVARCHAR(18);ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD zSTLAN NVARCHAR(1);'											
									EXEC(@SQL)											
									SET @SQL = 'UPDATE ' + @dbName + '..' + @TblPrefix + 'STKO SET zMATNR = MATNR, zSTLAN = STLAN FROM '  + @dbName + '..' + @TblPrefix + 'STKO A INNER JOIN ' + @dbName + '..' + @TblPrefix + 'MAST B ON A.STLNR = B.STLNR;'											
									EXEC (@SQL)												
								END
							
									IF @tblTable = 'STPO' --Bundles
								BEGIN										
									SET @SQL = 'ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD zWERKS NVARCHAR(4);ALTER TABLE ' + @dbName + '..' + @TblPrefix + @tblTable  +  ' ADD zMATNR NVARCHAR(18);'	
									EXEC(@SQL)											
									SET @SQL = 'UPDATE ' + @dbName + '..' + @TblPrefix + 'STPO SET zMATNR = MATNR,zWERKS = WERKS FROM '  + @dbName + '..' + @TblPrefix + 'STPO A INNER JOIN ' + @dbName + '..' + @TblPrefix + 'MAST B ON A.STLNR = B.STLNR;'											
									EXEC (@SQL)												
								END												
													
									
						/* SEt zCheckSUM*/
							EXEC dgdb..spGenGenerateTableFromTableFields
							@DbName = @dbName, -- nvarchar(40)
							@TableName = @tblTable, -- nvarchar(40)
							@tblPrefix = @TblPrefix, -- nvarchar(40)
							@ProcessType = 6, -- Return FieldList For GOV Fields only
							@FieldList = @FieldListNull OUTPUT--OUTPUT Paramater
							SET @SQL = 'ALTER TABLE ' + @dbName + '.dbo.' + @TblPrefix + @tblTable + ' ADD zCheckSum BINARY(16);'											
							EXEC (@SQL)

							SET @FieldListNULL = REPLACE(@FieldListNull,'),',')+') 
							SET @SQL = 'UPDATE ' + @dbName + '.dbo.' + @TblPrefix  + @tblTable + ' SET zCHECKSUM = HASHBYTES(''MD5'',' + @FieldListNull + ');'											
							EXEC (@SQL)
							SET @SQL = 'CREATE INDEX  UIX_zCHECKSUM_' + @tblTable + ' ON ' + @dbName + '.dbo.' + @TblPrefix  + @tblTable + ' (zCHECKSUM)'								
							EXEC (@SQL)

						/*Apply indexes*/
							SET @SQL = 'SELECT *,0 as Done INTO #TMP FROM dgdb_PL..cfTargetTableIndex WHERE triTrgName = ''' + @tblTable + ''';'
							SET @SQL = @SQL + 'DECLARE @ID INT,@Fields as NVARCHAR(1000), @Unique NVARCHAR(10), @SQL NVARCHAR(250);'
							SET @SQL = @SQL + 'WHILE (SELECT TOP 1 1 FROM #TMP WHERE done = 0) = 1 BEGIN '
							SET @SQL = @SQL + 'SELECT TOP 1 @ID = triID, @Fields = triIndexFields,@Unique = CASE WHEN triUnique = 1 THEN ''UNIQUE'' ELSE '''' END FROM #TMP WHERE done = 0;'
							SET @SQL = @SQL + 'SET @SQL = ''CREATE '' + @Unique + '' INDEX IX_'' + REPLACE(@Fields,'','',''_'') + '' ON '+ @dbName + '..' + @TblPrefix + @tblTable + '('' + @Fields + '')'';'  
							SET @SQL = @SQL + 'EXEC (@SQL); UPDATE #TMP SET Done = 1 WHERE triID =  @ID ; END'	
							BEGIN TRY							
								EXEC (@SQL)
							END TRY
							BEGIN CATCH
								INSERT INTO dgdb_PL..SAPDataRefreshLog VALUES (@trdSystem,@trdClient,@tblTable,@ROWCOUNT,CAST(DATEDIFF(SECOND,@startDate2,GETDATE()) AS NVARCHAR),'Indexing Failed: ' + ERROR_MESSAGE(),SYSUTCDATETIME(),SYSTEM_USER)						
							END CATCH
																								
						INSERT INTO dgdb_PL..SAPDataRefreshLog VALUES (@trdSystem,@trdClient,@tblTable,@ROWCOUNT,CAST(DATEDIFF(SECOND,@startDate2,GETDATE()) AS NVARCHAR),'',SYSUTCDATETIME(),SYSTEM_USER)						
			END TRY

			BEGIN CATCH			
				PRINT 'ERROR - ' + ERROR_MESSAGE() + ISNULL(@SQL,'NO SQL')
				INSERT INTO dgdb_PL..SAPDataRefreshLog VALUES (@trdSystem,@trdClient,@tblTable,@ROWCOUNT,CAST(DATEDIFF(SECOND,@startDate2,GETDATE()) AS NVARCHAR),ERROR_MESSAGE()  + '  - '	+	@SQL,SYSUTCDATETIME(),SYSTEM_USER)												
				UPDATE SapRefreshTables SET srtEndTime = GETDATE(),srtMessage = CAST(ERROR_LINE() AS NVARCHAR) + ' - ' + ERROR_MESSAGE()  WHERE srtTableName = @tblTable
			END CATCH
                    
			UPDATE SapRefreshTables SET srtEndTime = GETDATE(), srtRecordCount = @ROWCOUNT,srtDuration =  CAST(DATEDIFF(SECOND,@startDate2,GETDATE()) AS NVARCHAR) WHERE srtTableName = @tblTable
END

GO
