USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spProcess40CreateExportTables_PIR]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
SP 40 pir extensions
janvb oct 2016
*/
-- EXEC [spProcess40CreateExportTables_PIR] 732, 'zVPL_EPN_20171107_30_12', 'EMEA'
-- EXEC [spProcess40CreateExportTables_PIR] 'zAdh_GLP_Listbuyprice_Ahr_1047', 'EMEA', 'GLP', '300'
--EXEC [spProcess50ExportLoadFiles_PIR] 'zVPL_GLP_20180122_30_01'
-- Same as spProcess40CreateExportTables_PIR_TW_WIP_Swathi2 but renamed it on 19th Jan
CREATE PROCEDURE [dbo].[spProcess40CreateExportTables_PIR](
    --@SrcID INTEGER = 15 ,
    @TargetDB NVARCHAR(80) = 'DGDB_PL_TEST' ,
    @Region NVARCHAR(4) = 'ALL',
    @SAPSystem NVARCHAR(4) = 'EPN' ,
    @SAPClient NVARCHAR(4) = '300'
)
AS
    SET NOCOUNT ON;
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

BEGIN
    DECLARE @SQL NVARCHAR(MAX) ,
        @KSCHL_SEQ INTEGER ,
        @KSCHL NVARCHAR(4) ,
        @KSCHL_COLUMN NVARCHAR(20) ,
        @KSCHL_Condition NVARCHAR(255) ,
        @Message NVARCHAR(255) ,
        @Rowcount INTEGER			= 0 ,
        @DBName NVARCHAR(80) ,
        @SAPDB NVARCHAR(80);

    DECLARE @Conditions TABLE
        (
          SEQ INTEGER ,
          KSCHL NVARCHAR(4) ,
          KSCHL_COLUMN NVARCHAR(20) ,
          KSCHL_Condition NVARCHAR(255)
        );

    --SELECT  @DBName = 'VPL' + srcVendorCode + '_' + srcName + '_' + CAST(@SrcID AS NVARCHAR)
    --FROM    dbo.cfSource
    --WHERE   srcID = @SrcID;
    SET @DBName = @TargetDB;
    
    SELECT  @SAPDB = trdDatabase
    FROM    dbo.cfTargetData
    WHERE   trdClient = @SAPClient
        AND trdSystem = @SAPSystem;

	/*PIR EINA-EINE */
    SET @SQL = 'USE ' + @TargetDB + '; 
				IF OBJECT_ID(''txEINE_EINA_1_PIR_LSMW'') IS NOT NULL BEGIN DROP TABLE txEINE_EINA_1_PIR_LSMW END;';      
    EXEC (@SQL);
   
    SET @SQL = 'USE ' + @TargetDB + ';
				SELECT DISTINCT A.LIFNR
					  , UPPER(A.MATNR) AS MATNR --, CASE WHEN MD.MATNR_INT IS NOT NULL THEN MD.MATNR_INT ELSE A.MATNR END AS MATNR
					  , E.EKORG
					  , ISNULL(E.ESOKZ,0) AS ESOKZ
					  , E.WERKS
					  , E.EKGRP
					  , E.WAERS
					  , E.NORBM
					  , E.RDPRF
					  , E.APLFZ
					  , NULLIF(ISNULL(E.BSTAE,''''),'''') AS BSTAE
					  , NULLIF(ISNULL(E.MWSKZ,''''),'''') AS MWSKZ
					  , NULLIF(ISNULL(E.XERSN,''''),'''') AS XERSN
					  , 1 AS VABME
					  , ''EA'' AS MEINS
					  , 1 AS PEINH
					  , 1 AS UMREZ
					  , 1 AS UMREN
					  , ''EA'' AS LMEIN
					  , 1 AS BPUMZ
					  , 1 AS BPUMN
					  , ''EA'' AS BPRME	
					  , E.zSrcId AS zSrcID
					INTO ' + @TargetDB + '..txEINE_EINA_1_PIR_LSMW
					FROM ' + @DBName + '..ttEINA A
					INNER JOIN ' + @DBName + '..ttEINE E ON A.LIFNR = E.zLIFNR AND A.MATNR = E.zMATNR
					--LEFT OUTER JOIN ' + @SAPDB + '..MATERIALID MD ON A.MATNR = MD.MATNR_EXT
					WHERE A.zChange = 1 OR A.zActive = 1 OR E.zChange = 1 OR E.zActive = 1';
	--PRINT @SQL;
    EXEC (@SQL);
    SET @Rowcount = @@ROWCOUNT;

    SET @Message = CAST('txEINE_EINA_1_PIR_LSMW' AS CHAR(35)) + CAST(@Rowcount AS NVARCHAR);	
    RAISERROR (@Message,10,1) WITH NOWAIT;

    --SET @SQL = 'SELECT * FROM ' + @TargetDB + '..txEINE_EINA_1_PIR_LSMW ORDER BY LIFNR,MATNR,WERKS;';
    --EXEC (@SQL);

	/*PIR CONDITIONS KONP-A017*/
    INSERT  INTO @Conditions VALUES  ( 1, 'PB00', 'zListPrice', ' WHERE ttEINE.zChange = 1 OR ttEINE.zActive = 1  ' );
    INSERT  INTO @Conditions VALUES  ( 2, 'RC00', 'zDiscount', ' WHERE ttEINE.zChange = 1 OR ttEINE.zActive = 1  ' );
    INSERT  INTO @Conditions VALUES  ( 3, 'FRA1', 'zFreight', ' WHERE ttEINE.zChange = 1 OR ttEINE.zActive = 1  ' );
    IF @Region <> 'ALL'
    BEGIN
        INSERT  INTO @Conditions VALUES  ( 4, 'ZUPL', 'zZUPL', ' WHERE ttEINE.zChange = 1 OR ttEINE.zActive = 1  ' );
    END;

	/*temporary update DATAB & DATBI in ttEINE*/
    SET @SQL = ' USE ' + @DBName + '; UPDATE ttEINE SET    zDATAB = CONVERT(VARCHAR, GETDATE(), 112) ,zDATBI = ''99991231''';
    EXEC (@SQL);

    SET @SQL = 'USE ' + @TargetDB + '
				IF OBJECT_ID(''txEINE_Conditions_Idoc_Header'') IS NOT NULL BEGIN DROP TABLE txEINE_Conditions_Idoc_Header END
				IF OBJECT_ID(''txEINE_Conditions_Idoc_Detail'') IS NOT NULL BEGIN DROP TABLE txEINE_Conditions_Idoc_Detail END
				IF OBJECT_ID(''txEINE_Conditions_Idoc_Detail_BKP'') IS NOT NULL BEGIN DROP TABLE txEINE_Conditions_Idoc_Detail_BKP END';      
    EXEC (@SQL);
   
	/*Generate Conditions Header*/
    SET @SQL = 'USE ' + @DBName + '
				SELECT DISTINCT TOP ( 100 ) PERCENT 
					NULL AS VAKEY
					--, CASE WHEN LEFT(zLIFNR, 2) = ''IC'' THEN zLIFNR + ''    '' ELSE ''0000'' + dbo.ttEINE.zLIFNR END AS LIFNR
					, CASE WHEN ( dgdb.dbo.boaIsNumeric(zLIFNR) = 0 ) THEN zLIFNR ELSE dgdb.dbo.boaPad(zLIFNR, 0, 10) END AS LIFNR
					, UPPER(ttEINE.zMATNR) AS MATNR --, CASE WHEN MD.MATNR_INT IS NOT NULL THEN MD.MATNR_INT ELSE ttEINE.zMATNR END AS MATNR
					, ttEINE.EKORG
					, ttEINE.WERKS
					, 0 AS ESOKZ
					, zDATAB AS DATAB
					, zDATBI AS DATBI
					, ttEINE.zSrcId AS zSrcID
				INTO ' + @TargetDB + '..txEINE_Conditions_Idoc_Header
				FROM dbo.ttEINE 
				--LEFT OUTER JOIN ' + @SAPDB + '..MATERIALID MD ON ttEINE.zMATNR = MD.MATNR_EXT
				WHERE zChange = 1 OR zActive = 1 ';
	--PRINT @SQL;
    EXEC (@SQL);
    SET @Message = CAST('txEINE_Conditions_Idoc_Header' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR);	
    RAISERROR (@Message,10,1) WITH NOWAIT;
    
	/*Generate Conditions Detail*/
    WHILE ( SELECT TOP 1 1 FROM @Conditions) = 1
    BEGIN
        SELECT TOP 1
                @KSCHL_SEQ = SEQ ,
                @KSCHL = KSCHL ,
                @KSCHL_COLUMN = KSCHL_COLUMN ,
                @KSCHL_Condition = KSCHL_Condition
        FROM    @Conditions;

        SET @SQL = 'USE ' + @DBName + ';' 
            + CASE WHEN @KSCHL <> 'PB00'
                   THEN 'INSERT INTO ' + @TargetDB + '..txEINE_Conditions_Idoc_Detail '
                   ELSE ''
              END;

        SET @SQL = @SQL + 'SELECT TOP ( 100 ) PERCENT';

        SET @SQL = @SQL + ' NULL AS VAKEY
							--, CASE WHEN LEFT(zLIFNR, 2) = ''IC'' THEN zLIFNR + ''     '' ELSE ''0000'' + ttEINE.zLIFNR END AS zLIFNR
							, CASE WHEN ( dgdb.dbo.boaIsNumeric(zLIFNR) = 0 ) THEN zLIFNR ELSE dgdb.dbo.boaPad(zLIFNR, 0, 10) END AS zLIFNR
							, UPPER(ttEINE.zMATNR) AS MATNR --, CASE WHEN MD.MATNR_INT IS NOT NULL THEN MD.MATNR_INT ELSE ttEINE.zMATNR END AS MATNR
							, ttEINE.EKORG
							, ttEINE.WERKS
							, 0 AS ESOKZ 
							, ''' + @KSCHL + ''' AS KSCHL
							, CAST(' + @KSCHL_COLUMN + ' as DECIMAL(18,2)) AS KBETR
							, ttEINE.WAERS AS KONWA, '
							+ CASE WHEN @KSCHL IN ( 'FRA1', 'ZUPL' ) THEN '''''' ELSE '''1''' END + ' AS KPEIN , '
							+ CASE WHEN @KSCHL IN ( 'FRA1', 'ZUPL' ) THEN '''''' ELSE '''EA''' END + '  AS KMEIN
							, zDATAB AS DATAB
							, zDATBI AS DATBI, '
							+ CASE WHEN @KSCHL = 'PB00' THEN '''X''' ELSE '''''' END + '  AS KZNEP, '
							+ CASE WHEN @KSCHL IN ( 'PB00', 'RC00' ) THEN '''C''' ELSE '''A''' END + ' AS KRECH';
        SET @SQL = @SQL + CASE WHEN @KSCHL = 'PB00' THEN ', ID = IDENTITY (int, 1,1) ' ELSE '' END;
        SET @SQL = @SQL + CASE WHEN @KSCHL = 'PB00' THEN 'INTO ' + @TargetDB + '..txEINE_Conditions_Idoc_Detail ' ELSE ''END + '
						FROM dbo.ttEINE
						LEFT OUTER JOIN ttMARC ON ttEine.zMATNR = ttMARC.MATNR AND dbo.ttEINE.WERKS = ttMARC.WERKS
						--LEFT OUTER JOIN ' + @SAPDB + '..MATERIALID MD ON ttEINE.zMATNR = MD.MATNR_EXT' 
						+ CASE WHEN @KSCHL_Condition = '' THEN '' ELSE @KSCHL_Condition END + ';';
		--PRINT @SQL;
        EXEC (@SQL);
        SET @Rowcount = @Rowcount + @@ROWCOUNT;
        DELETE FROM @Conditions WHERE KSCHL = @KSCHL;
    END;

    SET @SQL = 'UPDATE ' + @TargetDB + '..txEINE_Conditions_Idoc_Detail  SET KBETR =
							CASE KSCHL 
								WHEN ''RC00'' THEN KBETR * -1
								WHEN ''FRA1'' THEN KBETR * 1
								WHEN ''ZUPL'' THEN KBETR * 1
								ELSE KBETR
						END;';
    EXEC (@SQL);

    SET @Message = CAST('txEINE_Conditions_Idoc_Detail' AS CHAR(35)) + CAST(@Rowcount AS NVARCHAR);	
    RAISERROR (@Message,10,1) WITH NOWAIT;

    --SET @SQL = 'SELECT * FROM ' + @TargetDB + '..txEINE_Conditions_Idoc_Header ORDER BY VAKEY;';
    --EXEC (@SQL);

    SET @SQL = 'SELECT * INTO ' + @TargetDB + '..txEINE_Conditions_Idoc_Detail_BKP 
				FROM ' + @TargetDB + '..txEINE_Conditions_Idoc_Detail;
				TRUNCATE TABLE ' + @TargetDB + '..txEINE_Conditions_Idoc_Detail;
				SET IDENTITY_INSERT ' + @TargetDB + '..txEINE_Conditions_Idoc_Detail OFF;
				ALTER TABLE ' + @TargetDB + '..txEINE_Conditions_Idoc_Detail ALTER COLUMN KPEIN VARCHAR(1) NULL;
				ALTER TABLE ' + @TargetDB + '..txEINE_Conditions_Idoc_Detail ALTER COLUMN KMEIN VARCHAR(2) NULL;
				ALTER TABLE ' + @TargetDB + '..txEINE_Conditions_Idoc_Detail ALTER COLUMN KZNEP VARCHAR(1) NULL;
				INSERT INTO ' + @TargetDB + '..txEINE_Conditions_Idoc_Detail
				(VAKEY, zLIFNR, MATNR, EKORG, WERKS, ESOKZ, KSCHL, KBETR, KONWA, KPEIN, KMEIN, DATAB, DATBI, KZNEP, KRECH)  
				SELECT VAKEY, zLIFNR, MATNR, EKORG, WERKS, ESOKZ, KSCHL, KBETR, KONWA, NULLIF(KPEIN,''''), NULLIF(KMEIN,'''')
					, DATAB, DATBI, NULLIF(KZNEP,''''), KRECH 
				FROM ' + @TargetDB + '..txEINE_Conditions_Idoc_Detail_BKP ORDER BY ID;';
	--PRINT (@SQL);
    EXEC (@SQL);
END;
GO
