USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spGETsrcGroupRowCount]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGETsrcGroupRowCount] 
	@SrcGroup NVARCHAR(40) = 'EMEA',
	@View NVARCHAR(40) = ''

AS 

BEGIN

	SET NOCOUNT ON

	DECLARE 
		@srcName NVARCHAR(80),
		@VPL NVARCHAR(80),
		@RowCount INTEGER,
		@AdhocMode SMALLINT ,
		@SQL NVARCHAR(4000)
		
	
	IF OBJECT_ID('Tempdb..#TMP') IS NOT NULL BEGIN DROP TABLE #TMP END				
	SELECT 0 AS Done,* INTO #TMP FROM dbo.cfSource WHERE srcGroup = @SrcGroup ORDER BY srcName
	

	PRINT 'Counting ttMVKE records FOR SrcGroup: '+ @SrcGroup
	PRINT ''
	WHILE (SELECT TOP 1 1 FROM #TMP WHERE Done = 0) = 1
		BEGIN			
			SELECT TOP 1 
					@srcName = srcName,					
					@VPL = 'VPL' + srcVendorCode + '_' + srcName+ '_' + CAST(srcID AS NVARCHAR)
				FROM #TMP WHERE Done = 0

			SET @SQL = 'DECLARE @RowCount INTEGER;
						SELECT @RowCount = COUNT(1) FROM ' + @VPL + '..ttMVKE
						PRINT '''  + CAST(@SRcname AS CHAR(40)) +  CAST(@VPL AS CHAR(80)) + ''' + CAST(@Rowcount  as NVARCHAR)
						'

			--PRINT @SQL

			BEGIN TRY
				EXEC(@SQL)
			END TRY

			BEGIN CATCH
				PRINT CAST(@SRcname AS CHAR(40)) +  CAST(@VPL AS CHAR(80)) + '0'
			END CATCH
		
			UPDATE #TMP SET Done = 1 WHERE srcName = @srcName

		END
	END
GO
