USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[zWebSP_GET_Material_ProductHierarchy]    Script Date: 3/9/2026 9:14:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[zWebSP_GET_Material_ProductHierarchy]
	@MATKL NVARCHAR(5) = '10007'

AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

BEGIN
	SELECT PRODH,VTEXT FROM dgdb_PL..cfPH
		WHERE zactive = 1
			AND PRODH1 = @MATKL
		ORDER BY PRODH
END
GO
