USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[srSTXL_TargetIns]    Script Date: 3/9/2026 9:14:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jan van Berghem
-- Create date: NOV 2014
-- Description:	Creation of MM Long Descriptions from SourceFileExtract
-- Table ttSTXL
-- =============================================


CREATE PROCEDURE [dbo].[srSTXL_TargetIns]
	@dbName NVARCHAR(40)='VPL10164_VMWare_NZ_147',
	@SrcID INT = 147	
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE 			
		@SQL NVARCHAR(4000),
		@srcSystem NVARCHAR(4),
		@srcCLient NVARCHAR(4),
		@SAPDB NVARCHAR(40)		

		SELECT	@srcSystem = srcSystem,
				@srcCLient = srcCLient					
			FROM cfSource
			WHERE srcid = @SrcID
	

	SELECT @SAPDB = trdDatabase FROM dbo.cfTargetData WHERE trdSystem = @srcSystem AND trdClient = @srcClient	
	--DELETE FROM VPL10164_VMWare_NZ_147..ttstxl
		
	/*INSERT Description From SourceFileExtract*/			
	SET @SQL = 'INSERT INTO ' + @dbName + '.[dbo].[ttSTXL] 
				( TDOBJECT ,
					TDNAME ,
					TDID ,
					TDSPRAS ,				
					zTEXTFORMAT ,
					zTEXTLINE ,
					zSource ,					
					zSrcID,
					zActive ,
					zLine,
					zLength
				)
			SELECT DISTINCT   ''MATERIAL'' , -- TDOBJECT - nvarchar(50)
						Material , -- TDNAME - nvarchar(50)
						''GRUN'' , -- TDID - nvarchar(50)
						''E'' , -- TDSPRAS - nvarchar(50)					
						''/'' , -- zTEXTFORMAT - nvarchar(50)
						Description , -- zTEXTLINE - nvarchar(max)
						zSource , -- zSource - nvarchar(50)
						LEFT(zSource,PATINDEX(''% %'',zSource)),
						0 , -- zActive - bit
						1 ,  -- zLine - int
						LEN(Description) --ZLength
					FROM ' + @dbName + '..SourceFileExtract					
			PRINT CAST(''STXL '' AS CHAR(12)) + CAST(@@ROWCOUNT AS CHAR(13)) + ''ttSTXL (Descriptions from SourceFileExtract) Records Inserted ''; 
	--		CREATE UNIQUE INDEX PK_ttSTXL ON ' + @dbName + '.dbo.ttSTXL(TDNAME,zLine)
	--		CREATE INDEX IX_ttSTXL ON ' + @dbName + '.dbo.ttSTXL(TDNAME)
	--		CREATE INDEX IX2_ttSTXL ON ' + @dbName + '.dbo.ttSTXL(zLine)'			

		EXEC (@SQL)

		/*Loop and split lines for all rows longer than 132 positions*/
		SET @SQL = 'DECLARE @MaxFiedlLength AS INTEGER,@StartSize AS INTEGER,@Counter AS INTEGER;
			SELECT @MaxFiedlLength = MAX(zLength) FROM ' + @dbName + '.dbo.ttSTXL;
			SET @StartSize = 133;		
			SET @Counter = 2; 
			WHILE @StartSize < @MaxFiedlLength
				BEGIN
					INSERT INTO ' + @dbName + '.dbo.ttSTXL
							( TDOBJECT ,
							  TDNAME ,
							  TDID ,
							  TDSPRAS ,						
							  zTEXTFORMAT ,
							  zTEXTLINE,
							  zSource ,
							  zSrcID,
							  zActive ,
							  zLine )
					SELECT	  DISTINCT TDOBJECT ,
							  TDNAME ,
							  TDID ,
							  TDSPRAS ,						
							  ''='' ,
							  SUBSTRING(zTEXTLINE,@StartSize,132),
							  zSource ,
							  zSrcID,
							  zActive ,
							  @Counter 
					FROM ' + @dbName + '.dbo.ttSTXL WHERE zLine = 1  AND LEN(zTEXTLINE) > @StartSize; 	
					PRINT CAST(''STXL '' AS CHAR(12)) + CAST(@@ROWCOUNT AS CHAR(13)) + ''Additional ttSTXL (Long Description) Records Inserted for Length between : '' + CAST(@StartSize AS CHAR(5)) + '' - '' + CAST(@StartSize + 132 AS CHAR(10)) ; 			
					SET @StartSize = @StartSize + 132;		
					SET @Counter = @Counter + 1;					
				END;						
			UPDATE ' + @dbName + '.dbo.ttSTXL
				SET zTEXTLINE = LEFT(LTRIM(zTEXTLINE),132)
				WHERE zLine = 1;
			DECLARE @ID NUMERIC(12,0)=0;
			UPDATE ' + @dbName + '.dbo.ttSTXL
				SET @ID = zID = @ID + 1;'
		EXEC (@SQL)
		
		PRINT ''
		SET @SQL = '
			

			UPDATE T
			SET zChange = 1
			FROM ' + @dbName + '..ttSTXL T
				INNER JOIN ' + @SAPdb + '..MATERIALID M ON T.TDNAME = M.MATNR_EXT
				INNER JOIN ' + @SAPdb + '..STXL S ON S.TDNAME = M.MATNR_INT
													  AND RIGHT(''00''
																+ CAST(T.zLine AS NVARCHAR),
																3) = S.COUNTER
			WHERE TDLINE <> zTEXTLINE 
			PRINT CAST(''STXL'' AS CHAR(12)) + CAST(@@ROWCOUNT AS CHAR(13)) + '' Changed Long Description) Records''; 

		  UPDATE T
			SET zActive = 1
			FROM ' + @dbName + '..ttSTXL T
				INNER JOIN ' + @SAPdb + '..MATERIALID M ON T.TDNAME = M.MATNR_EXT
				LEFT OUTER JOIN ' + @SAPdb + '..STXL S ON S.TDNAME = M.MATNR_INT
														   AND RIGHT(''00''
																  + CAST(T.zLine AS NVARCHAR),
																  3) = S.COUNTER
			WHERE S.TDNAME IS NULL
			PRINT CAST(''STXL'' AS CHAR(12)) + CAST(@@ROWCOUNT AS CHAR(13)) + '' New Long Description) Records''; 

		UPDATE ' + @dbName + '..ttSTXL 
			SET zCHange = 1 WHERE TDNAME IN (SELECT DISTINCT TDNAME FROM ' + @dbName + '..ttSTXL WHERE zCHange = 1)
				

		'
		EXEC (@SQL)
		PRINT ''
		PRINT ''
	END

	
GO
