USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spProcess304050Combined]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--EXEC [spProcess304050Combined] 'zVPL_20150709_30_2',30,2,'EQ1',300, 1 
--EXEC [spProcess304050Combined] 'zVPL_EP1_20150714_30_1',30,2,'EP1',300, 1

CREATE PROCEDURE [dbo].[spProcess304050Combined] 
	@DB NVARCHAR(40) = 'zVPL_20150609_30' , 
    @sstCode NVARCHAR(2) = 30,
	@UpdateType SMALLINT = 2, --1 = new only, 2 = new & changes, 0 = changes only
	@SAPSystem NVARCHAR(3) = 'EQ1',
	@SAPClient NVARCHAR(3) = '300',
	@RunSp50 bit = 1,
	@SapSystemDir1 VARCHAR(20) = ''
AS
    BEGIN

        DECLARE @JobNr INT

		EXEC dbo.spProcess30PrepareDBForLoad 
			@srcID = 0, -- int
		    @ProcessDB = @DB, -- nvarchar(40)
		    @SAPSystem = @SAPSystem, -- nvarchar(3)
		    @SAPClient = @SAPClient, -- nvarchar(3)
		    @srcGroup = 'ALL', -- nvarchar(10)
		    @srcSstCode = @sstCode -- smallint		    	        

		/*Get JobNe#*/
        SELECT @JobNr = spjID
            FROM DGDB_PL__Log..SourceProcessJob
            WHERE spjID = ( SELECT MAX(spjID) FROM DGDB_PL__Log..SourceProcessJob)
                AND DGDB_PL__Log.dbo.SourceProcessJob.spjProcessDb = @DB
        
		/*Get Statistics*/
		EXEC spProcess35PrepareDBForLoadSummary @DB, @JobNr

		
  --      /*Create TxTables*/
		--EXEC spProcess40CreateExportTables	 	 
		--	@dbName = @DB, -- nvarchar(40)
		--    @InsertFlag = @UpdateType, -- smallint
		--	--@InsertFlag = 1, -- smallint
		--	@SAPSystem = @SAPSystem, -- nvarchar(3)
		--    @SAPClient = @SAPClient -- nvarchar(3)

		IF @SAPSystem = 'EQ1'
		BEGIN
		/*Create TxTables*/
		--EXEC spProcess40CreateExportTables_EQ1
		EXEC spProcess40CreateExportTables	 	 
			@dbName = @DB, -- nvarchar(40)
		    @InsertFlag = @UpdateType, -- smallint
			--@InsertFlag = 1, -- smallint
			@SAPSystem = @SAPSystem, -- nvarchar(3)
		    @SAPClient = @SAPClient -- nvarchar(3)
		END
		ELSE
		BEGIN
        /*Create TxTables*/
		EXEC spProcess40CreateExportTables	 	 
			@dbName = @DB, -- nvarchar(40)
		    @InsertFlag = @UpdateType, -- smallint
			--@InsertFlag = 1, -- smallint
			@SAPSystem = @SAPSystem, -- nvarchar(3)
		    @SAPClient = @SAPClient -- nvarchar(3)
        
		END 
        
		
		IF @RunSp50 = 1 
		BEGIN
			--/*Export tx Tables to File*/
			EXEC dbo.spProcess50ExportLoadFiles
				@dbName = @db, -- nvarchar(50)
				@ProcessGroup = 'TEST',
				@SapSystemDir =  @SapSystemDir1
		END 
   --         --,@ProcessGroup = N'' -- nvarchar(50)         

    END



 


 

 
GO
