USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spProcess20ValidateSAPData_GetSAPDB]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spProcess20ValidateSAPData_GetSAPDB]


	@srcID					INTEGER				= 3,
	@TableName				NVARCHAR(80)		= 'MARA'

AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED


BEGIN

	DECLARE 
		@SAPDB					NVARCHAR(80),
		@LocalSAPDB				NVARCHAR(80),	
		@SQL					NVARCHAR(4000),
		@SourceServer			NVARCHAR(10);


	SELECT @SAPDB		= trdDatabase 
		, @SourceServer = trdServer
	FROM dbo.cfTargetData_New 
	INNER JOIN dbo.cfSource ON srcSystem = trdSystem 
		AND srcClient = srcClient 
		AND srcID = @srcID;

	SELECT @LocalSAPDB		= dbo.fnGetVPLName(@srcID) + '_SAPData'
	
	SET @SQL = 'IF EXISTS (SELECT TOP 1 1 FROM sys.databases WHERE name = ''' + @LocalSAPDB  + ''')
		BEGIN
			SELECT CASE WHEN S1.create_date < ISNULL(S2.create_date,''01-01-2000'') 
				THEN ''' + @LocalSAPDB + ''' ELSE ''' + @SAPDB + ''' ENd AS Table_Name
			FROM ' + @SAPDB + '.sys.tables S1
			LEFT OUTER JOIN ' + @LocalSAPDB + '.sys.tables S2 ON S2.name = S1.name
			WHERE S1.Name = ''' + @TableName + '''
		END
	ELSE
		BEGIN
			SELECT ''' + @SAPDB + '''
		END'			
	--print (@SQL)
	EXEC (@SQL)
END
GO
