USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[Test_uplift]    Script Date: 3/9/2026 9:14:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Test_uplift]

AS

begin

DECLARE
            @VAL1 NVARCHAR(500)='',
            @SQL NVARCHAR(500)='',
            @SQL2 NVARCHAR(50)='',
            @src1 NVARCHAR(50)='',
            @src1Name NVARCHAR(200)='',
            @WRule NVARCHAR(200)='',
            @matkl1 NVARCHAR(50)=''
            

            DECLARE Sources CURSOR FOR 
                  SELECT B.srcVendorCode, A.srcID, b.srcName, A.srrUpdate, A.srrID
                  FROM [dbo].[vSourceRules] A 
                  JOIN  [dbo].[cfSource] B ON A.srcID=B.srcID
                  WHERE A.srrFieldName in ('FreightUplift') 
                  --, 'Plant')
                  AND (B.srcGroup = N'EMEA') 
                  AND (B.srcVendorCode BETWEEN N'10000' 
                  AND N'10500') 
                  AND (NOT (scrComment IN (N'NO', N'MDM')))
                  AND a.srrActive='1'

                  --AND b.srcSupplierPlantMapOverride='1'
                  --AND B.srcID = '113'

IF OBJECT_ID('DGDB_PL_DIEGO..Uplifts') IS NOT NULL BEGIN DROP TABLE DGDB_PL_DIEGO..Uplifts END
CREATE TABLE DGDB_PL_DIEGO..UPLIFTS (MATKL NVARCHAR(50), SRC NVARCHAR(50), SRCNAME NVARCHAR(200), ORG NVARCHAR(50), WRULE NVARCHAR(200))

OPEN Sources
FETCH NEXT FROM Sources INTO @matkl1, @src1 , @src1Name, @VAL1, @WRule
WHILE @@fetch_status = 0

BEGIN
SET @SQL = '
INSERT INTO DGDB_PL_DIEGO..Uplifts SELECT ' + @matkl1 + ', ' + @src1 + ', ''' + @src1Name + ''', StringValue , '+@WRule+'
FROM dgdb..fnSplitStringToTable(' + @VAL1 + ',''|'')'

--PRINT (@SQL)
EXEC (@SQL)
FETCH NEXT FROM Sources INTO  @matkl1, @src1 , @src1Name, @VAL1, @WRule
END
CLOSE Sources
DEALLOCATE Sources

end


SELECT Uplifts.* , srrWhere
FROM DGDB_PL_DIEGO..Uplifts
JOIN dbo.vSourceRules ON srrID=WRule
GO
