USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[zWebSP_GET_Material_AdditionalUOM]    Script Date: 3/9/2026 9:14:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[zWebSP_GET_Material_AdditionalUOM]	

AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

BEGIN
	
	SELECT chvValue AS MEINH
				  , chvDescription AS UOM
				  , 0 AS DefaultValue
				FROM dgdb..CheckTableValue
				WHERE chvChtCode = 'T006'
					AND chvActive = 1
					AND chvVariant = 3
					AND chvValue <> 'EA'
				ORDER BY chvDescription
END
GO
