USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spProcess304050Combined_ME_TW_WithPIR_bkp_04062019]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
        
          
--EXEC [spProcess304050Combined] 'zVPL_20150709_30_2',30,2,'EQ1',300, 1           
--EXEC [spProcess304050Combined_ME_TW_WithPIR] 'zVPL_GLP_20180122_30_02',30,2,'GLP',300, 1, 'ÉP1_Swathi', 'ALL'          
          
CREATE PROCEDURE [dbo].[spProcess304050Combined_ME_TW_WithPIR_bkp_04062019]          
    @DB NVARCHAR(40) = 'zVPL_20150609_30' ,          
    @sstCode NVARCHAR(2) = 30 ,          
    @UpdateType SMALLINT = 2 , --1 = new only, 2 = new & changes, 0 = changes only          
    @SAPSystem NVARCHAR(3) = 'EQ1' ,          
    @SAPClient NVARCHAR(3) = '300' ,          
    @RunSp50 BIT = 1 ,          
    @SapSystemDir1 VARCHAR(20) = '' ,          
    @srcGroup NVARCHAR(10) = 'ALL'          
AS          
    BEGIN          
          
        DECLARE @JobNr INT,@processjobname varchar(10),@TargetDB varchar(20)='BDA_MM_UL_E03',@sql varchar(400);          
          
        EXEC dbo.spProcess30PrepareDBForLoad @srcID = 0, -- int          
            @ProcessDB = @DB, -- nvarchar(40)          
            @SAPSystem = @SAPSystem, -- nvarchar(3)          
            @SAPClient = @SAPClient, -- nvarchar(3)          
            @srcGroup = @srcGroup, -- nvarchar(10)          
            @srcSstCode = @sstCode; -- smallint                         
          
  /*Get JobNe#*/          
        SELECT  @JobNr = spjID          
        FROM    DGDB_PL__LOG..SourceProcessJob          
        WHERE   spjID = ( SELECT    MAX(spjID)          
                          FROM      DGDB_PL__LOG..SourceProcessJob          
                        )          
                AND DGDB_PL__LOG.dbo.SourceProcessJob.spjProcessDb = @DB;          
                  
  /*Get Statistics*/          
        EXEC spProcess35PrepareDBForLoadSummary @DB, @JobNr;          
          
        IF @SAPSystem = 'EQ1'          
            BEGIN          
    /*Create TxTables*/          
    --EXEC spProcess40CreateExportTables_EQ1          
                EXEC spProcess40CreateExportTables @dbName = @DB, -- nvarchar(40)          
                    @InsertFlag = @UpdateType, -- smallint          
     --@InsertFlag = 1, -- smallint          
                    @SAPSystem = @SAPSystem, -- nvarchar(3)          
                    @SAPClient = @SAPClient; -- nvarchar(3)          
            END;          
        ELSE          
            BEGIN          
    /*Create TxTables*/          
                EXEC spProcess40CreateExportTables_ME_TW_WithPIR @dbName = @DB, -- nvarchar(40)          
                    @InsertFlag = @UpdateType, -- smallint          
     --@InsertFlag = 1, -- smallint          
                    @SAPSystem = @SAPSystem, -- nvarchar(3)          
                    @SAPClient = @SAPClient, -- nvarchar(3)          
                    @srcGroup = @srcGroup;                  
            END;          
            -----------------    
              
                
                
            DECLARE @processjobname_cursor CURSOR     
set @processjobname_cursor=cursor for select processjobname    
FROM BDA_MM_UL_E03..cfprocesscontrol where active=1 ;    
    
OPEN @processjobname_cursor;    
FETCH NEXT FROM @processjobname_cursor into @processjobname;    
    
WHILE @@FETCH_STATUS = 0    
   BEGIN    
      SET @SQL = 'EXEC ' + @TargetDB + '.dbo.spUpdateProcessStatus ''' +@processjobname+ ''',1;';    
      EXEC (@SQL);     
    print @sql    
      PRINT 'Inside WHILE LOOP on TechOnTheNet.com';    
      FETCH NEXT FROM @processjobname_cursor INTO @processjobname    
   END;    
PRINT 'Done WHILE LOOP on TechOnTheNet.com';    
    
CLOSE @processjobname_cursor;    
DEALLOCATE @processjobname_cursor;    
    
              
   -------------------    
       
                      
        EXEC SPInsertDataToUTTables 'BDA_MM_UL_E03', 'WG0218', @DB, @SAPSystem, @SAPClient;          
       -- EXEC SPInsertDataToUTTables 'BDA_MM', 'DV0064', @DB, @SAPSystem, @SAPClient;          
        --EXEC SPInsertDataToUTTables 'BDA_MM_UL_EP1', 'WG0218', @DB, @SAPSystem, @SAPClient;       
        --------    
        set @processjobname_cursor=cursor for select processjobname    
FROM BDA_MM_UL_E03..cfprocesscontrol where active=1 ;    
  OPEN @processjobname_cursor;    
FETCH NEXT FROM @processjobname_cursor into @processjobname;    
    
WHILE @@FETCH_STATUS = 0    
   BEGIN    
      SET @SQL = 'EXEC ' + @TargetDB + '.dbo.spUpdateProcessStatus ''' +@processjobname+ ''',2;';    
      EXEC (@SQL);     
    print @sql    
      PRINT 'Inside WHILE LOOP on TechOnTheNet.com';    
      FETCH NEXT FROM @processjobname_cursor INTO @processjobname    
   END;    
PRINT 'Done WHILE LOOP on TechOnTheNet.com';    
    
CLOSE @processjobname_cursor;    
DEALLOCATE @processjobname_cursor;    
-------       

--moving MR21 to 4 for not complete ODS MR21 job first

SET @SQL = 'EXEC ' + @TargetDB + '.dbo.spUpdateProcessStatus ''MR21'',4;';  
print @sql  
   EXEC (@SQL);
            
        IF @RunSp50 = 1          
            BEGIN          
   --/*Export tx Tables to File*/          
                EXEC dbo.spProcess50ExportLoadFiles_ME_TW_WithPIR @DB, 'TEST',@SapSystemDir1          
            END;          
    END;   
GO
