USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spProcess05CiscoBootstrapImport_WIP]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spProcess05CiscoBootstrapImport_WIP] 

	@srcID nvarchar(20) = 16,
	@EDIMaxBatchSize INTEGER = 1000
AS
BEGIN
	
	SET NOCOUNT ON;

		SET TRANSACTION ISOLATION LEVEL 
		READ UNCOMMITTED 

		DECLARE 
			@SQL NVARCHAR(4000),
			@SQL2 NVARCHAR(4000),
			@srcName NVARCHAR(50)='',
			@srcSrtCode NVARCHAR(4),
			@srcVendorCode NVARCHAR(50)='',
			@srcTableName NVARCHAR(50)='',			
			@DBName NVARCHAR(40)='',
			@GPLFile NVARCHAR(255),
			@WPLFile NVARCHAR(255),
			@ListPriceSupplierNumber NVARCHAR(10),
			@ListPricePlantNumber NVARCHAR(10),
			@SAPClientDataDB NVARCHAR(40),
			@srcSystem NVARCHAR(3),
			@srcClient NVARCHAR(3)

		/*Get the database name based on SourceID*/
		 SELECT	@srcName = srcName,
			@srcSrtCode = srcSrtCode,
			@srcVendorCode = srcVendorCode ,
            @srcTableName = srcTableName,
			@srcClient = srcClient,
			@srcSystem = srcSystem			
        FROM cfSource
        WHERE srcid = @srcID	
		SET @DBName =  @srcSrtCode + @srcVendorCode + '_' + @srcName + '_' + CAST(@srcID AS NVARCHAR)
		SELECT @SAPClientDataDB = trdDatabase FROM dbo.cfTargetData WHERE trdSystem = @srcSystem AND trdClient = @srcClient

		/* Check if SrcID is Cisco*/
		IF NOT EXISTS( SELECT * FROM dbo.cfSourceSourceGroup WHERE ssgSrgID = 1 AND ssgSrcID = @srcID)  --- Cisco Only)
			BEGIN
				PRINT 'srcID ' + CAST(@srcID AS NVARCHAR) +   ' is not a Cisco Pricelist ( <> srcGroup 1)'
				RETURN
			END
		ELSE
			BEGIN
				Select @GPLFile = 
					CASE @SrcID
						WHEN '9' THEN '\\WG0218\MDMUpload\CA\1129 - Canada GPL Pricing file.txt'
						WHEN '13' THEN '\\WG0218\MDMUpload\AU\Australia GPL Pricing file.txt'
						WHEN '16' THEN '\\WG0218\MDMUpload\US\1109 - US GPL Pricing file.txt'
						WHEN '51' THEN '\\WG0218\MDMUpload\EU\1110_Pricing_NGC1.txt'
						WHEN '14' THEN '\\WG0218\MDMUpload\NZ_SG\1441 - Asia Pacific GPL Pricing file.txt'
						WHEN '15' THEN '\\WG0218\MDMUpload\NZ_SG\1441 - Asia Pacific GPL Pricing file.txt'
						ELSE '\\Oh\Big\Bummer'
					END
				Select @WPLFile = 
					CASE @SrcID
						WHEN '9' THEN '\\WG0218\MDMUpload\CA\1135 - Canada WPL Pricing file.txt'
						WHEN '13' THEN '\\WG0218\MDMUpload\AU\Australia WPL Pricing file.txt'
						WHEN '16' THEN '\\WG0218\MDMUpload\US\1134 - US WPL Pricing file.txt'
						WHEN '51' THEN '\\WG0218\MDMUpload\EU\1137-Europe WPL Pricing file1.txt'
						WHEN '14' THEN '\\WG0218\MDMUpload\NZ_SG\1442 - Asia Pacific WPL Pricing file.txt'
						WHEN '15' THEN '\\WG0218\MDMUpload\NZ_SG\1442 - Asia Pacific WPL Pricing file.txt'
						ELSE '\\Oh\Big\Bummer'
					END
				Select @ListPriceSupplierNumber = 
					CASE @SrcID
						WHEN '9' THEN  '300035'
						WHEN '13' THEN '300700'
						WHEN '16' THEN '300133'
						WHEN '51' THEN '17268'
						WHEN '14' THEN '300637'
						WHEN '15' THEN '300546'
						ELSE '\\Oh\Big\Bummer'
					END
				Select @ListPricePlantNumber = 
					CASE @SrcID
						WHEN '9' THEN '2101'
						WHEN '13' THEN '6001'
						WHEN '16' THEN '2021'
						WHEN '51' THEN '4001'
						WHEN '14' THEN '6301'
						WHEN '15' THEN '6101'
						ELSE '\\Oh\Big\Bummer'
					END
			END

		IF OBJECT_ID('tempdb..##Global_Pricing_NGC') IS NOT NULL BEGIN DROP TABLE ##Global_Pricing_NGC END				
		IF OBJECT_ID('tempdb..##Wholesale_Pricing_NGC') IS NOT NULL BEGIN DROP TABLE ##Wholesale_Pricing_NGC END	
		IF OBJECT_ID('tempdb..##NotOnWholeSale') IS NOT NULL BEGIN DROP TABLE ##NotOnWholeSale END	

		/* ## means Create global temporary table (in Memory)*/
		CREATE TABLE [dbo].[##Global_Pricing_NGC](
			[creation_date] [varchar](50) NULL,
			[product_number] [varchar](50) NULL,
			[description] [varchar](150) NULL,
			[erp_price_list_id] [varchar](50) NULL,
			[list_price] [varchar](50) NULL,
			[orderable_ind] [varchar](50) NULL,
			[configuration_ind] [varchar](50) NULL,
			[discount_code] [varchar](50) NULL,
			[unspsc_code] [varchar](50) NULL,
			[leadtime] [varchar](50) NULL,
			[service] [varchar](50) NULL,
			[weight] [varchar](50) NULL,
			[price_protection] [varchar](50) NULL,
			[web_orderable] [varchar](50) NULL,
			[pricing_tool_indicator] [varchar](50) NULL,
			[delivery_method] [varchar](50) NULL,
			[item_catalog_category] [varchar](50) NULL,
			[serialized_flag] [varchar](50) NULL,
			[eol_ext_announce_date] [varchar](50) NULL,
			[eol_sales_date] [varchar](50) NULL,
			[eol_contract_renew_date] [varchar](50) NULL,
			[eol_last_support_date] [varchar](50) NULL,
			[eol_sw_avail_date] [varchar](50) NULL,
			[eol_svc_attach_date] [varchar](50) NULL,
			[eol_sw_maintenance_date] [varchar](50) NULL,
			[eol_security_vul_support_date] [varchar](50) NULL,
			[erp_family] [varchar](50) NULL,
			[product_type] [varchar](50) NULL,
			[product_subgroup] [varchar](50) NULL,
			[upc_code] [varchar](50) NULL,
			[stockable_flag] [varchar](50) NULL,
			[env_orderability_flag] [varchar](50) NULL,
			[sw_subscription_minimum_quantity] [varchar](50) NULL,
			[sw_subscription_maximum_quantity] [varchar](50) NULL,
			[sw_subscription_quantity_band_uom] [varchar](50) NULL,
			[sw_subscription_duration_minimum] [varchar](50) NULL,
			[sw_subscription_duration_maximum] [varchar](50) NULL,
			[sw_subscription_duration_default] [varchar](50) NULL,
			[sw_subscription_duration_measurement_type] [varchar](50) NULL,
			[pak_delivery_preference] [varchar](50) NULL,
			[fulfillment_restriction] [varchar](50) NULL,
			[provisioning_enabled]  [varchar](50) NULL,
			[product_quantity_delivery_preference]  [varchar](50) NULL,
			[base_discount_category]  [varchar](50) NULL,
			[item_type]  [varchar](50) NULL,
			[user_specified_start_date]  [varchar](50) NULL,
			[smart_licensing_enabled]  [varchar](50) NULL,
			[smart_account]  [varchar](50) NULL,
			[service_program_name]  [varchar](50) NULL)

		SET @SQL = '
						BULK INSERT ##Global_Pricing_NGC
							FROM '''  + @GPLFile + '''
							WITH ( FIRSTROW = 2, FIELDTERMINATOR = ''|'' , ROWTERMINATOR = ''0x0a'')
						PRINT '''  + @GPLFile + ' Created, Recordcount: '' + CAST(@@ROWCOUNT AS NVARCHAR)
					'
		EXEC (@SQL)
		CREATE UNIQUE INDEX [UX_GPL_product_number] ON ##Global_Pricing_NGC ([product_number])

		CREATE TABLE [dbo].[##Wholesale_Pricing_NGC](
			[creation_date] [varchar](50) NULL,
			[product_number] [varchar](50) NULL,
			[description] [varchar](150) NULL,
			[erp_price_list_id] [varchar](50) NULL,
			[list_price] [varchar](50) NULL,
			[orderable_ind] [varchar](50) NULL,
			[configuration_ind] [varchar](50) NULL,
			[discount_code] [varchar](50) NULL,
			[unspsc_code] [varchar](50) NULL,
			[leadtime] [varchar](50) NULL,
			[service] [varchar](50) NULL,
			[weight] [varchar](50) NULL,
			[price_protection] [varchar](50) NULL,
			[web_orderable] [varchar](50) NULL,
			[pricing_tool_indicator] [varchar](50) NULL,
			[delivery_method] [varchar](50) NULL,
			[item_catalog_category] [varchar](50) NULL,
			[serialized_flag] [varchar](50) NULL,
			[eol_ext_announce_date] [varchar](50) NULL,
			[eol_sales_date] [varchar](50) NULL,
			[eol_contract_renew_date] [varchar](50) NULL,
			[eol_last_support_date] [varchar](50) NULL,
			[eol_sw_avail_date] [varchar](50) NULL,
			[eol_svc_attach_date] [varchar](50) NULL,
			[eol_sw_maintenance_date] [varchar](50) NULL,
			[eol_security_vul_support_date] [varchar](50) NULL,
			[erp_family] [varchar](50) NULL,
			[product_type] [varchar](50) NULL,
			[product_subgroup] [varchar](50) NULL,
			[upc_code] [varchar](50) NULL,
			[stockable_flag] [varchar](50) NULL,
			[env_orderability_flag] [varchar](50) NULL,
			[sw_subscription_minimum_quantity] [varchar](50) NULL,
			[sw_subscription_maximum_quantity] [varchar](50) NULL,
			[sw_subscription_quantity_band_uom] [varchar](50) NULL,
			[sw_subscription_duration_minimum] [varchar](50) NULL,
			[sw_subscription_duration_maximum] [varchar](50) NULL,
			[sw_subscription_duration_default] [varchar](50) NULL,
			[sw_subscription_duration_measurement_type] [varchar](50) NULL,
			[pak_delivery_preference] [varchar](50) NULL,
			[fulfillment_restriction] [varchar](50) NULL,
			[provisioning_enabled]  [varchar](50) NULL,
			[product_quantity_delivery_preference]  [varchar](50) NULL,
			[base_discount_category]  [varchar](50) NULL,
			[item_type]  [varchar](50) NULL,
			[user_specified_start_date]  [varchar](50) NULL,
			[smart_licensing_enabled]  [varchar](50) NULL,
			[smart_account]  [varchar](50) NULL,
			[service_program_name]  [varchar](50) NULL)

		
		SET @SQL = '
						BULK INSERT ##Wholesale_Pricing_NGC
							FROM '''  + @WPLFile + '''
							WITH ( FIRSTROW = 2, FIELDTERMINATOR = ''|'' , ROWTERMINATOR = ''0x0a'')
						PRINT '''  + @WPLFile + ' Created, Recordcount: '' + CAST(@@ROWCOUNT AS NVARCHAR)
					'
		EXEC(@SQL)
		CREATE UNIQUE INDEX [UX_WHL_product_number] ON ##Wholesale_Pricing_NGC ([product_number])
		PRINT ''

		--TRUNCATE TABLE 
		--INSERT INTO Cisco

		IF OBJECT_ID(@Dbname + '..' + @srcTableName) IS NOT NULL 
			BEGIN 
				SET @SQL = 'DROP TABLE ' + @Dbname + '..' + @srcTableName
				EXEC (@SQL)
				PRINT CAST(@Dbname + '..' + @srcTableName AS CHAR(50)) + CAST('Dropped' AS CHAR(10))
			END				
		
		SET @SQL = '
			SELECT ##Global_Pricing_NGC.creation_date ,
					##Global_Pricing_NGC.product_number ,
					##Global_Pricing_NGC.[description] ,
					##Global_Pricing_NGC.erp_price_list_id ,
					##Global_Pricing_NGC.list_price AS list_price ,
					##Global_Pricing_NGC.orderable_ind ,
					##Global_Pricing_NGC.configuration_ind ,
					##Global_Pricing_NGC.discount_code ,
					##Global_Pricing_NGC.unspsc_code ,
					##Global_Pricing_NGC.leadtime ,
					##Global_Pricing_NGC.[service] ,
					##Global_Pricing_NGC.[weight] ,
					##Global_Pricing_NGC.price_protection ,
					##Global_Pricing_NGC.web_orderable ,
					##Global_Pricing_NGC.pricing_tool_indicator ,
					##Global_Pricing_NGC.delivery_method ,
					##Global_Pricing_NGC.item_catalog_category ,
					##Global_Pricing_NGC.serialized_flag ,
					##Global_Pricing_NGC.eol_ext_announce_date ,
					##Global_Pricing_NGC.eol_sales_date ,
					##Global_Pricing_NGC.eol_contract_renew_date ,
					##Global_Pricing_NGC.eol_last_support_date ,
					##Global_Pricing_NGC.eol_sw_avail_date ,
					##Global_Pricing_NGC.eol_svc_attach_date ,
					##Global_Pricing_NGC.eol_sw_maintenance_date ,
					##Global_Pricing_NGC.eol_security_vul_support_date ,
					##Global_Pricing_NGC.erp_family ,
					##Global_Pricing_NGC.product_type ,
					##Global_Pricing_NGC.product_subgroup ,
					##Global_Pricing_NGC.upc_code ,
					##Global_Pricing_NGC.stockable_flag ,
					##Global_Pricing_NGC.env_orderability_flag ,
					##Global_Pricing_NGC.sw_subscription_minimum_quantity ,
					##Global_Pricing_NGC.sw_subscription_maximum_quantity ,
					##Global_Pricing_NGC.sw_subscription_quantity_band_uom ,
					##Global_Pricing_NGC.sw_subscription_duration_minimum ,
					##Global_Pricing_NGC.sw_subscription_duration_maximum ,
					##Global_Pricing_NGC.sw_subscription_duration_default ,
					##Global_Pricing_NGC.sw_subscription_duration_measurement_type ,
					##Global_Pricing_NGC.pak_delivery_preference ,
					##Wholesale_Pricing_NGC.list_price AS WPL_List_Price
					INTO ' + @Dbname + '..' + @srcTableName
			SET @SQL2 = '
				FROM ##Global_Pricing_NGC
					LEFT OUTER JOIN ##Wholesale_Pricing_NGC ON ##Global_Pricing_NGC.product_number = ##Wholesale_Pricing_NGC.product_number
				GROUP BY ##Global_Pricing_NGC.creation_date ,
					##Global_Pricing_NGC.product_number ,
					##Global_Pricing_NGC.description ,
					##Global_Pricing_NGC.erp_price_list_id ,
					##Global_Pricing_NGC.list_price ,
					##Global_Pricing_NGC.orderable_ind ,
					##Global_Pricing_NGC.configuration_ind ,
					##Global_Pricing_NGC.discount_code ,
					##Global_Pricing_NGC.unspsc_code ,
					##Global_Pricing_NGC.leadtime ,
					##Global_Pricing_NGC.service ,
					##Global_Pricing_NGC.weight ,
					##Global_Pricing_NGC.price_protection ,
					##Global_Pricing_NGC.web_orderable ,
					##Global_Pricing_NGC.pricing_tool_indicator ,
					##Global_Pricing_NGC.delivery_method ,
					##Global_Pricing_NGC.item_catalog_category ,
					##Global_Pricing_NGC.serialized_flag ,
					##Global_Pricing_NGC.eol_ext_announce_date ,
					##Global_Pricing_NGC.eol_sales_date ,
					##Global_Pricing_NGC.eol_contract_renew_date ,
					##Global_Pricing_NGC.eol_last_support_date ,
					##Global_Pricing_NGC.eol_sw_avail_date ,
					##Global_Pricing_NGC.eol_svc_attach_date ,
					##Global_Pricing_NGC.eol_sw_maintenance_date ,
					##Global_Pricing_NGC.eol_security_vul_support_date ,
					##Global_Pricing_NGC.erp_family ,
					##Global_Pricing_NGC.product_type ,
					##Global_Pricing_NGC.product_subgroup ,
					##Global_Pricing_NGC.upc_code ,
					##Global_Pricing_NGC.stockable_flag ,
					##Global_Pricing_NGC.env_orderability_flag ,
					##Global_Pricing_NGC.sw_subscription_minimum_quantity ,
					##Global_Pricing_NGC.sw_subscription_maximum_quantity ,
					##Global_Pricing_NGC.sw_subscription_quantity_band_uom ,
					##Global_Pricing_NGC.sw_subscription_duration_minimum ,
					##Global_Pricing_NGC.sw_subscription_duration_maximum ,
					##Global_Pricing_NGC.sw_subscription_duration_default ,
					##Global_Pricing_NGC.sw_subscription_duration_measurement_type ,
					##Global_Pricing_NGC.pak_delivery_preference ,
					##Wholesale_Pricing_NGC.list_price '
			EXEC (@SQL + @SQL2)			
			PRINT CAST(@Dbname + '..' + @srcTableName AS CHAR(50)) +  CAST('Created' AS CHAR(10)) + 'Recordcount: ' + CAST(@@ROWCOUNT AS NVARCHAR)

				
			
		/*Code to select the materials that have no listPrice and need to be called through Cisco EDI*/
			SET @SQL = 'SELECT ##Global_Pricing_NGC.product_number ,##Global_Pricing_NGC.List_Price
							INTO ##NotOnWholeSale FROM ##Global_Pricing_NGC
							LEFT OUTER JOIN ##Wholesale_Pricing_NGC ON ##Global_Pricing_NGC.product_number = ##Wholesale_Pricing_NGC.product_number 
							WHERE ##Wholesale_Pricing_NGC.product_number IS NULL
						'
			EXEC (@SQL)
			PRINT CAST('##NotOnWholeSale' AS CHAR(50)) +  CAST('Created' AS CHAR(10)) + 'Recordcount: ' + CAST(@@ROWCOUNT AS NVARCHAR)
			
			/*Create table where needed*/
			IF OBJECT_ID(@Dbname + '..' + @srcTableName + '_NotOnWPL') IS NULL 
				BEGIN 
					SET @SQL = '
					CREATE TABLE ' + @Dbname + '..' + @srcTableName + '_NotOnWPL (product_number NVARCHAR(40),GPL_list_price NVARCHAR(50),SAP_list_price NVARCHAR(50) ,WPL_list_price NVARCHAR(50),  Created DATETIME DEFAULT SYSDATETIME() NOT NULL , 
						Modified DATETIME DEFAULT SYSDATETIME() NOT NULL, processed BIT DEFAULT (0) NOT NULL, InSAP BIT DEFAULT (0) NOT NULL);
					CREATE UNIQUE INDEX [UX_WHL_product_number] ON ' + @Dbname + '..' + @srcTableName + '_NotOnWPL ([product_number])
								'
					EXEC (@SQL)
					
					PRINT CAST(@Dbname + '..' + @srcTableName + '_NotOnWPL' AS CHAR(50)) + 'Created'
				END				
				
			/* Update Table  */
			SET @SQL = '
					INSERT INTO ' + @Dbname + '..' + @srcTableName + '_NotOnWPL (Product_Number,GPL_list_price,SAP_list_price,InSAP) SELECT A.Product_Number,A.list_price, KONP.KBETR,1 
						FROM ##NotOnWholeSale A 
						LEFT OUTER JOIN ' + @Dbname + '..' + @srcTableName + '_NotOnWPL B 
							ON A.product_number = B.product_number 						
						INNER JOIN ' + @SAPClientDataDB + '..MARA ON MFRPN = A.Product_Number 
						LEFT OUTER JOIN ' + @SAPClientDataDB + '..KONP ON MATNR = zMATNR AND zLIFNR = ''' + @ListPriceSupplierNumber + ''' AND zWERKS = ''' + @ListPricePlantNumber + ''' 						 
						WHERE B.product_number IS NULL AND MARA.MATKL = ''10000'';
						'
			EXEC (@SQL)	
			PRINT CAST(@Dbname + '..' + @srcTableName + '_NotOnWPL' AS CHAR(50)) +  CAST('Added' AS CHAR(10)) + 'Recordcount: ' + CAST(@@ROWCOUNT AS NVARCHAR)


			SET @SQL = '
					UPDATE B SET
						Modified = SYSDATETIME() , 
						SAP_list_price = KONP.KBETR ,
						Processed = 0 FROM ##NotOnWholeSale A 
							INNER JOIN ' + @Dbname + '..' + @srcTableName + '_NotOnWPL B 															
							INNER JOIN ' + @SAPClientDataDB + '..MARA ON MFRPN = B.Product_Number 
							INNER JOIN ' + @SAPClientDataDB + '..KONP ON MATNR = zMATNR AND zLIFNR = ''' + @ListPriceSupplierNumber + ''' AND zWERKS = ''' + @ListPricePlantNumber + ''' 
								ON A.product_number = B.product_number
							WHERE ISNULL(CAST(KONP.KBETR AS MONEY),-1) <> CAST(GPL_list_price AS MONEY) ;		
						'
			EXEC (@SQL			)
			PRINT CAST(@Dbname + '..' + @srcTableName + '_NotOnWPL' AS CHAR(50)) +  CAST('Changed' AS CHAR(10)) + 'Recordcount: ' + CAST(@@ROWCOUNT AS NVARCHAR)
			
			/*Check ListPrice Changes*/

									
			IF OBJECT_ID('tempdb..##Global_Pricing_NGC') IS NOT NULL BEGIN DROP TABLE ##Global_Pricing_NGC END				
			IF OBJECT_ID('tempdb..##Wholesale_Pricing_NGC') IS NOT NULL BEGIN DROP TABLE ##Wholesale_Pricing_NGC END				
			IF OBJECT_ID('tempdb..##NotOnWholeSale') IS NOT NULL BEGIN DROP TABLE ##NotOnWholeSale END	

END
GO
