USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spCheckSourceRuleRegion]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCheckSourceRuleRegion] 

	@srrID		NVARCHAR(20) = 14

AS
BEGIN
	
	SET NOCOUNT ON;

		SET TRANSACTION ISOLATION LEVEL 
		READ UNCOMMITTED 

		
	SELECT          dbo.cfSourceRules.srrID, dbo.cfSourceRules.srrVendorCode, dbo.cfSourceRules.srrUpdateType, dbo.cfSourceRules.srrFieldName, dbo.cfSourceRules.srrActive, dbo.cfSource.srcID, dbo.cfSource.srcName, 
                    dbo.cfSource.srcTableName, dbo.cfSource.srcVendorCode, dbo.cfSource.srcGroup

	FROM            dbo.cfSource INNER JOIN
                    dbo.cfSourceSourceRules ON dbo.cfSource.srcID = dbo.cfSourceSourceRules.ssrSrcID INNER JOIN
                    dbo.cfSourceRules ON dbo.cfSourceSourceRules.ssrSrrID = dbo.cfSourceRules.srrID

	WHERE           dbo.cfSourceRules.srrID = @srrID


SELECT        dbo.cfSourceRules.srrID, COUNT(dbo.cfSource.srcGroup) AS Regions
, CASE WHEN COUNT(dbo.cfSource.srcGroup) > 1 THEN 'DO NOT CHANGE RULE' ELSE 'OK TO CHANGE' END AS [Message]
FROM            dbo.cfSource INNER JOIN
                         dbo.cfSourceSourceRules ON dbo.cfSource.srcID = dbo.cfSourceSourceRules.ssrSrcID INNER JOIN
                         dbo.cfSourceRules ON dbo.cfSourceSourceRules.ssrSrrID = dbo.cfSourceRules.srrID
WHERE        dbo.cfSourceRules.srrID = @srrID
GROUP BY dbo.cfSourceRules.srrID

	


				

END
GO
