USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spProcess304050Combined_ME_TW]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--EXEC [spProcess304050Combined] 'zVPL_20150709_30_2',30,2,'EQ1',300, 1 
--EXEC [spProcess304050Combined_ME_TW] 'zVPL_EP1_20150714_30_1',30,2,'EP1',300, 1, 'ÉP1_Gopi', 'EMEA'

/*
Wrapper SP to run all the SPs together for a given status code

Created: TW June2015
Modified: Sept 04, 2019 -- Commented the SP35 run to avoid performance issues on teh server

*/

CREATE PROCEDURE [dbo].[spProcess304050Combined_ME_TW]
    @DB NVARCHAR(40) = 'zVPL_20150609_30' ,
    @sstCode NVARCHAR(2) = 30 ,
    @UpdateType SMALLINT = 2 , --1 = new only, 2 = new & changes, 0 = changes only
    @SAPSystem NVARCHAR(3) = 'EQ1' ,
    @SAPClient NVARCHAR(3) = '300' ,
    @RunSp50 BIT = 1 ,
    @SapSystemDir1 VARCHAR(20) = '' ,
    @srcGroup NVARCHAR(10) = 'ALL'
AS
    BEGIN

        DECLARE @JobNr INT;

        EXEC dbo.spProcess30PrepareDBForLoad @srcID = 0, -- int
            @ProcessDB = @DB, -- nvarchar(40)
            @SAPSystem = @SAPSystem, -- nvarchar(3)
            @SAPClient = @SAPClient, -- nvarchar(3)
            @srcGroup = @srcGroup, -- nvarchar(10)
            @srcSstCode = @sstCode; -- smallint		    	        

		/*Get JobNe#*/
        SELECT  @JobNr = spjID
        FROM    DGDB_PL__LOG..SourceProcessJob
        WHERE   spjID = ( SELECT    MAX(spjID)
                          FROM      DGDB_PL__LOG..SourceProcessJob
                        )
                AND DGDB_PL__LOG.dbo.SourceProcessJob.spjProcessDb = @DB;
        
		/*Get Statistics*/
		/* Commenting this section as it is affecting  the performance on the server
		   and it are not being used   */
		
       -- EXEC spProcess35PrepareDBForLoadSummary @DB, @JobNr;

        IF @SAPSystem = 'EQ1'
            BEGIN
				/*Create TxTables*/
				--EXEC spProcess40CreateExportTables_EQ1
                EXEC spProcess40CreateExportTables @dbName = @DB, -- nvarchar(40)
                    @InsertFlag = @UpdateType, -- smallint
					--@InsertFlag = 1, -- smallint
                    @SAPSystem = @SAPSystem, -- nvarchar(3)
                    @SAPClient = @SAPClient; -- nvarchar(3)
            END;
        ELSE
            BEGIN
				/*Create TxTables*/
                EXEC spProcess40CreateExportTables_ME_TW @dbName = @DB, -- nvarchar(40)
                    @InsertFlag = @UpdateType, -- smallint
					--@InsertFlag = 1, -- smallint
                    @SAPSystem = @SAPSystem, -- nvarchar(3)
                    @SAPClient = @SAPClient, -- nvarchar(3)
                    @srcGroup = @srcGroup;        
            END;
		
        IF @RunSp50 = 1
            BEGIN
			--/*Export tx Tables to File*/
                EXEC dbo.spProcess50ExportLoadFiles_ME_TW @dbName = @DB, -- nvarchar(50)
                    @ProcessGroup = 'TEST', @SapSystemDir = @SapSystemDir1;
            END;
    END;
GO
