USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spProcess50ExportLoadFiles_ME_TW_WithPIR]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Janvb>
-- Create date: 18 March 2014
-- Description:	Export files for LSMW

-- =============================================
--EXEC [spProcess50ExportLoadFiles_ME_TW_WTIHpir] 'zVPL_EPN_20161028_30_04'

CREATE Procedure [dbo].[spProcess50ExportLoadFiles_ME_TW_WithPIR] --'EORD'
	
	@dbName		NVARCHAR(50) = 'zVPL_GLP_20160512_30_01',
	@ProcessGroup	NVARCHAR(50) = 'TEST',
	@SapSystemDir NVARCHAR(40)	 = '' --USe this folder as additional if blank not used

AS
    BEGIN

	SET NOCOUNT ON
		
		DECLARE @SQL				NVARCHAR(4000),
				@Target				NVARCHAR(50),
				@ViewName			NVARCHAR(4000),
				@ExportPath			NVARCHAR(255),
				@FileName			NVARCHAR(255),
				@Delimter			NVARCHAR(6),
				@HasHeader			BIT,				
				@HeaderRow			NVARCHAR(4000),
				@LSMW				NVARCHAR(255),
				@RowCount			INTEGER

				DECLARE @TableRowCount TABLE ( lines INTEGER)
				DECLARE @TableFieldList TABLE ( FieldList NVARCHAR(4000))

			/* 1st Get export detail from cfLoadFiles*/
			/* 2nd if Has Headers create a header file and detail file seperately*/
			/* 3th join header & detail and delete Header en detail files in directory*/

			DECLARE CurView CURSOR FOR 				
				SELECT [Target], ViewName,ExportPath,[FileName],Delimter,HasHeader,LSMW FROM dbo.cfLoadFiles_PIR where Active = 1 AND ProcessGroup = @ProcessGroup	ORDER BY Sequence
				OPEN CurView
					FETCH NEXT FROM CurView INTO @Target, @ViewName,@ExportPath, @FileName, @Delimter,@HasHeader,@LSMW
					WHILE @@FETCH_STATUS = 0
						BEGIN	
							BEGIN TRY 	
								IF @SapSystemDir <> '' BEGIN SET @ExportPath = @ExportPath +  @SapSystemDir + '\' END
											
								SET @HeaderRow = ''
								DELETE FROM @TableRowCount
								SET @SQL = 'SELECT COUNT(*) FROM ' + @dbName + '..' + @ViewName
								INSERT INTO @TableRowCount EXEC (@SQL)
								SELECT @RowCount = lines FROM @TableRowCount								
								PRINT CAST(CAST(@LSMW AS CHAR(25)) + ' - ' + @ViewName AS CHAR(65)) + '  RowCount: ' + CAST(@RowCount AS CHAR(15)) + '  ' + @ExportPath + @FileName +'_Detail'							

		
								--EXPORT view Data with BCP							
								SELECT @SQL = 'bcp ' + @dbName  + '.dbo.' + @viewName + ' out ' + @ExportPath + @FileName +'_Detail -t"' + @Delimter +  '" -T -c'  																																
								EXEC xp_cmdshell @SQL, NO_OUTPUT							

								IF @HasHeader = 1 
									BEGIN									
										/*BCP does not create headers @##@!, so this has to be done by code*/									
										SET @SQL = 'SELECT DISTINCT COLUMN_NAME = STUFF((SELECT '','' + COLUMN_NAME FROM ' + @dbName + '.INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = ''' + @ViewName + ''' FOR XML PATH('''')), 1, 1, '''') FROM ' + @dbName + '.INFORMATION_SCHEMA.COLUMNS AS t'
										DELETE FROM @TableFieldList
										INSERT INTO @TableFieldList EXEC (@SQL)	
										SELECT TOP 1 @HeaderRow= FieldList FROM @TableFieldList										
										SET @HeaderRow = '"SELECT ''' + REPLACE(@HeaderRow,',',''',''') + '''"'					
										SELECT @SQL = 'bcp ' + @HeaderRow + ' queryout ' + @ExportPath + @FileName +'_header -t"' + @Delimter +  '" -T -c'  						
										EXEC xp_cmdshell @SQL, NO_OUTPUT	
						
										/*Combine the files together*/
										SET @SQL = 'TYPE ' + @ExportPath + @FileName + '_Header -t > ' + @ExportPath + @FileName --Overwrite = >							
										EXEC xp_cmdshell @SQL, NO_OUTPUT
										SET @SQL = 'TYPE ' + @ExportPath + @FileName + '_Detail -t >> ' + @ExportPath + @FileName --Append = >>
										EXEC xp_cmdshell @SQL, NO_OUTPUT
									
									END
								ELSE
									BEGIN
										SET @SQL = 'TYPE ' + @ExportPath + @FileName + '_Detail -t > ' + @ExportPath + @FileName
										EXEC xp_cmdshell @SQL, NO_OUTPUT
									END

								/*CleanUp Header/Detail Files*/
								SET @SQL = 'DEL ' + @ExportPath + '*_Detail'
								EXEC xp_cmdshell @SQL, NO_OUTPUT
								SET @SQL = 'DEL ' + @ExportPath + '*_Header'
								EXEC xp_cmdshell @SQL, NO_OUTPUT
								
							END TRY

							BEGIN CATCH
								PRINT '* ' + CAST(CAST(@LSMW AS CHAR(23)) + ' - ' + ERROR_MESSAGE() AS varCHAR(400)) + '  RowCount: ' + CAST('ERROR' AS CHAR(15)) + '  ' + @ExportPath + @FileName +'_Detail      SQL:'	+ @SQL													
							END CATCH
														 				
							FETCH NEXT FROM CurView INTO @Target, @ViewName,@ExportPath, @FileName, @Delimter,@HasHeader,@LSMW
						END
				CLOSE CurView
			DEALLOCATE CurView;

			/*Update zProcessed in Vendor SourceFile Where cfSource Increamental = 1*/
			BEGIN TRY
				SET @SQL = '
					SELECT srcID, srcSrtCode + srcVendorCode + ''_''+srcName+''_'' +CAST(srcID AS NVARCHAR) as DB,srcTableName,Matnr  INTO #MATNR FROM ' + @dbName + '..ttm INNER JOIN dbo.cfSource ON zSrcID = srcID where srcIncrementalFlag = 1
					IF @@ROWCOUNT > 0
						BEGIN
							Select Distinct srcID,DB,srcTableName,0 as done INTO #SrcID FROM #MATNR
							DECLARE @SQL NVARCHAR(4000),@SrcID INT,@DB NVARCHAR(255),@srcTableName NVARCHAR(255),@PKField NVARCHAR(255) = ''2''
							WHILE (SELECT TOP 1 1 FROM #SrcID WHERE done = 0) = 1
								BEGIN
									SELECT TOP 1 
											@SrcID = SrcID,@DB = DB,@srcTableName = srcTableName
										 FROM #SrcID WHERE done = 0
									Select TOP 1 @PKField = srmSourceMap FROM cfSourceMapRules INNER JOIN cfSourceSourceGroup ON srmsrgID = ssgSrgID 
									WHERE srmFldID = 903 AND ssgSrcID = '''' + @srcID  + '''' 

									SET @SQL = ''UPDATE '' + @DB + ''..'' + @srcTableName + '' SET zProcessed = 1 FROM '' + @DB + ''..'' + @srcTableName + '' A INNER JOIN ''  + @DB + ''..SourceFileExtract E ON E.PK = A.'' + @PKField + ''
									 INNER JOIN #MATNR M ON M.MATNR = E.Material''
									EXEC(@SQL)

									Print ''''
									print ''SET zProcessed = 1 FOR '' + @DB + ''..'' + @srcTableName + '''' 

									UPDATE #SrcID SET Done = 1 WHERE SrcID = @SrcID 
								END
						END
							'
				--Print (@SQL)
				EXEC (@SQL)
			END TRY

			BEGIN CATCH
				PRINT '* ' + CAST(CAST(@LSMW AS CHAR(23)) + ' - ' + ERROR_MESSAGE() AS varCHAR(400)) + '  RowCount: ' + CAST('ERROR' AS CHAR(15)) + '  ' + @ExportPath + @FileName +'_Detail      SQL: ttM'
			END CATCH

		   END



GO
