USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spProcess30PrepareDBForLoad_Bkp_Dec12_2018]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

Janvb Jan 2015
Run options based on cfSource:
	When @srcID = 0 it will pick up all Sources with srcProcessFlag = 1 for the Specified srcSystem & srcClient
	When @srcID <> 0 it will pick up the specific SourceID for the Specified srcSystem & srcClient
	
	for BOTH options the srcProcessDate has the be NULL or in the past/now when running, if in the future it will be skipped
	(e.g. allows for scheduling in the night)

	Scope: Re-run SP10 and/or SP20 and/or Move/consolidate SAP target tables fromm local to @ProcessDB
	
	SP40 will take care of the tx export table Generation
	SP50 Will generate the exportfiles

	EXEC [spProcess30PrepareDBForLoad] 639 , 'zVPL_EPN_20170816_30_13','EPN','300','EMEA',33

	Procedure will return the generated Jobnumer as OUTPUT Parameter
	10_14_2015: TW, Chagned the path of the zVPL databases to E drive
*/


CREATE PROCEDURE [dbo].[spProcess30PrepareDBForLoad_Bkp_Dec12_2018] 
		@srcID INTEGER = 639,									-- By Default not per pricelist = 0, if srcID supplied overrrules other settings
		@ProcessDB NVARCHAR(40)='ZZZ_JAN_TEST',	-- DB to create
		@SAPSystem NVARCHAR(3) = 'EPN',
		@SAPClient NVARCHAR(3) = '300',		
		@srcGroup NVARCHAR(10) = 'ALL',
		@srcSstCode SMALLINT = 40,		-- StatusCode FROM cfSource 
		@jobNr BIGINT=0				-- Should be OUTPUT only
		
AS
	BEGIN
		SET NOCOUNT ON
		SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED 

		/*Temporary*/
		--TRUNCATE TABLE dbo.SourceProcessLog
		--TRUNCATE TABLE dbo.SourceProcessjob

		DECLARE 			
			@srcName NVARCHAR(40),
			@srcSrtCode NVARCHAR(40),			
			@srcTable NVARCHAR(40),
			@srcVendorCode NVARCHAR(40),
			@srcSptCode NVARCHAR(4),	
			@srcClient NVARCHAR(3)	,
			@srcGroup2 NVARCHAR(10),
			@srcSystem NVARCHAR(3),
			@trdDatabase NVARCHAR(40),
			@dbName NVARCHAR(40),
			@trgName NVARCHAR(50),
			@tblName NVARCHAR(40)	,
			@SQL NVARCHAR(4000),
			@FieldList NVARCHAR(1000),
			@StartTime DATETIME,
			@SubStartTime DATETIME,
			@recordCount INTEGER = 0,
			@RowCount BIGINT=0,
			@FromcfTarget BIT,
			@Message NVARCHAR(4000)

			DECLARE @TableTMP TABLE (value NVARCHAR(255))
			SET @StartTime = SYSDATETIME()

	PRINT CAST('' AS CHAR(21)) + CAST( GETDATE() AS CHAR(30)) + ' - Duration: ' + CAST(DATEDIFF(SECOND,@startTime,GETDATE()) AS NVARCHAR)	
	PRINT '-------------------------------------------------------------------------'
	PRINT ' 1. Starting Post Process ' + OBJECT_NAME(@@PROCID)
	PRINT '-------------------------------------------------------------------------'

		
		/* GET cfSource records in scope based on */
        SELECT * ,
                0 AS Done
            INTO #PipeLine
            FROM [dgdb_PL].[dbo].[cfSource]
            WHERE CAST(srcProcessFlag AS NVARCHAR) LIKE CASE WHEN CAST(@srcID AS NVARCHAR) = '0' THEN '1' ELSE '%' END
                AND srcSystem = @SAPSystem AND srcClient = @SAPClient
                AND (ISNULL(srcProcessDate, GETDATE()) < = GETDATE() OR srcAdhocFlag = 1)
                AND CAST(srcID AS NVARCHAR) LIKE CASE WHEN CAST(@srcID AS NVARCHAR) = '0' THEN '%' ELSE CAST(@srcID AS NVARCHAR) END
				AND @srcGroup LIKE CASE WHEN @srcGroup = 'ALL' THEN '%' ELSE srcGroup END
				AND srcSstCode = @srcSstCode
				--AND CAST(srcSstCode AS NVARCHAR) LIKE CASE WHEN CAST(@srcID AS NVARCHAR) = '0' THEN '%' ELSE CAST(@srcSstCode  AS NVARCHAR) END
	
		IF @@ROWCOUNT = 0
			BEGIN
				PRINT ' No SourceIDs are matched by the criteria, Nothing to Process'
				GOTO CLEAN_UP
			END

		INSERT INTO DGDB_PL__Log..SourceProcessJob (spjProcessDB,spjSystem,spjStartDate ,spjEndDate , spjDuration , spjProcessedBy)VALUES(@ProcessDB,@SAPSystem, @StartTime ,'' , 0 , SYSTEM_USER )
		SET @jobNr = @@IDENTITY

		PRINT ''
		PRINT 'JobNumber = ' + CAST(@jobNr AS nvarchar)
		PRINT ''

		/*Create Process DB ON DV0064 IF Needed*/
		IF NOT EXISTS (SELECT name FROM master..sysdatabases WHERE name = @ProcessDB)
			BEGIN										
				SET @SQL = 'CREATE DATABASE ' + @ProcessDB + '
					ON 
					( NAME = ' + @ProcessDB + ',
						FILENAME = ''J:\MSSQL\data\' + @ProcessDB + '.mdf'',
						SIZE = 50,	
						MAXSIZE = UNLIMITED,				
						FILEGROWTH = 50 )
					LOG ON
					( NAME = ' + @ProcessDB + '_log,
						FILENAME = ''J:\MSSQL\Log\' + @ProcessDB + 'log.ldf'',
						SIZE = 50MB,	
						MAXSIZE = UNLIMITED,				
						FILEGROWTH = 50MB );
					ALTER DATABASE ' + @ProcessDB + ' SET RECOVERY SIMPLE;' 
				PRINT @SQL
				EXEC( @SQL)
			END 
	
		/* Update CfSource Processing Started*/
		--UPDATE dbo.cfSourceNew SET srcProcessJobNr = @jobNr,srcProcessedBy = SYSTEM_USER,srcProcessStatus = 'Job Started' FROM dbo.cfSourceNew WHERE srcID IN (SELECT srcID FROM #PipeLine)

		/*GET ALL SAP tables to populate into TMP table*/
		PRINT ''
		PRINT ' In Scope for processing:'
		PRINT '*******************************************************************************************************'
        SELECT trgName ,
                0 AS Done,
				1 AS FromcfTarget
            INTO #cfTarget
            FROM dbo.cfTarget WHERE trgTrtCode = 'VPL'

		WHILE (SELECT TOP 1 1 FROM #PipeLine WHERE done = 0) = 1
			BEGIN
				SELECT TOP 1 
						@srcID = srcID,
						@srcName = srcName,						
						@srcSptCode = srcSptCode,
						@srcVendorCode = srcVendorCode ,
						@srcSstCode = srcSstCode,
						@srcSystem = srcSystem,
						@SrcGroup2 = srcGroup
					FROM #PipeLine
						LEFT OUTER JOIN cfTargetData ON srcSystem = trdSystem AND srcClient = trdClient
					WHERE done = 0
				PRINT CAST(@srcSystem AS CHAR(4)) + CAST(@srcID AS CHAR(5)) + CAST(@srcGroup2  AS CHAR(10)) + CAST(@srcName  AS CHAR(30))+ CAST( @srcVendorCode AS CHAR(10)) + CAST(@srcSstCode AS CHAR(3)) + CAST(@srcSptCode AS CHAR(5))
				UPDATE #PipeLine SET done = 1 WHERE srcID = @srcID
			
			END
		UPDATE #PipeLine SET done = 0
		PRINT '*******************************************************************************************************'
		PRINT ''
		PRINT ''

		/*DELETE aLL tt Tables of previous runs*/
				SET @SQL = 'DECLARE @TABLE NVARCHAR(40), @SQL NVARCHAR(255);SELECT TABLE_NAME, 0 AS DONE INTO #TMP FROM ' + @ProcessDB + '.INFORMATION_SCHEMA.TABLES;
					WHILE (SELECT TOP 1 1 FROM #TMP WHERE Done = 0) = 1
						BEGIN
							SELECT TOP 1 @TABLE = TABLE_NAME FROM #TMP WHERE Done = 0
							IF LEFT(@TABLE,2) = ''tt''
								BEGIN
									SET @SQL = ''DROP TABLE ' + @ProcessDB + '..'' + @Table + '';''									
									EXEC (@SQL)									
								END
							UPDATE #TMP SET DONE = 1 WHERE TABLE_NAME = @TABLE
						END
					'				
				EXEC (@SQL)

		EXEC dgdb..spGenDropOrCheckTable 'RunTimeLog',@ProcessDB,1
		SET @SQL = 'CREATE TABLE ' + @ProcessDB + '.dbo.RunTimeLog (rtlSource NVARCHAR(255),rtlKey2 NVARCHAR(255),rtlKey3 NVARCHAR(255), rtlRulShortDescription NVARCHAR(255),rtlCount INT)'		
		EXEC(@SQL)
		
					
		/*Loop through all srcID's  In Scope*/
		WHILE (SELECT TOP 1 1 FROM #PipeLine WHERE done = 0) = 1
			BEGIN
				SELECT TOP 1 
						@srcID = srcID,
						@srcName = srcName,
						@srcSrtCode = srcSrtCode,					
						@srcSptCode = srcSptCode,
						@srcVendorCode = srcVendorCode ,
						@srcTable = srcTableName,
						@srcClient = srcClient,
						@srcSystem = srcSystem,
						@trdDatabase = trdDatabase
					FROM #PipeLine
						LEFT OUTER JOIN cfTargetData ON srcSystem = trdSystem AND srcClient = trdClient
					WHERE done = 0
				SET @DBName =  @srcSrtCode + @srcVendorCode + '_' + @srcName + '_' + CAST(@srcID AS NVARCHAR)			


				/*DETERMINE Processing that needs to take place*/
				IF @srcSptCode IN ('ALL','SP','SP10')
					BEGIN
						SET @SubStartTime = SYSDATETIME()					
						EXEC dgdb_pl..spProcess10SourceFileProcessing @srcID, 5,@recordCount = @recordCount OUTPUT		
						INSERT INTO DGDB_PL__Log..SourceProcessLog VALUES (@JobNr, @srcID , @srcName, 'SP10', 'Active Records' , @recordCount , SYSTEM_USER, @SubStartTime, DATEDIFF(SECOND,@SubStartTime, SYSDATETIME()),'')	
					END
				
				IF @srcSptCode IN ('ALL','SP','SP20','PO20','SPMV','SPMC')
					BEGIN
						SET @SubStartTime = SYSDATETIME()										
					EXEC dgdb_pl..spProcess20ValidateSAPData 
						@srcID = @srcID, -- int
						@ValidateDataFlag = 1, -- bit
						@CheckIfInSap = 1, -- bit
						@SAPClientDataDB = @trdDatabase, -- nvarchar(40)
						@DGValidation = 1, -- smallint
						@SilentMode = 1 -- bit				
					INSERT INTO DGDB_PL__Log..SourceProcessLog VALUES (@JobNr, @srcID , @srcName, 'SP20', 'Generate SAP Tables' , 0 , SYSTEM_USER, @SubStartTime, DATEDIFF(SECOND,@SubStartTime, SYSDATETIME()),'')	
					END				

				/* the REAL thing, Processing For SAP*/
				IF @srcSptCode IN ('ALL','POST','PO20','SPMV','SPMC')
					BEGIN
						SET @SubStartTime = SYSDATETIME()	
				
					/*Check to see if Tables exist and have zFields Listed Below in target DB if not Create them */
					/*copy runtime issues if there are any*/
					SET @SQL = 'INSERT INTO ' + @ProcessDB + '..RunTimeLog(rtlSource,rtlKey2,rtlKey3, rtlRulShortDescription,rtlCount) SELECT rtlSource,rtlKey2,rtlKey3, rtlRulShortDescription,rtlCount FROM ' + @dbNAme + '..RuntimeLog WHERE rtlCount > 0'
					EXEC (@SQL)
					
					DECLARE @TablezFields TABLE (zFldName NVARCHAR(40),zDataType NVARCHAR(40), zDefaultValue NVARCHAR(99),Done BIT DEFAULT(0))
					DECLARE @zFldName NVARCHAR(40),@zDataType NVARCHAR(40), @zDefaultValue NVARCHAR(99)
					INSERT INTO @TablezFields VALUES ('zSystem','NVARCHAR(3)',@srcSystem,0)
					INSERT INTO @TablezFields VALUES ('zClient','NVARCHAR(3)',@srcClient,0)
					INSERT INTO @TablezFields VALUES ('zUser','NVARCHAR(30)',SYSTEM_USER,0)
					INSERT INTO @TablezFields VALUES ('zDate','DATETIME',CAST(GETDATE() AS NVARCHAR),0)
					INSERT INTO @TablezFields VALUES ('zJobNr','INTEGER',@JobNr,0)
	
					/* Go through Each Table to see if it Exists and add zFields */
						WHILE (SELECT TOP 1 1 FROM #cfTarget WHERE Done = 0 ) = 1
							BEGIN				
								SELECT TOP 1 @trgName = trgName,@FromcfTarget = FromcfTarget FROM #cfTarget WHERE done = 0
								--SET @tblName = CASE WHEN @FromcfTarget = 1 THEN 'tt' + @trgName ELSE @trgName END
								SET @tblName = 'tt' + @trgName

							/* CREATE Target Table If it does not exist*/										
								SET @SQL = 'SELECT 1 FROM ' + @ProcessDB + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = '''+ @tblName + ''';'
								DELETE FROM @TableTMP
								INSERT INTO @TableTMP EXEC (@SQL)												
								IF @@ROWCOUNT <> 1
									BEGIN	
										SET @SQL = 'SELECT * INTO ' + @ProcessDB + '..'+ @tblName + ' FROM ' +@dbName + 	'..'+ @tblName + ';'											
										EXEC (@SQL)
									END
	
								/* Add/Update(reset) zFields*/
								WHILE (SELECT TOP 1 1 FROM @TablezFields WHERE Done = 0 ) = 1
									BEGIN
										SELECT TOP 1 
												@zFldName = zFldName, 
												@zDataType = zDataType,
												@zDefaultValue = zDefaultValue
											FROM @TablezFields WHERE Done = 0

										IF COL_LENGTH(@ProcessDB + '.dbo.' +  @tblName,@zFldName) IS NULL
											BEGIN
												SET @SQL = 'ALTER TABLE ' + @ProcessDB + '.dbo.' +  @tblName + ' ADD ' + @zFldName + ' ' + @zDataType + ' DEFAULT(''' + @zDefaultValue  + ''') WITH VALUES'					
												EXEC (@SQL)
											END	
										ELSE
											BEGIN
												SET @SQL = 'UPDATE ' +   @ProcessDB + '.dbo.' +  @tblName + ' SET ' + @zFldName + ' = ''' + @zDefaultValue  + ''';'					
												EXEC (@SQL)					
											END
										UPDATE @TablezFields SET DOne = 1 WHERE zFldName = @zFldName
									END
								UPDATE @TablezFields SET done = 0
								UPDATE #cfTarget SET Done = 1 WHERE trgName = @trgName
							END

						UPDATE #cfTarget SET Done = 0 WHERE FromcfTarget = 1
			
					/* Go through SAP Table by SAP Table AND INSERT Data */
						WHILE (SELECT TOP 1 1 FROM #cfTarget WHERE done = 0) = 1
							BEGIN
								SET @SubStartTime = SYSDATETIME()										
								SELECT TOP 1 @trgName = trgName FROM #cfTarget WHERE done = 0
								SET @tblName = 'tt' + @trgName

								BEGIN TRY 							
								/* Check for any new columns in VPL DB not in dgdb_pl_Data Yet*/
									SET @SQL = 'SELECT TOP 1 B.COLUMN_NAME FROM ' + @ProcessDB + '.INFORMATION_SCHEMA.COLUMNS A RIGHT OUTER JOIN ' + @dbName + '.INFORMATION_SCHEMA.COLUMNS B ON A.TABLE_NAME = B.TABLE_NAME AND A.COLUMN_NAME = B.COLUMN_NAME 
												WHERE B.TABLE_NAME = ''tt' + @trgName + ''' AND A.COLUMN_NAME IS NULL ;' 							
									DELETE FROM @TableTMP
									INSERT INTO @TableTMP EXEC (@SQL)
						
									IF @@ROWCOUNT > 0
										BEGIN
											SELECT 'Aborting process' as [Fatal Error], @dbName AS SourceDB,'Field not in ' + @ProcessDB +  '..tt' + @trgName  as Description, * FROM @TableTMP
											GOTO CLEAN_UP
										END
					
								/* NEW RECORDS*/
									/* Remove Previous Run from TargetTable, should be replaces with move to History*/
									SET @SQL = 'DELETE FROM  ' + @ProcessDB + '..' + @tblName + ' WHERE zSrcID = ' + CAST(@srcID AS NVARCHAR) + ' OR zSrcID IS NULL;'									
									EXEC (@SQL)
						
									/*INSERT New Records in Target Table*/
									--GET FieldList
									EXEC dgdb..spGenGenerateTableFromTableFields 
										@DbName = @dbName, -- nvarchar(40)
										@TableName = @trgName, -- nvarchar(40)
										@tblPrefix = '', -- nvarchar(40)
										@ProcessType = 3, -- smallint
										@FieldList = @FieldList OUTPUT -- nvarchar(4000)		
													
									SET @SQL = 'INSERT INTO  ' + @ProcessDB + '..' + @tblName + '(' + @FieldList + ') SELECT ' + @FieldList + ' FROM ' + @dbName + '..' + @tblName + ' WHERE (zActive = 1 OR ISNULL(zChange,0) = 1) and ISNULL(zDGError,0) <> 1;'
									--PRINT @SQL;
									
									EXEC (@SQL)
									SET @RowCount = @@ROWCOUNT
									INSERT INTO DGDB_PL__Log..SourceProcessLog VALUES (@JobNr, @srcID , @srcName, 'POST', @trgName + ' +', @RowCount , SYSTEM_USER, @SubStartTime, DATEDIFF(SECOND,@SubStartTime, SYSDATETIME()),'')		
									SET @Message = CAST(@srcName + '(' + CAST(@srcID AS NVARCHAR)  + ')' AS CHAR(25)) + CAST(@trgName AS CHAR(30)) + CAST(@RowCount AS NVARCHAR)
									RAISERROR (@Message,10,1) WITH NOWAIT
								END TRY

								BEGIN CATCH
									SET @Message =  @dbName +  '..tt' + @trgName + ' - ' + ERROR_MESSAGE() + ' SQL: ' + @SQL
									RAISERROR (@Message,10,1) WITH NOWAIT
									INSERT INTO DGDB_PL__Log..SourceProcessLog VALUES (@JobNr, @srcID , @srcName, 'POST', @trgName + ' - ' + ERROR_MESSAGE(), @@ROWCOUNT , SYSTEM_USER, @SubStartTime, DATEDIFF(SECOND,@SubStartTime, SYSDATETIME()),@SQL)	
								END CATCH

								UPDATE #cfTarget SET done = 1 WHERE trgName = @trgName

							END

						UPDATE #cfTarget SET done = 0					

					END	
				
				UPDATE dbo.cfSource SET srcProcessDate = GETDATE() WHERE srcID = @srcID 
				UPDATE dbo.cfSource SET srcSstCode = 33 WHERE srcID = @srcID AND srcSstCode IN (30,31)
				UPDATE #PipeLine SET done = 1 WHERE srcID = @srcID
			
			END

	IF @srcSptCode IN ('SPMV','SPMC')
		BEGIN
			SET @SQL = 'TRUNCATE TABLE ' + @ProcessDB + '..ttMARA'
			EXEC (@SQL)
		END

			
	SET @SQL = 'SELECT ''RunTimeIssues, Review and possible Move SrcID back to 25'' AS ERROR,* FROM ' + @ProcessDB + '..RunTimeLog'
	EXEC(@SQL)
			
	CLEAN_UP:
		IF OBJECT_ID('tempdb..#PipeLine') IS NOT NULL BEGIN DROP TABLE #PipeLine END				
		IF OBJECT_ID('tempdb..#cfTarget') IS NOT NULL BEGIN DROP TABLE #cfTarget END						
		UPDATE DGDB_PL__Log..SourceProcessJob SET spjEndDate = SYSDATETIME(),spjDuration = DATEDIFF(SECOND,@StartTime,SYSDATETIME()) WHERE spjID = @jobNr

		PRINT '-------------------------------------------------------------------------'
		PRINT ' 2. End of  Post Process ' + OBJECT_NAME(@@PROCID)
		PRINT '-------------------------------------------------------------------------'
		PRINT ''
	END
GO
