USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spProcess50ExportLoadFilesBatchVersion_WIP]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Janvb>
-- Create date: 18 March 2014
-- Description:	Export files for LSMW

-- =============================================
-- EXEC spProcess50ExportLoadFilesBatchVersion_WIP 'ZZ_PRADEEP_TEST'
CREATE Procedure [dbo].[spProcess50ExportLoadFilesBatchVersion_WIP] --'EORD'
	
	@dbName		NVARCHAR(50) = 'DGDB_PL_EU_CISCO',
	@ProcessGroup	NVARCHAR(50) = 'TEST'	

AS
    BEGIN

	SET NOCOUNT ON
		
		DECLARE @SQL				NVARCHAR(4000),
				@MainSQL			NVARCHAR(4000),
				@Target				NVARCHAR(50),
				@ViewName			NVARCHAR(4000),
				@ExportPath			NVARCHAR(255),
				@FileName			NVARCHAR(255),
				@Delimter			NVARCHAR(6),
				@HasHeader			BIT,				
				@HeaderRow			NVARCHAR(4000),
				@LSMW				NVARCHAR(255),
				@PreviousLSMW		NVARCHAR(255) = '',
				@SourceTable		NVARCHAR(255),
				@MaxRecordPerFile	INTEGER,
				@PrimaryKey			NVARCHAR(255),
				@RowCount			INTEGER,
				@Batch				SMALLINT ,
				@rowsLeft			NVARCHAR(255),
				@Message		NVARCHAR(4000)

				DECLARE @TableRowCount TABLE ( lines INTEGER)
				DECLARE @TableFieldList TABLE ( FieldList NVARCHAR(4000))

			/* 1st Get export detail from cfLoadFiles*/
			/* 2nd if Has Headers create a header file and detail file seperately*/
			/* 3th join header & detail and delete Header en detail files in directory*/

			DECLARE CurView CURSOR FOR 				
				SELECT [Target], ViewName,ExportPath,[FileName],Delimter,HasHeader,LSMW,MaxRecordPerFile,PrimaryKey FROM dbo.cfloadfiles_Batch where Active = 1 AND ProcessGroup = @ProcessGroup	ORDER BY Sequence
				OPEN CurView
					FETCH NEXT FROM CurView INTO @Target, @ViewName,@ExportPath, @FileName, @Delimter,@HasHeader,@LSMW,@MaxRecordPerFile,@PrimaryKey
					WHILE @@FETCH_STATUS = 0
						BEGIN	
							BEGIN TRY 					
								/*Add zBatch to txFile*/
								SET @SourceTable = @DBName + '..['+ @ViewName + ']'							
								IF COL_LENGTH(@SourceTable,'zBatch') IS NULL
									BEGIN
										SET @SQL = 'ALTER TABLE ' +  @SourceTable + ' ADD zBatch INT DEFAULT(0) WITH VALUES'					
										EXEC (@SQL)
									END	
								SET @HeaderRow = ''
								SET @Batch = 0

								/*Get record COUNT*/								
								DELETE FROM @TableRowCount
								SET @SQL = 'SELECT COUNT(*) FROM ' + @dbName + '..' + @ViewName + ' WHERE zBATCH = 0'								
								INSERT INTO @TableRowCount EXEC (@SQL)
								SELECT @RowCount = lines FROM @TableRowCount			
													
								IF @Rowcount <> 0
									BEGIN
										/*GET LAST BATCHNUmber*/
										DELETE FROM @TableRowCount
										SET @SQL = 'SELECT Max(zBatch) FROM ' + @dbName + '..' + @ViewName 
										INSERT INTO @TableRowCount EXEC (@SQL)
										SELECT @Batch = lines + 1 FROM @TableRowCount																
								
								
										IF @PreviousLSMW <> @LSMW   /* 1st file of the load*/
											BEGIN										
												SELECT @MainSQL = 'SELECT TOP ' + CAST(@MaxRecordPerFile AS NVARCHAR) + ' ' + @PrimaryKey + ' FROM ' + @dbName  + '.dbo.' + @viewName + ' WHERE zBAtch = 0 ORDER BY ' + @PrimaryKey 											
												SET @SQL = 'UPDATE ' + @dbName  + '..' + @viewName + ' SET zBAtch = ' + CAST(@Batch AS NVARCHAR) + ' WHERE ' + REPLACE(@PrimaryKey,',','+')  + ' IN (' + REPLACE(@MainSQL,',','+') + ')'	
												EXEC (@SQL)
												SET @RowCOunt = @@ROWCOUNT
										--	PRINT @SQL																										
											END
										ELSE	/* other files in same loaded depending on data selection 1st file*/
											BEGIN
												SET @MainSQL = REPLACE(@MainSQL,'zBatch = 0',' zBatch = ' + CAST(@Batch  AS NVARCHAR))
												SET @SQL = 'UPDATE ' + @dbName  + '..' + @viewName + ' SET zBAtch = ' + CAST(@Batch AS NVARCHAR) + ' WHERE ' + REPLACE(@PrimaryKey,',','+')  + ' IN (' + REPLACE(@MainSQL,',','+') + ')'							
										--		PRINT ISNULL(@SQL,@viewname)
												EXEC (@SQL)					
												SET @RowCOunt = @@ROWCOUNT														
											END
										/*Export detail*/
										SELECT @SQL = 'bcp "SELECT  * FROM ' + @dbName  + '.dbo.' + @viewName + ' WHERE zBAtch = ' +  CAST(@Batch  AS NVARCHAR) + ' ORDER BY ' + @PrimaryKey + '" Queryout ' + @ExportPath + @FileName +'_Detail -t"' + @Delimter +  '" -T -c'  																																								
										EXEC xp_cmdshell @SQL, NO_OUTPUT		

									IF @HasHeader = 1 
										BEGIN									
											/*BCP does not create headers @##@!, so this has to be done by code*/									
											SET @SQL = 'SELECT DISTINCT COLUMN_NAME = STUFF((SELECT '','' + COLUMN_NAME FROM ' + @dbName + '.INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = ''' + @ViewName + ''' FOR XML PATH('''')), 1, 1, '''') FROM ' + @dbName + '.INFORMATION_SCHEMA.COLUMNS AS t'
											DELETE FROM @TableFieldList
											INSERT INTO @TableFieldList EXEC (@SQL)	
											SELECT TOP 1 @HeaderRow= FieldList FROM @TableFieldList										
											SET @HeaderRow = '"SELECT ''' + REPLACE(@HeaderRow,',',''',''') + '''"'					
											SELECT @SQL = 'bcp ' + @HeaderRow + ' queryout ' + @ExportPath + @FileName +'_header -t"' + @Delimter +  '" -T -c'  						
											EXEC xp_cmdshell @SQL, NO_OUTPUT	
						
											/*Combine the files together*/
											SET @SQL = 'TYPE ' + @ExportPath + @FileName + '_Header -t > ' + @ExportPath + @FileName --Overwrite = >							
											EXEC xp_cmdshell @SQL, NO_OUTPUT
											SET @SQL = 'TYPE ' + @ExportPath + @FileName + '_Detail -t >> ' + @ExportPath + @FileName --Append = >>
											EXEC xp_cmdshell @SQL, NO_OUTPUT
									
										END
									ELSE
										BEGIN
											SET @SQL = 'TYPE ' + @ExportPath + @FileName + '_Detail -t > ' + @ExportPath + @FileName
											EXEC xp_cmdshell @SQL, NO_OUTPUT
										END

									/*CleanUp Header/Detail Files*/
									SET @SQL = 'DEL ' + @ExportPath + '*_Detail'
									EXEC xp_cmdshell @SQL, NO_OUTPUT
									SET @SQL = 'DEL ' + @ExportPath + '*_Header'
									EXEC xp_cmdshell @SQL, NO_OUTPUT

								END
								
								SET @rowsLeft = CAST(CASE WHEN @rowcount-@MaxRecordPerFile > 0 THEN @rowcount-@MaxRecordPerFile  ELSE 0 END AS NVARCHAR)
								SET @Message = CAST(CAST(@LSMW AS CHAR(25)) + ' - ' + @ViewName AS CHAR(65)) + '  zBatch: ' + CAST(@Batch AS CHAR(8)) + '  RowCount: ' + CAST(@RowCount AS CHAR(15)) + '  RowsLeft: ' + CAST(@RowsLeft AS CHAR(15)) + '  ' + @ExportPath + @FileName +'_Detail'		
								RAISERROR( @Message,0,1) WITH NOWAIT					
							END TRY

							BEGIN CATCH
								SET @Message =  '* ' + CAST(CAST(@LSMW AS CHAR(100)) + ' - ' + ERROR_MESSAGE() AS varCHAR(400)) + '  RowCount: ' + CAST('ERROR' AS CHAR(15)) + '  ' + @ExportPath + @FileName +'_Detail      SQL:'	+ @SQL													
								RAISERROR( @Message,0,1) WITH NOWAIT					
							END CATCH
							
							SET @PreviousLSMW = @LSMW							 				
							FETCH NEXT FROM CurView INTO @Target, @ViewName,@ExportPath, @FileName, @Delimter,@HasHeader,@LSMW,@MaxRecordPerFile,@PrimaryKey
						END
				CLOSE CurView
			DEALLOCATE CurView;
			
		   END


GO
