USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spGetSupplierPlantMapExtensions]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- EXEC spGetSupplierPlantMapExtensions_WIP 'VPL99999_GlobalAdhoc_PH_425', 'DGDB_PL_GLP_300'
CREATE PROCEDURE [dbo].[spGetSupplierPlantMapExtensions](
	@VPLDBName NVARCHAR(1000)
	, @SAPClientDataDB NVARCHAR(100)
)
AS
BEGIN
	DECLARE @SQL NVARCHAR(MAX);
	
	--DECLARE @VPLDBName NVARCHAR(1000) = 'VPL99999_GlobalAdhoc_EMEA2_577'
	--DECLARE @SAPClientDataDB NVARCHAR(100) = 'DGDB_PL_GLP_300'
	
	SET @SQL = 'SELECT *
	INTO #tmpSupplierPLantMap
	FROM (SELECT A.SupplierPlantMap, A.PK, A.MaterialGroup, A.PLant, A.Supplier, B.ID, C.SupplierIdTo
		, D.WERKS + ''='' + D.LIFNR AS Ext, D.LIFNR AS SupplierExt
		FROM (SELECT
				SupplierPlantMap, PK, MaterialGroup,
				[Supplier XML].value(''/M[1]'', ''varchar(50)'') AS Plant,
				[Supplier XML].value(''/M[2]'', ''varchar(50)'') AS Supplier
			FROM (SELECT B.*, A.SupplierPlantMap, A.PK, A.MaterialGroup
					, CAST(''<M>'' + REPLACE([Data], ''='' , ''</M><M>'') + ''</M>'' AS XML) AS [Supplier XML]
				FROM ' + @VPLDBName + '..SourceFileExtract A
				CROSS APPLY DGDB_PL.dbo.fnSplitString(SupplierPLantMap, ''|'') B
			) A 
		) A
		INNER JOIN DGDB_PL.dbo.cfSAPSupplier AS B ON A.materialGroup = B.matkl AND A.Plant = B.Werks AND A.Supplier = B.LIFNR
		INNER JOIN DGDB_PL.dbo.cfSupplierExtensions AS C ON C.SupplierIdFrom = B.ID
		INNER JOIN DGDB_PL.dbo.cfSAPSupplier AS D ON D.Id = C.SupplierIdTo
	) A
	
	UPDATE #tmpSupplierPLantMap SET Ext = '''' WHERE CHARINDEX(Ext, SupplierPLantMap, 1) > 0;

	UPDATE A
	SET Ext = '''', SupplierExt = ''''
	FROM #tmpSupplierPLantMap A
	INNER JOIN ' + @SAPClientDataDB + '..EORD B ON B.MATNR = A.PK AND B.WERKS = A.Plant AND B.LIFNR = A.SupplierExt

	SELECT DISTINCT A.PK, SupplierPLantMap + ''|'' + EXT2 AS SupplierPLantMapExt, Supplier + ''|'' + SupplierExt2 AS SupplierExt
	INTO #tmpExtendedSupplierPLantMap
	FROM (SELECT DISTINCT ST2.*
			, SUBSTRING((SELECT ''|'' + ST1.Ext AS [text()]
						FROM #tmpSupplierPLantMap ST1
						WHERE ST1.PK = ST2.PK --AND ST1.PLant = ST2.PLant
						ORDER BY ST1.PK
						FOR XML PATH ('''')), 2, 1000) [EXT2]
			, SUBSTRING(( SELECT DISTINCT ''|'' + ST1.SupplierExt  AS [text()]
						FROM #tmpSupplierPLantMap ST1
						WHERE ST1.PK = ST2.PK --AND ST1.PLant = ST2.PLant
						--ORDER BY ST1.PK
						FOR XML PATH ('''')), 2, 1000) [SupplierExt2]
		FROM #tmpSupplierPLantMap ST2
	) A
	
	UPDATE #tmpExtendedSupplierPLantMap
	SET SupplierPLantMapExt = dgdb.dbo.RegExReplace(SupplierPLantMapExt,''(\|{2,100})'',''|'');

	UPDATE A
	SET A.SupplierPLantMap = B.SupplierPlantMapExt, A.Supplier = B.SupplierExt
	FROM ' + @VPLDBName + '..SourceFileExtract A
	INNER JOIN #tmpExtendedSupplierPLantMap B ON B.PK = A.PK;
	
	DROP TABLE #tmpSupplierPLantMap
	DROP TABLE #tmpExtendedSupplierPLantMap';
	
	--PRINT @SQL;
	EXEC (@SQL);

END
GO
