USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spSysFTPToSAPServer]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spSysFTPToSAPServer] 

	@FTPServer varchar(128) = 'qa0005.na.westcongrp.com'	--EQ1 Server


AS

-- FTP_MPUT.sql (Written by John Buoro http://www.VirtualObjectives.com.au)
-- Modified by janvb
-- Transfer multiple files to an FTP server using MPUT.
 
SET NOCOUNT ON 

BEGIN
	DECLARE @FTPUser varchar(128)
	DECLARE @FTPPwd varchar(128)
	DECLARE @SourcePath varchar(128)
	DECLARE @SourceFiles varchar(128)
	DECLARE @DestPath varchar(128)
	DECLARE @FTPMode varchar(10)
 
	-- FTP attributes.
	SET @FTPUser = 'jvberghe'					-- 
	SET @FTPPwd = 'Westcon2015!'
	SET @SourcePath = '\\WG0232\BackOffice\_LoadFiles\dgdb_PL\'
	SET @SourceFiles = '*Copy*.txt'
	SET @DestPath = '\backoffice' -- Destination path. Blank for root directory.
	SET @FTPMode = 'ascii' -- ascii, binary or blank for default.
END
 
BEGIN
	DECLARE @cmd varchar(1000)
	DECLARE @workfile varchar(128)
	DECLARE @nowstr varchar(25)
 
	-- Get the %TEMP% environment variable.
	DECLARE @tempdir varchar(128)
	CREATE TABLE #tempvartable(info VARCHAR(1000))
	INSERT #tempvartable EXEC master..xp_cmdshell 'echo %temp%'
	SET @tempdir = (SELECT top 1 info FROM #tempvartable)
	IF RIGHT(@tempdir, 1) <> '\' SET @tempdir = @tempdir + '\'
	DROP TABLE #tempvartable
 
	-- Generate @workfile
	SET @nowstr = replace(replace(convert(varchar(30), GETDATE(), 121), ' ', '_'), ':', '-')
	SET @workfile = 'FTP_SPID' + convert(varchar(128), @@spid) + '_' + @nowstr + '.txt'
 
	-- Deal with special chars for echo commands.
	select @FTPServer = replace(replace(replace(@FTPServer, '|', '^|'),'<','^<'),'>','^>')
	select @FTPUser = replace(replace(replace(@FTPUser, '|', '^|'),'<','^<'),'>','^>')
	select @FTPPwd = replace(replace(replace(@FTPPwd, '|', '^|'),'<','^<'),'>','^>')
	select @DestPath = replace(replace(replace(@DestPath, '|', '^|'),'<','^<'),'>','^>')
	IF RIGHT(@SourcePath, 1) <> '\' SET @SourcePath = @SourcePath + '\'
 
 END
 SELECT 0
 BEGIN
	-- Build the FTP script file.
	select @cmd = 'echo ' + 'open ' + @FTPServer + ' > ' + @tempdir + @workfile
	EXEC master..xp_cmdshell @cmd
	select @cmd = 'echo ' + @FTPUser + '>> ' + @tempdir + @workfile
	EXEC master..xp_cmdshell @cmd
	select @cmd = 'echo ' + @FTPPwd + '>> ' + @tempdir + @workfile
	EXEC master..xp_cmdshell @cmd
	select @cmd = 'echo ' + 'prompt ' + ' >> ' + @tempdir + @workfile
	EXEC master..xp_cmdshell @cmd
	IF LEN(@FTPMode) > 0
	BEGIN
		select @cmd = 'echo ' + @FTPMode + ' >> ' + @tempdir + @workfile
		EXEC master..xp_cmdshell @cmd
	END
	IF LEN(@DestPath) > 0
	BEGIN
		select @cmd = 'echo ' + 'cd ' + @DestPath + ' >> ' + @tempdir + @workfile
		EXEC master..xp_cmdshell @cmd
	END
	select @cmd = 'echo ' + 'mput ' + @SourcePath + @SourceFiles + ' >> ' + @tempdir + @workfile
	EXEC master..xp_cmdshell @cmd
	select @cmd = 'echo ' + 'quit' + ' >> ' + @tempdir + @workfile
	EXEC master..xp_cmdshell @cmd
 END 
	-- Execute the FTP command via script file.
	Select 'ftp -s:' + @tempdir + @workfile
	select @cmd = 'ftp -s:' + @tempdir + @workfile
	create table #a (id int identity(1,1), s varchar(1000))
	insert #a
	EXEC master..xp_cmdshell @cmd
	select id, ouputtmp = s from #a
 
	-- Clean up.
	drop table #a
	select @cmd = 'del ' + @tempdir + @workfile
	EXEC master..xp_cmdshell @cmd
GO
