USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spzVPLUpdateKeyValuesFromOtherVendor]    Script Date: 3/9/2026 9:14:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ======================================================================
-- Author:		Pradeep Suram
-- Create date: 8/21/2015
-- Description:	This stored procedure updates the values of SrcIdTo
--				takeing the values from SrcIDFrom
-- Version History: 8/21/2015 Initial Draft
--					9/9/2015  Added an extra parameterupdateTypeFlag to toggle 
--					PH, ProductType or both
-- ======================================================================
-- EXEC [spzVPLUpdateKeyValuesFromOtherVendor] 16,260, 2
CREATE PROCEDURE [dbo].[spzVPLUpdateKeyValuesFromOtherVendor] 
	
	@srcIDFrom  INT = 16,				-- srcIFD from cfSource Table as source to update the fields	
	@srcIDTo  INT = 260,				-- srcIFD from cfSource Table to update the values of updateFields	
	@updateTypeFlag SMALLINT = 1,       -- 0 = ProductType, 1 = ProductHeirarchy , 2 = Both
	@updateFields VARCHAR(300) = ''  -- Fieldslist to update in target from source *** ToDO **
	
AS 

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	

	Declare
	@srcNameF NVARCHAR(50)='',
	@ssgSrgIDF int,
	@srcSrtCodeF NVARCHAR(4),
	@srcVendorCodeF NVARCHAR(50)='',
	@srcTableNameF NVARCHAR(50)='',	
	@prodTypeCodeF VARCHAR(50),
	@prodHF VARCHAR(50),
	@prodH3F VARCHAR(50),

	@matnrF NVARCHAR(50) ='',

	@SQL NVARCHAR(4000)='',
	@DBNameF NVARCHAR(40)='',
	@SourceTableF NVARCHAR(80),
	@SourceF NVARCHAR(40),
	@srcNameT NVARCHAR(50)='',
	@ssgSrgIDT int,
	@srcSrtCodeT NVARCHAR(4),
	@srcVendorCodeT NVARCHAR(50)='',
	@srcTableNameT NVARCHAR(50)='',	
	@prodTypeCodeT VARCHAR(50),
	@prodHT VARCHAR(50),
	@prodH3T VARCHAR(50),
	@matnrT NVARCHAR(50) ='',

	@DBNameT NVARCHAR(40)='',
	@SourceTableT NVARCHAR(80),
	@SourceT NVARCHAR(40),
	@SQLFieldsList VARCHAR(1000) = '',

	@srcSystem NVARCHAR(3)

	SET NOCOUNT ON;
	/*
	PRINT '-------------------------------------------------------------------------'
	PRINT ' Step1:  Get the DB and table related information from cfSource Table (From)'
	PRINT '-------------------------------------------------------------------------'
	*/
	    SELECT	@srcNameF = srcName,
			@srcSrtCodeF = srcSrtCode,
			@srcVendorCodeF = srcVendorCode ,
            @srcTableNameF = srcTableName,
			@ssgSrgIDF = cg.ssgSrgID
        FROM cfSource AS  c
		INNER JOIN cfsourcesourcegroup AS cg
		ON c.srcid = cg.ssgSrcID
        WHERE srcid = @srcIDFrom
	SET @SourceF = CAST(@srcIDFrom AS CHAR(5)) + ' - ' + @srcNameF + ''''

	-- Get ProductType Code, Material, PH2 and PH3  column name from From
	--SELECT @prodTypeCodeF = srmSourceMap FROM cfSourceMapRules WHERE srmSrgID = @ssgSrgIDF AND srmFldname = 'ProdTypeCode' --914
	--SELECT @prodHF = srmSourceMap FROM cfSourceMapRules WHERE srmSrgID = @ssgSrgIDF AND srmFldName = 'zLegacyPH2' --901
	--SELECT @prodH3F = srmSourceMap FROM cfSourceMapRules WHERE srmSrgID = @ssgSrgIDF AND srmFldName = 'zLegacyPH3' --902
	--SELECT @matnrF = srmSourceMap FROM cfSourceMapRules WHERE srmSrgID = @ssgSrgIDF AND srmFldName = 'Material' --903

	-- Get ProductType Code, Material, PH2 and PH3  column name from From
	SELECT  @prodTypeCodeF = [ProdTypeCode],@prodHF = [zLegacyPH2], @prodH3F = [zLegacyPH3], @matnrF =[Material]
	FROM
	(SELECT srmSourceMap, srmFldName, srmSrgID 
		FROM cfSourceMapRules WHERE srmSrgID = @ssgSrgIDF) AS SourceTable
	PIVOT
	(
		max(srmSourceMap)
		FOR srmFldname IN ([ProdTypeCode], [zLegacyPH2], [zLegacyPH3], [Material])
	) AS PivotTable


	IF (@srcNameF = '' OR @prodTypeCodeF = '' OR @prodHF = '' OR @matnrF = '')
		BEGIN
			PRINT 'No Valid Source Number (srcID), Product type, ProductHierarchy, Materialid Setup, aborting procedure'
			RETURN
		END
		

	-- Get the name of the source database and table to take the key values from
	SET @DBNameF =  @srcSrtCodeF + @srcVendorCodeF + '_' + @srcNameF + '_' + CAST(@srcIDFrom AS NVARCHAR)
	SET @SourceTableF = @DBNameF + '.dbo.['+ @srcTableNameF + ']'

	/*
	PRINT '-------------------------------------------------------------------------'
	PRINT ' Step2:  Get the DB and table related information from cfSource Table (To)'
	PRINT '-------------------------------------------------------------------------'
	*/

	SELECT	@srcNameT = srcName,
			@srcSrtCodeT = srcSrtCode,
			@srcVendorCodeT = srcVendorCode ,
            @srcTableNameT = srcTableName,
			@ssgSrgIDT = cg.ssgSrgID
        FROM cfSource AS  c
		INNER JOIN cfsourcesourcegroup AS cg
		ON c.srcid = cg.ssgSrcID
        WHERE srcid = @srcIDTo
	SET @SourceT = CAST(@srcIDTo AS CHAR(5)) + ' - ' + @srcNameT + ''''


	-- Get ProductType Code, Material, PH2 and PH3  column name for TO
	--SELECT @prodTypeCodeT = srmSourceMap FROM cfSourceMapRules WHERE srmSrgID = @ssgSrgIDT AND srmFldname = 'ProdTypeCode' --914
	--SELECT @prodHT = srmSourceMap FROM cfSourceMapRules WHERE srmSrgID = @ssgSrgIDT AND srmFldName = 'zLegacyPH2' --901
	--SELECT @prodH3T = srmSourceMap FROM cfSourceMapRules WHERE srmSrgID = @ssgSrgIDT AND srmFldName = 'zLegacyPH3' --902
	--SELECT @matnrT = srmSourceMap FROM cfSourceMapRules WHERE srmSrgID = @ssgSrgIDT AND srmFldName = 'Material' --903

	-- Get ProductType Code, Material, PH2 and PH3  column name for TO
	SELECT  @prodTypeCodeT = [ProdTypeCode],@prodHT = [zLegacyPH2], @prodH3T = [zLegacyPH3], @matnrT =[Material]
	FROM
	(SELECT srmSourceMap, srmFldName, srmSrgID 
		FROM cfSourceMapRules WHERE srmSrgID = @ssgSrgIDT) AS SourceTable
	PIVOT
	(
		max(srmSourceMap)
		FOR srmFldname IN ([ProdTypeCode], [zLegacyPH2], [zLegacyPH3], [Material])
	) AS PivotTable

	--PRINT @prodTypeCodeT

	IF (@srcNameF = '' OR @prodTypeCodeF = '' OR @prodHF = '' OR @matnrF = '')
		BEGIN
			PRINT 'No Valid Source Number (srcID), Product type, ProductHierarchy, Materialid Setup, aborting procedure'
			RETURN
		END

		
	-- Get the name of the target database and table to take the key values to
	SET @DBNameT =  @srcSrtCodeT + @srcVendorCodeT + '_' + @srcNameT + '_' + CAST(@srcIDTo AS NVARCHAR)
	SET @SourceTableT = @DBNameT + '.dbo.['+ @srcTableNameT + ']'

	--SET @SQL = 'select * from '  + @SourceTableT

	--PRINT @SQL

	--SET @SQL = 'select * from '  + @SourceTableF

	--PRINT @SQL
	/*
	PRINT '-------------------------------------------------------------------------'
	PRINT ' Step3:  Generate the update statement to udpate key feilds				'
	PRINT '-------------------------------------------------------------------------'
	*/
	
	 SELECT @SQLFieldsList = CASE WHEN @updateTypeFlag IN (0) THEN   @prodTypeCodeT + ' = STF.' + @prodTypeCodeF 
	                               WHEN @updateTypeFlag = 1 THEN @prodHT + '= STF.' + @prodHF + ','+@prodH3T+ '=STF.' + @prodH3F
								   WHEN @updateTypeFlag = 2 THEN  @prodTypeCodeT + ' = STF.' + @prodTypeCodeF + ',' + @prodHT + '= STF.' + @prodHF + ','+@prodH3T+ '=STF.' + @prodH3F

					          END

	-- Generate the update statement.
	 SET @SQL = 'UPDATE STT SET ' + @SQLFieldsList + ' FROM ' 
	 + @SourceTableT + ' AS STT  INNER JOIN ' + @SourceTableF + ' AS STF ON STT.' + @matnrT + ' = STF.' + @matnrF + ''

	 

	 --spUpdateKeyValuesFromOtherVendor
	 /*
	PRINT '-------------------------------------------------------------------------'
	PRINT ' Step4:  Execute the update statement									'
	PRINT '-------------------------------------------------------------------------'
	*/

	--  Execute the script
	BEGIN TRY		
		PRINT ''
		EXEC (@SQL)		
		PRINT CAST(@@RowCount AS CHAR(21)) + CAST(OBJECT_NAME(@@PROCID)	 AS CHAR(40)) + @SQL 
	END TRY

	BEGIN CATCH
			PRINT  'ERROR RUNNING SCRIPT :     ' + ERROR_MESSAGE()  + '  - '	+	@SQL
			RETURN
	END CATCH

	PRINT ''	
GO
