USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spSysCopyDB_xServers]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 
-- =============================================
-- Author:		Pradeep Suram
-- Create date: 06 July 2016
-- Description: Backup the datbase <DB> from Server1 into Server2
--				Kill all active connections on  <DB>
--				Restore the database <DB> from the backup file
-- =============================================

-- EXEC [spSysCopyDB_xServers] 1, 'DGDB','\\Wg0218\dv0064\Backup\', 'E:\MSSQL\Data\', 'J:\MSSQL\Log\'
CREATE PROCEDURE [dbo].[spSysCopyDB_xServers] 
	@RefreshDGDB			BIT = 1	,--Get the latest version of dgdb from DV0064	
	@DBName					NVARCHAR(50) = 'DGDB_PL',
	@BackupLocation			NVARCHAR(4000) = '\\DV0124\Backup\DV0064\',
	@MDFilePath				NVARCHAR(50) = 'D:\MSSQL\Data\',
	@LDFilePath				NVARCHAR(50) = 'E:\MSSQL\Log\'
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

BEGIN
	DECLARE 
		@SQL					NVARCHAR(4000)	= '',
		@RestorePath            VARCHAR(4000)	= '',
		@LogName				NVARCHAR(50) = ''

	IF @RefreshDGDB = 1
		BEGIN
			SELECT @RestorePath = @BackupLocation + @DBName + '.BAK'
			SELECT @LogName = @DBName  + '_LOG'
			SELECT @MDFilePath	= @MDFilePath + @DBName +  '.mdf'
			SELECT @LDFilePath	= @LDFilePath + @DBName +  '_log.ldf'


			/*Kill current connections to the restoring database*/
				DECLARE @Kill varchar(8000) = ''
				SELECT @Kill = @Kill + 'kill ' + CONVERT(varchar(5), spid) + ';'
					FROM master..sysprocesses 
					WHERE dbid = db_id(@DBName) and spid > 50 

				PRINT @Kill
				EXEC (@Kill);


			EXEC [DV0064].dgdb_PL.dbo.spSysBackUpDB 	@BackupLocation, @DBName
			PRINT ''
			SELECT @SQL = 'RESTORE DATABASE ' + @DBName +  ' FROM DISK = ''' + @RestorePath + ''' WITH MOVE ''' + @DBName + ''' to ''' + @MDFilePath + ''',  MOVE ''' + @LogName + ''' to ''' + @LDFilePath + ''', NOUNLOAD, RECOVERY,REPLACE, STATS = 10'
		    PRINT @SQL
			EXEC (@SQL)
			PRINT ''
			PRINT ''
			PRINT '-------------------------------------------------------------------------------------'
			PRINT ''


		END

		
END
GO
