USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spzVPL_GenCopyPIRPricetoDiffSupplier]    Script Date: 3/9/2026 9:14:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* 
Created: AUg 2015
Copy Cisco SBN supplier for PIR updates if CBN record exists in PIR on SAP

EXEC spzVPL_GenCopyPIRPricetoDiffSupplier 13,'6001','300700','300791'

*/



CREATE PROCEDURE [dbo].[spzVPL_GenCopyPIRPricetoDiffSupplier]
	
	@srcID INT,
	@WERKS NVARCHAR(4) ,
	@FROMSUpplier NVARCHAR(10),
	@ToSupplier NVARCHAR(10) 
	

AS

BEGIN

	SET NOCOUNT ON
	DECLARE 
		@srcSrtCode NVARCHAR(3),
		@srcVendorCode  NVARCHAR(10),
		@srcName NVARCHAR(40),
		@srcClient NVARCHAR(3),
		@srcSYStem NVARCHAR(3),
		@DBName NVARCHAR(80),
		@SAPClientDataDB NVARCHAR(40),
		@SQL NVARCHAR(4000),
		@RowCount INTEGER

	SELECT	@srcName = srcName,
			@srcSrtCode = srcSrtCode,
			@srcVendorCode = srcVendorCode ,            
			@srcClient = srcClient,
			@srcSystem = srcSystem			
        FROM cfSource
        WHERE srcid = @srcID
	
	SET @DBName =  @srcSrtCode + @srcVendorCode + '_' + @srcName + '_' + CAST(@srcID AS NVARCHAR)
	SELECT @SAPClientDataDB = trdDatabase FROM dbo.cfTargetData WHERE trdSystem = @srcSystem AND trdClient = @srcClient	


	SET @SQL = '
		SELECT srdSrmPK ,
				srdValue
			INTO #MATNR_PL
			FROM ' + @DBNAME + '..SourceData
			WHERE srdFldID = 903

		SELECT MATNR_EXT ,
				WERKS
			INTO #MATNR_SAP
			FROM ' + @SAPClientDataDB + '..eina A
				INNER JOIN ' + @SAPClientDataDB + '..EINE E ON E.INFNR = A.INFNR
				INNER JOIN ' + @SAPClientDataDB + '..MATERIALID ON MATNR = MATNR_INT
			WHERE LIFNR = ''' + @ToSupplier + ''' AND WERKS = ''' + @WERKS + '''


		SELECT *
			INTO #UPDATE
			FROM #MATNR_PL
				INNER JOIN #MATNR_SAP ON srdValue = MATNR_EXT

		UPDATE ' + @DBNAME + '..SourceData 
			SET srdValue = dgdb.dbo.RegExReplace(SD.srdValue,''\|$'','''') + ''|'' + REPLACE(x.Data,''' + @FROMSUpplier + ''',''' + @ToSupplier + ''')
				FROM ' + @DBNAME + '..SourceData SD 
					INNER JOIN #UPDATE ON #UPDATE.srdSrmPK = SD.srdSrmPK 
					CROSS APPLY ( SELECT Data FROM DGDB_PL..fnSplitString(SD.srdValue, ''|'')) x
				WHERE SD.srdFldID = 926		--Supplier
					AND CHARINDEX(''' + @FROMSUpplier + ''',data) > 0 
					AND CHARINDEX(''' + @ToSupplier + ''',SD.srdValue) = 0

		UPDATE ' + @DBNAME + '..SourceData 
			SET srdValue = dgdb.dbo.RegExReplace(SD.srdValue,''\|$'','''') + ''|'' + REPLACE(x.Data,''' + @FROMSUpplier + ''',''' + @ToSupplier + ''')
				FROM ' + @DBNAME + '..SourceData SD 
					INNER JOIN #UPDATE ON #UPDATE.srdSrmPK = SD.srdSrmPK 
					CROSS APPLY ( SELECT Data FROM DGDB_PL..fnSplitString(SD.srdValue, ''|'')) x
				WHERE SD.srdFldID = 1099		--SupplierPlantMap
					AND CHARINDEX(''' + @WERKS + ''',data) > 0 
					AND CHARINDEX(''' + @FROMSUpplier + ''',data) > 0
					AND CHARINDEX(''' +  @WERKS + '=' + @ToSupplier +  ''',SD.srdValue) = 0

				

	
		'
	--PRINT @SQL
	EXEC (@SQL)
	SET @RowCount = @@ROWCOUNT
	PRINT ''
	PRINT OBJECT_NAME(@@PROCID) + ' Records affected: ' + CAST(@ROWCOUNT AS NVARCHAR)
	PRINT ''
END 

GO
