USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spSysRefreshTargetData_LongText_STXL_WIP]    Script Date: 3/9/2026 9:14:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* GET STXL FROM Cransoft DATA*/	

-- EXEC spSysRefreshTargetData_LongText_STXL_WIP 'DGDB_PL_ER1_300'
CREATE PROCEDURE [dbo].[spSysRefreshTargetData_LongText_STXL_WIP]

	@DbNAme NVARCHAR(40) = 'DGDB_PL_EPN_300'
AS

	BEGIN
		DECLARE @StgDBName NVARCHAR(20)
		DECLARE @SQL NVARCHAR(4000)
		   SELECT @StgDBName  = CASE WHEN @DbNAme = 'DGDB_PL_EPN_300' THEN 'dsEP1'
									 WHEN @DbNAme = 'DGDB_PL_GLP_300' THEN 'dsGLP'
									 WHEN @DbNAme = 'DGDB_PL_ER1_300' THEN 'dsER1'
									 WHEN @DbNAme = 'DGDB_PL_EQN_300' THEN 'dsEQN'
									 ELSE 'dsEP1'
						END 

						SET @SQL =	'		
							USE ' + @dbName + '		
							IF OBJECT_ID(''ZZZ_STXL'') IS NOT NULL BEGIN DROP TABLE ZZZ_STXL END				
							SELECT * INTO ZZZ_STXL FROM WG0233.' + @StgDBName + '.dbo.TEXT_SAP_MATERIAL WHERE TDOBJECT = ''MATERIAL''	
					
							IF OBJECT_ID(''STXL'') IS NOT NULL BEGIN DROP TABLE STXL END																
							EXEC sp_rename ''ZZZ_STXL'',''STXL ''
					
							'	
				EXEC (@SQL)
				PRINT @SQL
		
	END
GO
