USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spTMP_AddSourceListFromSAP_bkp_6_21_2017]    Script Date: 3/9/2026 9:14:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Add Sourcelist Records (SL) FROM SAP to ttEORD
*/

--EXEC [spTMP_AddSourceListFromSAP] '497',''

CREATE PROCEDURE [dbo].[spTMP_AddSourceListFromSAP_bkp_6_21_2017]
	@srcID INTEGER = 252,
	@zVPL	NVARCHAR(80) = ''		-- For manual use in SP30, please change bottom section where INSERT takes place Change ttEORD into ttEORD etc..
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

BEGIN
	DECLARE 
		@SQL	NVARCHAR(4000),
		@SQL2	NVARCHAR(4000),
		@DbName NVARCHAR(60) ,
		@SAPdb	NVARCHAR(60) 
		


	SET @DbName = dbo.fnGetVPLName(@srcID)	
	SELECT @SAPdb = trdDatabase FROM dbo.cfTargetData INNER JOIN dbo.cfSource ON srcSystem = trdSystem AND srcClient = trdClient WHERE srcID = @srcID

PRINT GETDATE()

	IF @zVPL <> ''
		BEGIN
			SET @DbName = @zVPL
		END


  

	SET @SQL = '
		USE ' + @DbName + '

		Declare  @zID INT
		
		/* GET MATERIALS FROM ttEORD*/
			SELECT DISTINCT
					MATNR,
					dgdb.dbo.RegExReplace(zWERKS,''=.+'','''') as WERKS,
					SUBSTRING(zWERKS,6,10) AS LIFNR,
					ProdTypeCode,
					zMATKL,
					zSrcID,
					zSource, 
					zWERKS,
					zChange,
					zActive
				INTO #VPL
				FROM  ttEORD		

		Select @zID = MAX(zID) FROM ttEORD

		/* GET MATERIALS FROM SAP*/				
			SELECT DISTINCT	S.LIFNR,				  
				   V.MATNR,
				   S.WERKS,
				   S.RESWK,
				   S.EKORG,
				   ''EA'' AS MEINS,
				   '''' AS AUTET,
				   S.FLIFN,
				   ''99991231'' AS BDATU,
				   ''20000101'' AS VDATU,
				   S.ZEORD,
				   S.LOGSY,
				   V.ProdTypeCode,
				   S.LOGSY AS zLogsySAP,
				   V.zMATKL,
				   S.WERKS + ''=''+S.LIFNR AS zWERKS,
				   S.MATNR as zMATNR_INT,
				   S.LIFNR as zSupplier,			  
				   NULL as zSourceListOverride,
				   V.zSrcID,
				   ROW_NUMBER() OVER(ORDER BY S.WERKS DESC) + @zID as zID,
				   ''SAP'' AS zSource ,
				   V.zChange,
				   V.zActive,
				   CAST(0  AS BIT) AS VPL,
				   0 AS zCheckSum
				INTO #SAP
				FROM ' + @SAPdb + '..EORD S
					INNER JOIN ' + @SAPdb + '..MATERIALID ID 
						ON S.MATNR = ID.MATNR_INT
					INNER JOIN #VPL V 
						ON V.MATNR = ID.MATNR_EXT 
						AND V.WERKS = S.WERKS 
				ORDER BY S.MATNR,S.werks,S.zeord
			--PRINT CAST(''SAP'' AS CHAR(30)) + CAST(@@ROWCOUNT AS NVARCHAR)								

		/*NOT IN tt*/
			UPDATE #SAP
				SET VPL = 1 
				FROM #SAP S
					INNER JOIN #VPL V
						ON V.MATNR = S.MATNR
						AND V.WERKS = S.WERKS 
						AND V.LIFNR = S.LIFNR
		--PRINT CAST(''SAP NOT IN ttEORD'' AS CHAR(30)) + CAST(@@ROWCOUNT AS NVARCHAR)		

		/*GET Field NAMES FROM #SAP*/
			DECLARE @FIELDS NVARCHAR(4000),@SQL NVARCHAR(4000)
			SELECT @FIELDS = 
				STUFF(( 
					SELECT  DISTINCT '','' + COLUMN_NAME 
						FROM Tempdb.INFORMATION_SCHEMA.COLUMNS 
							WHERE TABLE_NAME LIKE ''#SAP__%'' 
								AND COLUMN_NAME IN (SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = ''ttEORD'')				
					FOR XML PATH('''')), 1, 1, '''')		
		'
		
		SET @SQL2 = '
	
		/*INSERT RELATED SAP Records INTO ttEORD*/						
			SET @SQL  = ''INSERT INTO ttEORD('' + @FIelds + '') SELECT '' + @FIELDS + '' FROM #SAP WHERE VPL = 0''
			PRINT ''********************************************************''
			EXEC (@SQL)
			PRINT CAST(''EORD'' AS CHAR(12)) + CAST(dgdb.dbo.fnReturnThousandSeperator(@@RowCount) AS CHAR(12)) + '' SL records added FROM SAP		''	
			PRINT ''********************************************************''
			
		/*Do some additional Validation for testing purposes*/		
		--CREATE INDEX _IX_P1 ON ttEORD (LIFNR,WERKS,zMATNR_INT)
		--CREATE INDEX _IX_P2 ON ttEORD (LIFNR,zMATNR_INT)
		SELECT T.MATNR,T.WERKS,T.LIFNR,MMSTA,A.LOEKZ AS EINA_LOEKZ,E.LOEKZ AS EINE_LOEKZ
			INTO #OBS		
			FROM ttEORD T
				INNER JOIN ' + @SAPdb + '..MARC C 
					ON C.MATNR = T.zMATNR_INT AND C.WERKS = T.WERKS
				LEFT JOIN ' + @SAPdb + '..EINA A 
					ON T.LIFNR = A.LIFNR AND T.zMATNR_INT = A.MATNR
				LEFT JOIN ' + @SAPdb + '..EINE E 
					ON A.INFNR = E.INFNR AND T.WERKS = E.WERKS				
			WHERE 
				MMSTA IN (''Z4'',''Z5'') 
				OR (	A.LIFNR IS NULL 
					AND A.MATNR IS NULL 
					AND E.WERKS IS NULL) 
				OR A.LOEKZ = ''X'' 
				OR E.LOEKZ = ''X''

		UPDATE E SET zDGError = 1
			 FROM ttEORD E INNER JOIN #OBS O ON E.LIFNR = O.LIFNR AND E.WERKS = O.WERKS AND E.MATNR = O.MATNR

				
	'
	--PRINT @SQL 
	--PRINT @SQL2
	EXEC (@SQL + @SQL2)
	
PRINT GETDATE()
		
END
 
GO
