USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[SpSysCheck]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SpSysCheck] 
	@ShowBlocks BIT = 0
AS


BEGIN

	SET NOCOUNT ON

	DECLARE 
		@SQL NVARCHAR(255),
		@ID INTEGER

	DECLARE @WHO2 TABLE(
        SPID INT,
        Status VARCHAR(MAX),
        LOGIN VARCHAR(MAX),
        HostName VARCHAR(MAX),
        BlkBy VARCHAR(MAX),
        DBName VARCHAR(MAX),
        Command VARCHAR(MAX),
        CPUTime INT,
        DiskIO BIGINT,
        LastBatch VARCHAR(MAX),
        ProgramName VARCHAR(MAX),
        SPID_1 INT,
        REQUESTID INT)
	INSERT INTO @WHO2 EXEC sp_who2

	IF EXISTS (SELECT TOP 1 1 FROM sys.dm_tran_locks WHERE RESOURCE_TYPE = 'OBJECT')
		BEGIN

        DECLARE @DBCC TABLE
            ( EventType NVARCHAR(255)
            , Parameters INTEGER
            , EventInfo NVARCHAR(4000) )

		IF OBJECT_ID('tempdb..#Session') IS NOT NULL BEGIN DROP TABLE #Session END				
		IF OBJECT_ID('tempdb..#SQL') IS NOT NULL BEGIN DROP TABLE #SQL END				
		SELECT DISTINCT 
				REQUEST_SESSION_ID			AS ID, 
				CAST('' AS NVARCHAR(MAX))	AS dbName, 
				CAST('' AS NVARCHAR(MAX))	AS Command, 
				CAST('' AS NVARCHAR(MAX))	AS ProcName, 							
				TEXT						AS SQLText, 
				0							AS DOne 
			INTO #Session
			FROM sys.dm_tran_locks	L		
				INNER JOIN sys.dm_exec_connections C
					ON C.session_id = L.request_session_id 
					CROSS APPLY sys.dm_exec_sql_text(most_recent_sql_handle) H
			WHERE RESOURCE_TYPE = 'OBJECT'

        SELECT session_ID [SPID]
              , SUBSTRING(t.text, ( r.statement_start_offset / 2 ) + 1,
                          CASE WHEN statement_end_offset = -1
                                    OR statement_end_offset = 0
                               THEN ( DATALENGTH(t.Text)
                                      - r.statement_start_offset / 2 ) + 1
                               ELSE ( r.statement_end_offset
                                      - r.statement_start_offset ) / 2 + 1
                          END) [Executing SQL]
			INTO #SQL
            FROM sys.dm_exec_requests r
                OUTER APPLY sys.dm_exec_sql_text(sql_handle) t
            WHERE session_id != @@SPID -- don't show this query
                AND session_id > 50 -- don't show system queries
			ORDER BY        spid
				

		WHILE (SELECT TOP 1 1 FROM #Session WHERE done = 0) = 1
			BEGIN
				SELECT TOP 1 @ID = ID FROM #Session WHERE done = 0

				SET @SQL = 'DBCC INPUTBUFFER(' + CAST(@ID AS NVARCHAR) + ')'
				DELETE FROM @DBCC
				INSERT @DBCC(EventType,Parameters,EventInfo) 
					EXEC(@SQL)		
					
				
				UPDATE #Session SET 
						done		= 1,
						ProcName	= EventInfo,
						dbName		= W.DBName ,
						Command		= W.Command
					FROM #Session S
						INNER JOIN @WHO2 W ON ID = SPID
						CROSS JOIN @DBCC D 
					WHERE ID = @ID
			END
						
            SELECT session_id
                  , host_name
                  , login_name
                  , login_time
                  , DATEDIFF(MINUTE, last_request_start_time, GETDATE()) AS MinsRunning
                  , dbname
                  , status				  
                  , Command
                  , ProcName
                  , CAST(program_name	AS NVARCHAR(31)) AS ProgramName
				  ,ISNULL((SELECT name FROM msdb.dbo.sysjobs WHERE CHARINDEX(CONVERT(NVARCHAR(MAX),CAST(CONVERT(UNIQUEIDENTIFIER, job_id) AS BINARY(16)),1),program_name) > 0) ,'')						
						 AS jobName
                  , client_interface_name
				  , [Executing SQL]
				  , SQLText
                  , reads
                  , writes
                  , logical_reads                  
                  , last_request_start_time
                  , last_request_end_time
                  , lock_timeout
                FROM sys.dm_exec_sessions
                    INNER JOIN #Session ON ID = session_id	
					INNER JOIN #SQL ON SPID = ID				

			IF OBJECT_ID('tempdb..#Session') IS NOT NULL BEGIN DROP TABLE #Session END				
		END

		IF @ShowBlocks = 1
			BEGIN
				SELECT r.session_id,
				r.blocking_session_id,
				DB_NAME(r.database_id) AS Database_Name,
				s.host_name,
				s.login_name,
				s.original_login_name,
				r.status,
				r.command,
				r.cpu_time,
				r.total_elapsed_time,
				t.text AS Query_Text
				FROM sys.dm_exec_requests r
				CROSS APPLY sys.dm_exec_sql_text(sql_handle) t
				INNER JOIN sys.dm_exec_sessions s ON r.session_id = s.session_id
				WHERE r.blocking_session_id <> 0
			END


	--KILL SESSION_ID (e.g. KILL 140)

	
	SELECT * FROM @WHO2 --WHERE [Status] NOT IN ('Sleeping') ORDER BY hostname DESC

	

END


GO
