USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spProcess20ValidateSAPData_DGDB_NEW]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
 Exec [spProcess20ValidateSAPData] 401
 */

CREATE PROCEDURE [dbo].[spProcess20ValidateSAPData_DGDB_NEW]
    @srcID INTEGER = 119 ,					-- Source ID from DGDB_PL..cfSource		
    @ValidateDataFlag BIT = 1 ,			-- Validate against DGDB rules YES or NO
    @CheckIfInSap BIT = 1 ,				-- Check if Record ecists in SAPDB (zInSAP) YES or NO
    @SAPClientDataDB NVARCHAR(40) = '' ,	-- SAP SQL DB to check zInSAP against
    @DGValidation SMALLINT = 9 ,			-- Overwrite default setting data governance Validationtype ( based on Rowcount if more than 80.000 not data type validation to speed up)
    @SilentMode BIT = 0				-- would you like to have a select statement returned with potential issues or just printout on the screens
AS
    BEGIN

        SET NOCOUNT ON;
        SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; 

        DECLARE @srcName NVARCHAR(40) ,
            @srcSrtCode NVARCHAR(4) ,
            @srcVendorCode NVARCHAR(10) ,
            @srcTableName NVARCHAR(40) ,
            @srcClient NVARCHAR(3) ,
            @srcSystem NVARCHAR(3) ,
            @DBNAme NVARCHAR(40) ,
            @trgID INTEGER ,
            @trgName NVARCHAR(40) ,
            @trgSAPName NVARCHAR(40) ,
            @trgMultiplierField NVARCHAR(40) ,
            @trgMultiplierFieldFrom NVARCHAR(40) ,
            @trgMultiplierFieldTo NVARCHAR(40) ,
            @stmTrgFldShortDescription NVARCHAR(40) ,
            @trgLongDescription NVARCHAR(255) ,
            @trgTrtCode NVARCHAR(10) ,
            @trgWhereClause NVARCHAR(4000) ,
            @Regex NVARCHAR(40) ,
            @trgNamePrevious NVARCHAR(40)= '' ,
            @trgCheckSum BIT ,
            @tbfID INTEGER ,
            @fldid INT ,
            @fldName NVARCHAR(40) ,
            @fldShortDescription NVARCHAR(40) ,
            @dtyTechnicalName NVARCHAR(40) ,
            @fldLengthMax INT ,
            @fldPrecision SMALLINT ,
            @FieldProperty NVARCHAR(100) ,
            @tbfRequired BIT ,
            @tblPK NVARCHAR(255) ,
            @stmID INTEGER ,
            @stmTrgName NVARCHAR(40) ,
            @stmTrgFldID INTEGER ,
            @stmTrgFldName NVARCHAR(40) ,
            @stmSrmFldID INTEGER ,
            @stmSrmSQLMAP NVARCHAR(4000) ,
            @SQL NVARCHAR(4000)= '' ,
            @SQL2 NVARCHAR(4000) = '' ,
            @SQL3 NVARCHAR(4000) = '' ,
            @Message NVARCHAR(4000) = '' ,
            @Startdate DATETIME ,
            @Startdate2 DATETIME ,
            @DateDiff NUMERIC(8, 2) ,
            @RowCount INTEGER ,
            @BatchNumber INTEGER ,
            @RunTimeDefaultSource NVARCHAR(400) ,
            @T NVARCHAR(4000) ,
            @ValidColumn BIT ,
            @ValidationType SMALLINT = 1 ,
            @FieldList NVARCHAR(4000);
				
        DECLARE @R TABLE ( T INTEGER );
        DECLARE @TableCount TABLE ( RowCounts BIGINT );
        DECLARE @TableExists TABLE ( Exist BIT );
        DECLARE @TableMatGroup TABLE ( MATKL NVARCHAR(5) );
        SET @Startdate = GETDATE();
		
        SELECT  @srcName = srcName ,
                @srcSrtCode = srcSrtCode ,
                @srcVendorCode = srcVendorCode ,
                @srcTableName = srcTableName ,
                @srcClient = srcClient ,
                @srcSystem = srcSystem
        FROM    cfSource
        WHERE   srcID = @srcID;
        SET @DBNAme = @srcSrtCode + @srcVendorCode + '_' + @srcName + '_'
            + CAST(@srcID AS NVARCHAR);
        SET @RunTimeDefaultSource = @DBNAme + '.dbo';
	/* In case Matgroup used is different from srcID*/
	--SET @SQL = 'SELECT TOP 1 MaterialGroup FROM ' + @DBName + '..SourceFileExtract'
	--INSERT INTO @TableMatGroup EXEC (@SQL)
	--SELECT @srcVendorCode = MATKL FROM @TableMatGroup

        SET @trgTrtCode = @srcSrtCode;
        IF @srcSrtCode = 'DC'
            BEGIN
                SET @trgTrtCode = 'VPL';
            END;
	
        IF @SAPClientDataDB = ''
            BEGIN
                SELECT  @SAPClientDataDB = trdDatabase
                FROM    dbo.cfTargetData
                WHERE   trdSystem = @srcSystem
                        AND trdClient = @srcClient;
            END;
	
        SET @SQL = 'SELECT 1 FROM ' + @DBNAme
            + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''SourceFileExtract''';
        INSERT  INTO @TableExists
                EXEC ( @SQL
                    );	
        IF ISNULL(@@ROWCOUNT, 0) = 0
            BEGIN
                PRINT '';
                PRINT 'spProcess20ValidateSAPData Says: Cannot find Table '
                    + @DBNAme + '..SourceFileExtract ';
                PRINT '';
                PRINT 'Please complete spProcess10SourceFileProcessing 1st !';
                RETURN;
            END;
        SET @SQL = '';

        PRINT CAST('' AS CHAR(21)) + CAST(GETDATE() AS CHAR(30))
            + ' - Duration: '
            + CAST(DATEDIFF(SECOND, @Startdate, GETDATE()) AS NVARCHAR);	
        PRINT '-------------------------------------------------------------------------';
        PRINT ' 1A. Create Target Structures based on Dg db';
        PRINT '-------------------------------------------------------------------------';


        SELECT  trgID ,
                trgName ,
                trgMultiplierField ,
                trgLongDescription ,
                trgWhereClause ,
                trgActive ,
                trgSeq ,
                trgCheckSum ,
                tbfID ,
                tblTable ,
                fldID ,
                fldName ,
                fldShortDescription ,
                tbfSeq ,
                dtyTechnicalName ,
                fldLengthMax ,
                fldPrecision ,
                tbfRequired ,
                dgdb_new.dbo.RegExReplace(tblPK, '{TblPreFix}|' + trgName + '.',
                                      '') AS tblPK ,
                0 AS Done
        INTO    #SAPTableFields
        FROM    dbo.cfTarget
                INNER JOIN dgdb_new..[Table] ON trgName = tblTable
                INNER JOIN dgdb_new.dbo.TableField ON dgdb_new.dbo.TableField.tbfTblID = dgdb_new.dbo.[Table].tblID
                INNER JOIN dgdb_new.dbo.Field ON dgdb_new.dbo.Field.fldID = dgdb_new.dbo.TableField.tbfFldID
                INNER JOIN dgdb_new..DataType ON dgdb_new.dbo.DataType.dtyCode = dgdb_new.dbo.Field.fldDtyCode
        WHERE   trgTrtCode = @trgTrtCode
                AND trgActive = 1
                AND trgImportData = 1
        ORDER BY trgSeq ASC ,
                tbfSeq;

		/*CREATE TARGET TABLE STRUCTURE(s) BASED ON DGDB*/		
        WHILE ( SELECT DISTINCT TOP 1
                        tblTable
                FROM    #SAPTableFields
                WHERE   Done = 0
              ) IS NOT NULL
            BEGIN
                SELECT DISTINCT TOP 1
                        @trgName = tblTable
                FROM    #SAPTableFields
                WHERE   Done = 0;

                BEGIN TRY
                    EXEC dgdb_new..spGenGenerateTableFromTableFields @DbName,
                        @trgName, 'tt', 1, @SQL;
					--SET @SQL = 'ALTER TABLE ' + @DbName  + '.dbo.tt' + @trgName + ' ADD zID INTEGER NULL; '
					--EXEC (@SQL)
                END TRY

                BEGIN CATCH
                    PRINT CAST('ERROR' AS CHAR(21)) + ERROR_MESSAGE()
                        + ' - EXEC dgdb_new..spGenGenerateTableFromTableFields '
                        + @DBNAme + ',' + @trgName + ',''tt''';
                END CATCH;
                
                SET @SQL = @SQL + 'tt' + @trgName + ', ';

                UPDATE  #SAPTableFields
                SET     Done = 1
                WHERE   tblTable = @trgName;
                SET @trgNamePrevious = @trgName;

            END;

        PRINT '';
        PRINT CAST('' AS CHAR(1)) + '******* ' + @SAPClientDataDB
            + ' ********';
        PRINT '';		
        PRINT CAST('' AS CHAR(21)) + 'Created target Tables (' + @SQL
            + ') in ' + @DBNAme;


		/* CREATE RunTime Tables from DGDB*/
        EXEC dgdb_new.dbo.spGenCopyTablesToOtherDB @DBNAme, 'RunTime%';

		--/*Create MMChanges*/
		--EXEC dgdb_new..spGenDropOrCheckTable 'MMChanges',@DBName,1							
		--SET @SQL = '
		--			CREATE TABLE ' + @DBNAme + '.dbo.MMChanges
		--				( zID INTEGER,
		--				  MATNR NVARCHAR(40) ,
		--				  SAPTable NVARCHAR(40) ,
		--				  SAPField NVARCHAR(40) ,
		--				  NewValue NVARCHAR(4000) ,
		--				  OldValue NVARCHAR(4000) ,
		--				  Created DATETIME ,
		--				  CreatedBy NVARCHAR(40) ,
		--				  zSrcID INT )		
		--			CREATE INDEX IX_zID ON ' + @DBNAme + '.dbo.MMChanges(zID)
		--			'
		--EXEC (@SQL)

        PRINT '';
        PRINT CAST('' AS CHAR(21)) + CAST(GETDATE() AS CHAR(30))
            + ' - Duration: '
            + CAST(DATEDIFF(SECOND, @Startdate, GETDATE()) AS NVARCHAR);	
        PRINT '-------------------------------------------------------------------------';
        PRINT ' 2. Update SourceTargetMap';
        PRINT '-------------------------------------------------------------------------';

        INSERT  INTO dbo.cfSourceTargetMap
                ( stmTrgID ,
                  stmTrgName ,
                  stmTrgTbfID ,
                  stmTrgTbfSeq ,
                  stmSrmFldID ,
                  stmSrmSQLMAP ,
                  stmTrgFldid ,
                  stmTrgFldName ,
                  stmTrgFldShortDescription ,
                  stmTrgDtyTechnicalName ,
                  stmTrgFldLengthMax ,
                  stmTrgFldPrecision ,
                  stmTrgTbfRequired
	            )
                SELECT  trgID , -- int
                        trgName , -- nvarchar(50)
                        tbfID ,
                        tbfSeq ,
                        0 ,
                        '' ,
                        fldID ,
                        fldName ,
                        fldShortDescription ,
                        dtyTechnicalName ,
                        fldLengthMax ,
                        fldPrecision ,
                        tbfRequired
                FROM    #SAPTableFields
                        LEFT OUTER JOIN cfSourceTargetMap ON stmTrgID = trgID
                                                             AND stmTrgTbfID = tbfID
                WHERE   stmID IS NULL;
        SET @RowCount = @@ROWCOUNT;
        PRINT '';	
        PRINT CAST('' AS CHAR(12))
            + CAST(dgdb_new.dbo.fnReturnThousandSeperator(@RowCount) AS CHAR(12))
            + ' New Fields inserted into cfSourceTargetMap';

		   /*To DO, DO updates when DGDB changes*/
		   --UPDATE cfSourceTargetMap SET FROM #SAPTableFields Inner JOIN cfSourceTargetMap ON stmTrgID = TrgID AND stmTbfID = TbfID

        PRINT '';
        PRINT CAST('' AS CHAR(21)) + CAST(GETDATE() AS CHAR(30))
            + ' - Duration: '
            + CAST(DATEDIFF(SECOND, @Startdate, GETDATE()) AS NVARCHAR);	
        PRINT '-------------------------------------------------------------------------';
        PRINT ' 3. Update MAP with DGDB rules WHERE no Override (stmSrmDGDBOverride = 0)';
        PRINT '-------------------------------------------------------------------------';

        UPDATE  dbo.cfSourceTargetMap
        SET     stmSrmSQLMAP = rulSQLshould
        FROM    cfSourceTargetMap
                INNER JOIN #SAPTableFields ON stmTrgID = trgID
                                              AND stmTrgTbfID = tbfID
                INNER JOIN dgdb_new..TableField ON dgdb_new.dbo.TableField.tbfID = #SAPTableFields.tbfID
                INNER JOIN dgdb_new..TableFieldRule ON dgdb_new.dbo.TableFieldRule.tfrTbfID = dgdb_new.dbo.TableField.tbfID
                INNER JOIN dgdb_new.dbo.FieldRule ON dgdb_new.dbo.FieldRule.flrID = dgdb_new.dbo.TableFieldRule.tfrFlrID
                INNER JOIN dgdb_new.dbo.[Rule] ON dgdb_new.dbo.[Rule].rulID = dgdb_new.dbo.FieldRule.flrRulID
        WHERE   ISNULL(rulSQLShould, '') <> ''
                AND stmSrmSQLMAP <> rulSQLShould
                AND stmSrmDGDBOverride = 0;
        SET @RowCount = @@ROWCOUNT;

        PRINT '';	
        PRINT CAST('' AS CHAR(12))
            + CAST(dgdb_new.dbo.fnReturnThousandSeperator(@RowCount) AS CHAR(12))
            + ' ' + 'Rules updated in cfSourceTargetMap';

	
        PRINT '';
        PRINT CAST('' AS CHAR(21)) + CAST(GETDATE() AS CHAR(30))
            + ' - Duration: '
            + CAST(DATEDIFF(SECOND, @Startdate, GETDATE()) AS NVARCHAR);	
        PRINT '-------------------------------------------------------------------------';
        PRINT ' 4. INSERT DATA INTO SAP Target Tables';
        PRINT '-------------------------------------------------------------------------';
        RAISERROR ('',10,1) WITH NOWAIT;

	
        IF @trgTrtCode = 'VPL'
            BEGIN
		/*Create Table MaterialID to ghet the SAPnumber*/
                EXEC dgdb_new..spGenDropOrCheckTable 'ttMaterialID', @DBName, 1;							
                SET @SQL = 'CREATE TABLE ' + @DBNAme
                    + '.dbo.ttMaterialID (PK NVARCHAR(60), Material NVARCHAR(40), MATNR_EXT NVARCHAR(40),MATNR_INT NVARCHAR(18),MATKL NVARCHAR(40))';	
                EXEC (@SQL);
                SET @SQL = 'INSERT INTO ' + @DBNAme
                    + '..ttMaterialID SELECT DISTINCT PK,Material, MATNR_EXT,MATNR_INT, MATKL FROM '
                    + @DBNAme + '..SourceFileExtract INNER JOIN '
                    + @SAPClientDataDB + '.dbo.MARA ON MFRPN = PK '; 
                SET @SQL = @SQL + ' INNER JOIN ' + @SAPClientDataDB
                    + '.dbo.MATERIALID ON MATNR = MATNR_INT  AND MATNR_EXT = Material WHERE MATKL IN (SELECT DISTINCT MaterialGroup FROM '
                    + @DBNAme + '..SourceFileExtract);CREATE INDEX IX_PK on '
                    + @DBNAme + '.dbo.ttMaterialID(MATNR_INT); ';				
                EXEC (@SQL);			
                PRINT '';
            END;

	/* Create ttSTXL from MARA-zLongDescription*/
        PRINT 'STXL                 Material Master long Description';
        PRINT '-------------------------------------------------------';	
        EXEC dbo.srSTXL_TargetIns_WIP @dbName, @SrcID;


	/*Create TMP Table for Mapping Rules to Target*/
        SELECT  stmID ,
                stmTrgName ,
                stmTrgFldid ,
                stmTrgFldName ,
                stmSrmFldID ,
                stmTrgFldShortDescription ,
                REPLACE(REPLACE(stmSrmSQLMAP, '{Source}.', @DBNAme + '..'),
                        '{tblPrefix}', 'tt') AS stmSrmSQLMAP ,
                stmSrmType ,
                stmUpdateBeforeSAPData ,
                0 AS Done
        INTO    #cfSourceTargetMap
        FROM    dbo.cfSourceTargetMap
                INNER JOIN dbo.cfTarget ON stmTrgID = trgID
        WHERE   ISNULL(stmSrmSQLMAP, '') <> ''
                AND trgTrtCode = @trgTrtCode
                AND trgActive = 1
                AND trgImportData = 1
        ORDER BY [stmTrgTbfSeq];

        SELECT DISTINCT
                trgSeq ,
                trgID ,
                trgName ,
                trgMultiplierField ,
                trgLongDescription ,
                REPLACE(REPLACE(REPLACE(trgWhereClause, '{Source}.',
                                        @DBNAme + '..'), '{tblPrefix}', 'tt'),
                        '{SAPDB}', @SAPClientDataDB) AS trgWhereClause ,
                trgCheckSum ,
                0 AS Done
        INTO    #TargetTables
        FROM    #SAPTableFields
        WHERE   trgActive = 1
                AND trgName NOT IN ( 'M', 'MMChanges', 'STXL' );

	/*Check for BundleComponents-STPO*/
        SET @SQL = 'SELECT 1 FROM ' + @DBNAme
            + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''BundleItem''';
        DELETE  FROM @TableExists;
        INSERT  INTO @TableExists
                EXEC ( @SQL
                    );	
        IF ISNULL(@@ROWCOUNT, 0) = 0
            BEGIN
                DELETE  FROM #TargetTables
                WHERE   trgName = 'STPO';
            END;
        DELETE  FROM @TableExists;

        BEGIN TRY	
            WHILE ( SELECT TOP 1
                            1
                    FROM    #TargetTables
                    WHERE   Done = 0
                    ORDER BY trgSeq
                  ) = 1
                BEGIN
                    SELECT TOP 1
                            @trgName = trgName ,
                            @trgID = trgID ,
                            @trgMultiplierField = trgMultiplierField ,
                            @trgLongDescription = trgLongDescription ,
                            @trgWhereClause = trgWhereClause ,
                            @trgCheckSum = trgCheckSum
                    FROM    #TargetTables
                    WHERE   Done = 0
                    ORDER BY trgSeq;		
					
				--IF @TrgName = 'STPO'
				--	BEGIN
				--		SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''BundleItem'''
				--		DELETE FROM @TableExists
				--		INSERT INTO @TableExists EXEC (@SQL)	
				--		IF ISNULL(@@ROWCOUNT,0) <> 0 
				--			BEGIN
				--				GOTO NEXT_TABLE
				--			END 		
				--	END
									
				/* INSERT STATEMENTS*/
                    SET @SQL = '';
                    SET @SQL2 = '';
                    WHILE ( SELECT TOP 1
                                    1
                            FROM    #cfSourceTargetMap
                            WHERE   Done = 0
                                    AND stmSrmType = 'I'
                                    AND stmTrgName = @trgName
                          ) = 1
                        BEGIN				
                            SELECT TOP 1
                                    @stmID = stmID ,
                                    @stmTrgName = stmTrgName ,
                                    @stmTrgFldID = stmTrgFldid ,
                                    @stmTrgFldName = stmTrgFldName ,
                                    @stmSrmFldID = stmSrmFldID ,
                                    @stmSrmSQLMAP = stmSrmSQLMAP
                            FROM    #cfSourceTargetMap
                            WHERE   Done = 0
                                    AND stmSrmType = 'I'
                                    AND stmTrgName = @trgName;	
                            SET @ValidColumn = 1;							
                            BEGIN TRY -- test if field from general map exists in local sourcefile extract										
                                SET @SQL3 = 'DECLARE @T NVARCHAR(4000); SELECT TOP 1 @T = '
                                    + @stmSrmSQLMAP + ' FROM ' + @DBNAme
                                    + '..SourceFileExtract';
									--PRINT @SQL3
									--IF @stmSrmSQLMAP = 'FreightUplift' BEGIN PRINT @SQL3 end
									--DELETE FROM @TableTest
									--INSERT INTO @TableTest EXEC (@SQL3)								
                                EXEC (@SQL3);				
                                SET @ValidColumn = 1;								
                            END TRY

                            BEGIN CATCH
                                IF @stmSrmSQLMAP NOT IN ( 'sloc', 'AuspValue',
                                                          'ConditionType',
                                                          'AuspATINN', 'whnum',
                                                          'TaxSalesOrg',
                                                          'TaxCountry' )	--MARD/AUSP/KONP
                                    AND @stmSrmSQLMAP NOT IN ( 'ChildMaterial',
                                                              'StockNonStock',
                                                              'Quantity',
                                                              'ParentMaterial',
                                                              'UOM' ) -- STPO Bundle componenets
                                    BEGIN
                                        SET @ValidColumn = 0;
                                    END;
                            END CATCH;

                            IF @ValidColumn = 1
                                BEGIN
                                    SET @SQL = @SQL + @stmTrgFldName + ', ';
                                    SET @SQL2 = @SQL2 + @stmSrmSQLMAP + ', ';						
                                END;						
                            UPDATE  #cfSourceTargetMap
                            SET     Done = 1
                            WHERE   stmTrgFldName = @stmTrgFldName
                                    AND stmTrgName = @trgName
                                    AND stmID = @stmID;					
                        END;
					
					
                    SET @SQL = 'INSERT INTO ' + @DBNAme + '..tt' + @trgName
                        + '(zID,' + dgdb_new.dbo.RegExReplace(@SQL, ', $', '')
                        + ') SELECT ROW_NUMBER() OVER(ORDER BY SourceFileExtract.zSource DESC),'
                        + dgdb_new.dbo.RegExReplace(@SQL2, ', $', '') + ' FROM  '
                        + @DBNAme + '..SourceFileExtract';
						
						/*Check if data needs to be multiplied based on | seperator in data*/				
                    IF @trgMultiplierField <> ''
                        BEGIN							
                            SET @trgMultiplierFieldFrom = dgdb_new.dbo.RegExMatch('[a-z]+',
                                                              @trgMultiplierField,
                                                              1);						
                            SET @trgMultiplierFieldTo = dgdb_new.dbo.RegExMatch('(?<=\=)[]a-z]+',
                                                              @trgMultiplierField,
                                                              1);					
                            SET @SQL = dgdb_new.dbo.RegExReplace(@SQL,
                                                             @trgMultiplierFieldTo
                                                             + ',',
                                                             'A.StringValue,')
                                + ' CROSS APPLY dgdb_new.dbo.fnSplitStringToTable('
                                + @trgMultiplierFieldTo + ',''|'') A';								
                            SET @trgMultiplierFieldFrom = '';
                            SET @trgMultiplierFieldTo = '';
                        END;

						/*Check for 2nd sepearor data needs to be multiplied based on | seperator in data*/						
                    IF dgdb_new.dbo.RegExIsMatch('\|', @trgMultiplierField, 1) = 1
                        BEGIN		
                            SET @trgMultiplierField = SUBSTRING(@trgMultiplierField,
                                                              PATINDEX('%|%',
                                                              @trgMultiplierField),
                                                              40);				
                            SET @trgMultiplierFieldFrom = dgdb_new.dbo.RegExMatch('[a-z]+',
                                                              @trgMultiplierField,
                                                              1);								
                            SET @trgMultiplierFieldTo = dgdb_new.dbo.RegExMatch('(?<=\=)[]a-z]+',
                                                              @trgMultiplierField,
                                                              1);								
                            SET @SQL = dgdb_new.dbo.RegExReplace(@SQL,
                                                             @trgMultiplierFieldTo
                                                             + ',',
                                                             'B.StringValue,')
                                + ' CROSS APPLY dgdb_new.dbo.fnSplitStringToTable('
                                + @trgMultiplierFieldTo + ',''|'') B';										
                            SET @trgMultiplierFieldFrom = '';
                            SET @trgMultiplierFieldTo = '';
                        END;
					
                    IF @trgName = 'MARD'
                        BEGIN							
                            EXEC dgdb_new..spGenDropOrCheckTable 'Sloc', @DBName,
                                1;								
                            SET @SQL3 = 'CREATE TABLE ' + @DBNAme
                                + '.dbo.Sloc (Sloc NVARCHAR(4),Werks NVARCHAR(4));INSERT INTO '
                                + @DBNAme
                                + '.dbo.Sloc SELECT DISTINCT Value as LGORT,tsrVar2 AS WERKS FROM dgdb_new.dbo.fnSelectTableFieldSetHeaderValues(''MARD.LGORT'') WHERE tsrVar2 IN ( SELECT DISTINCT WERKS FROM '
                                + @DBNAme + '..ttMARC);';
                            EXEC (@SQL3);							
                            IF @@RowCount = 0
                                BEGIN
                                    SELECT  'No Storage locations set-up for the plants in use for this SourceID (T320)' AS [MARD ISSUE !!!];
                                END;							
                            SET @SQL = @SQL + ' INNER JOIN ' + @DBNAme
                                + '.dbo.Sloc ON StringValue = WERKS ';							
                        END;
                    IF @trgName = 'MLAN'
                        BEGIN							
                            EXEC dgdb_new..spGenDropOrCheckTable 'TaxRecords',
                                @DBName, 1;												
                            SET @SQL3 = 'SELECT Distinct TVKWZ.VKORG as TaxSalesOrg, T001W.LAND1 as TaxCountry,TATYP INTO '
                                + @DBNAme + '.dbo.TaxRecords FROM '
                                + @SAPClientDataDB + '..TVKWZ INNER JOIN  '
                                + @SAPClientDataDB + '..T001W ';
                            SET @SQL3 = @SQL3
                                + 'ON TVKWZ.WERKS = T001W.WERKS INNER JOIN '
                                + @SAPClientDataDB
                                + '..TSTL ON T001W.LAND1 = TSTL.TALND WHERE TVKWZ.VKORG IN ';
                            SET @SQL3 = @SQL3 + '(SELECT DISTINCT VKORG FROM '
                                + @DBNAme
                                + '..ttMVKE) GROUP BY TVKWZ.VKORG, T001W.LAND1, TSTL.LFDNR, TSTL.TATYP HAVING TSTL.LFDNR = N''1''';					
                            EXEC (@SQL3);							
                            SET @SQL = @SQL + ' CROSS APPLY ' + @DBNAme
                                + '.dbo.TaxRecords ';							
                        END;
                    IF @trgName = 'KONP'
                        BEGIN							
                            EXEC dgdb_new..spGenDropOrCheckTable 'DienConditions',
                                @DBName, 1;												
                            SET @SQL3 = 'CREATE TABLE ' + @DBNAme
                                + '.dbo.DienConditions (ConditionType NVARCHAR(4)); INSERT INTO  '
                                + @DBNAme
                                + '.dbo.DienConditions VALUES (''ZW01'');INSERT INTO  '
                                + @DBNAme
                                + '.dbo.DienConditions VALUES (''ZWCP'');';								
                            EXEC (@SQL3);					
                            SET @SQL = @SQL + ' CROSS APPLY ' + @DBNAme
                                + '.dbo.DienConditions ';										
                        END;
                    IF @trgName = 'AUSP'
                        BEGIN							
                            EXEC dgdb_new..spGenDropOrCheckTable 'AUSP', @DBName,
                                1;								
                            SET @SQL3 = 'CREATE TABLE ' + @DBNAme
                                + '.dbo.ausp (AuspValue NVARCHAR(40),AuspATINN CHAR(12)); INSERT INTO  '
                                + @DBNAme
                                + '.dbo.AUSP VALUES (''MATERIAL_ROTATABLE'',''0000000006'');INSERT INTO  '
                                + @DBNAme
                                + '.dbo.AUSP VALUES (''MATERIAL_PRICE_PROTECT'',''0000000005'');';
                            EXEC (@SQL3);							
                            SET @SQL = @SQL + ' CROSS APPLY ' + @DBNAme
                                + '.dbo.AUSP ';							
                        END;

                    IF @trgName = 'MLGN'
                        BEGIN							
                            EXEC dgdb_new..spGenDropOrCheckTable 'whnum', @DBName,
                                1;								
                            SET @SQL3 = 'SELECT Distinct B.LGNUM AS whnum, A.WERKS INTO '
                                + @DBNAme + '.dbo.whnum FROM ' + @DBNAme
                                + '..ttMARC A INNER JOIN ' + @SAPClientDataDB
                                + '..T320 B ON A.WERKS = B.WERKS';
                            EXEC (@SQL3);							
                            SET @SQL = @SQL
                                + ' CROSS APPLY dgdb_new.dbo.fnSplitStringToTable(Plant, ''|'') A INNER JOIN '
                                + @DBNAme
                                + '.dbo.whnum  ON StringValue = werks';
                        END;

                    SET @SQL = @SQL + ' ' + @trgWhereClause
                        + CASE WHEN @trgWhereClause = ''''
                               THEN ' WHERE zStatusFlag >= 0 '
                               ELSE ''
                          END;
		--IF @trgname = 'STPO' BEGIN PRINT @SQL end
                    BEGIN TRY		-- INSERT INTO Target Table	
                        SET @Startdate2 = GETDATE();		
                        EXECUTE (@SQL);
                        SET @RowCount = @@ROWCOUNT;
                        IF @RowCount = 0
                            BEGIN									
                                GOTO NEXT_TABLE;
                            END;

                        PRINT CAST(@trgName AS CHAR(21)) + @trgLongDescription;
                        PRINT '-------------------------------------------------------';							
                        SET @Message = CAST(@trgName AS CHAR(12))
                            + CAST(dgdb_new.dbo.fnReturnThousandSeperator(@RowCount) AS CHAR(12))
                            + ' ' + CAST(@SQL AS NVARCHAR(2200));  
                        PRINT @Message;
                    END TRY


                    BEGIN CATCH
                        PRINT CAST(@trgName AS CHAR(12)) + 'ERROR:     '
                            + ERROR_MESSAGE() + '  - ' + @SQL;
							/* ABORT WHEN INSERT ISSUE*/
                        SELECT  'INSERT ERROR, Process Aborted, please review Messages';
                        GOTO Clean_UP;
                    END CATCH;

						/*Apply indexes to SAP & tt Tables*/
                    BEGIN TRY
                        SET @SQL = 'SELECT *,0 as Done INTO #TMP FROM dgdb_PL..cfTargetTableIndex WHERE triTrgName = '''
                            + @trgName + ''';';
                        SET @SQL = @SQL
                            + 'DECLARE @ID INT,@Fields as NVARCHAR(1000), @Unique NVARCHAR(10), @SQL NVARCHAR(2500);';
                        SET @SQL = @SQL
                            + 'WHILE (SELECT TOP 1 1 FROM #TMP WHERE done = 0) = 1 BEGIN ';
                        SET @SQL = @SQL
                            + 'SELECT TOP 1 @ID = triID, @Fields = triIndexFields,@Unique = CASE WHEN triUnique = 1 THEN ''UNIQUE'' ELSE '''' END FROM #TMP WHERE done = 0;';
							--SET @SQL = @SQL + 'SET @SQL = ''CREATE '' + @Unique + '' INDEX IX_'' + REPLACE(@Fields,'','',''_'') + '' ON '+ @dbName + '..SAP_' + @trgName + '('' + @Fields + '')'';'  
							--SET @SQL = @SQL + 'EXEC (@SQL); '
                        SET @SQL = @SQL
                            + 'SET @SQL = ''CREATE '' + @Unique + '' INDEX IX_'' + REPLACE(@Fields,'','',''_'') + '' ON '
                            + @DBNAme + '..tt' + @trgName
                            + '('' + @Fields + '')'';';  
                        SET @SQL = @SQL
                            + 'EXEC (@SQL); UPDATE #TMP SET Done = 1 WHERE triID =  @ID ; END';								
                        EXEC (@SQL);
                    END TRY

                    BEGIN CATCH
                        PRINT CAST(@trgName AS CHAR(12)) + 'ERROR:     '
                            + ERROR_MESSAGE() + '  - ' + @SQL;
                    END CATCH;
		
				/* UPDATE STATEMENTS, Beforre SAP DATA */					
					/*Turn of Data type property validation for very large files (eg CISCO)*/
                    PRINT CAST('' AS CHAR(22)) + ' * Update Rules' + ' ('
                        + CAST(DATEDIFF(SECOND, @Startdate2, GETDATE()) AS NVARCHAR)
                        + ' secs for insert)';
                    SET @SQL = 'SELECT COUNT(*) FROM  ' + @DBNAme + '..tt'
                        + @trgName; 
                    DELETE  FROM @R;
                    INSERT  INTO @R
                            EXEC ( @SQL
                                );
                    SELECT  @RowCount = T
                    FROM    @R;
                    IF @RowCount > 80000
                        AND @DGValidation = 9
                        BEGIN
                            SET @ValidationType = 0;
                        END;
	
                    WHILE ( SELECT TOP 1
                                    1
                            FROM    #cfSourceTargetMap
                            WHERE   Done = 0
                                    AND stmSrmType = 'U'
                                    AND stmTrgName = @trgName
                                    AND stmUpdateBeforeSAPData = 1
                          ) = 1
                        BEGIN
                            SELECT TOP 1
                                    @stmID = stmID ,
                                    @stmTrgName = stmTrgName ,
                                    @stmTrgFldID = stmTrgFldid ,
                                    @stmTrgFldName = stmTrgFldName ,
                                    @stmTrgFldShortDescription = stmTrgFldShortDescription ,
                                    @stmSrmFldID = stmSrmFldID ,
                                    @stmSrmSQLMAP = REPLACE(stmSrmSQLMAP,
                                                            '{srcID}', @srcID)
                            FROM    #cfSourceTargetMap
                            WHERE   Done = 0
                                    AND stmSrmType = 'U'
                                    AND stmTrgName = @trgName
                                    AND stmUpdateBeforeSAPData = 1;
			
                            IF PATINDEX('UPDATE%', @stmSrmSQLMAP) > 0
                                OR PATINDEX('EXEC%', @stmSrmSQLMAP) > 0
                                BEGIN
                                    SET @SQL = '';
                                END;
                            ELSE
                                BEGIN
                                    SET @SQL = 'UPDATE ' + @DBNAme + '..tt'
                                        + @trgName + ' SET ' + @stmTrgFldName
                                        + ' = '; 
                                END;
	
							--SET @SQL = @SQL + dgdb_new.dbo.RegExReplace(dgdb_new.dbo.RegExReplace(@stmSrmSQLMAP,'{SAPDB}',@SAPClientDataDB),'{dbName}',@DBName)						
                            SET @SQL = @SQL
                                + dgdb_new.dbo.RegExReplace(dgdb_new.dbo.RegExReplace(dgdb_new.dbo.RegExReplace(@stmSrmSQLMAP,
                                                              '{VendorTable}',
                                                              @srcTableName),
                                                              '{SAPDB}',
                                                              @SAPClientDataDB),
                                                        '{dbName}', @DBNAme);						

							/*SKIP zINSAP for better performance or testing*/
                            IF @CheckIfInSap = 0
                                AND ( @stmTrgFldName = 'zInSAP' )
                                BEGIN 
                                    BREAK; 
                                END;
                            BEGIN TRY
                                SET @Startdate2 = GETDATE();
                                EXECUTE (@SQL);
                                PRINT CAST(@trgName AS CHAR(12))
                                    + CAST(dgdb_new.dbo.fnReturnThousandSeperator(@@RowCOUNT) AS CHAR(12))
                                    + ' '
                                    + CAST(@stmTrgFldName + '('
                                    + @stmTrgFldShortDescription + ') ('
                                    + CAST(DATEDIFF(SECOND, @Startdate2,
                                                    GETDATE()) AS NVARCHAR)
                                    + ' secs)' AS CHAR(52)) + ' - '
                                    + CAST(@SQL AS NVARCHAR(500));  																
                            END TRY
                            BEGIN CATCH
                                IF NOT PATINDEX('%StockRot%', @SQL) > 0
                                    AND NOT PATINDEX('%PriceProt%', @SQL) > 0
                                    AND NOT PATINDEX('%FreightUplif%', @SQL) > 0
                                    BEGIN
                                        PRINT CAST('****' AS CHAR(10))
                                            + 'ERROR:     '
                                            + CAST(ERROR_MESSAGE() AS CHAR(51))
                                            + '  - ' + @SQL;
                                    END;																																	
                            END CATCH;
			
                            UPDATE  #cfSourceTargetMap
                            SET     Done = 1
                            WHERE   stmTrgFldName = @stmTrgFldName
                                    AND stmTrgName = @trgName
                                    AND stmID = @stmID;
                        END;

					/*DELETE STATEMENTS REMOVE RECORDS FROM ttTABLE*/

                    WHILE ( SELECT TOP 1
                                    1
                            FROM    #cfSourceTargetMap
                            WHERE   Done = 0
                                    AND stmSrmType = 'D'
                                    AND stmTrgName = @trgName
                                    AND stmUpdateBeforeSAPData = 1
                          ) = 1
                        BEGIN
                            SELECT TOP 1
                                    @stmID = stmID ,
                                    @stmTrgName = stmTrgName ,
                                    @stmTrgFldID = stmTrgFldid ,
                                    @stmTrgFldName = stmTrgFldName ,
                                    @stmTrgFldShortDescription = stmTrgFldShortDescription ,
                                    @stmSrmFldID = stmSrmFldID ,
                                    @stmSrmSQLMAP = REPLACE(stmSrmSQLMAP,
                                                            '{srcID}', @srcID)
                            FROM    #cfSourceTargetMap
                            WHERE   Done = 0
                                    AND stmSrmType = 'D'
                                    AND stmTrgName = @trgName
                                    AND stmUpdateBeforeSAPData = 1;								
							
                            SET @SQL = dgdb_new.dbo.RegExReplace(dgdb_new.dbo.RegExReplace(dgdb_new.dbo.RegExReplace(@stmSrmSQLMAP,
                                                              '{VendorTable}',
                                                              @srcTableName),
                                                              '{SAPDB}',
                                                              @SAPClientDataDB),
                                                             '{dbName}',
                                                             @DBNAme);

							
                            BEGIN TRY
                                SET @Startdate2 = GETDATE();
                                EXECUTE (@SQL);
                                SET @RowCount = @@ROWCOUNT;
                                IF @RowCount > 0
                                    BEGIN
                                        PRINT '';
                                        PRINT CAST(@trgName AS CHAR(12))
                                            + CAST(dgdb_new.dbo.fnReturnThousandSeperator(@RowCount) AS CHAR(12))
                                            + ' '
                                            + CAST(@stmTrgFldName + '('
                                            + @stmTrgFldShortDescription
                                            + ') ('
                                            + CAST(DATEDIFF(SECOND,
                                                            @Startdate2,
                                                            GETDATE()) AS NVARCHAR)
                                            + ' secs)' AS CHAR(52)) + ' - '
                                            + CAST(@SQL AS NVARCHAR(500));  																
                                        PRINT '';
                                    END;
                                ELSE
                                    BEGIN										
                                        PRINT CAST(@trgName AS CHAR(12))
                                            + CAST(dgdb_new.dbo.fnReturnThousandSeperator(@RowCount) AS CHAR(12))
                                            + ' '
                                            + CAST(@stmTrgFldName + '('
                                            + @stmTrgFldShortDescription
                                            + ') ('
                                            + CAST(DATEDIFF(SECOND,
                                                            @Startdate2,
                                                            GETDATE()) AS NVARCHAR)
                                            + ' secs)' AS CHAR(52)) + ' - '
                                            + CAST(@SQL AS NVARCHAR(500));  																										
                                    END;

                            END TRY
                            BEGIN CATCH								
                                PRINT CAST('****' AS CHAR(10)) + 'ERROR:     '
                                    + CAST(ERROR_MESSAGE() AS CHAR(51))
                                    + '  - ' + @SQL;								
                            END CATCH;
			
                            UPDATE  #cfSourceTargetMap
                            SET     Done = 1
                            WHERE   stmTrgFldName = @stmTrgFldName
                                    AND stmTrgName = @trgName
                                    AND stmID = @stmID;
                        END;

				/*GET SAP Data*/
                    IF @trgName NOT IN ( 'MPOP' )
                        BEGIN
                            EXEC dgdb_new..spGenGenerateTableFromTableFields @DbName = @DbName, -- nvarchar(40)
                                @TableName = @trgName, -- nvarchar(40)
                                @tblPrefix = '', -- nvarchar(40)
                                @ProcessType = 4, -- Return FieldList For GOV Fields only
                                @FieldList = @FieldList OUTPUT;--OUTPUT Paramater
	
                            SET @FieldList = 'A.' + REPLACE(@FieldList, ', ',', A.')
                                + ', A.zCheckSum';

                            BEGIN TRY
                                SET @trgSAPName = 'SAP_' + @trgName;
                                EXEC dgdb_new..spGenDropOrCheckTable @trgSAPName,
                                    @DBName, 1;						-- drop SAP tables
					
								/* TODO !CREATE SAP TABLES, will be replaced by generic process without specifing tables individually  */
                                SET @SQL = 'SELECT Material, C.zID, CAST(0 AS BIT) AS zChange, '
                                    + @FieldList + ' INTO ' + @DBNAme
                                    + '.dbo.' + @trgSAPName + ' FROM '
                                    + @SAPClientDataDB + '..' + @trgName; 
                                SET @SQL = @SQL + ' A INNER JOIN ' + @DBNAme
                                    + '..ttMaterialID B ON A.MATNR = B.MATNR_INT';
                                SET @SQL = @SQL + ' INNER JOIN ' + @DBNAme
                                    + '..tt' + @trgName
                                    + ' C ON B.Material = C.MATNR ';
				--CASE WHEN A.zCheckSum <> C.zCheckSUm THEN 1 ELSE 0 END as 
                                SELECT  @SQL = CASE @trgName
                                                 WHEN 'MARA'
                                                 THEN @SQL
                                                      + ' AND B.MATKL = A.MATKL;'
                                                 WHEN 'MARM'
                                                 THEN @SQL
                                                      + ' AND A.MEINH = C.MEINH;'
                                                 WHEN 'MARC'
                                                 THEN @SQL
                                                      + ' AND A.WERKS = C.WERKS;'
                                                 WHEN 'MARD'
                                                 THEN @SQL
                                                      + ' AND A.WERKS = C.WERKS AND A.LGORT = C.LGORT;'
                                                 WHEN 'MBEW'
                                                 THEN @SQL
                                                      + ' AND A.BWKEY = C.BWKEY;'
                                                 WHEN 'MVKE'
                                                 THEN @SQL
                                                      + ' AND A.VKORG = C.VKORG;'
                                                 WHEN 'MLAN'
                                                 THEN @SQL
                                                      + ' AND A.ALAND = C.ALAND;'
                                                 WHEN 'MLGN'
                                                 THEN @SQL
                                                      + ' AND A.LGNUM = C.LGNUM;'
                                                 WHEN 'EINA'
                                                 THEN @SQL
                                                      + ' AND A.LIFNR = C.LIFNR;'
                                                 WHEN 'EINE'
                                                 THEN 'SELECT Material, C.zID,CAST(0 AS BIT) AS zChange, '
                                                      + @FieldList + ' INTO '
                                                      + @DBNAme + '.dbo.'
                                                      + @trgSAPName + ' FROM '
                                                      + @SAPClientDataDB
                                                      + '..EINA D INNER JOIN '
                                                      + @SAPClientDataDB
                                                      + '..EINE A ON D.INFNR = A.INFNR INNER JOIN '
                                                      + @DBNAme
                                                      + '..ttMaterialID B ON D.MATNR = B.MATNR_INT INNER JOIN '
                                                      + @DBNAme
                                                      + '..ttEINE C ON D.LIFNR = C.zLIFNR AND B.Material = C.zMATNR AND CAST(A.WERKS as NVARCHAR) = CAST(C.WERKS  as NVARCHAR);'
                                                 WHEN 'AUSP'
                                                 THEN 'SELECT Material, C.zID,CAST(0 AS BIT) AS zChange,  '
                                                      + @FieldList
                                                      + ',A.MATNR,A.LIFNR  INTO '
                                                      + @DBNAme + '.dbo.'
                                                      + @trgSAPName + ' FROM '
                                                      + @SAPClientDataDB
                                                      + '..AUSP A INNER JOIN '
                                                      + @DBNAme
                                                      + '..ttMaterialID B ON A.MATNR = B.MATNR_INT INNER JOIN '
                                                      + @DBNAme
                                                      + '..ttAUSP C ON A.LIFNR = C.zLIFNR AND B.Material = C.zMATNR AND A.ATINN = C.ATINN;'
                                                 WHEN 'EORD'
                                                 THEN @SQL
                                                      + ' AND A.WERKS = C.WERKS AND A.LIFNR = C.LIFNR;'
                                                 WHEN 'KONP'
                                                 THEN 'SELECT Material, C.zID,CAST(0 AS BIT) AS zChange,  '
                                                      + @FieldList
                                                      + ',A.zMATNR,A.zVKORG  INTO '
                                                      + @DBNAme + '.dbo.'
                                                      + @trgSAPName + ' FROM '
                                                      + @SAPClientDataDB
                                                      + '..KONP A INNER JOIN '
                                                      + @DBNAme
                                                      + '..ttMaterialID B ON A.zMATNR = B.MATNR_INT INNER JOIN '
                                                      + @DBNAme
                                                      + '..ttKONP C ON A.zVKORG = C.zVKORG AND B.Material = C.zMATNR AND A.KSCHL = C.KSCHL AND A.KONWA = C.KONWA;'
                                                 WHEN 'STKO'
                                                 THEN 'SELECT DISTINCT MATNR_EXT AS Material, B.zID,CAST(0 AS BIT) AS zChange,  '
                                                      + @FieldList
                                                      + ',A.zMATNR,A.zSTLAN INTO '
                                                      + @DBNAme + '.dbo.'
                                                      + @trgSAPName + ' FROM '
                                                      + @SAPClientDataDB
                                                      + '..STKO A INNER JOIN '
                                                      + @SAPClientDataDB
                                                      + '..MATERIALID M ON A.zMATNR = M.MATNR_INT INNER JOIN '
                                                      + @DBNAme
                                                      + '..ttSTKO B ON B.zMATNR = M.MATNR_EXT AND A.WRKAN = B.WRKAN;'
                                                 WHEN 'STPO'
                                                 THEN 'SELECT DISTINCT AM.MATNR_EXT AS Material, B.zID,CAST(0 AS BIT) AS zChange,  '
                                                      + @FieldList
                                                      + ',A.zWERKS,an.MATNR_EXT AS ParentMatnr INTO '
                                                      + @DBNAme + '.dbo.'
                                                      + @trgSAPName + ' FROM '
                                                      + @SAPClientDataDB
                                                      + '..STPO A INNER JOIN '
                                                      + @SAPClientDataDB
                                                      + '..MATERIALID AM ON A.IDNRK = AM.MATNR_INT INNER JOIN '
                                                      + @SAPClientDataDB
                                                      + '..MATERIALID AN ON A.ZMATNR = AN.MATNR_INT INNER JOIN '
                                                      + @DBNAme
                                                      + '..ttSTPO B ON B.IDNRK = AM.MATNR_EXT AND B.zMATNR = AN.MATNR_EXT AND A.zWERKS = B.zWerks;'
                                                 WHEN 'ZOTCSD0102'
                                                 THEN 'SELECT zID,CAST(0 AS BIT) AS zChange,A.* INTO '
                                                      + @DBNAme + '.dbo.'
                                                      + @trgSAPName + ' FROM '
                                                      + @SAPClientDataDB
                                                      + '..' + @trgName
                                                      + ' A INNER JOIN '
                                                      + @DBNAme + '..tt'
                                                      + @trgName
                                                      + ' B ON A.MATNR + A.MVGR1 + A.PRODH + A.LIFNR + A.RESELLER + A.EndUser + A.VKORG  + A.VRF_FIELD = B.MATNR + B.MVGR1 + B.PRODH + B.LIFNR + B.RESELLER + B.EndUser + B.VKORG  + B.VRF_FIELD WHERE A.VRF_DELETE_FLAG <> ''X'''
                                                 ELSE ''
                                               END;																
					--IF @trgname IN ('STPO') BEGIN  PRINT @SQL 	END						
                                EXEC (@SQL);															
                            END TRY

                            BEGIN CATCH
                                PRINT CAST('ERROR' AS CHAR(21))
                                    + ERROR_MESSAGE() + ' SQL: ' + @SQL;
                            END CATCH;
                        END;
											
				/* UPDATE STATEMENTS, After SAP DATA*/	
                    WHILE ( SELECT TOP 1
                                    1
                            FROM    #cfSourceTargetMap
                            WHERE   Done = 0
                                    AND stmSrmType = 'U'
                                    AND stmTrgName = @trgName
                                    AND stmUpdateBeforeSAPData = 0
                          ) = 1
                        BEGIN
                            SELECT TOP 1
                                    @stmID = stmID ,
                                    @stmTrgName = stmTrgName ,
                                    @stmTrgFldID = stmTrgFldid ,
                                    @stmTrgFldName = stmTrgFldName ,
                                    @stmTrgFldShortDescription = stmTrgFldShortDescription ,
                                    @stmSrmFldID = stmSrmFldID ,
                                    @stmSrmSQLMAP = REPLACE(stmSrmSQLMAP,
                                                            '{srcID}', @srcID)
                            FROM    #cfSourceTargetMap
                            WHERE   Done = 0
                                    AND stmSrmType = 'U'
                                    AND stmTrgName = @trgName
                                    AND stmUpdateBeforeSAPData = 0;
			
                            IF PATINDEX('UPDATE%', @stmSrmSQLMAP) > 0
                                OR PATINDEX('EXEC%', @stmSrmSQLMAP) > 0
                                BEGIN
                                    SET @SQL = '';
                                END;
                            ELSE
                                BEGIN
                                    SET @SQL = 'UPDATE ' + @DBNAme + '..tt'
                                        + @trgName + ' SET ' + @stmTrgFldName
                                        + ' = '; 
                                END;
	
                            SET @SQL = @SQL
                                + dgdb_new.dbo.RegExReplace(dgdb_new.dbo.RegExReplace(dgdb_new.dbo.RegExReplace(@stmSrmSQLMAP,
                                                              '{SAPDB}',
                                                              @SAPClientDataDB),
                                                              '{VendorTable}',
                                                              @srcTableName),
                                                        '{dbName}', @DBNAme);

							/*SKIP zINSAP for better performance or testing*/
                            IF @CheckIfInSap = 0
                                AND ( @stmTrgFldName = 'zInSAP' )
                                BEGIN 
                                    BREAK; 
                                END;
                            BEGIN TRY
                                SET @Startdate2 = GETDATE();
                                EXECUTE (@SQL);
                                PRINT CAST(@trgName AS CHAR(12))
                                    + CAST(dgdb_new.dbo.fnReturnThousandSeperator(@@RowCOUNT) AS CHAR(12))
                                    + ' '
                                    + CAST(@stmTrgFldName + '('
                                    + @stmTrgFldShortDescription + ') ('
                                    + CAST(DATEDIFF(SECOND, @Startdate2,
                                                    GETDATE()) AS NVARCHAR)
                                    + ' secs)' AS CHAR(52)) + ' - '
                                    + CAST(@SQL AS NVARCHAR(500));  																
                            END TRY
                            BEGIN CATCH
                                IF NOT PATINDEX('%StockRot%', @SQL) > 0
                                    AND NOT PATINDEX('%PriceProt%', @SQL) > 0
                                    AND NOT PATINDEX('%FreightUplif%', @SQL) > 0
                                    BEGIN
                                        PRINT CAST('****' AS CHAR(10))
                                            + 'ERROR:     '
                                            + CAST(ERROR_MESSAGE() AS CHAR(51))
                                            + '  - ' + @SQL;
                                    END;																																	
                            END CATCH;
			
                            UPDATE  #cfSourceTargetMap
                            SET     Done = 1
                            WHERE   stmTrgFldName = @stmTrgFldName
                                    AND stmTrgName = @trgName
                                    AND stmID = @stmID;
                        END;

					/* SEt zCheckSUM, Gnerate an MD5 CHECKSUM representing uniqueness all SAP fields combined */					
                    IF @trgCheckSum = 1
                        BEGIN
                            SET @Startdate2 = GETDATE();
                            DELETE  FROM @TableCount;
                            INSERT  INTO @TableCount
                                    EXEC dgdb_new..spSysGenerateCheckSum @dbName,
                                        @trgName, 'tt', @SrcID;								
                            SELECT TOP 1
                                    @RowCount = RowCounts
                            FROM    @TableCount;
                            PRINT CAST(@trgName AS CHAR(12))
                                + CAST(dgdb_new.dbo.fnReturnThousandSeperator(@RowCount) AS CHAR(12))
                                + ' '
                                + CAST('zCheckSum (Unique ID relevant Fields on tt) ('
                                + CAST(DATEDIFF(SECOND, @Startdate2, GETDATE()) AS NVARCHAR)
                                + ' secs)' AS CHAR(52)) + ' - '
                                + CAST('EXEC dgdb_new..spSysGenerateCheckSum '
                                + @DBNAme + ',' + @trgName + ', tt' AS NVARCHAR(4000));  
                            IF EXISTS ( SELECT  *
                                        FROM    [cfSourceFieldChangeOverride]
                                                INNER JOIN dgdb_new..[TableField] ON sfoTbfID = tbfID
                                                INNER JOIN dgdb_new..[Table] ON dgdb_new.dbo.[Table].tblID = dgdb_new.dbo.TableField.tbfTblID
                                        WHERE   tblTable = @trgName
                                                AND sfoSrcID = @srcID )
                                BEGIN
                                    SET @Startdate2 = GETDATE();
                                    DELETE  FROM @TableCount;
                                    INSERT  INTO @TableCount
                                            EXEC dgdb_new..spSysGenerateCheckSum @dbName,
                                                @trgName, 'SAP_', @SrcID;								
                                    SELECT TOP 1
                                            @RowCount = RowCounts
                                    FROM    @TableCount;
                                    PRINT CAST(@trgName AS CHAR(12))
                                        + CAST(dgdb_new.dbo.fnReturnThousandSeperator(@RowCount) AS CHAR(12))
                                        + ' '
                                        + CAST('zCheckSum (Unique ID relevant Fields on SAP) ('
                                        + CAST(DATEDIFF(SECOND, @Startdate2, GETDATE()) AS NVARCHAR)
                                        + ' secs)' AS CHAR(52)) + ' - '
                                        + CAST('EXEC dgdb_new..spSysGenerateCheckSum '
                                        + @DBNAme + ',' + @trgName + ', SAP_' AS NVARCHAR(4000));  
                                END;
                        END;
		
						/*UPDATE zINSAP & zChange, zActive*/				
                    BEGIN TRY
								/*zINsap*/					
                        SET @SQL = 'UPDATE ' + @DBNAme + '..tt' + @trgName
                            + ' Set zinSAP = 1 FROM ' + @DBNAme + '..tt'
                            + @trgName + ' A INNER JOIN ' + @DBNAme + '..SAP_'
                            + @trgName + ' B ON A.zID = B.zID; ';				
                        SET @Startdate2 = GETDATE();	
                        EXEC (@SQL);				
                        SET @Message = CAST(@trgName AS CHAR(12))
                            + CAST(dgdb_new.dbo.fnReturnThousandSeperator(@@RowCOUNT) AS CHAR(12))
                            + ' '
                            + CAST('zInSAP  (Already in SAP) ('
                            + CAST(DATEDIFF(SECOND, @Startdate2, GETDATE()) AS NVARCHAR)
                            + ' secs)' AS CHAR(52)) + ' - '
                            + CAST(@SQL AS CHAR(500));  
                        RAISERROR(@Message,10,1) WITH NOWAIT;
								/*zChange*/
								/*tt*/
                        SET @SQL = 'UPDATE ' + @DBNAme + '..tt' + @trgName
                            + ' Set zChange = 1 FROM ' + @DBNAme + '..tt'
                            + @trgName + ' A INNER JOIN ' + @DBNAme + '..SAP_'
                            + @trgName
                            + ' B ON A.zID = B.zID WHERE A.zCheckSum <> B.zCheckSum AND (A.zActive = 1 OR A.zINSAP = 1); ';				
                        SET @Startdate2 = GETDATE();	
                        EXEC (@SQL);										
								/*SAP_*/
                        SET @SQL = 'UPDATE ' + @DBNAme + '..SAP_' + @trgName
                            + ' Set zChange = 1 FROM ' + @DBNAme + '..tt'
                            + @trgName + ' A INNER JOIN ' + @DBNAme + '..SAP_'
                            + @trgName
                            + ' B ON A.zID = B.zID WHERE A.zCheckSum <> B.zCheckSum AND (A.zActive = 1 OR A.zINSAP = 1); ';				
                        SET @Startdate2 = GETDATE();	
                        EXEC (@SQL);	
                        SET @Message = CAST(@trgName AS CHAR(12))
                            + CAST(dgdb_new.dbo.fnReturnThousandSeperator(@@RowCOUNT) AS CHAR(12))
                            + ' '
                            + CAST('zChange (Already in SAP, Changed Records) ('
                            + CAST(DATEDIFF(SECOND, @Startdate2, GETDATE()) AS NVARCHAR)
                            + ' secs)' AS CHAR(52)) + ' - '
                            + CAST(@SQL AS CHAR(500));  																
                        RAISERROR(@Message,10,1) WITH NOWAIT;											
		
								/*zActive*/
                        SET @SQL = 'UPDATE ' + @DBNAme + '..tt' + @trgName
                            + ' Set zActive = 0 FROM ' + @DBNAme + '..tt'
                            + @trgName
                            + ' A WHERE ISNULL(A.zINSAP,0) = 1 AND A.zActive = 1; ';				
                        SET @Startdate2 = GETDATE();	
                        EXEC (@SQL);
                        SET @SQL = 'SELECT COUNT(*) AS T FROM ' + @DBNAme
                            + '..tt' + @trgName + ' WHERE zActive = 1';				
                        DELETE  FROM @R;
                        INSERT  INTO @R
                                EXEC ( @SQL
                                    );
                        SELECT  @RowCount = T
                        FROM    @R;									
                        SET @Message = CAST(@trgName AS CHAR(12))
                            + CAST(dgdb_new.dbo.fnReturnThousandSeperator(@RowCount) AS CHAR(12))
                            + ' '
                            + CAST('zActive (New Records)  ('
                            + CAST(DATEDIFF(SECOND, @Startdate2, GETDATE()) AS NVARCHAR)
                            + ' secs)' AS CHAR(52)) + ' - '
                            + CAST(@SQL AS CHAR(500));  								
                        RAISERROR(@Message,10,1) WITH NOWAIT;	
								
								/*zChange *ttMARA - Long Description Changes*/
                        IF @trgName = 'MARA'
                            BEGIN										
                                SET @SQL = 'UPDATE ' + @DBNAme
                                    + '..ttMARA SET zChange =  CASE WHEN ISNULL(M.zINSAP,0) = 1 THEN 1 ELSE 0 END FROM '
                                    + @DBNAme + '..ttSTXL S INNER JOIN '
                                    + @DBNAme
                                    + '..ttMARA M ON M.MATNR = S.TDNAME WHERE S.zActive =1 OR s.zChange = 1; ';				
                                SET @Startdate2 = GETDATE();	
                                EXEC (@SQL);										
                                SET @Message = CAST(@trgName AS CHAR(12))
                                    + CAST(dgdb_new.dbo.fnReturnThousandSeperator(@@RowCOUNT) AS CHAR(12))
                                    + ' '
                                    + CAST('zChange (long Description Changes) ('
                                    + CAST(DATEDIFF(SECOND, @Startdate2,
                                                    GETDATE()) AS NVARCHAR)
                                    + ' secs)' AS CHAR(52)) + ' - '
                                    + CAST(@SQL AS CHAR(500));  																
                                RAISERROR(@Message,10,1) WITH NOWAIT;											
                            END;
															
                    END TRY

                    BEGIN CATCH
                        PRINT CAST(@trgName AS CHAR(12)) + 'ERROR:     '
                            + ERROR_MESSAGE() + '  - ' + @SQL;
                    END CATCH;						
		
					/* Data validation*/	
                    SET @Startdate2 = GETDATE();
                    IF @ValidateDataFlag = 1
                        AND @trgName <> 'MARM'  --Skip marm validation for the time being ( Todo !)
                        BEGIN						
                            PRINT CAST('' AS CHAR(12))
                                + '-------------------------------------------------------------------------------------------------';
                            SET @Message = CAST('' AS CHAR(22))
                                + 'DATA VALIDATION ISSUES:';
                            RAISERROR(@Message,10,1) WITH NOWAIT;
                            SELECT  @BatchNumber = trgDGDBBanID
                            FROM    cfTarget
                            WHERE   trgName = @trgName;
                            IF @BatchNumber <> 0
                                BEGIN
                                    SET @SQL = '
									EXEC dgdb_new..spGenRuleProcessing_001 @Type = ''BATCH'', -- nvarchar(20)
												@Number = '
                                        + CAST(@BatchNumber AS NVARCHAR)
                                        + ', -- int
												@ValidationType = '
                                        + CAST(@ValidationType AS NVARCHAR)
                                        + ', -- smallint
																	-- Specify 0 for Data governance existing data (execute the TableField & Process rules)  
																	-- Specify 1 for Data governance existing data & Datatype/FieldLength Validation & CheckTable
																	-- Specify 2 for Datatype/FieldLength Validation Only
																	-- (For Data conversion) Specify 2 for Datatype/FieldLength Validation Only	(Will check DataType, Required & Min/Max Length of The Field Value)	
												@UpdateSourceTable = 1, -- smallint
												@zActive = 0, -- bit
												@ValueUpdate = 0, -- bit
												@CheckCheckTable = 1, -- bit
												@RunDescription = '''', -- nvarchar(255)
												@DebugMode = 0, -- bit
												@RunTimeDefaultSource = '''
                                        + CAST(@RunTimeDefaultSource AS NVARCHAR(400))
                                        + ''', -- nvarchar(4000)
												@RunTimeDefaultTblPrefix = ''tt'', -- nvarchar(4000)
												@IssueDB = ''' + @DBNAme
                                        + ''', -- nvarchar(40)
												@SAPdb = '''
                                        + CAST(@SAPClientDataDB AS NVARCHAR)
                                        + '''		
											';
                                    IF @trgName = 'STPO'
                                        BEGIN
                                            PRINT @SQL;
                                        END;
				--		PRINT @SQL
                                    EXEC (@SQL);
                                    SET @SQL = 'SELECT rtiTableName + '' - '' + rtiFieldName + '' ('' + fldShortDescription + '')'' as Item,rtiComment as Description,COUNT(*) as Records  FROM ';
                                    SET @SQL = @SQL + +@DBNAme
                                        + '..RunTimeIssue INNER JOIN dgdb_new..Field ON rtiFieldName = fldName ';
                                    SET @SQL = @SQL
                                        + ' WHERE rtiTableName = ''tt'
                                        + @trgName
                                        + ''' GROUP BY rtiTableName,rtiFieldName, fldShortDescription, rtiComment HAVING Count(*) > 0';							
                                    EXEC dbo.spGenPrintMessage @SQL;
                                END;
                            PRINT CAST('' AS CHAR(22))
                                + 'Validation completed in '
                                + CAST(DATEDIFF(SECOND, @Startdate2, GETDATE()) AS NVARCHAR)
                                + ' secs';
                        END;
				
                    PRINT CAST('' AS CHAR(22)) + '-------------------------';				
				
                    BEGIN TRY
                        BEGIN
							IF @trgName = 'EORD' BEGIN EXEC spSYSExecSourceProc @srcID, '251' END

							/*UPDATE TABLE MMChanges*/
                            SET @SQL = '
										DECLARE @fldName NVARCHAR(40),@SQL NVARCHAR(1000),@SQL2 NVARCHAR(1000),@fldDtyCode NVARCHAR(4);

										SELECT *,0 AS Done INTO #CheckFields FROM dbo.vDgdb_SapFields WHERE tblTable = ''' + @trgName + ''' ORDER BY tbfseq
										UPDATE #CheckFields SET tbfCheckDigit = softbfCheckDigit FROM #CheckFields INNER JOIN dbo.cfSourceFieldChangeOverride ON sfoSrcID = ' + CAST(@srcID AS NVARCHAR) + ' AND sfoTbfID = tbfID
										DELETE FROM #CheckFields WHERE tbfCheckDigit = 0
										Select * INTO #NewData FROM ' + @DBNAme + '..tt' + @trgName + ' WHERE zChange = 1
										Select * INTO #CurrentData FROM '+ @DBNAme + '..SAP_' + @trgName + ' WHERE zChange = 1

										SET @SQL2 = CASE WHEN ''' + @trgName + ''' IN (''EINE'',''KONP'',''AUSP'',''STKO'',''STPO'') THEN ''A.zMATNR'' ELSE ''A.MATNR'' END

										WHILE (SELECT TOP 1 1 FROM #CheckFields WHERE done = 0) = 1

											BEGIN
												SELECT TOP 1 @fldName = fldName,@fldDtyCode = fldDtyCode FROM #CheckFields WHERE done = 0

												SET @SQL =	''					
															INSERT INTO '
                                + @DBNAme + '..ttMMChanges SELECT '''''
                                + @trgName
                                + ''''', '''''' + @fldName + '''''', '' + @SQL2 + '', B.'' + @fldName + '', A.'' + @fldName + '', SYSDATETIME(), SYSTEM_USER, A.zID, '''''
                                + CAST(@srcID AS NVARCHAR) + ''''' 
															,A.zSource, 0 as zDGError, 1 AS zChange,0 AS zActive FROM #NewData A INNER JOIN #CurrentData B on A.zID = B.zID WHERE ''

												IF @fldDtyCode IN (''VARC'',''CHAR'')
													BEGIN
														SET @SQL = @SQL + ''ISNULL(A.'' + @fldName + '','''''''') <> ISNULL(B.'' + @fldName + '','''''''')''
													END
												ELSE
													BEGIN
														SET @SQL = @SQL + ''ISNULL(A.'' + @fldName + '',0) <> ISNULL(B.'' + @fldName + '',0)''

													END
												EXEC (@SQL)	
																										
												UPDATE #CheckFields SET done = 1 WHERE fldname = @fldName						

											END
	
										DROP TABLE #CheckFields
										DROP TABLE #CurrentData
										DROP TABLE #NewData
									';						
                            IF @trgName IN ('STPO','STKO')
                                BEGIN
                                    PRINT @SQL;
                                END;
                            EXEC (@SQL);

                            SET @SQL = 'UPDATE ' + @DBNAme + '..tt' + @trgName
                                + ' SET zActive = 0 WHERE ISNULL(zInSAP,0) = 1';
                            EXEC(@SQL);						
                            SET @SQL = 'UPDATE ' + @DBNAme + '..tt' + @trgName
                                + ' SET zActive = 0 WHERE ISNULL(zDGError,0) = 1'; 
                            EXEC(@SQL);
                            IF @trgName = 'EINE'
                                BEGIN
                                    SET @SQL = 'UPDATE ' + @DBNAme
                                        + '..ttEINA SET zActive = 1 FROM '
                                        + @DBNAme + '..ttEINA A INNER JOIN '
                                        + @DBNAme
                                        + '..ttEINE E ON A.MATNR = E.zMATNR AND A.LIFNR = E.zLIFNR  WHERE E.zActive = 1';
                                    EXEC(@SQL);						
                                    SET @SQL = 'UPDATE ' + @DBNAme
                                        + '..ttEINA SET zChange = 1 FROM '
                                        + @DBNAme + '..ttEINA A INNER JOIN '
                                        + @DBNAme
                                        + '..ttEINE E ON A.MATNR = E.zMATNR AND A.LIFNR = E.zLIFNR  WHERE E.zChange = 1';
                                    EXEC(@SQL);				
                                END;
                            IF @trgName = 'MLAN'
                                BEGIN
                                    SET @SQL = 'UPDATE ' + @DBNAme
                                        + '..ttMLAN SET zActive = 1 FROM '
                                        + @DBNAme + '..ttMLAN A INNER JOIN '
                                        + @DBNAme
                                        + '..ttMVKE E ON A.zIDMVKE = E.zID WHERE E.zActive = 1';
                                    EXEC(@SQL);						
                                    SET @SQL = 'UPDATE ' + @DBNAme
                                        + '..ttMLAN SET zChange = 1 FROM '
                                        + @DBNAme + '..ttMLAN A INNER JOIN '
                                        + @DBNAme
                                        + '..ttMVKE E ON A.zIDMVKE = E.zID WHERE E.zChange = 1';
                                    EXEC(@SQL);				
                                END;
                        END;
                    END TRY

                    BEGIN CATCH	--no Issues zdgError has not been created
                        BEGIN
                            SET @SQL = '';
                        END;
                    END CATCH;

                    SET @SQL = 'SELECT COUNT(*) AS T FROM ' + @DBNAme + '..tt'
                        + @trgName + ' WHERE zActive = 1';				
                    DELETE  FROM @R;
                    INSERT  INTO @R
                            EXEC ( @SQL
                                );
                    SELECT  @RowCount = T
                    FROM    @R;
                    SET @Message = CAST('' AS CHAR(12))
                        + CAST(dgdb_new.dbo.fnReturnThousandSeperator(@RowCount) AS CHAR(11))
                        + ' New Record(s) ' + CAST(@trgName AS CHAR(12))
                        + CAST('' AS CHAR(21)) + CAST(GETDATE() AS CHAR(30))
                        + ' - Total Duration: '
                        + CAST(DATEDIFF(SECOND, @Startdate, GETDATE()) AS NVARCHAR);		
                    RAISERROR(@Message,10,1) WITH NOWAIT;
                    PRINT '';
                    PRINT '';
                    PRINT '';
                    NEXT_TABLE:
                    IF @stmTrgName = 'MARD'
                        BEGIN
                            EXEC dgdb_new..spGenDropOrCheckTable 'Sloc', @DBName,
                                1;							
                        END;
                    IF @trgName = 'MLAN'
                        BEGIN	
                            EXEC dgdb_new..spGenDropOrCheckTable 'TaxRecords',
                                @DBName, 1;							
                        END;
                    IF @trgName = 'AUSP'
                        BEGIN	
                            EXEC dgdb_new..spGenDropOrCheckTable 'ausp', @DBName,
                                1;							
                        END;
                    IF @trgName = 'KONP'
                        BEGIN	
                            EXEC dgdb_new..spGenDropOrCheckTable 'DienConditions',
                                @DBName, 1;							
                        END;
                    IF @trgName = 'MLGN'
                        BEGIN	
                            EXEC dgdb_new..spGenDropOrCheckTable 'whnum', @DBName,
                                1;							
                        END;
                    UPDATE  #TargetTables
                    SET     Done = 1
                    WHERE   trgName = @trgName;			
                END;
        END TRY

        BEGIN CATCH
            IF @@TRANCOUNT > 0
                BEGIN
                    ROLLBACK;
                    PRINT 'ROLLBACK TRANSACTIONS';
                END;
            PRINT '';
            PRINT '***************************************************************************';
            PRINT CAST(@trgName + ' - ERROR ' AS CHAR(21)) + ERROR_MESSAGE()
                + ' - SQL:' + @SQL;
            PRINT '***************************************************************************';
            PRINT '';
        END CATCH;
		
	
	/* Create Additional Tax records based on cfOrganisation*/	
	--SET @SQL = 'INSERT INTO ' + @dbname + '..ttMLAN SELECT MATNR , orgCtrTaxCode ,TAXM1 ,TAXIM ,zMATKL ,zVKORG ,zSrcID ,zID ,zIDMVKE ,zSource ,zINSAP ,zActive ,zDGError ,zRtjID ,zDGID ,zCheckSum ,zChange FROM ' + @dbname + '..ttMLAN INNER JOIN cfOrganisation ON orgCtrCode = ALANd WHERE orgCtrCode <> orgCtrTaxCode'	
	--EXEC (@SQL)
	--PRINT CAST('MLAN' AS CHAR(12)) + CAST(dgdb_new.dbo.fnReturnThousandSeperator(@@RowCOUNT) AS CHAR(12)) + ' Additional Tax Records - ' + CAST(@SQL AS NVARCHAR(2200))  
        SET @SQL = 'SELECT 1 FROM ' + @DBNAme
            + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''SAP_MBEW''';	
        INSERT  INTO @TableExists
                EXEC ( @SQL
                    );	
        IF ISNULL(@@ROWCOUNT, 0) = 0
            BEGIN
                SET @SQL = 'NO SAP_MBEW';
                PRINT @SQL;
            END;
	
        IF @trgTrtCode = 'VPL'
            BEGIN	
                IF @SQL <> 'NO SAP_MBEW'
                    BEGIN
				/*UPDATE MBEW VERPR - STDC BASED on EINE*/
                        SET @SQL = '
					/*SELECT Records where PIR Effective price has changed*/
					PRINT ''''
			
					SELECT B.MATNR ,
							B.BWKEY ,
							S.STPRS AS STPRS_Old ,
							S.VERPR AS VERPR_Old ,
							B.STPRS ,
							B.VERPR ,
							b.zID ,
							b.zSrcID ,
							B.zSource,
							B.LBKUM,
							zPriceProtection					
						INTO #TMP
						FROM ' + @DBNAme + '..ttMMChanges C
							INNER JOIN ' + @DBNAme
                            + '..ttEINE E ON E.zID = C.zID
							INNER JOIN ' + @DBNAme
                            + '..ttMBEW B ON E.zMATNR = B.MATNR
																	   AND E.WERKS = B.BWKEY
							INNER JOIN ' + @DBNAme
                            + '..SAP_MBEW S ON S.zID = B.zID
						WHERE ISNULL(B.zDGError,0) = 0						
							AND FieldName = ''EFFPR''			
					PRINT CAST(''EINE'' AS CHAR(12)) + CAST(dgdb_new.dbo.fnReturnThousandSeperator(@@RowCOUNT) AS CHAR(11)) + CAST(''Effective Price PriceChanges'' AS CHAR(30))
					PRINT ''''

					/* SET zChange on ttMBEW */
					UPDATE ' + @DBNAme + '..ttMBEW SET zChange = 1 FROM '
                            + @DBNAme
                            + '..ttMBEW B INNER JOIN #TMP T ON B.zID = T.zID

					/* INSERT Records in ttMMChanges*/
					DECLARE @Field TABLE (Field NVARCHAR(40))
					INSERT INTO @FIeld VALUES (''VERPR'')
					INSERT INTO @FIeld VALUES (''STPRS'')
			
					/*STPRS */
					INSERT INTO ' + @DBNAme + '..ttMMChanges
							( TableName ,
							  FieldName ,
							  MATNR ,
							  OldValue ,
							  NewValue ,
							  zCreated ,
							  zCreatedBy ,
							  zID ,
							  zSrcID ,
							  zSource ,
							  zDGError ,
							  zChange ,
							  zActive
							)
						SELECT 
							 ''MBEW'' , -- TableName - nvarchar(40)
							  ''STPRS'' , -- FieldName - nvarchar(40)
							  MATNR , -- MATNR - nvarchar(40)
							  STPRS_Old , -- OldValue - nvarchar(4000)
							  STPRS , -- NewValue - nvarchar(4000)
							  GETDATE() , -- zCreated - datetime
							  SYSTEM_USER , -- zCreatedBy - nvarchar(40)
							  zID , -- zID - numeric
							  zSrcID , -- zSrcID - numeric
							  zSource , -- zSource - nvarchar(40)
							  0 , -- zDGError - bit
							  1 , -- zChange - bit
							  0  -- zActive - bit
							FROM #TMP CROSS JOIN @Field

					/*VERPRS */
					INSERT INTO ' + @DBNAme
                            + '..ttMMChanges
							( TableName ,
							  FieldName ,
							  MATNR ,
							  OldValue ,
							  NewValue ,
							  zCreated ,
							  zCreatedBy ,
							  zID ,
							  zSrcID ,
							  zSource ,
							  zDGError ,
							  zChange ,
							  zActive
							)
						SELECT 
							 ''MBEW'' , -- TableName - nvarchar(40)
							  ''VERPR'' , -- FieldName - nvarchar(40)
							  MATNR , -- MATNR - nvarchar(40)
							  VERPR_Old , -- OldValue - nvarchar(4000)
							  VERPR , -- NewValue - nvarchar(4000)
							  GETDATE() , -- zCreated - datetime
							  SYSTEM_USER , -- zCreatedBy - nvarchar(40)
							  zID , -- zID - numeric
							  zSrcID , -- zSrcID - numeric
							  zSource , -- zSource - nvarchar(40)
							  0 , -- zDGError - bit
							  1 , -- zChange - bit
							  0  -- zActive - bit
							FROM #TMP CROSS JOIN @Field
							WHERE LBKUM = 0 OR ( LBKUM = 1 AND zPriceProtection = 1 AND VERPR_Old > VERPR)
					DROP TABLE #TMP
				';
                        EXEC (@SQL);
                    END;

		/* Create ttM */
                PRINT CAST('M' AS CHAR(12))
                    + CAST(dgdb_new.dbo.fnReturnThousandSeperator(0) AS CHAR(11))
                    + 'ttM statistics: ';
                EXEC dbo.srM_TargetIns @dbName; 			

		/*DO SOME CHECKS*/	

                SET @SQL = '
			SELECT DISTINCT ''Check SupplierName'', ''' + @srcSystem
                    + ''' AS SAPSystem,''' + @srcName
                    + ''' AS SourceName,				
					A.lifnr ,
					ISNULL(Name1,''MISSING !!!!'') AS SAPSupplierName,
					C.WAERS as Currency,
					LAND1 as Country,
					KTOKK as AccountGroup
				FROM ' + @DBNAme + '..ttEINA A
					LEFT OUTER JOIN ' + @SAPClientDataDB
                    + '..lfa1 B ON A.LIFNR = B.LIFNR
					LEFT OUTER JOIN ' + @SAPClientDataDB
                    + '..lfm1 C ON A.LIFNR = C.LIFNR AND c.EKORG = ''1000''
			';		
                EXEC (@SQL);
                PRINT '';
			/* Report New PH*/
                SET @SQL = 'SELECT 1 FROM cfPH WHERE CONVERT(NVARCHAR,AddedON,112) >= CONVERT(NVARCHAR,SYSDATETIME(),112) AND zSource = '''
                    + CAST(@srcID AS NVARCHAR) + '''';
                DELETE  FROM @R;
                INSERT  INTO @R
                        EXEC ( @SQL
                            );
                IF @@ROWCOUNT > 0
                    BEGIN
                        SET @SQL = 'SELECT ''New Product Hierarchies'',* FROM cfPH WHERE CONVERT(NVARCHAR,AddedON,112) >= CONVERT(NVARCHAR,SYSDATETIME(),112) AND zSource = '''
                            + CAST(@srcID AS NVARCHAR) + '''';
                        IF @SilentMode = 0
                            BEGIN
                                EXEC (@SQL);
                            END;
                        PRINT CAST('' AS CHAR(12))
                            + CAST(dgdb_new.dbo.fnReturnThousandSeperator(@@RowCOUNT) AS CHAR(11))
                            + '********************* New PH Found, PLEASE CHECK ttT179T where zActive = 1 FOR DETAIL !!! ********************';
                    END;
                ELSE
                    BEGIN
                        PRINT '';
                        PRINT CAST('' AS CHAR(21))
                            + ' No changes to Product Hierarchy';
                        PRINT '';
                    END;

				/*Summarize RunTimeLog if any issues found*/
                SET @SQL = 'SELECT 1 AS T FROM ' + @DBNAme + '..RunTimeIssue';				
                DELETE  FROM @R;
                INSERT  INTO @R
                        EXEC ( @SQL
                            );
                IF @@ROWCOUNT > 0
                    BEGIN
                        SET @SQL = '
						SELECT 
							rtlCount AS Issues,
							''Issues Found Validating SAP Data'' as Message,
							CASE WHEN rulDGErrorState = 1 THEN ''ERROR'' ELSE ''Warning'' END AS [TYPE],
							rtlSource,
							tblTable,
							tblShortDescription,
							fldname,
							fldShortDescription,						
							rtlRulShortDescription,
							rulname,
							rulShortDescription,
							ISNULL(tbfValidationComment,'''') AS tbfValidationComment,
							rtlSQL,
								[rtlUser] ,
								[rtlDate] ,
								[rtlDuration] 
							FROM ' + @DBNAme
                            + '..[RunTimeLog]
								INNER JOIN dgdb_new..[Rule] ON rtlkey1 = rulid
								INNER JOIN dgdb_new..FieldRule ON dgdb_new.dbo.FieldRule.flrRulID = dgdb_new.dbo.[Rule].rulID
								INNER JOIN dgdb_new..TableFieldRule ON dgdb_new.dbo.TableFieldRule.tfrFlrID = dgdb_new.dbo.FieldRule.flrID
								INNER JOIN dgdb_new..Field ON dgdb_new.dbo.Field.fldID = dgdb_new.dbo.FieldRule.flrFldID
								INNER JOIN dgdb_new..TableField ON dgdb_new.dbo.TableField.tbfFldID = dgdb_new.dbo.Field.fldID AND dgdb_new.dbo.TableField.tbfID = dgdb_new.dbo.TableFieldRule.tfrTbfID
								INNER JOIN dgdb_new..[Table] ON dgdb_new.dbo.[Table].tblID = dgdb_new.dbo.TableField.tbfTblID
								LEFT OUTER JOIN dgdb_pl..cfTarget ON tblTable = trgName
							WHERE  rtlCount > 0 AND rtlKey2 = tblTable AND rtlKey3 = fldName
								AND rtlRulShortDescription NOT LIKE ''%DGerror%''
								AND rtlRulShortDescription <> ''Check Combination of Main MM Fields !!!''
							ORDER BY trgSeq,tbfseq
						';
                        IF @SilentMode = 0
                            BEGIN
                                EXEC (@SQL);
                            END;
                        PRINT CAST('' AS CHAR(12))
                            + CAST(dgdb_new.dbo.fnReturnThousandSeperator(@@RowCOUNT) AS CHAR(11))
                            + '********************* Issues Found, PLEASE CHECK RunTimeIssues FOR DETAIL !!! ********************';
                    END;
                ELSE
                    BEGIN
                        PRINT '';
                        PRINT CAST('' AS CHAR(21)) + ' No run TimeIssues';
                        PRINT '';
                    END;
	/*TMP EU PRCTR HACK*/
                SELECT TOP 1
                        1
                FROM    cfSource
                WHERE   srcSystem = 'E03'
                        AND srcGroup = 'EMEA'
                        AND srcID = @srcID;
                IF @@RowCount > 0
                    BEGIN
                        SET @SQL = '
					UPDATE ' + @DBNAme
                            + '..[ttMARC]SET PRCTR = ''10000''+zMATKL';
                        EXEC (@SQL);
                        PRINT 'Updated Profit Center FOR EMEA: '
                            + CAST(@@ROWCOUNT AS NVARCHAR);
                    END;

			/* Main Data Different Than ProducTion (either PRDHA,MTART or MTPOS_MARA */
                SET @SQL = 'SELECT 1 FROM ' + @DBNAme  + '..ttMARA B 
								INNER JOIN ' + @SAPClientDataDB + ' ..MATERIALID I ON I.MATNR_EXT = B.MATNR
								INNER JOIN ' + @SAPClientDataDB + ' ..MARA A ON A.MATKL = B.MATKL AND A.MATNR = I.MATNR_INT
				WHERE A.PRDHA <> B.PRDHA OR A.MTART<>B.MTART OR A.MTPOS_MARA <> B.MTPOS_MARA;';
                DELETE  FROM @R;
                INSERT  INTO @R
                        EXEC ( @SQL
                            );
                IF @@ROWCOUNT > 0
                    BEGIN
                        IF @SilentMode = 0
                            BEGIN
                                EXEC dbo.spProcess25ValidateKeyMaraFields @srcID,
                                    @srcSystem;
                            END;				
                        PRINT CAST('' AS CHAR(12))
                            + CAST(dgdb_new.dbo.fnReturnThousandSeperator(@@RowCOUNT) AS CHAR(11))
                            + '********************* Issues Found, Key Field Difference between Production & Pricelist !!! ********************';
                    END;
                ELSE
                    BEGIN
                        PRINT '';
                        PRINT CAST('' AS CHAR(21))
                            + ' No changes to Key Fields Compared to Production';
                        PRINT '';
                    END;

            END;
        SET @DateDiff = CAST(DATEDIFF(SECOND, @Startdate, GETDATE()) AS NUMERIC(8,
                                                              2));
        PRINT '';
        PRINT '';
        PRINT '--------------------------------------------------------------------';
        PRINT CAST(GETDATE() AS CHAR(30)) + ' - Total Duration: '
            + CAST(DATEDIFF(SECOND, @Startdate, GETDATE()) AS NVARCHAR)
            + ' Seconds - '
            + CAST(CAST(@DateDiff / 60 AS NUMERIC(8, 2)) AS NVARCHAR)
            + ' Minutes)';

		--EXEC spProcess20ValidateSAPData_Log @dbName
        EXEC dbo.spProcess21ResultsSP20 @srcID;		
	
        Clean_UP:

        DROP TABLE #SAPTableFields;
        DROP TABLE #TargetTables;
        DROP TABLE #cfSourceTargetMap;
    END; 
GO
