USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spBulkImportPricingFiles_WIP]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- EXEC DGDB_PL..spBulkImportPricingFiles_WIP 'DPP_Emerging_Pricing_Bootstrap_NGC_210324121755.txt','\\wg0522\Data\MDM_upload\DPP\Pricing\EMKT','EMEA'
CREATE PROCEDURE [dbo].[spBulkImportPricingFiles_WIP](
	@FileName NVARCHAR(200)
	, @FilePath NVARCHAR(500)
	, @Region NVARCHAR(20)
)
AS
BEGIN
	DECLARE @SQL NVARCHAR(MAX)
		, @VPLDB NVARCHAR(100)
		, @tblName NVARCHAR(100);

	IF(@Region = 'EMEA')  
	BEGIN   
		SET @VPLDB = 'VPL10000_Cisco_EMEA_B_680'
		SET @tblName = 'Cisco_DPP_EMEA_Pricing_Bootstrap_NGC'
	END   
	IF(@Region = 'EMKT')  
	Begin   
		SET @VPLDB = 'VPL10000_CiscoEM_EMEA_B_724';
		SET @tblName = 'Cisco_DPP_EMKT_Pricing_Bootstrap_NGC'
	END

	IF(@Region = 'ASIA')  
	Begin   
		SET @VPLDB = 'VPL10000_CiscoSG_DPP_522';
		SET @tblName = 'Cisco_DPP_ASIA_Pricing_Bootstrap_NGC'
	END

	IF(@Region = 'AU')  
	Begin   
		SET @VPLDB = 'VPL10000_CiscoAU_DPP_521';
		SET @tblName = 'Cisco_DPP_AU_Pricing_Bootstrap_NGC'
	END

	--DROP Tables first  
	SET @SQL = 'IF OBJECT_ID(''' + @VPLDB + '.dbo.' + @tblName + ''') IS NOT NULL
	BEGIN
		DROP TABLE ' + @VPLDB + '.dbo.' + @tblName + ' ;
	END
	IF OBJECT_ID(''' + @VPLDB + '.dbo.Cisco_DPP'') IS NOT NULL
	BEGIN
		DROP TABLE ' + @VPLDB + '.dbo.Cisco_DPP ;
	END
	IF OBJECT_ID(''Tempdb..#TempFirstRowFromFile'') IS NOT NULL 
	BEGIN 
		DROP TABLE #TempFirstRowFromFile 
	END  
	IF OBJECT_ID(''Tempdb..#Table'') IS NOT NULL 
	BEGIN 
		DROP TABLE #Table 
	END'

	--Create Temp table with single column - with col headers seperated by comma(,) --Basically FirstRowFromFile (which is header)
	SET @SQL = @SQL + '
	CREATE TABLE #TempFirstRowFromFile(ColumnHeaders NVARCHAR(max))';
	--Copy Single header row(column header row) to the #Temp table
	SET @SQL = @SQL + 'BULK INSERT #TempFirstRowFromFile 
	FROM ''' + @FilePath + '\' + @FileName + ''' 
	WITH (FIELDTERMINATOR = ''|'', ROWTERMINATOR = ''0x0a'',FIRSTROW = 2,LASTROW = 2)

	UPDATE #TempFirstRowFromFile SET ColumnHeaders=dgdb.dbo.RegExReplace(ColumnHeaders,''000.*FN\|'','''') ';

	--Split column headers to #TABLE
	SET @SQL = @SQL + '
	DECLARE @columnHeaders NVARCHAR(4000)
	SELECT @columnHeaders = ColumnHeaders FROM #TempFirstRowFromFile
	SELECT * INTO #TABLE FROM DGDB..fnSplitString(@columnHeaders,''|'')
	DELETE #TABLE WHERE [Data] = ''''

	DECLARE @RowCount int
	SELECT @RowCount= MAX(id) FROM #TABLE
	DECLARE @SQL2 NVARCHAR(max)
	DECLARE @ICount INT = 1
	DECLARE @ColName NVARCHAR(200)
	SET @SQL2 = ''CREATE TABLE ' + @VPLDB + '.dbo.' + @tblName + '(''';

	SET @SQL = @SQL + '
	WHILE (@ICount<=@RowCount)
	BEGIN
		   SELECT @ColName = Data FROM #TABLE WHERE Id=@ICount
		   IF(@ICount = 1)
				  SET @SQL2 = @SQL2 + ''['' + @ColName + ''] varchar(1000)'' 
		   ELSE
				  SET @SQL2 = @SQL2 + '',['' + @ColName + ''] varchar(1000)''
       
		   SET @ICount = @ICount + 1
	END'

	SET @SQL = @SQL + '
	SET @SQL2 = @SQL2 + '')''
	PRINT (@sql2)
	EXEC(@SQL2)';

	/*Import data*/
	SET @SQL = @SQL + '
	--return; 	
	BULK INSERT ' + @VPLDB + '.dbo.' + @tblName + ' 
	FROM ''' + @FilePath + '\' + @FileName + ''' 
	WITH  ( FIELDTERMINATOR = ''|'',     ROWTERMINATOR = ''0x0a'',  FIRSTROW= 3 ); '  

	PRINT @SQL;
	EXEC(@SQL);
	
	SET @SQL = 'SELECT [creation_date] 
			, [product_number] 
			, [description] 
			, [dpp_price_book_name] 
			, [global_list_price] 
			, [wholesale_list_price] 
			, [distributor_standard_discount] 
			, [availability_on_GPL_WPL] 
			, [item_catalog_category] 
			, [erp_family] 
			, [product_type] 
			, [warranty] 
			, [internal_business_entity] 
			, [disti_buy_price] 
	INTO ' + @VPLDB + '.dbo.Cisco_DPP
	FROM ' + @VPLDB + '.dbo.' + @tblName + '
	return;'

	PRINT @SQL;
	EXEC(@SQL);
END
GO
