USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spProcess40CreateExportTables_MARACLASS_OLD]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- EXEC [spProcess40CreateExportTables_MARACLASS] 'zVPL_EP1_20180222_38_01','EPN','300'
CREATE PROCEDURE [dbo].[spProcess40CreateExportTables_MARACLASS_OLD]

	   @dbName					NVARCHAR(80)		= 'DGDB_PL_TEST',
	   @srcSystem NVARCHAR(3) = 'EPN',
	   @srcClient			NVARCHAR(3) = '300'
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

BEGIN
       DECLARE      
             @SQL               NVARCHAR(4000),
			 @Message			NVARCHAR(255),
			 @Rowcount			INTEGER				= 0 ,			 		
			 @SAPDB       NVARCHAR(60)        = ''            

	 SELECT  @SAPDB = trdDatabase FROM   dbo.cfTargetData WHERE   trdSystem = @srcSystem AND trdClient = @srcClient;
	 
	SET @SQL = '
		   USE ' + @dbName + '
		   IF OBJECT_ID(''MARA_Class_ASGN_LSMW'') IS NOT NULL BEGIN DROP TABLE MARA_Class_ASGN_LSMW END;
		    WITH CTE_CLASS (OBJEK)
             AS
            (SELECT I.OBJEK      
                   FROM ' + @SAPDB + '..INOB I
                                INNER JOIN ' + @SAPDB + '..KSSK K ON I.CUOBJ = K.OBJEK
                                INNER JOIN ' + @SAPDB + '..KLAH H ON K.CLINT = H.CLINT
                   WHERE I.KLART = ''ZDW'' AND obtab = ''MARA'' AND CLASS = ''ZD_MAT_AE3PL01'')
					SELECT DISTINCT ''MARA'' AS OBTAB
                      , ''ZDW'' AS KLART
                      , A.MATNR AS OBJEK
                      , ''ZD_MAT_AE3PL01'' AS CLASS
					INTO MARA_Class_ASGN_LSMW
					FROM ' + @dbName + '..ttMARC C
					--INNER JOIN ' + @dbName + '..ttMARA A ON A.MATNR = C.MATNR
					LEFT JOIN ' + @dbName + '..ttMARA A ON A.MATNR = C.MATNR
					LEFT JOIN ' + @SAPDB + '..MARA B ON B.MATNR = C.MATNR
					LEFT JOIN CTE_CLASS ON A.MATNR = CTE_CLASS.OBJEK
					WHERE WERKS IN (''5001'',''5002'')
						AND (A.MTPOS_MARA = ''NORM'' OR B.MTPOS_MARA = ''NORM'')
						AND CTE_CLASS.OBJEK IS NULL;'
                                
      /*  replcaed the below code with teh aboove one after Jan's email dated May 22, 2017. The above one executes faster than this. So replaced.                      
		   --SELECT DISTINCT ''MARA'' AS OBTAB
				 --  , ''ZDW'' AS KLART
				 --  , A.MATNR AS OBJEK
				 --  , ''ZD_MAT_AE3PL01'' AS CLASS
				 --INTO MARA_Class_ASGN_LSMW
				 --FROM ' + @dbName + '..ttMARC C
					--	INNER JOIN ' + @dbName + '..ttMARA A ON A.MATNR = C.MATNR
				 --WHERE WERKS = ''5001''
					--	AND A.MTPOS_MARA = ''NORM''
					--		   AND A.MATNR NOT IN (SELECT I.OBJEK      
					--							  FROM ' + @SAPDB + 'INOB I
					--										INNER JOIN ' + @SAPDB + 'KSSK K ON I.CUOBJ = K.OBJEK
					--										INNER JOIN ' + @SAPDB + 'KLAH H ON K.CLINT = H.CLINT
					--							  WHERE I.KLART = ''ZDW'' AND obtab = ''MARA'' AND CLASS = ''ZD_MAT_AE3PL01'')'
	*/ 
	--PRINT @SQL
	EXEC (@SQL)

	/*txAUSP_Classes_LSMW */

    
	SET @Message = CAST('MARA_Class_ASGN_LSMW' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR)
	RAISERROR (@Message,10,1) WITH NOWAIT

END

GO
