USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spGetLongDescriptionProductType]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetLongDescriptionProductType] 
  @SourceTable NVARCHAR(40) = 'Z_06252_KGREEP_NZ_CISCO_SVC_DE',
  @SourceDB NVARCHAR(40) = 'MDM_STAGE1'
  
AS
Begin
  IF OBJECT_ID('tempdb..#TEMPDATA') IS NOT NULL     DROP TABLE #TEMPDATA    
	IF OBJECT_ID('tempdb..#TEMP_DESC') IS NOT NULL     DROP TABLE #TEMP_DESC
	IF OBJECT_ID('tempdb..#PT') IS NOT NULL     DROP TABLE #PT
	
	Declare @SQL nvarchar(max)
	
	--DECLARE @SourceTable NVARCHAR(100)
	--DECLARE @SourceDB NVARCHAR(100)
	 --SET @SourceTable = 'Z_06252_KGREEP_NZ_CISCO_SVC_DE'
	 --SET @SourceDB = 'MDM_STAGE1'
	
	/*CREATE zLongDescription on Vendor Source*/
	IF COL_LENGTH( @SourceDB + '.dbo.'+  @SourceTable,'zLongDescription') IS NULL 
		BEGIN
			SET @SQL = 'ALTER TABLE ' + @SourceDB + '.dbo.'+  @SourceTable + ' ADD zLongDescription NVARCHAR(500)'					
			EXEC (@SQL)
		END		

	/*CREATE zProductType on Vendor Source*/
	IF COL_LENGTH( @SourceDB + '.dbo.'+  @SourceTable,'zProductType') IS NULL 
		BEGIN
			SET @SQL = 'ALTER TABLE ' + @SourceDB + '.dbo.'+  @SourceTable + ' ADD zProductType NVARCHAR(10)'					
			EXEC (@SQL)
		END				
			
	
	set @SQL = '
	SELECT  B.MATNR_EXT as MATNR_EXT,c.MATNR,D.BKLAS,E.MTPOS,E.KTGRM,C.MTPOS_MARA,C.MTART 
	INTO #TEMPDATA 
	FROM  ' + @SourceDB + '.dbo.'+  @SourceTable + ' AS A
	INNER JOIN SAP_EP1_RT.DBO.MATERIALID AS B WITH (NOLOCK) 
	ON A.[Material Number] = B.MATNR_EXT
	INNER JOIN SAP_EP1_RT.DBO.MARA AS C WITH (NOLOCK) 
	ON B.MATNR_INT = C.MATNR
	LEFT OUTER JOIN SAP_EP1_RT.DBO.MBEW AS D WITH (NOLOCK)
	ON C.MATNR = D.MATNR
	AND A.Plant = D.BWKEY
	INNER JOIN SAP_EP1_RT.DBO.T001W AS T WITH (NOLOCK)
	ON A.Plant = T.WERKS
	LEFT OUTER JOIN SAP_EP1_RT.DBO.MVKE AS E WITH (NOLOCK) 
	ON C.MATNR = E.MATNR
	AND E.VKORG = T.VKORG 
	
	

	-- Get Long description Data
	
	SELECT  A.*, B.TDLINE, ISNULL(B.COUNTER,0)AS counter, B.TDNAME   
	INTO    #TEMP_DESC    
	FROM    #TEMPDATA AS A    
	LEFT OUTER JOIN SAP_EP1_RT.dbo.[STXL] AS B with (nolock) ON A.MATNR = B.TDNAME AND B.TDID = ''GRUN'' AND B.TDSPRAS = ''E'';    
	  

	-- Add Long Descrition Column    
	ALTER TABLE #TEMP_DESC ADD LONGDESC NVARCHAR(4000)    

	DECLARE @MAXCOUNTER INT    
	SELECT  @MAXCOUNTER = MAX(COUNTER) FROM #TEMP_DESC    

	SELECT @MAXCOUNTER    
	UPDATE #TEMP_DESC SET LONGDESC = TDLINE WHERE COUNTER = 1    

	DECLARE @I INT = 2    
	-- Loop through Counters to get the Long Description of material    
	WHILE @I <= @MAXCOUNTER    
	BEGIN     
		UPDATE A SET A.LONGDESC = A.LONGDESC  + B.TDLINE    
		FROM #TEMP_DESC AS A    
		INNER JOIN #TEMP_DESC AS B ON A.TDNAME = B.TDNAME    
		WHERE A.COUNTER = 1 AND B.COUNTER = @I;
		    
		SET @I  = @I + 1    
	END    

	alter table #TEMP_DESC
	add zProductType  varchar(10)

	SELECT tsrVAR2 AS PT, 
				Value AS ''BKLAS'',
				CAST('''' AS NVARCHAR(4)) AS MTPOS,
				CAST('''' AS NVARCHAR(2)) AS KTGRM,
				CAST('''' AS NVARCHAR(4)) AS MTPOS_MARA,
				CAST('''' AS NVARCHAR(4)) AS MTART 
			 INTO #PT 
			 FROM dgdb.dbo.fnSelectTableFieldSetHeaderValues(''MBEW.BKLAS'')

			UPDATE #PT SET MTPOS = Value FROM #PT INNER JOIN dgdb.dbo.fnSelectTableFieldSetHeaderValues(''MVKE.MTPOS'') ON PT = tsrVAR2
			UPDATE #PT SET KTGRM = Value FROM #PT INNER JOIN dgdb.dbo.fnSelectTableFieldSetHeaderValues(''MVKE.KTGRM'') ON PT = tsrVAR2
			UPDATE #PT SET MTPOS_MARA = Value FROM #PT INNER JOIN dgdb.dbo.fnSelectTableFieldSetHeaderValues(''MARA.MTPOS_MARA'') ON PT = tsrVAR2
			UPDATE #PT SET MTART = Value FROM #PT INNER JOIN dgdb.dbo.fnSelectTableFieldSetHeaderValues(''MARA.MTART'') ON PT = tsrVAR2
			
			Update T
			set zProductType = PT
			from #TEMP_DESC as T
			inner join #PT as P
			on T.BKLAS = P.BKLAS
			and T.MTPOS = P.MTPOS
			and T.KTGRM = P.KTGRM
			and T.MTPOS_MARA = P.MTPOS_MARA
			and T.MTART = P.MTART 
			
	
			 UPDATE ' + @SourceDB + '.dbo.'+  @SourceTable +
			' SET zlongdescription = T.Longdesc,
				zProductType = T.zproductType
				from ' + @SourceDB + '.dbo.'+  @SourceTable + ' AS K
				inner join #temp_desc as T
				on K.[Material Number] = T.matnr  '
				PRINT @sql
				EXEC (@SQL)
				
				End
				
				
 
GO
