USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spProcess26aSourceListIssues]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

Created Aug 2015 janvb
Gives (possible) Sourcelist conflicts

EXEC spProcess26aSourceListIssues 16,1

*/


CREATE PROCEDURE [dbo].[spProcess26aSourceListIssues] 
	@SRcID INT ,
	@InvalidOnly BIT = 0		--if 1 show issue/invalid SL sonly
AS

	DECLARE 	
		@srcName NVARCHAR(40),
		@srcSrtCode NVARCHAR(4),
		@srcVendorCode NVARCHAR(10),
		@srcClient NVARCHAR(3),
		@srcSystem NVARCHAR(3),
		@DBNAme NVARCHAR(40),	
		@SAPDB NVARCHAR(40),	
		@SQL NVARCHAR(4000),
		@SQL2 NVARCHAR(4000)

		SELECT	@srcName = srcName,
				@srcSrtCode = srcSrtCode,
				@srcVendorCode = srcVendorCode,
				@srcClient = srcClient,
				@srcSystem = srcSystem
			FROM cfSource
			WHERE srcid = @srcID
		SET @DBName =  @srcSrtCode + @srcVendorCode + '_' + @srcName + '_' + CAST(@srcID AS NVARCHAR)
		SELECT @SAPDB = trdDatabase FROM dbo.cfTargetData WHERE trdSystem = @srcSystem AND trdClient = @srcClient

	SET @SQL = '
		SELECT  ''Sourcelist Issues ( Invalid = 1)'' AS TYPE, ''' +
				@srcSystem + ''' AS SYS,
				MA.MATKL,
				T.WGBEZ,
				SAP.WERKS ,
				M.MATNR_EXT AS MATNR ,
				tt.LIFNR AS VPL,       
				l1.NAME1 AS VPLName,
				tt.FLIFN AS VPlDefault,        
				SAP.LIFNR AS SAP,
				l2.NAME1 AS SAPNAme,
				SAP.FLIFN AS SAPDefault,
				CASE WHEN tt.FLIFN = ''X'' AND SAP.FLIFN = ''X'' THEN 1 ELSE 0 END AS Invalid,
				''D or U '' AS Action 
			INTO #TMP
			FROM ' + @DbNAME + '..ttEORD TT
				INNER JOIN ' + @SAPDB + '..MATERIALID M ON TT.MATNR = MATNR_EXT						
				INNER JOIN ' + @SAPDB + '..EORD SAP ON SAP.LIFNR <> TT.LIFNR AND SAP.WERKS = TT.WERKS AND SAP.MATNR = M.MATNR_INT
				INNER JOIN ' + @SAPDB + '..MARC MC ON SAP.MATNR = MC.MATNR AND SAP.WERKS = MC.WERKS
				INNER JOIN ' + @SAPDB + '..LFA1 L1 ON L1.LIFNR = TT.LIFNR
				INNER JOIN ' + @SAPDB + '..LFA1 L2 ON L2.LIFNR = SAP.LIFNR
				INNER JOIN ' + @SAPDB + '..MARA MA ON MA.MATNR = SAP.MATNR				
				INNER JOIN ' + @SAPDB + '..T023T T ON T.MATKL = MA.MATKL
			WHERE MC.MMSTA = '''' 			
				ORDER BY CASE WHEN tt.FLIFN = ''X'' AND SAP.FLIFN = ''X'' THEN 1 ELSE 0 END DESC
			IF 1 = ' + CAST(@InvalidOnly AS NVARCHAR) + '
				BEGIN
					Select * from #TMP where Invalid = 1
				END
			ELSE
				BEGIN
					Select * from #TMP 
				END
		'
	--PRINT @SQL
	EXEC (@SQL)

		

		
GO
