USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[zbkp_spProcess40CreateExportTables_E03_WIP]    Script Date: 3/9/2026 9:14:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*
Generate Export Table entries for SAP
Either for new records or updates only and by Systrem or by JobNr for a certain scourceDB

Created: janvb Jan2015
Modified: Oct 14, 2015 -- Added XEID2 column in txMARD -- Techwave

*/
-- Exec [spProcess40CreateExportTables_E03_WIP] '[zVPL_GLP_20160414_30_16]',2,0,'GLP','300'

create PROCEDURE [dbo].[zbkp_spProcess40CreateExportTables_E03_WIP] 

		@dbName NVARCHAR(40)='zVPL_EP1_20151008_30_6',
		@InsertFlag SMALLINT = 2,							--1 = INSERT, 0 = UPDATE, 2 = INSERT & UPDATE 	
		@JobNr INTEGER = 0,								--0 = 'All jobs for the SAPSystem,Client	
		@SAPSystem NVARCHAR(4) = 'EP1',
		@SAPClient NVARCHAR(4) = '300'

AS

	DECLARE 
		@SQL VARCHAR(MAX)='',
		@SQL2 VARCHAR(MAX)='',
		@SQL3 VARCHAR(MAX)='',
		@SQL4 VARCHAR(MAX)='',
		@NewValue NVARCHAR(4000),
		@TableCreate BIT,
		@From@SQL_Del NVARCHAR(MAX)='',
		@From@SQL_Upd NVARCHAR(MAX)='',
		@From@SQL_Upd_MARC NVARCHAR(MAX)='',
		@From@SQL_Upd_MBEW NVARCHAR(MAX)='',
		@DupeMaterial BIT = 0,
		@RowCount INTEGER,

		@TCode NVARCHAR(4),
		@StartDate AS DATETIME,
		@Field NVARCHAR(40),
		@Message NVARCHAR(4000)

		DECLARE @TableExists TABLE (EXIST BIT)
		DECLARE @TableTEST TABLE (Text nvarchar(max))
		DECLARE @TableChangedFields TABLE (TableName NVARCHAR(40),FieldName NVARCHAR(40), Done BIT)

		/* Get Fields that have changed from ttMMChanges*/
		IF @InsertFlag <> 1 AND PATINDEX('%VRF%', @DBName) = 0
			BEGIN
				SET @SQL = 'SELECT DISTINCT TableName,FieldName,0 FROM ' + @dbName + '..ttMMChanges WHERE ' + CASE WHEN @JobNr <> 0 THEN 'zJobNr = ' + CAST(@JobNr AS NVARCHAR) + ' AND' ELSE '' END + '
									 zSystem = ''' + @SAPSystem + ''' AND zClient = ''' + @SAPClient + ''';'													
				INSERT INTO @TableChangedFields EXEC (@SQL)				
			END

	
		SET NOCOUNT ON
		SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED 
		SET @startDate = GETDATE()

		PRINT ''
		PRINT 'Processing:'	
		PRINT ''
		PRINT CASE WHEN @JobNr = 0 THEN '  All Jobs' ELSE '  JobNr = ' + CAST(@JobNr AS NVARCHAR) END
		PRINT CASE @InsertFlag WHEN 0 THEN '  Update Only Mode' WHEN 1 THEN '  Insert Only Mode ' WHEN 2 THEN '  Insert & Update Mode' END
		PRINT '  Environment: ' + @SAPSystem + ' - ' + @SAPClient	
		PRINT '  Database: ' + @dbName
		PRINT ''
		RAISERROR ('',10,1) WITH NOWAIT

		

	/* CREATE VRF TABLE*/
	IF PATINDEX('%VRF%', @DBName) > 0
		BEGIN
			DECLARE @Server as NVARCHAR(40)
			SELECT @Server = trdSQLLinkedServer FROM cfTargetData WHERE trdSystem = @SAPSystem 
			SET @SQL = '
			IF OBJECT_ID(''' + @DBNAme + ' ..txZOTCSD0102_DirectLoad'') IS NOT NULL BEGIN DROP TABLE ' + @DBNAme + ' ..txZOTCSD0102_DirectLoad END				
			DECLARE @LastRecord AS INTEGER			
			SELECT @LastRecord = MAX(ISNULL(RULE_CNT,0)) FROM VRF99999_VRF_ASEAN_224..ttZOTCSD0102_EP1;						
			SELECT ''300'' AS MANDT 
					, ISNULL(RULE_CNT,RIGHT(''000000'' + CAST(ROW_NUMBER() OVER ( ORDER BY RESELLER DESC ) + @LastRecord AS NVARCHAR),10)) AS RULE_CNT
					,ISNULL(VRF_USE,'''') AS VRF_USE
					,ISNULL(ZMatnr_INT,'''') AS MATNR
					,ISNULL(MVGR1,'''') AS MVGR1
					,ISNULL(PRODH,'''') AS PRODH
					,ISNULL(LIFNR,'''') AS LIFNR
					,ISNULL(RESELLER,'''') AS RESELLER
					,ISNULL(ENDUSER,'''') AS ENDUSER
					,ISNULL(VKORG,'''') AS VKORG
					,UPPER(VRF_FIELD) AS VRF_FIELD
					,'''' AS MVGR3
					,ISNULL(VRF_REQUIRED,'''') AS VRF_REQUIRED
					,ISNULL(VRF_DEFAULT,'''') AS VRF_DEFAULT
					,ISNULL(VRF_PRINT,'''') AS VRF_PRINT
					,ISNULL(VRF_DELETE_FLAG,'''') AS VRF_DELETE_FLAG
					,ISNULL(AENUSER,SUBSTRING(UPPER(SYSTEM_USER),PATINDEX(''%\%'',SYSTEM_USER)+1,40)) AS AENUSER
					,ISNULL(AEDAT,CONVERT(NVARCHAR,GETDATE(),112)) AS AEDAT
					,ISNULL(AENZT,20000) AS AENZT					
				INTO ' + @DBNAme + '..txZOTCSD0102_DirectLoad
				FROM VRF99999_VRF_ASEAN_224..ttZOTCSD0102
				WHERE zActive = 1
				ORDER BY CAST(RULE_CNT AS INT) 
				'
			EXEC (@SQL)
			PRINT CAST('txZOTCSD0102_DirectLoad' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR)
			PRINT ''
			RETURN
		END

		/*DELETE aLL tx Tables of previous runs*/
		SET @SQL = 'DECLARE @TABLE NVARCHAR(40), @SQL NVARCHAR(255);SELECT TABLE_NAME, 0 AS DONE INTO #TMP FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES;
			WHILE (SELECT TOP 1 1 FROM #TMP WHERE Done = 0) = 1
				BEGIN
					SELECT TOP 1 @TABLE = TABLE_NAME FROM #TMP WHERE Done = 0
					IF LEFT(@TABLE,2) = ''tx''
						BEGIN
							SET @SQL = ''DROP TABLE ' + @dbName + '..'' + @Table + '';''
							EXEC (@SQL)									
						END
					UPDATE #TMP SET DONE = 1 WHERE TABLE_NAME = @TABLE
				END
			'				
		EXEC (@SQL)



	--GOTO start
		/*tx179T_NewProdh_BDC*/	
		
			SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''ttT179T'''
			INSERT INTO @TableExists EXEC (@SQL)	
			IF ISNULL(@@ROWCOUNT,0) <> 0
				BEGIN
				/*INSERT/UPDATE*/
					SET @SQL = 					
							'SELECT PRODH,
							VTEXT,
							zStufe 																		
						INTO ' + @dbName + '..tx179T_NewProdh_BDC 
						 FROM ' + @dbName + '..ttT179T
						WHERE ' + CASE @InsertFlag WHEN 1 THEN 'ISNULL(ttT179T.zActive,0) = 1' WHEN 0 THEN  'ISNULL(ttT179T.zChange,0) = 1' WHEN 2 THEN ' ISNULL(ttT179T.zActive,0) = 1 OR ISNULL(ttT179T.zChange,0) = 1 ' END	
						+ ' GROUP BY PRODH,VTEXT,zStufe ORDER BY zStufe;'						
					EXEC(@SQL)	
					PRINT CAST('tx179T_NewProdh_BDC' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR)
				END

		/*txMARA_BMM00_LSMW_Sel*/
			/*CHECK IF Table EXISTS*/
			SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''txMARA_BMM00_LSMW_Sel'''
			DELETE FROM @TableExists
			INSERT INTO @TableExists EXEC (@SQL)	
			IF ISNULL(@@ROWCOUNT,0) = 0 BEGIN SET @TableCreate = 1	END			

			/*DELETE EXISTING DATA*/
			IF ISNULL(@TableCreate,0) <> 1
				BEGIN
					SET @From@SQL_Del = 'WHERE ' + CASE WHEN @JobNr <> 0 THEN 'zJobNr = ' + CAST(@JobNr AS NVARCHAR) + ' AND' ELSE '' END + '
							 zSystem = ''' + @SAPSystem + ''' AND zClient = ''' + @SAPClient + ''';'													 
					SET @SQL = 	'DELETE FROM ' + @dbName + '..txMARA_BMM00_LSMW_Sel ' + @From@SQL_Del				
					EXEC (@SQL)
				END

			/*INSERT/UPDATE*/
			SET @From@SQL_Upd = 
				' FROM ' + @dbName + '..ttM
						INNER JOIN ' + @dbName + '..ttMARA ON ttM.MATNR = ttMARA.MATNR 
					WHERE ' + CASE WHEN @JobNr <> 0 THEN 'ttMARA.zJobNr = ' + CAST(@JobNr AS NVARCHAR) + ' AND' ELSE '' END +
						' ttMARA.zSystem = ''' + @SAPSystem + ''' AND ttMARA.zClient = ''' + @SAPClient + ''' AND '			
						+ (CASE @InsertFlag WHEN 1 THEN 'ISNULL(ttMARA.zActive,0) = 1' WHEN 0 THEN  'ISNULL(ttMARA.zChange,0) = 1' WHEN 2 THEN ' (ISNULL(ttMARA.zActive,0) = 1 OR ISNULL(ttMARA.zChange,0) = 1) ' END)        

			/* Check for Dupes, Same material from different SourceID's, eg Proff services */
			SET @SQL = 'SELECT 1 FROM ' + @DBName + '..ttM GROUP BY MATNR HAVING COUNT(*) > 1'
				DELETE FROM @TableExists
				INSERT INTO @TableExists EXEC (@SQL)	
				IF ISNULL(@@ROWCOUNT,0) > 0 
					BEGIN 
						SET @DupeMaterial = 1
						PRINT ''
						PRINT '@DupeMaterial = 1'
						PRINT ''
						SELECT '@DupeMaterial = 1'

						/*update different descriptions*/
						SET @SQL = '
							SELECT MATNR AS MAterial, MAX(zShortDescription) as DESCR INTO #TMP FROM ' + @dbName + '..ttMARA GROUP BY MATNR;
							UPDATE ' + @dbName + '..ttMARA SET zShortDescription = DESCR FROM ' + @dbName + '..ttMARA INNER JOIN #TMP ON MATNR = Material'
							EXEC (@SQL)
							PRINT @@rowCOUNT
					END		
			


			SET @SQL = 	CASE WHEN @TableCreate = 1 THEN '' ELSE 'INSERT INTO ' + @dbName + '..txMARA_BMM00_LSMW_Sel ' END +
					'SELECT DISTINCT CASE WHEN ttMARA.zActive = 1 THEN ''MM01'' ELSE ''MM02'' END AS TCODE,' +
						CASE WHEN @DupeMaterial = 1 THEN '''Dupes''' ELSE 'ttM.ZSOURCE'  END + ' AS ZSource ,						
						ttM.MATNR ,
						ttM.MBRSH ,
						ttM.MTART ,
						ttM.XEIA1 ,
						ttM.XEIB1 ,
						ttM.XEID1 ,
						ttM.XEID2 ,
						ttM.XEIE1 ,
						ttM.XEIE2 ,
						ttM.XEIK1 ,
						ttM.XEIL1 ,
						ttM.XEIP1 ,
						ttM.XEIS1 ,
						ttM.XEIV1 ,
						ttM.XEIV2 ,
						ttM.XEIV3 ,
						ttM.XEIV4 ,
						ttM.XEIF1 ,
						ttM.XEIQ1 ,
						ttM.XEIC1 ,
						ttM.XEIA2 ,
						ttM.XEID3 ,
						ttM.XEIVE ,
						ttMARA.zJobNr,
						ttMARA.zSystem,
						ttMARA.zClient, ' +
						CASE WHEN @DupeMaterial = 1 THEN '0' ELSE 'ttM.zSrcID'  END + ' AS zSrcID ,	' +											
						CASE WHEN @DupeMaterial = 1 THEN '0' ELSE 'ttM.zID'  END + ' AS zID ,	' +																	
						CAST(@InsertFlag AS NVARCHAR(1)) + ' AS zNewRecord ' +
						CASE WHEN @TableCreate = 1 THEN ' INTO ' + @dbName + '..txMARA_BMM00_LSMW_Sel ' ELSE '' END +
						+ @From@SQL_Upd									
					EXEC(@SQL)				
					PRINT CAST('txMARA_BMM00_LSMW_Sel' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR)


		/*txMARA_BMMH1_LSMW_Sel*/
			/*CHECK IF Table EXISTS*/
				SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''txMARA_BMMH1_LSMW_Sel'''
				DELETE FROM @TableExists
				INSERT INTO @TableExists EXEC (@SQL)	
				IF ISNULL(@@ROWCOUNT,0) = 0 BEGIN SET @TableCreate = 1	END		
			

			/*DELETE*/		
			IF ISNULL(@TableCreate,0) <> 1
				BEGIN	 
					SET @SQL = 	'DELETE FROM ' + @dbName + '..txMARA_BMMH1_LSMW_Sel ' + @From@SQL_Del						
					EXEC (@SQL)
				end

			/*INSERT/UPDATE*/		
			SET @SQL = 
					'DECLARE @InsertFlag BIT = ' + CAST(@InsertFlag AS NVARCHAR) + ';' +
					CASE WHEN @TableCreate = 1 THEN '' ELSE 'INSERT INTO ' + @dbName + '..txMARA_BMMH1_LSMW_Sel ' END +			
						'SELECT DISTINCT' + CASE WHEN @DupeMaterial = 1 THEN '''Dupes''' ELSE ' ttM.ZSOURCE'  END + ' AS ZSource ,													
							ttMARA.MATNR ,
							ISNULL(ttMARA.zShortDescription,''/'') AS MAKTX ,
							CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN ttMARA.MATKL ELSE ''/'' END as MATKL ,		
							CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN NULL ELSE ''/'' END as BISMT,						
							CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN ttMARA.MEINS ELSE ''/'' END as MEINS,
							CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN NULLIF(CAST(ttMARA.BRGEW AS VARCHAR),'''') ELSE ''/'' END as BRGEW ,
							CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN NULLIF(CAST(ttMARA.NTGEW AS VARCHAR),'''') ELSE ''/'' END as NTGEW ,
							CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN NULLIF(ttMARA.GEWEI,'''') ELSE ''/'' END as GEWEI ,
							CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN NULL ELSE ''/'' END as VOLUM ,
							CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN NULLIF(ttMARA.VOLEH,'''') ELSE ''/'' END as VOLEH ,
							CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN NULLIF(CAST(ttMARA.GROES AS VARCHAR),'''') ELSE ''/'' END as GROES ,
							CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN NULLIF(ttMARA.TRAGR,'''') ELSE ''/'' END as TRAGR ,
							CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN ttMARA.SPART ELSE ''/'' END as SPART ,
							CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN ttMARA.PRDHA ELSE ''/'' END as PRDHA ,
							CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN NULL ELSE ''/'' END as XCHPF ,
							CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN NULL ELSE ''/'' END as MSTAE ,
							CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN NULL ELSE ''/'' END as MSTAV ,
							CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN NULL ELSE ''/'' END as MSTDE ,
							CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN NULL ELSE ''/'' END as MSTDV ,
							CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN NULLIF(ttMARA.SERLV,'''') ELSE ''/'' END as SERLV ,
							CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN ttMARA.MTPOS_MARA ELSE ''/'' END as MTPOS_MARA ,
							CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN ttMARA.MFRPN ELSE ''/'' END as MFRPN ,
							CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN NULL ELSE ''/'' END as EXTWG ,
							CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN NULL ELSE ''/'' END as NUMTP,
							ttMARA.zJobNr,
							ttMARA.zSystem,
							ttMARA.zClient, ' +
							CASE WHEN @DupeMaterial = 1 THEN '0' ELSE 'ttMARA.zSrcID'  END + ' AS zSrcID ,	' +											
							CASE WHEN @DupeMaterial = 1 THEN '0' ELSE 'ttM.zID'  END + ' AS zID ,	' +	'																							
							CASE WHEN ttMARA.zActive = 1 THEN 1 ELSE 0 END  AS zNewRecord ' +
							CASE WHEN @TableCreate = 1 THEN ' INTO ' + @dbName + '..txMARA_BMMH1_LSMW_Sel ' ELSE '' END +
						+ @From@SQL_Upd
						--PRINT (@SQL)							
			EXEC(@SQL)
			SET @Message =  CAST('txMARA_BMMH1_LSMW_Sel' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR)	
			RAISERROR (@Message,10,1) WITH NOWAIT

			SET @SQL = 'DELETE FROM ' + @dbName + '..txMARA_BMM00_LSMW_Sel WHERE MATNR + CAST(zSrcID AS NVARCHAR) NOT IN (SELECT MATNR + CAST(zSrcID AS NVARCHAR) FROM ' + @dbName + '..txMARA_BMMH1_LSMW_Sel)'			
			EXEC (@SQL)
			SET @RowCOunt = @@ROWCOUNT
			IF @RowCOUNT > 0 
				BEGIN
					SET @Message =  CAST('DELETE FROM txMARA_BMM00_LSMW_Sel' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR)	
					RAISERROR (@Message,10,1) WITH NOWAIT
				END
	
			/*UPDATE With Changed Values only*/
			IF @InsertFlag <> 1
				BEGIN
					WHILE (SELECT TOP 1 1 FROM @TableChangedFields WHERE Done = 0 AND TableName = 'MARA') = 1
						BEGIN
							SELECT TOP 1 @Field = fieldName FROM @TableChangedFields WHERE Done = 0 AND TableName = 'MARA'
							SET @SQL = 'UPDATE txMARA_BMMH1_LSMW_Sel SET ' + @Field + ' = NULLIF(NewValue,'''') FROM ' + @dbName + '..txMARA_BMMH1_LSMW_Sel INNER JOIN ' + @dbName + '..ttMMChanges ON ttMMChanges.MATNR = txMARA_BMMH1_LSMW_Sel.MATNR 
							 WHERE TableName = ''MARA'' AND FieldName = ''' + @Field + ''';'						
							IF @Field NOT IN ('MTART','MBRSH')
								BEGIN
									EXEC (@SQL)
									--SET @SQL = 'UPDATE txMARA_BMM00_LSMW_Sel SET ' + @Field + ' = NULLIF(NewValue,'''') FROM ' + @dbName + '..txMARA_BMM00_LSMW_Sel INNER JOIN ' + @dbName + '..ttMMChanges ON ttMMChanges.zSrcID = txMARA_BMM00_LSMW_Sel.zSrcID 
									--	AND ttMMChanges.zID = txMARA_BMM00_LSMW_Sel.zID WHERE TableName = ''MARA'' AND FieldName = ''' + @Field + ''';'						
								END						
							UPDATE @TableChangedFields SET DONE = 1 WHERE TableName = 'MARA' AND FieldName = @Field
						END
				
				END		
	
		/*txSTXL_BMMH7_LSMW_Sel*/
				/*CHECK IF Table EXISTS*/
				SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''txSTXL_BMMH7_LSMW_Sel'''
				DELETE FROM @TableExists
				INSERT INTO @TableExists EXEC (@SQL)	
				IF ISNULL(@@ROWCOUNT,0) = 0 BEGIN SET @TableCreate = 1	END		

				/*DELETE*/		
					IF ISNULL(@TableCreate,0) <> 1
						BEGIN	
							SET @From@SQL_Del = 'WHERE ' + CASE WHEN @JobNr <> 0 THEN 'zJobNr = ' + CAST(@JobNr AS NVARCHAR) + ' AND' ELSE '' END + '
								 zSystem = ''' + @SAPSystem + ''' AND zClient = ''' + @SAPClient + ''';'	 
							SET @SQL = 	'DELETE FROM ' + @dbName + '..txSTXL_BMMH7_LSMW_Sel ' + @From@SQL_Del				
							EXEC (@SQL)
						end

			/*INSERT/UPDATE*/					
				SET @SQL = 
					CASE WHEN @TableCreate = 1 THEN '' ELSE 'INSERT INTO ' + @dbName + '..txSTXL_BMMH7_LSMW_Sel ' END +
					'SELECT DISTINCT ttSTXL.TDNAME AS MATNR1 ,
							ttSTXL.TDID ,
							ttSTXL.TDSPRAS ,
							ttSTXL.zTEXTFORMAT AS TDFORMAT ,
							ttSTXL.zTEXTLINE AS TDLINE ,						
							MATNR,
							ttSTXL.zJobNr,
							ttSTXL.zSystem,
							ttSTXL.zClient, ' + 
							CAST(@InsertFlag AS NVARCHAR(1)) + ' AS NewRecord ' +
							CASE WHEN @TableCreate = 1 THEN ' INTO ' + @dbName + '..txSTXL_BMMH7_LSMW_Sel ' ELSE '' END +
							' FROM ' + @dbName + '..ttSTXL
							INNER JOIN ' + @dbName + '..ttMARA ON ttSTXL.TDNAME = ttMARA.MATNR'		
							--PRINT (@SQL)							
					EXEC(@SQL)
					SET @Message = CAST('txSTXL_BMMH7_LSMW_Sel' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR) 
					RAISERROR (@Message,10,1) WITH NOWAIT

			/*UPDATE With Changed Values only*/
			IF @InsertFlag <> 1
				BEGIN
					WHILE (SELECT TOP 1 1 FROM @TableChangedFields WHERE Done = 0 AND TableName = 'STXL') = 1
						BEGIN
							SELECT TOP 1 @Field = fieldName FROM @TableChangedFields WHERE Done = 0 AND TableName = 'STXL'
							SET @SQL = 'UPDATE txSTXL_BMMH7_LSMW_Sel SET ' + @Field + ' = NewValue FROM ' + @dbName + '..txSTXL_BMMH7_LSMW_Sel INNER JOIN ' + @dbName + '..ttMMChanges ON ttMMChanges.zSrcID = txSTXL_BMMH7_LSMW_Sel.zSrcID 
							AND ttMMChanges.zID = txSTXL_BMMH7_LSMW_Sel.zID WHERE TableName = ''STXL'' AND FieldName = ''' + @Field + ''';'											
							EXEC (@SQL)

							UPDATE @TableChangedFields SET DONE = 1 WHERE TableName = 'STXL' AND FieldName = @Field
						END
				
				END		

		/*txMARM_BMMH6_LSMW_Sel*/
			/*CHECK IF Table EXISTS*/
				SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''txMARM_BMMH6_LSMW_Sel'''
				DELETE FROM @TableExists
				INSERT INTO @TableExists EXEC (@SQL)	
				IF ISNULL(@@ROWCOUNT,0) = 0 BEGIN SET @TableCreate = 1	END			

			/*DELETE*/
				IF ISNULL(@TableCreate,0) <> 1
					BEGIN
						SET @From@SQL_Del = 'WHERE ' + CASE WHEN @JobNr <> 0 THEN 'zJobNr = ' + CAST(@JobNr AS NVARCHAR) + ' AND' ELSE '' END + '
								 zSystem = ''' + @SAPSystem + ''' AND zClient = ''' + @SAPClient + ''';'													 
						SET @SQL = 	'DELETE FROM ' + @dbName + '..txMARM_BMMH6_LSMW_Sel ' + @From@SQL_Del				
						EXEC (@SQL)
					END

			/*INSERT/UPDATE*/
				SET @SQL = 
					CASE WHEN @TableCreate = 1 THEN '' ELSE 'INSERT INTO ' + @dbName + '..txMARM_BMMH6_LSMW_Sel ' END +
						'SELECT TOP ( 100 ) PERCENT ttMARM.MATNR,
						ttMARM.MEINH ,
						ttMARM.UMREZ ,
						ttMARM.UMREN ,						
						ttMARM.zJobNr,
						ttMARM.zSystem,
						ttMARM.zClient, 
						ttMARM.zSrcID,
						ttMARM.zID,'  + 
						CAST(@InsertFlag AS NVARCHAR(1)) + ' AS NewRecord ' +
						CASE WHEN @TableCreate = 1 THEN ' INTO ' + @dbName + '..txMARM_BMMH6_LSMW_Sel ' ELSE '' END +
					' FROM ' + @dbName + '..ttMARM
					WHERE ' + CASE @InsertFlag WHEN 1 THEN 'ISNULL(ttMARM.zActive,0) = 1' WHEN 0 THEN  'ISNULL(ttMARM.zChange,0) = 1' WHEN 2 THEN ' ISNULL(ttMARM.zActive,0) = 1 OR ISNULL(ttMARM.zChange,0) = 1 ' END							
				EXEC(@SQL)	
				SET @Message =  CAST('txMARM_BMMH6_LSMW_Sel' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR)
				RAISERROR (@Message,10,1) WITH NOWAIT

	
		/*txMARC_BMM00_LSMW_Sel*/
			/*CHECK IF Table EXISTS*/
				SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''txMARC_BMM00_LSMW_Sel'''
				DELETE FROM @TableExists
				INSERT INTO @TableExists EXEC (@SQL)	
				IF ISNULL(@@ROWCOUNT,0) = 0 BEGIN SET @TableCreate = 1	END			

			/*DELETE*/
				IF ISNULL(@TableCreate,0) <> 1
					BEGIN
						SET @From@SQL_Del = 'WHERE ' + CASE WHEN @JobNr <> 0 THEN 'zJobNr = ' + CAST(@JobNr AS NVARCHAR) + ' AND' ELSE '' END + '
								 zSystem = ''' + @SAPSystem + ''' AND zClient = ''' + @SAPClient + ''';'													 
						SET @SQL = 	'DELETE FROM ' + @dbName + '..txMARC_BMM00_LSMW_Sel ' + @From@SQL_Del						
						EXEC (@SQL)
					END

			/*INSERT/UPDATE*/
				SET @From@SQL_Upd_MARC = 
					'FROM ' + @dbName + '..ttMARC 
						INNER JOIN ' + @dbName + '..ttM ON ttMARC.MATNR = ttM.MATNR AND ttMARC.zSrcID = ttM.zSrcID
						LEFT OUTER JOIN ' + @dbName + '..ttMBEW ON ttMARC.MATNR = ttMBEW.MATNR
														AND ttMARC.WERKS = ttMBEW.BWKEY
														AND ttMARC.zSrcID = ttMBEW.zSrcID
						LEFT OUTER JOIN ' + @dbName + '..ttMPOP ON ttMARC.MATNR = ttMPOP.zMATNR
														AND ttMARC.WERKS = ttMPOP.zWERKS
														AND ttMARC.zSrcID = ttMPOP.zSrcID
						LEFT OUTER JOIN ' + @dbName + '..ttMLAN ON ttmarc.matnr = ttMLAN.MATNR 
														AND ttMARC.zSrcID = ttMLAN.zSrcID
														AND LEFT(ttMARC.werks,3) = LEFT(ttMLAN.zVKORG,3)
					WHERE ' + CASE WHEN @JobNr <> 0 THEN 'ttMARC.zJobNr = ' + CAST(@JobNr AS NVARCHAR) + ' AND ttMBEW.zJobNr = ' + CAST(@JobNr AS NVARCHAR) + ' AND ' ELSE '' END +
						' ttMARC.zSystem = ''' + @SAPSystem + ''' AND ttMARC.zClient = ''' + @SAPClient + ''' AND '			
						+ CASE @InsertFlag WHEN 1 THEN ' ISNULL(ttMARC.zActive,0) = 1 ' WHEN 2 THEN  ' ISNULL(ttMARC.zChange,0) = 1  '  +       
					' OR (ISNULL(ttMARC.zINSAP,0) = 1 OR ISNULL(ttMARC.zActive,0) = 1) ' WHEN 0 THEN ' ISNULL(ttMARC.zChange,0) = 1 ' END								

				SET @From@SQL_Upd_MBEW = 
					'FROM ' + @dbName + '..ttMBEW 
						INNER JOIN ' + @dbName + '..ttM ON ttMBEW.MATNR = ttM.MATNR AND ttMBEW.zSrcID = ttM.zSrcID
						LEFT OUTER JOIN ' + @dbName + '..ttMARC ON ttMBEW.MATNR = ttMARC.MATNR
														AND ttMARC.WERKS = ttMBEW.BWKEY
														AND ttMBEW.zSrcID = ttMARC.zSrcID
						LEFT OUTER JOIN ' + @dbName + '..ttMPOP ON ttMBEW.MATNR = ttMPOP.zMATNR
														AND ttMBEW.BWKEY = ttMPOP.zWERKS
														AND ttMBEW.zSrcID = ttMPOP.zSrcID
						LEFT OUTER JOIN ' + @dbName + '..ttMLAN ON ttMBEW.matnr = ttMLAN.MATNR 
														AND ttMBEW.zSrcID = ttMLAN.zSrcID
														AND LEFT(ttMARC.werks,3) = LEFT(ttMLAN.zVKORG,3)
					WHERE  (' + CASE WHEN @JobNr <> 0 THEN 'ttMBEW.zJobNr = ' + CAST(@JobNr AS NVARCHAR) + ' AND ttMARC.zJobNr = ' + CAST(@JobNr AS NVARCHAR) + ' AND ' ELSE '' END +
						' ttMBEW.zSystem = ''' + @SAPSystem + ''' AND ttMBEW.zClient = ''' + @SAPClient + ''' AND '			
						+ CASE @InsertFlag WHEN 1 THEN ' ISNULL(ttMBEW.zActive,0) = 1 ' WHEN 2 THEN  ' ISNULL(ttMBEW.zChange,0) = 1  '  +       
					' OR (ISNULL(ttMBEW.zINSAP,0) = 1 OR ISNULL(ttMBEW.zActive,0) = 1) ' WHEN 0 THEN ' ISNULL(ttMBEW.zChange,0) = 1 ' END + '
					 ) AND ttMBEW.MATNR+ttMBEW.BWKEY NOT IN (SELECT MATNR+WERKS FROM ' + @dbName + '..ttMARC) '
	
	
				SET @SQL	= 	CASE WHEN @TableCreate = 1 THEN '' ELSE 'INSERT INTO ' + @dbName + '..txMARC_BMM00_LSMW_Sel ' END 
				SET @SQL2	= 'SELECT DISTINCT CASE WHEN ISNULL(ttMARC.zActive,ttMBEW.zActive) = 1 THEN ''MM01'' ELSE ''MM02'' END AS TCODE,
							ISNULL(ttMARC.zSource,ttMBEW.zSource) AS zSource,						
							ISNULL(ttMARC.MATNR,ttMBEW.MATNR) AS MATNR, 
							ISNULL(ttMARC.WERKS,ttMBEW.BWKEY) AS WERKS,
							NULLIF(ttMBEW.BWTAR, '''') AS BWTAR,
							ttM.MBRSH ,
							ttM.MTART ,
							ttM.XEIA1 ,
							ttM.XEIB1 ,
							CASE WHEN RIGHT(ISNULL(ttMARC.WERKS,ttMBEW.BWKEY),1) = ''1'' THEN ttM.XEID1 ELSE '''' END AS XEID1 ,
							CASE WHEN RIGHT(ISNULL(ttMARC.WERKS,ttMBEW.BWKEY),1) = ''1'' THEN ttM.XEID2 ELSE '''' END AS XEID2 ,							
							ttM.XEIE1 ,
							ttM.XEIE2 ,
							ttM.XEIK1 ,
							ttM.XEIL1 ,
							ttM.XEIP1 ,
							ttM.XEIS1 ,
							ttM.XEIV1 ,
							ttM.XEIV2 ,
							ttM.XEIV3 ,
							ttM.XEIV4 ,
							ttM.XEIF1 ,
							ttM.XEIQ1 ,
							ttM.XEIG1 ,
							ttM.XEIC1 ,
							ttM.XEIA2 ,
							CASE WHEN RIGHT(ISNULL(ttMARC.WERKS,ttMBEW.BWKEY),1) = ''1'' THEN ttM.XEID3 ELSE '''' END AS XEID3 ,
							ttM.XEIVE  ,
							ISNULL(ttMARC.zJobNr,ttMBEW.zJobNr) AS zJobNr,
							ISNULL(ttMARC.zSystem,ttMBEW.zSystem) AS zSystem,
							ISNULL(ttMARC.zClient,ttMBEW.zClient) AS zClient, ' + 
							CAST(@InsertFlag AS NVARCHAR(1)) + ' AS NewRecord ' 
				SET @SQL3 = CASE WHEN @TableCreate = 1 THEN ' INTO ' + @dbName + '..txMARC_BMM00_LSMW_Sel ' ELSE '' END 
				SET @SQL4 = @SQL + @SQL2  + @SQL3 + @From@SQL_Upd_MARC					
				EXEC(@SQL4)			
				SET @Message = CAST('txMARC_BMM00_LSMW_Sel_MARC' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR)
				RAISERROR (@Message,10,1) WITH NOWAIT

				SET @SQL = 'INSERT INTO ' + @dbName + '..txMARC_BMM00_LSMW_Sel '
				SET @SQL4 = @SQL + @SQL2 +  @From@SQL_Upd_MBEW				
				EXEC(@SQL4)		
				SET @RowCOunt = @@RowCOunt
					IF @Rowcount > 0
						BEGIN
							SET @Message = CAST('txMARC_BMM00_LSMW_Sel_MBEW' AS CHAR(35)) + CAST(@ROWCOUNT AS NVARCHAR)
							RAISERROR (@Message,10,1) WITH NOWAIT
						END					
				
		
			/*txMARC_BMMH1_LSMW_Sel*/
				/*CHECK IF Table EXISTS*/
				SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''txMARC_BMMH1_LSMW_Sel'''
				DELETE FROM @TableExists
				INSERT INTO @TableExists EXEC (@SQL)	
				IF ISNULL(@@ROWCOUNT,0) = 0 BEGIN SET @TableCreate = 1	END		

				/*DELETE*/		
					IF ISNULL(@TableCreate,0) <> 1
						BEGIN	 
							SET @SQL = 	'DELETE FROM ' + @dbName + '..txMARC_BMMH1_LSMW_Sel ' + @From@SQL_Del								
							EXEC (@SQL)
						end

				/*INSERT/UPDATE*/		
				SET @SQL = 'UPDATE ' + @dbname + '..ttMARC SET zChange = 0 WHERE zChange IS NULL'
				EXEC (@SQL)
				SET @SQL = 'UPDATE ' + @dbname + '..ttMBEW SET zChange = 0 WHERE zChange IS NULL'
				EXEC (@SQL)

				SET @SQL = 	CASE WHEN @TableCreate = 1 THEN '' ELSE 'INSERT INTO ' + @dbName + '..txMARC_BMMH1_LSMW_Sel ' END 
				SET @SQL2 = ' SELECT DISTINCT ISNULL(ttMARC.MATNR,ttMBEW.MATNR) AS MATNR,
							ISNULL(ttMARC.WERKS,ttMBEW.BWKEY) AS WERKS ,			
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(ttMBEW.BWTTY, '''') ELSE ''/'' END AS BWTTY ,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN ttMBEW.BKLAS ELSE ''/'' END AS BKLAS,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN CASE WHEN ttMARC.MMSTA = '''' THEN NULL
								 ELSE MMSTA
							END  ELSE ''/'' END AS MMSTA ,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN CASE WHEN mmstd <> ''''								 
								 THEN CONVERT(NVARCHAR(10), CAST(MMSTD AS DATE), 101)
							END  ELSE ''/'' END AS MMSTD ,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(ttMARC.MAABC, '''')  ELSE ''/'' END AS MAABC ,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(ttMARC.EKGRP, '''')  ELSE ''/'' END AS EKGRP ,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(ttMARC.DISMM, '''')  ELSE ''/'' END AS DISMM ,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(ttMARC.DISPO, '''')  ELSE ''/'' END AS DISPO ,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(CAST(ttMARC.PLIFZ AS NVARCHAR), ''0'')  ELSE ''/'' END AS PLIFZ ,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(CAST(ttMARC.WEBAZ AS NVARCHAR), ''0'')  ELSE ''/'' END AS WEBAZ ,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(ttMARC.PERKZ, '''')  ELSE ''/'' END AS PERKZ ,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(ttMARC.DISLS, '''')  ELSE ''/'' END AS DISLS ,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(CAST(ttMARC.BSTMI AS NVARCHAR), ''0'')  ELSE ''/'' END AS BSTMI ,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(ttMARC.BESKZ, '''')  ELSE ''/'' END AS BESKZ ,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(CAST(ttMARC.MINBE AS NVARCHAR), ''0'')  ELSE ''/'' END AS MINBE ,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(CAST(ttMARC.EISBE AS NVARCHAR), ''0'')  ELSE ''/'' END AS EISBE ,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF('''', ''0'')  ELSE ''/'' END AS BSTFE ,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF('''', '''')  ELSE ''/'' END AS UEETO ,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF('''', '''')  ELSE ''/'' END AS UNETO ,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(CAST(ttMARC.WZEIT AS NVARCHAR), ''0'')  ELSE ''/'' END AS WZEIT ,
							''/'' AS TRAGR ,							--Already present in MARA
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(ttMARC.LADGR, '''')  ELSE ''/'' END AS LADGR ,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(CAST(ttMARC.LGRAD AS NVARCHAR), ''0'')  ELSE ''/'' END AS LGRAD ,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(ttMARC.XCHPF, '''')  ELSE ''/'' END AS XCHPF ,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(ttMARC.MTVFP, '''')  ELSE ''/'' END AS MTVFP ,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(ttMARC.KAUTB, '''')  ELSE ''/'' END AS KAUTB ,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(ttMARC.KORDB, '''')  ELSE ''/'' END AS KORDB ,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF('''', '''')  ELSE ''/'' END AS STAWN ,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(ttMARC.HERKL, '''')  ELSE ''/'' END AS HERKL ,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN ttMARC.PRCTR  ELSE ''/'' END AS PRCTR,'
							SET @SQL2 = @SQL2 + '																				
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF('''', '''')  ELSE ''/'' END AS DISGR ,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(ttMARC.SERNP, '''')  ELSE ''/'' END AS SERNP ,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(ttMARC.LGFSB, '''')  ELSE ''/'' END AS LGFSB ,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN ttMPOP.PRMOD  ELSE ''/'' END AS PRMOD,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN CAST(ttMPOP.PERAN  AS NVARCHAR) ELSE ''/'' END AS PERAN,					
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN CAST(ttMPOP.ANZPR  AS NVARCHAR) ELSE ''/'' END AS ANZPR,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN ttMPOP.KZINI  ELSE ''/'' END AS KZINI,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN CAST(ttMPOP.PERIN  AS NVARCHAR) ELSE ''/'' END AS PERIN,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN CAST(ttMPOP.PERIO  AS NVARCHAR) ELSE ''/'' END AS PERIO,				
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN CAST(ttMBEW.VPRSV  AS NVARCHAR) ELSE ''/'' END AS VPRSV,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN dbo.fnFormatCostPrice (VERPR,zCompanyCurr,'''')  ELSE ''/'' END AS VERPR,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN dbo.fnFormatCostPrice (STPRS,zCompanyCurr,'''')  ELSE ''/'' END AS STPRS,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN CAST(ttMBEW.PEINH  AS NVARCHAR) ELSE ''/'' END AS PEINH,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULL ELSE ''/'' END AS [TIMESTAMP] ,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(EKALR, '''')  ELSE ''/'' END AS EKALR ,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(HKMAT, '''')  ELSE ''/'' END AS HKMAT ,
							CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(FHORI, '''')  ELSE ''/'' END AS FHORI ,							
							ISNULL(ttMARC.ZSource,ttMBEW.zSource) AS zSource,
							ISNULL(ttMARC.zJobNr,ttMBEW.zJobNr) AS zJobNr,
							ISNULL(ttMARC.zSystem,ttMBEW.zSystem) AS zSystem,
							ISNULL(ttMARC.zClient,ttMBEW.zClient) AS zClient, 
							ISNULL(ttMARC.zSrcID,ttMBEW.zSrcID) AS zSrcID,
							ISNULL(ttMARC.zID,ttMBEW.zID) AS zID,' +						
							CAST(@InsertFlag AS NVARCHAR(1)) + ' AS NewRecord ' 
				SET @SQL3 = CASE WHEN @TableCreate = 1 THEN ' INTO ' + @dbName + '..txMARC_BMMH1_LSMW_Sel ' ELSE '' END 
				SET @SQL4 = @SQL + @SQL2 + @SQL3 + @From@SQL_Upd_MARC									
				EXEC(@SQL4)			
				SET @Message = CAST('txMARC_BMMH1_LSMW_Sel_MARC' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR)
				RAISERROR (@Message,10,1) WITH NOWAIT

				SET @SQL = 'INSERT INTO ' + @dbName + '..txMARC_BMMH1_LSMW_Sel '
				SET @SQL4 = @SQL + @SQL2 + @From@SQL_Upd_MBEW
				EXEC(@SQL4)			
				SET @RowCOunt = @@RowCOunt
					IF @Rowcount > 0
						BEGIN
							SET @Message = CAST('txMARC_BMMH1_LSMW_Sel_MBEW' AS CHAR(35)) + CAST(@ROWCOUNT AS NVARCHAR)
							RAISERROR (@Message,10,1) WITH NOWAIT
						END			
				


				/*UPDATE With Changed Values only*/
			IF @InsertFlag <> 1
				BEGIN
					WHILE (SELECT TOP 1 1 FROM @TableChangedFields WHERE Done = 0 AND TableName IN ('MARC','MPOP')) = 1
						BEGIN							
							SELECT TOP 1 @Field = fieldName FROM @TableChangedFields WHERE Done = 0 AND TableName IN ('MARC','MPOP')
							IF @FIELD = 'MMSTD' 
								BEGIN 									
									SET @NewValue = 'CASE WHEN CONVERT(NVARCHAR(10), CAST(NewValue AS DATE), 101) <> ''01/01/1900'' THEN CONVERT(NVARCHAR(10), CAST(NewValue AS DATE), 101) ELSE NULLIF(NewValue,'''') END' 								
								END 
							ELSE 
								BEGIN 
									SET @NewValue = 'NULLIF(NewValue,'''')' 
								END	
							SET @SQL = 'UPDATE txMARC_BMMH1_LSMW_Sel SET ' + @Field + ' = ' + @NewValue + ' FROM ' + @dbName + '..txMARC_BMMH1_LSMW_Sel INNER JOIN ' + @dbName + '..ttMMChanges ON ttMMChanges.zSrcID = txMARC_BMMH1_LSMW_Sel.zSrcID 
							AND ttMMChanges.zID = txMARC_BMMH1_LSMW_Sel.zID WHERE TableName IN (''MARC'',''MPOP'') AND FieldName = ''' + @Field + ''';'											
							EXEC (@SQL)

							UPDATE @TableChangedFields SET DONE = 1 WHERE TableName IN ('MARC','MPOP') AND FieldName = @Field
						END
				
				END		 

				IF @InsertFlag <> 1
				BEGIN
					WHILE (SELECT TOP 1 1 FROM @TableChangedFields WHERE Done = 0 AND TableName = 'MBEW' ) = 1  -- VERPR & STPRS need to be changed by MR21
						BEGIN
							SELECT TOP 1 @Field = fieldName FROM @TableChangedFields WHERE Done = 0 AND TableName = 'MBEW'
							IF @FIELD <> 'VERPR' AND @FIELD <> 'STPRS'
								BEGIN
									SET @SQL = 'UPDATE txMARC_BMMH1_LSMW_Sel SET ' + @Field + ' = ' + 
										CASE WHEN @FIELD = 'STPRS' THEN 'dbo.fnFormatCostPrice (NewValue,'''',WERKS)' ELSE 'NULLIF(NewValue,'''')' END + '
										FROM ' + @dbName + '..txMARC_BMMH1_LSMW_Sel INNER JOIN ' + @dbName + '..ttMMChanges ON ttMMChanges.zSrcID = txMARC_BMMH1_LSMW_Sel.zSrcID 
									AND ttMMChanges.zID = txMARC_BMMH1_LSMW_Sel.zID WHERE TableName = ''MBEW'' AND FieldName = ''' + @Field + ''';'											
									EXEC (@SQL)									
								END
							UPDATE @TableChangedFields SET DONE = 1 WHERE TableName = 'MBEW' AND FieldName = @Field
						END
				
				END		

			IF @InsertFlag <> 1
				BEGIN
				/* MR21 VERPR Change*/
					/*CHECK IF Table EXISTS*/
					SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''txMBEW_VERPR_MR21'''
					DELETE FROM @TableExists
					INSERT INTO @TableExists EXEC (@SQL)	
					IF ISNULL(@@ROWCOUNT,0) = 0 BEGIN SET @TableCreate = 1	END		

					/*DELETE*/		
						IF ISNULL(@TableCreate,0) <> 1
							BEGIN	 
								SET @SQL = 	'DELETE FROM ' + @dbName + '..txMBEW_VERPR_MR21 ' 
								EXEC (@SQL)
							END


					SET @SQL = 
						CASE WHEN @TableCreate = 1 THEN '' ELSE 'INSERT INTO ' + @dbName + '..txMBEW_VERPR_MR21 ' END +						' 
							SELECT DISTINCT REPLACE(CONVERT(NVARCHAR(10), GETDATE(), 101),''/'','''') AS BUDAT ,								
									zBUKRS AS BUKRS ,
									BWKEY AS WERKS ,
									ttMBEW.MATNR ,
									--CASE WHEN zCompanyCurr = ''IDR'' THEN CAST(CAST(VERPR AS INT) AS NVARCHAR) ELSE CAST(VERPR AS NVARCHAR) END AS NewPrice,
									CASE WHEN VPRSV = ''V'' THEN dbo.fnFormatCostPrice (VERPR,zCompanyCurr,'''') ELSE dbo.fnFormatCostPrice (STPRS,zCompanyCurr,'''') END AS NewPrice,
									ISNULL(ttMBEW.ZSource,ttMBEW.zSource) AS zSource,
									ISNULL(ttMBEW.zJobNr,ttMBEW.zJobNr) AS REFERENCE,
									ISNULL(ttMBEW.zSystem,ttMBEW.zSystem) AS zSystem,
									ISNULL(ttMBEW.zClient,ttMBEW.zClient) AS zClient, 
									ISNULL(ttMBEW.zSrcID,ttMBEW.zSrcID) AS zSrcID,
									ISNULL(ttMBEW.zID,ttMBEW.zID) AS zID,' +
									CAST(@InsertFlag AS NVARCHAR(1)) + ' AS NewRecord ' +
									CASE WHEN @TableCreate = 1 THEN ' INTO ' + @dbName + '..txMBEW_VERPR_MR21 ' ELSE '' END +
								'FROM ' + @dbName + '..ttMBEW INNER JOIN ' + @dbName + '..ttMMCHANGES ON ttMBEW.zID = ttMMCHanges.zID 									
								WHERE (
										(FieldName = ''VERPR'' AND VPRSV = ''V'') 
											OR (FieldName = ''STPRS'' AND VPRSV = ''S'')
									 )  
									AND ISNULL(ttMBEW.zActive,0) = 0 
									AND  zPreviousPrice <> VERPR 
									AND (VPRSV = ''S'' 
										OR (
											VPRSV = ''V'' AND
											(		
											LBKUM = 0  
										OR (LBKUM <> 0 AND zPreviousPrice > VERPR AND zPriceProtection = 1)
											))
										)'
						--Old WHERE Clause = WHERE ((FieldName = ''VERPR'' AND VPRSV = ''V'') OR (FieldName = ''STPRS'' AND VPRSV = ''S''))  AND ISNULL(ttMBEW.zActive,0) = 0 AND  zPreviousPrice <> VERPR AND (LBKUM = 0  OR (LBKUM <> 0 AND zPreviousPrice > VERPR AND zPriceProtection = 1))'
					--Print @SQL
					EXEC (@SQL)				
					SET @Message =  CAST('txMBEW_VERPR_MR21' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR)
					RAISERROR (@Message,10,1) WITH NOWAIT
				END


		/*txMARD_BMM00_LSMW_Sel*/
			/*CHECK IF Table EXISTS*/
				SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''txMARD_BMM00_LSMW_Sel'''
				DELETE FROM @TableExists
				INSERT INTO @TableExists EXEC (@SQL)	
				IF ISNULL(@@ROWCOUNT,0) = 0 BEGIN SET @TableCreate = 1	END			

			/*DELETE*/
				IF ISNULL(@TableCreate,0) <> 1
					BEGIN
						SET @From@SQL_Del = 'WHERE ' + CASE WHEN @JobNr <> 0 THEN 'zJobNr = ' + CAST(@JobNr AS NVARCHAR) + ' AND' ELSE '' END + '
								 zSystem = ''' + @SAPSystem + ''' AND zClient = ''' + @SAPClient + ''';'													 
						SET @SQL = 	'DELETE FROM ' + @dbName + '..txMARD_BMM00_LSMW_Sel ' + @From@SQL_Del				
						EXEC (@SQL)
					END

			/*INSERT/UPDATE*/
				SET @SQL = 
					CASE WHEN @TableCreate = 1 THEN '' ELSE 'INSERT INTO ' + @dbName + '..txMARD_BMM00_LSMW_Sel ' END +
						'SELECT CASE WHEN ttMARD.zActive = 1 OR (ttMARD.PSTAT = ''L'' AND DISKZ = 1) THEN ''MM01'' ELSE ''MM02'' END AS TCODE,
						ttMARD.MATNR,
						ttMARD.WERKS ,
						ttMARD.LGORT ,						
						CASE WHEN RIGHT(ttMARD.WERKS,1) = ''1'' THEN NULLIF(ttMARD.DISKZ, '''') ELSE 1 END AS DISKZ ,						
						--CASE WHEN RIGHT(ttMARD.WERKS,1) = ''1'' THEN ''X'' ELSE NULLIF('''', '''') END AS XEID2 ,						-- Consider MRP2 View
						CASE WHEN RIGHT(ttMARD.WERKS,1) = ''1'' OR (ttMARD.PSTAT = ''L'' AND DISKZ = 1) THEN ''X'' ELSE NULLIF('''', '''') END AS XEID2 ,
						0 AS zDupe,
						ttMARD.zJobNr,
						ttMARD.zSystem,
						ttMARD.zClient, 
						ttMARD.zSrcID,
						ttMARD.zID,'  + 
						CAST(@InsertFlag AS NVARCHAR(1)) + ' AS NewRecord ' +
						CASE WHEN @TableCreate = 1 THEN ' INTO ' + @dbName + '..txMARD_BMM00_LSMW_Sel ' ELSE '' END +
					' FROM ' + @dbName + '..ttMARD										
					WHERE ' + CASE @InsertFlag WHEN 1 THEN 'ISNULL(ttMARD.zActive,0) = 1' WHEN 0 THEN  'ISNULL(ttMARD.zChange,0) = 1' WHEN 2 THEN ' ISNULL(ttMARD.zActive,0) = 1 OR ISNULL(ttMARD.zChange,0) = 1 ' END					
				EXEC(@SQL)	
				SET @Message = CAST('txMARD_BMM00_LSMW_Sel' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR)
				RAISERROR (@Message,10,1) WITH NOWAIT


		/*txMLAN_BMMH2_LSMW_Sel*/
			/*CHECK IF Table EXISTS*/
				SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''txMLAN_BMMH2_LSMW_Sel'''
				DELETE FROM @TableExists
				INSERT INTO @TableExists EXEC (@SQL)	
				IF ISNULL(@@ROWCOUNT,0) = 0 BEGIN SET @TableCreate = 1	END			

			/*DELETE*/
				IF ISNULL(@TableCreate,0) <> 1
					BEGIN
						SET @From@SQL_Del = 'WHERE ' + CASE WHEN @JobNr <> 0 THEN 'zJobNr = ' + CAST(@JobNr AS NVARCHAR) + ' AND' ELSE '' END + '
								 zSystem = ''' + @SAPSystem + ''' AND zClient = ''' + @SAPClient + ''';'													 
						SET @SQL = 	'DELETE FROM ' + @dbName + '..txMLAN_BMMH2_LSMW_Sel ' + @From@SQL_Del				
						EXEC (@SQL)
					END

			/*INSERT/UPDATE*/
				SET @SQL = 
					CASE WHEN @TableCreate = 1 THEN '' ELSE 'INSERT INTO ' + @dbName + '..txMLAN_BMMH2_LSMW_Sel ' END +
					'SELECT ttMLAN.MATNR ,			
						ttMLAN.ALAND ,
						--CASE WHEN LEFT(zVKORG,1) = ''2'' THEN NULLIF('''', '''')  ELSE ''MWST'' END AS TATY1 ,
						NULLIF(ttMLAN.TAXIM,'''') AS TATY1,
						NULLIF(ttMLAN.TAXM1,'''') AS TAXKM,
						 NULLIF('''', '''') AS TATY2 ,
						 NULLIF('''', '''') AS TAXM2 ,
						 NULLIF('''', '''') AS TATY3 ,
						 NULLIF('''', '''') AS TAXM3 ,
						 NULLIF('''', '''') AS TATY4 ,
						 NULLIF('''', '''') AS TAXM4 ,					 
						 zVKORG AS VKORG,
						ttMLAN.zJobNr,
						ttMLAN.zSystem,
						ttMLAN.zClient, 
						ttMLAN.zSrcID,
						ttMLAN.zID,
						ttMLAN.zIDMVKE,'  + 
						CAST(@InsertFlag AS NVARCHAR(1)) + ' AS NewRecord ' +
						CASE WHEN @TableCreate = 1 THEN ' INTO ' + @dbName + '..txMLAN_BMMH2_LSMW_Sel ' ELSE '' END +
					' FROM ' + @dbName + '..ttMLAN 					
							WHERE (' + CASE @InsertFlag WHEN 1 THEN 'ISNULL(ttMLAN.zActive,0) = 1' WHEN 0 THEN  'ISNULL(ttMLAN.zChange,0) = 1' WHEN 2 THEN ' ISNULL(ttMLAN.zActive,0) = 1 OR ISNULL(ttMLAN.zChange,0) = 1 ' END + ') ORDER BY zIDMVKE '					
				EXEC(@SQL)
				SET @Message =  CAST('txMLAN_BMMH2_LSMW_Sel' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR)
				RAISERROR (@Message,10,1) WITH NOWAIT

		/*txMLGN_BMM00_LSMW_Sel*/
			/*CHECK IF Table EXISTS*/
				SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''txMLGN_BMM00_LSMW_Sel'''
				DELETE FROM @TableExists
				INSERT INTO @TableExists EXEC (@SQL)	
				IF ISNULL(@@ROWCOUNT,0) = 0 BEGIN SET @TableCreate = 1	END			

			/*DELETE*/
				IF ISNULL(@TableCreate,0) <> 1
					BEGIN
						SET @From@SQL_Del = 'WHERE ' + CASE WHEN @JobNr <> 0 THEN 'zJobNr = ' + CAST(@JobNr AS NVARCHAR) + ' AND' ELSE '' END + '
								 zSystem = ''' + @SAPSystem + ''' AND zClient = ''' + @SAPClient + ''';'													 
						SET @SQL = 	'DELETE FROM ' + @dbName + '..txMLGN_BMM00_LSMW_Sel ' + @From@SQL_Del				
						EXEC (@SQL)
					END

			/*INSERT/UPDATE*/
				SET @SQL = 
					CASE WHEN @TableCreate = 1 THEN '' ELSE 'INSERT INTO ' + @dbName + '..txMLGN_BMM00_LSMW_Sel ' END +
						'SELECT CASE WHEN ttMLGN.zActive = 1 THEN ''MM01'' ELSE ''MM02'' END AS TCODE,
							ttMLGN.MATNR,
							ttMLGN.LGNUM ,
							ttM.MBRSH ,
							ttM.MTART ,
							ttM.XEIS1 ,
							--CASE WHEN ttMLGN.zChange = 1 THEN ''/'' ELSE ttMLGN.LGBKZ END AS LGBKZ ,
							--CASE WHEN ttMLGN.zChange = 1 THEN ''/'' ELSE CASE WHEN LEFT(LGNUM,2) = ''50'' THEN NULLIF('''', '''') ELSE ttMLGN.LGBKZ END END AS LGBKZ ,
							--CASE WHEN LEFT(LGNUM,2) = ''50'' THEN NULLIF('''', '''') ELSE ttMLGN.LTKZA END AS LTKZA,
							--CASE WHEN LEFT(LGNUM,2) = ''50'' THEN NULLIF('''', '''') ELSE ttMLGN.LTKZE END AS LTKZE,
							--CASE WHEN LEFT(LGNUM,2) = ''50'' THEN NULLIF('''', '''') ELSE ttMLGN.KZZUL END AS KZZUL,
							--CASE WHEN ttMLGN.zChange = 1 THEN ''/'' ELSE CASE WHEN LEFT(LGNUM,2) = ''50'' OR LEFT(LGNUM,3) IN (''640'', ''660'') THEN NULLIF('''', '''') ELSE ttMLGN.LGBKZ END END AS LGBKZ ,
							--CASE WHEN LEFT(LGNUM,2) = ''50'' OR LEFT(LGNUM,3) IN (''640'', ''660'') THEN NULLIF('''', '''') ELSE ttMLGN.LTKZA END AS LTKZA,
							--CASE WHEN LEFT(LGNUM,2) = ''50'' OR LEFT(LGNUM,3) IN (''640'', ''660'') THEN NULLIF('''', '''') ELSE ttMLGN.LTKZE END AS LTKZE,
							--CASE WHEN LEFT(LGNUM,2) = ''50'' OR LEFT(LGNUM,3) IN (''640'', ''660'') THEN NULLIF('''', '''') ELSE ttMLGN.KZZUL END AS KZZUL,							
							CASE WHEN ttMLGN.zChange = 1 THEN ''/'' ELSE NULLIF(ttMLGN.LGBKZ, '''') END AS LGBKZ ,
							NULLIF(ttMLGN.LTKZA, '''') AS LTKZA,
						    NULLIF(ttMLGN.LTKZE, '''') AS LTKZE,
						    NULLIF(ttMLGN.KZZUL, '''') AS KZZUL,
							ISNULL(ttMLGN.zInSAP, 0) AS zInSap ,
							0 AS zDupe,
							ttMLGN.zJobNr,
							ttMLGN.zSystem,
							ttMLGN.zClient,
							ttMLGN.zSrcID,
							ttMLGN.zID,'  + 
							CAST(@InsertFlag AS NVARCHAR(1)) + ' AS NewRecord ' +
							CASE WHEN @TableCreate = 1 THEN ' INTO ' + @dbName + '..txMLGN_BMM00_LSMW_Sel ' ELSE '' END +
					' FROM ' + @dbName + '..ttMLGN
						INNER JOIN ' + @dbName + '..ttM ON ttM.MATNR = ttMLGN.MATNR 
						WHERE ' + CASE @InsertFlag WHEN 1 THEN 'ISNULL(ttMLGN.zActive,0) = 1' WHEN 0 THEN  'ISNULL(ttMLGN.zChange,0) = 1' WHEN 2 THEN ' ISNULL(ttMLGN.zActive,0) = 1 OR ISNULL(ttMLGN.zChange,0) = 1 ' END					
				EXEC(@SQL)
				SET @Message =  CAST('txMLGN_BMM00_LSMW_Sel' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR)
				RAISERROR (@Message,10,1) WITH NOWAIT


		
		/*txMLGT_BMM00_LSMW_Sel Storage types*/
			/*CHECK IF Table EXISTS*/
			SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''ttMLGT'''
				DELETE FROM @TableExists
				INSERT INTO @TableExists EXEC (@SQL)	
				IF ISNULL(@@ROWCOUNT,0) > 0 
					BEGIN 
						SET @SQL ='
							SELECT Ztcode AS TCODE ,
								--	''M'' AS MBRSH,							
									MATNR ,
									LGNUM ,
									LGTYP ,
									NULLIF(LGPLA,'''') AS LGPLA ,
									NULLIF('''','''') AS  LPMAX ,
									NULLIF('''','''') AS  LPMIN
								INTO ' + @dbNAme + '..txMLGT_BMM00_LSMW_Sel
								FROM ' + @dbNAme + '..ttMLGT
								'
						EXEC(@SQL)
						SET @RowCOunt = @@RowCOunt
						IF @Rowcount > 0
							BEGIN
								SET @Message = CAST('txMLGT_BMM00_LSMW_Sel' AS CHAR(35)) + CAST(@ROWCOUNT AS NVARCHAR)
								RAISERROR (@Message,10,1) WITH NOWAIT
							END
					END


		/*txMVKE_BMM00_LSMW_Sel*/
			/*CHECK IF Table EXISTS*/
				SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''txMVKE_BMM00_LSMW_Sel'''
				DELETE FROM @TableExists
				INSERT INTO @TableExists EXEC (@SQL)	
				IF ISNULL(@@ROWCOUNT,0) = 0 BEGIN SET @TableCreate = 1	END			

			/*DELETE*/
				IF ISNULL(@TableCreate,0) <> 1
					BEGIN
						SET @From@SQL_Del = 'WHERE ' + CASE WHEN @JobNr <> 0 THEN 'zJobNr = ' + CAST(@JobNr AS NVARCHAR) + ' AND' ELSE '' END + '
								 zSystem = ''' + @SAPSystem + ''' AND zClient = ''' + @SAPClient + ''';'													 
						SET @SQL = 	'DELETE FROM ' + @dbName + '..txMVKE_BMM00_LSMW_Sel ' + @From@SQL_Del				
						EXEC (@SQL)
					END

			/*INSERT/UPDATE*/
				SET @From@SQL_Upd = 
					'FROM ' + @dbName + '..ttMVKE
						LEFT OUTER JOIN ' + @dbName + '..ttMLAN ON ttMVKE.MATNR = ttMLAN.MATNR	AND ttMVKE.VKORG = ttMLAN.zVKORG
						--INNER JOIN ' + @dbName + '..ttMARA ON ttMVKE.MATNR = ttMARA.MATNR		
						INNER JOIN ' + @dbName + '..ttM ON ttMVKE.MATNR = ttM.MATNR							
					WHERE ' + CASE WHEN @JobNr <> 0 THEN 'ttMVKE.zJobNr = ' + CAST(@JobNr AS NVARCHAR)  + ' AND ' ELSE '' END +
						' ttMVKE.zSystem = ''' + @SAPSystem + ''' AND ttMVKE.zClient = ''' + @SAPClient + ''' AND '			
						 + CASE @InsertFlag WHEN 1 THEN 'ISNULL(ttMVKE.zActive,0) = 1' WHEN 0 THEN  'ISNULL(ttMVKE.zChange,0) = 1' WHEN 2 THEN ' ISNULL(ttMVKE.zActive,0) = 1 OR ISNULL(ttMVKE.zChange,0) = 1 ' END					
			
				SET @SQL = 	
					CASE WHEN @TableCreate = 1 THEN '' ELSE 'INSERT INTO ' + @dbName + '..txMVKE_BMM00_LSMW_Sel ' END +
						'SELECT DISTINCT CASE WHEN ttMVKE.zActive = 1 THEN ''MM01'' ELSE ''MM02'' END AS TCODE,
							ttMVKE.MATNR,
							ttMVKE.VKORG ,
							''01''  AS VTWEG ,
							ttM.MBRSH ,
							ttM.MTART ,
							ttM.XEIA1 ,
							ttM.XEIB1 ,
							ttM.XEID1 ,
							ttM.XEID2 ,
							ttM.XEIE1 ,
							ttM.XEIE2 ,
							ttM.XEIK1 ,
							ttM.XEIL1 ,
							ttM.XEIP1 ,
							ttM.XEIS1 ,
							ttM.XEIV1 ,
							ttM.XEIV2 ,
							ttM.XEIV3 ,
							ttM.XEIV4 ,
							ttM.XEIF1 ,
							ttM.XEIQ1 ,
							ttM.XEIC1 ,
							ttM.XEIA2 ,
							ttM.XEID3 ,
							ttM.XEIVE ,
							ttMVKE.zActive ,
							ttMVKE.zINSAP ,
							ttMVKE.zJobNr,
							ttMVKE.zSystem,
							ttMVKE.zClient, 
							ttMVKE.zSrcID,
							ttMVKE.zID,'  + 
							CAST(@InsertFlag AS NVARCHAR(1)) + ' AS NewRecord ' +
							CASE WHEN @TableCreate = 1 THEN ' INTO ' + @dbName + '..txMVKE_BMM00_LSMW_Sel ' ELSE '' END +
							+ @From@SQL_Upd	+ ' ORDER BY ttMVKE.zID '															
				EXEC(@SQL)
				SET @Message = CAST('txMVKE_BMM00_LSMW_Sel' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR)
				RAISERROR (@Message,10,1) WITH NOWAIT


			/*txMVKE_BMMH1_LSMW_Sel*/
				/*CHECK IF Table EXISTS*/
				SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''txMVKE_BMMH1_LSMW_Sel'''
				DELETE FROM @TableExists
				INSERT INTO @TableExists EXEC (@SQL)	
				IF ISNULL(@@ROWCOUNT,0) = 0 BEGIN SET @TableCreate = 1	END		

				/*DELETE*/		
					IF ISNULL(@TableCreate,0) <> 1
						BEGIN	 
							SET @SQL = 	'DELETE FROM ' + @dbName + '..txMVKE_BMMH1_LSMW_Sel ' + @From@SQL_Del				
							EXEC (@SQL)
						end

				/*INSERT/UPDATE*/		
				SET @SQL = 
					CASE WHEN @TableCreate = 1 THEN '' ELSE 'INSERT INTO ' + @dbName + '..txMVKE_BMMH1_LSMW_Sel ' END +
						'SELECT DISTINCT ttMVKE.MATNR ,					
						ttMVKE.VKORG,
						''01'' AS VTWEG,
						CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 THEN ttMVKE.VERSG ELSE ''/'' END AS VERSG,
						CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 THEN ttMVKE.SKTOF ELSE ''/'' END AS SKTOF,
						CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 THEN NULLIF('''', '''') ELSE ''/'' END AS BONUS ,
						CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 THEN NULLIF(ttMVKE.VMSTA,'''') ELSE ''/'' END AS VMSTA,						
						CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 THEN CASE WHEN vmstd <> '''' THEN CONVERT(NVARCHAR(10), CAST(vMSTD AS DATE), 101)
							END  ELSE ''/'' END AS vMSTD ,
						CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 THEN CAST(ttMVKE.AUMNG AS NVARCHAR) ELSE ''/'' END AS AUMNG,
						CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 THEN NULLIF(ttMVKE.VRKME, '''')  ELSE ''/'' END AS VRKME,
						CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 THEN ttMVKE.MTPOS ELSE ''/'' END AS MTPOS,
						CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 THEN ttMVKE.DWERK ELSE ''/'' END AS DWERK,
						CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 THEN ttMVKE.PRODH ELSE ''/'' END AS PRODH,
						CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 THEN NULLIF(ttMVKE.KONDM,'''') ELSE ''/'' END AS KONDM,
						CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 THEN ttMVKE.KTGRM ELSE ''/'' END AS KTGRM,
						CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 THEN NULLIF(ttMVKE.MVGR1,'''') ELSE ''/'' END AS MVGR1,
						CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 THEN NULLIF(ttMVKE.MVGR2,'''') ELSE ''/'' END AS MVGR2,
						CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 THEN NULLIF(ttMVKE.MVGR3,'''') ELSE ''/'' END AS MVGR3,
						CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 THEN NULLIF(ttMVKE.PRAT2,'''') ELSE ''/'' END AS PRAT2,
						CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 THEN NULLIF(ttMVKE.PRAT3,'''') ELSE ''/'' END AS PRAT3,
						CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 THEN NULLIF('''', '''') ELSE ''/'' END AS RDPRF ,
						CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 THEN NULLIF('''', '''') ELSE ''/'' END AS TRAGR ,						
						CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 AND ttMVKE.VKORG <> ''2100'' THEN NULLIF(ttMVKE.zTATYP,'''') ELSE CASE WHEN ttMVKE.VKORG = ''2100'' THEN ''CTX1'' ELSE ''/'' END END AS TATYP ,
						CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 AND ttMVKE.VKORG <> ''2100'' THEN NULLIF(ttMLAN.TAXM1,'''') ELSE CASE WHEN ttMVKE.VKORG = ''2100'' THEN NULLIF(ttMLAN.TAXM1,'''')  ELSE ''/'' END END  AS TAXKM ,
						CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 AND ttMVKE.VKORG <> ''2100'' THEN NULLIF(ttMLAN.TAXIM,'''') ELSE CASE WHEN ttMVKE.VKORG = ''2100'' THEN ''CTX1'' ELSE ''/'' END END  AS TAXIM ,					
						ttMVKE.zJobNr,
						ttMVKE.zSystem,
						ttMVKE.zClient, 
						ttMVKE.zSrcID,
						ttMVKE.zID, ' + 
						CAST(@InsertFlag AS NVARCHAR(1)) + ' AS NewRecord ' +
						CASE WHEN @TableCreate = 1 THEN ' INTO ' + @dbName + '..txMVKE_BMMH1_LSMW_Sel ' ELSE '' END +
						+ @From@SQL_Upd	+ ' ORDER BY ttMVKE.zID '										
				EXEC(@SQL)
				SET @Message =  CAST('txMVKE_BMMH1_LSMW_Sel' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR)
				RAISERROR (@Message,10,1) WITH NOWAIT

				/*UPDATE With Changed Values only*/
			IF @InsertFlag <> 1
				BEGIN
					WHILE (SELECT TOP 1 1 FROM @TableChangedFields WHERE Done = 0 AND TableName = 'MVKE') = 1
						BEGIN
							SELECT TOP 1 @Field = fieldName FROM @TableChangedFields WHERE Done = 0 AND TableName = 'MVKE'	
							IF @FIELD = 'VMSTD' 
								BEGIN 									
									SET @NewValue = 'CASE WHEN CONVERT(NVARCHAR(10), CAST(NewValue AS DATE), 101) <> ''01/01/1900'' THEN CONVERT(NVARCHAR(10), CAST(NewValue AS DATE), 101) ELSE NULLIF(NewValue,'''') END' 									
								END 
							ELSE 
								BEGIN 
									SET @NewValue = 'NULLIF(NewValue,'''')' 
								END																					
							SET @SQL = 'UPDATE txMVKE_BMMH1_LSMW_Sel SET ' + @Field + ' = ' + @NewValue + ' FROM ' + @dbName + '..txMVKE_BMMH1_LSMW_Sel INNER JOIN ' + @dbName + '..ttMMChanges ON ttMMChanges.zSrcID = txMVKE_BMMH1_LSMW_Sel.zSrcID 
							AND ttMMChanges.zID = txMVKE_BMMH1_LSMW_Sel.zID WHERE TableName = ''MVKE'' AND FieldName = ''' + @Field + ''';'											
							EXEC (@SQL)								
							UPDATE @TableChangedFields SET DONE = 1 WHERE TableName = 'MVKE' AND FieldName = @Field
						END
				
				END		

		/*txEINE_EINA_CreatePIRDiscount_BDC*/
		IF @InsertFlag IN (1,2)
			BEGIN
			/*CHECK IF Table EXISTS*/
				SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''txEINE_EINA_CreatePIRDiscount_BDC'''
				DELETE FROM @TableExists
				INSERT INTO @TableExists EXEC (@SQL)	
				IF ISNULL(@@ROWCOUNT,0) = 0 BEGIN SET @TableCreate = 1	END			

			/*DELETE*/
				IF ISNULL(@TableCreate,0) <> 1
					BEGIN
						SET @From@SQL_Del = 'WHERE ' + CASE WHEN @JobNr <> 0 THEN 'zJobNr = ' + CAST(@JobNr AS NVARCHAR) + ' AND' ELSE '' END + '
								 zSystem = ''' + @SAPSystem + ''' AND zClient = ''' + @SAPClient + ''';'													 
						SET @SQL = 	'DELETE FROM ' + @dbName + '..[txEINE_EINA_CreatePIRDiscount_BDC] ' + @From@SQL_Del				
						EXEC (@SQL)
					END

			/*INSERT/UPDATE*/
				SET @From@SQL_Upd = 
					'FROM ' + @dbName + '..ttEINA
						INNER JOIN ' + @dbName + '..ttEINE ON ttEINE.zMATNR = ttEINA.MATNR AND ttEINE.zSrcID = ttEINA.zSrcID
							AND ttEINE.zLIFNR = ttEINA.LIFNR 					
					WHERE ttEINE.zDeleteFlag = 0 AND ' + CASE WHEN @JobNr <> 0 THEN 'ttEINA.zJobNr = ' + CAST(@JobNr AS NVARCHAR)  + ' AND ' ELSE '' END +
						' ttEINA.zSystem = ''' + @SAPSystem + ''' AND ttEINA.zClient = ''' + @SAPClient + ''' AND  (ISNULL(ttEINA.zActive,0) = 1 OR ISNULL(ttEINE.zActive,0) = 1 ) AND ISNULL(ttEINE.zInSAP,0) = 0  ' 
		 
				SET @SQL = 	
					CASE WHEN @TableCreate = 1 THEN '' ELSE 'INSERT INTO ' + @dbName + '..[txEINE_EINA_CreatePIRDiscount_BDC] ' END +					
					'SELECT DISTINCT ttEINE.zLIFNR AS LIFNR ,
						ttEINE.zMATNR AS MATNR,
						ttEINE.EKORG  ,
						ttEINE.WERKS  ,
						ttEINE.NORBM  ,
						NULLIF(ttEINE.RDPRF,'''') AS RDPRF,
						CASE WHEN (ttEINE.WERKS BETWEEN ''3999'' AND ''5999'' OR ttEINA.zSystem = ''GLP'') THEN ''01012010'' ELSE ISNULL(zDATAB, REPLACE(CONVERT(NVARCHAR,GETDATE(),110),''-'','''') )   END as DATAB,
						''12319999'' as DATBI,
						--CASE WHEN ttEINE.NETPR =0 THEN 0.01 ELSE ttEINE.NETPR END AS NETPR,
						CASE WHEN CAST(dbo.fnFormatCostPrice_WIP_TW(NETPR,ttEINE.WAERS,'''') AS NUMERIC(18,2)) = 0.00 THEN 0.01 ELSE CAST(dbo.fnFormatCostPrice_WIP_TW(NETPR,ttEINE.WAERS,'''') AS NUMERIC(18,2)) END AS NETPR,/*Modified for getting the Net Price by Techwave team*/
						ISNULL(ttEINE.APLFZ, 99) AS APLFZ ,
						--CAST(ttEINE.zListPrice as DECIMAL(15,2)) AS DiscountType1_Amount ,
						dbo.fnFormatCostPrice_WIP_TW(zListPrice,ttEINE.WAERS,'''') AS DiscountType1_Amount ,
						''RC00'' AS DiscountType2 ,
						--CAST(-ttEINE.zDiscount  as DECIMAL(15,2)) AS DiscountType2_Amount ,
						''-'' + dbo.fnFormatCostPrice_WIP_TW(zDiscount,ttEINE.WAERS,'''') AS DiscountType2_Amount ,
						''FRA1'' AS DiscountType3 ,
						CAST(ISNULL(ttEINE.zFreight,0) AS DECIMAL(10, 2)) AS DiscountType3_Amount ,					
						ttEINE.zActive ,
						ttEINE.zCHange,
						ISNULL(ttEINE.zInSAP, 0) AS zINSAP ,					
						ttEINA.zJobNr,
						ttEINA.zSystem,
						ttEINA.zClient, 
						ttEINA.zSrcID,
						ttEINA.zID, ' + 
						CAST(@InsertFlag AS NVARCHAR(1)) + ' AS NewRecord ' +
						CASE WHEN @TableCreate = 1 THEN ' INTO ' + @dbName + '..[txEINE_EINA_CreatePIRDiscount_BDC] ' ELSE '' END +
						+ @From@SQL_Upd		
				--PRINT @SQL					
				EXEC(@SQL)	
				SET @Message = CAST('txEINE_EINA_CreatePIRDiscount_BDC' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR)
				RAISERROR (@Message,10,1) WITH NOWAIT
			END
			
		/*txEINE_EINA_CreatePIRDiscount_BDC_ME*/
		/*Added by Techwave for adding discount type 4 and discount type 5 amounts*/
		IF @InsertFlag IN (1,2)
			BEGIN
			/*CHECK IF Table EXISTS*/
				SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''txEINE_EINA_CreatePIRDiscount_BDC_ME'''
				DELETE FROM @TableExists
				INSERT INTO @TableExists EXEC (@SQL)	
				IF ISNULL(@@ROWCOUNT,0) = 0 BEGIN SET @TableCreate = 1	END			

			/*DELETE*/
				IF ISNULL(@TableCreate,0) <> 1
					BEGIN
						SET @From@SQL_Del = 'WHERE ' + CASE WHEN @JobNr <> 0 THEN 'zJobNr = ' + CAST(@JobNr AS NVARCHAR) + ' AND' ELSE '' END + '
								 zSystem = ''' + @SAPSystem + ''' AND zClient = ''' + @SAPClient + ''';'													 
						SET @SQL = 	'DELETE FROM ' + @dbName + '..[txEINE_EINA_CreatePIRDiscount_BDC_ME] ' + @From@SQL_Del				
						EXEC (@SQL)
					END

			/*INSERT/UPDATE*/
				SET @From@SQL_Upd = 
					'FROM ' + @dbName + '..ttEINA
						INNER JOIN ' + @dbName + '..ttEINE ON ttEINE.zMATNR = ttEINA.MATNR AND ttEINE.zSrcID = ttEINA.zSrcID
							AND ttEINE.zLIFNR = ttEINA.LIFNR 
						LEFT OUTER JOIN ' + @dbName + '..ttMARC M ON M.MATNR = ttEINA.MATNR AND ttEINE.WERKS = M.WERKS
						LEFT OUTER JOIN dgdb_pl..xtDutyME D ON D.HSCode = M.STAWN AND D.WERKS = M.WERKS					
					WHERE ttEINE.zDeleteFlag = 0 AND ' + CASE WHEN @JobNr <> 0 THEN 'ttEINA.zJobNr = ' + CAST(@JobNr AS NVARCHAR)  
					+ ' AND ' ELSE '' END +
						' ttEINA.zSystem = ''' + @SAPSystem + ''' AND ttEINA.zClient = ''' + @SAPClient + ''' AND  (ISNULL(ttEINA.zActive,0) = 1 OR ISNULL(ttEINE.zActive,0) = 1 ) AND ISNULL(ttEINE.zInSAP,0) = 0  ' 
						
				--PRINT @From@SQL_Upd
		 
				SET @SQL = 	
					CASE WHEN @TableCreate = 1 THEN '' ELSE 'INSERT INTO ' + @dbName + '..[txEINE_EINA_CreatePIRDiscount_BDC_ME] ' END +					
					'SELECT DISTINCT ttEINA.LIFNR ,
						ttEINA.MATNR  ,
						ttEINE.EKORG  ,
						ttEINE.WERKS  ,
						ttEINE.NORBM  ,
						NULLIF(ttEINE.RDPRF,'''') AS RDPRF,
						''01012010'' as DATAB,
						''12319999'' as DATBI,
						CASE WHEN CAST(dbo.fnFormatCostPrice_WIP_TW(NETPR,ttEINE.WAERS,'''') AS NUMERIC(18,2)) = 0.00 THEN 0.01 ELSE CAST(dbo.fnFormatCostPrice_WIP_TW(NETPR,ttEINE.WAERS,'''') AS NUMERIC(18,2)) END AS NETPR,/*Modified for getting the Net Price by Techwave team*/
						ISNULL(ttEINE.APLFZ, 99) AS APLFZ ,
						dbo.fnFormatCostPrice_WIP_TW(zListPrice,ttEINE.WAERS,'''') AS DiscountType1_Amount ,
						''RC00'' AS DiscountType2 ,
						''-'' + dbo.fnFormatCostPrice_WIP_TW(zDiscount,ttEINE.WAERS,'''') AS DiscountType2_Amount ,
						''FRA1'' AS DiscountType3 ,
						CAST(ISNULL(ttEINE.zFreight,0) AS DECIMAL(10, 2)) AS DiscountType3_Amount ,
						''ZUPL'' AS DiscountType4,
						CASE WHEN ttEINE.WERKS IN (5011,5021) THEN 7.00 ELSE 0.00 END AS DiscountType4_Amount,
						--''ZIM1'' AS DiscountType5,
						--CASE WHEN ttEINE.WERKS = 5011 THEN 1.00 
						--	WHEN ttEINE.WERKS IN (SELECT DISTINCT WERKS FROM dgdb_pl..xtDutyME) THEN dbo.fnGetXIM(HSCode, ttEINE.WERKS)
						--	ELSE 0.00 END AS DiscountType5_Amount,
						ttEINE.zActive ,
						ttEINE.zCHange,
						ISNULL(ttEINE.zInSAP, 0) AS zINSAP ,					
						ttEINA.zJobNr,
						ttEINA.zSystem,
						ttEINA.zClient, 
						ttEINA.zSrcID,
						ttEINA.zID, ' + 
						CAST(@InsertFlag AS NVARCHAR(1)) + ' AS NewRecord ' +
						CASE WHEN @TableCreate = 1 THEN ' INTO ' + @dbName + '..[txEINE_EINA_CreatePIRDiscount_BDC_ME] ' ELSE '' END +
						+ @From@SQL_Upd	
				--PRINT @SQL						
				EXEC(@SQL)	
				SET @Message = CAST('txEINE_EINA_CreatePIRDiscount_BDC_ME' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR)
				RAISERROR (@Message,10,1) WITH NOWAIT
			END

		/*txEINE_EINA_ModifyPIRDiscount_BDC*/
		IF @InsertFlag IN (0,2)
			BEGIN
				/*CHECK IF Table EXISTS*/
				SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''txEINE_EINA_ModifyPIRDiscount_BDC'''
				DELETE FROM @TableExists
				INSERT INTO @TableExists EXEC (@SQL)	
				IF ISNULL(@@ROWCOUNT,0) = 0 BEGIN SET @TableCreate = 1	END			

			/*DELETE*/
				IF ISNULL(@TableCreate,0) <> 1
					BEGIN
						SET @From@SQL_Del = 'WHERE ' + CASE WHEN @JobNr <> 0 THEN 'zJobNr = ' + CAST(@JobNr AS NVARCHAR) + ' AND' ELSE '' END + '
								 zSystem = ''' + @SAPSystem + ''' AND zClient = ''' + @SAPClient + ''';'													 
						SET @SQL = 	'DELETE FROM ' + @dbName + '..[txEINE_EINA_ModifyPIRDiscount_BDC] ' + @From@SQL_Del				
						EXEC (@SQL)
					END

			--Updated Pradeep Suram : 8/4/2015 Issue: Multiple records for different Frieght settings for different plants
			---					Solution: Add additional join with LIFNR
			---					Recommandation: Inbound Freight should be set by supplier and not by plant
			--========================
			--/*INSERT/UPDATE*/
			--	SET @From@SQL_Upd = 
			--		'FROM ' + @dbName + '..ttEINA
			--			INNER JOIN ' + @dbName + '..ttEINE ON ttEINE.zMATNR = ttEINA.MATNR AND ttEINE.zSrcID = ttEINA.zSrcID					
			--		WHERE ' + CASE WHEN @JobNr <> 0 THEN 'ttEINA.zJobNr = ' + CAST(@JobNr AS NVARCHAR)  + ' AND ' ELSE '' END +
			--			' ttEINA.zSystem = ''' + @SAPSystem + ''' AND ttEINA.zClient = ''' + @SAPClient + ''' AND  ISNULL(ttEINA.zChange,0) = 1 OR ISNULL(ttEINE.zChange,0) = 1 ' 

			/*INSERT/UPDATE*/
				SET @From@SQL_Upd = 
					'FROM ' + @dbName + '..ttEINA
						INNER JOIN ' + @dbName + '..ttEINE ON ttEINE.zMATNR = ttEINA.MATNR AND ttEINE.zSrcID = ttEINA.zSrcID AND ttEINE.zlifnr = ttEINA.lifnr				
					WHERE  ttEINE.zDeleteFlag = 0 
							AND ttEINE.zSource <> ''14'' -- Adhoc PriceChange
							AND ' + CASE WHEN @JobNr <> 0 THEN 'ttEINA.zJobNr = ' + CAST(@JobNr AS NVARCHAR)  + ' AND ' ELSE '' END +
						' ttEINA.zSystem = ''' + @SAPSystem + ''' AND ttEINA.zClient = ''' + @SAPClient + ''' AND  ISNULL(ttEINA.zChange,0) = 1 OR ISNULL(ttEINE.zChange,0) = 1 ' 

		 
				SET @SQL = 	
					CASE WHEN @TableCreate = 1 THEN '' ELSE 'INSERT INTO ' + @dbName + '..[txEINE_EINA_ModifyPIRDiscount_BDC] ' END +					
					'SELECT DISTINCT						
						ttEINA.LIFNR ,
						ttEINA.MATNR  ,
						ttEINE.EKORG  ,
						ttEINE.EKGRP ,
						ttEINE.WERKS  ,
						ttEINE.NORBM  ,
						ttEINE.RDPRF ,
						CASE WHEN zDatab IS NULL THEN REPLACE(CONVERT(NVARCHAR,GETDATE(),110),''-'','''') ELSE zDATAB END as DATAB,
						''12319999'' as DATBI,
						--CASE WHEN ttEINE.NETPR =0 THEN dbo.fnFormatCostPrice (''0.01'',ttEINE.WAERS,'''') ELSE dbo.fnFormatCostPrice (NETPR,ttEINE.WAERS,'''') END AS NETPR,
						--ISNULL(ttEINE.APLFZ, 99) AS APLFZ ,
						--dbo.fnFormatCostPrice (zListPrice,ttEINE.WAERS,'''') AS DiscountType1_Amount ,
						--''RC00'' AS DiscountType2 ,
						--''-'' + dbo.fnFormatCostPrice (zDiscount,ttEINE.WAERS,'''') AS DiscountType2_Amount ,
						--CASE WHEN ttEINE.NETPR =0 THEN dbo.fnFormatCostPrice (''0.01'',ttEINE.WAERS,'''') ELSE dbo.fnFormatCostPrice (NETPR,ttEINE.WAERS,'''') END AS NETPR,
						CASE WHEN CAST(dbo.fnFormatCostPrice_WIP_TW(NETPR,ttEINE.WAERS,'''') AS NUMERIC(18,2)) = 0.00 THEN 0.01 ELSE CAST(dbo.fnFormatCostPrice_WIP_TW(NETPR,ttEINE.WAERS,'''') AS NUMERIC(18,2)) END AS NETPR,/*Modified for getting the Net Price by Techwave team*/
						ISNULL(ttEINE.APLFZ, 99) AS APLFZ ,
						dbo.fnFormatCostPrice_WIP_TW(zListPrice,ttEINE.WAERS,'''') AS DiscountType1_Amount ,
						''RC00'' AS DiscountType2 ,
						''-'' + dbo.fnFormatCostPrice_WIP_TW(zDiscount,ttEINE.WAERS,'''') AS DiscountType2_Amount ,
						''FRA1'' AS DiscountType3 ,
						CAST(ISNULL(ttEINE.zFreight,0) AS DECIMAL(10, 2)) AS DiscountType3_Amount ,					
						ttEINE.zActive ,
						ttEINE.zCHange,
						ISNULL(ttEINE.zInSAP, 0) AS zINSAP ,					
						ttEINA.zJobNr,
						ttEINA.zSystem,
						ttEINA.zClient, 
						ttEINA.zSrcID,
						ttEINA.zID, ' + 
						CAST(@InsertFlag AS NVARCHAR(1)) + ' AS NewRecord ' +
						CASE WHEN @TableCreate = 1 THEN ' INTO ' + @dbName + '..[txEINE_EINA_ModifyPIRDiscount_BDC] ' ELSE '' END +
						+ @From@SQL_Upd							
				EXEC(@SQL)
				SET @Message = CAST('txEINE_EINA_ModifyPIRDiscount_BDC' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR)
				RAISERROR (@Message,10,1) WITH NOWAIT
			END
			
			
			/*txEINA_ModifyPrice ttEINE*/
			SET @SQL = '
				SELECT zLIFNR AS LIFNR,zMATNR AS MATNR,EKORG ,WERKS ,CAST(ttEINE.zListPrice as DECIMAL(15,2))
				 AS ListPrice,CAST(-ttEINE.zDiscount  as DECIMAL(15,2)) AS Discount,CAST(ISNULL(ttEINE.zFreight,0) AS DECIMAL(10, 2)) AS FreightPerc INTO ' + @dbName + '..txEINA_ModifyPrice 
					FROM ' + @dbName + '..ttEINE WHERE zSource = ''14''' -- Adhoc PriceChange
				EXEC(@SQL)
				SET @RowCOunt = @@RowCOunt
				IF @Rowcount > 0
					BEGIN
						SET @Message = CAST('txEINA_ModifyPrice' AS CHAR(35)) + CAST(@ROWCOUNT AS NVARCHAR)
						RAISERROR (@Message,10,1) WITH NOWAIT
					END


		/*PIR_DELETE_ME15_LSMW - ttEINE */
				/*txEORD_Del_LSMW Delete*/					
				SET @SQL = 'SELECT LIFNR,MATNR,EKORG,WERKS INTO ' + @dbName + '..txEINA_Delete_ME15_LSMW FROM ' + @dbName + '..ttEINE E INNER JOIN ' + @dbName + '..ttEINA A ON A.zID = E.ZID WHERE zDeleteFlag = 1'
				EXEC(@SQL)
				SET @RowCOunt = @@RowCOunt
				IF @Rowcount > 0
					BEGIN
						SET @Message = CAST('txEINA_Delete_ME15_LSMW' AS CHAR(35)) + CAST(@ROWCOUNT AS NVARCHAR)
						RAISERROR (@Message,10,1) WITH NOWAIT
					END



		/*txEINA_Classes_LSMW - ttAUSP */
			/*CHECK IF Table EXISTS*/
				SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''txEINA_Classes_LSMW'''
				DELETE FROM @TableExists
				INSERT INTO @TableExists EXEC (@SQL)	
				IF ISNULL(@@ROWCOUNT,0) = 0 BEGIN SET @TableCreate = 1	END			

			/*DELETE*/
				IF ISNULL(@TableCreate,0) <> 1
					BEGIN
						SET @From@SQL_Del = 'WHERE ' + CASE WHEN @JobNr <> 0 THEN 'zJobNr = ' + CAST(@JobNr AS NVARCHAR) + ' AND' ELSE '' END + '
								 zSystem = ''' + @SAPSystem + ''' AND zClient = ''' + @SAPClient + ''';'													 
						SET @SQL = 	'DELETE FROM ' + @dbName + '..txEINA_Classes_LSMW ' + @From@SQL_Del				
						EXEC (@SQL)
					END

			/*INSERT/UPDATE*/
				SET @SQL = 
					CASE WHEN @TableCreate = 1 THEN '' ELSE 'INSERT INTO ' + @dbName + '..txEINA_Classes_LSMW ' END +
						'SELECT CASE WHEN zActive = 1 THEN ''MM01'' ELSE ''MM02'' END AS TCODE,
						OBJEK,
						ATWRT,
						zATINN AS ATNAM,
						zActive,
						zInSAP
						zJobNr,
						zSystem,
						zClient, 
						zSrcID,
						zID,'  + 
						CAST(@InsertFlag AS NVARCHAR(1)) + ' AS NewRecord ' +
						CASE WHEN @TableCreate = 1 THEN ' INTO ' + @dbName + '..txEINA_Classes_LSMW ' ELSE '' END +
					' FROM ' + @dbName + '..ttAUSP										
					WHERE ' + CASE @InsertFlag WHEN 1 THEN 'ISNULL(ttAUSP.zActive,0) = 1' WHEN 0 THEN  'ISNULL(ttAUSP.zChange,0) = 1' WHEN 2 THEN ' ISNULL(ttAUSP.zActive,0) = 1 OR ISNULL(ttAUSP.zChange,0) = 1 ' END					
				EXEC(@SQL)	
				SET @Message = CAST('txEINA_Classes_LSMW' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR)
				RAISERROR (@Message,10,1) WITH NOWAIT


		/*txKONP_ProffServicesPricingCond */
			/*CHECK IF Table EXISTS*/
				SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''txKONP_ProffServicesPricingCond'''
				DELETE FROM @TableExists
				INSERT INTO @TableExists EXEC (@SQL)	
				IF ISNULL(@@ROWCOUNT,0) = 0 BEGIN SET @TableCreate = 1	END			

			/*DELETE*/
				IF ISNULL(@TableCreate,0) <> 1
					BEGIN
						SET @From@SQL_Del = 'WHERE ' + CASE WHEN @JobNr <> 0 THEN 'zJobNr = ' + CAST(@JobNr AS NVARCHAR) + ' AND' ELSE '' END + '
								 zSystem = ''' + @SAPSystem + ''' AND zClient = ''' + @SAPClient + ''';'													 
						SET @SQL = 	'DELETE FROM ' + @dbName + '..txKONP_ProffServicesPricingCond ' + @From@SQL_Del				
						EXEC (@SQL)
					END

			/*INSERT/UPDATE*/
				SET @SQL = 
					CASE WHEN @TableCreate = 1 THEN '' ELSE 'INSERT INTO ' + @dbName + '..txKONP_ProffServicesPricingCond ' END +
						'SELECT ''914'' AS KNUMD ,
							KSCHL ,
							zVKORG + ''0101'' + zMATNR_INT AS VAR_KEY ,
							KBETR ,
							KONWA,
							REPLACE(CONVERT(NVARCHAR,GETDATE(),112),''-'','''') AS DATAB,							 
							''99991231'' AS DATBI,
							zActive,
							zInSAP
							zJobNr,
							zSystem,
							zClient, 
							zSrcID,
							zID,'  + 
							CAST(@InsertFlag AS NVARCHAR(1)) + ' AS NewRecord ' +
							CASE WHEN @TableCreate = 1 THEN ' INTO ' + @dbName + '..txKONP_ProffServicesPricingCond ' ELSE '' END +
						' FROM ' + @dbName + '..ttKONP										
						WHERE ' + CASE @InsertFlag WHEN 1 THEN 'ISNULL(ttKONP.zActive,0) = 1' WHEN 0 THEN  'ISNULL(ttKONP.zChange,0) = 1' WHEN 2 THEN ' ISNULL(ttKONP.zActive,0) = 1 OR ISNULL(ttKONP.zChange,0) = 1 ' END						
				EXEC(@SQL)	
				SET @RowCOunt = @@RowCOunt
					IF @Rowcount > 0
						BEGIN
							SET @Message = CAST('txKONP_ProffServicesPricingCond' AS CHAR(35)) + CAST(@ROWCOUNT AS NVARCHAR)
							RAISERROR (@Message,10,1) WITH NOWAIT
						END							

	
		/*EORD Idoc for Creation ONLY, modification through BDC*/	
				/*INSERT/UPDATE*/
				SET @From@SQL_Upd = 
					' FROM ' + @dbName + '..ttEORD 					
					WHERE ' + CASE @InsertFlag WHEN 1 THEN 'ISNULL(ttEORD.zActive,0) = 1' WHEN 2 THEN ' ISNULL(ttEORD.zActive,0) = 1 ' END	
	
		 /*txEORD_Header*/
			/*CHECK IF Table EXISTS*/
				SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''txEORD_Header'''
				DELETE FROM @TableExists
				INSERT INTO @TableExists EXEC (@SQL)	
				IF ISNULL(@@ROWCOUNT,0) = 0 BEGIN SET @TableCreate = 1	END			

				SET @SQL = 	
					CASE WHEN @TableCreate = 1 THEN '' ELSE 'INSERT INTO ' + @dbName + '..[txEORD_Header] ' END +		
					'SELECT WERKS ,
							MATNR,		
							CAST('''' AS NVARCHAR) AS MSGFN,
							NULLIF(LOGSY,'''')  AS LOGSY,					
							ttEORD.zJobNr,
							ttEORD.zSystem,
							ttEORD.zClient, 
							ttEORD.zSrcID, ' + 
							CAST(@InsertFlag AS NVARCHAR(1)) + ' AS NewRecord ' +
							CASE WHEN @TableCreate = 1 THEN ' INTO ' + @dbName + '..[txEORD_Header] ' ELSE '' END +
							+ @From@SQL_Upd	+ ' AND ISNULL(zDeleteFlag,0) = 0 GROUP BY ttEORD.WERKS ,MATNR,zJobnr,zSystem,zClient,zSrcID,zChange,LOGSY,zLOgsySAP ORDER BY MATNR,WERKS'												
					EXEC(@SQL)
					SET @Message = CAST('txEORD_Header' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR)
					RAISERROR (@Message,10,1) WITH NOWAIT
	
		/*txEORD_Detail*/		
			/*CHECK IF Table EXISTS*/
				SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''txEORD_Detail'''
				DELETE FROM @TableExists
				INSERT INTO @TableExists EXEC (@SQL)	
				IF ISNULL(@@ROWCOUNT,0) = 0 BEGIN SET @TableCreate = 1	END		

							
				SET @SQL = 	
					CASE WHEN @TableCreate = 1 THEN '' ELSE 'INSERT INTO ' + @dbName + '..[txEORD_Detail] ' END +		
					'SELECT CASE WHEN ISNULL(ttEORD.zCHANGE,0) = 0 THEN MEINS ELSE '''' END AS  MEINS ,
						ttEORD.WERKS ,
						NULLIF(ttEORD.FLIFN, '''') AS FESKZ ,
						ttEORD.AUTET ,
						CONVERT(NVARCHAR,ttEORD.VDATU,112) as VDATU ,
						CONVERT(NVARCHAR,ttEORD.BDATU,112) as BDATU,
						ttEORD.EKORG ,
						MATNR ,
						CASE WHEN ( dgdb.dbo.boaIsNumeric(ttEORD.LIFNR) = 0 )
							 THEN ttEORD.LIFNR
							 ELSE dgdb.dbo.boaPad(ttEORD.LIFNR, 0, 10)
						END AS LIFNR,						
						ttEORD.ZEORD,											
						ttEORD.zJobNr,
						ttEORD.zSystem,
						ttEORD.zClient, 
						ttEORD.zSrcID, ' + 
						CAST(@InsertFlag AS NVARCHAR(1)) + ' AS NewRecord ' +
						CASE WHEN @TableCreate = 1 THEN ' INTO ' + @dbName + '..[txEORD_Detail] ' ELSE '' END +
						+ @From@SQL_Upd	+ ' AND ISNULL(zDeleteFlag,0) = 0   ORDER BY FLIFN,MATNR,WERKS'				
					EXEC(@SQL)
					SET @Message = CAST('txEORD_Detail' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR)
					RAISERROR (@Message,10,1) WITH NOWAIT

			/*txEORD_Del_LSMW Delete*/					
				SET @SQL = 'SELECT LIFNR,WERKS,MATNR INTO ' + @dbName + '..txEORD_Del_LSMW FROM ' + @dbName + '..ttEORD WHERE zDeleteFlag = 1'
				EXEC(@SQL)
				SET @RowCOunt = @@RowCOunt
					IF @Rowcount > 0
						BEGIN
							SET @Message = CAST('txEORD_Del_LSMW' AS CHAR(35)) + CAST(@ROWCOUNT AS NVARCHAR)
							RAISERROR (@Message,10,1) WITH NOWAIT
						END					
				
			/* BUNDLES*/

				/*check for Bundle Tabels 1st (STPO/STKO)*/
				SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''ttSTKO'''
				DELETE FROM @TableExists
				INSERT INTO @TableExists EXEC (@SQL)	
				IF ISNULL(@@ROWCOUNT,0) <> 0 
					BEGIN 

						EXEC dgdb..spGenDropOrCheckTable 'txSTKO_BOM_Header',@DBName,1
						SET @SQL = 
							'SELECT zMATNR AS MATNR,
									WRKAN AS WERKS,
									zSTLAN AS STLAN,
									NULLIF(STKTX,'''') AS zTEXT,
									BMENG,
									STLST,
									CONVERT(NVARCHAR,DATUV,101) AS DATUV,
									ttSTKO.zJobNr,
									ttSTKO.zSystem,
									ttSTKO.zClient, 
									ttSTKO.zSrcID   
								INTO ' + @dbName + '..[txSTKO_BOM_Header] 
								FROM ' + @dbName + '..ttSTKO WHERE zactive = 1'
						EXEC(@SQL)	
						SET @RowCOunt = @@RowCOunt
						IF @Rowcount > 0
							BEGIN
								SET @Message = CAST('txSTKO_BOM_Header' AS CHAR(35)) + CAST(@ROWCOUNT AS NVARCHAR)
								RAISERROR (@Message,10,1) WITH NOWAIT
							END			
						

						EXEC dgdb..spGenDropOrCheckTable 'txSTPO_BOM_Item',@DBName,1
						SET @SQL = 
							'SELECT DISTINCT zMATNR AS MATNR,
									IDNRK,	
									MENGE,
									MEINS,
									POSTP,	
									ttSTPO.zJobNr,
									ttSTPO.zSystem,
									ttSTPO.zClient, 
									ttSTPO.zSrcID   
								INTO ' + @dbName + '..[txSTPO_BOM_Item] 
								FROM ' + @dbName + '..ttSTPO WHERE zactive = 1'					
						EXEC(@SQL)	
						SET @RowCOunt = @@RowCOunt
						IF @Rowcount > 0
							BEGIN
								SET @Message = CAST('txSTPO_BOM_Item' AS CHAR(35)) + CAST(@ROWCOUNT AS NVARCHAR)
								RAISERROR (@Message,10,1) WITH NOWAIT
							END			
					END


				PRINT  ''
				PRINT ''


GO
