USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[srSTXL_TargetIns_WIP_AdhocProcessing]    Script Date: 3/9/2026 9:14:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[srSTXL_TargetIns_WIP_AdhocProcessing]
	@dbName NVARCHAR(40) = 'DGDB_ADHOC_WORKDB',
	@AhrID INT = 147	
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE 			
		@SQL NVARCHAR(4000),
		@srcSystem NVARCHAR(4),
		@srcCLient NVARCHAR(4),
		@SAPDB NVARCHAR(40),
		@stxlTable NVARCHAR(50)

		SELECT	@srcSystem = ahrSystem,
				@srcCLient = ahrClient					
			FROM DGDB_ADHOC..AdHocRequest
			WHERE ahrID = @AhrID
			
		SELECT @stxlTable = 'z_' + RIGHT('0000'+CAST(@AhrID AS NVARCHAR),5) + '_ttSTXL'

	SELECT @SAPDB = trdDatabase FROM dbo.cfTargetData WHERE trdSystem = @srcSystem AND trdClient = @srcClient	
	--DELETE FROM VPL10164_VMWare_NZ_147..ttstxl
		
	/*INSERT Description From SourceFileExtract*/			
	SET @SQL = 'INSERT INTO ' + @dbName + '.[dbo].' + @stxlTable + '
				( TDOBJECT ,
					TDNAME ,
					TDID ,
					TDSPRAS ,				
					zTEXTFORMAT ,
					zTEXTLINE ,
					zSource ,					
					zSrcID,
					zActive ,
					zLine,
					zLength
				)
			SELECT DISTINCT   ''MATERIAL'' , -- TDOBJECT - nvarchar(50)
						Material , -- TDNAME - nvarchar(50)
						''GRUN'' , -- TDID - nvarchar(50)
						''E'' , -- TDSPRAS - nvarchar(50)					
						''/'' , -- zTEXTFORMAT - nvarchar(50)
						Description , -- zTEXTLINE - nvarchar(max)
						zSource , -- zSource - nvarchar(50)
						LEFT(zSource,PATINDEX(''% %'',zSource)),
						0 , -- zActive - bit
						1 ,  -- zLine - int
						LEN(Description) --ZLength
					FROM ' + @dbName + '..SourceFileExtract					
			PRINT CAST(''STXL '' AS CHAR(12)) + CAST(@@ROWCOUNT AS CHAR(13)) + ''ttSTXL (Descriptions from SourceFileExtract) Records Inserted ''; 
	--		CREATE UNIQUE INDEX PK_ttSTXL ON ' + @dbName + '.dbo.ttSTXL(TDNAME,zLine)
	--		CREATE INDEX IX_ttSTXL ON ' + @dbName + '.dbo.ttSTXL(TDNAME)
	--		CREATE INDEX IX2_ttSTXL ON ' + @dbName + '.dbo.ttSTXL(zLine)'			

		EXEC (@SQL)
		/*Loop and split lines for all rows longer than 132 positions*/
		SET @SQL = 'DECLARE @MaxFiedlLength AS INTEGER,@StartSize AS INTEGER,@Counter AS INTEGER;			
			SELECT @MaxFiedlLength = MAX(ISNULL(zLength,0)) FROM ' + @dbName + '.dbo.' + @stxlTable + ';
			SET @StartSize = 133;		
			SET @Counter = 2; 			
			WHILE @StartSize < @MaxFiedlLength
				BEGIN
					INSERT INTO ' + @dbName + '.dbo.' + @stxlTable + '
							( TDOBJECT ,
							  TDNAME ,
							  TDID ,
							  TDSPRAS ,						
							  zTEXTFORMAT ,
							  zTEXTLINE,
							  zSource ,
							  zSrcID,
							  zActive ,
							  zLine )
					SELECT	  DISTINCT TDOBJECT ,
							  TDNAME ,
							  TDID ,
							  TDSPRAS ,						
							  ''='' ,
							  SUBSTRING(zTEXTLINE,@StartSize,132),
							  zSource ,
							  zSrcID,
							  zActive ,
							  @Counter 
					FROM ' + @dbName + '.dbo.' + @stxlTable + ' WHERE zLine = 1  AND LEN(zTEXTLINE) > @StartSize; 	
					PRINT CAST(''STXL '' AS CHAR(12)) + CAST(@@ROWCOUNT AS CHAR(13)) + ''Additional ttSTXL (Long Description) Records Inserted for Length between : '' + CAST(@StartSize AS CHAR(5)) + '' - '' + CAST(@StartSize + 132 AS CHAR(10)) ; 			
					SET @StartSize = @StartSize + 132;		
					SET @Counter = @Counter + 1;					
				END;				
			UPDATE ' + @dbName + '.dbo.' + @stxlTable + '
				SET zTEXTLINE = LEFT(LTRIM(zTEXTLINE),132)
				WHERE zLine = 1;
			DECLARE @ID NUMERIC(12,0)=0;
			UPDATE ' + @dbName + '.dbo.' + @stxlTable + '
				SET @ID = zID = @ID + 1;'
		EXEC (@SQL)
	
	
		SET @SQL = '
	
			SELECT TDNAME, TDID, CAST(COUNTER as INT) AS COUNTER ,TDFORMAT,TDLINE,MATNR_EXT,MATNR_INT   
				INTO ##STXL_' +  CAST(@AhrID AS NVARCHAR) + '
				FROM ' + @dbName + '..ttMaterialID M 
					INNER JOIN ' + @SAPdb + '..STXL S 
						ON S.TDNAME = M.MATNR_INT		

			UPDATE T
			SET zChange = 1
			FROM ' + @dbName + '..' + @stxlTable + ' T
				INNER JOIN ##STXL_' +  CAST(@AhrID AS NVARCHAR) + ' L 
					ON	T.TDNAME = L.MATNR_EXT				
					AND T.zLine = L.COUNTER
			WHERE L.TDLINE <> T.zTEXTLINE 
			PRINT CAST(''STXL'' AS CHAR(12)) + CAST(@@ROWCOUNT AS CHAR(13)) + '' Changed Long Description) Records''; 

		  UPDATE T
			SET zActive = 1
			FROM ' + @dbName + '..' + @stxlTable + ' T
				LEFT OUTER JOIN ##STXL_' +  CAST(@AhrID AS NVARCHAR) + ' L 
					ON	T.TDNAME = L.MATNR_EXT				
					AND T.zLine = L.COUNTER
			WHERE L.TDNAME IS NULL
			PRINT CAST(''STXL'' AS CHAR(12)) + CAST(@@ROWCOUNT AS CHAR(13)) + '' New Long Description) Records''; 

		UPDATE ' + @dbName + '..' + @stxlTable + ' 
			SET zCHange = 1 WHERE TDNAME IN (SELECT DISTINCT TDNAME FROM ' + @dbName + '..' + @stxlTable + ' WHERE zCHange = 1)

		IF OBJECT_ID(''tempdb..##STXL_' +  CAST(@AhrID AS NVARCHAR) + ''') IS NOT NULL BEGIN DROP TABLE ##STXL_' +  CAST(@AhrID AS NVARCHAR) + ' END								

		'
	
		--PRINT @SQL
		EXEC (@SQL)	
		PRINT ''
		PRINT ''
	END

	
GO
