USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spProcess09PrepSourceFileProcessing]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spProcess09PrepSourceFileProcessing]



	@srcID			INTEGER = 639,
	@CompareDays	INTEGER = 0,				-- Capture changes since...
	@debugMode		BIT	=	0


AS 

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

BEGIN

	DECLARE 
		@PL_PKColumn			NVARCHAR(255),
		@PL_Date				DATETIME,
		@PL_DB					NVARCHAR(255),
		@PL_Table				NVARCHAR(255),	
		@PL_Fields				NVARCHAR(4000),
		@PL_MFRPN_Field			NVARCHAR(80),
	
		@LastSrcIDProcessDate	NVARCHAR(8),
		@LastFieldListDate		NVARCHAR(8),

		@SQL				NVARCHAR(4000)

	
	

	DECLARE @TableFields	TABLE (Fields NVARCHAR(4000))

	/*Get src Specific Info from pricelist*/
		SET		@PL_DB			= DGDB_PL.dbo.fnGetVPLName(@srcID)
		SELECT  @PL_Table		= CASE WHEN srcAdhocFlag =  0 THEN srcTableName ELSE srcTableName + '_Adhoc' END  FROM DGDB_PL.dbo.cfSource WHERE srcID = @srcID
		SELECT	@PL_PKColumn	= SMR.srmSourceMap FROM cfSourceMapRules SMR JOIN cfSourceSourceGroup SSG ON SMR.srmSrgID = SSG.ssgSrgID WHERE SSG.ssgSrcID = @srcID AND SMR.srmFldName = 'PK'

	PRINT CAST('Start spProcess09PrepSourceFileProcessing' AS CHAR(60)) + @PL_DB + '..' + @PL_Table
	PRINT ''

	/*Get Last Modificationdates*/	
		SELECT @LastSrcIDProcessDate = CONVERT(NVARCHAR,MAX(prlProcessed),112) FROM DGDB_PL_DATA.._ProcessLog WHERE prlSrcID = @srcID AND prlError IS NULL

		SET @SQL = 'IF EXISTS( SELECT TOP 1 1 FROM ' + @PL_DB + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''' + @PL_Table + '_FieldValues'')
						BEGIN
							SELECT CONVERT(NVARCHAR,MAX(DateStamp),112) FROM ' + @PL_DB + '..' + @PL_Table + '_FieldValues
						END'
		--PRINT @SQL
		INSERT INTO @TableFields EXEC (@SQL)
		SELECT TOP 1 @LastFieldListDate = Fields FROM @TableFields
		DELETE FROM @TableFields	

		SET @PL_Date = @LastFieldListDate
        IF @LastSrcIDProcessDate < @LastFieldListDate
            BEGIN
                SET @PL_Date = @LastSrcIDProcessDate;
            END;
			
		IF @debugMode = 1 
			BEGIN  
				SELECT @PL_DB,@PL_Table,@PL_PKColumn
				SELECT @PL_Date AS '@PL_Date' ,@LastFieldListDate AS '@LastFieldListDate',@LastSrcIDProcessDate AS '@LastSrcIDProcessDate' 
			END 
	
	/*Check if column zActive exists, if not create column*/
		SET @SQL = 				
			'USE ' + @PL_DB + '
			IF  NOT EXISTS (select TOP 1 1 from INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = ''' + @PL_Table + ''' AND COLUMN_NAME = ''zActive'')
				BEGIN
					DECLARE @SQL NVARCHAR(4000)
					SET @SQL =
						''ALTER TABLE [' + @PL_Table + '] ADD zActive BIT''
					EXEC (@SQL)
				END
			'							
		EXEC (@SQL)
	
	/*Check if column zModifiedDate exists, if not create column*/
		SET @SQL = 				
			'USE ' + @PL_DB + '
			IF  NOT EXISTS (select TOP 1 1 from INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = ''' + @PL_Table + ''' AND COLUMN_NAME = ''zModifiedDate'')
				BEGIN
					DECLARE @SQL NVARCHAR(4000)
					SET @SQL =
						''ALTER TABLE [' + @PL_Table + '] ADD zModifiedDate DATETIME''
					EXEC (@SQL)
				END
			'	
						
		EXEC (@SQL)
	
	/*DISABLED, Check if Trigger on trModifiedDate exists, if not create trigger*/
		SET @SQL = '
					USE ' + @PL_DB + '

					IF NOT EXISTS (select * from sys.objects where type = ''TR'' and name = ''trUpdateModifiedDate'')
							BEGIN
								DECLARE @SQL NVARCHAR(4000)
								SET @SQL =			
									''
											CREATE TRIGGER [dbo].[trUpdateModifiedDate] 
												ON  [dbo].[' + @PL_Table + ']
												AFTER UPDATE
													AS 
														BEGIN
															SET NOCOUNT ON;
																UPDATE E SET zModifiedDate= SYSDATETIME()
																FROM ' + @PL_Table + ' E
																	JOIN (
																			SELECT * FROM Inserted
																			EXCEPT
																			SELECT * FROM Deleted
																		) A	 
																			ON A.' + @PL_PKColumn + ' = E.' + @PL_PKColumn + '
														END 										
									''
							END
					EXEC (@SQL)
						'
		--PRINT @SQL
		--EXEC (@SQL)

	/*Get fieldList of Original Pricelist Fields That Are used in the SourceRules to compare*/
		SELECT @PL_MFRPN_Field = SMR.srmSourceMap FROM cfSourceMapRules SMR JOIN cfSourceSourceGroup SSG ON SMR.srmSrgID = SSG.ssgSrgID WHERE SSG.ssgSrcID = @srcID AND SMR.srmFldID = 903 -- Material
		/*cfSourceRules*/
		
			SET @SQL = '
				SELECT DISTINCT COLUMN_NAME FROM ' + @PL_DB + '.INFORMATION_SCHEMA.COLUMNS 				
					CROSS JOIN DGDB_PL.dbo.vSourceRules
					WHERE TABLE_NAME = ''' + @PL_Table + ''' 
					AND srcID = ' + CAST(@srcID AS NVARCHAR) + '
						AND (CHARINDEX(COLUMN_NAME, srrFieldName) > 0
						OR CHARINDEX(COLUMN_NAME, srrWhere) > 0
						OR CHARINDEX(COLUMN_NAME, srrUpdate) > 0)				
						AND COLUMN_NAME <> dgdb.dbo.RegexReplace(''' + @PL_MFRPN_Field + ''',''\[|\]'','''')
						AND ORDINAL_POSITION < (SELECT ORDINAL_POSITION FROM  ' + @PL_DB + '.INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = ''' + @PL_Table + ''' AND COLUMN_NAME = ''zActive'')							
					'
		--PRINT @SQL
	
		INSERT INTO @TableFields EXEC (@SQL)
		/*  cfSourceMaprules*/
			SET @SQL = '
					DECLARE @srgID INT
					SELECT @srgID = ssgSrgID FROM cfSourceSourceGroup WHERE ssgSrcID = ' + CAST(@srcID AS NVARCHAR) + '
					SELECT DISTINCT COLUMN_NAME FROM ' + @PL_DB + '.INFORMATION_SCHEMA.COLUMNS 				
						CROSS JOIN DGDB_PL.dbo.cfSourceMapRules
						WHERE TABLE_NAME = ''' + @PL_Table + ''' 
						AND srmSrgID = @srgID
							AND CHARINDEX(COLUMN_NAME, srmSourceMap) > 0						
							AND COLUMN_NAME <> dgdb.dbo.RegexReplace(''' + @PL_MFRPN_Field + ''',''\[|\]'','''')
							AND ORDINAL_POSITION < (SELECT ORDINAL_POSITION FROM  ' + @PL_DB + '.INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = ''' + @PL_Table + ''' AND COLUMN_NAME = ''zActive'')							
						'
		
			
			INSERT INTO @TableFields EXEC (@SQL)
			SELECT @PL_Fields = STUFF((SELECT DISTINCT ',[' + Fields + ']' FROM @TableFields FOR XML PATH(N'')), 1, 1, N'')	
            IF @debugMode = 1
				BEGIN
					PRINT @SQL
				    PRINT '@PL_Fields' + @PL_Fields
				END  
				
			IF ISNULL(@PL_Fields,'') = ''
				BEGIN
				    PRINT 'Nothing Set-up in cfSourceRules & cfSourceMaprules for SrcID: ' +CAST(@srcID AS NVARCHAR) + CHAR(10) + 'Aborting procedure spProcess09PrepSourceFileProcessing' + CHAR(10) + CHAR(10) + 'Continuing processing SP10' + CHAR(10)
					RETURN
				END  

	/*Check If PricelistTable_FieldValues already exists */
		SET @SQL = '
				USE ' + @PL_DB + '
				IF  NOT EXISTS (select TOP 1 1 from INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''' + @PL_Table + '_FieldValues'')
					BEGIN
						CREATE TABLE ' + @PL_Table + '_FieldValues
							(ID BIGINT IDENTITY(1,1) NOT NULL,
							MFRPN NVARCHAR(255) NOT NULL,
							FieldName NVARCHAR(255) NOT NULL,
							Value NVARCHAR(4000),
							Obsolete BIT DEFAULT (0) NOT NULL,
							DateStamp DATETIME)
				
						DECLARE 
							@ID INTEGER,
							@Field NVARCHAR(255),
							@SQL NVARCHAR(4000)
	
					
						CREATE INDEX IX_MFRPN ON ' + @PL_Table + '_FieldValues(MFRPN,FieldName)
						PRINT ''''
					END 

				
				IF OBJECT_ID('''  + @PL_Table + '_FieldValues_NEW'') IS NOT NULL BEGIN DROP TABLE '  + @PL_Table + '_FieldValues_NEW END 

				CREATE TABLE ' + @PL_Table + '_FieldValues_NEW
							(ID BIGINT IDENTITY(1,1) NOT NULL,
							MFRPN NVARCHAR(255) NOT NULL,
							FieldName NVARCHAR(255) NOT NULL,
							Value NVARCHAR(4000),
							Obsolete BIT DEFAULT (0) NOT NULL,
							DateStamp DATETIME)

				PRINT ''Pricelist Fields Used in SourceRules:''

				SELECT RecordNumber as ID,StringValue,0 as DONE INTO #TMP FROM dgdb.dbo.fnSplitStringToTable(''' + @PL_Fields + ''','','')
						WHILE (SELECT TOP 1 1 FROM #TMP WHERE DONE =0 ) = 1
							BEGIN
								SELECT TOP 	1 
										@ID = ID,
										@Field = StringValue
									 FROM #TMP 
									 WHERE DONE = 0 
			
							

							SET @SQL = ''							
								INSERT INTO ' + @PL_Table + '_FieldValues_NEW
									SELECT ' + @PL_MFRPN_Field + ' AS MFRPN
												, '''''' +  @Field + '''''' AS FieldName
												,  LEFT(A.'' +  @Field + '',4000) AS Value
												, 0 AS Obsolete
												,GETDATE() AS DateStamp							
										FROM [' + @PL_Table + '] A 										
									''
								EXEC (@SQL)

								PRINT CAST('' ' + @PL_MFRPN_Field + ' - '' +  @Field AS CHAR(60)) + CAST(@@ROWCOUNT AS NVARCHAR)
						
								UPDATE #TMP SET DONE = 1 WHERE ID = @ID
							END

					PRINT ''''
					CREATE INDEX IX_MFRPN ON ' + @PL_Table + '_FieldValues_NEW(MFRPN,FieldName)

					PRINT ''''
					/*Compate Old Versus New*/

					--Changed Values
							UPDATE O
								SET O.Value = N.Value
								  , O.DateStamp = SYSDATETIME()
								FROM ' + @PL_Table + '_FieldValues O
									JOIN ' + @PL_Table + '_FieldValues_NEW N
										ON N.MFRPN = O.MFRPN
										   AND N.FieldName = O.FieldName
								WHERE ISNULL(O.Value, '''') <> ISNULL(N.Value, '''');
							PRINT CAST(''Changed Material Fields'' AS CHAR(60)) + CAST(@@ROWCOUNT AS NVARCHAR)
				
					-- Not in New Pricelist
							UPDATE ' + @PL_Table + '_FieldValues 
								SET Obsolete = 1
								FROM ' + @PL_Table + '_FieldValues O
									LEFT JOIN ' + @PL_Table + '_FieldValues_NEW N
										ON N.MFRPN = O.MFRPN
										   AND N.FieldName = O.FieldName
								WHERE N.MFRPN IS NULL
							PRINT CAST(''Obsolete Material Fields'' AS CHAR(60)) + CAST(@@ROWCOUNT AS NVARCHAR)

					-- New Materials
							INSERT INTO ' + @PL_Table + '_FieldValues
									SELECT N.MFRPN
										  , N.FieldName
										  , N.Value
										  , 0 AS Obsolete
										  , SYSDATETIME() AS [DateStamp]
										FROM ' + @PL_Table + '_FieldValues O
											RIGHT JOIN ' + @PL_Table + '_FieldValues_NEW N
												ON N.MFRPN = O.MFRPN
												   AND N.FieldName = O.FieldName
										WHERE O.MFRPN IS NULL;
							PRINT CAST(''New Material Fields'' AS CHAR(60)) + CAST(@@ROWCOUNT AS NVARCHAR)
				'	
				
		IF @debugMode = 1 
			BEGIN  
				PRINT @SQL
			END 	
		
		EXEC (@SQL)

	PRINT ''

	/*UPDATE VendorFile with LastModifiedDateStamp*/
		SET @SQL = '
			USE ' + @PL_DB + ';
			WITH  DATE_CTE ( PartNr, DateStamp )
					  AS ( SELECT MFRPN
							  , MAX(DateStamp) AS Date
							FROM ' + @PL_Table + '_FieldValues
							GROUP BY MFRPN
						 )
				UPDATE [' + @PL_Table + ']
					SET zModifiedDate = DateStamp
					FROM [' + @PL_Table + ']
						JOIN DATE_CTE
							ON DATE_CTE.PartNr = ' + @PL_MFRPN_Field + '
					WHERE ISNULL(zModifiedDate,''20010101'') <> DateStamp
			'
		--PRINT @SQL
		EXEC (@SQL)	
		--PRINT CAST( @PL_DB + '..' +  @PL_Table AS CHAR(60)) + CAST(@@ROWCOUNT AS CHAR(18)) + '  Changed Materials'

	PRINT 'End spProcess09PrepSourceFileProcessing'
	PRINT ''


END
	
GO
