USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spSysRefreshTargetData_MARC_SERNP_VRF]    Script Date: 3/9/2026 9:14:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
janvb
may 2016
proc to calc MARC_SERNP_VRF table used in SP20


spSysRefreshTargetData_MARC_SERNP_VRF
*/


CREATE PROCEDURE [dbo].[spSysRefreshTargetData_MARC_SERNP_VRF]

@dbName NVARCHAR(80) = 'dgdb_PL_GLP_300'



AS

	DECLARE 
		
		@SQL	NVARCHAR(4000),
		@TblPrefix				NVARCHAR(40)		= 'ZZZ_'


	SET @SQL = '

		USE ' + @dbName + ';
		
		IF OBJECT_ID(''tempdb..#VRF'')						IS NOT NULL BEGIN DROP TABLE #VRF END
		IF OBJECT_ID(''' + @TblPrefix + 'MARC_SERNP_VRF'')	IS NOT NULL BEGIN DROP TABLE ' + @TblPrefix + 'MARC_SERNP_VRF END

		/* Create / update #VRF*/
			SELECT * INTO #VRF FROM ' + @TblPrefix + 'ZOTCSD0102 
			/*TMP  for EPN get VRF lines from E03*/
			IF CHARINDEX(''EPN'',DB_NAME()) > 0  AND NOT EXISTS (Select Top 1 1 FROM #VRF WHERE VKORG = ''5000'')
				BEGIN 
					INSERT INTO #VRF
						SELECT * FROM DGDB_PL_GLP_300..ZOTCSD0102 WHERE VKORG LIKE ''50%'' 
				END
			UPDATE #VRF
				SET VRF_USE = Z.VRF_USE
				FROM #VRF V
					INNER JOIN ' + @TblPrefix + 'ZOTCSD0101 Z ON Z.VRF_FIELD = V.VRF_FIELD
				WHERE V.VRF_USE = '''';
			DELETE FROM #VRF WHERE VRF_USE <> ''Q''
	
		/*Create Update  MARC_SERNP_VRF */
		CREATE TABLE ' + @TblPrefix + 'MARC_SERNP_VRF
			( MATNR NVARCHAR(18)
			, VKORG NVARCHAR(4)
			, BUKRS NVARCHAR(4) 
			, Type CHAR(1));

		INSERT INTO ' + @TblPrefix + 'MARC_SERNP_VRF ( MATNR, VKORG, BUKRS, Type )
			SELECT DISTINCT MATNR
				  , t.VKORG
				  , BUKRS
				  , ''M''
				FROM #VRF V
					INNER JOIN ' + @TblPrefix + 'TVKO T
						ON T.VKORG = V.VKORG
				WHERE VRF_DELETE_FLAG = '''' AND MATNR <> ''''

			INSERT INTO ' + @TblPrefix + 'MARC_SERNP_VRF ( MATNR, VKORG, BUKRS,Type )
			SELECT DISTINCT m.MATNR
				  , T.VKORG
				  , T.BUKRS
				  , ''P''
				FROM #VRF V
					INNER JOIN ' + @TblPrefix + 'TVKO T
						ON T.VKORG = V.VKORG
					INNER JOIN ' + @TblPrefix + 'MVKE M ON M.VKORG = V.VKORG AND M.MVGR1 = V.MVGR1 AND M.PRODH LIKE REPLACE(V.PRODH,''+'','''') + ''%'' 														
					LEFT OUTER JOIN ' + @TblPrefix + 'MARC_SERNP_VRF MA ON MA.MATNR = M.MATNR AND MA.VKORG = M.VKORG
				WHERE VRF_DELETE_FLAG = ''''  AND ma.MATNR IS NULL
			
			IF OBJECT_ID(''MARC_SERNP_VRF'')	IS NOT NULL BEGIN DROP TABLE MARC_SERNP_VRF END
			EXEC sp_rename ''' + @TblPrefix + 'MARC_SERNP_VRF'', ''MARC_SERNP_VRF''

		'
		--PRINT @SQL
		EXEC (@SQL)
GO
