USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spProcess35PrepareDBForLoadSummary]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spProcess35PrepareDBForLoadSummary]

	@DBName NVARCHAR(40) = 'zVPL_20150604_35',
	@JobNr INTEGER = 412

AS	

	BEGIN

		SET NOCOUNT ON

		DECLARE  @SQL NVARCHAR(4000) 

		DECLARE @TableNew TABLE ([TYPE] NVARCHAR(100),zSource NVARCHAR(40),[RowCount] INTEGER, Seq INTEGER,dbName NVARCHAR(40), JobNr INT)
		DECLARE @TableChanges TABLE ([TYPE] NVARCHAR(100),zSource NVARCHAR(40),[RowCount] INTEGER, Seq INTEGER,dbName NVARCHAR(40), JobNr INT)

		/*New Records by TargetTable*/
		SET @SQL = '		
			SELECT ''New MARA Records'' AS Type,zsource, COUNT(*),10, + ''' + @dbName + ''', ' +  CAST(@jobNr AS NVARCHAR) + ' FROM  ' + @dbName + '..ttMARA WHERE zactive = 1 GROUP BY zSource
			UNION ALL 		
			SELECT ''New MARC Records'' AS Type,zsource, COUNT(*),20, + ''' + @dbName + ''', ' +  CAST(@jobNr AS NVARCHAR) + ' FROM  ' + @dbName + '..ttMARC WHERE zactive = 1 GROUP BY zSource
			UNION ALL 		
			SELECT ''New MBEW Records'' AS Type,zsource, COUNT(*),30, + ''' + @dbName + ''', ' +  CAST(@jobNr AS NVARCHAR) + ' FROM  ' + @dbName + '..ttMBEW WHERE zactive = 1  GROUP BY zSource
			UNION ALL 		
			SELECT ''New MVKE Records'' AS Type,zsource, COUNT(*),40, + ''' + @dbName + ''', ' +  CAST(@jobNr AS NVARCHAR) + ' FROM  ' + @dbName + '..ttMVKE WHERE zactive = 1  GROUP BY zSource		
			UNION ALL 		
			SELECT ''New MLAN Records'' AS Type,zsource, COUNT(*),50, + ''' + @dbName + ''', ' +  CAST(@jobNr AS NVARCHAR) + ' FROM  ' + @dbName + '..ttMLAN WHERE zactive = 1  GROUP BY zSource		
			UNION ALL 		
			SELECT ''New MARD Records'' AS Type,zsource, COUNT(*),60, + ''' + @dbName + ''', ' +  CAST(@jobNr AS NVARCHAR) + ' FROM  ' + @dbName + '..ttMARD WHERE zactive = 1  GROUP BY zSource		
			UNION ALL 		
			SELECT ''New MLGN Records'' AS Type,zsource, COUNT(*),70, + ''' + @dbName + ''', ' +  CAST(@jobNr AS NVARCHAR) + ' FROM  ' + @dbName + '..ttMLGN WHERE zactive = 1  GROUP BY zSource		
			UNION ALL 		
			SELECT ''New EINA Records'' AS Type,zsource, COUNT(*),80, + ''' + @dbName + ''', ' +  CAST(@jobNr AS NVARCHAR) + ' FROM  ' + @dbName + '..ttEINA WHERE zactive = 1  GROUP BY zSource		
			UNION ALL 		
			SELECT ''New EINE Records'' AS Type,zsource, COUNT(*),90, + ''' + @dbName + ''', ' +  CAST(@jobNr AS NVARCHAR) + ' FROM  ' + @dbName + '..ttEINE WHERE zactive = 1  GROUP BY zSource		
			UNION ALL 		
			SELECT ''New AUSP Records'' AS Type,zsource, COUNT(*),100, + ''' + @dbName + ''', ' +  CAST(@jobNr AS NVARCHAR) + ' FROM  ' + @dbName + '..ttAUSP WHERE zactive = 1  GROUP BY zSource		
			UNION ALL 		
			SELECT ''New KONP Records'' AS Type,zsource, COUNT(*),110, + ''' + @dbName + ''', ' +  CAST(@jobNr AS NVARCHAR) + ' FROM  ' + @dbName + '..ttKONP WHERE zactive = 1  GROUP BY zSource		
			UNION ALL 		
			SELECT ''New EORD Records'' AS Type,zsource, COUNT(*),120, + ''' + @dbName + ''', ' +  CAST(@jobNr AS NVARCHAR) + ' FROM  ' + @dbName + '..ttEORD WHERE zactive = 1  GROUP BY zSource		
			'
		INSERT INTO @TableNew EXEC (@SQL)
		SELECT dbname,Type, SUM([RowCount]) FROM @TableNew GROUP BY type,Seq,dbname ORDER BY seq	
		SELECT * FROM @TableNew ORDER BY seq
		DELETE FROM DGDB_PL__Log..SourceProcessTableLog WHERE dbName = @DBName
		INSERT INTO DGDB_PL__Log..SourceProcessTableLog SELECT * FROM @TableNew

		/*Changed Records by TargetTable*/
		SET @SQL = '		
			SELECT ''Changed MARA Records'' AS Type,zsource, COUNT(*),10, + ''' + @dbName + ''', ' +  CAST(@jobNr AS NVARCHAR) + ' FROM  ' + @dbName + '..ttMARA WHERE zChange = 1 GROUP BY zSource
			UNION ALL 		
			SELECT ''Changed MARC Records'' AS Type,zsource, COUNT(*),20, + ''' + @dbName + ''', ' +  CAST(@jobNr AS NVARCHAR) + ' FROM  ' + @dbName + '..ttMARC WHERE zChange = 1 GROUP BY zSource
			UNION ALL 		
			SELECT ''Changed MBEW Records'' AS Type,zsource, COUNT(*),30, + ''' + @dbName + ''', ' +  CAST(@jobNr AS NVARCHAR) + ' FROM  ' + @dbName + '..ttMBEW WHERE zChange = 1  GROUP BY zSource
			UNION ALL 		
			SELECT ''Changed MVKE Records'' AS Type,zsource, COUNT(*),40, + ''' + @dbName + ''', ' +  CAST(@jobNr AS NVARCHAR) + ' FROM  ' + @dbName + '..ttMVKE WHERE zChange = 1  GROUP BY zSource		
			UNION ALL 		
			SELECT ''Changed MLAN Records'' AS Type,zsource, COUNT(*),50, + ''' + @dbName + ''', ' +  CAST(@jobNr AS NVARCHAR) + ' FROM  ' + @dbName + '..ttMLAN WHERE zChange = 1  GROUP BY zSource		
			UNION ALL 		
			SELECT ''Changed MARD Records'' AS Type,zsource, COUNT(*),60, + ''' + @dbName + ''', ' +  CAST(@jobNr AS NVARCHAR) + ' FROM  ' + @dbName + '..ttMARD WHERE zChange = 1  GROUP BY zSource		
			UNION ALL 		
			SELECT ''Changed MLGN Records'' AS Type,zsource, COUNT(*),70, + ''' + @dbName + ''', ' +  CAST(@jobNr AS NVARCHAR) + ' FROM  ' + @dbName + '..ttMLGN WHERE zChange = 1  GROUP BY zSource		
			UNION ALL 		
			SELECT ''Changed EINA Records'' AS Type,zsource, COUNT(*),80, + ''' + @dbName + ''', ' +  CAST(@jobNr AS NVARCHAR) + ' FROM  ' + @dbName + '..ttEINA WHERE zChange = 1  GROUP BY zSource		
			UNION ALL 		
			SELECT ''Changed EINE Records'' AS Type,zsource, COUNT(*),90, + ''' + @dbName + ''', ' +  CAST(@jobNr AS NVARCHAR) + ' FROM  ' + @dbName + '..ttEINE WHERE zChange = 1  GROUP BY zSource		
			UNION ALL 		
			SELECT ''Changed AUSP Records'' AS Type,zsource, COUNT(*),100, + ''' + @dbName + ''', ' +  CAST(@jobNr AS NVARCHAR) + ' FROM  ' + @dbName + '..ttAUSP WHERE zChange = 1  GROUP BY zSource		
			UNION ALL 		
			SELECT ''Changed KONP Records'' AS Type,zsource, COUNT(*),110, + ''' + @dbName + ''', ' +  CAST(@jobNr AS NVARCHAR) + ' FROM  ' + @dbName + '..ttKONP WHERE zChange = 1  GROUP BY zSource		
			UNION ALL 		
			SELECT ''Changed EORD Records'' AS Type,zsource, COUNT(*),120, + ''' + @dbName + ''', ' +  CAST(@jobNr AS NVARCHAR) + ' FROM  ' + @dbName + '..ttEORD WHERE zChange = 1  GROUP BY zSource		
			'
		INSERT INTO @TableChanges EXEC (@SQL)
		SELECT Type, SUM([RowCount]) FROM @TableChanges GROUP BY type,Seq ORDER BY seq
		SELECT * FROM @TableChanges ORDER BY seq
		INSERT INTO DGDB_PL__Log..SourceProcessTableLog SELECT * FROM @TableChanges

			SET @SQL = '
		SELECT 	TableName ,
				FieldName ,
				fldShortDescription ,
				COUNT(*)
			FROM ' + @dbName + '..ttMMChanges
			INNER JOIN dgdb..Field ON FieldName = fldName			
			GROUP BY TableName ,
				FieldName ,
				fldShortDescription
			ORDER BY TableName ,
				FieldName
			'	
		EXEC (@SQL)


		SET @SQL = '
		SELECT zSource ,
				TableName ,
				FieldName ,
				fldShortDescription ,
				COUNT(*)
			FROM ' + @dbName + '..ttMMChanges
			INNER JOIN dgdb..Field ON FieldName = fldName			
			GROUP BY zSource ,
				TableName ,
				FieldName ,
				fldShortDescription
			ORDER BY zSource ,
				TableName ,
				FieldName
			'	
		EXEC (@SQL)

		SET @SQL = '
		DELETE FROM dgdb_pl__Log..SourceProcessMMChanges Where dbName = ''' + @dbName + ''';
		INSERT INTO dgdb_pl__Log..SourceProcessMMChanges 
			SELECT *, ''' + @dbName + '''
				FROM ' + @dbName + '..ttMMChanges				
				ORDER BY zSource ,
					TableName ,
					FieldName;
			'	
		EXEC (@SQL)

	END
GO
