USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spRemoveDuplicates_new]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- EXEC spRemoveDuplicates_new 'zAdh_EPN_Obs_EU_Ahr1368'
CREATE PROCEDURE [dbo].[spRemoveDuplicates_new](
	@DBName VARCHAR(50)
)
AS
BEGIN

	DECLARE @ViewName VARCHAR(200)
            , @PrimaryKey VARCHAR(300)
            , @SQL NVARCHAR(MAX);

      SELECT *, 0 AS IsProcessed INTO #TmpLoadFiles FROM dbo.cfLoadFiles;
      
      WHILE (SELECT TOP 1 1 FROM #TmpLoadFiles WHERE IsProcessed = 0) = 1
      BEGIN
            SELECT TOP 1 
                  @ViewName = ViewName
                  , @PrimaryKey = PrimaryKey
            FROM #TmpLoadFiles WHERE IsProcessed = 0
            
            SET @SQL = 'IF OBJECT_ID(''' + @DBName + '.dbo.' + @ViewName + ''', ''U'') IS NOT NULL 
            BEGIN 
                  IF COL_LENGTH(''' + @DBName + '.dbo.' + @ViewName + ''', ''zId'') IS NOT NULL 
                  BEGIN
                        DELETE E
                        FROM ' + @DBName + '..' + @ViewName + ' E
                        INNER JOIN (SELECT *, ROW_NUMBER() OVER ( PARTITION BY ' + @PrimaryKey + ' ORDER BY zId DESC )RANK
                                          FROM ' + @DBName + '..' + @ViewName + ' )T ON E.zId = T.zId
                        WHERE T.RANK > 1; 
                  END; 
            END';

            --PRINT 'ViewName: ' + @ViewName + ' ' + 'Primary Key: ' + @PrimaryKey;
            --PRINT @SQL;
            EXEC (@SQL);
            UPDATE #TmpLoadFiles SET IsProcessed = 1 WHERE ViewName = @ViewName;
      END

      IF OBJECT_ID('tempdb..#TmpLoadFiles') IS NOT NULL BEGIN DROP TABLE #TmpLoadFiles END

END
GO
