USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spProcess22ValidateGlobalSourceRules]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 CREATE PROCEDURE [dbo].[spProcess22ValidateGlobalSourceRules] AS
BEGIN

	SET NOCOUNT ON 
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	IF OBJECT_ID('tempdb..#SOURCEGROUP') IS NOT NULL BEGIN DROP TABLE #SOURCEGROUP END
	IF OBJECT_ID('tempdb..#SOURCE') IS NOT NULL BEGIN DROP TABLE #SOURCE END
	IF OBJECT_ID('tempdb..#RULES') IS NOT NULL BEGIN DROP TABLE #RULES END
	IF OBJECT_ID('tempdb..#HASRULE') IS NOT NULL BEGIN DROP TABLE #HASRULE END
	IF OBJECT_ID('tempdb..#NOTINRULES') IS NOT NULL BEGIN DROP TABLE #NOTINRULES end


		/*Get a count of srcID's belonging to a SourceGroup*/
			SELECT srgID
				  , srgDescription
				  , srcID
				  , COUNT(1) AS #
				INTO #SOURCE
				FROM dbo.vSourceRules
				WHERE srrFieldName IN ( 'MatDesc', 'PH2', 'PH2_CODE', 'PH2_TEXT',
										'PH3_CODE', 'PH3_TEXT', 'ProductType' )
				GROUP BY srgID
				  , srgDescription
				  , srcid
				ORDER BY srgDescription;
      
	  		/*Get a count of srcID's belonging to a SourceGroup*/
			SELECT srgID
				  , srgDescription
				  , COUNT(1) AS #
				INTO #SOURCEGROUP
				FROM #SOURCE
				GROUP BY srgID,srgDescription



		 /*Get All SourceRules & srcID's not belonging to each of the Source ID's*/
			SELECT DISTINCT srrID,srcID,R.srgID,R.srcName
				INTO #RULES
				FROM dbo.vSourceRules R
				WHERE R.srrID NOT IN ( SELECT S.srrID
										FROM vSourceRules S
											INNER JOIN #SOURCEGROUP T ON T.srgID = S.srgID
										WHERE srrFieldName IN ( 'MatDesc', 'PH2', 'PH2_CODE', 'PH2_TEXT',
																'PH3_CODE', 'PH3_TEXT', 'ProductType' )
										GROUP BY srrID, #
										HAVING COUNT(1) = # )
					AND srrFieldName IN ( 'MatDesc', 'PH2', 'PH2_CODE', 'PH2_TEXT',
										  'PH3_CODE', 'PH3_TEXT', 'ProductType' )

			SELECT DISTINCT S.*
				  , R.srrID
				INTO #NOTINRULES
				FROM #RULES R
					INNER JOIN #SOURCE S ON S.srgID = R.srgID
				WHERE S.srcID NOT IN ( SELECT R2.srcID
										FROM #RULES R2
										WHERE R2.srrID = R.srrID );

			SELECT DISTINCT srrID
				  , STUFF(( SELECT DISTINCT ', ' + CAST(A.srcID AS NVARCHAR) + '-' + srcName
								FROM #RULES A
								WHERE A.srrID = r.srrID
						  FOR
							XML PATH(N'')
						  ), 1, 1, N'') HasRule
				INTO #HASRULE
				FROM #RULES R;

		/* Show where they are missing*/
			SELECT DISTINCT 'Missing Rules' AS ReportType ,S.srgID
				  , S.srgDescription
				  , S.srcID              			  
				  , C.srcName
				  , H.HasRule			  
				  , SR.*
				FROM #NOTINRULES R
					INNER JOIN #HASRULE H ON H.srrID = R.srrID
					INNER JOIN #SOURCE S ON S.srgID = R.srgID AND S.srcID = R.srcID
					INNER JOIN dbo.cfSource C ON C.srcID = S.srcID
					INNER JOIN dbo.cfSourceRules SR ON R.srrID = SR.srrID
				--WHERE r.srrid = 4298
				ORDER BY S.srgID
				  , SR.srrFieldName
				  , SR.srrID
				  ,S.srcID

			--SELECT *
			--	FROM dbo.vSourceRules
			--	WHERE srrID = 4298
			----SELECT * FROM #SOURCE WHERE srgID = 2 ORDER BY srcid
			--SELECT * FROM #RULES WHERE srrID = 4298
			----select * from #SOURCEGROUP WHERE srgid = 2

END
GO
