USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spProcess05DDPImport_WIP]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spProcess05DDPImport_WIP] 

	@srcID nvarchar(20) = 519
AS
BEGIN
	
	SET NOCOUNT ON;

		SET TRANSACTION ISOLATION LEVEL 
		READ UNCOMMITTED 

		DECLARE 
			@SQL				NVARCHAR(4000),
			@SQLSelect			NVARCHAR(4000),			
			@DBName				NVARCHAR(40)		='',
			@DDPProductFile		NVARCHAR(255),
			@DDPServicesFile	NVARCHAR(255),
			@xlsTabName			NVARCHAR(255)
			

		/*Get the database name based on SourceID*/		 
		SELECT @DBName =  srcSrtCode + srcVendorCode + '_' + srcName + '_' + CAST(@srcID AS NVARCHAR) FROM dgdb_PL..cfSource WHERE srcID = @srcID

		/* Check if SrcID is Cisco*/
		--IF NOT EXISTS( SELECT * FROM dbo.cfSourceSourceGroup WHERE ssgSrgID = 1 AND ssgSrcID = @srcID)  --- Cisco Only)
		--	BEGIN
		--		PRINT 'srcID ' + CAST(@srcID AS NVARCHAR) +   ' is not a Cisco Pricelist ( <> srcGroup 1)'
		--		RETURN
		--	END
		
		SELECT @DDPProductFile = 
			CASE @SrcID
				--WHEN '520' THEN '\\WG0218\MDMUpload\CA\Distribution_Pricing_Plus_Canada.xlsx'
				--WHEN '521' THEN '\\WG0218\MDMUpload\AU\Distribution_Pricing_Plus_Australia.xlsx'
				WHEN '519' THEN '\\WG0218\MDMUpload\US\Distribution_Pricing_Plus_US_Product.xlsx'
				--WHEN '51' THEN '\\WG0218\MDMUpload\EU\Distribution_Pricing_Plus_EU.xlsx'
				--WHEN '522' THEN '\\WG0218\MDMUpload\NZ_SG\Distribution_Pricing_Plus_Asia_Pac.xlsx'
				--WHEN '15' THEN '\\WG0218\MDMUpload\NZ_SG\Distribution_Pricing_Plus_Asia_Pac.xlsx'
				--WHEN '366' THEN '\\WG0218\MDMUpload\NZ_SG\Distribution_Pricing_Plus_Asia_Pac.xlsx'
				--WHEN '367' THEN '\\WG0218\MDMUpload\NZ_SG\Distribution_Pricing_Plus_Asia_Pac.xlsx'
				ELSE '\\Oh\Big\Bummer'
			END

		SELECT @DDPServicesFile = 
			CASE @SrcID
				--WHEN '520' THEN '\\WG0218\MDMUpload\CA\Distribution_Pricing_Plus_Canada.xlsx'
				--WHEN '521' THEN '\\WG0218\MDMUpload\AU\Distribution_Pricing_Plus_Australia.xlsx'
				WHEN '519' THEN '\\WG0218\MDMUpload\US\Distribution_Pricing_Plus_US_Service.xlsx'
				----WHEN '51' THEN '\\WG0218\MDMUpload\EU\Distribution_Pricing_Plus_EU.xlsx'
				--WHEN '522' THEN '\\WG0218\MDMUpload\NZ_SG\Distribution_Pricing_Plus_Asia_Pac.xlsx'
				--WHEN '15' THEN '\\WG0218\MDMUpload\NZ_SG\Distribution_Pricing_Plus_Asia_Pac.xlsx'
				--WHEN '366' THEN '\\WG0218\MDMUpload\NZ_SG\Distribution_Pricing_Plus_Asia_Pac.xlsx'
				--WHEN '367' THEN '\\WG0218\MDMUpload\NZ_SG\Distribution_Pricing_Plus_Asia_Pac.xlsx'
				ELSE '\\Oh\Big\Bummer'
			END
					
		SET @SQL = ' DECLARE @RowCOUNT as INTEGER			
			SELECT * INTO #Cisco_DDP_Products
				FROM OPENROWSET(''Microsoft.ACE.OLEDB.12.0'',
				''Excel 12.0;Database=' + @DDPProductFile + ';'',
				''SELECT * FROM [Product$A1:V800000] WHERE [Product] IS NOT NULL'')					
			PRINT ''' + @Dbname + ' - ' + @DDPProductFile + ' Imported, Recordcount: '' + CAST(@@ROWCOUNT AS NVARCHAR)
			PRINT ''''
						
			SELECT * INTO #Cisco_DDP_Services
				FROM OPENROWSET(''Microsoft.ACE.OLEDB.12.0'',
				''Excel 12.0;Database=' + @DDPServicesFile + ';'',
				''SELECT * FROM [Service$A1:V800000] WHERE [Service Item] IS NOT NULL'')	
			PRINT ''' + @Dbname + ' - ' + @DDPServicesFile + ' Imported, Recordcount: '' + CAST(@@ROWCOUNT AS NVARCHAR)	
			
			IF OBJECT_ID(''' + @dbName + '..Cisco_DDP'') IS NOT NULL BEGIN DROP TABLE ' + @dbName + '..Cisco_DDP END					
			
			SELECT * INTO ' + @Dbname + '..Cisco_DDP FROM #Cisco_DDP_Products
			INSERT	 INTO ' + @Dbname + '..Cisco_DDP
					  ([Major Product Family]
					  ,[Minor Product Family]
					  ,[Product]
					  ,[Product Description]
					  ,[Global List Price in USD]
					  ,[Wholesale List Price in USD]      
					  ,[Item Type]      
					  ,[Approaching End of Sale]
					  ,[Availability on GPL / WPL]      
					  ,[End Of Sale Date])
				SELECT [Major Product Family]
					  ,[Minor Product Family]
					  ,[Service Item]
					  ,[Service Item Description]
					  ,[Global List Price in USD]
					  ,[Wholesale List Price in USD]
					  ,[Item Type]
					  ,[Approaching End of Sale]
					  ,[Availability on GPL / WPL]
					  ,[End Of Sale Date]
				  FROM #Cisco_DDP_Services	
				SELECT @RowCount = COUNT(1) FROM ' + @Dbname + '..Cisco_DDP
				PRINT ''' + @Dbname + '..Cisco_DDP Imported, Recordcount: '' + CAST(@RowCount AS NVARCHAR)		 
			'	
		PRINT ''
		
		BEGIN TRY
			EXEC (@SQL)
			--PRINT @Dbname + '..Cisco_DDP Imported, Recordcount: ' + CAST(SELECT COUNT(1) FROM  AS NVARCHAR)
			PRINT ''
			SET @SQL = 'CREATE UNIQUE INDEX IX_Product ON ' + @Dbname + '..Cisco_DDP (Product)'
			EXEC (@SQL)	
		END TRY

		BEGIN CATCH
			
			PRINT 'ERROR !!!!! Line NUmber' + CAST(ERROR_LINE() AS NVARCHAR) + '  ' + ERROR_MESSAGE()
			SELECT 'ERROR !!!!! Line NUmber' + CAST(ERROR_LINE() AS NVARCHAR) + '  ' + ERROR_MESSAGE()
			PRINT ''
			PRINT @SQL
		END CATCH

				

END
GO
