USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[TestTXFile]    Script Date: 3/9/2026 9:14:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*
Generate Export Table entries for SAP
Either for new records or updates only and by Systrem or by JobNr for a certain scourceDB

janvb Jan2015

*/

CREATE PROCEDURE [dbo].[TestTXFile] as  

DECLARE 
	@InsertFlag SMALLINT = 2,							--1 = INSERT, 0 = UPDATE, 2 = INSERT & UPDATE 	
	@JobNr INTEGER = 0,								--0 = 'All jobs for the SAPSystem,Client
	@dbName NVARCHAR(40)='DGDB_PL_Data_Test_CKP',
	@SAPSystem NVARCHAR(4) = 'EQ1',
	@SAPClient NVARCHAR(4) = '300',
	

	@SQL VARCHAR(MAX)='',
	@SQL2 VARCHAR(MAX)='',
	@TableCreate BIT,
	@From@SQL_Del NVARCHAR(MAX)='',
	@From@SQL_Upd NVARCHAR(MAX)='',
	@From@SQL_Upd_MARC NVARCHAR(MAX)='',
	@From@SQL_Upd_MBEW NVARCHAR(MAX)='',

	@TCode NVARCHAR(4),
	@StartDate AS DATETIME,
	@Field NVARCHAR(40)

	DECLARE @TableExists TABLE (EXIST BIT)
	DECLARE @TableTEST TABLE (Text nvarchar(max))
	DECLARE @TableChangedFields TABLE (TableName NVARCHAR(40),FieldName NVARCHAR(40), Done BIT)

	/* Get Fields that have changed from ttMMChanges*/
	IF @InsertFlag <> 1
		BEGIN
			SET @SQL = 'SELECT DISTINCT TableName,FieldName,0 FROM ' + @dbName + '..ttMMChanges WHERE ' + CASE WHEN @JobNr <> 0 THEN 'zJobNr = ' + CAST(@JobNr AS NVARCHAR) + ' AND' ELSE '' END + '
								 zSystem = ''' + @SAPSystem + ''' AND zClient = ''' + @SAPClient + ''';'													
			INSERT INTO @TableChangedFields EXEC (@SQL)				
		END

	SET NOCOUNT ON
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED 
	SET @startDate = GETDATE()

	PRINT ''
	PRINT 'Processing:'	
	PRINT ''
	PRINT CASE WHEN @JobNr = 0 THEN '  All Jobs' ELSE '  JobNr = ' + CAST(@JobNr AS NVARCHAR) END
	PRINT CASE @InsertFlag WHEN 0 THEN '  Update Only Mode' WHEN 1 THEN '  Insert Only Mode ' WHEN 2 THEN '  Insert & Update Mode' END
	PRINT '  Environment: ' + @SAPSystem + ' - ' + @SAPClient	
	PRINT '  Database: ' + @dbName
	PRINT ''
	PRINT ''

	

	/*txMARA_BMM00_LSMW_Sel*/
		/*CHECK IF Table EXISTS*/
		SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''txMARA_BMM00_LSMW_Sel'''
		DELETE FROM @TableExists
		INSERT INTO @TableExists EXEC (@SQL)	
		IF ISNULL(@@ROWCOUNT,0) = 0 BEGIN SET @TableCreate = 1	END			

		/*DELETE EXISTING DATA*/
		IF ISNULL(@TableCreate,0) <> 1
			BEGIN
				SET @From@SQL_Del = 'WHERE ' + CASE WHEN @JobNr <> 0 THEN 'zJobNr = ' + CAST(@JobNr AS NVARCHAR) + ' AND' ELSE '' END + '
						 zSystem = ''' + @SAPSystem + ''' AND zClient = ''' + @SAPClient + ''';'													 
				SET @SQL = 	'DELETE FROM ' + @dbName + '..txMARA_BMM00_LSMW_Sel ' + @From@SQL_Del				
				EXEC (@SQL)
			END

		/*INSERT/UPDATE*/
		SET @From@SQL_Upd = 
			' FROM ' + @dbName + '..ttM
					INNER JOIN ' + @dbName + '..ttMARA ON ttM.MATNR = ttMARA.MATNR 
				WHERE ' + CASE WHEN @JobNr <> 0 THEN 'ttMARA.zJobNr = ' + CAST(@JobNr AS NVARCHAR) + ' AND' ELSE '' END +
					' ttMARA.zSystem = ''' + @SAPSystem + ''' AND ttMARA.zClient = ''' + @SAPClient + ''' AND '			
					+ (CASE @InsertFlag WHEN 1 THEN 'ISNULL(ttMARA.zActive,0) = 1' WHEN 0 THEN  'ISNULL(ttMARA.zChange,0) = 1' WHEN 2 THEN ' (ISNULL(ttMARA.zActive,0) = 1 OR ISNULL(ttMARA.zChange,0) = 1) ' END)        


		SET @SQL = 	
			CASE WHEN @TableCreate = 1 THEN '' ELSE 'INSERT INTO ' + @dbName + '..txMARA_BMM00_LSMW_Sel ' END +
				'SELECT CASE WHEN ttMARA.zActive = 1 THEN ''MM01'' ELSE ''MM02'' END AS TCODE,
					ttM.ZSOURCE ,            
					ttM.MATNR ,
					ttM.MBRSH ,
					ttM.MTART ,
					ttM.XEIA1 ,
					ttM.XEIB1 ,
					ttM.XEID1 ,
					ttM.XEID2 ,
					ttM.XEIE1 ,
					ttM.XEIE2 ,
					ttM.XEIK1 ,
					ttM.XEIL1 ,
					ttM.XEIP1 ,
					ttM.XEIS1 ,
					ttM.XEIV1 ,
					ttM.XEIV2 ,
					ttM.XEIV3 ,
					ttM.XEIV4 ,
					ttM.XEIF1 ,
					ttM.XEIQ1 ,
					ttM.XEIC1 ,
					ttM.XEIA2 ,
					ttM.XEID3 ,
					ttM.XEIVE ,
					ttMARA.zJobNr,
					ttMARA.zSystem,
					ttMARA.zClient, ' + 
					CAST(@InsertFlag AS NVARCHAR(1)) + ' AS zNewRecord ' +
					CASE WHEN @TableCreate = 1 THEN ' INTO ' + @dbName + '..txMARA_BMM00_LSMW_Sel ' ELSE '' END +
					+ @From@SQL_Upd									
				EXEC(@SQL)				
				PRINT CAST('txMARA_BMM00_LSMW_Sel' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR)

	/*txMARA_BMMH1_LSMW_Sel*/
		/*CHECK IF Table EXISTS*/
			SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''txMARA_BMMH1_LSMW_Sel'''
			DELETE FROM @TableExists
			INSERT INTO @TableExists EXEC (@SQL)	
			IF ISNULL(@@ROWCOUNT,0) = 0 BEGIN SET @TableCreate = 1	END		
			

		/*DELETE*/		
		IF ISNULL(@TableCreate,0) <> 1
			BEGIN	 
				SET @SQL = 	'DELETE FROM ' + @dbName + '..txMARA_BMMH1_LSMW_Sel ' + @From@SQL_Del						
				EXEC (@SQL)
			end

		/*INSERT/UPDATE*/		
		SET @SQL = 
				'DECLARE @InsertFlag BIT = ' + CAST(@InsertFlag AS NVARCHAR) + ';' +
				CASE WHEN @TableCreate = 1 THEN '' ELSE 'INSERT INTO ' + @dbName + '..txMARA_BMMH1_LSMW_Sel ' END +				
					'SELECT ttMARA.zSource ,					
						ttMARA.MATNR ,
						CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN ttMARA.zShortDescription ELSE ''/'' END as MAKTX ,
						CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN ttMARA.MATKL ELSE ''/'' END as MATKL ,		
						CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN NULL ELSE ''/'' END as BISMT,						
						CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN ttMARA.MEINS ELSE ''/'' END as MEINS,
						CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN NULL ELSE ''/'' END as BRGEW ,
						CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN NULL ELSE ''/'' END as NTGEW ,
						CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN ttMARA.GEWEI ELSE ''/'' END as GEWEI ,
						CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN NULL ELSE ''/'' END as VOLUM ,
						CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN ttMARA.VOLEH ELSE ''/'' END as VOLEH ,
						CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN NULL ELSE ''/'' END as GROES ,
						CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN ttMARA.TRAGR ELSE ''/'' END as TRAGR ,
						CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN ttMARA.SPART ELSE ''/'' END as SPART ,
						CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN ttMARA.PRDHA ELSE ''/'' END as PRDHA ,
						CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN NULL ELSE ''/'' END as XCHPF ,
						CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN NULL ELSE ''/'' END as MSTAE ,
						CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN NULL ELSE ''/'' END as MSTAV ,
						CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN NULL ELSE ''/'' END as MSTDE ,
						CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN NULL ELSE ''/'' END as MSTDV ,
						CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN ttMARA.SERLV ELSE ''/'' END as SERLV ,
						CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN ttMARA.MTPOS_MARA ELSE ''/'' END as MTPOS_MARA ,
						CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN ttMARA.MFRPN ELSE ''/'' END as MFRPN ,
						CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN NULL ELSE ''/'' END as EXTWG ,
						CASE WHEN ISNULL(ttMARA.zChange,0)  = 0 THEN NULL ELSE ''/'' END as NUMTP,
						ttMARA.zJobNr,
						ttMARA.zSystem,
						ttMARA.zClient, 
						ttmARA.zSrcID,
						ttMARA.zID,  
						CASE WHEN ttMARA.zActive = 1 THEN 1 ELSE 0 END  AS zNewRecord ' +
						CASE WHEN @TableCreate = 1 THEN ' INTO ' + @dbName + '..txMARA_BMMH1_LSMW_Sel ' ELSE '' END +
					+ @From@SQL_Upd							
		EXEC(@SQL)
		PRINT CAST('txMARA_BMMH1_LSMW_Sel' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR)	

		/*UPDATE With Changed Values only*/
		IF @InsertFlag <> 1
			BEGIN
				WHILE (SELECT TOP 1 1 FROM @TableChangedFields WHERE Done = 0 AND TableName = 'MARA') = 1
					BEGIN
						SELECT TOP 1 @Field = fieldName FROM @TableChangedFields WHERE Done = 0 AND TableName = 'MARA'
						SET @SQL = 'UPDATE txMARA_BMMH1_LSMW_Sel SET ' + @Field + ' = NewValue FROM ' + @dbName + '..txMARA_BMMH1_LSMW_Sel INNER JOIN ' + @dbName + '..ttMMChanges ON ttMMChanges.zSrcID = txMARA_BMMH1_LSMW_Sel.zSrcID 
						AND ttMMChanges.zID = txMARA_BMMH1_LSMW_Sel.zID WHERE TableName = ''MARA'' AND FieldName = ''' + @Field + ''';'											
						EXEC (@SQL)

						UPDATE @TableChangedFields SET DONE = 1 WHERE TableName = 'MARA' AND FieldName = @Field
					END
				
			END		
			
	/*txSTXL_BMMH7_LSMW_Sel*/
			/*CHECK IF Table EXISTS*/
			SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''txSTXL_BMMH7_LSMW_Sel'''
			DELETE FROM @TableExists
			INSERT INTO @TableExists EXEC (@SQL)	
			IF ISNULL(@@ROWCOUNT,0) = 0 BEGIN SET @TableCreate = 1	END		

			/*DELETE*/		
				IF ISNULL(@TableCreate,0) <> 1
					BEGIN	
						SET @From@SQL_Del = 'WHERE ' + CASE WHEN @JobNr <> 0 THEN 'zJobNr = ' + CAST(@JobNr AS NVARCHAR) + ' AND' ELSE '' END + '
							 zSystem = ''' + @SAPSystem + ''' AND zClient = ''' + @SAPClient + ''';'	 
						SET @SQL = 	'DELETE FROM ' + @dbName + '..txSTXL_BMMH7_LSMW_Sel ' + @From@SQL_Del				
						EXEC (@SQL)
					end

		/*INSERT/UPDATE*/					
			SET @SQL = 
				CASE WHEN @TableCreate = 1 THEN '' ELSE 'INSERT INTO ' + @dbName + '..txSTXL_BMMH7_LSMW_Sel ' END +
				'SELECT TOP ( 100 ) PERCENT ttSTXL.TDNAME AS MATNR1 ,
						ttSTXL.TDID ,
						ttSTXL.TDSPRAS ,
						ttSTXL.zTEXTFORMAT AS TDFORMAT ,
						ttSTXL.zTEXTLINE AS TDLINE ,						
						MATNR,
						ttSTXL.zJobNr,
						ttSTXL.zSystem,
						ttSTXL.zClient, ' + 
						CAST(@InsertFlag AS NVARCHAR(1)) + ' AS NewRecord ' +
						CASE WHEN @TableCreate = 1 THEN ' INTO ' + @dbName + '..txSTXL_BMMH7_LSMW_Sel ' ELSE '' END +
						' FROM ' + @dbName + '..ttSTXL
						INNER JOIN ' + @dbName + '..ttMARA ON ttSTXL.TDNAME = ttMARA.MATNR'								
				EXEC(@SQL)
				PRINT CAST('txSTXL_BMMH7_LSMW_Sel' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR) 

		/*UPDATE With Changed Values only*/
		IF @InsertFlag <> 1
			BEGIN
				WHILE (SELECT TOP 1 1 FROM @TableChangedFields WHERE Done = 0 AND TableName = 'STXL') = 1
					BEGIN
						SELECT TOP 1 @Field = fieldName FROM @TableChangedFields WHERE Done = 0 AND TableName = 'STXL'
						SET @SQL = 'UPDATE txSTXL_BMMH7_LSMW_Sel SET ' + @Field + ' = NewValue FROM ' + @dbName + '..txSTXL_BMMH7_LSMW_Sel INNER JOIN ' + @dbName + '..ttMMChanges ON ttMMChanges.zSrcID = txSTXL_BMMH7_LSMW_Sel.zSrcID 
						AND ttMMChanges.zID = txSTXL_BMMH7_LSMW_Sel.zID WHERE TableName = ''STXL'' AND FieldName = ''' + @Field + ''';'											
						EXEC (@SQL)

						UPDATE @TableChangedFields SET DONE = 1 WHERE TableName = 'STXL' AND FieldName = @Field
					END
				
			END		

	
	/*txMARC_BMM00_LSMW_Sel*/
		/*CHECK IF Table EXISTS*/
			SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''txMARC_BMM00_LSMW_Sel'''
			DELETE FROM @TableExists
			INSERT INTO @TableExists EXEC (@SQL)	
			IF ISNULL(@@ROWCOUNT,0) = 0 BEGIN SET @TableCreate = 1	END			

		/*DELETE*/
			IF ISNULL(@TableCreate,0) <> 1
				BEGIN
					SET @From@SQL_Del = 'WHERE ' + CASE WHEN @JobNr <> 0 THEN 'zJobNr = ' + CAST(@JobNr AS NVARCHAR) + ' AND' ELSE '' END + '
							 zSystem = ''' + @SAPSystem + ''' AND zClient = ''' + @SAPClient + ''';'													 
					SET @SQL = 	'DELETE FROM ' + @dbName + '..txMARC_BMM00_LSMW_Sel ' + @From@SQL_Del						
					EXEC (@SQL)
				END

		/*INSERT/UPDATE*/
			SET @From@SQL_Upd_MARC = 
				'FROM ' + @dbName + '..ttMARC 
					INNER JOIN ' + @dbName + '..ttM ON ttMARC.MATNR = ttM.MATNR AND ttMARC.zSrcID = ttM.zSrcID
					LEFT OUTER JOIN ' + @dbName + '..ttMBEW ON ttMARC.MATNR = ttMBEW.MATNR
													AND ttMARC.WERKS = ttMBEW.BWKEY
													AND ttMARC.zSrcID = ttMBEW.zSrcID
					LEFT OUTER JOIN ' + @dbName + '..ttMPOP ON ttMARC.MATNR = ttMPOP.zMATNR
													AND ttMARC.WERKS = ttMPOP.zWERKS
													AND ttMARC.zSrcID = ttMPOP.zSrcID
					LEFT OUTER JOIN ' + @dbName + '..ttMLAN ON ttmarc.matnr = ttMLAN.MATNR 
													AND ttMARC.zSrcID = ttMLAN.zSrcID
													AND LEFT(ttMARC.werks,3) = LEFT(ttMLAN.zVKORG,3)
				WHERE' + CASE WHEN @JobNr <> 0 THEN 'ttMARC.zJobNr = ' + CAST(@JobNr AS NVARCHAR) + ' AND ttMBEW.zJobNr = ' + CAST(@JobNr AS NVARCHAR) + ' AND ' ELSE '' END +
					' ttMARC.zSystem = ''' + @SAPSystem + ''' AND ttMARC.zClient = ''' + @SAPClient + ''' AND '			
					+ CASE @InsertFlag WHEN 1 THEN ' ISNULL(ttMARC.zActive,0) = 1 ' WHEN 2 THEN  ' ISNULL(ttMARC.zChange,0) = 1  '  +       
				' OR (ISNULL(ttMARC.zINSAP,0) = 1 OR ISNULL(ttMARC.zActive,0) = 1) ' WHEN 0 THEN ' ISNULL(ttMARC.zChange,0) = 1 ' END								

			SET @From@SQL_Upd_MBEW = 
				'FROM ' + @dbName + '..ttMBEW 
					INNER JOIN ' + @dbName + '..ttM ON ttMBEW.MATNR = ttM.MATNR AND ttMBEW.zSrcID = ttM.zSrcID
					LEFT OUTER JOIN ' + @dbName + '..ttMARC ON ttMBEW.MATNR = ttMARC.MATNR
													AND ttMARC.WERKS = ttMBEW.BWKEY
													AND ttMBEW.zSrcID = ttMARC.zSrcID
					LEFT OUTER JOIN ' + @dbName + '..ttMPOP ON ttMBEW.MATNR = ttMPOP.zMATNR
													AND ttMBEW.BWKEY = ttMPOP.zWERKS
													AND ttMBEW.zSrcID = ttMPOP.zSrcID
					LEFT OUTER JOIN ' + @dbName + '..ttMLAN ON ttMBEW.matnr = ttMLAN.MATNR 
													AND ttMBEW.zSrcID = ttMLAN.zSrcID
													AND LEFT(ttMARC.werks,3) = LEFT(ttMLAN.zVKORG,3)
				WHERE' + CASE WHEN @JobNr <> 0 THEN 'ttMBEW.zJobNr = ' + CAST(@JobNr AS NVARCHAR) + ' AND ttMARC.zJobNr = ' + CAST(@JobNr AS NVARCHAR) + ' AND ' ELSE '' END +
					' ttMBEW.zSystem = ''' + @SAPSystem + ''' AND ttMBEW.zClient = ''' + @SAPClient + ''' AND '			
					+ CASE @InsertFlag WHEN 1 THEN ' ISNULL(ttMBEW.zActive,0) = 1 ' WHEN 2 THEN  ' ISNULL(ttMBEW.zChange,0) = 1  '  +       
				' OR (ISNULL(ttMBEW.zINSAP,0) = 1 OR ISNULL(ttMBEW.zActive,0) = 1) ' WHEN 0 THEN ' ISNULL(ttMBEW.zChange,0) = 1 ' END + '
				 AND ttMBEW.MATNR+ttMBEW.BWKEY NOT IN (SELECT MATNR+WERKS FROM ' + @dbName + '..ttMARC WHERE ' + CASE @InsertFlag WHEN 1 THEN ' ISNULL(ttMARC.zActive,0) = 1) ' WHEN 2 THEN  ' ISNULL(ttMARC.zChange,0) = 1  '  +       
				' OR (ISNULL(ttMARC.zINSAP,0) = 1 OR ISNULL(ttMARC.zActive,0) = 1)) ' WHEN 0 THEN ' ISNULL(ttMARC.zChange,0) = 1 )' END 	
	
	
			SET @SQL = 	
				CASE WHEN @TableCreate = 1 THEN '' ELSE 'INSERT INTO ' + @dbName + '..txMARC_BMM00_LSMW_Sel ' END +
					'SELECT CASE WHEN ISNULL(ttMARC.zActive,ttMBEW.zActive) = 1 THEN ''MM01'' ELSE ''MM02'' END AS TCODE,
						ISNULL(ttMARC.zSource,ttMBEW.zSource) AS zSource,						
						ISNULL(ttMARC.MATNR,ttMBEW.MATNR) AS MATNR, 
						ISNULL(ttMARC.WERKS,ttMBEW.BWKEY) AS WERKS,
						NULLIF(ttMBEW.BWTAR, '''') AS BWTAR,
						ttM.MBRSH ,
						ttM.MTART ,
						ttM.XEIA1 ,
						ttM.XEIB1 ,
						ttM.XEID1 ,
						ttM.XEID2 ,
						ttM.XEIE1 ,
						ttM.XEIE2 ,
						ttM.XEIK1 ,
						ttM.XEIL1 ,
						ttM.XEIP1 ,
						ttM.XEIS1 ,
						ttM.XEIV1 ,
						ttM.XEIV2 ,
						ttM.XEIV3 ,
						ttM.XEIV4 ,
						ttM.XEIF1 ,
						ttM.XEIQ1 ,
						ttM.XEIG1 ,
						ttM.XEIC1 ,
						ttM.XEIA2 ,
						ttM.XEID3 ,
						ttM.XEIVE  ,
						ISNULL(ttMARC.zJobNr,ttMBEW.zJobNr) AS zJobNr,
						ISNULL(ttMARC.zSystem,ttMBEW.zSystem) AS zSystem,
						ISNULL(ttMARC.zClient,ttMBEW.zClient) AS zClient, ' + 
						CAST(@InsertFlag AS NVARCHAR(1)) + ' AS NewRecord ' +
						CASE WHEN @TableCreate = 1 THEN ' INTO ' + @dbName + '..txMARC_BMM00_LSMW_Sel ' ELSE '' END 
			SET @SQL2 = @SQL + @From@SQL_Upd_MARC					
			EXEC(@SQL2)			
			PRINT CAST('txMARC_BMM00_LSMW_Sel_MARC' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR)

			SET @SQL2 = @SQL + @From@SQL_Upd_MBEW			
			EXEC(@SQL2)
			PRINT CAST('txMARC_BMM00_LSMW_Sel_MBEW' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR)
		
		/*txMARC_BMMH1_LSMW_Sel*/
			/*CHECK IF Table EXISTS*/
			SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''txMARC_BMMH1_LSMW_Sel'''
			DELETE FROM @TableExists
			INSERT INTO @TableExists EXEC (@SQL)	
			IF ISNULL(@@ROWCOUNT,0) = 0 BEGIN SET @TableCreate = 1	END		

			/*DELETE*/		
				IF ISNULL(@TableCreate,0) <> 1
					BEGIN	 
						SET @SQL = 	'DELETE FROM ' + @dbName + '..txMARC_BMMH1_LSMW_Sel ' + @From@SQL_Del								
						EXEC (@SQL)
					end

			/*INSERT/UPDATE*/		
			SET @SQL = 'UPDATE ' + @dbname + '..ttMARC SET zChange = 0 WHERE zChange IS NULL'
			EXEC (@SQL)
			SET @SQL = 'UPDATE ' + @dbname + '..ttMBEW SET zChange = 0 WHERE zChange IS NULL'
			EXEC (@SQL)

			SET @SQL = 
				CASE WHEN @TableCreate = 1 THEN '' ELSE 'INSERT INTO ' + @dbName + '..txMARC_BMMH1_LSMW_Sel ' END +
					' SELECT ISNULL(ttMARC.MATNR,ttMBEW.MATNR) AS MATNR,
						ISNULL(ttMARC.WERKS,ttMBEW.BWKEY) AS WERKS ,			
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(ttMBEW.BWTTY, '''') ELSE ''/'' END AS BWTTY ,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN ttMBEW.BKLAS ELSE ''/'' END AS BKLAS,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN CASE WHEN ttMARC.MMSTA = '''' THEN NULL
							 ELSE MMSTA
						END  ELSE ''/'' END AS MMSTA ,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN CASE WHEN mmstd <> ''''
							 THEN CONVERT(NVARCHAR(10), CAST(MMSTD AS DATE), 101)
						END  ELSE ''/'' END AS MMSTD ,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(ttMARC.MAABC, '''')  ELSE ''/'' END AS MAABC ,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(ttMARC.EKGRP, '''')  ELSE ''/'' END AS EKGRP ,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(ttMARC.DISMM, '''')  ELSE ''/'' END AS DISMM ,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(ttMARC.DISPO, '''')  ELSE ''/'' END AS DISPO ,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(CAST(ttMARC.PLIFZ AS NVARCHAR), ''0'')  ELSE ''/'' END AS PLIFZ ,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(CAST(ttMARC.WEBAZ AS NVARCHAR), ''0'')  ELSE ''/'' END AS WEBAZ ,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(ttMARC.PERKZ, '''')  ELSE ''/'' END AS PERKZ ,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(ttMARC.DISLS, '''')  ELSE ''/'' END AS DISLS ,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(ttMARC.BESKZ, '''')  ELSE ''/'' END AS BESKZ ,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(CAST(ttMARC.MINBE AS NVARCHAR), ''0'')  ELSE ''/'' END AS MINBE ,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(CAST(ttMARC.EISBE AS NVARCHAR), ''0'')  ELSE ''/'' END AS EISBE ,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF('''', ''0'')  ELSE ''/'' END AS BSTFE ,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF('''', '''')  ELSE ''/'' END AS UEETO ,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF('''', '''')  ELSE ''/'' END AS UNETO ,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(CAST(ttMARC.WZEIT AS NVARCHAR), ''0'')  ELSE ''/'' END AS WZEIT ,
						''/'' AS TRAGR ,							--Already present in MARA
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(ttMARC.LADGR, '''')  ELSE ''/'' END AS LADGR ,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(CAST(ttMARC.LGRAD AS NVARCHAR), ''0'')  ELSE ''/'' END AS LGRAD ,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(ttMARC.XCHPF, '''')  ELSE ''/'' END AS XCHPF ,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(ttMARC.MTVFP, '''')  ELSE ''/'' END AS MTVFP ,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(ttMARC.KAUTB, '''')  ELSE ''/'' END AS KAUTB ,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(ttMARC.KORDB, '''')  ELSE ''/'' END AS KORDB ,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF('''', '''')  ELSE ''/'' END AS STAWN ,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(ttMARC.HERKL, '''')  ELSE ''/'' END AS HERKL ,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN ttMARC.PRCTR  ELSE ''/'' END AS PRCTR,'
						SET @SQL = @SQL + '																				
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF('''', '''')  ELSE ''/'' END AS DISGR ,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(ttMARC.SERNP, '''')  ELSE ''/'' END AS SERNP ,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(ttMARC.LGFSB, '''')  ELSE ''/'' END AS LGFSB ,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN ttMPOP.PRMOD  ELSE ''/'' END AS PRMOD,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN CAST(ttMPOP.PERAN  AS NVARCHAR) ELSE ''/'' END AS PERAN,					
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN CAST(ttMPOP.ANZPR  AS NVARCHAR) ELSE ''/'' END AS ANZPR,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN ttMPOP.KZINI  ELSE ''/'' END AS KZINI,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN CAST(ttMPOP.PERIN  AS NVARCHAR) ELSE ''/'' END AS PERIN,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN CAST(ttMPOP.PERIO  AS NVARCHAR) ELSE ''/'' END AS PERIO,				
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN CAST(ttMBEW.VPRSV  AS NVARCHAR) ELSE ''/'' END AS VPRSV,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN CAST(ttMBEW.VERPR  AS NVARCHAR) ELSE ''/'' END AS VERPR,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN CAST(ttMBEW.STPRS  AS NVARCHAR) ELSE ''/'' END AS STPRS,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN CAST(ttMBEW.PEINH  AS NVARCHAR) ELSE ''/'' END AS PEINH,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULL ELSE ''/'' END AS [TIMESTAMP] ,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(EKALR, '''')  ELSE ''/'' END AS EKALR ,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(HKMAT, '''')  ELSE ''/'' END AS HKMAT ,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN NULLIF(FHORI, '''')  ELSE ''/'' END AS FHORI ,
						CASE WHEN ttMARC.zChange = 0 OR ttMBEW.zChange = 0 THEN ttMLAN.TAXIM  ELSE ''/'' END AS TAXIM,
						ISNULL(ttMARC.ZSource,ttMBEW.zSource) AS zSource,
						ISNULL(ttMARC.zJobNr,ttMBEW.zJobNr) AS zJobNr,
						ISNULL(ttMARC.zSystem,ttMBEW.zSystem) AS zSystem,
						ISNULL(ttMARC.zClient,ttMBEW.zClient) AS zClient, 
						ISNULL(ttMARC.zSrcID,ttMBEW.zSrcID) AS zSrcID,
						ISNULL(ttMARC.zID,ttMBEW.zID) AS zID,' +						
						CAST(@InsertFlag AS NVARCHAR(1)) + ' AS NewRecord ' +
						CASE WHEN @TableCreate = 1 THEN ' INTO ' + @dbName + '..txMARC_BMMH1_LSMW_Sel ' ELSE '' END 
			SET @SQL2 = @SQL +  @From@SQL_Upd_MARC					
			EXEC(@SQL2)			
			PRINT CAST('txMARC_BMMH1_LSMW_Sel_MARC' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR)

			SET @SQL2 = @SQL +  @From@SQL_Upd_MBEW			
			EXEC(@SQL2)			
			PRINT CAST('txMARC_BMMH1_LSMW_Sel_MBEW' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR)

			/*UPDATE With Changed Values only*/
		IF @InsertFlag <> 1
			BEGIN
				WHILE (SELECT TOP 1 1 FROM @TableChangedFields WHERE Done = 0 AND TableName = 'MARC') = 1
					BEGIN
						SELECT TOP 1 @Field = fieldName FROM @TableChangedFields WHERE Done = 0 AND TableName = 'MARC'
						SET @SQL = 'UPDATE txMARC_BMMH1_LSMW_Sel SET ' + @Field + ' = NULLIF(NewValue,'''') FROM ' + @dbName + '..txMARC_BMMH1_LSMW_Sel INNER JOIN ' + @dbName + '..ttMMChanges ON ttMMChanges.zSrcID = txMARC_BMMH1_LSMW_Sel.zSrcID 
						AND ttMMChanges.zID = txMARC_BMMH1_LSMW_Sel.zID WHERE TableName = ''MARC'' AND FieldName = ''' + @Field + ''';'											
						EXEC (@SQL)

						UPDATE @TableChangedFields SET DONE = 1 WHERE TableName = 'MARC' AND FieldName = @Field
					END
				
			END		 

			IF @InsertFlag <> 1
			BEGIN
				WHILE (SELECT TOP 1 1 FROM @TableChangedFields WHERE Done = 0 AND TableName = 'MBEW') = 1
					BEGIN
						SELECT TOP 1 @Field = fieldName FROM @TableChangedFields WHERE Done = 0 AND TableName = 'MBEW'
						SET @SQL = 'UPDATE txMARC_BMMH1_LSMW_Sel SET ' + @Field + ' = NULLIF(NewValue,'''') FROM ' + @dbName + '..txMARC_BMMH1_LSMW_Sel INNER JOIN ' + @dbName + '..ttMMChanges ON ttMMChanges.zSrcID = txMARC_BMMH1_LSMW_Sel.zSrcID 
						AND ttMMChanges.zID = txMARC_BMMH1_LSMW_Sel.zID WHERE TableName = ''MBEW'' AND FieldName = ''' + @Field + ''';'											
						EXEC (@SQL)						

						UPDATE @TableChangedFields SET DONE = 1 WHERE TableName = 'MBEW' AND FieldName = @Field
					END
				
			END		


	/*txMARD_BMM00_LSMW_Sel*/
		/*CHECK IF Table EXISTS*/
			SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''txMARD_BMM00_LSMW_Sel'''
			DELETE FROM @TableExists
			INSERT INTO @TableExists EXEC (@SQL)	
			IF ISNULL(@@ROWCOUNT,0) = 0 BEGIN SET @TableCreate = 1	END			

		/*DELETE*/
			IF ISNULL(@TableCreate,0) <> 1
				BEGIN
					SET @From@SQL_Del = 'WHERE ' + CASE WHEN @JobNr <> 0 THEN 'zJobNr = ' + CAST(@JobNr AS NVARCHAR) + ' AND' ELSE '' END + '
							 zSystem = ''' + @SAPSystem + ''' AND zClient = ''' + @SAPClient + ''';'													 
					SET @SQL = 	'DELETE FROM ' + @dbName + '..txMARD_BMM00_LSMW_Sel ' + @From@SQL_Del				
					EXEC (@SQL)
				END

		/*INSERT/UPDATE*/
			SET @SQL = 
				CASE WHEN @TableCreate = 1 THEN '' ELSE 'INSERT INTO ' + @dbName + '..txMARD_BMM00_LSMW_Sel ' END +
					'SELECT CASE WHEN ttMARD.zActive = 1 THEN ''MM01'' ELSE ''MM02'' END AS TCODE,
					ttMARD.MATNR,
					ttMARD.WERKS ,
					ttMARD.LGORT ,
					NULLIF(ttMARD.DISKZ, '''') AS DISKZ ,
					0 AS zDupe,
					ttMARD.zJobNr,
					ttMARD.zSystem,
					ttMARD.zClient, 
					ttMARD.zSrcID,
					ttMARD.zID,'  + 
					CAST(@InsertFlag AS NVARCHAR(1)) + ' AS NewRecord ' +
					CASE WHEN @TableCreate = 1 THEN ' INTO ' + @dbName + '..txMARD_BMM00_LSMW_Sel ' ELSE '' END +
				' FROM ' + @dbName + '..ttMARD										
				WHERE ' + CASE @InsertFlag WHEN 1 THEN 'ISNULL(ttMARD.zActive,0) = 1' WHEN 0 THEN  'ISNULL(ttMARD.zChange,0) = 1' WHEN 2 THEN ' ISNULL(ttMARD.zActive,0) = 1 OR ISNULL(ttMARD.zChange,0) = 1 ' END					
			EXEC(@SQL)	
			PRINT CAST('txMARD_BMM00_LSMW_Sel' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR)



	/*txMLAN_BMMH2_LSMW_Sel*/
		/*CHECK IF Table EXISTS*/
			SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''txMLAN_BMMH2_LSMW_Sel'''
			DELETE FROM @TableExists
			INSERT INTO @TableExists EXEC (@SQL)	
			IF ISNULL(@@ROWCOUNT,0) = 0 BEGIN SET @TableCreate = 1	END			

		/*DELETE*/
			IF ISNULL(@TableCreate,0) <> 1
				BEGIN
					SET @From@SQL_Del = 'WHERE ' + CASE WHEN @JobNr <> 0 THEN 'zJobNr = ' + CAST(@JobNr AS NVARCHAR) + ' AND' ELSE '' END + '
							 zSystem = ''' + @SAPSystem + ''' AND zClient = ''' + @SAPClient + ''';'													 
					SET @SQL = 	'DELETE FROM ' + @dbName + '..txMLAN_BMMH2_LSMW_Sel ' + @From@SQL_Del				
					EXEC (@SQL)
				END

		/*INSERT/UPDATE*/
			SET @SQL = 
				CASE WHEN @TableCreate = 1 THEN '' ELSE 'INSERT INTO ' + @dbName + '..txMLAN_BMMH2_LSMW_Sel ' END +
				'SELECT ttMLAN.MATNR ,			
					ttMLAN.ALAND ,
					''MWST'' AS TATY1 ,
					ttMLAN.TAXM1 ,
					 NULLIF('''', '''') AS TATY2 ,
					 NULLIF('''', '''') AS TAXM2 ,
					 NULLIF('''', '''') AS TATY3 ,
					 NULLIF('''', '''') AS TAXM3 ,
					 NULLIF('''', '''') AS TATY4 ,
					 NULLIF('''', '''') AS TAXM4 ,
					 zVKORG AS VKORG,
					ttMLAN.zJobNr,
					ttMLAN.zSystem,
					ttMLAN.zClient, 
					ttMLAN.zSrcID,
					ttMLAN.zID,'  + 
					CAST(@InsertFlag AS NVARCHAR(1)) + ' AS NewRecord ' +
					CASE WHEN @TableCreate = 1 THEN ' INTO ' + @dbName + '..txMLAN_BMMH2_LSMW_Sel ' ELSE '' END +
				' FROM ' + @dbName + '..ttMLAN 					
						WHERE ' + CASE @InsertFlag WHEN 1 THEN 'ISNULL(ttMLAN.zActive,0) = 1' WHEN 0 THEN  'ISNULL(ttMLAN.zChange,0) = 1' WHEN 2 THEN ' ISNULL(ttMLAN.zActive,0) = 1 OR ISNULL(ttMLAN.zChange,0) = 1 ' END					
			EXEC(@SQL)
			PRINT CAST('txMLAN_BMMH2_LSMW_Sel' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR)


	/*txMLGN_BMM00_LSMW_Sel*/
		/*CHECK IF Table EXISTS*/
			SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''txMLGN_BMM00_LSMW_Sel'''
			DELETE FROM @TableExists
			INSERT INTO @TableExists EXEC (@SQL)	
			IF ISNULL(@@ROWCOUNT,0) = 0 BEGIN SET @TableCreate = 1	END			

		/*DELETE*/
			IF ISNULL(@TableCreate,0) <> 1
				BEGIN
					SET @From@SQL_Del = 'WHERE ' + CASE WHEN @JobNr <> 0 THEN 'zJobNr = ' + CAST(@JobNr AS NVARCHAR) + ' AND' ELSE '' END + '
							 zSystem = ''' + @SAPSystem + ''' AND zClient = ''' + @SAPClient + ''';'													 
					SET @SQL = 	'DELETE FROM ' + @dbName + '..txMLGN_BMM00_LSMW_Sel ' + @From@SQL_Del				
					EXEC (@SQL)
				END

		/*INSERT/UPDATE*/
			SET @SQL = 
				CASE WHEN @TableCreate = 1 THEN '' ELSE 'INSERT INTO ' + @dbName + '..txMLGN_BMM00_LSMW_Sel ' END +
					'SELECT CASE WHEN ttMLGN.zActive = 1 THEN ''MM01'' ELSE ''MM02'' END AS TCODE,
						ttMLGN.MATNR,
						ttMLGN.LGNUM ,
						ttM.MBRSH ,
						ttM.MTART ,
						ttM.XEIS1 ,
						ttMLGN.LGBKZ ,
						ttMLGN.LTKZA ,
						ttMLGN.LTKZE ,
						ttMLGN.KZZUL ,
						ISNULL(ttMLGN.zInSAP, 0) AS zInSap ,
						0 AS zDupe,
						ttMLGN.zJobNr,
						ttMLGN.zSystem,
						ttMLGN.zClient,
						ttMLGN.zSrcID,
						ttMLGN.zID,'  + 
						CAST(@InsertFlag AS NVARCHAR(1)) + ' AS NewRecord ' +
						CASE WHEN @TableCreate = 1 THEN ' INTO ' + @dbName + '..txMLGN_BMM00_LSMW_Sel ' ELSE '' END +
				' FROM ' + @dbName + '..ttMLGN
					INNER JOIN ' + @dbName + '..ttM ON ttM.MATNR = ttMLGN.MATNR 
					WHERE ' + CASE @InsertFlag WHEN 1 THEN 'ISNULL(ttMLGN.zActive,0) = 1' WHEN 0 THEN  'ISNULL(ttMLGN.zChange,0) = 1' WHEN 2 THEN ' ISNULL(ttMLGN.zActive,0) = 1 OR ISNULL(ttMLGN.zChange,0) = 1 ' END					
			EXEC(@SQL)
			PRINT CAST('txMLGN_BMM00_LSMW_Sel' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR)


	/*txMVKE_BMM00_LSMW_Sel*/
		/*CHECK IF Table EXISTS*/
			SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''txMVKE_BMM00_LSMW_Sel'''
			DELETE FROM @TableExists
			INSERT INTO @TableExists EXEC (@SQL)	
			IF ISNULL(@@ROWCOUNT,0) = 0 BEGIN SET @TableCreate = 1	END			

		/*DELETE*/
			IF ISNULL(@TableCreate,0) <> 1
				BEGIN
					SET @From@SQL_Del = 'WHERE ' + CASE WHEN @JobNr <> 0 THEN 'zJobNr = ' + CAST(@JobNr AS NVARCHAR) + ' AND' ELSE '' END + '
							 zSystem = ''' + @SAPSystem + ''' AND zClient = ''' + @SAPClient + ''';'													 
					SET @SQL = 	'DELETE FROM ' + @dbName + '..txMVKE_BMM00_LSMW_Sel ' + @From@SQL_Del				
					EXEC (@SQL)
				END

		/*INSERT/UPDATE*/
			SET @From@SQL_Upd = 
				'FROM ' + @dbName + '..ttMVKE
					INNER JOIN ' + @dbName + '..ttMLAN ON ttMVKE.MATNR = ttMLAN.MATNR	AND ttMVKE.VKORG = ttMLAN.zVKORG
					--INNER JOIN ' + @dbName + '..ttMARA ON ttMVKE.MATNR = ttMARA.MATNR		
					INNER JOIN ' + @dbName + '..ttM ON ttMVKE.MATNR = ttM.MATNR							
				WHERE ' + CASE WHEN @JobNr <> 0 THEN 'ttMVKE.zJobNr = ' + CAST(@JobNr AS NVARCHAR)  + ' AND ' ELSE '' END +
					' ttMVKE.zSystem = ''' + @SAPSystem + ''' AND ttMVKE.zClient = ''' + @SAPClient + ''' AND '			
					 + CASE @InsertFlag WHEN 1 THEN 'ISNULL(ttMVKE.zActive,0) = 1' WHEN 0 THEN  'ISNULL(ttMVKE.zChange,0) = 1' WHEN 2 THEN ' ISNULL(ttMVKE.zActive,0) = 1 OR ISNULL(ttMVKE.zChange,0) = 1 ' END					
			
			SET @SQL = 	
				CASE WHEN @TableCreate = 1 THEN '' ELSE 'INSERT INTO ' + @dbName + '..txMVKE_BMM00_LSMW_Sel ' END +
					'SELECT CASE WHEN ttMVKE.zActive = 1 THEN ''MM01'' ELSE ''MM02'' END AS TCODE,
						ttMVKE.MATNR,
						ttMVKE.VKORG ,
						ttMVKE.VTWEG ,
						ttM.MBRSH ,
						ttM.MTART ,
						ttM.XEIA1 ,
						ttM.XEIB1 ,
						ttM.XEID1 ,
						ttM.XEID2 ,
						ttM.XEIE1 ,
						ttM.XEIE2 ,
						ttM.XEIK1 ,
						ttM.XEIL1 ,
						ttM.XEIP1 ,
						ttM.XEIS1 ,
						ttM.XEIV1 ,
						ttM.XEIV2 ,
						ttM.XEIV3 ,
						ttM.XEIV4 ,
						ttM.XEIF1 ,
						ttM.XEIQ1 ,
						ttM.XEIC1 ,
						ttM.XEIA2 ,
						ttM.XEID3 ,
						ttM.XEIVE ,
						ttMVKE.zActive ,
						ttMVKE.zINSAP ,
						ttMVKE.zJobNr,
						ttMVKE.zSystem,
						ttMVKE.zClient, 
						ttMVKE.zSrcID,
						ttMVKE.zID,'  + 
						CAST(@InsertFlag AS NVARCHAR(1)) + ' AS NewRecord ' +
						CASE WHEN @TableCreate = 1 THEN ' INTO ' + @dbName + '..txMVKE_BMM00_LSMW_Sel ' ELSE '' END +
						+ @From@SQL_Upd							
			EXEC(@SQL)
			PRINT CAST('txMVKE_BMM00_LSMW_Sel' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR)


		/*txMVKE_BMMH1_LSMW_Sel*/
			/*CHECK IF Table EXISTS*/
			SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''txMVKE_BMMH1_LSMW_Sel'''
			DELETE FROM @TableExists
			INSERT INTO @TableExists EXEC (@SQL)	
			IF ISNULL(@@ROWCOUNT,0) = 0 BEGIN SET @TableCreate = 1	END		

			/*DELETE*/		
				IF ISNULL(@TableCreate,0) <> 1
					BEGIN	 
						SET @SQL = 	'DELETE FROM ' + @dbName + '..txMVKE_BMMH1_LSMW_Sel ' + @From@SQL_Del				
						EXEC (@SQL)
					end

			/*INSERT/UPDATE*/		
			SET @SQL = 
				CASE WHEN @TableCreate = 1 THEN '' ELSE 'INSERT INTO ' + @dbName + '..txMVKE_BMMH1_LSMW_Sel ' END +
					'SELECT ttMVKE.MATNR ,					
					ttMVKE.VKORG,
					ttMVKE.VTWEG,
					CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 THEN ttMVKE.VERSG ELSE ''/'' END AS VERSG,
					CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 THEN NULLIF('''', '''') ELSE ''/'' END AS BONUS ,
					CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 THEN ttMVKE.VMSTA ELSE ''/'' END AS VMSTA,
					CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 THEN CAST(ttMVKE.VMSTD AS NVARCHAR) ELSE ''/'' END AS VMSTD,
					CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 THEN CAST(ttMVKE.AUMNG AS NVARCHAR) ELSE ''/'' END AS AUMNG,
					CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 THEN NULLIF(ttMVKE.VRKME, '''')  ELSE ''/'' END AS VRKME,
					CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 THEN ttMVKE.MTPOS ELSE ''/'' END AS MTPOS,
					CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 THEN ttMVKE.DWERK ELSE ''/'' END AS DWERK,
					CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 THEN ttMVKE.PRODH ELSE ''/'' END AS PRODH,
					CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 THEN NULLIF(ttMVKE.KONDM,'''') ELSE ''/'' END AS KONDM,
					CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 THEN ttMVKE.KTGRM ELSE ''/'' END AS KTGRM,
					CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 THEN ttMVKE.MVGR1 ELSE ''/'' END AS MVGR1,
					CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 THEN NULLIF(ttMVKE.MVGR2,'''') ELSE ''/'' END AS MVGR2,
					CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 THEN NULLIF('''', '''') ELSE ''/'' END AS RDPRF ,
					CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 THEN NULLIF('''', '''') ELSE ''/'' END AS TRAGR ,
					''MWST'' AS TATYP ,
					CASE WHEN ISNULL(ttMVKE.zChange,0)  = 0 THEN ttMLAN.TAXM1 ELSE ''/'' END AS TAXKM ,
					ttMLAN.TAXIM,
					ttMVKE.zJobNr,
					ttMVKE.zSystem,
					ttMVKE.zClient, 
					ttMVKE.zSrcID,
					ttMVKE.zID, ' + 
					CAST(@InsertFlag AS NVARCHAR(1)) + ' AS NewRecord ' +
					CASE WHEN @TableCreate = 1 THEN ' INTO ' + @dbName + '..txMVKE_BMMH1_LSMW_Sel ' ELSE '' END +
					+ @From@SQL_Upd							
			EXEC(@SQL)
			PRINT CAST('txMVKE_BMMH1_LSMW_Sel' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR)

			/*UPDATE With Changed Values only*/
		IF @InsertFlag <> 1
			BEGIN
				WHILE (SELECT TOP 1 1 FROM @TableChangedFields WHERE Done = 0 AND TableName = 'MVKE') = 1
					BEGIN
						SELECT TOP 1 @Field = fieldName FROM @TableChangedFields WHERE Done = 0 AND TableName = 'MVKE'
						SET @SQL = 'UPDATE txMVKE_BMMH1_LSMW_Sel SET ' + @Field + ' = NewValue FROM ' + @dbName + '..txMVKE_BMMH1_LSMW_Sel INNER JOIN ' + @dbName + '..ttMMChanges ON ttMMChanges.zSrcID = txMVKE_BMMH1_LSMW_Sel.zSrcID 
						AND ttMMChanges.zID = txMVKE_BMMH1_LSMW_Sel.zID WHERE TableName = ''MVKE'' AND FieldName = ''' + @Field + ''';'											
						EXEC (@SQL)

						UPDATE @TableChangedFields SET DONE = 1 WHERE TableName = 'MVKE' AND FieldName = @Field
					END
				
			END		

	/*txEINA_EINE_PIR*/
		/*CHECK IF Table EXISTS*/
			SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''txEINE_EINA_CreatePIR&Discount_BDC'''
			DELETE FROM @TableExists
			INSERT INTO @TableExists EXEC (@SQL)	
			IF ISNULL(@@ROWCOUNT,0) = 0 BEGIN SET @TableCreate = 1	END			

		/*DELETE*/
			IF ISNULL(@TableCreate,0) <> 1
				BEGIN
					SET @From@SQL_Del = 'WHERE ' + CASE WHEN @JobNr <> 0 THEN 'zJobNr = ' + CAST(@JobNr AS NVARCHAR) + ' AND' ELSE '' END + '
							 zSystem = ''' + @SAPSystem + ''' AND zClient = ''' + @SAPClient + ''';'													 
					SET @SQL = 	'DELETE FROM ' + @dbName + '..[txEINE_EINA_CreatePIR&Discount_BDC] ' + @From@SQL_Del				
					EXEC (@SQL)
				END

		/*INSERT/UPDATE*/
			SET @From@SQL_Upd = 
				'FROM ' + @dbName + '..ttEINA
					INNER JOIN ' + @dbName + '..ttEINE ON ttEINE.zMATNR = ttEINA.MATNR AND ttEINE.zSrcID = ttEINA.zSrcID					
				WHERE ' + CASE WHEN @JobNr <> 0 THEN 'ttEINA.zJobNr = ' + CAST(@JobNr AS NVARCHAR)  + ' AND ' ELSE '' END +
					' ttEINA.zSystem = ''' + @SAPSystem + ''' AND ttEINA.zClient = ''' + @SAPClient + ''' AND '			
					 + CASE @InsertFlag WHEN 1 THEN 'ISNULL(ttEINA.zActive,0) = 1 OR ISNULL(ttEINE.zActive,0) = 1' WHEN 0 THEN  'ISNULL(ttEINA.zChange,0) = 1 OR ISNULL(ttEINE.zChange,0) = 1' WHEN 2 THEN ' ISNULL(ttEINA.zActive,0) = 1 OR ISNULL(ttEINA.zChange,0) = 1 OR ISNULL(ttEINE.zActive,0) = 1 OR ISNULL(ttEINE.zChange,0) = 1 ' END					
	
		 
			SET @SQL = 	
				CASE WHEN @TableCreate = 1 THEN '' ELSE 'INSERT INTO ' + @dbName + '..[txEINE_EINA_CreatePIR&Discount_BDC] ' END +					
				'SELECT DISTINCT ttEINA.LIFNR AS [EINA-LIFNR] ,
					ttEINA.MATNR AS [EINA-MATNR] ,
					ttEINE.EKORG AS [EINE-EKORG] ,
					ttEINE.WERKS AS [EINE-WERKS] ,
					ttEINE.NORBM AS [EINE-NORBM] ,
					ttEINE.RDPRF ,
					ISNULL(ttEINE.APLFZ, 99) AS [EINE-APLFZ] ,
					ttEINE.zListPrice AS [KONP-KBETR(01)] ,
					''RC00'' AS [KONP-KSCHL(02)] ,
					-ttEINE.zDiscount AS [KONP-KBETR(02)] ,
					''FRA1'' AS [KONP-KSCHL(03)] ,
					CAST(ISNULL(ttEINE.zFreight,0) AS DECIMAL(10, 2)) AS [KONP-KBETR(03)] ,
					0 AS ConsignmentFlag ,
					ttEINE.zActive ,
					ISNULL(ttEINE.zInSAP, 0) AS zINSAP ,
					ttEINA.LIFNR + ttEINE.zMATNR + CAST(0 AS CHAR) + ttEINE.WERKS AS PK ,
					ttEINA.LIFNR,
					ttEINA.zJobNr,
					ttEINA.zSystem,
					ttEINA.zClient, 
					ttEINA.zSrcID,
					ttEINA.zID, ' + 
					CAST(@InsertFlag AS NVARCHAR(1)) + ' AS NewRecord ' +
					CASE WHEN @TableCreate = 1 THEN ' INTO ' + @dbName + '..[txEINE_EINA_CreatePIR&Discount_BDC] ' ELSE '' END +
					+ @From@SQL_Upd							
			EXEC(@SQL)
			PRINT CAST('txEINE_EINA_CreatePIR&Discount_BDC' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR)

    /*txEord*/
			/*INSERT/UPDATE*/
			SET @From@SQL_Upd = 
				'FROM ' + @dbName + '..ttEORD 					
				WHERE ' + CASE @InsertFlag WHEN 1 THEN 'ISNULL(ttEORD.zActive,0) = 1' WHEN 0 THEN  'ISNULL(ttEORD.zChange,0) = 1' WHEN 2 THEN ' ISNULL(ttEORD.zActive,0) = 1 OR ISNULL(ttEORD.zChange,0) = 1 ' END					
	
	 /*txEORD_Header*/
		/*CHECK IF Table EXISTS*/
			SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''txEORD_Header'''
			DELETE FROM @TableExists
			INSERT INTO @TableExists EXEC (@SQL)	
			IF ISNULL(@@ROWCOUNT,0) = 0 BEGIN SET @TableCreate = 1	END			

		/*DELETE*/
			IF ISNULL(@TableCreate,0) <> 1
				BEGIN
					SET @From@SQL_Del = 'WHERE ' + CASE WHEN @JobNr <> 0 THEN 'zJobNr = ' + CAST(@JobNr AS NVARCHAR) + ' AND' ELSE '' END + '
							 zSystem = ''' + @SAPSystem + ''' AND zClient = ''' + @SAPClient + ''';'													 
					SET @SQL = 	'DELETE FROM ' + @dbName + '..[txEORD_Header] ' + @From@SQL_Del				
					EXEC (@SQL)
				END	
	
			SET @SQL = 	
				CASE WHEN @TableCreate = 1 THEN '' ELSE 'INSERT INTO ' + @dbName + '..[txEORD_Header] ' END +		
				'SELECT WERKS ,
						MATNR,
						ttEORD.zJobNr,
						ttEORD.zSystem,
						ttEORD.zClient, 
						ttEORD.zSrcID, ' + 
						CAST(@InsertFlag AS NVARCHAR(1)) + ' AS NewRecord ' +
						CASE WHEN @TableCreate = 1 THEN ' INTO ' + @dbName + '..[txEORD_Header] ' ELSE '' END +
						+ @From@SQL_Upd	+ ' GROUP BY ttEORD.WERKS ,MATNR,zJobnr,zSystem,zClient,zSrcID'						
				EXEC(@SQL)
				PRINT CAST('txEORD_Header' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR)
	
	/*txEORD_Detail*/		
		/*CHECK IF Table EXISTS*/
			SET @SQL = 'SELECT 1 FROM ' + @DBName + '.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''txEORD_Detail'''
			DELETE FROM @TableExists
			INSERT INTO @TableExists EXEC (@SQL)	
			IF ISNULL(@@ROWCOUNT,0) = 0 BEGIN SET @TableCreate = 1	END		

			/*DELETE*/
			IF ISNULL(@TableCreate,0) <> 1
				BEGIN
					SET @From@SQL_Del = 'WHERE ' + CASE WHEN @JobNr <> 0 THEN 'zJobNr = ' + CAST(@JobNr AS NVARCHAR) + ' AND' ELSE '' END + '
							 zSystem = ''' + @SAPSystem + ''' AND zClient = ''' + @SAPClient + ''';'													 
					SET @SQL = 	'DELETE FROM ' + @dbName + '..[txEORD_Detail] ' + @From@SQL_Del				
					EXEC (@SQL)
				END
				
			SET @SQL = 	
				CASE WHEN @TableCreate = 1 THEN '' ELSE 'INSERT INTO ' + @dbName + '..[txEORD_Detail] ' END +		
				'SELECT ttEORD.MEINS ,
                    ttEORD.WERKS ,
                    NULLIF(ttEORD.FLIFN, '''') AS FESKZ ,
                    ttEORD.AUTET ,
                    ttEORD.VDATU ,
                    ttEORD.BDATU ,
                    ttEORD.EKORG ,
                    MATNR ,
                    CASE WHEN ( DSW.dbo.boaIsNumeric(ttEORD.LIFNR) = 0 )
                         THEN ttEORD.LIFNR
                         ELSE DSW.dbo.boaPad(ttEORD.LIFNR, 0, 10)
                    END AS LIFNR,					
					ttEORD.zJobNr,
					ttEORD.zSystem,
					ttEORD.zClient, 
					ttEORD.zSrcID, ' + 
					CAST(@InsertFlag AS NVARCHAR(1)) + ' AS NewRecord ' +
					CASE WHEN @TableCreate = 1 THEN ' INTO ' + @dbName + '..[txEORD_Detail] ' ELSE '' END +
					+ @From@SQL_Upd					
				EXEC(@SQL)
				PRINT CAST('txEORD_Detail' AS CHAR(35)) + CAST(@@ROWCOUNT AS NVARCHAR)
                
GO
