USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spProcess304050Combined_ME_TW_BDA]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--EXEC [spProcess304050Combined_ME_TW_BDA] 'zVPL_EPN_20200109_Swathi',38,2,'EPN',300, 1, 'EP1_Swathi', 'EMEA'

/*
Wrapper SP to run all the SPs together for a given status code

Created: TW June2015
Modified: Jun 2019 -- Created a new version for BDA automation set-up
Modified: Sept 04, 2019 -- Commented the SP35 run to avoid performance issues on teh server

*/
CREATE PROCEDURE [dbo].[spProcess304050Combined_ME_TW_BDA](
    @DB NVARCHAR(40) = 'zVPL_20150609_30',
    @sstCode NVARCHAR(2) = 30 ,
    @UpdateType SMALLINT = 2 , --1 = new only, 2 = new & changes, 0 = changes only
    @SAPSystem NVARCHAR(3) = 'EQ1',
    @SAPClient NVARCHAR(3) = '300',
    @RunSp50 BIT = 1,
    @SapSystemDir1 VARCHAR(20) = '',
    @srcGroup NVARCHAR(10) = 'ALL'
)
AS
BEGIN
	--DECLARE  @DB NVARCHAR(40) = 'zVPL_EPN_20200120_Swathi',
	--	@sstCode NVARCHAR(2) = 34 ,
	--	@UpdateType SMALLINT = 2 , --1 = new only, 2 = new & changes, 0 = changes only
	--	@SAPSystem NVARCHAR(3) = 'EPN',
	--	@SAPClient NVARCHAR(3) = '300',
	--	@RunSp50 BIT = 1,
	--	@SapSystemDir1 VARCHAR(20) = '',
	--	@srcGroup NVARCHAR(10) = 'EMEA';

	DECLARE @JobNr INT, @processjobname VARCHAR(10), @TargetDB VARCHAR(20), @SQL nvarchar(MAX);
	DECLARE @SrcIdList NVARCHAR(100) = '', @TktNumber NVARCHAR(100), @srcVendorCode NVARCHAR(10), @ParentJobStatus INT = 0;

	SELECT @SrcIdList = srcId, @TktNumber = srcMDMTicketNumber, @srcVendorCode = srcVendorCode FROM vw_GetAutomatedSrcIds;
	--SELECT @SrcIdList = 733, @TktNumber = '61752|61753|61754'

	DECLARE @DBCount INT;

	IF (@SrcIdList <> '')
	BEGIN
		IF(@srcVendorCode = '99999')
		BEGIN
			SET @DBCount = 1;

			WHILE (@DBCount <= 3)
			BEGIN
				IF (@DBCount = 1)
				BEGIN
					SELECT @TargetDB = CASE WHEN @SAPSystem IN ('EPN','EP1') THEN 'BDA_MM_UL_EP1' ELSE 'BDA_MM_UL_E03' END;
				END
				ELSE
				BEGIN
					SELECT @TargetDB = CASE WHEN @SAPSystem IN ('EPN','EP1') 
						THEN ('BDA_MM_UL_EP1' + '_' + CAST(@DBCount AS NVARCHAR(10)))
						ELSE ('BDA_MM_UL_E03' + '_' + CAST(@DBCount AS NVARCHAR(10)))
						END;
					SET @DB = @DB + '_' + CAST(@DBCount AS NVARCHAR(10));
				END

				SET @SQL = N'SELECT @ParentJobStatus = CAST([Status] AS INT) FROM ' + @TargetDB + '.dbo.cfProcessControl WHERE ProcessJobName = ''AutoSP''';
				EXEC SP_EXECUTESQL @SQL, N'@ParentJobStatus INT OUTPUT', @ParentJobStatus OUTPUT;
				
				IF (@ParentJobStatus = 4)
				BEGIN
					EXEC spExecuteBDAProcedures @SrcIdList, @TargetDB, @TktNumber, @SAPSystem, @DB, @SAPClient, @srcGroup, @sstCode, @JobNr, @UpdateType, @RunSp50, @SapSystemDir1;
					GOTO ExitLoop;
				END
				SET @DBCount = @DBCount + 1;
			END
		END
		ELSE
		BEGIN
			SET @DBCount = 4;

			WHILE (@DBCount >= 3)
			BEGIN
				SELECT @TargetDB = CASE WHEN @SAPSystem IN ('EPN','EP1') 
					THEN ('BDA_MM_UL_EP1' + '_' + CAST(@DBCount AS NVARCHAR(10)))
					ELSE ('BDA_MM_UL_E03' + '_' + CAST(@DBCount AS NVARCHAR(10)))
					END;
				SET @DB = @DB + '_' + CAST(@DBCount AS NVARCHAR(10));

				SET @SQL = N'SELECT @ParentJobStatus = CAST([Status] AS INT) FROM ' + @TargetDB + '.dbo.cfProcessControl WHERE ProcessJobName = ''AutoSP''';
				EXEC SP_EXECUTESQL @SQL, N'@ParentJobStatus INT OUTPUT', @ParentJobStatus OUTPUT;
				
				IF (@ParentJobStatus = 4)
				BEGIN
					EXEC spExecuteBDAProcedures @SrcIdList, @TargetDB, @TktNumber, @SAPSystem, @DB, @SAPClient, @srcGroup, @sstCode, @JobNr, @UpdateType, @RunSp50, @SapSystemDir1;
					GOTO ExitLoop;
				END
				SET @DBCount = @DBCount - 1;
			END
		END
	END
	ExitLoop:
		PRINT 'Out Of Loop';
END
GO
