USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spFrankWhileLoop]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spFrankWhileLoop] AS

SET NOCOUNT ON

DECLARE 
	@srcID INTEGER,
	@srcName NVARCHAR(40),
	@srcSrtCode NVARCHAR(40),
	@srcVendorCode NVARCHAR(40),
	@dbName NVARCHAR(60),
	@SourceFile NVARCHAR(80),
	@SQL NVARCHAR(4000)

	

SELECT 0 AS Done,* INTO #TMP FROM dbo.cfSource WHERE srcGroup IN ('EMEA')
WHILE (SELECT TOP 1 srcGroup FROM #TMP WHERE DOne = 0 ) = 'EMEA'
	BEGIN
		SELECT TOP 1 
			@srcID = srcID,
			@srcName = srcName
			 FROM #TMP WHERE DOne = 0 

			 SELECT	@srcName = srcName,
					@srcSrtCode = srcSrtCode,
					@srcVendorCode = srcVendorCode 
					
				FROM cfSource
				WHERE srcid = @srcID
			SET @DBName =  @srcSrtCode + @srcVendorCode + '_' + @srcName + '_' + CAST(@srcID AS NVARCHAR)
			SET @SourceFile = @dbName + '..' + 'SourceFileExtract'

			 BEGIN TRY
				SET @SQL = 'UPDATE DC99999_EMEA_115..JDE SET zInMPL = 1 FROM DC99999_EMEA_115..JDE 
					WHERE EXT_MATNR_Legacy IN (SELECT MATERIAL FROM ' + @SourceFile +' )'
				EXEC (@SQL)
			 END TRY


			 BEGIN CATCH
				PRINT @SourceFile + ' or column, does not exists'
			 END CATCH

			 --UPDATE DC99999_EMEA_115..JDE SET zInMPL = 1 FROM DC99999_EMEA_115..JDE WHERE INT_MATNR_Legacy = 1
			 --SET @SQL = 'UPDATE DC99999_EMEA_115..JDE SET zInMPL = 1 FROM DC99999_EMEA_115..JDE WHERE INT_MATNR_Legacy = (SELECT TOP 100 PK, MaterialGroup, Material FROM ' + @SourceFile +' )'

		UPDATE #TMP SET Done = 1 WHERE srcID = @srcID
	END
	
--SELECT * FROM #MPL
DROP TABLE #TMP
GO
