USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spCalculateMovingAverage_WIP]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--EXEC spCalculateMovingAverage 1, 'BDC', 'zAdh_GLP_AHrId_1143_Apr4', 'GLP'
CREATE PROCEDURE [dbo].[spCalculateMovingAverage_WIP](
	@RUN BIT = 1
	, @ExportType NVARCHAR(4) = 'BDC'
	, @zVPL NVARCHAR(500)
	, @SAP NVARCHAR(5)
)
AS
BEGIN
	SET NOCOUNT ON

	BEGIN TRY
	
		DECLARE 
			@MinPriceChangePerc  INTEGER = 0,
			@SQL NVARCHAR(MAX),
			@SQL2 NVARCHAR(MAX),
			@SAPSystem NVARCHAR(100);
		
		SELECT @SAPSystem = CASE WHEN @SAP IN ('EP1') THEN 'SAP_EP1_RT' ELSE 'SAP_E03_RT' END;

		SET @SQL = 'USE ' + @zVPL + '; 
		IF OBJECT_ID(''PriceData'') IS NOT NULL 
		BEGIN 					
			DROP TABLE PriceData;
		END	

		/* Get relevant Plant data*/
		SELECT DISTINCT
			CAST('''' AS NVARCHAR(255)) AS UpdateComment_VERPR,
			CAST('''' AS NVARCHAR(10)) AS MATKL,
			CAST('''' AS NVARCHAR(40)) AS MATKL_DESC,
			A.LIFNR ,
			CAST('''' AS NVARCHAR(40)) AS LIFNR_DESC,
			MATNR_EXT AS MATNR,
			MATNR_INT,
			T.BUKRS,
			E.PEINH,
			E.WERKS ,
			E.WAERS AS PIR_WAERS,
			NETPR,
			EFFPR ,					
			EFFPR * CR.UKURS AS EFFPR_Local ,	-- Function for rounding IDR to zero Decimals
			CAST(0 AS BIT ) AS EFFPRPriceChangeFlag,
			T.WAERS AS Company_WAERS,
			CR.UKURS ,	
			CAST(1 AS INT) AS zCURRDEC,					
			VPRSV ,
			VERPR ,			
			STPRS ,
			T.LAND1 ,
			B.LBKUM,				
			CAST(0 AS DECIMAL(12,2)) AS ChangePerc 				
		INTO PriceData     
		FROM txEINA_ModifyPrice MR  
		INNER JOIN ' + @SAPSystem + '..MATERIALID MD WITH (NOLOCK) ON MATNR_EXT = MR.MATNR
		INNER JOIN ' + @SAPSystem + '..EINA A WITH (NOLOCK) ON A.MATNR = MD.MATNR_INT AND A.LIFNR = MR.LIFNR
		INNER JOIN ' + @SAPSystem + '..EINE E WITH (NOLOCK) ON A.INFNR = E.INFNR AND E.WERKS = MR.WERKS
		INNER JOIN ' + @SAPSystem + '..MARC C WITH (NOLOCK) ON C.MATNR = MD.MATNR_INT AND C.WERKS = E.WERKS
		INNER JOIN ' + @SAPSystem + '..MBEW B WITH (NOLOCK) ON B.MATNR = MD.MATNR_INT AND B.BWKEY = E.WERKS
		INNER JOIN ' + @SAPSystem + '..T001K K WITH (NOLOCK) ON K.BWKEY = B.BWKEY
		INNER JOIN ' + @SAPSystem + '..T001 T WITH (NOLOCK) ON T.BUKRS = K.BUKRS
		INNER JOIN ' + @SAPSystem + '..CURRENTFXRATES CR WITH (NOLOCK) ON TCURR = T.WAERS AND FCURR = E.WAERS  
		INNER JOIN ' + @SAPSystem + '..EORD R WITH (NOLOCK) ON R.MATNR = MD.MATNR_INT AND R.LIFNR = MR.LIFNR AND R.WERKS = MR.WERKS
		WHERE C.MMSTA <> ''Z5''											-- No Obsolete Products
		AND C.MMSTD < = CONVERT(NVARCHAR, GETDATE(), 112)				-- No Obsolete Products
		AND C.LVORM <> ''X''											-- Not Flagged For Deletion
		AND B.LVORM <> ''X''												-- Not Flagged For Deletion
		AND B.VPRSV = ''V''												-- Moving avarage price only
		AND RIGHT(MR.WERKS, 1) = ''1''										-- Main Plant enbding with 1 Only
		AND FLIFN = ''X''													-- Default Supplier on the SourceLIst
		AND MR.WERKS NOT IN (''2001'',''2002'',''2003'',''2011'',''2012'',''2013'')	-- Exclude old US plants				
		--AND E.ESOKZ = 0													-- Standard PIR
				
		/*Some Updates on PriceData*/
		/*UPDATE zCURRDEC, decimal places currecnies esp. IDR*/
		UPDATE P SET zCURRDEC = CAST(POWER(10,(3-X.CURRDEC)) AS INT) 
		FROM PriceData  P 
		INNER JOIN (SELECT * FROM ' + @SAPSystem + '..TCURX WITH (NOLOCK) ) X ON P.Company_WAERS = X.CURRKEY 
			AND P.PIR_WAERS <> P.Company_WAERS;

		UPDATE P SET EFFPR_Local = EFFPR_Local * zCURRDEC FROM PriceData P WHERE zCURRDEC <> 1;

		/*No Price change*/
		DELETE FROM PriceData WHERE EFFPR_Local = VERPR

		/*Index Data*/
		CREATE INDEX IX_2 ON PriceData(LIFNR)
		CREATE INDEX IX_3 ON PriceData(VPRSV)

		/* Update with Vendor Name*/
		UPDATE PriceData SET LIFNR_DESC = NAME1 FROM PriceData INNER JOIN ' + @SAPSystem + '..LFA1 with (nolock)  ON PriceData.LIFNR = LFA1.LIFNR

		/* Update with Material Group*/
		UPDATE PriceData SET MATKL = MARA.MATKL,MATKL_DESC = WGBEZ FROM PriceData INNER JOIN ' + @SAPSystem + '..MARA with (nolock)  ON MARA.MATNR = PriceData.MATNR_INT INNER JOIN ' + @SAPSystem + '..T023T  with (nolock) ON MARA.MATKL = T023T.MATKL

		/* Update with Change Percentage*/
		UPDATE PriceData
		SET ChangePerc = CASE 
							WHEN VERPR = 0 AND EFFPR_Local = 0 THEN 0
							WHEN VERPR = 0 AND EFFPR_Local <> 0 THEN 100
							WHEN VERPR <> 0 THEN ROUND((EFFPR_Local - VERPR) / VERPR,2)
						END
		FROM PriceData
		WHERE VPRSV = ''V'';';

		SET @SQL2 = '/* Update UpdateComment_VERPR*/
		UPDATE PriceData  
		SET UpdateComment_VERPR = CASE WHEN ABS(EFFPR_Local - VERPR) > 0.01 
									THEN CASE WHEN ABS(ChangePerc) > = CAST(' + CAST(@MinPriceChangePerc AS NVARCHAR(100)) + ' AS INT)/100 AND LBKUM = 0 AND ROUND(EFFPR_Local,2) <> ROUND(VERPR,2) 
												THEN CASE WHEN  PIR_WAERS <> COMPANY_WAERS THEN ''UPDATE CURR DIFF'' ELSE ''UPDATE SAME CURR'' END													
												ELSE ''NO CHANGE < 0.01''
										END
									ELSE ''NO CHANGE''
									END
		FROM PriceData 						
									
		/* Has Stock*/
		UPDATE PriceData
		SET UpdateComment_VERPR = ''NO UPDATE, STOCK''
		FROM PriceData 
		WHERE LBKUM <> 0

		/* Export Formats BAPI or BDC*/
		--IF @exportType = ''BDC''
		--BEGIN
			IF OBJECT_ID(''txMBEW_VERPR_MR21'') IS NOT NULL 
			BEGIN 					
				DROP TABLE txMBEW_VERPR_MR21 								
			END	
							
			SELECT DISTINCT
				REPLACE(CONVERT(NVARCHAR(10), GETDATE(), 101),''/'','''') AS BUDAT ,
				BUKRS AS BUKRS ,
				WERKS ,
				''WeeklyFX'' AS REFERENCE,
				MATNR ,	
				dgdb_pl.dbo.fnFormatCostPrice (EFFPR_Local,Company_WAERS,'''') AS NewPrice,
				''d'' AS Dummy
			INTO txMBEW_VERPR_MR21
			FROM PriceData
			WHERE UpdateComment_VERPR IN (''UPDATE CURR DIFF'',''UPDATE SAME CURR'')
			ORDER BY WERKS DESC;

			--/*Chaining the STDC update*/
			--EXEC dgdb_PL..spMaintainSTDC_Batches 1, @GroupId, @exportType
			--INSERT INTO txMBEW_VERPR_MR21 SELECT * FROM txMBEW_VERPR_MR21_STDC		        
		--END
		';

		PRINT @SQL;
		PRINT @SQL2;
		--EXEC (@SQL + @SQL2);
	END TRY

	BEGIN CATCH
		PRINT ERROR_MESSAGE()
		RETURN
	END CATCH
END
GO
