USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsSP20Results]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsSP20Results](
	@StartDate DATETIME
	, @TargetName NVARCHAR(100)
	, @FieldName NVARCHAR(100)
	, @RulId NVARCHAR(100)
	, @RulDescription NVARCHAR(MAX)
	, @InsQuery NVARCHAR(MAX)
	, @TargetDBName NVARCHAR(1000)
)
AS
BEGIN
	DECLARE @SQL NVARCHAR(MAX);
	
	SET @SQL = 'INSERT INTO ' + @TargetDBName + '.dbo.SP20QueryDurations 
	SELECT CAST((''' + CAST(@Startdate AS NVARCHAR(300)) + ''') AS DATETIME)
		, GETDATE()
		, ''' + @TargetName + '''
		, ''' + @FieldName + '''
		, ''' + CAST(@RulId AS NVARCHAR(100)) + '''
		, ''' + @RulDescription + '''
		, CAST(DATEDIFF(SECOND, ''' + CONVERT(NVARCHAR,@Startdate,113)  + ''',GETDATE()) AS NVARCHAR)
		, ''' + REPLACE(@InsQuery, '''', '''''') + '''';
	EXEC(@SQL);
END
GO
