USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spProcess29BusinessReport_20042020]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--EXEC [spProcess29BusinessReport_20042020] 366
CREATE PROCEDURE [dbo].[spProcess29BusinessReport_20042020]
	@srcID INTEGER = 5,
	@MatNotOnPriceListFlag BIT = 1
AS

DECLARE 

	@srcName NVARCHAR(40),
	@srcSrtCode NVARCHAR(4),
	@srcVendorCode NVARCHAR(10),
	@srcClient NVARCHAR(3),
	@srcSystem NVARCHAR(3),
	@DBNAme NVARCHAR(40),	
	@SAPDB NVARCHAR(40),	
	@SQL NVARCHAR(MAX),
	@SQL2 NVARCHAR(MAX),
	@SQL3 NVARCHAR(MAX)

	SELECT	@srcName = srcName,
			@srcSrtCode = srcSrtCode,
			@srcVendorCode = srcVendorCode,
			@srcClient = srcClient,
			@srcSystem = srcSystem
        FROM cfSource
        WHERE srcid = @srcID
	SET @DBName =  @srcSrtCode + @srcVendorCode + '_' + @srcName + '_' + CAST(@srcID AS NVARCHAR)
	SELECT @SAPDB = trdDatabase FROM dbo.cfTargetData WHERE trdSystem = @srcSystem AND trdClient = @srcClient
	-- Temporary code added to avoid the issue with KONP_NEW table 
	--SELECT @SAPDB =  case when @SAPDB = 'SAP_EP1_RT' then 'DGDB_PL_EPN_300'
	--						else  @SAPDB
	--				END --trdDatabase FROM dbo.cfTargetData WHERE trdSystem = @srcSystem AND trdClient = @srcClient


/* Summary Report*/
SET @SQL = '

		SELECT ''' + @srcName + ''' as PriceList,''' + @srcVendorCode + ''' AS MatGroup,  ''New Materials'' AS ChangeType,COUNT(*) as Count		
			FROM ' + @DBNAme + '..ttMARC 
			INNER JOIN ' + @DBNAme + '..ttmara ON ' + @DBNAme + '..ttMARA.MATNR = ' + @DBNAme + '..ttMARC.MATNR
			INNER JOIN dgdb..TableFieldSetRow ON ttMARA.zProdTypeCode = tsrVar2
			WHERE ttMarc.zactive = 1

		UNION ALL '
	IF @MatNotOnPriceListFlag = 1
		BEGIN  
			SET @SQL = @SQL + '		
					SELECT ''' + @srcName + ''' as PriceList,''' + @srcVendorCode + ''' AS MatGroup,  ''Materials Not On Pricelist'' AS ChangeType,COUNT(*) as Count
						FROM ' + @SAPDB + '..MARC 
							INNER JOIN ' + @SAPDB + '..MARA ON MARA.MATNR = MARC.MATNR
							INNER JOIN ' + @SAPDB + '..MAKT ON MARA.MATNR = MAKT.MATNR
							INNER JOIN ' + @SAPDB + '..MATERIALID ON MARA.MATNR = MATERIALID.MATNR_INT
							INNER JOIN ' + @SAPDB + '..T001W ON T001W.WERKS = MARC.WERKS
							INNER JOIN ' + @SAPDB + '..MVKE ON MVKE.VKORG = T001W.VKORG AND MVKE.MATNR = MARC.MATNR
						LEFT OUTER JOIN ' + @DBNAme + '..ttMARC ON ttmarc.MATNR = MATNR_EXT AND ttMARC.WERKS = MARC.WERKS 
						WHERE MARC.WERKS + MARA.MATKL IN (SELECT DISTINCT WERKS + zMATKL FROM ' + @DBNAme + '..ttMARC) AND ttMARC.MATNR IS NULL 
							AND MARC.MMSTA = '''' AND MVKE.VMSTA = ''''
							--AND MARC.MMSTA <> ''Z5''

					UNION ALL ' 
		END
  SET @SQL = @SQL + '		
		SELECT ''' + @srcName + ''' as PriceList,''' + @srcVendorCode + ''' AS MatGroup,  ''Materials On Pricelist but Z4/Z5'' AS ChangeType,COUNT(*) as Count
			FROM ' + @SAPDB + '..MARC 
				INNER JOIN ' + @SAPDB + '..MARA ON MARA.MATNR = MARC.MATNR
				INNER JOIN ' + @SAPDB + '..MAKT ON MARA.MATNR = MAKT.MATNR
				INNER JOIN ' + @SAPDB + '..MATERIALID ON MARA.MATNR = MATERIALID.MATNR_INT
				INNER JOIN ' + @SAPDB + '..T001W ON T001W.WERKS = MARC.WERKS
				INNER JOIN ' + @SAPDB + '..MVKE ON MVKE.VKORG = T001W.VKORG AND MVKE.MATNR = MARC.MATNR
				INNER JOIN ' + @DBNAme + '..ttMARC ON ttmarc.MATNR = MATNR_EXT AND ttMARC.WERKS = MARC.WERKS 
			WHERE MARC.MMSTA IN (''Z5'',''Z4'') OR MVKE.VMSTA IN (''Z5'',''Z4'')

		UNION ALL
		SELECT ''' + @srcName + ''' as PriceList,''' + @srcVendorCode + ''' AS MatGroup,  ''Item type Changes'' AS ChangeType,COUNT(*) as Count		
		FROM ' + @DBNAme + '..ttMVKE 
		INNER JOIN ' + @DBNAme + '..ttmara ON ttMARA.MATNR = ttMVKE.MATNR
		INNER JOIN dgdb..TableFieldSetRow ON ttMARA.zProdTypeCode = tsrVar2
		INNER JOIN ' + @DBNAme + '..ttMMChanges ON ttMMChanges.zID = ttMVKE.zID
		WHERE TableName = ''MVKE'' AND FieldName = ''MTPOS''

		UNION all
		SELECT ''' + @srcName + ''' as PriceList,''' + @srcVendorCode + ''' AS MatGroup,  ''Product Hierarchy Changes'' AS ChangeType,COUNT(*) as Count		
		FROM ' + @DBNAme + '..ttMVKE 
		INNER JOIN ' + @DBNAme + '..ttmara ON ttMARA.MATNR = ttMVKE.MATNR
		INNER JOIN dgdb..TableFieldSetRow ON ttMARA.zProdTypeCode = tsrVar2
		INNER JOIN ' + @DBNAme + '..ttMMChanges ON ttMMChanges.zID = ttMVKE.zID
		WHERE TableName = ''MVKE'' AND FieldName = ''PRODH''

		UNION ALL
		SELECT ''' + @srcName + ''' as PriceList,''' + @srcVendorCode + ''' AS MatGroup,  ''Price Changes'' AS ChangeType,COUNT(*) as Count		
		FROM ' + @DBNAme + '..ttEINE 
		INNER JOIN ' + @DBNAme + '..ttmara ON ttMARA.MATNR = ttEINE.zMATNR
		INNER JOIN dgdb..TableFieldSetRow ON ttMARA.zProdTypeCode = tsrVar2
		INNER JOIN ' + @DBNAme + '..ttMMChanges ON ttMMChanges.zID = ttEINE.zID
		WHERE TableName = ''EINE'' AND FieldName = ''EFFPR''

		UNION ALL
		SELECT ''' + @srcName + ''' as PriceList,''' + @srcVendorCode + ''' AS MatGroup,  ''Serial Number Profile Changes'' AS ChangeType,COUNT(*) as Count		
		FROM ' + @DBNAme + '..ttMARC 
		INNER JOIN ' + @DBNAme + '..ttmara ON ttMARA.MATNR = ttMARC.MATNR
		INNER JOIN dgdb..TableFieldSetRow ON ttMARA.zProdTypeCode = tsrVar2
		INNER JOIN ' + @DBNAme + '..ttMMChanges ON ttMMChanges.zID = ttMARC.zID
		WHERE TableName = ''MARC'' AND FieldName = ''SERNP''
		'
		set @SQL = @SQL +  'UNION ALL SELECT ''' + @srcName + ''' as PriceList,''' + @srcVendorCode + ''' AS MatGroup,  ''Freight Changes'' AS ChangeType,COUNT(*) as Count	
		FROM ' + @DBNAme + '..ttEINE
		INNER JOIN ' + @DBNAme + '..ttmara ON ttMARA.MATNR = ttEINE.zMATNR
		INNER JOIN ' + @SAPDB + '..MATERIALID ON ttMARA.MATNR = MATERIALID.MATNR_EXT
		INNER JOIN dgdb..TableFieldSetRow ON ttMARA.zProdTypeCode = tsrVar2
		INNER JOIN ' + @SAPDB + '..KONP_NEW ON  KONP_new.WERKS = ttEINE.WERKS AND KONP_new.MATNR = MATERIALID.MATNR_INT AND LIFNR = zLIFNR
		WHERE zFreight <> (FRA1 * 100)


		
		UNION ALL
		SELECT ''' + @srcName + ''' as PriceList,''' + @srcVendorCode + ''' AS MatGroup,  ''ListPrice Changes'' AS ChangeType,COUNT(*) as Count	
		FROM ' + @DBNAme + '..ttEINE
		INNER JOIN ' + @DBNAme + '..ttmara ON ttMARA.MATNR = ttEINE.zMATNR
		INNER JOIN ' + @SAPDB + '..MATERIALID ON ttMARA.MATNR = MATERIALID.MATNR_EXT
		INNER JOIN dgdb..TableFieldSetRow ON ttMARA.zProdTypeCode = tsrVar2
		INNER JOIN ' + @SAPDB + '..KONP_NEW ON  KONP_new.WERKS = ttEINE.WERKS AND KONP_new.MATNR = MATERIALID.MATNR_INT AND LIFNR = zLIFNR
		WHERE zListPrice <> PB00
		
		UNION ALL
		SELECT ''' + @srcName + ''' as PriceList,''' + @srcVendorCode + ''' AS MatGroup,  ''BuyPrice Changes'' AS ChangeType,COUNT(*) as Count
		FROM ' + @DBNAme + '..ttEINE
		INNER JOIN ' + @DBNAme + '..ttmara ON ttMARA.MATNR = ttEINE.zMATNR
		INNER JOIN ' + @SAPDB + '..MATERIALID ON ttMARA.MATNR = MATERIALID.MATNR_EXT
		INNER JOIN dgdb..TableFieldSetRow ON ttMARA.zProdTypeCode = tsrVar2
		INNER JOIN ' + @SAPDB + '..KONP_NEW ON  KONP_new.WERKS = ttEINE.WERKS AND KONP_new.MATNR = MATERIALID.MATNR_INT AND LIFNR = zLIFNR
		WHERE NETPR <> (PB00 +RC00) * (1+ZUPL)'		
		Print @SQL	
	EXEC (@SQL)

/* DETAIL Report*/
SET @SQL = '

		SELECT ''' + @srcName + ''' as PriceList,''' + @srcVendorCode + ''' AS MatGroup,  ''New Materials'' AS ChangeType,MFRPN AS VendorMaterial,ttMarc.MATNR AS SAPMaterial,zShortDescription AS Description,tsrDescription AS ProductChangeType, werks AS PlantOrSalesOrg, 
		'''' AS OldValue, '''' AS NewValue
		FROM ' + @DBNAme + '..ttMARC 
		INNER JOIN ' + @DBNAme + '..ttmara ON ' + @DBNAme + '..ttMARA.MATNR = ' + @DBNAme + '..ttMARC.MATNR
		INNER JOIN dgdb..TableFieldSetRow ON ttMARA.zProdTypeCode = tsrVar2
		WHERE ttMarc.zactive = 1

		UNION ALL '
	IF @MatNotOnPriceListFlag = 1
		BEGIN  
			SET @SQL = @SQL + '			
				SELECT ''' + @srcName + ''' as PriceList,''' + @srcVendorCode + ''' AS MatGroup,  ''Materials Not On Pricelist'' AS ChangeType,MFRPN AS VendorMaterial,MATNR_EXT As SAPMaterial, MAKT.MAKTX AS Description, '''' AS ProductChangeType, MARC.WERKS AS PlantOrSalesOrg,
				MARC.MMSTA AS OldValue,'''' AS NewValue  
					FROM ' + @SAPDB + '..MARC 
						INNER JOIN ' + @SAPDB + '..MARA ON MARA.MATNR = MARC.MATNR
						INNER JOIN ' + @SAPDB + '..MAKT ON MARA.MATNR = MAKT.MATNR
						INNER JOIN ' + @SAPDB + '..MATERIALID ON MARA.MATNR = MATERIALID.MATNR_INT
						INNER JOIN ' + @SAPDB + '..T001W ON T001W.WERKS = MARC.WERKS
						INNER JOIN ' + @SAPDB + '..MVKE ON MVKE.VKORG = T001W.VKORG AND MVKE.MATNR = MARC.MATNR
					LEFT OUTER JOIN ' + @DBNAme + '..ttMARC ON ttmarc.MATNR = MATNR_EXT AND ttMARC.WERKS = MARC.WERKS 
					WHERE MARC.WERKS + MARA.MATKL IN (SELECT DISTINCT WERKS + zMATKL FROM ' + @DBNAme + '..ttMARC) AND ttMARC.MATNR IS NULL 
						AND MARC.MMSTA = '''' AND MVKE.VMSTA = ''''
						--AND MARC.MMSTA <> ''Z5''

				UNION ALL'
		END
	SET @SQL = @SQL  + '
		SELECT ''' + @srcName + ''' as PriceList,''' + @srcVendorCode + ''' AS MatGroup,  ''Materials On Pricelist but Z4/Z5'' AS ChangeType,MFRPN AS VendorMaterial,MATNR_EXT As SAPMaterial, MAKT.MAKTX AS Description, '''' AS ProductChangeType, MARC.WERKS AS PlantOrSalesOrg,
		MARC.MMSTA AS OldValue,'''' AS NewValue  
			FROM ' + @SAPDB + '..MARC 
				INNER JOIN ' + @SAPDB + '..MARA ON MARA.MATNR = MARC.MATNR
				INNER JOIN ' + @SAPDB + '..MAKT ON MARA.MATNR = MAKT.MATNR
				INNER JOIN ' + @SAPDB + '..MATERIALID ON MARA.MATNR = MATERIALID.MATNR_INT
				INNER JOIN ' + @SAPDB + '..T001W ON T001W.WERKS = MARC.WERKS
				INNER JOIN ' + @SAPDB + '..MVKE ON MVKE.VKORG = T001W.VKORG AND MVKE.MATNR = MARC.MATNR
				INNER JOIN ' + @DBNAme + '..ttMARC ON ttmarc.MATNR = MATNR_EXT AND ttMARC.WERKS = MARC.WERKS 
			WHERE MARC.MMSTA IN (''Z5'',''Z4'') OR MVKE.VMSTA IN (''Z5'',''Z4'')

		UNION ALL
		SELECT ''' + @srcName + ''' as PriceList,''' + @srcVendorCode + ''' AS MatGroup,  ''Item type Changes'' AS ChangeType,MFRPN AS VendorMaterial,ttMVKE.MATNR AS SAPMaterial,zShortDescription AS Description,tsrDescription AS ProductChangeType, VKORG AS PlantOrSalesOrg, 
		OldValue, NewValue
		FROM ' + @DBNAme + '..ttMVKE 
		INNER JOIN ' + @DBNAme + '..ttmara ON ttMARA.MATNR = ttMVKE.MATNR
		INNER JOIN dgdb..TableFieldSetRow ON ttMARA.zProdTypeCode = tsrVar2
		INNER JOIN ' + @DBNAme + '..ttMMChanges ON ttMMChanges.zID = ttMVKE.zID
		WHERE TableName = ''MVKE'' AND FieldName = ''MTPOS'''
	PRINT @SQL;

SET @SQL2 = '
		UNION all
		SELECT ''' + @srcName + ''' as PriceList,''' + @srcVendorCode + ''' AS MatGroup,  ''Product Hierarchy Changes'' AS ChangeType,MFRPN AS VendorMaterial,ttMVKE.MATNR AS SAPMaterial,zShortDescription AS Description,tsrDescription AS ProductChangeType, VKORG AS PlantOrSalesOrg, 
		OldValue + '' | '' + A.VTEXT AS Oldvalue, NewValue + '' | '' + B.VTEXT AS NewValue
		FROM ' + @DBNAme + '..ttMVKE
		INNER JOIN ' + @DBNAme + '..ttmara ON ttMARA.MATNR = ttMVKE.MATNR		
		INNER JOIN dgdb..TableFieldSetRow ON ttMARA.zProdTypeCode = tsrVar2
		INNER JOIN ' + @DBNAme + '..ttMMChanges ON ttMMChanges.zID = ttMVKE.zID
		LEFT OUTER JOIN ' + @SAPDB + '..T179T A ON ttMMChanges.OldValue = A.PRODH
		LEFT OUTER JOIN ' + @DBNAme + '..ttT179T B ON ttMMChanges.NewValue = B.PRODH
		WHERE TableName = ''MVKE'' AND FieldName = ''PRODH''

	
		UNION ALL
		SELECT ''' + @srcName + ''' as PriceList,''' + @srcVendorCode + ''' AS MatGroup,  ''Price Changes'' AS ChangeType,MFRPN AS VendorMaterial,ttMARA.MATNR AS SAPMaterial,zShortDescription AS Description,tsrDescription AS ProductChangeType, zWERKS AS PlantOrSalesOrg, 
		OldValue, NewValue
		FROM ' + @DBNAme + '..ttEINE
		INNER JOIN ' + @DBNAme + '..ttmara ON ttMARA.MATNR = ttEINE.zMATNR
		INNER JOIN dgdb..TableFieldSetRow ON ttMARA.zProdTypeCode = tsrVar2
		INNER JOIN ' + @DBNAme + '..ttMMChanges ON ttMMChanges.zID = ttEINE.zID
		WHERE TableName = ''EINE'' AND FieldName = ''EFFPR''
		
		UNION ALL
		SELECT ''' + @srcName + ''' as PriceList,''' + @srcVendorCode + ''' AS MatGroup,  ''Serial Number Profile Changes'' AS ChangeType,MFRPN AS VendorMaterial,ttMarc.MATNR AS SAPMaterial,zShortDescription AS Description,tsrDescription AS ProductChangeType, werks AS PlantOrSalesOrg, 
		OldValue, NewValue
		FROM ' + @DBNAme + '..ttMARC 
		INNER JOIN ' + @DBNAme + '..ttmara ON ttMARA.MATNR = ttMARC.MATNR
		INNER JOIN dgdb..TableFieldSetRow ON ttMARA.zProdTypeCode = tsrVar2
		INNER JOIN ' + @DBNAme + '..ttMMChanges ON ttMMChanges.zID = ttMARC.zID
		WHERE TableName = ''MARC'' AND FieldName = ''SERNP'''

		PRINT @SQL2;

SET @SQL3 = 'UNION ALL
		SELECT ''' + @srcName + ''' as PriceList,''' + @srcVendorCode + ''' AS MatGroup,  ''Freight Changes'' AS ChangeType,MFRPN AS VendorMaterial,ttMARA.MATNR AS SAPMaterial,zShortDescription AS Description,tsrDescription AS ProductChangeType, zWERKS AS PlantOrSalesOrg, 
		convert(varchar,(FRA1 * 100))  as OldValue, convert(varchar,zFreight) as  NewValue
		FROM ' + @DBNAme + '..ttEINE
		INNER JOIN ' + @DBNAme + '..ttmara ON ttMARA.MATNR = ttEINE.zMATNR
		INNER JOIN ' + @SAPDB + '..MATERIALID ON ttMARA.MATNR = MATERIALID.MATNR_EXT
		INNER JOIN dgdb..TableFieldSetRow ON ttMARA.zProdTypeCode = tsrVar2
		INNER JOIN ' + @SAPDB + '..KONP_NEW ON  KONP_new.WERKS = ttEINE.WERKS AND KONP_new.MATNR = MATERIALID.MATNR_INT AND LIFNR = zLIFNR
		WHERE zFreight <> (FRA1 * 100)


		
		UNION ALL
		SELECT ''' + @srcName + ''' as PriceList,''' + @srcVendorCode + ''' AS MatGroup,  ''ListPrice Changes'' AS ChangeType,MFRPN AS VendorMaterial,ttMARA.MATNR AS SAPMaterial,zShortDescription AS Description,tsrDescription AS ProductChangeType, zWERKS AS PlantOrSalesOrg, 
		convert(varchar,PB00)   as OldValue, convert(varchar,zListPrice) as  NewValue
		FROM ' + @DBNAme + '..ttEINE
		INNER JOIN ' + @DBNAme + '..ttmara ON ttMARA.MATNR = ttEINE.zMATNR
		INNER JOIN ' + @SAPDB + '..MATERIALID ON ttMARA.MATNR = MATERIALID.MATNR_EXT
		INNER JOIN dgdb..TableFieldSetRow ON ttMARA.zProdTypeCode = tsrVar2
		INNER JOIN ' + @SAPDB + '..KONP_NEW ON  KONP_new.WERKS = ttEINE.WERKS AND KONP_new.MATNR = MATERIALID.MATNR_INT AND LIFNR = zLIFNR
		WHERE zListPrice <> PB00
		
		UNION ALL
		SELECT ''' + @srcName + ''' as PriceList,''' + @srcVendorCode + ''' AS MatGroup,  ''Buy Price Changes'' AS ChangeType,MFRPN AS VendorMaterial,ttMARA.MATNR AS SAPMaterial,zShortDescription AS Description,tsrDescription AS ProductChangeType, zWERKS AS PlantOrSalesOrg, 
		convert(varchar,(PB00 +RC00) * (1+ZUPL))  as OldValue, convert(varchar,NETPR) as  NewValue
		FROM ' + @DBNAme + '..ttEINE
		INNER JOIN ' + @DBNAme + '..ttmara ON ttMARA.MATNR = ttEINE.zMATNR
		INNER JOIN ' + @SAPDB + '..MATERIALID ON ttMARA.MATNR = MATERIALID.MATNR_EXT
		INNER JOIN dgdb..TableFieldSetRow ON ttMARA.zProdTypeCode = tsrVar2
		INNER JOIN ' + @SAPDB + '..KONP_NEW ON  KONP_new.WERKS = ttEINE.WERKS AND KONP_new.MATNR = MATERIALID.MATNR_INT AND LIFNR = zLIFNR
		WHERE NETPR <> (PB00 +RC00) * (1+ZUPL)'

		PRINT @SQL3;
		
	EXEC (@SQL+@SQL2+ @SQL3)
	
GO
