USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spCheckBatchMDM_MM]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCheckBatchMDM_MM] 


AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

begin
	DECLARE 
		@SQL					NVARCHAR(4000)	= '',
		@Source					NVARCHAR(80)	= 'DGDB_PL_EPN_300.',
		@tblPrefix				NVARCHAR(40)	= '',	
		@SAPdb					NVARCHAR(40)	=  'DGDB_PL_EPN_300.',
		@BatID					INTEGER,
		@rulFlcCode				NVARCHAR(40),
		@FieldName				NVARCHAR(80),
		@FieldDescription		NVARCHAR(255),
		@TableName				NVARCHAR(80),
		@ErrorMessage1			NVARCHAR(4000),
		@ErrorMessage2			NVARCHAR(4000),
		@SQLWrong				NVARCHAR(4000),
		@ValueShould				NVARCHAR(4000),
		@tblPK					NVARCHAR(400),
		@CheckTable				NVARCHAR(40),
		@CheckTableName			NVARCHAR(40),
		@chvVariant				SMALLINT,
		@Count					INTEGER


	
	IF OBJECT_ID('tempdb..#Rules') IS NOT NULL BEGIN DROP TABLE #Rules END				
	IF OBJECT_ID('tempdb..#Batch') IS NOT NULL BEGIN DROP TABLE #batch END				
	IF OBJECT_ID('tempdb..##spCheckBatchMDM_MM') IS NOT NULL BEGIN DROP TABLE ##spCheckBatchMDM_MM END				
	
	
	CREATE TABLE #Batch (BatID INTEGER, Comment NVARCHAR(255))
	--Select * from dgdb..batchName
	INSERT INTO #Batch VALUES (5,  'MDM MM Specials')
	INSERT INTO #Batch VALUES (21, 'MARA')	
	INSERT INTO #Batch VALUES (22, 'MARC')
	INSERT INTO #Batch VALUES (24, 'MBEW')
	INSERT INTO #Batch VALUES (25, 'MVKE')
	INSERT INTO #Batch VALUES (28, 'MARD')
	INSERT INTO #Batch VALUES (29, 'MLGN')
	INSERT INTO #Batch VALUES (31, 'EINA')
	INSERT INTO #Batch VALUES (32, 'EINE')
	INSERT INTO #Batch VALUES (37, 'EORD')

    CREATE TABLE ##spCheckBatchMDM_MM
        ( ID INTEGER IDENTITY(1,1) NOT NULL
		, TableName NVARCHAR(80)
        , FieldName NVARCHAR(80)
        , FieldDescription NVARCHAR(255)
		, Type NVARCHAR(40)
        , ErrorMessage1 NVARCHAR(255)
        , ErrorMessage2 NVARCHAR(255)
		, SQLWrong NVARCHAR(4000)
        , ValueWrong NVARCHAR(255)
        , ValueShould NVARCHAR(255)
        , PK1 NVARCHAR(255)
        , PK2 NVARCHAR(255)
        , PK3 NVARCHAR(255)
        , PK4 NVARCHAR(255)
        , Created DATETIME DEFAULT SYSDATETIME() NOT NULL
        , CreatedBy NVARCHAR(20) DEFAULT SYSTEM_USER NOT NULL );
	ALTER TABLE ##spCheckBatchMDM_MM ADD PRIMARY KEY(ID)

    SELECT 0 AS done,*
        INTO #Rules
		FROM dgdb.dbo.vRepTableFieldRulesBatch
        WHERE batBanID IN (SELECT batid FROM #Batch)
		AND rulRutCode = 'GOV'
		--AND fldName = 'MWSKZ'
        ORDER BY tblTable
          , tbfSeq;

	UPDATE #Rules 
		SET rulSQLWrong = REPLACE(REPLACE(REPLACE(rulSQLWrong,'{Source}',@Source),'{tblPrefix}',@tblPrefix),'{SAPDB}',@SAPdb),
			rulSQLShould = LTRIM(REPLACE(REPLACE(REPLACE(rulSQLShould,'{Source}',@Source),'{tblPrefix}',@tblPrefix),'{SAPDB}',@SAPdb)),
			tblPK = REPLACE(REPLACE(REPLACE(tblPK,'{Source}',@Source),'{tblPrefix}',@tblPrefix),'{SAPDB}',@SAPdb)

	WHILE (SELECT TOP 1 1 FROM #Rules WHERE done = 0 ) = 1
		BEGIN
			SELECT TOP 1 
				@batid					= batID,
				@TableName				= tblTable,
				@FieldName				= fldName,
				@FieldDescription		= fldShortDescription,
				@ErrorMessage1			= rulName,
				@ErrorMessage2			= rulErrorMessage,
				@ValueShould				= ISNULL(rulValueShould,''''''),
				@SQLWrong				= ISNULL(rulSQLWrong,''),
				@rulFlcCode				= rulFlcCode,
				@tblPK					= tblPK,
				@CheckTable				= fldChtCode,
				@chvVariant				= tbfchvVariant
				 FROM #Rules WHERE done = 0 

				PRINT @TableName + '-' + @FieldName + ' - ' + @ErrorMessage1
				
				
				SET @ValueShould = ''--LEFT(@ValueShould,CHARINDEX('FROM', @ValueShould))

				/*Create Primary Key for Table*/
				SELECT @count = COUNT(1) FROM dgdb.dbo.fnSplitStringToTable(@tblPK,',')
				SELECT @tblPK =
					CASE @Count
						WHEN 1 THEN @tblPK + ','''','''','''''
						WHEN 2 THEN @tblPK + ','''','''''
						WHEN 3 THEN @tblPK + ','''''
						WHEN 4 THEN @tblPK
					END				
				
				/*execute rules*/				
				IF @SQLwrong <> '' AND @rulFlcCode <> 'STP' ---STP = Stored proc
					BEGIN
						IF LEN(@ValueShould) = 0 BEGIN SET @ValueShould = '''''' END						
						SET @SQL = 'USE ' + REPLACE(@Source,'.','') + '
									INSERT INTO ##spCheckBatchMDM_MM (TableName, FieldName, FieldDescription, Type,ErrorMessage1, ErrorMessage2, SQLWrong,ValueWrong,ValueShould,PK1,PK2,PK3,PK4)         
										SELECT ''' + @TableName + ''', ''' + @FieldName + ''',''' + @FieldDescription + ''', '' Rule '', ''' + @ErrorMessage1 + ''',''' + @ErrorMessage2 + ''', ''' 
											+ REPLACE(@SQLWrong,'''','"') + ''', ' + @FieldName +  ', ' + @ValueShould + ', ' + @tblPK

						IF LEFT(LTRIM(@SQLWrong),4) <> 'FROM'
							BEGIN
								SET @SQL = @SQL + ' FROM ' + @TableName + ' WHERE ' +  CASE WHEN  CHARINDEX(@FieldName,@SQLwrong) > 0 THEN @SQLWrong ELSE @FieldName + ' ' + @SQLWrong END
							END
						ELSE
							BEGIN
								SET @SQL = @SQL + @SQLWrong
							END
						
						
						BEGIN TRY						
							EXEC (@SQL)		
							PRINT @@ROWCOUNT
						END TRY
                        
						BEGIN CATCH
							PRINT 'ERROR ' + @SQL
							SET @SQL = 'USE ' + REPLACE(@Source,'.','') + '
							INSERT INTO ##spCheckBatchMDM_MM (TableName, FieldName, FieldDescription, Type,ErrorMessage1, ErrorMessage2 )   
								SELECT ''' + @TableName + ''', ''' + @FieldName + ''',''' + @FieldDescription + ''', ''' + @SQL +  ''', ''' + @ErrorMessage1 + ''',''' + ERROR_MESSAGE()
							EXEC (@SQL) 
						END CATCH

					END

				/* execute checktable check*/
				IF @CheckTable <> '00000'
					BEGIN
						SELECT  @CheckTableName = ChtDescription FROM dgdb..CheckTable WHERE chtCode = @CheckTable
						SET @SQL = 'USE ' + REPLACE(@Source,'.','') + '
									INSERT INTO ##spCheckBatchMDM_MM (TableName, FieldName, FieldDescription, Type,ErrorMessage1, ErrorMessage2, ValueWrong,PK1,PK2,PK3,PK4)         
										SELECT ''' + @TableName + ''', ''' + @FieldName + ''',''' + @FieldDescription + ''', '' CheckTable '', ''' + @CheckTable + ''',''' + @CheckTableName + ''', ' + @FieldName +  ', ' + @tblPK + '
										 FROM ' + @TableName + ' LEFT OUTER JOIN dgdb..CheckTableValue ON chvValue = ' + ISNULL(@FieldName,'') + ' AND chvVariant = ' + CAST(@chvVariant AS NVARCHAR) + ' 
										 WHERE chvChtCode IS NULL 
										'
						BEGIN TRY
							EXEC (@SQL)
							--IF @@rowcount > 0 BEGIN PRINT CAST(@@ROWCOUNT AS CHAR(12)) + @SQL end
						END TRY
                        
						BEGIN CATCH		
							PRINT 'ERROR'					
							PRINT @SQL
							SET @SQL = 'USE ' + REPLACE(@Source,'.','') + '
							INSERT INTO ##spCheckBatchMDM_MM (TableName, FieldName, FieldDescription, Type,ErrorMessage1, ErrorMessage2 )   
								SELECT ''' + @TableName + ''', ''' + @FieldName + ''',''' + @FieldDescription + ''', ''CheckTable Error '', ''' + @CheckTable + ' ' + @CheckTableName + ''',''' + ERROR_MESSAGE()
							EXEC (@SQL) 
						END CATCH

					END


				UPDATE #rules SET done = 1 WHERE batid = @batid

		End

	IF OBJECT_ID('dgdb_PL_ScheduledJobs..spCheckBatchMDM_MM_Results') IS NOT NULL BEGIN DROP TABLE dgdb_PL_ScheduledJobs..spCheckBatchMDM_MM_Results END				
	SELECT * INTO dgdb_PL_ScheduledJobs..spCheckBatchMDM_MM_Results FROM ##spCheckBatchMDM_MM
	CREATE INDEX IX_FieldName ON dgdb_PL_ScheduledJobs..spCheckBatchMDM_MM_Results(FieldName)

	SELECT * FROM dgdb_PL_ScheduledJobs..vspCheckBatchMDM_MM_Results ORDER BY TableName,tbfSeq,FieldName


END
GO
