USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spProcess28CHeckMaterialChangeHistory]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spProcess28CHeckMaterialChangeHistory]
			@srcID INT = 9,
			@MATNR NVARCHAR(40) = 'AS53-T1-96DM-RF'

AS
	BEGIN
		DECLARE 

			@srcName NVARCHAR(40),
			@srcSrtCode NVARCHAR(4),
			@srcVendorCode NVARCHAR(10),
			@srcClient NVARCHAR(3),
			@srcSystem NVARCHAR(3),
			@DBNAme NVARCHAR(40),	
			@SAPDB NVARCHAR(40),	
			@SQL NVARCHAR(4000),
			@SQL2 NVARCHAR(4000)

			SELECT	@srcName = srcName,
					@srcSrtCode = srcSrtCode,
					@srcVendorCode = srcVendorCode,
					@srcClient = srcClient,
					@srcSystem = srcSystem
				FROM cfSource
				WHERE srcid = @srcID
			SET @DBName =  @srcSrtCode + @srcVendorCode + '_' + @srcName + '_' + CAST(@srcID AS NVARCHAR)
			SELECT @SAPDB = trdDatabase FROM dbo.cfTargetData WHERE trdSystem = @srcSystem AND trdClient = @srcClient

			SET @SQL = '

				SELECT TableName, tblShortDescription,FieldName,fldShortDescription,MATNR,OldValue,NewValue,zCreated,zCreatedBy,zSource,dbName FROM DGDB_PL__Log..SourceProcessMMChanges 
					INNER JOIN dgdb..[Table] ON tableName = tblTable INNER JOIN dgdb..[Field] on FieldName= fldName
					WHERE matnr = ''' + @Matnr + ''' AND zSrcID = ' + CAST(@srcID AS NVARCHAR) + '
				union
				SELECT TableName, tblShortDescription,FieldName,fldShortDescription,MATNR,OldValue,NewValue,zCreated,zCreatedBy,zSource,''Current'' AS dbName FROM VPL10000_CiscoCA_9..ttMMChanges
					INNER JOIN dgdb..[Table] ON tableName = tblTable INNER JOIN dgdb..[Field] on FieldName= fldName
					 WHERE matnr = ''' + @Matnr + '''
				ORDER BY FieldName ASC, zCreated ASC'
		
			EXEC (@SQL)
		END
GO
