USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spValidateSAPLoad_TW]    Script Date: 3/9/2026 9:14:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
EXEC [spValidateSAPLoad_TW] 35,'MVKE','E03'
*/

/*
SP Name: spValidateSAPLoad_TW
Description: Compares the count of records of the view in VPL database
			 against the SAP database
*/
CREATE PROCEDURE [dbo].[spValidateSAPLoad_TW] 
	@srcID int = 44,
	@tabName varchar(40) = 'MVKE',
	@SAPSystem varchar(15) = 'E03'
AS	

BEGIN

		SET NOCOUNT ON
		SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED 
--Declare @srcID int = 44
--Declare @tabName varchar(40) = 'MVKE'
--declare @SAPSystem varchar(15) = 'E03'

DECLARE 

		@srcName NVARCHAR(40),
		@srcSrtCode NVARCHAR(4),
		@srcVendorCode NVARCHAR(10),
		@srcTableName NVARCHAR(40),
		@srcClient NVARCHAR(3),
		@srcSystem NVARCHAR(3),
		@DBNAme NVARCHAR(40),
		@SQL varchar(4000) = '',
		@SAPDBName Varchar(40) = ''

SELECT	@srcName = srcName,
			@srcSrtCode = srcSrtCode,
			@srcVendorCode = srcVendorCode,
			@srcTableName  = srcTableName,
			@srcClient = srcClient,
			@srcSystem = srcSystem
        FROM cfSource
        WHERE srcid = @srcID
	SET @DBName =  @srcSrtCode + @srcVendorCode + '_' + @srcName + '_' + CAST(@srcID AS NVARCHAR)
	
	select @DBName
	set @SAPDBName = 'dgdb_pl_' + @SAPSystem + '_300'
	
	if ( @tabName ='MVKE')  
	Begin 
	set @SQL = 'select ''' + @tabName +  ''' as TableName, COUNT(1) as VPLCnt from ' + @DBName + '.dbo.tt'  + @tabName
	Exec (@SQL)
	
	set @SQL = 'select ''' + @tabName +  ''' as TableName, COUNT(1) as SAPCNT from ' + @SAPDBName + '.dbo.'  + @tabName + ' as a inner join '
	 set @SQL = @SQL + @DBName +   '.dbo.tt'  + @tabName  + ' as b on a.matnr = b.matnr and a.vkorg = b.vkorg'            
	 
	 print @SQL
	Exec (@SQL)   
	End
	
	if ( @tabName ='MARC')  
	Begin 
	set @SQL = 'select ''' + @tabName +  ''' as TableName, COUNT(1) as VPLCnt from ' + @DBName + '.dbo.tt'  + @tabName
	Exec (@SQL)
	
	set @SQL = 'select ''' + @tabName +  ''' as TableName, COUNT(1) as SAPCnt from ' + @SAPDBName + '.dbo.'  + @tabName + ' as a inner join '
	 set @SQL = @SQL + @DBName +   '.dbo.tt'  + @tabName  + ' as b on a.matnr = b.matnr and a.werks = b.werks'            
	 
	 --print @SQL
	Exec (@SQL)   
	End
	
	END
GO
