USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[SPDynamicInsertScripts]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC SPDynamicInsertScripts 'BDA_MM_zVPL', 'DV0064', 'zVPL_EPN_20171005_31_18'

CREATE PROCEDURE [dbo].[SPDynamicInsertScripts]
    (
      @Database NVARCHAR(400) ,
      @Server NVARCHAR(100),
      @zVPL NVARCHAR(100)
    )
AS
    BEGIN
    
		DECLARE @SQL NVARCHAR(MAX);

		/*
		===============================================================================================
		MARA Load
		===============================================================================================
		*/
		SET @SQL = 'INSERT  INTO ' + @Server + '.' + @Database + '.[dbo].[utMM_MARA]( MANDT ,
                  MSGFN ,
                  MATNR ,
                  PSTAT ,
                  VPSTA ,
                  MTART ,
                  MBRSH ,
                  MATKL ,
                  MEINS ,
                  BLANZ ,
                  GROES ,
                  BRGEW ,
                  NTGEW ,
                  GEWEI ,
                  VOLUM ,
                  VOLEH ,
                  TRAGR ,
                  SPART ,
                  LAENG ,
                  BREIT ,
                  HOEHE ,
                  PRDHA ,
                  ERGEI ,
                  ERVOL ,
                  FUELG ,
                  STFAK ,
                  MHDRZ ,
                  MHDHB ,
                  MFRPN ,
                  SERLV ,
                  COMPL ,
                  MTPOS_MARA ,
                  SLED_BBD ,
                  QQTIME ,
                  zActive ,
                  zTicketDate ,
                  zTicketNumber ,
                  MATNR_EXTERNAL
                )
                SELECT DISTINCT A.zClient AS MANDT ,
                        ''009'' AS MSFGN ,
                        A.MATNR ,
                        tM.PSTAT ,
                        tM.PSTAT AS VPSTA ,
                        A.MTART ,
                        A.MBRSH ,
                        B.MATKL ,
                        B.MEINS ,
                        NULL AS BLANZ ,
                        B.GROES ,
                        B.BRGEW ,
                        B.NTGEW ,
                        B.GEWEI ,
                        B.VOLUM ,
                        CASE WHEN B.VOLEH = ''CM3'' THEN ''CCM'' ELSE B.VOLEH END,
                        B.TRAGR ,
                        B.SPART ,
                        NULL AS LAENG ,
                        NULL AS breit ,
                        NULL AS hoehe ,
                        B.PRDHA ,
                        NULL AS ergei ,
                        NULL AS ervol ,
                        NULL AS fuelg ,
                        NULL stfak ,
                        NULL AS mhdrz ,
                        NULL AS mhdhb ,
                        B.MFRPN ,
                        B.SERLV ,
                        NULL AS compl ,
                        B.MTPOS_MARA ,
                        NULL AS sled_bbd ,
                        NULL AS qqtime ,
                        1 AS zactive ,
                        GETDATE() AS zticketdate ,
                        100 zticketnumber ,
                        A.MATNR AS matnr_external
                FROM    ' + @zVPL + '.dbo.txMARA_BMM00_LSMW_Sel AS A
                        INNER JOIN ' + @zVPL + '.dbo.txMARA_BMMH1_LSMW_Sel AS B ON A.MATNR = B.MATNR
                        INNER JOIN ' + @zVPL + '.dbo.ttMARA AS TM ON A.MATNR = TM.MATNR';
		PRINT @sql;
		EXEC (@SQL);
		
		/*
		=====================
		MARM Load
		=====================
		*/
        SET @SQL = 'INSERT  INTO ' + @Server + '.' + @Database + '.[dbo].[utMM_MARM]
                ( MANDT ,
                  MSGFN ,
                  MATNR ,
                  MEINH ,
                  UMREZ ,
                  UMREN ,
                  VOLUM ,
                  VOLEH ,
                  BRGEW ,
                  GEWEI ,
                  MESUB ,
                  zActive ,
                  zTicketDate ,
                  zTicketNumber
                )
                SELECT DISTINCT  A.zClient AS mandt ,
                        ''009'' AS MSFGN ,
                        A.MATNR AS matnr ,
                        c.MEINH AS MEINH ,
                        c.UMREZ ,
                        c.UMREN ,
                        B.VOLUM ,
                        B.VOLEH ,
                        B.BRGEW ,
                        B.GEWEI ,
                        NULL AS mesub ,
                        1 AS zactive ,
                        GETDATE() AS zticktdate ,
                        100 AS zticketnumber
                FROM    ' + @zVPL + '.dbo.txMARA_BMM00_LSMW_Sel AS a
                INNER JOIN ' + @zVPL + '.dbo.txMARA_BMMH1_LSMW_Sel AS b ON A.MATNR = B.MATNR
                INNER JOIN ' + @zVPL + '.dbo.ttMARA AS tM ON A.MATNR = tM.MATNR
                INNER JOIN ' + @zVPL + '.dbo.txMARM_BMMH6_LSMW_Sel AS c ON A.MATNR = c.MATNR';
		PRINT @SQL;
		EXEC (@SQL);

		/*
		=====================
		MAKT Load
		=====================
		*/
        SET @SQL = 'INSERT  INTO ' + @Server + '.' + @Database + '.[dbo].[utMM_MAKT]
                ( zSource ,
                  MANDT ,
                  MSGFN ,
                  MATNR ,
                  SPRAS ,
                  MAKTX ,
                  MAKTG ,
                  SPRAS_ISO ,
                  zActive ,
                  zTicketDate ,
                  zTicketNumber
                )
                SELECT DISTINCT  1 AS zsource ,
                        A.zClient AS mandt ,
                        ''009'' AS MSFGN ,
                        A.MATNR AS matnr ,
                        ''E'' AS SPRAS ,
                        B.MAKTX ,
                        NULL AS MAKTG ,
                        ''EN'' AS SPRAS_ISO ,
                        1 AS zactive ,
                        GETDATE() AS zticktdate ,
                        100 AS zticketnumber
                FROM    ' + @zVPL + '.dbo.txMARA_BMM00_LSMW_Sel AS a
                        INNER JOIN ' + @zVPL + '.dbo.txMARA_BMMH1_LSMW_Sel AS b ON A.MATNR = B.MATNR
                        INNER JOIN ' + @zVPL + '.dbo.ttMARA AS tM ON A.MATNR = tM.MATNR';
                        
		PRINT @SQL;
		EXEC(@SQL);
		
		/*
		=====================
		STXH Load
		=====================
		*/
        SET @SQL = 'INSERT  INTO ' + @Server + '.' + @Database + '.[dbo].[utMM_STXH]
                ( MANDT ,
                  MATNR ,
                  MSGFN ,
                  TDLINE ,
                  TDOBJECT ,
                  TDOBNAME ,
                  TDID ,
                  TDSPRAS ,
                  zActive ,
                  zTicketDate ,
                  zTicketNumber ,
                  zSource
                )
                SELECT DISTINCT TOP 1
                        A.zClient AS MANDT ,
                        A.MATNR ,
                        ''009'' AS MSGFN ,
                        c.TDLINE ,
                        ''MATERIAL'' AS TDOBJECT ,
                        '''' AS TDOBNAME ,
                        c.TDID ,
                        c.TDSPRAS ,
                        1 AS ZACTIVE ,
                        GETDATE() AS zTicketDate ,
                        100 AS zTicketnumber ,
                        ''1'' AS zSource
                FROM    ' + @zVPL + '.dbo.txMARA_BMM00_LSMW_Sel AS a
                INNER JOIN ' + @zVPL + '.dbo.txMARA_BMMH1_LSMW_Sel AS b ON A.MATNR = B.MATNR
                INNER JOIN ' + @zVPL + '.dbo.txSTXL_BMMH7_LSMW_Sel AS c ON A.MATNR = c.MATNR';
		PRINT @SQL;
		EXEC (@SQL);

		/*
		===============================================================================================
		MARC Load
		===============================================================================================
		*/
        SET @SQL = 'INSERT  INTO ' + @Server + '.' + @Database + '.[dbo].utMM_MARC
                ( MANDT ,
                  MSGFN ,
                  MATNR ,
                  WERKS ,
                  PSTAT ,
                  EKGRP ,
                  DISMM ,
                  DISPO ,
                  PLIFZ ,
                  PERKZ ,
                  DISLS ,
                  BESKZ ,
                  FHORI ,
                  WZEIT ,
                  LADGR ,
                  [OBJID] ,
                  MTVFP ,
                  KAUTB ,
                  KORDB ,
                  HERKL ,
                  PRCTR ,
                  FXHOR ,
                  VRMOD ,
                  VINT1 ,
                  VINT2 ,
                  LOSGR ,
                  AWSLS ,
                  SERNP ,
                  LGFSB ,
                  SHZET ,
                  DPLHO ,
                  MINLS ,
                  MAXLS ,
                  COMPL ,
                  zActive ,
                  zTicketDate ,
                  zTicketNumber ,
                  zSource
                )
                SELECT DISTINCT  A.zClient AS MANDT ,
                        ''009'' AS MSGFN ,
                        A.MATNR ,
                        A.WERKS ,
                        C.PSTAT ,
                        B.EKGRP ,
                        B.DISMM ,
                        B.DISPO ,
                        CASE WHEN B.PLIFZ = ''/'' THEN NULL ELSE B.PLIFZ END,
                        B.PERKZ ,
                        B.DISLS ,
                        B.BESKZ ,
                        B.FHORI ,
                        CASE WHEN B.WZEIT = ''/'' THEN NULL ELSE B.WZEIT END,
                        B.LADGR ,
                        0 AS [OBJID] ,
                        B.MTVFP ,
                        B.KAUTB ,
                        B.KORDB ,
                        B.HERKL ,
                        --B.PRCTR ,
                        CASE WHEN B.PRCTR = ''/'' THEN B.PRCTR ELSE RIGHT(''0000000000''+ISNULL(B.PRCTR,''''),10) END,
                        --RIGHT(''0000000000''+ISNULL(B.PRCTR,''''),10),
                        NULL AS FXHOR ,
                        NULL AS VRMOD ,
                        NULL AS VINT1 ,
                        NULL AS VINT2 ,
                        1 AS LOSGR ,
                        NULL AS AWSLS ,
                        B.SERNP ,
                        B.LGFSB ,
                        NULL AS SHZET ,
                        NULL AS DPLHO ,
                        NULL AS MINLS ,
                        NULL AS MAXLS ,
                        NULL AS COMPL ,
                        1 AS ZACTIVE ,
                        GETDATE() AS ZTICKETDATE ,
                        100 AS ZTICKETNUMBER ,
                        1 AS zSource
                FROM    ' + @zVPL + '.dbo.txMARC_BMM00_LSMW_Sel AS a
                INNER JOIN ' + @zVPL + '.dbo.txMARC_BMMH1_LSMW_Sel AS b ON A.MATNR = B.MATNR AND A.WERKS = B.WERKS
                INNER JOIN ' + @zVPL + '.dbo.ttMARC AS C ON A.MATNR = C.MATNR AND A.WERKS = C.WERKS';
		PRINT @SQl;
		EXEC (@SQL);

		/*
		===============================================================================================
		MBEW Load
		===============================================================================================
		*/
        SET @SQL = 'INSERT  INTO ' + @Server + '.' + @Database + '.[dbo].utMM_MBEW
                ( MANDT ,
                  MSGFN ,
                  MATNR ,
                  BWKEY ,
                  BWTAR ,
                  VPRSV ,
                  VERPR ,
                  STPRS ,
                  PEINH ,
                  BKLAS ,
                  VMVPR ,
                  VMVER ,
                  VMSTP ,
                  VMPEI ,
                  VMBKL ,
                  VJVPR ,
                  VJVER ,
                  VJSTP ,
                  VJBKL ,
                  LFGJA ,
                  LFMON ,
                  PSTAT ,
                  zActive ,
                  zTicketDate ,
                  zTicketNumber ,
                  zSource
                )
                SELECT DISTINCT  A.zClient AS MANDT ,
                        ''009'' AS MSGFN ,
                        A.MATNR ,
                        A.BWKEY ,
                        A.BWTAR ,
                        A.VPRSV ,
                        A.VERPR ,
                        A.STPRS ,
                        A.PEINH ,
                        A.BKLAS ,
                        NULL AS VMVPR ,
                        NULL AS VMVER ,
                        NULL AS VMSTP ,
                        NULL AS VMPEI ,
                        A.BKLAS AS VMBKL ,
                        NULL AS VJVPR ,
                        NULL AS VJVER ,
                        NULL AS VJSTP ,
                        A.BKLAS AS VJBKL ,
                        NULL AS LFGJA ,
                        NULL AS LFMON ,
                        A.PSTAT ,
                        1 AS zactive ,
                        GETDATE() AS zTicketDate ,
                        100 AS zTicketNumber ,
                        1 AS zSource
                FROM    ' + @zVPL + '.dbo.ttMBEW AS a
                LEFT OUTER JOIN ' + @zVPL + '.dbo.txMBEW_VERPR_MR21 AS b ON A.MATNR = B.MATNR AND A.BWKEY = B.WERKS';
		PRINT @SQL;
		EXEC (@SQL);

		/*
		===============================================================================================
		MVKE Load
		===============================================================================================
		*/
        SET @SQL = 'INSERT  INTO ' + @Server + '.' + @Database + '.[dbo].utMM_MVKE
                ( MANDT ,
                  MSGFN ,
                  MATNR ,
                  VKORG ,
                  VTWEG ,
                  VERSG ,
                  AUMNG ,
                  MTPOS ,
                  DWERK ,
                  PRODH ,
                  KTGRM ,
                  zActive ,
                  zTicketDate ,
                  zTicketNumber ,
                  zSource
                )
                SELECT DISTINCT  A.zClient AS MANDT ,
                        ''009'' AS MSGFN ,
                        A.MATNR ,
                        A.VKORG ,
                        A.VTWEG ,
                        B.VERSG ,
                        Case when B.AUMNG  = ''/'' then NUll else B.AUMNG end as AUMNG,
                        B.MTPOS ,
                        B.DWERK ,
                        B.PRODH ,
                        B.KTGRM ,
                        1 AS zActive ,
                        GETDATE() AS zTicketDate ,
                        100 AS zTicketNumber ,
                        1 AS zSource
                FROM    ' + @zVPL + '.dbo.txMVKE_BMM00_LSMW_Sel AS a
                INNER JOIN ' + @zVPL + '.dbo.txMVKE_BMMH1_LSMW_Sel AS b ON A.MATNR = B.MATNR AND A.VKORG = B.VKORG
                INNER JOIN ' + @zVPL + '.dbo.ttMVKE AS c ON A.MATNR = c.MATNR AND A.VKORG = c.VKORG';
                
        PRINT @SQL;
        EXEC (@SQL);

		/*
		===============================================================================================
		MLAN Load
		===============================================================================================
		*/
        SET @SQL = 'INSERT  INTO ' + @Server + '.' + @Database + '.[dbo].utMM_MLAN
                ( MANDT ,
                  MSGFN ,
                  MATNR ,
                  ALAND ,
                  zActive ,
                  zTicketDate ,
                  zTicketNumber ,
                  zSource
                )
                SELECT DISTINCT  A.zClient AS MANDT ,
                        ''009'' AS MSGFN ,
                        A.MATNR ,
                        A.ALAND ,
                        1 AS zactive ,
                        GETDATE() AS zTicketDate ,
                        100 AS zTicketNumber ,
                        1 AS zSource
                FROM    ' + @zVPL + '.dbo.txMLAN_BMMH2_LSMW_Sel AS a
                INNER JOIN ' + @zVPL + '.dbo.ttMLAN AS c ON A.MATNR = c.MATNR AND A.VKORG = c.zVKORG';
                
        PRINT @SQl;
        EXEC(@SQL);

		/*
		===============================================================================================
		MARD Load
		===============================================================================================
		*/
        SET @SQL = 'INSERT  INTO ' + @Server + '.' + @Database + '.[dbo].utMM_MARD
                ( MANDT ,
                  MSGFN ,
                  MATNR ,
                  WERKS ,
                  LGORT ,
                  PSTAT ,
                  HERKL ,
                  PRCTL ,
                  zActive ,
                  zTicketDate ,
                  zTicketNumber ,
                  zSource
                )
                SELECT DISTINCT  A.zClient AS MANDT ,
                        ''009'' AS MSGFN ,
                        A.MATNR ,
                        A.WERKS ,
                        A.LGORT ,
                        c.PSTAT ,
                        NULL AS HERKL ,
                        NULL AS PRCTL ,
                        1 AS zactive ,
                        GETDATE() AS zTicketDate ,
                        100 AS zTicketNumber ,
                        1 AS zSource
                FROM    ' + @zVPL + '.dbo.txMARD_BMM00_LSMW_Sel AS a
                INNER JOIN ' + @zVPL + '.dbo.ttMARD AS c ON A.MATNR = c.MATNR AND A.WERKS = c.WERKS';
                
		PRINT @SQl;
		EXEC (@SQL);

		/*
		===============================================================================================
		MLGN Load
		===============================================================================================
		*/
        SET @SQL = 'INSERT  INTO ' + @Server + '.' + @Database + '.[dbo].utMM_MLGN
                ( MANDT ,
                  MSGFN ,
                  MATNR ,
                  LGNUM ,
                  LGBKZ ,
                  LTKZE ,
                  LTKZA ,
                  KZZUL ,
                  zActive ,
                  zTicketDate ,
                  zTicketNumber ,
                  zSource
                )
                SELECT DISTINCT  A.zClient AS MANDT ,
                        ''009'' AS MSGFN ,
                        A.MATNR ,
                        A.LGNUM ,
                        A.LGBKZ ,
                        A.LTKZE ,
                        A.LTKZA ,
                        A.KZZUL ,
                        1 AS zactive ,
                        GETDATE() AS zTicketDate ,
                        100 AS zTicketNumber ,
                        1 AS zSource
                FROM    ' + @zVPL + '.dbo.txMLGN_BMM00_LSMW_Sel AS a
                INNER JOIN ' + @zVPL + '.dbo.ttMLGN AS c ON A.MATNR = c.MATNR AND A.LGNUM = c.LGNUM';
                
        PRINT @SQL;
        EXEC(@SQL);

		/*
		===============================================================================================
		MLGT Load (Currently Not maintaining in MM regular loads)
		===============================================================================================
		*/
        SET @SQL = 'INSERT  INTO ' + @Server + '.' + @Database + '.[dbo].utMM_MLGT
                ( MANDT ,
                  MSGFN ,
                  MATNR ,
                  LGNUM ,
                  LGTYP ,
                  LGPLA ,
                  LPMAX ,
                  LPMIN ,
                  MAMNG ,
                  NSMNG ,
                  RDMNG ,
                  zActive ,
                  zTicketDate ,
                  zTicketNumber ,
                  zSource
                )
                SELECT DISTINCT  A.zClient AS MANDT ,
                        ''009'' AS MSGFN ,
                        A.MATNR ,
                        A.LGNUM ,
                        A.LGTYP ,
                        A.LGPLA ,
                        NULL AS LPMAX ,
                        NULL AS LPMIN ,
                        NULL AS MAMNG ,
                        NULL AS NSMNG ,
                        NULL AS RDMNG ,
                        1 AS zactive ,
                        GETDATE() AS zTicketDate ,
                        100 AS zTicketNumber ,
                        1 AS zSource
                FROM    ' + @zVPL + '.dbo.ttMLGT AS a';

		PRINT @SQl;
		EXEC(@SQL);
END;
GO
