USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[srM_TargetIns_WIP]    Script Date: 3/9/2026 9:14:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jan van Berghem
-- Create date: 23 feb 2014
-- Description:	Creation of M base table, Determination of what views to load for what item
-- =============================================
CREATE PROCEDURE [dbo].[srM_TargetIns_WIP]
	@dbName NVARCHAR(40) = 'VPL10030_PaloAltoASEAN_4',
	@AdhocProcess BIT = 0 -- regular pricelist process or adhoc process from dgdb_PL_Adhoc
	
AS
BEGIN
	
	SET NOCOUNT ON;
	DECLARE 	
	
		@cfProcess AS BIT,		
		@Table AS NVARCHAR(30),	
		@StoredProc AS NVARCHAR(255),		
		@SourceRefresh AS BIT,
		@TaskName AS NVARCHAR(255),
		@RowCount AS INTEGER,
		@SQL NVARCHAR(4000)

		
		IF @AdhocProcess = 0
			BEGIN
				SET @SQL = '
					UPDATE ' + @dbName + '..ttMARA
						SET zActive = 0
						FROM ' + @dbName + '..ttmara LEFT OUTER JOIN ' + @dbName + '..ttmarc ON ttMARC.MATNR = ttMARA.MATNR
						WHERE ttMARC.MATNR IS NULL		
				PRINT CAST('''' AS CHAR(21)) + CAST(''UPDATE ttMARA set zActive = 0 Where no Plant view Record'' AS CHAR(50)) + CAST(@@ROWCOUNT AS NVARCHAR)	
							'
				EXEC (@SQL)
		
				SET @SQL = '
					UPDATE ' + @dbName + '..ttMARA
						SET zActive = 0
						FROM ' + @dbName + '..ttmara LEFT OUTER JOIN ' + @dbName + '..ttmbew ON ttMBEW.MATNR = ttMARA.MATNR
						WHERE ttMBEW.MATNR IS NULL AND MTART <> ''ZSPR''	
				PRINT CAST('''' AS CHAR(21)) + CAST(''UPDATE ttMARA set zActive = 0 Where no Accounting view Record'' AS CHAR(50)) + CAST(@@ROWCOUNT AS NVARCHAR)	
							'
				EXEC (@SQL)

				SET @SQL = '
					UPDATE ' + @dbName + '..ttMARA
						SET zActive = 0
						FROM ' + @dbName + '..ttmara LEFT OUTER JOIN ' + @dbName + '..ttmvke ON ttMvke.MATNR = ttMARA.MATNR
						WHERE ttMVKE.MATNR IS NULL	
				PRINT CAST('''' AS CHAR(21)) + CAST(''UPDATE ttMARA set zActive = 0 Where no Sales view Record'' AS CHAR(50)) + CAST(@@ROWCOUNT AS NVARCHAR)	
							'
					EXEC (@SQL)
		
				--SET @SQL =	'
				--	UPDATE ' + @dbName + '..ttMARC
				--		SET zActive = 0
				--		FROM ' + @dbName + '..ttmarC LEFT OUTER JOIN ' + @dbName + '..ttmvke ON ttMvke.MATNR = ttMARC.MATNR AND LEFT(ttMVKE.VKORG,2) = LEFT(ttMARC.WERKS,2)
				--		WHERE ttMVKE.MATNR IS NULL	
				--PRINT CAST('''' AS CHAR(21)) + CAST(''UPDATE ttMARC set zActive = 0 Where no Sales view Record'' AS CHAR(50)) + CAST(@@ROWCOUNT AS NVARCHAR)	
				--			'
				--	EXEC (@SQL)			

				SET @SQL =	'
					UPDATE ' + @dbName + '..ttMARA 
						SET zChange = 1
						FROM ' + @dbName + '..ttMARA
							INNER JOIN ' + @dbName + '..ttMARM ON ttMARA.MATNR = ttMARM.MATNR
						WHERE ttMARM.zDGError = 0
							AND ( ttMARM.zInSAP = 0
								  OR ttMARM.zChange = 1)
							AND ttmARA.zActive <> 1
				PRINT CAST('''' AS CHAR(21)) + CAST(''UPDATE ttMARA set zChange = 1 Where MARM has change'' AS CHAR(50)) + CAST(@@ROWCOUNT AS NVARCHAR)	
							'
					EXEC (@SQL)
			END
							
	/*INSERT Material DATA*/	
		
	IF @AdhocProcess = 0
		BEGIN
			SET @SQL = '
			INSERT INTO ' + @dbName + '..ttM
					( ZSOURCE ,
					  MATNR ,
					  MBRSH ,
					  MTART ,
					  PSTAT ,
					  XEIA1 ,
					  XEIB1 ,
					  XEID1 ,
					  XEID2 ,
					  XEIE1 ,
					  XEIE2 ,
					  XEIK1 ,	
					  XEIL1 ,
					  XEIP1 ,
					  XEIS1 ,
					  XEIV1 ,
					  XEIV2 ,
					  XEIV3 ,
					  XEIV4 ,
					  XEIF1 ,
					  XEIQ1 ,
					  XEIG1 ,
					  XEIC1 ,
					  XEIA2 ,
					  XEID3 ,
					  XEIVE ,				  
					  zID ,
					  zSrcID,
					  zDGError,
					  zChange,
					  zActive
					)
			SELECT	DISTINCT  ttMARA.zSource , -- ZSOURCE - nvarchar(30)
					  ttMARA.MATNR , -- MATNR - nvarchar(40)
					  ttMARA.MBRSH , -- MBRSH - nvarchar(40)
					  ttMARA.MTART ,  -- MTART - nvarchar(40)
					  ttMARA.PSTAT , 
					  CASE WHEN PATINDEX(''%A%'', PSTAT) > 0 THEN ''X'' ELSE NULL END, -- XEIA1 - nchar(1)		Indicator: include first Work Scheduling view -- A
					  CASE WHEN PATINDEX(''%B%'', PSTAT) > 0 THEN ''X'' ELSE NULL END, -- XEIB1 - nchar(1)		Accounting View -- B
					  CASE WHEN PATINDEX(''%D%'', PSTAT) > 0 THEN ''X'' ELSE NULL END, -- XEID1 - nchar(1)		MRP View -- D
					  CASE WHEN PATINDEX(''%D%'', PSTAT) > 0 THEN ''X'' ELSE NULL END, -- XEID2 - nchar(1)		MRP View 2 -- D
					  CASE WHEN PATINDEX(''%E%'', PSTAT) > 0 THEN ''X'' ELSE NULL END, -- XEIE1 - nchar(1)		Purchasing View --E
					  CASE WHEN PATINDEX(''%E%'', PSTAT) > 0 THEN ''X'' ELSE NULL END, -- XEIE2 - nchar(1)		Purchasing Text -- E
					  CASE WHEN PATINDEX(''%K%'', PSTAT) > 0 THEN ''X'' ELSE NULL END, -- XEIK1 - nchar(1)		BASIC View --K
					  CASE WHEN PATINDEX(''%L%'', PSTAT) > 0 THEN ''X'' ELSE NULL END, -- XEIL1 - nchar(1)		Indicator: consider "Storage" view --L
					  CASE WHEN PATINDEX(''%P%'', PSTAT) > 0 THEN ''X'' ELSE NULL END, -- XEIP1 - nchar(1)		ForeCast View -- P
					  CASE WHEN PATINDEX(''%S%'', PSTAT) > 0 THEN ''X'' ELSE NULL END, -- XEIS1 - nchar(1)		WareHouse View --S
					  CASE WHEN PATINDEX(''%V%'', PSTAT) > 0 THEN ''X'' ELSE NULL END, -- XEIV1 - nchar(1)		Sales Org1 Data --V
					  CASE WHEN PATINDEX(''%V%'', PSTAT) > 0 THEN ''X'' ELSE NULL END, -- XEIV2 - nchar(1)		Sales Org2 Data --V
					  CASE WHEN PATINDEX(''%V%'', PSTAT) > 0 THEN ''X'' ELSE NULL END, -- XEIV3 - nchar(1)		Sales Text --V
					  CASE WHEN PATINDEX(''%V%'', PSTAT) > 0 THEN ''X'' ELSE NULL END, -- XEIV4 - nchar(1)		Sales Plant Data --V
					  CASE WHEN PATINDEX(''%F%'', PSTAT) > 0 THEN ''X'' ELSE NULL END, -- XEIF1 - nchar(1)		Indicator: take Production Resources/Tools view into account --F
					  CASE WHEN PATINDEX(''%Q%'', PSTAT) > 0 THEN ''X'' ELSE NULL END, -- XEIQ1 - nchar(1)		Indicator: consider "quality assurance" view -- Q
					  CASE WHEN PATINDEX(''%G%'', PSTAT) > 0 THEN ''X'' ELSE NULL END, -- XEIG1 - nchar(1)		Indicator: consider "Costing" view -- G
					  CASE WHEN PATINDEX(''%C%'', PSTAT) > 0 THEN ''X'' ELSE NULL END, -- XEIC1 - nchar(1)		Indicator: take Classification view into account --C
					  CASE WHEN PATINDEX(''%A%'', PSTAT) > 0 THEN ''X'' ELSE NULL END, -- XEIA2 - nchar(1)		Indicator: Take "Work Scheduling 2" View into Account --A
					  CASE WHEN PATINDEX(''%D%'', PSTAT) > 0 THEN ''X'' ELSE NULL END, -- XEID3 - nchar(1)		Indicator: Take "MRP 3" view into account --D
					  CASE WHEN PATINDEX(''%V%'', PSTAT) > 0 THEN ''X'' ELSE NULL END, -- XEIVE - nchar(1)		Foreign Trade View				  
					   ROW_NUMBER() OVER (ORDER BY MATNR), 
					   ttMARA.zSrcID,
					   0,
					   0,
					   1
				FROM ' + @dbName + '..ttMARA 
				WHERE ttMARA.zActive = 1 OR ttMARA.zINSAP = 1
				PRINT CAST('''' AS CHAR(21)) + CAST(''INSERT INTO ttM FROM ttMARA'' AS CHAR(50)) + CAST(@@ROWCOUNT AS NVARCHAR)	
				CREATE UNIQUE INDEX PK_ttm	ON ' + @dbName + '.dbo.ttM(MATNR)			
						'
				EXEC (@SQL)
			END
			

END

GO
