USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[Fx_Updates_Region_count_Mail]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Fx_Updates_Region_count_Mail]
AS 
BEGIN
 
	DECLARE @MAIL_BODY VARCHAR(8000), @count NVARCHAR(50) ;
	
	SELECT @count = MAX(ahrID) FROM DGDB_ADHOC_PROD..AdHocRequest --WHERE CAST (ahrValidFrom AS date) = CAST(ahrModifiedDate AS DATE)

	SET  @MAIL_BODY = '<table style="color:black;text-align:left; "><tr>' 
		+ '1.' + @count + ' ' + 'tickets are completed till now through MDM Self Service application.</tr></table></br>';

	/* HEADER */
	SELECT @MAIL_BODY = @MAIL_BODY + '<table  style="color:black;text-align:left; "><tr>2.	Weekly_fx_updates counts for all regions</n></tr></table></br>';
	
	SELECT @MAIL_BODY = @MAIL_BODY + '<table border="1"cellpadding="2" cellspacing="0" style="color:black;text-align:left; "><tr>
	<th>Region</th>
	<th>Counts</th>
	<th>Group_Id</th>
	</tr>';

	/* ROWS */
	SELECT @MAIL_BODY = @MAIL_BODY + '<tr><td>' + Region + '</td><td>' + Counts + '</td><td>' + CAST(Group_Id AS VARCHAR(11)) + '</td></tr>'
	FROM DGDB_PL..FX_UPDATES_COUNTS;

	SET @MAIL_BODY = @MAIL_BODY + '</table></n>';

	EXEC msdb.dbo.sp_send_dbmail
		@profile_name = 'Email job alerts'
		, @recipients = 'vvenkat@techwave.net;supradeep@techwave.net;gowthami.ponnana@techwave.net; sswathi@techwave.net;' 
		, @subject = 'TW_MDM_Weekly_status'
		, @body = @MAIL_BODY
		, @body_format = 'HTML';
END
GO
