USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spSYSExecSourceProc]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spSYSExecSourceProc]

	@SrcID INTEGER ,
	@SusCode NVARCHAR(3) 

AS

	SET NOCOUNT ON 

	DECLARE @SQL NVARCHAR(4000),
	@SupID INT,
	@SUpProcName NVARCHAR(255)



	Select 0 AS Done,* INTO #PipleLine FROM cfSourceProcedures where supSrciD = CAST(@srcID AS NVARCHAR) AND supSusCode = @SusCode AND supActive = 1

	WHILE (SELECT TOP 1 1 FROM #PipleLine WHERE done = 0 ORDER BY supSeq) = 1
		BEGIN
            SELECT TOP 1 @SupID = supID ,
                    @SUpProcName = SupProcName
                FROM #PipleLine
                WHERE done = 0
                ORDER BY supSeq
			

			BEGIN TRY
				SET @SQL = 'EXEC ' + @SUpProcName 
				PRINT @SQL
				EXEC (@SQL)
			END TRY

			BEGIN CATCH
				PRINT @SQL + ' failed :'  + ERROR_MESSAGE()				
			END CATCH


			UPDATE #PipleLine SET DOne = 1 WHERE supID = @SupID
		END


GO
