USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spProcess12FilterValidSalesOrgsPlants_TW_WIP]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

janvb May 2016

procedure to filter the sourceRules based on cfSource Flag  cfFilterCOmpany
will allow only for values listed as active in table cfValidPlantSalesOrgs
is called from SP10

*/
CREATE PROCEDURE [dbo].[spProcess12FilterValidSalesOrgsPlants_TW_WIP]

	@srcID INTEGER = 563
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

BEGIN

	IF OBJECT_ID('tempdb..#RuleFields') IS NOT NULL BEGIN DROP TABLE #RuleFields END
	IF OBJECT_ID('tempdb..#Rules') IS NOT NULL BEGIN DROP TABLE #Rules END

	DECLARE 
			@SQL NVARCHAR(4000),
			@ID INTEGER,
			@update NVARCHAR(4000),
			@FieldName NVARCHAR(255),
			@srgID INTEGER,
			@fldID INTEGER,
			@Supplier NVARCHAR(40)

			SELECT TOP 1 @srgID = ssgSrgID FROM dbo.cfSourceSourceGroup WHERE ssgSrcID = @srcID

			DECLARE @TableSupplier TABLE (Supplier NVARCHAR(40),plant NVARCHAR(40))
	-- 

	SELECT DISTINCT 
		M.srmSrgID	
		,srmFldID
		  ,	srmSourceMap
		  , SUBSTRING(dgdb.dbo.RegExReplace(M.srmSourceMap,'\[|\]',''),2,40) AS FieldName     
		INTO #RuleFields
		FROM dbo.cfSourceMapRules M	
		WHERE srmSrgID = @srgID
			AND srmFldID IN (  920, 924, 925, 926, 1099 );
		--	SELECT * FROM #RuleFields

		SELECT @srcID AS srcID,srrID, T.srmFldID,R.srrFieldName,R.srrUpdate AS Old,R.srrUpdate AS New,S.srcSupplierPlantMapOverride , srrFieldSeq, srrUpdateSeq,0 AS done
			INTO #Rules
			FROM dbo.vSourceRules R
			INNER JOIN dbo.cfSource S ON S.srcID = R.srcID
			INNER JOIN #RuleFields T ON T.FieldName = R.srrFieldName
			WHERE srgID = @srgID
				AND r.srcID = @srcID           
			ORDER BY T.srmFldID DESC, srrFieldSeq, srrUpdateSeq;


		WHILE (SELECT TOP 1 1 FROM #Rules WHERE done = 0 ORDER BY srmFldID DESC, srrFieldSeq, srrUpdateSeq) = 1
	
			BEGIN
				SELECT TOP 1 
					@ID = srrID,
					@fldID = srmFldID,
					@update = REPLACE(Old,'''',''),
					@FieldName = srrFieldName
					 FROM #Rules WHERE done = 0  ORDER BY srmFldID DESC, srrFieldSeq, srrUpdateSeq
					 PRINT @FieldName
							
					
					IF OBJECT_ID('tempdb..#SingleRule') IS NOT NULL BEGIN DROP TABLE #SingleRule END

					SELECT	@ID AS ID,
							@fldID AS fldID,
							@FieldName AS FieldName,
							data,
							LEFT(LTRIM(data),4) AS Plant 	,
							LTRIM(SUBSTRING(data,CHARINDEX('=',data)+1,40)) AS Supplier						
					INTO #SingleRule
					FROM dgdb_PL..fnSplitString(@update,'|') X
					
					
					/*Collect all SupplierNumbers from the SupplierPlantMap*/
					IF @fldID = 1099 --SupplierPlantMap
						BEGIN 
							INSERT INTO @TableSupplier 
								SELECT Supplier,Plant FROM #SingleRule 
						END
					
					IF @fldID <> 926 --Supplier
						BEGIN
							DELETE FROM #SingleRule WHERE plant NOT IN 
								(SELECT VpsValidValue FROM dbo.cfValidPlantSalesOrgs WHERE vpsSrcID = @srcID  AND vpsActive = 1)							
						END

					/*only when there is an override otherwise the suppliernumbers do not need filtering*/
					IF EXISTS ( SELECT TOP 1 1 FROM #Rules WHERE srcSupplierPlantMapOverride =  1)	
						BEGIN			
							IF @fldID = 926 --Supplier
								BEGIN 
									DELETE FROM @TableSupplier WHERE plant NOT IN 
										(SELECT VpsValidValue FROM dbo.cfValidPlantSalesOrgs WHERE vpsSrcID = @srcID  AND vpsActive = 1)

									DELETE FROM #SingleRule WHERE Supplier NOT IN 
										(SELECT Supplier FROM @TableSupplier)
								
								END
						END
					/*update the rule execution*/
					UPDATE T SET new = '''' +
										ISNULL(STUFF((SELECT  '|' + DATA 
											FROM #SingleRule 										
										FOR XML PATH(N'')), 1, 1, N'') ,'') + ''''
									 FROM #Rules T WHERE srrID = @ID 
					
				

				UPDATE #Rules SET done = 1 WHERE srrID = @id
			END
		

			SELECT srrID,New FROM #Rules
			
	END
GO
