USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spProcess16SourceRulesVendorFieldsUsed]    Script Date: 3/9/2026 9:14:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
janvb - march 2017
Displays all fields used and where from VendorPricelist
*/

CREATE PROCEDURE [dbo].[spProcess16SourceRulesVendorFieldsUsed]
	@srcID INTEGER = 16,
	@ShowFieldsOnly BIT = 0
AS

SET NOCOUNT ON

BEGIN

	DECLARE 
		@dbName			NVARCHAR(80),
		@SQL			NVARCHAR(4000)

	SELECT @DBName =  srcSrtCode + srcVendorCode + '_' + srcName + '_' + CAST(@srcID AS NVARCHAR) FROM cfsource WHERE srcID = @SrcID

	SET @SQL = '

	DECLARE 
		@Text			NVARCHAR(4000),
		@COLUMN_NAME	NVARCHAR(400),
		@TABLE_NAME		NVARCHAR(80),
		@rulID			INTEGER,
		@Type			NVARCHAR(20),
		@srgID			INTEGER,
		@FieldUsed		NVARCHAR(80)


	DECLARE @T TABLE (ruleID INT,[Type] NVARCHAR(20),text NVARCHAR(4000),done  BIT,FieldUsed NVARCHAR(80))
	DECLARE @OUTPUT TABLE (ruleID INT,[Type] NVARCHAR(20),FieldName NVARCHAR(80),text NVARCHAR(4000),FieldUsed NVARCHAR(80))

	SELECT TOP 1 @srgID =  ssgSrgID FROM dbo.cfSourceSourceGroup WHERE ssgSrcID = ' + CAST(@srcID AS NVARCHAR) + '
	SELECT TOP 1 @TABLE_NAME =  srcTableName FROM dbo.cfSource WHERE SrcID = ' + CAST(@srcID AS NVARCHAR) + '

	
		SELECT COLUMN_NAME
			  , 0 AS DOne
			INTO #Fields
			FROM ' + @dbName + '.INFORMATION_SCHEMA.COLUMNS
			WHERE TABLE_NAME = @TABLE_NAME

	INSERT INTO @T SELECT DISTINCT srrID,''SourceRule'',srrFieldName,0,''srrFieldName'' FROM dbo.vSourceRules WHERE srgID = @srgID
	INSERT INTO @T SELECT DISTINCT srrID,''SourceRule'',srrUpdate,0,''srrUpdate'' FROM dbo.vSourceRules WHERE srgID =@srgID
	INSERT INTO @T SELECT DISTINCT srrID,''SourceRule'',srrWhere,0,''srrWhere'' FROM dbo.vSourceRules WHERE srgID = @srgID
	INSERT INTO @T SELECT DISTINCT srmID,''SourceMapRule'',srmSourceMap,0,''srmSourceMap'' FROM dbo.cfSourceMapRules WHERE srmSrgID = @srgID


	WHILE (SELECT TOP 1 1 FROM @T WHERE done = 0)= 1
		BEGIN		
			SELECT TOP 1 @Text = text,@RulID = ruleID,@Type = type,@FieldUsed = FieldUsed FROM @T WHERE done = 0		
			WHILE (SELECT TOP 1 1 FROM #Fields WHERE done = 0)= 1
				BEGIN
					SELECT TOP 1 @COLUMN_NAME = COLUMN_NAME FROM #Fields WHERE done = 0				
					IF CHARINDEX(@COLUMN_NAME,@Text) > 0 
						BEGIN 
							INSERT INTO @OutPut
							VALUES(@RulID,@Type,@COLUMN_NAME,@Text,@FieldUsed)
						END
					UPDATE #Fields SET done = 1 WHERE COLUMN_NAME = @COLUMN_NAME
				END		
			UPDATE #Fields SET DOne = 0
			UPDATE @T SET done = 1 WHERE text = @Text
		END
				
		SELECT DISTINCT FieldName AS [FieldsUsed IN ' + @dbName + '] FROM @OUTPUT FieldName
		IF ' + CAST(@ShowFieldsOnly AS NVARCHAR) + ' = 0 BEGIN SELECT ruleID,type,FieldUsed,FieldName,text FROM @OUTPUT ORDER BY Type,FieldName,ruleID END
		'
		EXEC (@SQL)
END
GO
