USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[spSysRefreshTargetDataFXRates]    Script Date: 3/9/2026 9:14:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* Calculate current FX rates via USD*/

CREATE PROCEDURE [dbo].[spSysRefreshTargetDataFXRates]

	@SAPDB NVARCHAR(40) = 'dgdb_PL_EPN_300'

AS

	BEGIN

		SET NOCOUNT ON

		DECLARE 
			@SQL NVARCHAR(4000)			

		SET @SQL = '
				DECLARE @TCURR CHAR(4),
						@FCURR CHAR(4),
						@UKURS DECIMAL(13,5),
						@GDATU NVARCHAR(10)

				DECLARE @TableFxRates TABLE ( CurrFrom CHAR(4),CurrTo CHAR(4),CurrDate NVARCHAR(10),CurrRate DECIMAL(13,5))

				/*GET Current Rate FROM TCURR Table*/
				SELECT DISTINCT TCURR,FCURR, 0 AS DONE INTO #TMP FROM ' + @SAPDB + '..TCURR WHERE FCURR = ''USD'' AND KURST = ''M''
				INSERT INTO #TMP (TCURR,FCURR,DONE) SELECT DISTINCT TCURR,FCURR, 0 AS DONE FROM ' + @SAPDB + '..TCURR WHERE TCURR = ''USD'' AND KURST = ''M'' AND TCURR + FCURR NOT IN (SELECT TCURR+FCURR FROM #TMP)	

				/*LOOP Through All currency combinations against the USD*/
				WHILE (SELECT TOP 1 1 FROM #TMP WHERE done = 0 ORDER BY TCURR,FCURR) = 1
					BEGIN
						SELECT TOP 1 @TCURR = TCURR ,
								@FCURR = FCURR
							FROM #TMP
							WHERE done = 0
							ORDER BY TCURR ,FCURR
						--IF @TCURR = ''USD'' AND @FCURR = ''USD'' BEGIN BREAK END

						SELECT 
							@GDATU = 99999999 - GDATU,
							@UKURS = UKURS
							FROM ' + @SAPDB + '..TCURR 
								WHERE TCURR = @TCURR AND FCURR = @FCURR AND GDATU = (
						SELECT MIN(GDATU) FROM ' + @SAPDB + '..TCURR WHERE 99999999 - GDATU < = CONVERT(NVARCHAR,GETDATE(),112) AND TCURR = @TCURR AND FCURR = @FCURR AND KURST = ''M'')		

						INSERT INTO @TableFxRates
								( CurrFrom ,
								  CurrTo ,
								  CurrDate ,
								  CurrRate
								)
							VALUES
								( @TCURR , -- CurrFrom - char(3)
								  @FCURR , -- CurrTo - char(3)
								  @GDATU , -- CurrDate - nvarchar(10)
								  @UKURS  -- CurrRate - decimal
								)
		
						UPDATE #TMP SET done = 1 WHERE TCURR = @TCURR  AND FCURR = @FCURR 
					END
					UPDATE @TableFxRates SET CurrRate = 1 WHERE CurrFrom=CurrTo
					
					/*Calculate FX rates/Triangulate going through USD*/

					IF OBJECT_ID(''' + @SAPDB + '..CurrentFxRates'') IS NOT NULL BEGIN DROP TABLE ' + @SAPDB + '..CurrentFxRates END				

					SELECT DISTINCT B.CurrTo AS FCURR,A.CurrFrom AS TCURR,CAST(ROUND(B.CurrRate * A.CurrRate,5) AS DECIMAL(13,5)) AS UKURS					
					INTO ' + @SAPDB + '..CurrentFxRates
					FROM @TableFxRates A INNER JOIN @TableFxRates B ON A.CurrTo = B.CurrFrom AND A.CurrTo = ''USD'' AND b.CurrFrom = ''USD'' 
					ORDER BY FCURR,TCURR
					INSERT INTO ' + @SAPDB + '..CurrentFxRates SELECT DISTINCT CurrTo AS FCURR,CurrFrom AS TCURR,CurrRate As UKURS FROM @TableFxRates
					WHERE CurrTo + CurrFROM NOT IN ( SELECT DISTINCT FCURR + TCURR FROM ' + @SAPDB + '..CurrentFxRates) 
					
					/* INSERT ANY CURRENCY STILL MISSING that Cannot be set-up through Triangulation*/
					INSERT INTO ' + @SAPDB + '..CurrentFxRates 
						SELECT DISTINCT FCURR,FCURR AS TCURR, 1 AS UKURS FROM ' + @SAPDB + '..CurrentFxRates 
							WHERE FCURR+FCURR NOT IN (SELECT DISTINCT FCURR+TCURR FROM ' + @SAPDB + '..CurrentFxRates)

					/*Fix EU Curr Issue*/
					INSERT INTO ' + @SAPDB + '..CurrentFxRates 
					SELECT TCURR AS FCURR,FCURR AS TCURR,CAST(1/UKURS AS DECIMAL(13,5)) AS UKURS FROM ' + @SAPDB + '..CurrentFxRates WHERE FCURR = ''EUR'' 
						AND FCURR + TCURR NOT IN (SELECT DISTINCT TCURR  + FCURR FROM ' + @SAPDB + '..CurrentFxRates)
					'
PRINT @SQL
		EXEC (@SQL)
	END	
GO
